WC/properties/version/dtd/component.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<!-- Copyright IBM Corp. This is the DTD For the WebSphere product version data 
files that contain product installation information. -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="component">
        <xsd:annotation>
            <xsd:documentation>
            This is the XSD For the WebSphere Commerce product version data files 
            that contain product installation information
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="name" type ="xsd:string" use="required"/>
            <xsd:attribute name="spec-version" type ="xsd:string" use="required"/>
            <xsd:attribute name="build-version" type ="xsd:string" use="required"/>
            <xsd:attribute name="build-date" type ="xsd:date" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

