WC/xml/tools/common/List.dtd

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2003, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<!ELEMENT action ( parameter?, (scrollcontrol*, controlpanel*, button*, view*, jsFile*, menu*, nlsTitleFormats*, nlsNameFormats*)* ) >

<!ATTLIST action
          resourceBundle          CDATA          #REQUIRED
          formName                CDATA          #IMPLIED
          helpKey                 CDATA          #IMPLIED
          beanClass               CDATA          #IMPLIED
          charOnRight             CDATA          #IMPLIED
          strSize                 CDATA          #IMPLIED
          windowTitle             CDATA          #IMPLIED
          title                   CDATA          #IMPLIED
          buttons                 CDATA          #IMPLIED
          default                 CDATA          #IMPLIED
          hasCancel               CDATA          #IMPLIED
          hasFinish               CDATA          #IMPLIED
          refreshRate             CDATA          #IMPLIED
          scrollcontrol           CDATA          #IMPLIED
>

<!ELEMENT parameter EMPTY>
<!ATTLIST parameter
          listsize                CDATA          #REQUIRED
          startindex              CDATA          #REQUIRED
          pagesize                CDATA          #IMPLIED
          listscope               CDATA          #IMPLIED
          resultsize              CDATA          #IMPLIED
          resultssize             CDATA          #IMPLIED
          endindex                CDATA          #IMPLIED
          orderby                 CDATA          #IMPLIED
          itemName                CDATA          #IMPLIED
          ActionXMLFile           CDATA          #IMPLIED
          XMLFile                 CDATA          #IMPLIED
          context                 CDATA          #IMPLIED
          contextConfigXML        CDATA          #IMPLIED
          view                    CDATA          #IMPLIED
          account                 CDATA          #IMPLIED
          accountId               CDATA          #IMPLIED
          accountNameFilter       CDATA          #IMPLIED
          accounttNameFilter      CDATA          #IMPLIED
          accountSearchName       CDATA          #IMPLIED
          aucrfn                  CDATA          #IMPLIED
          auctType                CDATA          #IMPLIED
          auctiontype             CDATA          #IMPLIED
          calcodeID               CDATA          #IMPLIED
          charOnRight             CDATA          #IMPLIED
          billingAddressId        CDATA          #IMPLIED
          attributeId             CDATA          #IMPLIED
          catalogEntryID          CDATA          #IMPLIED
          categoryCode            CDATA          #IMPLIED
          categoryCodeCaseSensitive CDATA        #IMPLIED
          categoryCodeLike        CDATA          #IMPLIED
          categoryName            CDATA          #IMPLIED
          categoryNameCaseSensitive CDATA        #IMPLIED
          categoryNameLike        CDATA          #IMPLIED
          categoryShortDescription CDATA         #IMPLIED
          checkedProductRefNum    CDATA          #IMPLIED
          city                    CDATA          #IMPLIED
          contractId              CDATA          #IMPLIED
          contractUsage           CDATA          #IMPLIED
          contractSearchName      CDATA          #IMPLIED
          contractNameFilter      CDATA          #IMPLIED
          contractSearchStoreName CDATA          #IMPLIED
          contractSearchStoreNameFilter CDATA    #IMPLIED
          contractSearchShortDesc CDATA          #IMPLIED
          contractSearchShortDescFilter CDATA    #IMPLIED
          customerId              CDATA          #IMPLIED
          dateSelect              CDATA          #IMPLIED
          deliveryStatus          CDATA          #IMPLIED
          displayBillingAddressForOrder CDATA    #IMPLIED
          email                   CDATA          #IMPLIED
          endMsgID                CDATA          #IMPLIED
          firstName               CDATA          #IMPLIED
          firstOrderId            CDATA          #IMPLIED
          formattedExpectedDate   CDATA          #IMPLIED
          fromFind                CDATA          #IMPLIED
          groupBy                 CDATA          #IMPLIED
          hostingMode             CDATA          #IMPLIED
          id                      CDATA          #IMPLIED
          itemrfnbr               CDATA          #IMPLIED
          lastName                CDATA          #IMPLIED
          logonid                 CDATA          #IMPLIED
          memberGroupType         CDATA          #IMPLIED
          methodType              CDATA          #IMPLIED
          name                    CDATA          #IMPLIED
          nameCaseSensitive       CDATA          #IMPLIED
          nameLike                CDATA          #IMPLIED
          numberOfDistinctApprovers CDATA        #IMPLIED
          numberOfHits            CDATA          #IMPLIED
          orderBy                 CDATA          #IMPLIED
          orderId                 CDATA          #IMPLIED
          orderNumber             CDATA          #IMPLIED
          orderType               CDATA          #IMPLIED
          orgId                   CDATA          #IMPLIED
          origOrderBy             CDATA          #IMPLIED
          origOrg                 CDATA          #IMPLIED
          ownerId                 CDATA          #IMPLIED
          parentCategoryID        CDATA          #IMPLIED
          partNumberCaseSensitive CDATA          #IMPLIED
          partNumberLike          CDATA          #IMPLIED
          phone                   CDATA          #IMPLIED
          pickId                  CDATA          #IMPLIED
          piId                    CDATA          #IMPLIED
          pluginName              CDATA          #IMPLIED
          policyId                CDATA          #IMPLIED
          ProductName             CDATA          #IMPLIED
          ProductPartNumber       CDATA          #IMPLIED
          productrfnbr            CDATA          #IMPLIED
          ProductShortDescription CDATA          #IMPLIED
          promoId                 CDATA          #IMPLIED
          raDetailId              CDATA          #IMPLIED
          raId                    CDATA          #IMPLIED
          receiptId               CDATA          #IMPLIED
          refnum                  CDATA          #IMPLIED
          releaseNumber           CDATA          #IMPLIED
          reportMode              CDATA          #IMPLIED
          resourceGroupId         CDATA          #IMPLIED
          returnId                CDATA          #IMPLIED
          rfqId                   CDATA          #IMPLIED
          rmaid                   CDATA          #IMPLIED
          rmaId                   CDATA          #IMPLIED
          roleId                  CDATA          #IMPLIED
          searchAccountId         CDATA          #IMPLIED
          searchApprover          CDATA          #IMPLIED
          searchContractName      CDATA          #IMPLIED
          searchCustomerLogon     CDATA          #IMPLIED
          searchCustomerLogonId   CDATA          #IMPLIED
          searchDay               CDATA          #IMPLIED
          searchFlowType          CDATA          #IMPLIED
          searchId                CDATA          #IMPLIED
          searchItemName          CDATA          #IMPLIED
          searchMaxMatches        CDATA          #IMPLIED
          searchMode              CDATA          #IMPLIED
          searchMonth             CDATA          #IMPLIED
          searchOrderNumber       CDATA          #IMPLIED
          searchOrg               CDATA          #IMPLIED
          searchProductName       CDATA          #IMPLIED
          searchReturnNumber      CDATA          #IMPLIED
          searchReturnStatus      CDATA          #IMPLIED
          searchShortDesc         CDATA          #IMPLIED
          searchSKU               CDATA          #IMPLIED
          searchSKUNumber         CDATA          #IMPLIED
          searchStatus            CDATA          #IMPLIED
          searchSubmitter         CDATA          #IMPLIED
          searchYear              CDATA          #IMPLIED
          secondOrderId           CDATA          #IMPLIED
          selected                CDATA          #IMPLIED
          shipmodeId              CDATA          #IMPLIED
          shortDescriptionCaseSensitive CDATA    #IMPLIED
          shortDescriptionLike    CDATA          #IMPLIED
          SiteAdminValue          CDATA          #IMPLIED
          sku                     CDATA          #IMPLIED
          sortby                  CDATA          #IMPLIED
          srDir                   CDATA          #IMPLIED
          srLocation              CDATA          #IMPLIED
          startMsgID              CDATA          #IMPLIED
          state                   CDATA          #IMPLIED
          status                  CDATA          #IMPLIED
          strSize                 CDATA          #IMPLIED
          SubmitErrorMessage      CDATA          #IMPLIED
          SubmitErrorStatus       CDATA          #IMPLIED
          SubmitFinishMessage     CDATA          #IMPLIED
          table                   CDATA          #IMPLIED
          title                   CDATA          #IMPLIED
          transport_id            CDATA          #IMPLIED
          userLogon               CDATA          #IMPLIED
          vendorId                CDATA          #IMPLIED
          zip                     CDATA          #IMPLIED
>

<!ELEMENT scrollcontrol EMPTY>
<!ATTLIST scrollcontrol
          title                   CDATA          #IMPLIED
          display                 (true | false) #REQUIRED
>

<!ELEMENT controlpanel EMPTY>
<!ATTLIST controlpanel
          display                 (true | false) #REQUIRED
>

<!ELEMENT button (menu+)>

<!ELEMENT menu EMPTY>
<!ATTLIST menu
          name                    CDATA          #REQUIRED
          action                  CDATA          #IMPLIED
          users                   CDATA          #IMPLIED
          user                    CDATA          #IMPLIED
          selection               CDATA          #IMPLIED
          component               CDATA          #IMPLIED
          strSize                 CDATA          #IMPLIED
          value                   CDATA          #IMPLIED
>

<!ELEMENT view EMPTY>
<!ATTLIST view
          name                    CDATA          #REQUIRED
          action                  CDATA          #REQUIRED
>

<!ELEMENT jsFile EMPTY>
<!ATTLIST jsFile
          src                     CDATA          #IMPLIED
          arc                     CDATA          #IMPLIED
>

<!ELEMENT nlsTitleFormats ANY>
<!ELEMENT nlsNameFormats ANY>
