WC/xml/config/xsd/wc-alias-config.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/alias" 
		xmlns:aliasurl="http://www.ibm.com/xmlns/prod/commerce/foundation/alias" 
		elementFormDefault="qualified">

    <complexType name="AliasConfigurationType">
    	<sequence>
    		<element name="Instance" type="aliasurl:InstanceType"
    			minOccurs="2" maxOccurs="2">
    			<annotation>
    				<documentation></documentation>
    			</annotation>
    		</element>
    	</sequence>
    	<attribute name="name" type="string" use="required">
    		<annotation>
    			<documentation>The identifier of the alias configuration.</documentation>
    		</annotation></attribute>
    	<attribute name="useAlias" type="boolean" use="required">
    		<annotation>
    			<documentation>check whether using the Alias class. In remote store server, this value should be updated to true.</documentation>
    		</annotation></attribute>
    </complexType>


    <element name="aliasList" type="aliasurl:AliasListType">
    	<annotation>
    		<documentation>
			</documentation>
    	</annotation>
    </element>
    

    <complexType name="InstanceType">
    	<attribute name="className" type="string" use="required">
    		<annotation>
    			<documentation>The class name with package name.</documentation>
    		</annotation></attribute>
    	<attribute name="attribute" type="string" use="optional">
    		<annotation>
    			<documentation>The attribute object of the static class, which could be used as the new instance.</documentation>
    		</annotation></attribute>
    	<attribute name="method" type="string" use="optional">
    		<annotation>
    			<documentation>The create instance method name.</documentation>
    		</annotation></attribute>
    	<attribute name="parameterSourceTypes" type="string" use="optional">
    		<annotation>
    			<documentation>The parameter types for the instance constructor or the method.</documentation>
    		</annotation></attribute>
    	<attribute name="isAlias" type="boolean"  use="required">
    		<annotation>
    			<documentation>The flag to show whether it is the Alias class.</documentation>
    		</annotation></attribute>
    </complexType>

    <complexType name="AliasListType">
    	<sequence>
    		<element name="aliasConfig" type="aliasurl:AliasConfigurationType" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>
</schema>