WC/xml/config/xsd/wc-attribute-masking.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/WebSphereCommerce"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wc="http://www.ibm.com/xmlns/prod/WebSphereCommerce">

	<xsd:element name="MaskingPolicies">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="wc:MaskingPolicy" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="MaskingPolicy">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="wc:MaskingPolicyAttributes"
					minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="wc:MaskedAttributes" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="description" type="xsd:string"
				use="optional" />
			<xsd:attribute name="classname" type="xsd:string"
				use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="MaskingPolicyAttributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="wc:Attribute" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Attribute">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="value" type="xsd:string"
				use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="MaskedAttributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="wc:MaskedAttribute" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="MaskedAttribute">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="compareType" type="xsd:string" use="optional" />
			<xsd:attribute name="caseInsensitive" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>
