WC/xml/config/xsd/wc-business-object-mediator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2007                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xsd:complexType name="BusinessObjectMediatorConfigurationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This represents the root document
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="object" type="_config:ObjectType"  minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ObjectType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the high level noun which has the mediators configured.
				This element will define mapping from logical noun to the corresponding physical entity.
				"logicalType" will represent the OAGIS noun and "physicalType" will represent the physical entity.
				eg. logicalType="com.ibm.commerce.catalog.facade.datatypes.CatalogEntryType" 
				    physicalType="com.ibm.commerce.catalog.facade.server.entity.datatypes.CatalogEntry"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mediator"  type="_config:MediatorType"   minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="property-mapping"  type="_config:PropertyMappingType"   minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="logicalType"    type="xsd:NCName" />
		<xsd:attribute name="physicalType"   type="xsd:NCName" />
	</xsd:complexType>

	<xsd:complexType name="MediatorType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This element represents the different types of mediators.
				Mediators can be change noun mediator, read noun mediator etc. The "interfacename" will be used to
				differentiate the different types of mediators. Only the default interfaces will be supported.
				The "className" attribute will define the noun mediator implementation for the component. The
				"updateAccessProfile" will define the access profile for a change noun mediator. It should be only 
				used for a ChangeNounMediator.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mediator-properties" minOccurs="0"
				maxOccurs="1" type="_config:MediatorPropertiesType">
				
			</xsd:element>
			<xsd:element name="part-mediator"  type="_config:PartMediatorType"   minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="interfaceName"  type="xsd:NCName" use="required"/>
		<xsd:attribute name="className"      type="xsd:string" use="required"/>
		<xsd:attribute name="updateAccessProfile"	type="xsd:string" />
	</xsd:complexType>
	
	<xsd:complexType name="PartMediatorType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This element is used to hold the part mediator implementations.
				"interfaceName" is used to identify if it is a change or read mediator. Only the default
				interfaces will be supported.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="part-mediator-implementation"  type="_config:PartMediatorImplementationType"   minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="interfaceName" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="PartMediatorImplementationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Represents the read and change mediators that are used
				to transform the logical noun parts. "className"
				indicates the implementation class. The
				"updateAccessProfile" attribute defines the access
				profile for the change noun part mediator. It should be
				only used in a ChangeNounPartMediator.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mediator-properties" type="_config:MediatorPropertiesType" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="className" type="xsd:string"
			use="required" />
		<xsd:attribute name="updateAccessProfile" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="PropertyMappingType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This element is used to group the NVP for a particular logical and
				physical object pair. This element can hold child mappings. "logicalType" the logical object and "physicalType" for
				the physical entity.
				eg. logicalType="com.ibm.commerce.catalog.facade.datatypes.CatalogDescriptionType" 
				    physicalType="com.ibm.commerce.catalog.facade.server.entity.datatypes.CatalogDescription"
				The "property" belongs to a noun or noun part when the "userDataProperty" will go to the UserData.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="_config:property"  minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="_config:userDataProperty"   minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="_config:child-property-mapping"  minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="logicalType"    type="xsd:NCName" use="required" />
		<xsd:attribute name="physicalType"   type="xsd:NCName" use="required" />
	</xsd:complexType>
	
	<xsd:complexType name="ChildPropertyMappingType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Represents the nested NVP type mapping that can hold 
				a relationship mapping for related entities. The "relationshipName" is used to 
				represent this value which is the accessor method in the base physical entity
				eg. "catalogEntryShipmentData" is used as a relationship name where the base physical 
				entity CatalogEntry has a method getCatalogEntryShipmentData which return the physical
				entity for which the NVP child mapping will apply
				The "property" belongs to a noun or noun part when the "userDataProperty" will go to the UserData.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="_config:property"  minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="_config:userDataProperty"   minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="_config:child-property-mapping"  minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="relationshipName" type="xsd:NCName" use="required" />
	</xsd:complexType>

	<xsd:complexType name="PropertyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Represents a name value pair mapping from logical value to a field in the physical entity
				"logicalPropertyName" is used to represent the name used in the logical object. "physicalPropertyName" will be the field name 
				in the physical entity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="logicalPropertyName"          type="xsd:string" />
		<xsd:attribute name="physicalPropertyName" type="xsd:string" />
	</xsd:complexType>

        <xsd:element name="property" type="_config:PropertyType"/>
	<xsd:element name="userDataProperty"  type="_config:PropertyType"/>
	<xsd:element name="child-property-mapping"  type="_config:ChildPropertyMappingType"/>
	
	<!--  business ojbect mediator -->
	<xsd:element name="BusinessObjectMediatorConfiguration" type="_config:BusinessObjectMediatorConfigurationType" />
	
	<xsd:complexType name="MediatorPropertiesType">
        <xsd:annotation>
        	<xsd:documentation xml:lang="en">The properties associated with the business object mediator configuration.
This properties are specific to the mediator implementation and will be the properties
parameter when the initializeConfig() method is called on the mediator.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="mediator-property" minOccurs="0"
				maxOccurs="unbounded">
                <xsd:annotation>
                	<xsd:documentation xml:lang="en">A specific mediator property.  The property will have the name of the 
property specific and the value of the property.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
					<xsd:attribute name="name" type="xsd:string"
						use="required">
					</xsd:attribute>
					<xsd:attribute name="value" type="xsd:string"
						use="required">
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>