WC/xml/config/xsd/wc-component-patten.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/pattern"
	xmlns:_pattern="http://www.ibm.com/xmlns/prod/commerce/foundation/pattern"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="CommerceComponent">
		<xsd:annotation>
			<xsd:documentation>The definition of a WebSphere Commerce service.  A WebSphere Commerce service consists of nouns (ie. Person) and operations that can be performed on the nouns (Get, Process, Change, and Sync).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
			<xsd:element name="noun" type="_pattern:Noun" minOccurs="1" maxOccurs="unbounded"></xsd:element>			
		</xsd:sequence>
		<xsd:attribute name="company" type="xsd:string" use="required" >
			<xsd:annotation>
				<xsd:documentation>Your company's name.</xsd:documentation>
			</xsd:annotation></xsd:attribute>							
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The name of the service.</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="namespace" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The namespace for the service, all services must have an independent namespace, ie. 'http://www.mycompany.com/xmlns/prod/commerce/9/tutorial'</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="nlsprefix" type="xsd:string" use="required" >
            <xsd:annotation>
            	<xsd:documentation>The namespace prefix, ie. 'myco'.</xsd:documentation>
            </xsd:annotation></xsd:attribute>
            <xsd:attribute name="packagenameprefix" type="xsd:string" use="required" >
			<xsd:annotation>
				<xsd:documentation>The package to prefix all generated code with, ie. 'com.mycompany.commerce'.</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="type" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The type of service to generate, SOI or BOD.  Both types of services have an Oagis based Web Service interface.  A SOI service uses EJBs for persistance and generally reuses existing controller commands for business logic.  A BOD service uses DSL for persistance and generally contains new commands for business logic.</xsd:documentation>
			</xsd:annotation></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="Noun">
        <xsd:annotation>
        	<xsd:documentation>The definition of a WebSphere Commerce noun and the operations that can be performed on the noun.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="nounpart" type="_pattern:Nounpart" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The name of the noun.</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="get" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>'true', if the noun supports Get operations, otherwise false.</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="process" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>'true', if the noun supports Process operations, otherwise false.</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="change" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>'true', if the noun supports Change operations, otherwise false.</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="sync" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>'true', if the noun supports Sync operations, otherwise false.</xsd:documentation>
			</xsd:annotation></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="Nounpart">
        <xsd:annotation>
        	<xsd:documentation>The definition of a WebSphere Commerce noun part.  A noun part is a complex XML type that is contained within a noun.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="xsd:string" use="required">
        	<xsd:annotation>
        		<xsd:documentation>The name of the noun part.</xsd:documentation>
        	</xsd:annotation></xsd:attribute>
		<xsd:attribute name="xpath" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The XPath to the noun part.</xsd:documentation>
			</xsd:annotation></xsd:attribute>
	</xsd:complexType>

	<xsd:element name="commerceComponent" type="_pattern:CommerceComponent"></xsd:element>
	
</xsd:schema>