WC/xml/config/xsd/wc-component-attributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2008                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<xsd:schema
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:complexType name="ComponentAttributeConfigurationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			This represents the root document.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="_config:componentattributes" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="property">
		<xsd:annotation>
			<xsd:documentation>
			Defines a property for the attribute.  Multiple properties per attribute is allowed.
			</xsd:documentation>
		</xsd:annotation>		
		<xsd:complexType>
			<xsd:attribute name="value" type="xsd:string" use="required"/>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="componentattribute">
		<xsd:annotation>
			<xsd:documentation>
			Defines an attribute for the current component.  The name has to be unique as
			it will be used as the identifier for retrieval.
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:property" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>			
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="componentattributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:componentattribute" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ComponentAttributeConfiguration" type="_config:ComponentAttributeConfigurationType" />
	
</xsd:schema>