WC/xml/config/xsd/wc-config-mapping-registry.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2006, 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:complexType name="ConfigurationMappingType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This represents the root document
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="filemapping" type="_config:FileMappingType" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="elementmapping" type="_config:ElementMappingType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="FileMappingType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This lists the mapping between a configuration file and its implementation class.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="configFileName"          type="xsd:string"  use="required"/>
		<xsd:attribute name="implementationClassName" type="xsd:string"  use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="ElementMappingType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This lists the mapping between a configuratin element and its implementation class.
The "configElementName" has the format namespaceURI:elementName. for example, "http://www.ibm.com/xmlnl/prod/commerce/foundation:dataservice"
"http://www.ibm.com/xmlnl/prod/commerce/foundation" is the namespaceURI for foundation, "dataservice" is the element name.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="configElementName"          type="xsd:string"  use="required"/>
		<xsd:attribute name="implementationClassName" type="xsd:string"  use="required"/>
	</xsd:complexType>
	<xsd:element name="ConfigurationRegistry" type="_config:ConfigurationMappingType" />
</xsd:schema>
