WC/xml/config/xsd/wc-component-client.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2006, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<xsd:schema
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:complexType name="DevelopmentClientConfigurationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This represents the root document
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="_config:invocationservice" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="_config:identity-service" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="property">
		<xsd:complexType>
			<xsd:attribute name="value" type="xsd:string" use="required"/>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="invocationbinding">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:property" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="bindingImpl" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="action">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:preinvokemediator" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="_config:postinvokemediator" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="_config:invocationbinding" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							The precedence of the &quot;invocationbinding&quot; be used is
							action code level has the highest precedence, following by action level, and 
							component level.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The name is the  BOD action name.
						if the configuration is for action code level, the
						name will be ActionName(ActionCodeName). For example,
						&quot;ProcessOrder(Transfer)&quot;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="asynchronous" type="xsd:boolean" use="optional"/>
			<xsd:attribute name="scope" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Valid values are &quot;component&quot; or
						&quot;action&quot;. Value of
						&quot;component&quot; means binding
						configuration is scoped based on the component
						configuration. Value of &quot;action&quot; means
						binding configuration is scoped based on the
						action.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="invocationservice">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:invocationbinding" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="_config:action" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="preinvokemediator">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:property" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="mediatorImpl" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="postinvokemediator">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:property" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="mediatorImpl" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="identity-service">
		<xsd:complexType>
			<xsd:attribute name="implementationclass" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DevelopmentClientConfiguration" type="_config:DevelopmentClientConfigurationType" />
</xsd:schema>