WC/xml/config/xsd/wc-dataload-common.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2008, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

    <xsd:annotation>
    	<xsd:documentation>
&lt;P&gt;
The data load configuration consists of the following customizable files:
&lt;OL&gt;
	&lt;LI&gt;The load configuration. &lt;STRONG&gt;(wc-dataload.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
	&lt;LI&gt;The environment configuration. &lt;STRONG&gt;(wc-dataload-env.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
	&lt;LI&gt;The business object configuration. &lt;STRONG&gt;(wc-dataload-businessobject.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
&lt;/OL&gt;
&lt;/P&gt;
&lt;P&gt;
The data load configuration also consists of the following non-customizable files:
&lt;OL&gt;
	&lt;LI&gt;The default set of common definitions. &lt;STRONG&gt;(wc-dataload-common.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
	&lt;LI&gt;The default data reader types. &lt;STRONG&gt;(wc-dataload-datasource-data.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
&lt;/OL&gt;
&lt;/P&gt;
&lt;P&gt;
This configuration file defines common definitions used by the data load configuration.
&lt;/P&gt;	
    	</xsd:documentation></xsd:annotation>
    <xsd:complexType name="NameValuePair">
        <xsd:annotation>
        	<xsd:documentation>
&lt;P&gt;
A section to define name-value pairs. This type is used by the data load configuration.
&lt;/P&gt;

&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	name
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

	&lt;P&gt;
      The name of the property.
      &lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	value
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

	  &lt;P&gt;
      The value of the property.
      &lt;/P&gt;
      
    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;/TABLE&gt;
        	
        	
        	</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="xsd:string" use="required" form="unqualified">
        	<xsd:annotation>
        		<xsd:documentation>
	  &lt;P&gt;
      The name of the property.
      &lt;/P&gt;        		
        		</xsd:documentation>
        	</xsd:annotation></xsd:attribute>
		<xsd:attribute name="value" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
	  &lt;P&gt;
      The value of the property.
      &lt;/P&gt;  				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
	</xsd:complexType>

    <xsd:complexType name="BusinessContext">
    	<xsd:annotation>
    		<xsd:documentation>

    			&lt;P&gt; This node defines business context information
    			specific to a load item. Note that global business
    			context information can be specified in the environment
    			configuration file and can be overridden at the load
    			item. &lt;/P&gt;


    			&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3"
    			CELLSPACING="0" SUMMARY=""&gt; &lt;TR BGCOLOR="#CCCCFF"
    			CLASS="TableHeadingColor"&gt; &lt;TD&gt; Attribute
    			&lt;/TD&gt; &lt;TD&gt; Type &lt;/TD&gt; &lt;TD&gt;
    			Required &lt;/TD&gt; &lt;TD&gt; Default Setting
    			&lt;/TD&gt; &lt;TD&gt; Description &lt;/TD&gt;
    			&lt;/TR&gt;


    			&lt;TR&gt; &lt;TD&gt; storeIdentifier &lt;/TD&gt;
    			&lt;TD&gt; String &lt;/TD&gt; &lt;TD&gt; No &lt;/TD&gt;
    			&lt;TD&gt; N/A &lt;/TD&gt; &lt;TD&gt; &lt;P&gt; The
    			store external identifier of the store. The utility
    			resolves the store internal identifier based on the
    			external identifier. &lt;/P&gt;

    			&lt;/TD&gt; &lt;/TR&gt;

    			&lt;TR&gt; &lt;TD&gt; catalogIdentifier &lt;/TD&gt;
    			&lt;TD&gt; String &lt;/TD&gt; &lt;TD&gt; No &lt;/TD&gt;
    			&lt;TD&gt; N/A &lt;/TD&gt; &lt;TD&gt; &lt;P&gt; The
    			catalog external identifier of the catalog. The utility
    			resolves the catalog internal identifier based on the
    			external identifier. &lt;/P&gt;

    			&lt;/TD&gt; &lt;/TR&gt;

    			&lt;TR&gt; &lt;TD&gt; catalogIdentifier &lt;/TD&gt;
    			&lt;TD&gt; String &lt;/TD&gt; &lt;TD&gt; No &lt;/TD&gt;
    			&lt;TD&gt; N/A &lt;/TD&gt; &lt;TD&gt; &lt;P&gt; The
    			catalog external identifier of the catalog. The utility
    			resolves the catalog internal identifier based on the
    			external identifier. &lt;/P&gt;

    			&lt;/TD&gt; &lt;/TR&gt;

    			&lt;TR&gt; &lt;TD&gt; langId &lt;/TD&gt; &lt;TD&gt; int
    			&lt;/TD&gt; &lt;TD&gt; No &lt;/TD&gt; &lt;TD&gt; N/A
    			&lt;/TD&gt; &lt;TD&gt; &lt;P&gt; The language ID of the
    			data. This attribute is the same as languageId.
    			&lt;/P&gt; &lt;/TD&gt; &lt;/TR&gt;

    			&lt;TR&gt; &lt;TD&gt; languageId &lt;/TD&gt; &lt;TD&gt;
    			int &lt;/TD&gt; &lt;TD&gt; No &lt;/TD&gt; &lt;TD&gt; N/A
    			&lt;/TD&gt; &lt;TD&gt; &lt;P&gt; The language ID of the
    			data. This attribute is the same as langId. &lt;/P&gt;
    			&lt;/TD&gt; &lt;/TR&gt;

    			&lt;TR&gt; &lt;TD&gt; currency &lt;/TD&gt; &lt;TD&gt;
    			String &lt;/TD&gt; &lt;TD&gt; No &lt;/TD&gt; &lt;TD&gt;
    			N/A &lt;/TD&gt; &lt;TD&gt; &lt;P&gt; The currency of the
    			data. &lt;/P&gt; &lt;/TD&gt; &lt;/TR&gt;

    			&lt;TR&gt; &lt;TD&gt; storeId &lt;/TD&gt; &lt;TD&gt; int
    			&lt;/TD&gt; &lt;TD&gt; No &lt;/TD&gt; &lt;TD&gt; N/A
    			&lt;/TD&gt; &lt;TD&gt; &lt;P&gt; The store internal
    			identifier. Do not specify if storeIdentifier is
    			provided. &lt;/P&gt; &lt;/TD&gt; &lt;/TR&gt;

    			&lt;TR&gt; &lt;TD&gt; catalogId &lt;/TD&gt; &lt;TD&gt;
    			long &lt;/TD&gt; &lt;TD&gt; No &lt;/TD&gt; &lt;TD&gt;
    			N/A &lt;/TD&gt; &lt;TD&gt; &lt;P&gt; The catalog
    			internal identifier. Do not specify if catalogIdentifier
    			is provided. &lt;/P&gt; &lt;/TD&gt; &lt;/TR&gt;

    &lt;TR&gt;
    &lt;TD&gt;
	workspaceIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The workspace code is the system generated identifier for the workspace, not the name assigned to the workspace by the Workspace Manager. 
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskGroupIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The task group code is the system generated identifier for the task groups, not the name assigned to the task group by the Workspace Manager. Specify either this attribute or the taskGroupName attribute.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The task code is the system generated identifier for the task, not the name assigned to the task by the Workspace Manager. Specify either this attribute or the taskName attribute. 
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskGroupName
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The name assigned to the task group by the Workspace Manager. Specify either this attribute or the taskGroupIdentifier attribute.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskName
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The name assigned to the task by the Workspace Manager. Specify either this attribute or the taskIdentifier attribute. 
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;

    			&lt;/TABLE&gt;
    		</xsd:documentation>
    	</xsd:annotation>
    	<xsd:sequence>
    		<xsd:element name="ContextData"
    			type="_config:ContextDataType" minOccurs="0"
    			maxOccurs="unbounded">
    			<xsd:annotation>
    				<xsd:documentation>
    					&lt;P&gt; A section defining custom business
    					context properties for use throughout the data
    					load. &lt;/P&gt;
    				</xsd:documentation>
    			</xsd:annotation>
    		</xsd:element>
    	</xsd:sequence>
    	<xsd:attribute name="storeIdentifier" type="xsd:string"
    		use="optional" form="unqualified">
    	</xsd:attribute>
    	<xsd:attribute name="catalogIdentifier" type="xsd:string"
    		use="optional" form="unqualified">
    	</xsd:attribute>
    	<xsd:attribute name="langId" type="xsd:int" use="optional"
    		form="unqualified">
    	</xsd:attribute>
    	<xsd:attribute name="languageId" type="xsd:int" use="optional"
    		form="unqualified">
    	</xsd:attribute>
    	<xsd:attribute name="locale" type="xsd:string" use="optional"
    		form="unqualified">
    	</xsd:attribute>
    	<xsd:attribute name="currency" type="xsd:string" use="optional"
    		form="unqualified">
    	</xsd:attribute>
    	<xsd:attribute name="storeId" type="xsd:int" use="optional"
    		form="unqualified">
    	</xsd:attribute>
    	<xsd:attribute name="catalogId" type="xsd:long" use="optional"
    		form="unqualified">
    	</xsd:attribute>
    	<xsd:attribute name="workspaceIdentifier" type="xsd:string"
    		use="optional" form="unqualified">
            <xsd:annotation>
            	<xsd:documentation>A convenience attribute for the workspace identifier for the workspace data will be loaded into.</xsd:documentation>
            </xsd:annotation>
    	</xsd:attribute>
    	<xsd:attribute name="taskGroupIdentifier" type="xsd:string"
    		use="optional" form="unqualified">
            <xsd:annotation>
            	<xsd:documentation>A convenience attribute for the task group identifier for the workspace data will be loaded into.</xsd:documentation>
            </xsd:annotation>
    	</xsd:attribute>
    	<xsd:attribute name="taskIdentifier" type="xsd:string"
    		use="optional" form="unqualified">
            <xsd:annotation>
            	<xsd:documentation>A convenience attribute for the taskidentifier for the workspace data will be loaded into.</xsd:documentation>
            </xsd:annotation>
    	</xsd:attribute>
    	<xsd:attribute name="taskGroupName" type="xsd:string">
    		<xsd:annotation>
    			<xsd:documentation>A convenience attribute for the task group name for the workspace data will be loaded into.</xsd:documentation>
    		</xsd:annotation></xsd:attribute>
    	<xsd:attribute name="taskName" type="xsd:string">
    		<xsd:annotation>
    			<xsd:documentation>A convenience attribute for the task name for the workspace data will be loaded into.</xsd:documentation>
    		</xsd:annotation></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="ContextDataType">
        <xsd:annotation>
        	<xsd:documentation>
&lt;P&gt;
A section defining custom business context properties for use throughout the data load.
&lt;/P&gt;

&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	name
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

	&lt;P&gt;
      The name of the business context property.
      &lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  &lt;/TABLE&gt;
        	
</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" use="required" form="unqualified">
					<xsd:annotation>
						<xsd:documentation>	
	  &lt;P&gt;
      The name of the business context property.
      &lt;/P&gt;						
						</xsd:documentation>
				</xsd:annotation></xsd:attribute>
			</xsd:extension>		
		</xsd:simpleContent>		
	</xsd:complexType>
	
	<xsd:complexType name="DataLoadBatchService">
        <xsd:annotation>
        	<xsd:documentation>
Defines a data load batch service implementation class which will be used in the data writer
			</xsd:documentation>
		</xsd:annotation>
        <xsd:attribute name="className" type="xsd:string" use="required" form="unqualified"></xsd:attribute>
        <xsd:attribute name="user" type="xsd:string" use="optional" form="unqualified"></xsd:attribute>
        <xsd:attribute name="password" type="xsd:string" use="optional" form="unqualified"></xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="DataOutputLocation">
    	<xsd:annotation>
			<xsd:documentation>
				&lt;P&gt; This node defines the location of the output data file
				that needs to created. &lt;/P&gt; &lt;P&gt; An area to define
				customizable properties is provided.&lt;/P&gt;
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    		<xsd:element name="property" type="_config:NameValuePair" maxOccurs="unbounded" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    	<xsd:attribute name="location" type="xsd:string" use="optional" form="unqualified"></xsd:attribute>
    </xsd:complexType>
	
</xsd:schema>