WC/xml/config/xsd/wc-dataload-env.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2017 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<xsd:schema
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified" attributeFormDefault="unqualified" >

	<xsd:include schemaLocation="wc-dataload-common.xsd"></xsd:include>
	
	<xsd:annotation>
		<xsd:documentation>
&lt;P&gt;
This configuration file defines the environment that the data is loaded into.
&lt;/P&gt;</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="DataLoadEnvConfiguration"
		type="_config:DataLoadEnvConfiguration">
		<xsd:annotation>
			<xsd:documentation>
&lt;P&gt;
This configuration file defines the environment that the data is loaded into.
&lt;/P&gt;
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="DataLoadEnvConfiguration">
		<xsd:annotation>
			<xsd:documentation>
&lt;P&gt;
This configuration file defines the environment that the data is loaded into.
&lt;/P&gt;
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
	        <xsd:element name="property" type="_config:NameValuePair"
				minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                	<xsd:documentation>
&lt;P&gt;
A section for defining custom properties in the form of name-value pairs that define
load order information.
&lt;/P&gt;
                	</xsd:documentation>
                </xsd:annotation>
			</xsd:element>
			<xsd:element name="FilePath" type="_config:FilePath" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BusinessContext" type="_config:BusinessContext" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
					<xsd:documentation>

&lt;P&gt;
This node defines business context information specific to a load item.
Note that global business context information can be specified in the environment configuration 
file and can be overridden at the load item.
&lt;/P&gt;


&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	storeIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The store external identifier of the store. The utility resolves the store internal identifier based on the external identifier. 
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	catalogIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The catalog external identifier of the catalog. The utility resolves the catalog internal identifier based on the external identifier.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	catalogIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The catalog external identifier of the catalog. The utility resolves the catalog internal identifier based on the external identifier.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	langId
    &lt;/TD&gt;
    &lt;TD&gt;
	int
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The language ID of the data. This attribute is the same as languageId.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	languageId
    &lt;/TD&gt;
    &lt;TD&gt;
	int
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The language ID of the data. This attribute is the same as langId.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	currency
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The currency of the data.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	storeId
    &lt;/TD&gt;
    &lt;TD&gt;
	int
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The store internal identifier of the store. Do not specify if the storeIdentifier is provided.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	catalogId
    &lt;/TD&gt;
    &lt;TD&gt;
	long
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The catalog internal identifier of the store. Do not specify if the catalogIdentifier is provided.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
      &lt;TR&gt;
    &lt;TD&gt;
	workspaceIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The workspace code is the system generated identifier for the workspace, not the name assigned to the workspace by the Workspace Manager. 
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskGroupIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The task group code is the system generated identifier for the task groups, not the name assigned to the task group by the Workspace Manager. Specify either this attribute or the taskGroupName attribute.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The task code is the system generated identifier for the task, not the name assigned to the task by the Workspace Manager. Specify either this attribute or the taskName attribute. 
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskGroupName
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The name assigned to the task group by the Workspace Manager. Specify either this attribute or the taskGroupIdentifier attribute.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskName
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The name assigned to the task by the Workspace Manager. Specify either this attribute or the taskIdentifier attribute. 
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
&lt;/TABLE&gt;
					</xsd:documentation>
				</xsd:annotation></xsd:element>
			<xsd:element name="Database" type="_config:Database" minOccurs="0" maxOccurs="1" />
			<xsd:element name="IDResolver" type="_config:IDResolver" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DataWriter" type="_config:DataWriter" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="FilePath">        
        <xsd:annotation>
        	<xsd:documentation>			
&lt;P&gt;
This element defines the set of known paths for the configuration and data files.
&lt;/P&gt;

&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	boConfigFilePath
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The file path for the set of business object configuration files used during the data load process. This path is prepended to the business object configuration file names specifed in the load order file.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	dataInputFilePath
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The file path for the set of data input files used during the data load process. This path is prepended to the data reader input data file names specifed in the load order file.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	dataOutputFilePath
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The file path for the set of data output files generated during the data load process. This path is used by the native load data writer. It can be used with custom data writers.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
&lt;/TABLE&gt;        	</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="boConfigFilePath" type="xsd:string" use="optional" form="unqualified">
        	<xsd:annotation>
        		<xsd:documentation>
&lt;P&gt;
The file path for the set of business object configuration files used during the data load process. This path is prepended to the business object configuration file names specifed in the load order file.
&lt;/P&gt;        		
        		</xsd:documentation>
        	</xsd:annotation></xsd:attribute>
		<xsd:attribute name="dataInputFilePath" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The file path for the set of business object configuration files used during the data load process. This path is prepended to the business object configuration file names specifed in the load order file.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="dataOutputFilePath" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The file path for the set of data output files generated during the data load process. This path is used by the native load data writer and can be used with custom data writers.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
    </xsd:complexType>


	<xsd:complexType name="Database">
		<xsd:annotation>
			<xsd:documentation>			
&lt;P&gt;
The database properties needed to connect to the target database.
&lt;/P&gt;

&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	type
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The database type. For example, "derby".
&lt;/P&gt;

&lt;P&gt;
Supported values are "derby", "db2" and "oracle".
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	name
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The name of the database the data is being loaded into.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	user
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The database user ID.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	password
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The database password. The database password can be overridden on the command line. Do not specify the password inside the configuration file  unless the password is encrypted.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	server 
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The name of the server the database is on.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	port 
    &lt;/TD&gt;
    &lt;TD&gt;
	int
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The port to connect to the database.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	driverType
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The database driver type.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	schema
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The name of the database schema.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


&lt;/TABLE&gt;				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		    <xsd:element name="property" type="_config:NameValuePair" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="type" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The database type. For example, "derby".
&lt;/P&gt;
				
&lt;P&gt;
Supported values are "derby", "db2" and "oracle".
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The name of the database the data is being loaded into.
&lt;/P&gt;
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="user" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The database user ID.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="password" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The database password. The database password can be overridden on the command line. Do not specify the password inside the configuration file unless the password is encrypted.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="server" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The name of the server the database is on.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="port" type="xsd:int" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The port to connect to the database.
&lt;/P&gt;
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="driverType" type="xsd:string" use="optional" form="unqualified">
            <xsd:annotation>
            	<xsd:documentation>
&lt;P&gt;
The database driver type.
&lt;/P&gt;            	
            	</xsd:documentation>
            </xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="schema" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The database driver type.
&lt;/P&gt;
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="IDResolver">
        <xsd:annotation>
        	<xsd:documentation>
&lt;P&gt;
The ID Resolver to use for the entire load.
&lt;/P&gt;
&lt;P&gt;
The ID Resolver determines whether a business object already exists in the database.
&lt;/P&gt;
&lt;P&gt; 
The default implementation shipped with the data load utility will cache all sets of identifiers into memory.
&lt;/P&gt;
&lt;P&gt;
If a different implementation is needed, the ID Resolver can be overridden here by specifying a class name and any additional properties that are needed for the custom implementation. 
The schema definition of the IDResolver element:
&lt;/P&gt;

&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	className
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	com.ibm.commerce.foundation.dataload.idresolve.IDResolverImpl
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The implementation class of the ID Resolver to use.

&lt;UL&gt;
	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.idresolve.IDResolverImpl:&lt;/STRONG&gt;  &lt;BR/&gt;  
		The default implementation caches all sets of identifiers into memory.
	&lt;/LI&gt;
&lt;/UL&gt;

&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	cacheSize
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	0
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The cache size for the ID Resolver.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
&lt;/TABLE&gt;

</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="property" type="_config:NameValuePair" minOccurs="0" maxOccurs="unbounded" >
				<xsd:annotation>
					<xsd:documentation>
&lt;P&gt;
This area defines custom properties for use with a custom ID Resolver.
&lt;/P&gt;					
					</xsd:documentation>
				</xsd:annotation></xsd:element>
			<xsd:element name="UniqueIndex" type="_config:UniqueIndex" minOccurs="0" maxOccurs="unbounded" >
				<xsd:annotation>
					<xsd:documentation>
&lt;P&gt;
This area defines custom unique indexes which are not defined in the database for use with a ID Resolver.
&lt;/P&gt;					
					</xsd:documentation>
				</xsd:annotation></xsd:element>
			<xsd:element name="ExcludeCache" type="_config:ExcludeCache" minOccurs="0" maxOccurs="unbounded" >
				<xsd:annotation>
					<xsd:documentation>
&lt;P&gt;
This area defines a list of tables which will not be cached by the ID resolver.
&lt;/P&gt;					
					</xsd:documentation>
				</xsd:annotation></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="className" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The implementation class of the ID Resolver.

&lt;UL&gt;
	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.idresolve.IDResolverImpl:&lt;/STRONG&gt;  &lt;BR/&gt;  
		The default implementation shipped with the data load utility will cache all sets of identifiers into memory.
	&lt;/LI&gt;
&lt;/UL&gt;

&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="cacheSize" type="xsd:nonNegativeInteger" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The size of the cache to use for the ID Resolver. The default value is 0.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="IdResolveKeyPropertyFile" type="xsd:string" use="optional" form="unqualified" />
	</xsd:complexType>
	
	<xsd:complexType name="UniqueIndex">
        <xsd:annotation>
        	<xsd:documentation>	
        		Define a custom unique index which is not defined in the database.		
        	</xsd:documentation>			
        </xsd:annotation>
		<xsd:attribute name="tableName" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
				Table name
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="columnNames" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
				A list of column names separated by a comma.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="ExcludeCache">
        <xsd:annotation>
        	<xsd:documentation>	
        		Define a list of tables to be excluded from ID resolver cache.		
        	</xsd:documentation>			
        </xsd:annotation>
		<xsd:attribute name="tableName" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
				Table name
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="DataWriter">
        <xsd:annotation>
        	<xsd:documentation>			
&lt;P&gt;
The data writer to use for the entire load. This can be overridden in the business object configuration file.
&lt;/P&gt;

&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	className
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The data writer implementation class

&lt;UL&gt;
	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.datawriter.JDBCDataWriter:&lt;/STRONG&gt;  &lt;BR/&gt;  
		This data writer writes the physical objects to the database directly using JDBC with batch support. This is typically used in the delta data load scenario.
	&lt;/LI&gt;

	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.datawriter.NativeDBDataWriter:&lt;/STRONG&gt; &lt;BR/&gt;  
		This data writer converts the physical objects to a file in the database native loadable format. This is usually used in the initial data load.
	&lt;/LI&gt;
&lt;/UL&gt;

&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
&lt;/TABLE&gt;				
        	</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="property" type="_config:NameValuePair" minOccurs="0" maxOccurs="unbounded" >
				<xsd:annotation>
					<xsd:documentation>
&lt;P&gt;
An area defining custom properties for use with a custom data writer.
&lt;/P&gt;
					</xsd:documentation>
				</xsd:annotation></xsd:element>
            <xsd:element name="DataLoadBatchService" type="_config:DataLoadBatchService" minOccurs="0" maxOccurs="1">
            </xsd:element>
		</xsd:sequence>
		
		<xsd:attribute name="className" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The data writer implementation class.

&lt;UL&gt;
	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.datawriter.JDBCDataWriter:&lt;/STRONG&gt;  &lt;BR/&gt;  
		This data writer writes the physical objects to the database directly using JDBC with batch support. Typically used for delta data load scenarios.
	&lt;/LI&gt;

	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.datawriter.NativeDBDataWriter:&lt;/STRONG&gt; &lt;BR/&gt;  
		This data writer converts the physical objects to a file in the database native loadable format. Typically used for initial data load scenarios.
	&lt;/LI&gt;
&lt;/UL&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
	</xsd:complexType>

</xsd:schema>