WC/xml/config/xsd/wc-dataload.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2017 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<xsd:schema
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:include schemaLocation="wc-dataload-common.xsd">
		<xsd:annotation>
			<xsd:documentation>&lt;P&gt;
This file defines common nodes used to configure the data load.
&lt;/P&gt;</xsd:documentation>
		</xsd:annotation></xsd:include>
	
	<xsd:annotation>
		<xsd:documentation>&lt;P&gt;
The data load configuration consists of the following configuration files:
&lt;OL&gt;
	&lt;LI&gt;Load -  &lt;STRONG&gt;(wc-dataload.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
	&lt;LI&gt;Environment - &lt;STRONG&gt;(wc-dataload-env.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
	&lt;LI&gt;Business object -  &lt;STRONG&gt;(wc-dataload-businessobject.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
&lt;/OL&gt;
&lt;/P&gt;
&lt;P&gt;
Data load configuration also consists of the following non-customizable files:
&lt;OL&gt;
	&lt;LI&gt;A default set of common definitions. &lt;STRONG&gt;(wc-dataload-common.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
	&lt;LI&gt;The default data reader types. &lt;STRONG&gt;(wc-dataload-datasource-data.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
&lt;/OL&gt;
&lt;/P&gt;
&lt;P&gt;
This configuration file controls the data load.
&lt;/P&gt;
&lt;P&gt;
This file defines:
&lt;UL&gt;
	&lt;LI&gt;Which environment the data is loaded into.&lt;/LI&gt;
	&lt;LI&gt;What data and business objects to load.&lt;/LI&gt;
	&lt;LI&gt;The data load order.&lt;/LI&gt;
	&lt;LI&gt;The location of the data to load.&lt;/LI&gt;
	&lt;LI&gt;Default data load options.&lt;/LI&gt;
	&lt;LI&gt;An area to define customizable properties.&lt;/LI&gt;
&lt;/UL&gt;
&lt;/P&gt;</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="DataLoadConfiguration"
		type="_config:DataLoadConfiguration">
		<xsd:annotation>
			<xsd:documentation>&lt;P&gt;
Data load configuration consists of the following files:
&lt;OL&gt;
	&lt;LI&gt;The load configuration. &lt;STRONG&gt;(wc-dataload.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
	&lt;LI&gt;The environment configuration. &lt;STRONG&gt;(wc-dataload-env.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
	&lt;LI&gt;The business object configuration. &lt;STRONG&gt;(wc-dataload-businessobject.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
&lt;/OL&gt;
&lt;/P&gt;
&lt;P&gt;
Data load configuration also consists of the following non-customizable files:
&lt;OL&gt;
	&lt;LI&gt;The default set of common definitions. &lt;STRONG&gt;(wc-dataload-common.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
	&lt;LI&gt;The default data reader types. &lt;STRONG&gt;(wc-dataload-datasource-data.xsd)&lt;/STRONG&gt;&lt;/LI&gt;
&lt;/OL&gt;
&lt;/P&gt;
&lt;P&gt;
Controls the data load.
&lt;/P&gt;
&lt;P&gt;
This file defines:
&lt;UL&gt;
	&lt;LI&gt;Which environment the data is loaded into.&lt;/LI&gt;
	&lt;LI&gt;What data and business objects to load.&lt;/LI&gt;
	&lt;LI&gt;The data load order.&lt;/LI&gt;
	&lt;LI&gt;The location of the data to load.&lt;/LI&gt;
	&lt;LI&gt;Default data load options.&lt;/LI&gt;
	&lt;LI&gt;An area to define customizable properties.&lt;/LI&gt;
&lt;/UL&gt;
&lt;/P&gt;</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="DataLoadConfiguration">
		<xsd:annotation>
			<xsd:documentation>&lt;P&gt;
This configuration file controls the data load.
&lt;/P&gt;
&lt;P&gt;
This file defines:
&lt;UL&gt;
	&lt;LI&gt;Which environment the data is loaded into.&lt;/LI&gt;
	&lt;LI&gt;What data and business objects to load.&lt;/LI&gt;
	&lt;LI&gt;The data load order.&lt;/LI&gt;
	&lt;LI&gt;The location of the data to load.&lt;/LI&gt;
	&lt;LI&gt;Default data load options.&lt;/LI&gt;
	&lt;LI&gt;An area to define customizable properties.&lt;/LI&gt;
&lt;/UL&gt;
&lt;/P&gt;</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
        	<xsd:element name="Variable" type="_config:NameValuePair"
				minOccurs="0" maxOccurs="unbounded">
			</xsd:element>
            <xsd:element name="DataLoadEnvironment" type="_config:DataLoadEnvironment" minOccurs="1" maxOccurs="1" >
            	<xsd:annotation>
            		<xsd:documentation>&lt;P&gt;
A reference to the environment configuration file location. 
&lt;/P&gt;
&lt;P&gt;
An XML file that validates successfully against the XSD file &lt;STRONG&gt;wc-dataload-env.xsd&lt;/STRONG&gt;.
&lt;/P&gt;</xsd:documentation>
            	</xsd:annotation></xsd:element>
            <xsd:element name="LoadOrder" type="_config:LoadOrder" minOccurs="1" maxOccurs="1" >
            	<xsd:annotation>
            		<xsd:documentation>
&lt;P&gt;
Define the data to load and the load order.
&lt;/P&gt;
&lt;P&gt;
The load order is composed of one or more load items. The load items are loaded in the order that they are defined.
&lt;/P&gt;


&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	dataLoadMode
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	Replace
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The data load mode.
&lt;/P&gt;
&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
Data load utility modes:
&lt;UL&gt;
	&lt;LI&gt;Insert: All data is inserted into the database. The utility generates insert SQL statements. Use this mode for initial data load.&lt;/LI&gt;
	&lt;LI&gt;Delete: All data is deleted from the database. The utility generates the delete SQL statements.&lt;/LI&gt;
	&lt;LI&gt;Replace (Default): 
		     All of the data  in the database is replaced. The utility generates the insert, update or delete SQL statements depending on the data.
		     Replace mode replace the existing data with the input data. That is, if some column information is not in the input data,
		     the column value is updated to null or the default value, if any.
		     &lt;P&gt;
		     For example:
		     &lt;UL&gt;
			&lt;LI&gt;If one record (line) in the CSV file represents a new object, it is inserted. &lt;/LI&gt;
			&lt;LI&gt;If the object is in the database already, it is replaced.&lt;/LI&gt;
			&lt;LI&gt;If there is a flag in the data to indicate this object should be deleted, it is deleted.&lt;/LI&gt;
		     &lt;/UL&gt;
		     &lt;/P&gt;
	&lt;/LI&gt;

&lt;/UL&gt;
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  
   &lt;TR&gt;
    &lt;TD&gt;
	commitCount
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	1
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
Specifies how many lines to process before calling database commit. The default setting is 1. 
 If the commitCount is 0, it means it will not commit until this load item finishes processing all of its input data.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  
     &lt;TR&gt;
    &lt;TD&gt;
	batchSize
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	1
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The batch size specifies how many lines of records to process when using JDBC batch. The default value is 1, JDBC batch update is not used. 
If the batchSize is 0, batches all of processed input data for the entire load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  
  
       &lt;TR&gt;
    &lt;TD&gt;
	maxError
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	1
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
This attribute is a setting for the error tolerance during the data load process for a load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
The utility continues to load data for a load item until the error tolerance level is reached; then the utility exits.
&lt;/P&gt;

&lt;P&gt;
Note that for configuration and system errors the utility ends before reaching the tolerance level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  


       &lt;TR&gt;
    &lt;TD&gt;
	retry
    &lt;/TD&gt;
    &lt;TD&gt;
	boolean
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	false
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
A flag indicating that if an error occurs during the data load process,  
the utility retries to load the data. If configuration errors or system errors occur, 
the utility ends.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

&lt;/TABLE&gt;
          		

</xsd:documentation>
            	</xsd:annotation></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="DataLoadEnvironment">
        <xsd:annotation>
        	<xsd:documentation>&lt;P&gt;
The location of the environment configuration file. 
&lt;/P&gt;
&lt;P&gt;
An XML file that validates successfully against the XSD file &lt;STRONG&gt;wc-dataload-env.xsd&lt;/STRONG&gt;.
&lt;/P&gt;


&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	configFile
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
	&lt;P&gt;
The location of the environment configuration file. 
&lt;/P&gt;
&lt;P&gt;
An XML file that validates successfully against the XSD file &lt;STRONG&gt;wc-dataload-env.xsd&lt;/STRONG&gt;.
&lt;/P&gt;
&lt;P&gt;
An absolute path, or relative path, to the file. The relative path is relative to the location of this load order configuration file.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  &lt;/TABLE&gt;</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="configFile" use="optional"
			form="unqualified" type="xsd:string">
            <xsd:annotation>
            	<xsd:documentation>&lt;P&gt;
The location of the environment configuration file. 
&lt;/P&gt;
&lt;P&gt;
An XML file that validates successfully against the XSD file &lt;STRONG&gt;wc-dataload-env.xsd&lt;/STRONG&gt;.
&lt;/P&gt;
&lt;P&gt;
An absolute path, or relative path, to the file. The relative path is relative to the location of this load order configuration file.
&lt;/P&gt;</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="LoadOrder">        
        <xsd:annotation>
        	<xsd:documentation>&lt;P&gt;
This node defines what data is being loaded, and the order it should be loaded in.
&lt;/P&gt;
&lt;P&gt;
The load order is composed of one or more load items. The load items are loaded in the order that they are defined in.
&lt;/P&gt;


&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	dataLoadMode
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	Replace
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
This attribute the mode the data should be loaded in.
&lt;/P&gt;
&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
Data load utility modes:
&lt;UL&gt;
	&lt;LI&gt;Insert: All data is inserted into the database. The utility generates insert SQL statements. Use this mode for initial data load.&lt;/LI&gt;
	&lt;LI&gt;Delete: All data is deleted from the database. The utility generates the delete SQL statements.&lt;/LI&gt;
	&lt;LI&gt;Replace (Default): 
		     All of the data  in the database is replaced. Depending on the data, the utility generates insert, update or delete SQL statements.
		     Replace mode replace the existing data with the input data. That is, if some column information is not in the input data,
		     the column value is updated to null or the default value, if any.
		     &lt;P&gt;
		     For example:
		     &lt;UL&gt;
			&lt;LI&gt;If one record (line) in the CSV file represents a new object, it is inserted. &lt;/LI&gt;
			&lt;LI&gt;If the object is in the database already, it is replaced.&lt;/LI&gt;
			&lt;LI&gt;If there is a flag in the data to indicate this object should be deleted, it is deleted.&lt;/LI&gt;
		     &lt;/UL&gt;
		     &lt;/P&gt;
	&lt;/LI&gt;

&lt;/UL&gt;
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  
   &lt;TR&gt;
    &lt;TD&gt;
	commitCount
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	1
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
Specifies how many lines to process before calling database commit. The default setting is 1. 
 If the commitCount is 0, it means it will not commit until this load item finishes processing all of its input data.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  
     &lt;TR&gt;
    &lt;TD&gt;
	batchSize
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	1
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The batch size specifies how many lines of records to process when using JDBC batch. The default value is 1, JDBC batch update is not used. 
If the batchSize is 0, batches all of processed input data for the entire load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  
  
       &lt;TR&gt;
    &lt;TD&gt;
	maxError
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	1
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
This attribute is a setting for the error tolerance during the data load process for a load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
The utility continues to load data for a load item until the error tolerance level is reached; then the utility exits.
&lt;/P&gt;

&lt;P&gt;
For configuration and system errors, the utility 
ends before it  reaches the tolerance level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  


       &lt;TR&gt;
    &lt;TD&gt;
	retry
    &lt;/TD&gt;
    &lt;TD&gt;
	boolean
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	false
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
A flag indicating that if an error occurs during the data load process,  
the utility retries to load the data. If configuration errors or system errors occur 
the utility ends.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

&lt;/TABLE&gt;

</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        <xsd:element name="property" type="_config:NameValuePair"
				minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                	<xsd:documentation>
&lt;P&gt;
A section for defining custom properties in the form of name-value pairs that define
load order information.
&lt;/P&gt;
                	</xsd:documentation>
                </xsd:annotation>
			</xsd:element>
            <xsd:element name="LoadItem" type="_config:LoadItem" minOccurs="1" maxOccurs="unbounded">
            	<xsd:annotation>
            		<xsd:documentation>&lt;P&gt;
This node defines a set of data to load. This set is referred to as a load item.
This is usually a subset of the entire set of data being loaded.
&lt;/P&gt;
&lt;P&gt;
A load item defines the following:
&lt;UL&gt;
	&lt;LI&gt;The name of the load item.&lt;/LI&gt;
	&lt;LI&gt;Options for how the data should be loaded.&lt;/LI&gt;
	&lt;LI&gt;The location of the data being loaded.&lt;/LI&gt;
	&lt;LI&gt;The location of the business object configuration the data should be used with.&lt;/LI&gt;
	&lt;LI&gt;Business context information that is specific to the set of data being loaded.&lt;/LI&gt;
	&lt;LI&gt;An area to define customizable properties that can be used to load the data.&lt;/LI&gt;
&lt;/UL&gt;
&lt;/P&gt;</xsd:documentation></xsd:annotation></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="dataLoadMode" use="optional" type="_config:DataLoadMode"
			form="unqualified">
            <xsd:annotation>
            	<xsd:documentation>&lt;P&gt;
This attribute the mode the data should be loaded in.
&lt;/P&gt;

&lt;P&gt;
 If defined at the load order level, all load items inherit this value. The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
Data load utility modes:
&lt;UL&gt;
	&lt;LI&gt;Insert: All data is inserted into the database. The utility generates insert SQL statements. Use this mode for initial data load.&lt;/LI&gt;
	&lt;LI&gt;Delete: All data is deleted from the database. The utility generates the delete SQL statements.&lt;/LI&gt;
	&lt;LI&gt;Replace (Default): 
		     All of the data  in the database is replaced. Depending on the data, the utility generates insert, update or delete SQL statements.
		     Replace mode replace the existing data with the input data. That is, if some column information is not in the input data,
		     the column value is updated to null or the default value, if any.
		     &lt;P&gt;
		     For example:
		     &lt;UL&gt;
			&lt;LI&gt;If one record (line) in the CSV file represents a new object, it is inserted. &lt;/LI&gt;
			&lt;LI&gt;If the object is in the database already, it is replaced.&lt;/LI&gt;
			&lt;LI&gt;If there is a flag in the data to indicate this object should be deleted, it is deleted.&lt;/LI&gt;
		     &lt;/UL&gt;
		     &lt;/P&gt;
	&lt;/LI&gt;</xsd:documentation>
            </xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="commitCount" type="xsd:integer" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
Specifies how many lines to process before calling database commit. The default setting is 1. 
 If the commitCount is 0, it means it will not commit until this load item finishes processing all of its input data.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="batchSize" type="xsd:nonNegativeInteger" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The batch size specifies how many lines of records to process when using JDBC batch. The default value is 1, JDBC batch update is not used. 
If the batchSize is 0, batches all of processed input data for the entire load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="maxError" type="xsd:nonNegativeInteger" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>&lt;P&gt;
This attribute is a setting for the error tolerance during the data load process for a load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
The utility continues to load data for a load item until the error tolerance level is reached; then the utility exits.
&lt;/P&gt;

&lt;P&gt;
For configuration and system errors, the utility 
ends before it  reaches the tolerance level.
&lt;/P&gt;

</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="retry" use="optional" form="unqualified" type="xsd:boolean">
            <xsd:annotation>
            	<xsd:documentation>&lt;P&gt;
A flag indicating that if an error occurs during the data load process,  
the utility retries to load the data. If configuration errors or system errors occur 
the utility ends.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;</xsd:documentation>
            </xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
    <xsd:simpleType name="DataLoadMode">
    	<xsd:annotation>
    		<xsd:documentation>&lt;P&gt;
This node defines the mode the data should be loaded in.
&lt;/P&gt;

&lt;P&gt;
Data load utility modes:
&lt;UL&gt;
	&lt;LI&gt;Insert: All data is inserted into the database. The utility generates insert SQL statements. Use this mode for initial data load.&lt;/LI&gt;
	&lt;LI&gt;Delete: All data is deleted from the database. The utility generates the delete SQL statements.&lt;/LI&gt;
	&lt;LI&gt;Replace (Default): 
		     All of the data  in the database is replaced. Depending on the data, the utility generates insert, update or delete SQL statements.
		     Replace mode replace the existing data with the input data. That is, if some column information is not in the input data,
		     the column value is updated to null or the default value, if any.
		     &lt;P&gt;
		     For example:
		     &lt;UL&gt;
			&lt;LI&gt;If one record (line) in the CSV file represents a new object, it is inserted. &lt;/LI&gt;
			&lt;LI&gt;If the object is in the database already, it is replaced.&lt;/LI&gt;
			&lt;LI&gt;If there is a flag in the data to indicate this object should be deleted, it is deleted.&lt;/LI&gt;
		     &lt;/UL&gt;
		     &lt;/P&gt;
	&lt;/LI&gt;

&lt;/UL&gt;
&lt;/P&gt;</xsd:documentation>
    	</xsd:annotation>
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="Insert">
    			<xsd:annotation>
    				<xsd:documentation>
    					All data is inserted into the database. The utility generates insert SQL statements. Use this mode for initial data load.
    				</xsd:documentation>
    			</xsd:annotation>
    		</xsd:enumeration>
    		<xsd:enumeration value="Replace">
    			<xsd:annotation>
    				<xsd:documentation>
					     All of the data  in the database is replaced. Depending on the data, the utility generates insert, update or delete SQL statements.
					     Replace mode replace the existing data with the input data. That is, if some column information is not in the input data,
					     the column value is updated to null or the default value, if any.
					     &lt;P&gt;
					     For example:
					     &lt;UL&gt;
						 &lt;LI&gt;If one record (line) in the CSV file represents a new object, it is inserted. &lt;/LI&gt;
						 &lt;LI&gt;If the object is in the database already, it is replaced.&lt;/LI&gt;
						 &lt;LI&gt;If there is a flag in the data to indicate this object should be deleted, it is deleted.&lt;/LI&gt;
					     &lt;/UL&gt;
					     &lt;/P&gt;
    				</xsd:documentation>
    			</xsd:annotation>
    		</xsd:enumeration>
    		<xsd:enumeration value="Delete">
    			<xsd:annotation>
    				<xsd:documentation>
    					All data is deleted from the database. The utility generates the delete SQL statements.
    				</xsd:documentation>
    			</xsd:annotation>        		
    		</xsd:enumeration>
    		<xsd:enumeration value="Update">
    			<xsd:annotation>
    				<xsd:documentation>
    					Similar to the Replace, but the data from imput will be updated on top of the data in the database.
    				</xsd:documentation>
    			</xsd:annotation>        		
    		</xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="LoadItem">
        <xsd:annotation>
        	<xsd:documentation>&lt;P&gt;
This node defines a set of data to load. This set is referred to as a load item.
This is usually a subset of the entire set of data being loaded.
&lt;/P&gt;
&lt;P&gt;
A load item defines the following:
&lt;UL&gt;
	&lt;LI&gt;The name of the load item.&lt;/LI&gt;
	&lt;LI&gt;Options for how the data should be loaded.&lt;/LI&gt;
	&lt;LI&gt;The location of the data being loaded.&lt;/LI&gt;
	&lt;LI&gt;The location of the business object configuration the data should be used with.&lt;/LI&gt;
	&lt;LI&gt;Business context information that is specific to the set of data being loaded.&lt;/LI&gt;
	&lt;LI&gt;An area to define customizable properties that can be used to load the data.&lt;/LI&gt;
&lt;/UL&gt;
&lt;/P&gt;


&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	name
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The name of the load item. This is a required attribute that captures load summary and error information.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	businessObjectConfigFile
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The location of the business object configuration file. 
&lt;/P&gt;
&lt;P&gt;
An XML file that validates successfully against the XSD file &lt;STRONG&gt;wc-dataload-businessobject.xsd&lt;/STRONG&gt;.
&lt;/P&gt;
&lt;P&gt;
An absolute path, or relative path, to the file. 
The value for businessObjectConfigFile relative path should be relative to the  boConfigFilePath in the FilePath defined in the dataload environment configuration file. 
If the boConfigFilePath is not defined in the dataload environment configuration file, businessObjectConfigFile relative path should be relative to the load order configuration file.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;




  &lt;TR&gt;
    &lt;TD&gt;
	dataLoadMode
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	Replace
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
This attribute the mode the data should be loaded in.
&lt;/P&gt;
&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
Data load utility modes:
&lt;UL&gt;
	&lt;LI&gt;Insert: All data is inserted into the database. The utility generates insert SQL statements. Use this mode for initial data load.&lt;/LI&gt;
	&lt;LI&gt;Delete: All data is deleted from the database. The utility generates the delete SQL statements.&lt;/LI&gt;
	&lt;LI&gt;Replace (Default): 
		     All of the data  in the database is replaced. Depending on the data, the utility generates insert, update or delete SQL statements.
		     Replace mode replace the existing data with the input data. That is, if some column information is not in the input data,
		     the column value is updated to null or the default value, if any.
		     &lt;P&gt;
		     For example:
		     &lt;UL&gt;
			&lt;LI&gt;If one record (line) in the CSV file represents a new object, it is inserted. &lt;/LI&gt;
			&lt;LI&gt;If the object is in the database already, it is replaced.&lt;/LI&gt;
			&lt;LI&gt;If there is a flag in the data to indicate this object should be deleted, it is deleted.&lt;/LI&gt;
		     &lt;/UL&gt;
		     &lt;/P&gt;
	&lt;/LI&gt;

&lt;/UL&gt;
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  
   &lt;TR&gt;
    &lt;TD&gt;
	commitCount
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	1
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
Specifies how many lines to process before calling database commit. The default setting is 1. 
 If the commitCount is 0, it means it will not commit until this load item finishes processing all of its input data.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  
     &lt;TR&gt;
    &lt;TD&gt;
	batchSize
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	1
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The batch size specifies how many lines of records to process when using JDBC batch. The default value is 1, JDBC batch update is not used. 
If the batchSize is 0, batches all of processed input data for the entire load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  
  
       &lt;TR&gt;
    &lt;TD&gt;
	maxError
    &lt;/TD&gt;
    &lt;TD&gt;
	nonNegativeInteger
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	1
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
This attribute is a setting for the error tolerance during the data load process for a load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
The utility continues to load data for a load item until the error tolerance level is reached; then the utility exits.
&lt;/P&gt;

&lt;P&gt;
For configuration and system errors, the utility 
ends before it  reaches the tolerance level.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
  


       &lt;TR&gt;
    &lt;TD&gt;
	retry
    &lt;/TD&gt;
    &lt;TD&gt;
	boolean
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	false
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
A flag indicating that if an error occurs during the data load process,  
the utility retries to load the data. If configuration errors or system errors occur 
the utility ends.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;



    &lt;/TD&gt;
  &lt;/TR&gt;

       &lt;TR&gt;
    &lt;TD&gt;
	startKey
    &lt;/TD&gt;
    &lt;TD&gt;
	long
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
This attribute combined with the attribute &lt;strong&gt;endKey&lt;/strong&gt; defines which primary key range to use when the object does not exist in the database and it requires a new generated key.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

       &lt;TR&gt;
    &lt;TD&gt;
	endKey
    &lt;/TD&gt;
    &lt;TD&gt;
	long
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
This attribute combined with the attribute &lt;strong&gt;startKey&lt;/strong&gt; defines which primary key range to use when the object does not exist in the database and it requires a new generated key.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


&lt;/TABLE&gt;



</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="property" type="_config:NameValuePair"
				minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                	<xsd:documentation>
&lt;P&gt;
A section for defining custom properties in the form of name-value pairs that define
load item information.
&lt;/P&gt;
                	</xsd:documentation>
                </xsd:annotation>
			</xsd:element>
            <xsd:element name="DataSourceLocation" type="_config:DataSourceLocation" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
            		<xsd:documentation>

&lt;P&gt;
This node defines where the data is located.
&lt;/P&gt;
&lt;P&gt;
An area to define customizable properties is provided. The properties
are available for use with the configured data reader through the configuration properties.
&lt;P&gt;
See the following classes for more details:  
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/AbstractDataReader.html&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.AbstractDataReader&lt;/A&gt;
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/AbstractDataReader.html#getDataSourceLocation()&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.AbstractDataReader#getDataSourceLocation()&lt;/A&gt;
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/DataSourceLocation.html&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.DataReaderDataSource&lt;/A&gt;
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/DataSourceLocation.html#getDataSourceLocationProperties()&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.DataReaderDataSource#getDataSourceLocationProperties()&lt;/A&gt;
&lt;/P&gt;            		
            		
            		</xsd:documentation></xsd:annotation></xsd:element>
            <xsd:element name="DataOutputLocation"
        		type="_config:DataOutputLocation" maxOccurs="1"
        		minOccurs="0">
        		<xsd:annotation>
    				<xsd:documentation>
    					&lt;P&gt; This node defines the location of the output data file
    					that needs to created. &lt;/P&gt; &lt;P&gt; An area to define
    					customizable properties is provided.&lt;/P&gt;
    				</xsd:documentation>
    			</xsd:annotation>
        	</xsd:element>
            		
            <xsd:element name="BusinessContext"
				type="_config:BusinessContext" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                	<xsd:documentation>
&lt;P&gt;
This node defines business context information specific to a load item.
Note that global business context information can be specified in the environment configuration 
file and can be overridden at the load item.
&lt;/P&gt;


&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	storeIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The store external identifier of the store. The utility resolves the store internal identifier based on the external identifier.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	catalogIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The catalog external identifier of the catalog. The utility resolves the catalog internal identifier based on the external identifier to and generate the data.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	catalogIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The catalog external identifier of the catalog. The utility resolves the catalog internal identifier based on the external identifier to and generate the data.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	langId
    &lt;/TD&gt;
    &lt;TD&gt;
	int
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The language ID of the data. This attribute is the same as languageId.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	languageId
    &lt;/TD&gt;
    &lt;TD&gt;
	int
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The language ID that the data should be loaded with. This attribute is the same as langId.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	currency
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The currency of the data.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	storeId
    &lt;/TD&gt;
    &lt;TD&gt;
	int
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The store internal identifier of the store. Do not specify if storeIdentifier is provided.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;

  &lt;TR&gt;
    &lt;TD&gt;
	catalogId
    &lt;/TD&gt;
    &lt;TD&gt;
	long
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The catalog internal identifier of the store. Do not specify if catalogIdentifier is provided.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;


    &lt;TR&gt;
    &lt;TD&gt;
	workspaceIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The workspace code is the system generated identifier for the workspace, not the name assigned to the workspace by the Workspace Manager. 
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskGroupIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The task group code is the system generated identifier for the task groups, not the name assigned to the task group by the Workspace Manager. Specify either this attribute or the taskGroupName attribute.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskIdentifier
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The task code is the system generated identifier for the task, not the name assigned to the task by the Workspace Manager. Specify either this attribute or the taskName attribute. 
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskGroupName
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The name assigned to the task group by the Workspace Manager. Specify either this attribute or the taskGroupIdentifier attribute.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  
    &lt;TR&gt;
    &lt;TD&gt;
	taskName
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
&lt;P&gt;
The name assigned to the task by the Workspace Manager. Specify either this attribute or the taskIdentifier attribute. 
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
&lt;/TABLE&gt;

                	</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>&lt;P&gt;
The name of the load item. This is a required attribute that captures load summary and error information.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>        
		<xsd:attribute name="businessObjectConfigFile" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>&lt;P&gt;
The location of the business object configuration file. 
&lt;/P&gt;
&lt;P&gt;
An XML file that validates successfully against the XSD file &lt;STRONG&gt;wc-dataload-businessobject.xsd&lt;/STRONG&gt;.
&lt;/P&gt;
&lt;P&gt;
An absolute path, or relative path, to the file. The relative path is relative to the location of this load order configuration file.
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="dataLoadMode" type="_config:DataLoadMode" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
This attribute the mode the data should be loaded in.
&lt;/P&gt;

&lt;P&gt;
 If defined at the load order level, all load items inherit this value. The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
Data load utility modes:
&lt;UL&gt;
	&lt;LI&gt;Insert: All data is inserted into the database. The utility generates insert SQL statements. Use this mode for initial data load.&lt;/LI&gt;
	&lt;LI&gt;Delete: All data is deleted from the database. The utility generates the delete SQL statements.&lt;/LI&gt;
	&lt;LI&gt;Replace (Default): 
		     All of the data  in the database is replaced. Depending on the data, the utility generates insert, update or delete SQL statements.
		     Replace mode replace the existing data with the input data. That is, if some column information is not in the input data,
		     the column value is updated to null or the default value, if any.
		     &lt;P&gt;
		     For example:
		     &lt;UL&gt;
			&lt;LI&gt;If one record (line) in the CSV file represents a new object, it is inserted. &lt;/LI&gt;
			&lt;LI&gt;If the object is in the database already, it is replaced.&lt;/LI&gt;
			&lt;LI&gt;If there is a flag in the data to indicate this object should be deleted, it is deleted.&lt;/LI&gt;
		     &lt;/UL&gt;
		     &lt;/P&gt;
	&lt;/LI&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="commitCount" type="xsd:integer" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
Specifies how many lines to process before calling database commit. The default setting is 1. 
 If the commitCount is 0, it means it will not commit until this load item finishes processing all of its input data.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="batchSize" type="xsd:nonNegativeInteger" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The batch size specifies how many lines of records to process when using JDBC batch. The default value is 1, JDBC batch update is not used. 
If the batchSize is 0, batches all of processed input data for the entire load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation>		
		</xsd:attribute>
		<xsd:attribute name="maxError" type="xsd:nonNegativeInteger" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
This attribute sets the error tolerance during the data load process for a load item.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;

&lt;P&gt;
The utility continues to load data for a load item until the error tolerance level is reached; then the utility exits.
&lt;/P&gt;

&lt;P&gt;
For configuration and system errors, the utility 
ends before it  reaches the tolerance level.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="retry" type="xsd:boolean" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
A flag indicating that if an error occurs during the data load process,  
the utility retries to load the data. If configuration errors or system errors occur 
the utility ends.
&lt;/P&gt;

&lt;P&gt;
If defined at the load order level, all load items inherit this value.
The value can be overridden at the load item level.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="startKey" type="xsd:long" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>&lt;P&gt;
This attribute combined with the attribute &lt;strong&gt;endKey&lt;/strong&gt; defines which primary key range to use when the object does not exist in the database and it requires a new generated key.
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="endKey" type="xsd:long" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>&lt;P&gt;
This attribute combined with the attribute &lt;strong&gt;startKey&lt;/strong&gt; defines which primary key range to use when the object does not exist in the database and it requires a new generated key.
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
			<xsd:attribute name="loadSequence" type="xsd:double" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>&lt;P&gt;
This attribute represents the sequence for a load item.  The load order will be defined by the load item sequence specified. This attribute is only for the catalog import tool in CMC.
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
			<xsd:attribute name="enabled" type="xsd:boolean" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>&lt;P&gt;
This attribute indicates whether a load item is enabled or not.  The load order will ignore disabled load items. This attribute is for customizing the catalog import tool in CMC.
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
			<xsd:attribute name="loadToLiveEnabled" type="xsd:boolean" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>&lt;P&gt;
This attribute indicates whether a load item can be load to live server or not.  The default is false.
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
			<xsd:attribute name="userTransaction" type="xsd:boolean" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>&lt;P&gt;
This attribute indicates whether to use user transaction.  The default is false.
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
    </xsd:complexType>



    <xsd:complexType name="DataSourceLocation">
        <xsd:annotation>
        	<xsd:documentation>&lt;P&gt;
This node defines where the data is located.
&lt;/P&gt;
&lt;P&gt;
An area to define customizable properties is provided. The properties
are available for use with the configured data reader through the configuration properties.
&lt;P&gt;
See the following classes for more details:  
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/AbstractDataReader.html&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.AbstractDataReader&lt;/A&gt;
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/AbstractDataReader.html#getDataSourceLocation()&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.AbstractDataReader#getDataSourceLocation()&lt;/A&gt;
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/DataSourceLocation.html&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.DataReaderDataSource&lt;/A&gt;
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/DataSourceLocation.html#getDataSourceLocationProperties()&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.DataReaderDataSource#getDataSourceLocationProperties()&lt;/A&gt;
&lt;/P&gt;

&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	location
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;
	&lt;P&gt;
The location of the data required by the data reader. 
&lt;/P&gt;
&lt;P&gt;
An absolute path, or relative path, to the file. 
The location relative path should be relative to the  dataInputFilePath in the FilePath defined in the dataload environment configuration file.
If the dataInputFilePath is not defined in the data load environment configuration file, the location relative path should be relative to the load order configuration file.
&lt;/P&gt;
    &lt;/TD&gt;
  &lt;/TR&gt;
  &lt;/TABLE&gt;

</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
    		<xsd:element name="property" type="_config:NameValuePair" minOccurs="0" maxOccurs="unbounded">
    			<xsd:annotation>
    				<xsd:documentation>
&lt;P&gt;
A section for defining custom properties in the form of name-value pairs that define
custom data source information.
&lt;/P&gt;
&lt;P&gt;
See the following classes for more details:  
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/AbstractDataReader.html&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.AbstractDataReader&lt;/A&gt;
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/AbstractDataReader.html#getDataSourceLocation()&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.AbstractDataReader#getDataSourceLocation()&lt;/A&gt;
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/DataSourceLocation.html&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.DataReaderDataSource&lt;/A&gt;
&lt;A HREF=&quot;../../com.ibm.commerce.api.doc/com/ibm/commerce/foundation/dataload/datareader/DataSourceLocation.html#getDataSourceLocationProperties()&quot;&gt;com.ibm.commerce.foundation.dataload.datareader.DataReaderDataSource#getDataSourceLocationProperties()&lt;/A&gt;
&lt;/P&gt;
</xsd:documentation>
    			</xsd:annotation></xsd:element>
    	</xsd:sequence>
    	<xsd:attribute name="location" type="xsd:string" use="optional" form="unqualified">
    		<xsd:annotation>
    			<xsd:documentation>&lt;P&gt;
The location of the data required by the data reader. 
&lt;/P&gt;
&lt;P&gt;
An absolute path, or relative path, to the file. The relative path is relative to the location of this load order configuration file.
&lt;/P&gt;</xsd:documentation>
    		</xsd:annotation></xsd:attribute>
    	<xsd:attribute name="oldLocation" type="xsd:string" use="optional" form="unqualified">
    		<xsd:annotation>
    			<xsd:documentation>The old file location to be used in the file difference preprocessor.</xsd:documentation>
    		</xsd:annotation></xsd:attribute>    		
    </xsd:complexType>
</xsd:schema>