WC/xml/config/xsd/wc-devices.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2015                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:element name="Devices">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:DeviceGroup" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DeviceGroup">
		<xsd:complexType>
			<xsd:annotation>
			<xsd:documentation>
			Defines a logical group of mobile devices with a common device mapping mechanism.
			Several attributes are defined for this element.
			
			impl: The device group implementation, which dictates the device mapping mechanism of this device group.
				Examples:
				com.ibm.commerce.foundation.server.services.httpdevice.CookieDeviceGroupImpl:
					Maps requests to devices by a cookie value.
				com.ibm.commerce.foundation.server.services.httpdevice.ParameterDeviceGroupImpl:
					Maps requests to devices by an URL parameter value.
				com.ibm.commerce.foundation.server.services.httpdevice.UserAgentDeviceGroupImpl (default):
					Maps requests to devices by the user agent.
			keyName: The key name, which is used by many device group implementations to derive the key
				corresponding to a request. This key is then matched against the mobile devices under
				this device group.
				Example:
				If the key name is "mobile", the value of the cookie "mobile" (e.g. "someValue") will be used as the key.
				This key ("someValue") will then be matched to a mobile device with the same value ("someValue") or with
				a matching pattern (e.g. "some.*").
				
			internalID: The default device ID for mobile devices in this device group.
			channelID: The default channel ID for mobile devices in this device group.
			</xsd:documentation>
			</xsd:annotation>
			
			<xsd:sequence>
				<xsd:element ref="_config:Device" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>

			<xsd:attribute name="impl" type="xsd:string" use="optional" />
			<xsd:attribute name="keyName" type="xsd:string" use="optional" />

			<xsd:attribute name="internalID" type="xsd:int" use="required" />
			<xsd:attribute name="channelID" type="xsd:int" use="required" />

		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Device">
		<xsd:complexType>
			<xsd:annotation>
			<xsd:documentation>
			Defines a mobile device.  This mobile device configuration is for mapping a key (see above) to its device ID.
			Several attributes are defined for this element.
			
			name: The name of the device.
			userAgentPattern: Regular expression used to match the user agent field in the HTTP header (UserAgentDeviceGroupImpl only).
			
			pattern: Regular expression used to match the key.
			value: Value used to match the key.
			internalID: The device ID for this mobile device.
			channelID: The channel ID for this mobile device.
			</xsd:documentation>
			</xsd:annotation>
			
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="userAgentPattern" type="xsd:string" use="required" />

			<xsd:attribute name="pattern" type="xsd:string" use="optional" />
			<xsd:attribute name="value" type="xsd:string" use="optional" />
			<xsd:attribute name="internalID" type="xsd:int" use="optional" />
			<xsd:attribute name="channelID" type="xsd:int" use="optional" />

		</xsd:complexType>
	</xsd:element>

</xsd:schema>
