WC/xml/config/xsd/wc-event.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!--
		This schema specifies the format of template event XML files consumed
		by the common event framework.
	-->
	<xsd:element name="event-template">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:component" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:group" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:event" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="event">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:property" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the event.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="group" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Group name of the event.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="handler" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Implementation class name of the event content handler.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="emitter" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Implementation class name of the event emitter.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="group">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:subscription" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the event group.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="component">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the component that has been registered to
						the event framework.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="property">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the	property.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="required" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether the property is required or not.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="value" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Value of the property.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="param">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the	parameter.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="value" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Value of the parameter.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="subscription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="consumer" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Implementation class name of the event consumer that has subscribed the event. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="condition" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Implementation class name of the event condition for the event subscription. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>
