WC/xml/config/xsd/wc-search.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			The WebSphere Commerce
			SolrSearchConfigurationRegistry action
			will search for configuration
			files in the xml/config directory that
			have the name "wc-search.xml".
			The configuration files must have
			"search-config" as the root element.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="search-config">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This "search-config"
				element is used to
				configure
				the WebSphere Commerce search request.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:server" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:index" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:cores" minOccurs="0"
					maxOccurs="1" />
				<xsd:element ref="_config:profile" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:queryMapping" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="server">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This is an element to
				indicate how to connect to the
				search server.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice minOccurs="1" maxOccurs="1">
					<xsd:element name="common-http">
						<xsd:annotation>
							<xsd:documentation>
								This setting uses the Apache Commons HTTP
								Client to connect to solr.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:attribute name="URL" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										The HTTP URL location of the remote Solr
										server context root.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="reference" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										The JNDI resource reference name that defines
										the HTTP URL location of the remote Solr
										server context root.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="soTimeout" type="xsd:int">
								<xsd:annotation>
									<xsd:documentation>
										The HTTP client default socket timeout in
										milliseconds for waiting for data. The default value is 0,
										which is interpreted as an infinite timeout.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="connectionTimeout" type="xsd:int">
								<xsd:annotation>
									<xsd:documentation>
										The HTTP client connection timeout is the
										number of milliseconds to wait until a connection is
										established. The default value is 0, which means a timeout is
										not used.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="defaultMaxConnectionsPerHost"
								type="xsd:int">
								<xsd:annotation>
									<xsd:documentation>
										The default maximum number of connections
										allowed per host. The default value is 2. 
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="maxTotalConnections" type="xsd:int">
								<xsd:annotation>
									<xsd:documentation>
										The maximum number of overall connections
										allowed.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="maxRetries" type="xsd:int">
								<xsd:annotation>
									<xsd:documentation>
										This parameter sets the maximum number of
										retries to attempt in the event of transient errors.
										Default is
										0.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="retryTimeInterval" type="xsd:int">
								<xsd:annotation>
									<xsd:documentation>
										This parameter sets the number of
										milliseconds to
										wait before the next retry attempt.
										Default is
										60000.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="followRedirects" type="xsd:boolean">
								<xsd:annotation>
									<xsd:documentation>
										Indicates whether HTTP redirects should
										automatically be followed. 
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="allowCompression" type="xsd:boolean">
								<xsd:annotation>
									<xsd:documentation>
										When enabled, the HTTP client is able to
										make better use of available bandwidth and provide faster
										transmission speeds between both servers. 
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="securityEnabled" type="xsd:boolean">
								<xsd:annotation>
									<xsd:documentation>
										This parameter indicates if security is
										enabled on the Solr server.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="adminUserId" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										The user ID used to connect to the Solr
										server if security is enabled.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="adminUserPassword" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										The user password used to connect to the
										Solr server if security is enabled.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="embedded">
						<xsd:annotation>
							<xsd:documentation>
								This setting provides the same interface to
								Solr without requiring an HTTP connection.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the search
						server.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="index">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This is an element to
				define properties of the search index.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:field" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the search
						index.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="object" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The Java object type
						that is used to represent the native search response object.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="cores">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A list of internally
				used search runtime core server settings. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:core" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="core">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Each core is designed
				to store information for a given master catalog per each language.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The name of the
						index.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="indexName" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The name of the index
						the core belongs to.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="serverName" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The name of the
						server.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="path" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The relative path of
						the core.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="synonym" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						(Deprecated) The
						relative path to
						the synonym text file.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="language" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The language of the
						core.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="catalog" type="xsd:long" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The master catalog
						identifier of the
						core.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="profile">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A search profile
				defines a collection that groups a set of search runtime parameters
				(such as search index name, search index fields, expression
				providers, query preprocessor and postprocessor for paging and
				sorting)
				as well as search feature configurations (such as text
				highlighting,
				facets, spell correction).
				So it is possible to control
				the storefront search experience at a
				page level by using different
				search profiles.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:query" minOccurs="0"
					maxOccurs="1" />
				<xsd:element ref="_config:sort" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="_config:group" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="_config:result" minOccurs="0"
					maxOccurs="1" />
				<xsd:element ref="_config:highlight" minOccurs="0"
					maxOccurs="1" />
				<xsd:element ref="_config:facets" minOccurs="0"
					maxOccurs="1" />
				<xsd:element ref="_config:spellcheck" minOccurs="0"
					maxOccurs="1" />
				<xsd:element ref="_config:mapping" minOccurs="0"
					maxOccurs="1" />
				<xsd:element name="navigationSuggestion" type="_config:navigationSuggestionType"
					minOccurs="0" maxOccurs="1"></xsd:element>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the search
						profile. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="indexName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The name of the index
						which the the search profile is for. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="extends" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the search
						profile that it extends from. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="param">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the
						parameter.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="value" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Value of the
						parameter.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="field">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the field.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="value" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Value of the field.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="provider">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A search provider is
				used for compiling a business expression from the caller to an
				executable search engine expression. Depending on the given search
				profile, other business components might also get involved, such as
				marketing for rule-based merchandising, or contract for entitlement.
				Each business component is responsible for contributing a portion of
				the search expression, which gets combined with the main search
				expression. The consolidated search expression is executed by the
				search processor.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="classname" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the classname
						of the Solr expression
						provider from the business component.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="enabled" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether the
						provider is enabled or not.
						Default is true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="preprocessor">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A query pre-processor
				can be used to modify the SolrQuery object right before sending to
				Solr server for processing.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="classname" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the classname
						of the Solr query
						preprocessor from the business component.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="enabled" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether the
						preprocessor is enabled or not.
						Default is true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="postprocessor">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A query post-processor
				can be used to modify the physical data object,
				SolrEntityContainerImpl, right after the
				QueryResponse is returned
				from the Solr server.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="classname" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the classname
						of the Solr query
						postprocessor from the business component.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="enabled" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether the
						postprocessor is enabled or not.
						Default is true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="query">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Index field name, the
				classname for the expression provider,
				and the classname for the
				query preprocessor and postprocessor.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:provider" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:field" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:preprocessor" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:postprocessor" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="inherits" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether or
						not to inherit properties from its parent.
						Defaults to true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="result">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This lists the field
				name will be returned in the result.
				Additional data filtering can
				applied.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:field" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:filter" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="inherits" type="xsd:boolean" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether or
						not to inherit properties from its parent.
						Defaults to true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="sort">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This configuration is
				for defining sorting options and their corresponding values that can
				be used directly from the storefront.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:field" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="inherits" type="xsd:boolean" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether or
						not to inherit properties from its parent.
						Defaults to true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="group">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This configuration is
				for defining result grouping option.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:field" minOccurs="0"
					maxOccurs="1" />
			</xsd:sequence>
			<xsd:attribute name="inherits" type="xsd:boolean" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether or
						not to inherit properties from its parent.
						Defaults to true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="highlight">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The configuration
				declares a list of search index fields to be used for highlighting
				and their associated highlighting behavior at runtime.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:field" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="inherits" type="xsd:boolean" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether or
						not to inherit properties from its parent.
						Defaults to true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="simplePre" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The text which
						appears before a highlighted term when using the simple formatter.
						This parameter accepts per-field overrides.
   					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="simplePost" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The text which
						appears after a highlighted term when using the simple formatter.
						This parameter accepts per-field overrides.
   					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="converter">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A converter is used by
				the search mediator to transform a given value into another object
				form that is suitable for business use.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="field" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Name of the field to
						be converted.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="classname" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This is the classname
						of the Solr facet field
						converter.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="facets">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The configuration
				related to all facets. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:converter" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="_config:category" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="inherits" type="xsd:boolean" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether or
						not to inherit properties from its parent.
						Defaults to true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>


	
	<xsd:element name="excludeFacet">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The configuration
				related to each individual facet to be excluded. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines the name of
						the facet to be excluded.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
		<xsd:element name="facet">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The configuration
				related to each individual facet. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines the name of
						the facet.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="converter" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines the converter
						class to be used at runtime.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="query" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines the query
						facet, with each individual facet
						expression semi-colon separated.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="spellcheck">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This configuration
				provides a meta field name for spell checking.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="inherits" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether or
						not to inherit properties from its parent.
						Defaults to true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="mapping">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This configuration
				provides a custom list of index field mappings.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:param" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="inherits" type="xsd:boolean" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether or
						not to inherit properties from its parent.
						Defaults to true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="category">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A category of a
				catalog. Used for grouping facet-able fields. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="_config:facet" minOccurs="0"
					maxOccurs="unbounded" />
                		<xsd:element ref="_config:excludeFacet" minOccurs="0" 
					maxOccurs="unbounded" />
            </xsd:sequence>
			<xsd:attribute name="scope" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						A list of internal
						category identifier for scoping.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="filter">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A filter is used by the
				search mediator to modify a data object into
				another object form that
				is suitable for business use.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="classname" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						A class
						implementation name of the filter.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="enabled" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Defines whether the
						filter is enabled or not.
						Default is true.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="navigationSuggestionType">
		<xsd:sequence>
			<xsd:element name="suggestion" type="_config:suggestionType"
				minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="suggestionType">
		<xsd:sequence>
			<xsd:element ref="_config:param" minOccurs="0" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="handler" type="xsd:string" form="unqualified"
			use="required">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="queryMapping">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Maps an XPath key to a
				search query template.	
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="indexName" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The name of the index
						for the search query defined in this mapping.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="xpathKey" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The xpathKey
						attribute is the normalized representation of the XPath
						expression.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="searchQuery" type="xsd:string"
				use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						This attribute
						represents a search query expression template.
						Within search query
						templates, you can use parameters to substitute
						values in search
						queries. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="queryComposer" type="xsd:string"
				use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The class name of the query composer which
						needs
						to be used to convert the XPath query to Solr search query.
						The
						query composer must extend the class,
						AbstractSolrSearchQueryComposer.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>