WebServicesRouter/WebContent/services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePaymentInstruction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
	For support, more information, or to report implementation bugs, 
	please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
	
	** Revision:  IBM_WebSphere_Commerce 1.0 **
	
	Copyright IBM (c) 2005-2006, All Rights Reserved
	
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	ecore:package="com.ibm.commerce.payment.datatypes" ecore:nsPrefix="Payment"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/payment"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	xmlns:pay="http://www.ibm.com/xmlns/prod/commerce/payment" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<annotation>
		<documentation>
			This payment XML schema file defines the ChangePaymentInstruction BOD which is used to
			change a payment instruction.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../../../Oagis9Dependencies.xsd" />

	<include schemaLocation="../Resources/Nouns/PaymentInstruction.xsd" />

	<element name="ChangePaymentInstruction" type="pay:ChangePaymentInstructionType">
		<annotation>
			<documentation>Element definition of the ChangePaymentInstruction BOD.</documentation>
		</annotation>
	</element>

	<complexType name="ChangePaymentInstructionType">
		<annotation>
			<documentation>Type definition of the ChangePaymentInstruction BOD.</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="pay:ChangePaymentInstructionDataAreaType">
						<annotation>
							<documentation>
								Data area of the ChangePaymentInstruction BOD.
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ChangePaymentInstructionDataAreaType">
		<annotation>
			<documentation>
				Type definition of the ChangePaymentInstruction BOD's data area.
			</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Change">
				<annotation>
					<documentation>The Change verb.</documentation>
				</annotation>
			</element>
			<element ref="pay:PaymentInstruction" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The PaymentInstruction noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
