WebServicesRouter/WebContent/services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
    For support, more information, or to report implementation bugs, 
    please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
     
    ** Revision:  IBM_WebSphere_Commerce 1.0 **
   
    Copyright IBM (c) 2005-2006, All Rights Reserved

 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	ecore:package="com.ibm.commerce.order.datatypes" ecore:nsPrefix="Order"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/order"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	xmlns:ord="http://www.ibm.com/xmlns/prod/commerce/order" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<annotation>
		<documentation>
			This order XML schema file defines the GetOrder BOD which is used to get an
			order or list of orders.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../../../Oagis9Dependencies.xsd" />

	<include schemaLocation="../Resources/Nouns/Order.xsd" />

	<element name="GetOrder" type="ord:GetOrderType">
		<annotation>
			<documentation>
				Element definition of the GetOrder BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="GetOrderType">
		<annotation>
			<documentation>
				Type definition of the GetOrder BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="ord:GetOrderDataAreaType">
						<annotation>
							<documentation>Data area of the GetOrder BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="GetOrderDataAreaType">
		<annotation>
			<documentation>Type definition of the GetOrder BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Get">
				<annotation>
					<documentation>The Get verb.</documentation>
				</annotation>
			</element>
			<element ref="ord:Order" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The Order noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
