WebServicesRouter/WebContent/services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/SyncPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
    For support, more information, or to report implementation bugs, 
    please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
     
    ** Revision:  IBM_WebSphere_Commerce 1.0 **
   
    Copyright IBM (c) 2005-2006, All Rights Reserved

 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	ecore:package="com.ibm.commerce.member.datatypes" ecore:nsPrefix="Member"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/member"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	xmlns:mbr="http://www.ibm.com/xmlns/prod/commerce/member" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../../../Oagis9Dependencies.xsd" />

	<include schemaLocation="../Resources/Nouns/Person.xsd" />


	<complexType name="SyncPersonType">
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="mbr:SyncPersonDataAreaType" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SyncPersonDataAreaType">
		<sequence>
			<element ref="oa:Sync" />
			<element ref="mbr:Person" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="SyncPerson" type="mbr:SyncPersonType" />

</schema>
