WebServicesRouter/WebContent/xsd/OAGIS/9.0/BODs/Developer/UpdateInventoryBalance.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.
    
     XML Schema 
     
    Name: \OAGIS\9.0\BODs\Developer\UpdateInventoryBalance.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/9" targetNamespace="http://www.openapplications.org/oagis/9" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../../Resources/Nouns/InventoryBalance.xsd"/>
        <xsd:element name="UpdateInventoryBalance" type="UpdateInventoryBalanceType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The purpose of the ChangeInventoryBalance is to enable the communication of a Change in the InventoryBalance data that exists on separate Inventory databases.

This data is not the master data that describes the attributes of the item such as dimensions, weight, or unit of measure.  

This is data that describes the ITEM as it exists at a specific location. It is</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="UpdateInventoryBalanceType">
                <xsd:complexContent>
                        <xsd:extension base="BusinessObjectDocumentType">
                                <xsd:sequence>
                                        <xsd:element name="DataArea" type="UpdateInventoryBalanceDataAreaType">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is where the information that the BOD message carries is provided, in this case UpdateInventoryBalance. The information consists of a Verb and one or more Nouns. The verb (Update) indicates the action to be performed on the Noun (InventoryBalance).</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="UpdateInventoryBalanceDataAreaType">
                <xsd:sequence>
                        <xsd:element ref="Update"/>
                        <xsd:element ref="InventoryBalance" maxOccurs="unbounded"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
