WC/xml/trading/dtd/B2BProductSet.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!--WCS B2B ProductSet Document DTD-->
<!ELEMENT ProductSet (PSInclusionList?,PSExclusionList?,ProductSetOwner,CatalogOwner?)>
<!ATTLIST ProductSet
 name CDATA #REQUIRED
 catalogReferenceNumber CDATA #IMPLIED
 referenceNumber CDATA #IMPLIED
 description CDATA #IMPLIED
 catalogIdentifier CDATA #IMPLIED
>
<!ELEMENT PSInclusionList (CatalogEntry*,CatalogGroup*)>
<!ELEMENT PSExclusionList (CatalogEntry*,CatalogGroup*)>
<!ELEMENT CatalogEntry (Member?)>
<!ATTLIST CatalogEntry
 catalogEntryReferenceNumber CDATA #IMPLIED
 partNumber CDATA #IMPLIED
>
<!ELEMENT CatalogGroup (Member?)>
<!ATTLIST CatalogGroup
 catalogGroupReferenceNumber CDATA #IMPLIED
 groupIdentifier CDATA #IMPLIED
>
<!ELEMENT Member (User|Organization|MemberGroup)>
<!ELEMENT User EMPTY>
<!ATTLIST User
 distinguishName CDATA #REQUIRED
>
<!ELEMENT Organization EMPTY>
<!ATTLIST Organization
 distinguishName CDATA #REQUIRED
>
<!ELEMENT MemberGroup (Organization|User)>
<!ATTLIST MemberGroup
 memberGroupName CDATA #REQUIRED
>
<!ELEMENT CatalogOwner (Member)>
<!ELEMENT ProductSetOwner (Member)>

