WC/xml/trading/dtd/B2BTrading.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!--WCS B2B Trading Document DTD
-->
<!ELEMENT Trading (Contract*|ContractNationalLanguageDescription*|Account*)>
<!ATTLIST Trading
	loadItemName CDATA #REQUIRED 
>
<!--This is the top element for a Contrat Document-->
<!ELEMENT Contract (ContractOwner,AccountOwner?,ContractDescription?,Participant*,Attachment*,CreateTime?,UpdateTime?,TermCondition*,StartTime?,EndTime?)>
<!ATTLIST Contract
 state (Active | Pending | Approved | Draft | Closed | Reject | Suspended | DeploymentInProgress | DeploymentFailed | Cancelled) #IMPLIED
 origin (RFQ | Manual | Imported | 2-Party | Auction | Exchange | Deployment) #REQUIRED
 referenceNumber CDATA #IMPLIED
 name CDATA #REQUIRED
 majorVersionNumber CDATA "1"
 minorVersionNumber CDATA "0"
 comment CDATA #IMPLIED
 contractUsage (Reseller | OrganizationBuyer | SpecialBid | Default) #REQUIRED
 accountName CDATA #IMPLIED
 creditAllowed (true | false) #IMPLIED
>
<!--A description about the contract.-->
<!ELEMENT ContractDescription (CreateTime?,UpdateTime?)>
<!ATTLIST ContractDescription
 title CDATA #REQUIRED
 longDescription CDATA #IMPLIED
 languageId CDATA #REQUIRED
>
<!ELEMENT Participant (CreateTime?,UpdateTime?,Member?)>
<!ATTLIST Participant
 role (Buyer | Seller | Supplier | Attorney | AccountHolder | Creator | BuyerContact | SellerContact) #REQUIRED
 information CDATA #IMPLIED
 action (new | update | delete | noaction) #IMPLIED
>
<!ELEMENT Attachment EMPTY>
<!ATTLIST Attachment
 mimeType CDATA #IMPLIED
 mimeTypeEncoding CDATA #IMPLIED
 URL CDATA #REQUIRED
 action (new | delete | noaction) #IMPLIED
>
<!ELEMENT TermCondition (TermConditionDescription?,Participant*,CreateTime?,UpdateTime?,(PriceTC|ProductSetTC|ShippingTC|FulfillmentTC|PaymentTC|ReturnTC|InvoiceTC|RightToBuyTC|ObligationToBuyTC|PurchaseOrderTC|OrderApprovalTC|DisplayCustomizationTC|OrderTC|Property*))>
<!ATTLIST TermCondition
 referenceNumber CDATA #IMPLIED
 action (new | update | delete | noaction) #IMPLIED
 mandatory (true | false) #IMPLIED
 changeable (true | false) #IMPLIED
 sequenceNumber CDATA #IMPLIED
 type CDATA #IMPLIED
>
<!ELEMENT Property EMPTY>
<!ATTLIST Property
 name CDATA #REQUIRED
 value CDATA #REQUIRED
>
<!ELEMENT TermConditionDescription (CreateTime?,UpdateTime?)>
<!ATTLIST TermConditionDescription
 shortDescription CDATA #REQUIRED
 longDescription CDATA #IMPLIED
 languageId CDATA #REQUIRED
 sequenceNumber CDATA #IMPLIED
>
<!--
A Price T&C defines a set of items and their corresponding prices. Products defined in
a price T&C can be excluded by a ProdcutSet T&C.-->
<!ELEMENT PriceTC (PriceTCPriceListWithOptionalAdjustment|PriceTCPriceListWithSelectiveAdjustment|PriceTCCustomPriceList|PriceTCMasterCatalogWithOptionalAdjustment)>
<!--This T&C defines a price adjustment over a standard price policy.-->
<!ELEMENT PriceTCPriceListWithOptionalAdjustment (PriceListPolicyReference,PriceAdjustment?)>
<!ELEMENT PriceListPolicyReference (PolicyReference)>
<!ELEMENT PolicyReference (Member)>
<!ATTLIST PolicyReference
 policyName CDATA #REQUIRED
 policyType (Price | Payment | ShippingMode | ShippingCharge | ReturnCharge | InvoiceFormat | ProductSet | ReturnPayment | ReturnApproval) #REQUIRED
 storeIdentity CDATA #REQUIRED
>
<!ELEMENT PriceAdjustment EMPTY>
<!ATTLIST PriceAdjustment
 signedPercentage CDATA #REQUIRED
>
<!ELEMENT PriceTCPriceListWithSelectiveAdjustment (PriceListPolicyReference,PriceAdjustmentOnProductSet)>
<!ELEMENT PriceAdjustmentOnProductSet (ProductSetInclusion,PriceAdjustment)>
<!ELEMENT PriceTCMasterCatalogWithOptionalAdjustment (PriceAdjustment?)>
<!ELEMENT PriceTCCustomPriceList (PriceList)>
<!--A product set TC is used to define the products that can be traded under a contract.
If a ProductSetTCInclusion exists, only items defined in this TC can be traded under this contract.
If no ProductSetTCInclusion exists, items are implicitly defined by a PriceTC but can be excluded by a ProductSetTCExclusion.
ProductSetExclusion takes precedence over ProductSetIcludsion if they overlap.-->
<!ELEMENT ProductSetTC (ProductSetTCExclusion|ProductSetTCInclusion|ProductSetTCCustomExclusion|ProductSetTCCustomInclusion)>
<!ELEMENT ProductSetTCExclusion (ProductSetPolicyReference)>
<!ELEMENT ProductSetTCInclusion (ProductSetPolicyReference)>
<!ELEMENT ProductSetTCCustomExclusion (ProductSet)>
<!ELEMENT ProductSetTCCustomInclusion (ProductSet)>
<!ELEMENT ProductSetExclusion (ProductSetPolicyReference|ProductSet)>
<!ELEMENT ProductSetInclusion (ProductSetPolicyReference|ProductSet)>
<!ELEMENT ProductSetPolicyReference (PolicyReference)>
<!ELEMENT ShippingTC (ShippingTCShippingMode|ShippingTCShippingCharge|ShippingTCShipToAddress)>
<!ELEMENT ShippingTCShippingMode (PolicyReference)>
<!ELEMENT ShippingTCShippingCharge (PolicyReference)>
<!ELEMENT ShippingTCShipToAddress (AddressReference)>
<!ELEMENT FulfillmentTC (FulfillmentCenter+)>
<!ELEMENT PaymentTC (PaymentMethod)>
<!ELEMENT ReturnTC (ReturnTCReturnCharge|ReturnTCRefundPaymentMethod)>
<!ELEMENT ReturnTCReturnCharge (ReturnChargePolicyReference,ReturnApprovalPolicyReference)>
<!ELEMENT ReturnTCRefundPaymentMethod (PolicyReference)>
<!ELEMENT InvoiceTC (InvoiceFormatPolicyReference?)>
<!ATTLIST InvoiceTC
 deliveryMethod (printed | eMail | regularMail) #IMPLIED
>
<!ELEMENT InvoiceFormatPolicyReference (PolicyReference)>
<!ELEMENT RightToBuyTC (RightToBuyTCByAmount)>
<!ELEMENT RightToBuyTCByAmount (AllowablePurchaseTotal)>
<!ELEMENT ObligationToBuyTC (ObligationToBuyTCByAmount)>
<!ELEMENT ObligationToBuyTCByAmount (ObligatedPurchaseTotal)>
<!ATTLIST ObligationToBuyTCByAmount
 numberOfDays CDATA #IMPLIED
>
<!ELEMENT AllowablePurchaseTotal (MonetaryAmount)>
<!ELEMENT ObligatedPurchaseTotal (MonetaryAmount)>
<!ELEMENT PurchaseOrderTC (POTCLimited|POTCIndividual|POTCBlanket)>
<!ELEMENT POTCLimited (SpendingLimit)>
<!ATTLIST POTCLimited
 PONumber CDATA #REQUIRED
>
<!ELEMENT POTCIndividual EMPTY>
<!ATTLIST POTCIndividual
 checkUniqueness (true | false) #IMPLIED
>
<!ELEMENT POTCBlanket EMPTY>
<!ATTLIST POTCBlanket
 PONumber CDATA #IMPLIED
>
<!ELEMENT SpendingLimit (MonetaryAmount)>
<!ELEMENT PaymentMethod (PolicyReference,BillToAddress?,PaymentMethodDisplayString,AttributeDetail*)>
<!ELEMENT PaymentMethodDisplayString EMPTY>
<!ATTLIST PaymentMethodDisplayString
 name CDATA #REQUIRED
>
<!ELEMENT BillToAddress (AddressReference)>
<!ELEMENT AddressReference (Member)>
<!ATTLIST AddressReference
 nickName CDATA #REQUIRED
>
<!ELEMENT MonetaryAmount EMPTY>
<!ATTLIST MonetaryAmount
 value CDATA #REQUIRED
 currency CDATA #REQUIRED
>
<!ELEMENT OrderApprovalTC (MonetaryAmount)>
<!ELEMENT ProductSet (PSInclusionList?,PSExclusionList?,ProductSetOwner,CatalogOwner?)>
<!ATTLIST ProductSet
 name CDATA #REQUIRED
 catalogReferenceNumber CDATA #IMPLIED
 referenceNumber CDATA #IMPLIED
 description CDATA #IMPLIED
 catalogIdentifier CDATA #IMPLIED
>
<!ELEMENT PSInclusionList (CatalogEntry*,CatalogGroup*)>
<!ELEMENT PSExclusionList (CatalogEntry*,CatalogGroup*)>
<!ELEMENT CatalogEntry (Member?)>
<!ATTLIST CatalogEntry
 catalogEntryReferenceNumber CDATA #IMPLIED
 partNumber CDATA #IMPLIED
>
<!ELEMENT CatalogGroup (Member?)>
<!ATTLIST CatalogGroup
 catalogGroupReferenceNumber CDATA #IMPLIED
 groupIdentifier CDATA #IMPLIED
>
<!ELEMENT GMTTimeStamp EMPTY>
<!ATTLIST GMTTimeStamp
 year CDATA "2001"
 month (01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12) #REQUIRED
 date (01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31) #REQUIRED
 hour (01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 00) #IMPLIED
 minute CDATA "00"
 second CDATA "00"
>
<!ELEMENT StartTime (GMTTimeStamp)>
<!ELEMENT EndTime (GMTTimeStamp)>
<!ELEMENT CreateTime (GMTTimeStamp)>
<!ELEMENT UpdateTime (GMTTimeStamp)>
<!ELEMENT AttributeDetail (AttributeValue+)>
<!ATTLIST AttributeDetail
 attributeName CDATA #IMPLIED
>
<!ELEMENT PurchaseAmount (MonetaryAmount)>
<!ELEMENT DisplayCustomizationTC (DisplayLogo)>
<!ATTLIST DisplayCustomizationTC
 sequenceNumber CDATA #REQUIRED
>
<!ELEMENT DisplayLogo (Attachment)>
<!--This is the top element for an Account document.-->
<!ELEMENT Account (AccountDescription,Participant*,CreateTime?,UpdateTime?,TermCondition*,AccountOwner,StoreOwner?)>
<!ATTLIST Account
 referenceNumber CDATA #IMPLIED
 name CDATA #REQUIRED
 state (active | suspend) #IMPLIED
 comment CDATA #IMPLIED
 allowStoreDefaultContract (true | false) #IMPLIED
 storeIdentity CDATA #IMPLIED
>
<!ELEMENT AccountDescription EMPTY>
<!ATTLIST AccountDescription
 shortDescription CDATA #IMPLIED
 longDescription CDATA #IMPLIED
 languageId CDATA #IMPLIED
>
<!ELEMENT PriceList (Offer*,Member)>
<!ATTLIST PriceList
 referenceNumber ID #IMPLIED
 name CDATA #REQUIRED
 description CDATA #IMPLIED
 precedence CDATA #REQUIRED
 type (C | S) #REQUIRED
>
<!ELEMENT Offer (OfferPrice+,UpdateTime?,StartTime?,EndTime?,PurchaseLimits?,Member)>
<!ATTLIST Offer
 referenceNumber ID #IMPLIED
 maximumPurchaseQuantity CDATA #IMPLIED
 minimumPurchaseQuantity CDATA #IMPLIED
 published (Published | NotPublished | MarkedForDelete) #REQUIRED
 quantityUnit CDATA #REQUIRED
 skuNumber CDATA #REQUIRED
 precedence CDATA #IMPLIED
 field1 CDATA #IMPLIED
>
<!ELEMENT OfferPrice (MonetaryAmount)>
<!ELEMENT OrderTCOrderItemPAttribute (AttributeDetail+,SkuOwner)>
<!ATTLIST OrderTCOrderItemPAttribute
 skuNumber CDATA #REQUIRED
>
<!ELEMENT ReturnChargePolicyReference (PolicyReference)>
<!ELEMENT ReturnApprovalPolicyReference (PolicyReference)>
<!ELEMENT AttributeValue EMPTY>
<!ATTLIST AttributeValue
 value CDATA #REQUIRED
 operator CDATA #IMPLIED
 unit CDATA #IMPLIED
>
<!ELEMENT OrderTCOrderComment EMPTY>
<!ATTLIST OrderTCOrderComment
 comment CDATA #REQUIRED
>
<!ELEMENT OrderTC (OrderTCOrderItemPAttribute|OrderTCOrderComment)>
<!ELEMENT FulfillmentCenter (Member)>
<!ATTLIST FulfillmentCenter
 name CDATA #REQUIRED
>
<!--b-->
<!ELEMENT PurchaseLimits (PurchaseLimitByAmount|PurchaseLimitByQuantity)>
<!ELEMENT PurchaseLimitByAmount EMPTY>
<!ATTLIST PurchaseLimitByAmount
 minimumAmount CDATA #IMPLIED
 maximumAmount CDATA #IMPLIED
 currency CDATA #REQUIRED
>
<!ELEMENT PurchaseLimitByQuantity EMPTY>
<!ATTLIST PurchaseLimitByQuantity
 minimumQuantity CDATA #IMPLIED
 maximumQuantity CDATA #IMPLIED
>
<!ELEMENT Member (User|Organization|MemberGroup)>
<!ELEMENT User EMPTY>
<!ATTLIST User
 distinguishName CDATA #REQUIRED
>
<!ELEMENT Organization EMPTY>
<!ATTLIST Organization
 distinguishName CDATA #REQUIRED
>
<!ELEMENT MemberGroup (Organization|User)>
<!ATTLIST MemberGroup
 memberGroupName CDATA #REQUIRED
>
<!ELEMENT CatalogOwner (Member)>
<!ELEMENT ProductSetOwner (Member)>
<!ELEMENT AccountOwner (Member)>
<!ELEMENT SkuOwner (Member)>
<!ELEMENT StoreOwner (Member)>
<!ELEMENT ContractNationalLanguageDescription (ContractDescription?,TermConditionDescription*,ContractOwner)>
<!ATTLIST ContractNationalLanguageDescription
 name CDATA #REQUIRED
 origin CDATA #REQUIRED
 majorVersionNumber CDATA #REQUIRED
 minorVersionNumber CDATA #REQUIRED
>
<!ELEMENT ContractOwner (Member)>

