WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeOnlineStore.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ifr="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"
	ecore:nsPrefix="_ifr" 
	ecore:package="com.ibm.commerce.infrastructure.facade.datatypes">

	<annotation>
		<documentation>
			This XML schema file defines the AcknowledgeOnlineStore BOD which is used to acknowledge
			the ProcessOnlineStore BOD.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />				

	<include schemaLocation="../Resources/Nouns/OnlineStore.xsd" />

	<element name="AcknowledgeOnlineStore" type="_ifr:AcknowledgeOnlineStoreType">
		<annotation>
			<documentation>
				Element definition of the AcknowledgeOnlineStore BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="AcknowledgeOnlineStoreType">
		<annotation>
			<documentation>
				Type definition of the AcknowledgeOnlineStore BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_ifr:AcknowledgeOnlineStoreDataAreaType">
						<annotation>
							<documentation>Data area of the AcknowledgeOnlineStore BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AcknowledgeOnlineStoreDataAreaType">
		<annotation>
			<documentation>Type definition of the AcknowledgeOnlineStore BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Acknowledge">
				<annotation>
					<documentation>The Acknowledge verb.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="unbounded" ref="_ifr:OnlineStore">
				<annotation>
					<documentation>The OnlineStore noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>