WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeWalletItem.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:_wal="http://www.ibm.com/xmlns/prod/commerce/9/wallet"
	attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/wallet" ecore:nsPrefix="_wal" ecore:package="com.ibm.commerce.wallet.facade.datatypes">

	<annotation>
		<documentation>
			This XML schema file defines the AcknowledgeWalletItem BOD which is used to acknowledge
			the ProcessWalletItem BOD.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../Resources/Components/Common/Meta.xsd"/>

	<include schemaLocation="../Resources/Nouns/WalletItem.xsd"/>

	<element name="AcknowledgeWalletItem" type="_wal:AcknowledgeWalletItemType">
		<annotation>
			<documentation>
				Element definition of the AcknowledgeWalletItem BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="AcknowledgeWalletItemType">
		<annotation>
			<documentation>
				Type definition of the AcknowledgeWalletItem BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_wal:AcknowledgeWalletItemDataAreaType">
						<annotation>
							<documentation>Data area of the AcknowledgeWalletItem BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AcknowledgeWalletItemDataAreaType">
		<annotation>
			<documentation>Type definition of the AcknowledgeWalletItem BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Acknowledge">
				<annotation>
					<documentation>The Acknowledge verb.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="unbounded" ref="_wal:WalletItem">
				<annotation>
					<documentation>The WalletItem noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>