WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeStorePage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ifr="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"
	ecore:nsPrefix="_ifr" 
	ecore:package="com.ibm.commerce.infrastructure.facade.datatypes">

	<annotation>
			<documentation>Element definition of the ChangeStorePage BOD.</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/StorePage.xsd" />

	<element name="ChangeStorePage" type="_ifr:ChangeStorePageType">
		<annotation>
			<documentation>
				Element definition of the ChangeStorePage BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="ChangeStorePageType">
		<annotation>
			<documentation>
				Type definition of the ChangeStorePage BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_ifr:ChangeStorePageDataAreaType">
						<annotation>
							<documentation>Data area of the ChangeStorePage BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ChangeStorePageDataAreaType">
		<annotation>
			<documentation>Type definition of the ChangeStorePage BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Change">
				<annotation>
					<documentation>The Change verb.</documentation>
				</annotation>
			</element>
			<element ref="_ifr:StorePage" maxOccurs="unbounded">
				<annotation>
					<documentation>The StorePage noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
