WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeMemberGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2008                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:IBM="http://www.ibm.com/xmlns/prod/commerce/9/member"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/member"
	ecore:nsPrefix="IBM" 
	ecore:package="com.ibm.commerce.member.facade.datatypes">

	<annotation>
		<documentation>
			<![CDATA[
				<Service name="ChangeMemberGroup">
					<ActionCode></ActionCode>
					<ActionExpression></ActionExpression>
					<Description>
							Change the MemberGroup nouns
					</Description>
				</Service>
			]]>
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/MemberGroup.xsd" />

	<element name="ChangeMemberGroup" type="IBM:ChangeMemberGroupType">
		<annotation>
			<documentation>
				Element definition of the ChangeMemberGroup BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="ChangeMemberGroupType">
		<annotation>
			<documentation>
				Type definition of the ChangeMemberGroup BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="IBM:ChangeMemberGroupDataAreaType">
						<annotation>
							<documentation>Data area of the ChangeMemberGroup BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ChangeMemberGroupDataAreaType">
		<annotation>
			<documentation>Type definition of the ChangeMemberGroup BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Change">
				<annotation>
					<documentation>The Change verb.</documentation>
				</annotation>
			</element>
			<element ref="IBM:MemberGroup" maxOccurs="unbounded">
				<annotation>
					<documentation>The MemberGroup noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
