WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeManagedDirectory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2007                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<annotation>
		<documentation>
			<![CDATA[
				<Service name="ChangeManagedDirectory">
					<ActionCode>Update</ActionCode>
					<ActionExpression></ActionExpression>
					<Description>
							Update the Managed Diretory.  For example,  the dispaly name of the Managed Directory.
					</Description>
				</Service>
			]]>
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/ManagedDirectory.xsd" />

	<element name="ChangeManagedDirectory" type="_cnt:ChangeManagedDirectoryType">
		<annotation>
			<documentation>
				Element definition of the ChangeManagedDirectory BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="ChangeManagedDirectoryType">
		<annotation>
			<documentation>
				Type definition of the ChangeManagedDirectory BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_cnt:ChangeManagedDirectoryDataAreaType">
						<annotation>
							<documentation>Data area of the ChangeManagedDirectory BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ChangeManagedDirectoryDataAreaType">
		<annotation>
			<documentation>Type definition of the ChangeManagedDirectory BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Change">
				<annotation>
					<documentation>The Change verb.</documentation>
				</annotation>
			</element>
			<element ref="_cnt:ManagedDirectory" maxOccurs="unbounded">
				<annotation>
					<documentation>The ManagedDirectory noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
