WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeContentVersion.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<annotation>
		<documentation>
			This ContentVersion XML schema file defines the ChangeContentVersion BOD which is to change
			a ContentVerson or a list of ContentVersions.			
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />					

	<include schemaLocation="../Resources/Nouns/ContentVersion.xsd" />
	
	<element name="ChangeContentVersion" type="_cnt:ChangeContentVersionType">
		<annotation>
			<documentation>
				Element definition of the ChangeContentVersion BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="ChangeContentVersionType">
		<annotation>
			<documentation>
				Type definition of the ChangeContentVersion BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_cnt:ChangeContentVersionDataAreaType">
						<annotation>
							<documentation>Data area of the ChangeContentVersion BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ChangeContentVersionDataAreaType">
		<annotation>
			<documentation>Type definition of the ChangeContentVersion BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Change">
				<annotation>
					<documentation>The Change verb.</documentation>
				</annotation>
			</element>
			<element ref="_cnt:ContentVersion" maxOccurs="unbounded">
				<annotation>
					<documentation>The ContentVersion noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
