WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetContract.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ctr="http://www.ibm.com/xmlns/prod/commerce/9/contract"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/contract"
	ecore:nsPrefix="_ctr" 
	ecore:package="com.ibm.commerce.contract.facade.datatypes">

	<annotation>
		<documentation>
			This Contract XML schema file defines the GetContract BOD which is used <!-- YOUR INPUT -->
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/Contract.xsd" />

	<element name="GetContract" type="_ctr:GetContractType">
		<annotation>
			<documentation>
				Element definition of the GetContract BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="GetContractType">
		<annotation>
			<documentation>
				Type definition of the GetContract BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_ctr:GetContractDataAreaType">
						<annotation>
							<documentation>Data area of the GetContract BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="GetContractDataAreaType">
		<annotation>
			<documentation>Type definition of the GetContract BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Get">
				<annotation>
					<documentation>The Get verb.</documentation>
				</annotation>
			</element>
			<element ref="_ctr:Contract" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The Contract noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>

