WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetManagedFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2007                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<annotation>
		<documentation>
			<![CDATA[
				<Service name="GetManagedFileByUniqueID">
					<ActionCode></ActionCode>
					<ActionExpression>
						/ManagedFile[ManagedFileIdentifier[UniqueID=$uniqueId$]]
					</ActionExpression>
					<Description>
							Find the Managed File by unquie ID.
					</Description>
				</Service>
				<Service name="GetManagedFile">
					<ActionCode></ActionCode>
					<ActionExpression>
						/ManagedFile[ManagedFileIdentifier[ExternalIdentifier[[FileName=$fileName$] and [FilePath=$filePath$]]]]
					</ActionExpression>
					<Description>
							Find the Managed File by file name and file path.
					</Description>
				</Service>
			]]>
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/ManagedFile.xsd" />

	<element name="GetManagedFile" type="_cnt:GetManagedFileType">
		<annotation>
			<documentation>
				Element definition of the GetManagedFile BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="GetManagedFileType">
		<annotation>
			<documentation>
				Type definition of the GetManagedFile BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_cnt:GetManagedFileDataAreaType">
						<annotation>
							<documentation>Data area of the GetManagedFile BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="GetManagedFileDataAreaType">
		<annotation>
			<documentation>Type definition of the GetManagedFile BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Get">
				<annotation>
					<documentation>The Get verb.</documentation>
				</annotation>
			</element>
			<element ref="_cnt:ManagedFile" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The ManagedFile noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>

