WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetWorkspace.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<annotation>
		<documentation>
			This XML schema file defines the standard OAGIS business object document used for retrieving one or more workspace nouns.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/Workspace.xsd" />

	<element name="GetWorkspace" type="_cnt:GetWorkspaceType">
		<annotation>
			<documentation>
				Element definition of the GetWorkspace BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="GetWorkspaceType">
		<annotation>
			<documentation>
				Type definition of the GetWorkspace BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_cnt:GetWorkspaceDataAreaType">
						<annotation>
							<documentation>Data area of the GetWorkspace BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="GetWorkspaceDataAreaType">
		<annotation>
			<documentation>Type definition of the GetWorkspace BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Get">
				<annotation>
					<documentation>The Get verb.</documentation>
				</annotation>
			</element>
			<element ref="_cnt:Workspace" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The Workspace noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>

