WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPriceRule.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_prc="http://www.ibm.com/xmlns/prod/commerce/9/price"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/price"
	ecore:nsPrefix="_prc" 
	ecore:package="com.ibm.commerce.price.facade.datatypes">

	<annotation>
		<documentation>
			<![CDATA[
				<Service name="ProcessPriceRule">
					<ActionCode></ActionCode>
					<ActionExpression></ActionExpression>
					<Description>
							Process the PriceRule nouns
					</Description>
				</Service>
			]]>
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/PriceRule.xsd" />

	<element name="ProcessPriceRule" type="_prc:ProcessPriceRuleType">
		<annotation>
			<documentation>
				Element definition of the ProcessPriceRule BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="ProcessPriceRuleType">
		<annotation>
			<documentation>
				Type definition of the ProcessPriceRule BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_prc:ProcessPriceRuleDataAreaType">
						<annotation>
							<documentation>Data area of the ProcessPriceRule BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ProcessPriceRuleDataAreaType">
		<annotation>
			<documentation>Type definition of the ProcessPriceRule BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Process">
				<annotation>
					<documentation>The Process verb.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="unbounded" ref="_prc:PriceRule">
				<annotation>
					<documentation>The PriceRule noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
