WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondInstallmentRule.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2009, 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
 
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ins="http://www.ibm.com/xmlns/prod/commerce/9/installment"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/installment"
	ecore:nsPrefix="_ins" 
	ecore:package="com.ibm.commerce.installment.facade.datatypes">

	<annotation>
		<documentation>
			This InstallmentRule XML schema file defines the AcknowledgeInstallmentRule BOD which is used to acknowledge
			the ProcessInstallmentRule BOD.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/InstallmentRule.xsd" />

	<element name="RespondInstallmentRule" type="_ins:RespondInstallmentRuleType">
		<annotation>
			<documentation>
				Element definition of the AcknowledgeInstallmentRule BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="RespondInstallmentRuleType">
		<annotation>
			<documentation>
				Type definition of the AcknowledgeInstallmentRule BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_ins:RespondInstallmentRuleDataAreaType">
						<annotation>
							<documentation>Data area of the AcknowledgeInstallmentRule BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RespondInstallmentRuleDataAreaType">
		<annotation>
			<documentation>Type definition of the AcknowledgeInstallmentRule BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Respond">
				<annotation>
					<documentation>The Acknowledge verb.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" ref="_ins:InstallmentRule">
				<annotation>
					<documentation>The InstallmentRule noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
