WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondGiftList.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2009, 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_gft="http://www.ibm.com/xmlns/prod/commerce/9/giftcenter"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/giftcenter"
	ecore:nsPrefix="_gft" 
	ecore:package="com.ibm.commerce.giftcenter.facade.datatypes">

	<annotation>
		<documentation>
			This GiftList XML schema file defines the AcknowledgeGiftList BOD which is used to acknowledge
			the ProcessGiftList BOD.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/GiftList.xsd" />

	<element name="RespondGiftList" type="_gft:RespondGiftListType">
		<annotation>
			<documentation>
				Element definition of the AcknowledgeGiftList BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="RespondGiftListType">
		<annotation>
			<documentation>
				Type definition of the AcknowledgeGiftList BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_gft:RespondGiftListDataAreaType">
						<annotation>
							<documentation>Data area of the AcknowledgeGiftList BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RespondGiftListDataAreaType">
		<annotation>
			<documentation>Type definition of the AcknowledgeGiftList BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Respond">
				<annotation>
					<documentation>The Acknowledge verb.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" ref="_gft:GiftList">
				<annotation>
					<documentation>The GiftList noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
