WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ifr="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"
	ecore:nsPrefix="_ifr" 
	ecore:package="com.ibm.commerce.infrastructure.facade.datatypes">

	<annotation>
		<documentation>
			This Folder XML schema file defines the AcknowledgeFolder BOD which is used to acknowledge
			the ProcessFolder BOD.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/Folder.xsd" />

	<element name="RespondFolder" type="_ifr:RespondFolderType">
		<annotation>
			<documentation>
				Element definition of the AcknowledgeFolder BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="RespondFolderType">
		<annotation>
			<documentation>
				Type definition of the AcknowledgeFolder BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_ifr:RespondFolderDataAreaType">
						<annotation>
							<documentation>Data area of the AcknowledgeFolder BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RespondFolderDataAreaType">
		<annotation>
			<documentation>Type definition of the AcknowledgeFolder BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Respond">
				<annotation>
					<documentation>The Acknowledge verb.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" ref="_ifr:Folder">
				<annotation>
					<documentation>The Folder noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
