WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondInventoryAvailability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2008                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->


<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_inv="http://www.ibm.com/xmlns/prod/commerce/9/inventory"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/inventory"
	ecore:nsPrefix="_inv" 
	ecore:package="com.ibm.commerce.inventory.facade.datatypes">

	<annotation>
		<documentation>
			This InventoryAvailability XML schema file defines the AcknowledgeInventoryAvailability BOD which is used to acknowledge
			the ProcessInventoryAvailability BOD.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/InventoryAvailability.xsd" />

	<element name="RespondInventoryAvailability" type="_inv:RespondInventoryAvailabilityType">
		<annotation>
			<documentation>
				Element definition of the AcknowledgeInventoryAvailability BOD.
			</documentation>
		</annotation>
	</element>

	<complexType name="RespondInventoryAvailabilityType">
		<annotation>
			<documentation>
				Type definition of the AcknowledgeInventoryAvailability BOD.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_inv:RespondInventoryAvailabilityDataAreaType">
						<annotation>
							<documentation>Data area of the AcknowledgeInventoryAvailability BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RespondInventoryAvailabilityDataAreaType">
		<annotation>
			<documentation>Type definition of the AcknowledgeInventoryAvailability BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Respond">
				<annotation>
					<documentation>The Acknowledge verb.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" ref="_inv:InventoryAvailability">
				<annotation>
					<documentation>The InventoryAvailability noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
