WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ord="http://www.ibm.com/xmlns/prod/commerce/9/order"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/order"
	ecore:nsPrefix="_ord" 
	ecore:package="com.ibm.commerce.order.facade.datatypes">

	<annotation>
		<documentation>
			This Order XML schema file defines the ShowOrder BOD which is used to show an order or
			list of orders. This BOD is the response of the GetOrder request.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/Order.xsd" />

	<element name="ShowOrder" type="_ord:ShowOrderType">
		<annotation>
			<documentation>Element definition of the ShowOrder BOD.</documentation>
		</annotation>
	</element>

	<complexType name="ShowOrderType">
		<annotation>
			<documentation>Type definition of the ShowOrder BOD.</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_ord:ShowOrderDataAreaType">
						<annotation>
							<documentation>Data area of the ShowOrder BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ShowOrderDataAreaType">
		<annotation>
			<documentation>Type definition of the ShowOrder BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Show">
				<annotation>
					<documentation>The Show verb.</documentation>
				</annotation>
			</element>
			<element ref="_ord:Order" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The Order noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
