WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowDisplayPrice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_prc="http://www.ibm.com/xmlns/prod/commerce/9/price"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/price"
	ecore:nsPrefix="_prc" 
	ecore:package="com.ibm.commerce.price.facade.datatypes">

	<annotation>
		<documentation>
			This DisplayPrice XML schema file defines the ShowDisplayPrice BOD which is used to show an displayprice or
			list of DisplayPrices.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/DisplayPrice.xsd" />

	<element name="ShowDisplayPrice" type="_prc:ShowDisplayPriceType">
		<annotation>
			<documentation>Element definition of the ShowDisplayPrice BOD.</documentation>
		</annotation>
	</element>

	<complexType name="ShowDisplayPriceType">
		<annotation>
			<documentation>Type definition of the ShowDisplayPrice BOD.</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_prc:ShowDisplayPriceDataAreaType">
						<annotation>
							<documentation>Data area of the ShowDisplayPrice BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ShowDisplayPriceDataAreaType">
		<annotation>
			<documentation>Type definition of the ShowDisplayPrice BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Show">
				<annotation>
					<documentation>The Show verb.</documentation>
				</annotation>
			</element>
			<element ref="_prc:DisplayPrice" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The DisplayPrice noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
