WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowSubscription.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_subscr="http://www.ibm.com/xmlns/prod/commerce/9/subscription"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/subscription"
	ecore:nsPrefix="_subscr" 
	ecore:package="com.ibm.commerce.subscription.facade.datatypes">

	<annotation>
		<documentation>
			This Subscription XML schema file defines the ShowSubscription BOD which is used to show an subscription or
			list of Subscriptions.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/Subscription.xsd" />

	<element name="ShowSubscription" type="_subscr:ShowSubscriptionType">
		<annotation>
			<documentation>Element definition of the ShowSubscription BOD.</documentation>
		</annotation>
	</element>

	<complexType name="ShowSubscriptionType">
		<annotation>
			<documentation>Type definition of the ShowSubscription BOD.</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_subscr:ShowSubscriptionDataAreaType">
						<annotation>
							<documentation>Data area of the ShowSubscription BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ShowSubscriptionDataAreaType">
		<annotation>
			<documentation>Type definition of the ShowSubscription BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Show">
				<annotation>
					<documentation>The Show verb.</documentation>
				</annotation>
			</element>
			<element ref="_subscr:Subscription" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The Subscription noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
