WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowQuote.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ord="http://www.ibm.com/xmlns/prod/commerce/9/order"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/order"
	ecore:nsPrefix="_ord" 
	ecore:package="com.ibm.commerce.order.facade.datatypes">

	<annotation>
		<documentation>
			This Quote XML schema file defines the ShowQuote BOD which is used to show an quote or
			list of Quotes.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/Quote.xsd" />

	<element name="ShowQuote" type="_ord:ShowQuoteType">
		<annotation>
			<documentation>Element definition of the ShowQuote BOD.</documentation>
		</annotation>
	</element>

	<complexType name="ShowQuoteType">
		<annotation>
			<documentation>Type definition of the ShowQuote BOD.</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_ord:ShowQuoteDataAreaType">
						<annotation>
							<documentation>Data area of the ShowQuote BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ShowQuoteDataAreaType">
		<annotation>
			<documentation>Type definition of the ShowQuote BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Show">
				<annotation>
					<documentation>The Show verb.</documentation>
				</annotation>
			</element>
			<element ref="_ord:Quote" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The Quote noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
