WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowAttachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2007                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<annotation>
		<documentation>
			This Attachment XML schema file defines the ShowAttachment BOD which is used to show an attachment or
			list of Attachments.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../Resources/Components/Common/Meta.xsd" />

	<include schemaLocation="../Resources/Nouns/Attachment.xsd" />

	<element name="ShowAttachment" type="_cnt:ShowAttachmentType">
		<annotation>
			<documentation>Element definition of the ShowAttachment BOD.</documentation>
		</annotation>
	</element>

	<complexType name="ShowAttachmentType">
		<annotation>
			<documentation>Type definition of the ShowAttachment BOD.</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:BusinessObjectDocumentType">
				<sequence>
					<element name="DataArea" type="_cnt:ShowAttachmentDataAreaType">
						<annotation>
							<documentation>Data area of the ShowAttachment BOD.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ShowAttachmentDataAreaType">
		<annotation>
			<documentation>Type definition of the ShowAttachment BOD's data area.</documentation>
		</annotation>
		<sequence>
			<element ref="oa:Show">
				<annotation>
					<documentation>The Show verb.</documentation>
				</annotation>
			</element>
			<element ref="_cnt:Attachment" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The Attachment noun.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
