WebServicesRouter/WebContent/wsdl/WebSphereCommerce/WebSphereCommerce-OMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	WSDL interface definition for the WebSphere Commerce OMS Component services.
	Filename: WebSphereCommerce-OMS.wsdl
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"

	xmlns:oa="http://www.openapplications.org/oagis/9"

	xmlns:wc="http://www.ibm.com/xmlns/prod/WebSphereCommerce"
	targetNamespace="http://www.ibm.com/xmlns/prod/WebSphereCommerce"
>

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/BODs/Developer/UpdateInventoryBalance.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/BODs/Developer/ShowSalesOrder.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://www.ibm.com/xmlns/prod/WebSphereCommerce">
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/WebSphereCommerce/9.1/BODs/PreprocessSalesOrder.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/WebSphereCommerce/9.1/BODs/GetPaymentEntity.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/WebSphereCommerce/9.1/BODs/ShowPaymentEntity.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/WebSphereCommerce/9.1/BODs/ProcessPaymentAction.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/WebSphereCommerce/9.1/BODs/AcknowledgePaymentAction.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="UpdateInventoryBalance">
		<wsdl:part element="oa:UpdateInventoryBalance" name="Message" />
	</wsdl:message>
	<wsdl:message name="PreprocessSalesOrder">
		<wsdl:part element="wc:PreprocessSalesOrder" name="Message" />
	</wsdl:message>
	<wsdl:message name="ShowSalesOrder">
		<wsdl:part element="oa:ShowSalesOrder" name="Message" />
	</wsdl:message>
		<wsdl:message name="GetPaymentEntity">
		<wsdl:part element="wc:GetPaymentEntity" name="Message" />
	</wsdl:message>
	<wsdl:message name="ShowPaymentEntity">
		<wsdl:part element="wc:ShowPaymentEntity" name="Message" />
	</wsdl:message>
	<wsdl:message name="ProcessPaymentAction">
		<wsdl:part element="wc:ProcessPaymentAction" name="Message" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePaymentAction">
		<wsdl:part element="wc:AcknowledgePaymentAction" name="Message" />
	</wsdl:message>
	

	<wsdl:portType name="OMSPortType">
		<wsdl:operation name="UpdateInventoryBalance">
			<wsdl:input message="wc:UpdateInventoryBalance" />
		</wsdl:operation>
		<wsdl:operation name="PreprocessSalesOrder">
			<wsdl:input message="wc:PreprocessSalesOrder" />
			<wsdl:output message="wc:ShowSalesOrder" />
		</wsdl:operation>
		<wsdl:operation name="GetPaymentEntity">
			<wsdl:input message="wc:GetPaymentEntity" />
			<wsdl:output message="wc:ShowPaymentEntity" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPaymentAction">
			<wsdl:input message="wc:ProcessPaymentAction" />
			<wsdl:output message="wc:AcknowledgePaymentAction" />
		</wsdl:operation>		
	</wsdl:portType>

	<wsdl:binding name="OMSWebServiceEngine" type="wc:OMSPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="UpdateInventoryBalance">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-OMS.wsdl"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		
		<wsdl:operation name="PreprocessSalesOrder">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-OMS.wsdl" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetPaymentEntity">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-OMS.wsdl" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="ProcessPaymentAction">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-OMS.wsdl" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="OMSService">
		<wsdl:port binding="wc:OMSWebServiceEngine"
			name="OMSWebServiceEngine">
			<soap:address
				location="http://localhost/webapp/wcs/services/OMSWebServiceEngine" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
