WebServicesRouter/WebContent/wsdl/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:pay="http://www.ibm.com/xmlns/prod/commerce/payment"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/payment"
	name="WebSphereCommerce-PaymentServices">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/payment">

			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPaymentInstruction.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePaymentInstruction.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPaymentInstruction.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPaymentInstruction.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePaymentInstruction.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPaymentInstruction.xsd" />

			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPayment.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPayment.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePayment.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPayment.xsd" />

			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCredit.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCredit.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeCredit.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondCredit.xsd" />

			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessFinancialTransaction.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeFinancialTransaction.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeFinancialTransaction.xsd" />
			<xsd:include
				schemaLocation="../../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondFinancialTransaction.xsd" />

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ProcessPaymentInstruction">
		<wsdl:part name="ProcessPaymentInstruction" element="pay:ProcessPaymentInstruction" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePaymentInstruction">
		<wsdl:part name="AcknowledgePaymentInstruction" element="pay:AcknowledgePaymentInstruction" />
	</wsdl:message>

	<wsdl:message name="GetPaymentInstruction">
		<wsdl:part name="GetPaymentInstruction" element="pay:GetPaymentInstruction" />
	</wsdl:message>
	<wsdl:message name="ShowPaymentInstruction">
		<wsdl:part name="ShowPaymentInstruction" element="pay:ShowPaymentInstruction" />
	</wsdl:message>

	<wsdl:message name="ChangePaymentInstruction">
		<wsdl:part name="ChangePaymentInstruction" element="pay:ChangePaymentInstruction" />
	</wsdl:message>
	<wsdl:message name="RespondPaymentInstruction">
		<wsdl:part name="RespondPaymentInstruction" element="pay:RespondPaymentInstruction" />
	</wsdl:message>

	<wsdl:message name="GetPayment">
		<wsdl:part name="GetPayment" element="pay:GetPayment" />
	</wsdl:message>
	<wsdl:message name="ShowPayment">
		<wsdl:part name="ShowPayment" element="pay:ShowPayment" />
	</wsdl:message>

	<wsdl:message name="ChangePayment">
		<wsdl:part name="ChangePayment" element="pay:ChangePayment" />
	</wsdl:message>
	<wsdl:message name="RespondPayment">
		<wsdl:part name="RespondPayment" element="pay:RespondPayment" />
	</wsdl:message>

	<wsdl:message name="GetCredit">
		<wsdl:part name="GetCredit" element="pay:GetCredit" />
	</wsdl:message>
	<wsdl:message name="ShowCredit">
		<wsdl:part name="ShowCredit" element="pay:ShowCredit" />
	</wsdl:message>

	<wsdl:message name="ChangeCredit">
		<wsdl:part name="ChangeCredit" element="pay:ChangeCredit" />
	</wsdl:message>
	<wsdl:message name="RespondCredit">
		<wsdl:part name="RespondCredit" element="pay:RespondCredit" />
	</wsdl:message>

	<wsdl:message name="ProcessFinancialTransaction">
		<wsdl:part name="ProcessFinancialTransaction" element="pay:ProcessFinancialTransaction" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeFinancialTransaction">
		<wsdl:part name="AcknowledgeFinancialTransaction" element="pay:AcknowledgeFinancialTransaction" />
	</wsdl:message>

	<wsdl:message name="ChangeFinancialTransaction">
		<wsdl:part name="ChangeFinancialTransaction" element="pay:ChangeFinancialTransaction" />
	</wsdl:message>
	<wsdl:message name="RespondFinancialTransaction">
		<wsdl:part name="RespondFinancialTransaction" element="pay:RespondFinancialTransaction" />
	</wsdl:message>

	<wsdl:portType name="PaymentServicesPortType">

		<wsdl:operation name="ProcessPaymentInstruction">
			<wsdl:input message="pay:ProcessPaymentInstruction" name="ProcessPaymentInstruction" />
			<wsdl:output message="pay:AcknowledgePaymentInstruction" name="AcknowledgePaymentInstruction" />
		</wsdl:operation>
		<wsdl:operation name="GetPaymentInstruction">
			<wsdl:input message="pay:GetPaymentInstruction" name="GetPaymentInstruction" />
			<wsdl:output message="pay:ShowPaymentInstruction" name="ShowPaymentInstruction" />
		</wsdl:operation>
		<wsdl:operation name="ChangePaymentInstruction">
			<wsdl:input message="pay:ChangePaymentInstruction" name="ChangePaymentInstruction" />
			<wsdl:output message="pay:RespondPaymentInstruction" name="RespondPaymentInstruction" />
		</wsdl:operation>

		<wsdl:operation name="GetPayment">
			<wsdl:input message="pay:GetPayment" name="GetPayment" />
			<wsdl:output message="pay:ShowPayment" name="ShowPayment" />
		</wsdl:operation>
		<wsdl:operation name="ChangePayment">
			<wsdl:input message="pay:ChangePayment" name="ChangePayment" />
			<wsdl:output message="pay:RespondPayment" name="RespondPayment" />
		</wsdl:operation>

		<wsdl:operation name="GetCredit">
			<wsdl:input message="pay:GetCredit" name="GetCredit" />
			<wsdl:output message="pay:ShowCredit" name="ShowCredit" />
		</wsdl:operation>
		<wsdl:operation name="ChangeCredit">
			<wsdl:input message="pay:ChangeCredit" name="ChangeCredit" />
			<wsdl:output message="pay:RespondCredit" name="RespondCredit" />
		</wsdl:operation>

		<wsdl:operation name="ProcessFinancialTransaction">
			<wsdl:input message="pay:ProcessFinancialTransaction" name="ProcessFinancialTransaction" />
			<wsdl:output message="pay:AcknowledgeFinancialTransaction" name="AcknowledgeFinancialTransaction" />
		</wsdl:operation>
		<wsdl:operation name="ChangeFinancialTransaction">
			<wsdl:input message="pay:ChangeFinancialTransaction" name="ChangeFinancialTransaction" />
			<wsdl:output message="pay:RespondFinancialTransaction" name="RespondFinancialTransaction" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="PaymentServices" type="pay:PaymentServicesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ProcessPaymentInstruction">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl" />
			<wsdl:input name="ProcessPaymentInstruction">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePaymentInstruction">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPaymentInstruction">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl" />
			<wsdl:input name="GetPaymentInstruction">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPaymentInstruction">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePaymentInstruction">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl" />
			<wsdl:input name="ChangePaymentInstruction">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPaymentInstruction">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPayment">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl" />
			<wsdl:input name="GetPayment">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPayment">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePayment">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl" />
			<wsdl:input name="ChangePayment">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPayment">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCredit">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl" />
			<wsdl:input name="GetCredit">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowCredit">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeCredit">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl" />
			<wsdl:input name="ChangeCredit">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondCredit">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessFinancialTransaction">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl" />
			<wsdl:input name="ProcessFinancialTransaction">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeFinancialTransaction">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeFinancialTransaction">
			<soap:operation
				soapAction="http://www.ibm.com/xmlns/prod/WebSphereCommerce/WebSphereCommerce-PaymentServices.wsdl" />
			<wsdl:input name="ChangeFinancialTransaction">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondFinancialTransaction">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="WebSphereCommerce-PaymentServices">
		<wsdl:port binding="pay:PaymentServices" name="PaymentServices">
			<soap:address location="http://localhost/webapp/wcs/services/PaymentServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
