WC/xml/config/payments/ppc/plugins/SimpleOffline/PaymentMethod.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Property">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="minLength" type="xsd:unsignedInt" use="optional"/>
            <xsd:attribute name="maxLength" type="xsd:unsignedInt" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PaymentMethod">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Property"/>
            </xsd:sequence>
            <xsd:attribute name="paymentConfiguration" type="xsd:string" use="optional" default="default"/>
            <xsd:attribute name="keepPendingStatus" type="xsd:string" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PaymentMethods">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PaymentMethod"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
