WebServicesRouter/WebContent/component-services/wsdl/CatalogServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
	name="CatalogServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCatalog.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCatalog.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessCatalog.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeCatalog.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeCatalog.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondCatalog.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCatalogGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCatalogGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessCatalogGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeCatalogGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeCatalogGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondCatalogGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCatalogEntry.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCatalogEntry.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessCatalogEntry.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeCatalogEntry.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeCatalogEntry.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondCatalogEntry.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetKit.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowKit.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessKit.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeKit.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeKit.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondKit.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetAttributeDictionary.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowAttributeDictionary.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessAttributeDictionary.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeAttributeDictionary.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeAttributeDictionary.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondAttributeDictionary.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetAttributeDictionaryAttribute.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowAttributeDictionaryAttribute.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessAttributeDictionaryAttribute.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeAttributeDictionaryAttribute.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeAttributeDictionaryAttribute.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondAttributeDictionaryAttribute.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetAttributeDictionaryAttributeGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowAttributeDictionaryAttributeGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessAttributeDictionaryAttributeGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeAttributeDictionaryAttributeGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeAttributeDictionaryAttributeGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondAttributeDictionaryAttributeGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCatalogNavigationView.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCatalogNavigationView.xsd"/>
		    <xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCatalogFilter.xsd"/>
            <xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCatalogFilter.xsd"/>
            <xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessCatalogFilter.xsd"/>
            <xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeCatalogFilter.xsd"/>
            <xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeCatalogFilter.xsd"/>
            <xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondCatalogFilter.xsd"/>
            <xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCatalogEntryFiltering.xsd"/>
            <xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCatalogEntryFiltering.xsd"/>  
		</xsd:schema>
		
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetCatalog">
		<wsdl:part name="GetCatalog" element="_cat:GetCatalog" />
	</wsdl:message>
	<wsdl:message name="ShowCatalog">
		<wsdl:part name="ShowCatalog" element="_cat:ShowCatalog" />
	</wsdl:message>
	<wsdl:message name="ProcessCatalog">
		<wsdl:part name="ProcessCatalog" element="_cat:ProcessCatalog" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeCatalog">
		<wsdl:part name="AcknowledgeCatalog" element="_cat:AcknowledgeCatalog" />
	</wsdl:message>
	<wsdl:message name="ChangeCatalog">
		<wsdl:part name="ChangeCatalog" element="_cat:ChangeCatalog" />
	</wsdl:message>
	<wsdl:message name="RespondCatalog">
		<wsdl:part name="RespondCatalog" element="_cat:RespondCatalog" />
	</wsdl:message>
	<wsdl:message name="GetCatalogGroup">
		<wsdl:part name="GetCatalogGroup" element="_cat:GetCatalogGroup" />
	</wsdl:message>
	<wsdl:message name="ShowCatalogGroup">
		<wsdl:part name="ShowCatalogGroup" element="_cat:ShowCatalogGroup" />
	</wsdl:message>
	<wsdl:message name="ProcessCatalogGroup">
		<wsdl:part name="ProcessCatalogGroup" element="_cat:ProcessCatalogGroup" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeCatalogGroup">
		<wsdl:part name="AcknowledgeCatalogGroup" element="_cat:AcknowledgeCatalogGroup" />
	</wsdl:message>
	<wsdl:message name="ChangeCatalogGroup">
		<wsdl:part name="ChangeCatalogGroup" element="_cat:ChangeCatalogGroup" />
	</wsdl:message>
	<wsdl:message name="RespondCatalogGroup">
		<wsdl:part name="RespondCatalogGroup" element="_cat:RespondCatalogGroup" />
	</wsdl:message>
	<wsdl:message name="GetCatalogEntry">
		<wsdl:part name="GetCatalogEntry" element="_cat:GetCatalogEntry" />
	</wsdl:message>
	<wsdl:message name="ShowCatalogEntry">
		<wsdl:part name="ShowCatalogEntry" element="_cat:ShowCatalogEntry" />
	</wsdl:message>
	<wsdl:message name="ProcessCatalogEntry">
		<wsdl:part name="ProcessCatalogEntry" element="_cat:ProcessCatalogEntry" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeCatalogEntry">
		<wsdl:part name="AcknowledgeCatalogEntry" element="_cat:AcknowledgeCatalogEntry" />
	</wsdl:message>
	<wsdl:message name="ChangeCatalogEntry">
		<wsdl:part name="ChangeCatalogEntry" element="_cat:ChangeCatalogEntry" />
	</wsdl:message>
	<wsdl:message name="RespondCatalogEntry">
		<wsdl:part name="RespondCatalogEntry" element="_cat:RespondCatalogEntry" />
	</wsdl:message>
	<wsdl:message name="GetKit">
		<wsdl:part name="GetKit" element="_cat:GetKit" />
	</wsdl:message>
	<wsdl:message name="ShowKit">
		<wsdl:part name="ShowKit" element="_cat:ShowKit" />
	</wsdl:message>
	<wsdl:message name="ProcessKit">
		<wsdl:part name="ProcessKit" element="_cat:ProcessKit" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeKit">
		<wsdl:part name="AcknowledgeKit" element="_cat:AcknowledgeKit" />
	</wsdl:message>
	<wsdl:message name="ChangeKit">
		<wsdl:part name="ChangeKit" element="_cat:ChangeKit" />
	</wsdl:message>
	<wsdl:message name="RespondKit">
		<wsdl:part name="RespondKit" element="_cat:RespondKit" />
	</wsdl:message>
	<wsdl:message name="GetAttributeDictionary">
		<wsdl:part name="GetAttributeDictionary" element="_cat:GetAttributeDictionary" />
	</wsdl:message>
	<wsdl:message name="ShowAttributeDictionary">
		<wsdl:part name="ShowAttributeDictionary" element="_cat:ShowAttributeDictionary" />
	</wsdl:message>
	<wsdl:message name="ProcessAttributeDictionary">
		<wsdl:part name="ProcessAttributeDictionary" element="_cat:ProcessAttributeDictionary" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeAttributeDictionary">
		<wsdl:part name="AcknowledgeAttributeDictionary" element="_cat:AcknowledgeAttributeDictionary" />
	</wsdl:message>
	<wsdl:message name="ChangeAttributeDictionary">
		<wsdl:part name="ChangeAttributeDictionary" element="_cat:ChangeAttributeDictionary" />
	</wsdl:message>
	<wsdl:message name="RespondAttributeDictionary">
		<wsdl:part name="RespondAttributeDictionary" element="_cat:RespondAttributeDictionary" />
	</wsdl:message>
	<wsdl:message name="GetAttributeDictionaryAttribute">
		<wsdl:part name="GetAttributeDictionaryAttribute" element="_cat:GetAttributeDictionaryAttribute" />
	</wsdl:message>
	<wsdl:message name="ShowAttributeDictionaryAttribute">
		<wsdl:part name="ShowAttributeDictionaryAttribute" element="_cat:ShowAttributeDictionaryAttribute" />
	</wsdl:message>
	<wsdl:message name="ProcessAttributeDictionaryAttribute">
		<wsdl:part name="ProcessAttributeDictionaryAttribute" element="_cat:ProcessAttributeDictionaryAttribute" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeAttributeDictionaryAttribute">
		<wsdl:part name="AcknowledgeAttributeDictionaryAttribute" element="_cat:AcknowledgeAttributeDictionaryAttribute" />
	</wsdl:message>
	<wsdl:message name="ChangeAttributeDictionaryAttribute">
		<wsdl:part name="ChangeAttributeDictionaryAttribute" element="_cat:ChangeAttributeDictionaryAttribute" />
	</wsdl:message>
	<wsdl:message name="RespondAttributeDictionaryAttribute">
		<wsdl:part name="RespondAttributeDictionaryAttribute" element="_cat:RespondAttributeDictionaryAttribute" />
	</wsdl:message>
	<wsdl:message name="GetAttributeDictionaryAttributeGroup">
		<wsdl:part name="GetAttributeDictionaryAttributeGroup" element="_cat:GetAttributeDictionaryAttributeGroup" />
	</wsdl:message>
	<wsdl:message name="ShowAttributeDictionaryAttributeGroup">
		<wsdl:part name="ShowAttributeDictionaryAttributeGroup" element="_cat:ShowAttributeDictionaryAttributeGroup" />
	</wsdl:message>
	<wsdl:message name="ProcessAttributeDictionaryAttributeGroup">
		<wsdl:part name="ProcessAttributeDictionaryAttributeGroup" element="_cat:ProcessAttributeDictionaryAttributeGroup" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeAttributeDictionaryAttributeGroup">
		<wsdl:part name="AcknowledgeAttributeDictionaryAttributeGroup" element="_cat:AcknowledgeAttributeDictionaryAttributeGroup" />
	</wsdl:message>
	<wsdl:message name="ChangeAttributeDictionaryAttributeGroup">
		<wsdl:part name="ChangeAttributeDictionaryAttributeGroup" element="_cat:ChangeAttributeDictionaryAttributeGroup" />
	</wsdl:message>
	<wsdl:message name="RespondAttributeDictionaryAttributeGroup">
		<wsdl:part name="RespondAttributeDictionaryAttributeGroup" element="_cat:RespondAttributeDictionaryAttributeGroup" />
	</wsdl:message>
	<wsdl:message name="GetCatalogNavigationView">
		<wsdl:part name="GetCatalogNavigationView" element="_cat:GetCatalogNavigationView" />
	</wsdl:message>
	<wsdl:message name="ShowCatalogNavigationView">
		<wsdl:part name="ShowCatalogNavigationView" element="_cat:ShowCatalogNavigationView" />
	</wsdl:message>

    <wsdl:message name="GetCatalogFilter">
        <wsdl:part name="GetCatalogFilter" element="_cat:GetCatalogFilter" />
    </wsdl:message>
    <wsdl:message name="ShowCatalogFilter">
        <wsdl:part name="ShowCatalogFilter" element="_cat:ShowCatalogFilter" />
    </wsdl:message>
    <wsdl:message name="ProcessCatalogFilter">
        <wsdl:part name="ProcessCatalogFilter" element="_cat:ProcessCatalogFilter" />
    </wsdl:message>
    <wsdl:message name="AcknowledgeCatalogFilter">
        <wsdl:part name="AcknowledgeCatalogFilter" element="_cat:AcknowledgeCatalogFilter" />
    </wsdl:message>
    <wsdl:message name="ChangeCatalogFilter">
        <wsdl:part name="ChangeCatalogFilter" element="_cat:ChangeCatalogFilter" />
    </wsdl:message>
    <wsdl:message name="RespondCatalogFilter">
        <wsdl:part name="RespondCatalogFilter" element="_cat:RespondCatalogFilter" />
    </wsdl:message>
    <wsdl:message name="GetCatalogEntryFiltering">
		<wsdl:part name="GetCatalogEntryFiltering" element="_cat:GetCatalogEntryFiltering" />
	</wsdl:message>
	<wsdl:message name="ShowCatalogEntryFiltering">
		<wsdl:part name="ShowCatalogEntryFiltering" element="_cat:ShowCatalogEntryFiltering" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="CatalogServicesPortType">

		<wsdl:operation name="GetCatalog">
			<wsdl:input message="_cat:GetCatalog" name="GetCatalog" />
			<wsdl:output message="_cat:ShowCatalog" name="ShowCatalog" />
		</wsdl:operation>
		<wsdl:operation name="ProcessCatalog">
			<wsdl:input message="_cat:ProcessCatalog" name="ProcessCatalog" />
			<wsdl:output message="_cat:AcknowledgeCatalog" name="AcknowledgeCatalog" />
		</wsdl:operation>
		<wsdl:operation name="ChangeCatalog">
			<wsdl:input message="_cat:ChangeCatalog" name="ChangeCatalog" />
			<wsdl:output message="_cat:RespondCatalog" name="RespondCatalog" />
		</wsdl:operation>
		<wsdl:operation name="GetCatalogGroup">
			<wsdl:input message="_cat:GetCatalogGroup" name="GetCatalogGroup" />
			<wsdl:output message="_cat:ShowCatalogGroup" name="ShowCatalogGroup" />
		</wsdl:operation>
		<wsdl:operation name="ProcessCatalogGroup">
			<wsdl:input message="_cat:ProcessCatalogGroup" name="ProcessCatalogGroup" />
			<wsdl:output message="_cat:AcknowledgeCatalogGroup" name="AcknowledgeCatalogGroup" />
		</wsdl:operation>
		<wsdl:operation name="ChangeCatalogGroup">
			<wsdl:input message="_cat:ChangeCatalogGroup" name="ChangeCatalogGroup" />
			<wsdl:output message="_cat:RespondCatalogGroup" name="RespondCatalogGroup" />
		</wsdl:operation>
		<wsdl:operation name="GetCatalogEntry">
			<wsdl:input message="_cat:GetCatalogEntry" name="GetCatalogEntry" />
			<wsdl:output message="_cat:ShowCatalogEntry" name="ShowCatalogEntry" />
		</wsdl:operation>
		<wsdl:operation name="ProcessCatalogEntry">
			<wsdl:input message="_cat:ProcessCatalogEntry" name="ProcessCatalogEntry" />
			<wsdl:output message="_cat:AcknowledgeCatalogEntry" name="AcknowledgeCatalogEntry" />
		</wsdl:operation>
		<wsdl:operation name="ChangeCatalogEntry">
			<wsdl:input message="_cat:ChangeCatalogEntry" name="ChangeCatalogEntry" />
			<wsdl:output message="_cat:RespondCatalogEntry" name="RespondCatalogEntry" />
		</wsdl:operation>
		<wsdl:operation name="GetKit">
			<wsdl:input message="_cat:GetKit" name="GetKit" />
			<wsdl:output message="_cat:ShowKit" name="ShowKit" />
		</wsdl:operation>
		<wsdl:operation name="ProcessKit">
			<wsdl:input message="_cat:ProcessKit" name="ProcessKit" />
			<wsdl:output message="_cat:AcknowledgeKit" name="AcknowledgeKit" />
		</wsdl:operation>
		<wsdl:operation name="ChangeKit">
			<wsdl:input message="_cat:ChangeKit" name="ChangeKit" />
			<wsdl:output message="_cat:RespondKit" name="RespondKit" />
		</wsdl:operation>
		<wsdl:operation name="GetAttributeDictionary">
			<wsdl:input message="_cat:GetAttributeDictionary" name="GetAttributeDictionary" />
			<wsdl:output message="_cat:ShowAttributeDictionary" name="ShowAttributeDictionary" />
		</wsdl:operation>
		<wsdl:operation name="ProcessAttributeDictionary">
			<wsdl:input message="_cat:ProcessAttributeDictionary" name="ProcessAttributeDictionary" />
			<wsdl:output message="_cat:AcknowledgeAttributeDictionary" name="AcknowledgeAttributeDictionary" />
		</wsdl:operation>
		<wsdl:operation name="ChangeAttributeDictionary">
			<wsdl:input message="_cat:ChangeAttributeDictionary" name="ChangeAttributeDictionary" />
			<wsdl:output message="_cat:RespondAttributeDictionary" name="RespondAttributeDictionary" />
		</wsdl:operation>
		<wsdl:operation name="GetAttributeDictionaryAttribute">
			<wsdl:input message="_cat:GetAttributeDictionaryAttribute" name="GetAttributeDictionaryAttribute" />
			<wsdl:output message="_cat:ShowAttributeDictionaryAttribute" name="ShowAttributeDictionaryAttribute" />
		</wsdl:operation>
		<wsdl:operation name="ProcessAttributeDictionaryAttribute">
			<wsdl:input message="_cat:ProcessAttributeDictionaryAttribute" name="ProcessAttributeDictionaryAttribute" />
			<wsdl:output message="_cat:AcknowledgeAttributeDictionaryAttribute" name="AcknowledgeAttributeDictionaryAttribute" />
		</wsdl:operation>
		<wsdl:operation name="ChangeAttributeDictionaryAttribute">
			<wsdl:input message="_cat:ChangeAttributeDictionaryAttribute" name="ChangeAttributeDictionaryAttribute" />
			<wsdl:output message="_cat:RespondAttributeDictionaryAttribute" name="RespondAttributeDictionaryAttribute" />
		</wsdl:operation>
		<wsdl:operation name="GetAttributeDictionaryAttributeGroup">
			<wsdl:input message="_cat:GetAttributeDictionaryAttributeGroup" name="GetAttributeDictionaryAttributeGroup" />
			<wsdl:output message="_cat:ShowAttributeDictionaryAttributeGroup" name="ShowAttributeDictionaryAttributeGroup" />
		</wsdl:operation>
		<wsdl:operation name="ProcessAttributeDictionaryAttributeGroup">
			<wsdl:input message="_cat:ProcessAttributeDictionaryAttributeGroup" name="ProcessAttributeDictionaryAttributeGroup" />
			<wsdl:output message="_cat:AcknowledgeAttributeDictionaryAttributeGroup" name="AcknowledgeAttributeDictionaryAttributeGroup" />
		</wsdl:operation>
		<wsdl:operation name="ChangeAttributeDictionaryAttributeGroup">
			<wsdl:input message="_cat:ChangeAttributeDictionaryAttributeGroup" name="ChangeAttributeDictionaryAttributeGroup" />
			<wsdl:output message="_cat:RespondAttributeDictionaryAttributeGroup" name="RespondAttributeDictionaryAttributeGroup" />
		</wsdl:operation>
		<wsdl:operation name="GetCatalogNavigationView">
			<wsdl:input message="_cat:GetCatalogNavigationView" name="GetCatalogNavigationView" />
			<wsdl:output message="_cat:ShowCatalogNavigationView" name="ShowCatalogNavigationView" />
		</wsdl:operation>
         <wsdl:operation name="GetCatalogFilter">
            <wsdl:input message="_cat:GetCatalogFilter" name="GetCatalogFilter" />
            <wsdl:output message="_cat:ShowCatalogFilter" name="ShowCatalogFilter" />
        </wsdl:operation>
        <wsdl:operation name="ProcessCatalogFilter">
            <wsdl:input message="_cat:ProcessCatalogFilter" name="ProcessCatalogFilter" />
            <wsdl:output message="_cat:AcknowledgeCatalogFilter" name="AcknowledgeCatalogFilter" />
        </wsdl:operation>
        <wsdl:operation name="ChangeCatalogFilter">
            <wsdl:input message="_cat:ChangeCatalogFilter" name="ChangeCatalogFilter" />
            <wsdl:output message="_cat:RespondCatalogFilter" name="RespondCatalogFilter" />
        </wsdl:operation>
        <wsdl:operation name="GetCatalogEntryFiltering">
			<wsdl:input message="_cat:GetCatalogEntryFiltering" name="GetCatalogEntryFiltering" />
			<wsdl:output message="_cat:ShowCatalogEntryFiltering" name="ShowCatalogEntryFiltering" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CatalogServices"
		type="_cat:CatalogServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetCatalog">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="GetCatalog">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowCatalog">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessCatalog">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ProcessCatalog">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeCatalog">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeCatalog">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ChangeCatalog">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondCatalog">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCatalogGroup">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="GetCatalogGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowCatalogGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessCatalogGroup">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ProcessCatalogGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeCatalogGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeCatalogGroup">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ChangeCatalogGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondCatalogGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCatalogEntry">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="GetCatalogEntry">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowCatalogEntry">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessCatalogEntry">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ProcessCatalogEntry">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeCatalogEntry">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeCatalogEntry">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ChangeCatalogEntry">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondCatalogEntry">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetKit">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="GetKit">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowKit">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessKit">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ProcessKit">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeKit">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeKit">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ChangeKit">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondKit">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAttributeDictionary">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="GetAttributeDictionary">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowAttributeDictionary">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessAttributeDictionary">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ProcessAttributeDictionary">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeAttributeDictionary">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeAttributeDictionary">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ChangeAttributeDictionary">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondAttributeDictionary">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAttributeDictionaryAttribute">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="GetAttributeDictionaryAttribute">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowAttributeDictionaryAttribute">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessAttributeDictionaryAttribute">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ProcessAttributeDictionaryAttribute">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeAttributeDictionaryAttribute">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeAttributeDictionaryAttribute">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ChangeAttributeDictionaryAttribute">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondAttributeDictionaryAttribute">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAttributeDictionaryAttributeGroup">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="GetAttributeDictionaryAttributeGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowAttributeDictionaryAttributeGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessAttributeDictionaryAttributeGroup">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ProcessAttributeDictionaryAttributeGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeAttributeDictionaryAttributeGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeAttributeDictionaryAttributeGroup">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="ChangeAttributeDictionaryAttributeGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondAttributeDictionaryAttributeGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCatalogNavigationView">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="GetCatalogNavigationView">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowCatalogNavigationView">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
         <wsdl:operation name="GetCatalogFilter">
            <soap:operation
                soapAction="http://localhost/services/CatalogServices.wsdl" />
            <wsdl:input name="GetCatalogFilter">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="ShowCatalogFilter">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessCatalogFilter">
            <soap:operation
                soapAction="http://localhost/services/CatalogServices.wsdl" />
            <wsdl:input name="ProcessCatalogFilter">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="AcknowledgeCatalogFilter">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ChangeCatalogFilter">
            <soap:operation
                soapAction="http://localhost/services/CatalogServices.wsdl" />
            <wsdl:input name="ChangeCatalogFilter">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="RespondCatalogFilter">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>	
        <wsdl:operation name="GetCatalogEntryFiltering">
			<soap:operation
				soapAction="http://localhost/services/CatalogServices.wsdl" />
			<wsdl:input name="GetCatalogEntryFiltering">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowCatalogEntryFiltering">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>	

	</wsdl:binding>

	<wsdl:service name="CatalogServices">
		<wsdl:port binding="_cat:CatalogServices" name="CatalogServices">
			<soap:address
				location="http://localhost/webapp/wcs/component/catalog/services/CatalogServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

