WebServicesRouter/WebContent/component-services/wsdl/ContentServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2007, 2016                                -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	name="ContentServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetAttachment.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowAttachment.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessAttachment.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeAttachment.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeAttachment.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondAttachment.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetFileUploadJob.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowFileUploadJob.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessFileUploadJob.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeFileUploadJob.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeFileUploadJob.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondFileUploadJob.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetManagedFile.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowManagedFile.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessManagedFile.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeManagedFile.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeManagedFile.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondManagedFile.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetManagedDirectory.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowManagedDirectory.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessManagedDirectory.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeManagedDirectory.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeManagedDirectory.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondManagedDirectory.xsd"/>			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetTask.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowTask.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessTask.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeTask.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetTaskGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowTaskGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeTaskGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondTaskGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeTaskGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessTaskGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetContentVersion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowContentVersion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessContentVersion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeContentVersion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeContentVersion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondContentVersion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowExternalContent.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetExternalContent.xsd"/>
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeTask.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondTask.xsd"/>
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetWorkspace.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowWorkspace.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessWorkspace.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeWorkspace.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeWorkspace.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondWorkspace.xsd"/>
			
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetAttachment">
		<wsdl:part name="GetAttachment" element="_cnt:GetAttachment" />
	</wsdl:message>
	<wsdl:message name="ShowAttachment">
		<wsdl:part name="ShowAttachment" element="_cnt:ShowAttachment" />
	</wsdl:message>
	<wsdl:message name="ProcessAttachment">
		<wsdl:part name="ProcessAttachment" element="_cnt:ProcessAttachment" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeAttachment">
		<wsdl:part name="AcknowledgeAttachment" element="_cnt:AcknowledgeAttachment" />
	</wsdl:message>
	<wsdl:message name="ChangeAttachment">
		<wsdl:part name="ChangeAttachment" element="_cnt:ChangeAttachment" />
	</wsdl:message>
	<wsdl:message name="RespondAttachment">
		<wsdl:part name="RespondAttachment" element="_cnt:RespondAttachment" />
	</wsdl:message>
	<wsdl:message name="GetManagedFile">
		<wsdl:part name="GetManagedFile" element="_cnt:GetManagedFile" />
	</wsdl:message>
	<wsdl:message name="ShowManagedFile">
		<wsdl:part name="ShowManagedFile" element="_cnt:ShowManagedFile" />
	</wsdl:message>
	<wsdl:message name="ProcessManagedFile">
		<wsdl:part name="ProcessManagedFile" element="_cnt:ProcessManagedFile" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeManagedFile">
		<wsdl:part name="AcknowledgeManagedFile" element="_cnt:AcknowledgeManagedFile" />
	</wsdl:message>
	<wsdl:message name="ChangeManagedFile">
		<wsdl:part name="ChangeManagedFile" element="_cnt:ChangeManagedFile" />
	</wsdl:message>
	<wsdl:message name="RespondManagedFile">
		<wsdl:part name="RespondManagedFile" element="_cnt:RespondManagedFile" />
	</wsdl:message>
	<wsdl:message name="GetManagedDirectory">
		<wsdl:part name="GetManagedDirectory" element="_cnt:GetManagedDirectory" />
	</wsdl:message>
	<wsdl:message name="ShowManagedDirectory">
		<wsdl:part name="ShowManagedDirectory" element="_cnt:ShowManagedDirectory" />
	</wsdl:message>
	<wsdl:message name="ProcessManagedDirectory">
		<wsdl:part name="ProcessManagedDirectory" element="_cnt:ProcessManagedDirectory" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeManagedDirectory">
		<wsdl:part name="AcknowledgeManagedDirectory" element="_cnt:AcknowledgeManagedDirectory" />
	</wsdl:message>
	<wsdl:message name="ChangeManagedDirectory">
		<wsdl:part name="ChangeManagedDirectory" element="_cnt:ChangeManagedDirectory" />
	</wsdl:message>
	<wsdl:message name="RespondManagedDirectory">
		<wsdl:part name="RespondManagedDirectory" element="_cnt:RespondManagedDirectory" />
	</wsdl:message>
	<wsdl:message name="GetFileUploadJob">
		<wsdl:part name="GetFileUploadJob" element="_cnt:GetFileUploadJob" />
	</wsdl:message>
	<wsdl:message name="ShowFileUploadJob">
		<wsdl:part name="ShowFileUploadJob" element="_cnt:ShowFileUploadJob" />
	</wsdl:message>
	<wsdl:message name="ProcessFileUploadJob">
		<wsdl:part name="ProcessFileUploadJob" element="_cnt:ProcessFileUploadJob" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeFileUploadJob">
		<wsdl:part name="AcknowledgeFileUploadJob" element="_cnt:AcknowledgeFileUploadJob" />
	</wsdl:message>
	<wsdl:message name="ChangeFileUploadJob">
		<wsdl:part name="ChangeFileUploadJob" element="_cnt:ChangeFileUploadJob" />
	</wsdl:message>
	<wsdl:message name="RespondFileUploadJob">
		<wsdl:part name="RespondFileUploadJob" element="_cnt:RespondFileUploadJob" />
	</wsdl:message>
	<wsdl:message name="GetTask">
		<wsdl:part name="GetTask" element="_cnt:GetTask" />
	</wsdl:message>
	<wsdl:message name="ShowTask">
		<wsdl:part name="ShowTask" element="_cnt:ShowTask" />
	</wsdl:message>
	<wsdl:message name="ProcessTask">
		<wsdl:part name="ProcessTask" element="_cnt:ProcessTask" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeTask">
		<wsdl:part name="AcknowledgeTask" element="_cnt:AcknowledgeTask" />
	</wsdl:message>
	<wsdl:message name="GetTaskGroup">
		<wsdl:part name="GetTaskGroup" element="_cnt:GetTaskGroup" />
	</wsdl:message>
	<wsdl:message name="ShowTaskGroup">
		<wsdl:part name="ShowTaskGroup" element="_cnt:ShowTaskGroup" />
	</wsdl:message>
	<wsdl:message name="ProcessTaskGroup">
		<wsdl:part name="ProcessTaskGroup" element="_cnt:ProcessTaskGroup" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeTaskGroup">
		<wsdl:part name="AcknowledgeTaskGroup" element="_cnt:AcknowledgeTaskGroup" />
	</wsdl:message>
	<wsdl:message name="ChangeTaskGroup">
		<wsdl:part name="ChangeTaskGroup" element="_cnt:ChangeTaskGroup" />
	</wsdl:message>
	<wsdl:message name="RespondTaskGroup">
		<wsdl:part name="RespondTaskGroup" element="_cnt:RespondTaskGroup" />
	</wsdl:message>
	<wsdl:message name="GetContentVersion">
		<wsdl:part name="GetContentVersion" element="_cnt:GetContentVersion" />
	</wsdl:message>
	<wsdl:message name="ShowContentVersion">
		<wsdl:part name="ShowContentVersion" element="_cnt:ShowContentVersion" />
	</wsdl:message>
	<wsdl:message name="ProcessContentVersion">
		<wsdl:part name="ProcessContentVersion" element="_cnt:ProcessContentVersion" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeContentVersion">
		<wsdl:part name="AcknowledgeContentVersion" element="_cnt:AcknowledgeContentVersion" />
	</wsdl:message>
	<wsdl:message name="ChangeContentVersion">
		<wsdl:part name="ChangeContentVersion" element="_cnt:ChangeContentVersion" />
	</wsdl:message>
	<wsdl:message name="RespondContentVersion">
		<wsdl:part name="RespondContentVersion" element="_cnt:RespondContentVersion" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>
	<wsdl:message name="ChangeTask">
		<wsdl:part name="ChangeTask" element="_cnt:ChangeTask" />
	</wsdl:message>
	<wsdl:message name="RespondTask">
		<wsdl:part name="RespondTask" element="_cnt:RespondTask" />
	</wsdl:message>
	<wsdl:message name="GetWorkspace">
		<wsdl:part name="GetWorkspace" element="_cnt:GetWorkspace" />
	</wsdl:message>
	<wsdl:message name="ShowWorkspace">
		<wsdl:part name="ShowWorkspace" element="_cnt:ShowWorkspace" />
	</wsdl:message>
	<wsdl:message name="ProcessWorkspace">
		<wsdl:part name="ProcessWorkspace" element="_cnt:ProcessWorkspace" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeWorkspace">
		<wsdl:part name="AcknowledgeWorkspace" element="_cnt:AcknowledgeWorkspace" />
	</wsdl:message>
	<wsdl:message name="ChangeWorkspace">
		<wsdl:part name="ChangeWorkspace" element="_cnt:ChangeWorkspace" />
	</wsdl:message>
	<wsdl:message name="RespondWorkspace">
		<wsdl:part name="RespondWorkspace" element="_cnt:RespondWorkspace" />
	</wsdl:message>
	<wsdl:message name="GetExternalContent">
		<wsdl:part name="GetExternalContent" element="_cnt:GetExternalContent" />
	</wsdl:message>
	<wsdl:message name="ShowExternalContent">
		<wsdl:part name="ShowExternalContent" element="_cnt:ShowExternalContent" />
	</wsdl:message>
	
	<wsdl:portType name="ContentServicesPortType">

		<wsdl:operation name="GetAttachment">
			<wsdl:input message="_cnt:GetAttachment" name="GetAttachment" />
			<wsdl:output message="_cnt:ShowAttachment" name="ShowAttachment" />
		</wsdl:operation>
		<wsdl:operation name="ProcessAttachment">
			<wsdl:input message="_cnt:ProcessAttachment" name="ProcessAttachment" />
			<wsdl:output message="_cnt:AcknowledgeAttachment" name="AcknowledgeAttachment" />
		</wsdl:operation>
		<wsdl:operation name="ChangeAttachment">
			<wsdl:input message="_cnt:ChangeAttachment" name="ChangeAttachment" />
			<wsdl:output message="_cnt:RespondAttachment" name="RespondAttachment" />
		</wsdl:operation>
		<wsdl:operation name="GetManagedFile">
			<wsdl:input message="_cnt:GetManagedFile" name="GetManagedFile" />
			<wsdl:output message="_cnt:ShowManagedFile" name="ShowManagedFile" />
		</wsdl:operation>
		<wsdl:operation name="ProcessManagedFile">
			<wsdl:input message="_cnt:ProcessManagedFile" name="ProcessManagedFile" />
			<wsdl:output message="_cnt:AcknowledgeManagedFile" name="AcknowledgeManagedFile" />
		</wsdl:operation>
		<wsdl:operation name="ChangeManagedFile">
			<wsdl:input message="_cnt:ChangeManagedFile" name="ChangeManagedFile" />
			<wsdl:output message="_cnt:RespondManagedFile" name="RespondManagedFile" />
		</wsdl:operation>
		<wsdl:operation name="GetManagedDirectory">
			<wsdl:input message="_cnt:GetManagedDirectory" name="GetManagedDirectory" />
			<wsdl:output message="_cnt:ShowManagedDirectory" name="ShowManagedDirectory" />
		</wsdl:operation>
		<wsdl:operation name="ProcessManagedDirectory">
			<wsdl:input message="_cnt:ProcessManagedDirectory" name="ProcessManagedDirectory" />
			<wsdl:output message="_cnt:AcknowledgeManagedDirectory" name="AcknowledgeManagedDirectory" />
		</wsdl:operation>
		<wsdl:operation name="ChangeManagedDirectory">
			<wsdl:input message="_cnt:ChangeManagedDirectory" name="ChangeManagedDirectory" />
			<wsdl:output message="_cnt:RespondManagedDirectory" name="RespondManagedDirectory" />
		</wsdl:operation>
		<wsdl:operation name="GetFileUploadJob">
			<wsdl:input message="_cnt:GetFileUploadJob" name="GetFileUploadJob" />
			<wsdl:output message="_cnt:ShowFileUploadJob" name="ShowFileUploadJob" />
		</wsdl:operation>
		<wsdl:operation name="ProcessFileUploadJob">
			<wsdl:input message="_cnt:ProcessFileUploadJob" name="ProcessFileUploadJob" />
			<wsdl:output message="_cnt:AcknowledgeFileUploadJob" name="AcknowledgeFileUploadJob" />
		</wsdl:operation>
		<wsdl:operation name="ChangeFileUploadJob">
			<wsdl:input message="_cnt:ChangeFileUploadJob" name="ChangeFileUploadJob" />
			<wsdl:output message="_cnt:RespondFileUploadJob" name="RespondFileUploadJob" />
		</wsdl:operation>
		<wsdl:operation name="GetTask">
			<wsdl:input message="_cnt:GetTask" name="GetTask" />
			<wsdl:output message="_cnt:ShowTask" name="ShowTask" />
		</wsdl:operation>
		<wsdl:operation name="ProcessTask">
			<wsdl:input message="_cnt:ProcessTask" name="ProcessTask" />
			<wsdl:output message="_cnt:AcknowledgeTask" name="AcknowledgeTask" />
		</wsdl:operation>
		<wsdl:operation name="GetTaskGroup">
			<wsdl:input message="_cnt:GetTaskGroup" name="GetTaskGroup" />
			<wsdl:output message="_cnt:ShowTaskGroup" name="ShowTaskGroup" />
		</wsdl:operation>
		<wsdl:operation name="ProcessTaskGroup">
			<wsdl:input message="_cnt:ProcessTaskGroup" name="ProcessTaskGroup" />
			<wsdl:output message="_cnt:AcknowledgeTaskGroup" name="AcknowledgeTaskGroup" />
		</wsdl:operation>
		<wsdl:operation name="ChangeTaskGroup">
			<wsdl:input message="_cnt:ChangeTaskGroup" name="ChangeTaskGroup" />
			<wsdl:output message="_cnt:RespondTaskGroup" name="RespondTaskGroup" />
		</wsdl:operation>
		<wsdl:operation name="GetContentVersion">
			<wsdl:input message="_cnt:GetContentVersion" name="GetContentVersion" />
			<wsdl:output message="_cnt:ShowContentVersion" name="ShowContentVersion" />
		</wsdl:operation>
		<wsdl:operation name="ProcessContentVersion">
			<wsdl:input message="_cnt:ProcessContentVersion" name="ProcessContentVersion" />
			<wsdl:output message="_cnt:AcknowledgeContentVersion" name="AcknowledgeContentVersion" />
		</wsdl:operation>
		<wsdl:operation name="ChangeContentVersion">
			<wsdl:input message="_cnt:ChangeContentVersion" name="ChangeContentVersion" />
			<wsdl:output message="_cnt:RespondContentVersion" name="RespondContentVersion" />
		</wsdl:operation>
		<wsdl:operation name="ChangeTask">
			<wsdl:input message="_cnt:ChangeTask" name="ChangeTask" />
			<wsdl:output message="_cnt:RespondTask" name="RespondTask" />
		</wsdl:operation>
		<wsdl:operation name="GetWorkspace">
			<wsdl:input message="_cnt:GetWorkspace" name="GetWorkspace" />
			<wsdl:output message="_cnt:ShowWorkspace" name="ShowWorkspace" />
		</wsdl:operation>
		<wsdl:operation name="ProcessWorkspace">
			<wsdl:input message="_cnt:ProcessWorkspace" name="ProcessWorkspace" />
			<wsdl:output message="_cnt:AcknowledgeWorkspace" name="AcknowledgeWorkspace" />
		</wsdl:operation>
		<wsdl:operation name="ChangeWorkspace">
			<wsdl:input message="_cnt:ChangeWorkspace" name="ChangeWorkspace" />
			<wsdl:output message="_cnt:RespondWorkspace" name="RespondWorkspace" />
		</wsdl:operation>
		<wsdl:operation name="GetExternalContent">
			<wsdl:input message="_cnt:GetExternalContent" name="GetExternalContent" />
			<wsdl:output message="_cnt:ShowExternalContent" name="ShowExternalContent" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ContentServices"
		type="_cnt:ContentServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetAttachment">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="GetAttachment">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowAttachment">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessAttachment">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ProcessAttachment">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeAttachment">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeAttachment">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ChangeAttachment">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondAttachment">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetManagedFile">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="GetManagedFile">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowManagedFile">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessManagedFile">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ProcessManagedFile">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeManagedFile">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeManagedFile">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ChangeManagedFile">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondManagedFile">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetManagedDirectory">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="GetManagedDirectory">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowManagedDirectory">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessManagedDirectory">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ProcessManagedDirectory">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeManagedDirectory">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeManagedDirectory">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ChangeManagedDirectory">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondManagedDirectory">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFileUploadJob">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="GetFileUploadJob">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowFileUploadJob">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessFileUploadJob">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ProcessFileUploadJob">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeFileUploadJob">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeFileUploadJob">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ChangeFileUploadJob">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondFileUploadJob">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTask">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="GetTask">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowTask">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessTask">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ProcessTask">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeTask">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTaskGroup">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="GetTaskGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowTaskGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessTaskGroup">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ProcessTaskGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeTaskGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeTaskGroup">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ChangeTaskGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondTaskGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetContentVersion">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="GetContentVersion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowContentVersion">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessContentVersion">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ProcessContentVersion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeContentVersion">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeContentVersion">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ChangeContentVersion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondContentVersion">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeTask">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ChangeTask">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondTask">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetWorkspace">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="GetWorkspace">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowWorkspace">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessWorkspace">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ProcessWorkspace">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeWorkspace">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeWorkspace">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="ChangeWorkspace">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondWorkspace">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetExternalContent">
			<soap:operation
				soapAction="http://localhost/services/ContentServices.wsdl" />
			<wsdl:input name="GetExternalContent">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowExternalContent">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ContentServices">
		<wsdl:port binding="_cnt:ContentServices" name="ContentServices">
			<soap:address
				location="http://localhost/webapp/wcs/commerceComponent/content/services/ContentServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

