WebServicesRouter/WebContent/component-services/wsdl/GiftCenterServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_gft="http://www.ibm.com/xmlns/prod/commerce/9/giftcenter"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/giftcenter"
	name="GiftCenterServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/giftcenter">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetGiftList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowGiftList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessGiftList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeGiftList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeGiftList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondGiftList.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetGiftList">
		<wsdl:part name="GetGiftList" element="_gft:GetGiftList" />
	</wsdl:message>
	<wsdl:message name="ShowGiftList">
		<wsdl:part name="ShowGiftList" element="_gft:ShowGiftList" />
	</wsdl:message>
	<wsdl:message name="ProcessGiftList">
		<wsdl:part name="ProcessGiftList" element="_gft:ProcessGiftList" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeGiftList">
		<wsdl:part name="AcknowledgeGiftList" element="_gft:AcknowledgeGiftList" />
	</wsdl:message>
	<wsdl:message name="ChangeGiftList">
		<wsdl:part name="ChangeGiftList" element="_gft:ChangeGiftList" />
	</wsdl:message>
	<wsdl:message name="RespondGiftList">
		<wsdl:part name="RespondGiftList" element="_gft:RespondGiftList" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="GiftCenterServicesPortType">

		<wsdl:operation name="GetGiftList">
			<wsdl:input message="_gft:GetGiftList" name="GetGiftList" />
			<wsdl:output message="_gft:ShowGiftList" name="ShowGiftList" />
		</wsdl:operation>
		<wsdl:operation name="ProcessGiftList">
			<wsdl:input message="_gft:ProcessGiftList" name="ProcessGiftList" />
			<wsdl:output message="_gft:AcknowledgeGiftList" name="AcknowledgeGiftList" />
		</wsdl:operation>
		<wsdl:operation name="ChangeGiftList">
			<wsdl:input message="_gft:ChangeGiftList" name="ChangeGiftList" />
			<wsdl:output message="_gft:RespondGiftList" name="RespondGiftList" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="GiftCenterServices"
		type="_gft:GiftCenterServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetGiftList">
			<soap:operation
				soapAction="http://localhost/services/GiftCenterServices.wsdl" />
			<wsdl:input name="GetGiftList">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowGiftList">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessGiftList">
			<soap:operation
				soapAction="http://localhost/services/GiftCenterServices.wsdl" />
			<wsdl:input name="ProcessGiftList">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeGiftList">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeGiftList">
			<soap:operation
				soapAction="http://localhost/services/GiftCenterServices.wsdl" />
			<wsdl:input name="ChangeGiftList">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondGiftList">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="GiftCenterServices">
		<wsdl:port binding="_gft:GiftCenterServices" name="GiftCenterServices">
			<soap:address
				location="http://localhost/webapp/wcs/commerceComponent/giftcenter/services/GiftCenterServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

