WebServicesRouter/WebContent/component-services/wsdl/InfrastructureServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2011                                -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ifr="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"
	name="InfrastructureServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetConfiguration.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowConfiguration.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetExternalRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowExternalRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetOnlineStore.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowOnlineStore.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessOnlineStore.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeOnlineStore.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeOnlineStore.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondOnlineStore.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPageLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPageLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePageLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPageLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetStorePage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowStorePage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeStorePage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondStorePage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetStorePageData.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowStorePageData.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetFolder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowFolder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessFolder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeFolder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeFolder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondFolder.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetConfiguration">
		<wsdl:part name="GetConfiguration" element="_ifr:GetConfiguration" />
	</wsdl:message>
	<wsdl:message name="ShowConfiguration">
		<wsdl:part name="ShowConfiguration" element="_ifr:ShowConfiguration" />
	</wsdl:message>
	<wsdl:message name="GetExternalRule">
		<wsdl:part name="GetExternalRule" element="_ifr:GetExternalRule" />
	</wsdl:message>
	<wsdl:message name="ShowExternalRule">
		<wsdl:part name="ShowExternalRule" element="_ifr:ShowExternalRule" />
	</wsdl:message>
	<wsdl:message name="GetOnlineStore">
		<wsdl:part name="GetOnlineStore" element="_ifr:GetOnlineStore" />
	</wsdl:message>
	<wsdl:message name="ShowOnlineStore">
		<wsdl:part name="ShowOnlineStore" element="_ifr:ShowOnlineStore" />
	</wsdl:message>
	<wsdl:message name="ProcessOnlineStore">
		<wsdl:part name="ProcessOnlineStore" element="_ifr:ProcessOnlineStore" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeOnlineStore">
		<wsdl:part name="AcknowledgeOnlineStore" element="_ifr:AcknowledgeOnlineStore" />
	</wsdl:message>
	<wsdl:message name="ChangeOnlineStore">
		<wsdl:part name="ChangeOnlineStore" element="_ifr:ChangeOnlineStore" />
	</wsdl:message>
	<wsdl:message name="RespondOnlineStore">
		<wsdl:part name="RespondOnlineStore" element="_ifr:RespondOnlineStore" />
	</wsdl:message>
	<wsdl:message name="GetPageLayout">
		<wsdl:part name="GetPageLayout" element="_ifr:GetPageLayout" />
	</wsdl:message>
	<wsdl:message name="ShowPageLayout">
		<wsdl:part name="ShowPageLayout" element="_ifr:ShowPageLayout" />
	</wsdl:message>
	<wsdl:message name="ChangePageLayout">
		<wsdl:part name="ChangePageLayout" element="_ifr:ChangePageLayout" />
	</wsdl:message>
	<wsdl:message name="RespondPageLayout">
		<wsdl:part name="RespondPageLayout" element="_ifr:RespondPageLayout" />
	</wsdl:message>
	<wsdl:message name="GetStorePage">
		<wsdl:part name="GetStorePage" element="_ifr:GetStorePage" />
	</wsdl:message>
	<wsdl:message name="ShowStorePage">
		<wsdl:part name="ShowStorePage" element="_ifr:ShowStorePage" />
	</wsdl:message>
	<wsdl:message name="ChangeStorePage">
		<wsdl:part name="ChangeStorePage" element="_ifr:ChangeStorePage" />
	</wsdl:message>
	<wsdl:message name="RespondStorePage">
		<wsdl:part name="RespondStorePage" element="_ifr:RespondStorePage" />
	</wsdl:message>
	<wsdl:message name="GetStorePageData">
		<wsdl:part name="GetStorePageData" element="_ifr:GetStorePageData" />
	</wsdl:message>
	<wsdl:message name="ShowStorePageData">
		<wsdl:part name="ShowStorePageData" element="_ifr:ShowStorePageData" />
	</wsdl:message>
	<wsdl:message name="GetFolder">
		<wsdl:part name="GetFolder" element="_ifr:GetFolder" />
	</wsdl:message>
	<wsdl:message name="ShowFolder">
		<wsdl:part name="ShowFolder" element="_ifr:ShowFolder" />
	</wsdl:message>
	<wsdl:message name="ProcessFolder">
		<wsdl:part name="ProcessFolder" element="_ifr:ProcessFolder" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeFolder">
		<wsdl:part name="AcknowledgeFolder" element="_ifr:AcknowledgeFolder" />
	</wsdl:message>
	<wsdl:message name="ChangeFolder">
		<wsdl:part name="ChangeFolder" element="_ifr:ChangeFolder" />
	</wsdl:message>
	<wsdl:message name="RespondFolder">
		<wsdl:part name="RespondFolder" element="_ifr:RespondFolder" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="InfrastructureServicesPortType">

		<wsdl:operation name="GetConfiguration">
			<wsdl:input message="_ifr:GetConfiguration" name="GetConfiguration" />
			<wsdl:output message="_ifr:ShowConfiguration" name="ShowConfiguration" />
		</wsdl:operation>
		<wsdl:operation name="GetExternalRule">
			<wsdl:input message="_ifr:GetExternalRule" name="GetExternalRule" />
			<wsdl:output message="_ifr:ShowExternalRule" name="ShowExternalRule" />
		</wsdl:operation>
		<wsdl:operation name="GetOnlineStore">
			<wsdl:input message="_ifr:GetOnlineStore" name="GetOnlineStore" />
			<wsdl:output message="_ifr:ShowOnlineStore" name="ShowOnlineStore" />
		</wsdl:operation>
		<wsdl:operation name="ProcessOnlineStore">
			<wsdl:input message="_ifr:ProcessOnlineStore" name="ProcessOnlineStore" />
			<wsdl:output message="_ifr:AcknowledgeOnlineStore" name="AcknowledgeOnlineStore" />
		</wsdl:operation>
		<wsdl:operation name="ChangeOnlineStore">
			<wsdl:input message="_ifr:ChangeOnlineStore" name="ChangeOnlineStore" />
			<wsdl:output message="_ifr:RespondOnlineStore" name="RespondOnlineStore" />
		</wsdl:operation>
		<wsdl:operation name="GetPageLayout">
			<wsdl:input message="_ifr:GetPageLayout" name="GetPageLayout" />
			<wsdl:output message="_ifr:ShowPageLayout" name="ShowPageLayout" />
		</wsdl:operation>
		<wsdl:operation name="ChangePageLayout">
			<wsdl:input message="_ifr:ChangePageLayout" name="ChangePageLayout" />
			<wsdl:output message="_ifr:RespondPageLayout" name="RespondPageLayout" />
		</wsdl:operation>
		<wsdl:operation name="GetStorePage">
			<wsdl:input message="_ifr:GetStorePage" name="GetStorePage" />
			<wsdl:output message="_ifr:ShowStorePage" name="ShowStorePage" />
		</wsdl:operation>
		<wsdl:operation name="ChangeStorePage">
			<wsdl:input message="_ifr:ChangeStorePage" name="ChangeStorePage" />
			<wsdl:output message="_ifr:RespondStorePage" name="RespondStorePage" />
		</wsdl:operation>
		<wsdl:operation name="GetStorePageData">
			<wsdl:input message="_ifr:GetStorePageData" name="GetStorePageData" />
			<wsdl:output message="_ifr:ShowStorePageData" name="ShowStorePageData" />
		</wsdl:operation>
		<wsdl:operation name="GetFolder">
			<wsdl:input message="_ifr:GetFolder" name="GetFolder" />
			<wsdl:output message="_ifr:ShowFolder" name="ShowFolder" />
		</wsdl:operation>
		<wsdl:operation name="ProcessFolder">
			<wsdl:input message="_ifr:ProcessFolder" name="ProcessFolder" />
			<wsdl:output message="_ifr:AcknowledgeFolder" name="AcknowledgeFolder" />
		</wsdl:operation>
		<wsdl:operation name="ChangeFolder">
			<wsdl:input message="_ifr:ChangeFolder" name="ChangeFolder" />
			<wsdl:output message="_ifr:RespondFolder" name="RespondFolder" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="InfrastructureServices"
		type="_ifr:InfrastructureServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetConfiguration">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="GetConfiguration">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowConfiguration">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetExternalRule">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="GetExternalRule">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowExternalRule">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOnlineStore">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="GetOnlineStore">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowOnlineStore">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessOnlineStore">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="ProcessOnlineStore">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeOnlineStore">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeOnlineStore">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="ChangeOnlineStore">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondOnlineStore">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPageLayout">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="GetPageLayout">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPageLayout">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePageLayout">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="ChangePageLayout">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPageLayout">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStorePage">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="GetStorePage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowStorePage">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeStorePage">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="ChangeStorePage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondStorePage">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStorePageData">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="GetStorePageData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowStorePageData">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFolder">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="GetFolder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowFolder">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessFolder">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="ProcessFolder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeFolder">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeFolder">
			<soap:operation
				soapAction="http://localhost/services/InfrastructureServices.wsdl" />
			<wsdl:input name="ChangeFolder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondFolder">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="InfrastructureServices">
		<wsdl:port binding="_ifr:InfrastructureServices" name="InfrastructureServices">
			<soap:address
				location="http://localhost/webapp/wcs/commerceComponent/infrastructure/services/InfrastructureServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
