WebServicesRouter/WebContent/component-services/wsdl/InstallmentServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ins="http://www.ibm.com/xmlns/prod/commerce/9/installment"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/installment"
	name="InstallmentServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/installment">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetInstallmentRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowInstallmentRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessInstallmentRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeInstallmentRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeInstallmentRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondInstallmentRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCatalogEntryInstallmentPrice.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCatalogEntryInstallmentPrice.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetOrderInstallmentPrice.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowOrderInstallmentPrice.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetInstallmentRule">
		<wsdl:part name="GetInstallmentRule" element="_ins:GetInstallmentRule" />
	</wsdl:message>
	<wsdl:message name="ShowInstallmentRule">
		<wsdl:part name="ShowInstallmentRule" element="_ins:ShowInstallmentRule" />
	</wsdl:message>
	<wsdl:message name="ProcessInstallmentRule">
		<wsdl:part name="ProcessInstallmentRule" element="_ins:ProcessInstallmentRule" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeInstallmentRule">
		<wsdl:part name="AcknowledgeInstallmentRule" element="_ins:AcknowledgeInstallmentRule" />
	</wsdl:message>
	<wsdl:message name="ChangeInstallmentRule">
		<wsdl:part name="ChangeInstallmentRule" element="_ins:ChangeInstallmentRule" />
	</wsdl:message>
	<wsdl:message name="RespondInstallmentRule">
		<wsdl:part name="RespondInstallmentRule" element="_ins:RespondInstallmentRule" />
	</wsdl:message>
	<wsdl:message name="GetCatalogEntryInstallmentPrice">
		<wsdl:part name="GetCatalogEntryInstallmentPrice" element="_ins:GetCatalogEntryInstallmentPrice" />
	</wsdl:message>
	<wsdl:message name="ShowCatalogEntryInstallmentPrice">
		<wsdl:part name="ShowCatalogEntryInstallmentPrice" element="_ins:ShowCatalogEntryInstallmentPrice" />
	</wsdl:message>
	<wsdl:message name="GetOrderInstallmentPrice">
		<wsdl:part name="GetOrderInstallmentPrice" element="_ins:GetOrderInstallmentPrice" />
	</wsdl:message>
	<wsdl:message name="ShowOrderInstallmentPrice">
		<wsdl:part name="ShowOrderInstallmentPrice" element="_ins:ShowOrderInstallmentPrice" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="InstallmentServicesPortType">

		<wsdl:operation name="GetInstallmentRule">
			<wsdl:input message="_ins:GetInstallmentRule" name="GetInstallmentRule" />
			<wsdl:output message="_ins:ShowInstallmentRule" name="ShowInstallmentRule" />
		</wsdl:operation>
		<wsdl:operation name="ProcessInstallmentRule">
			<wsdl:input message="_ins:ProcessInstallmentRule" name="ProcessInstallmentRule" />
			<wsdl:output message="_ins:AcknowledgeInstallmentRule" name="AcknowledgeInstallmentRule" />
		</wsdl:operation>
		<wsdl:operation name="ChangeInstallmentRule">
			<wsdl:input message="_ins:ChangeInstallmentRule" name="ChangeInstallmentRule" />
			<wsdl:output message="_ins:RespondInstallmentRule" name="RespondInstallmentRule" />
		</wsdl:operation>
		<wsdl:operation name="GetCatalogEntryInstallmentPrice">
			<wsdl:input message="_ins:GetCatalogEntryInstallmentPrice" name="GetCatalogEntryInstallmentPrice" />
			<wsdl:output message="_ins:ShowCatalogEntryInstallmentPrice" name="ShowCatalogEntryInstallmentPrice" />
		</wsdl:operation>
		<wsdl:operation name="GetOrderInstallmentPrice">
			<wsdl:input message="_ins:GetOrderInstallmentPrice" name="GetOrderInstallmentPrice" />
			<wsdl:output message="_ins:ShowOrderInstallmentPrice" name="ShowOrderInstallmentPrice" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="InstallmentServices"
		type="_ins:InstallmentServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetInstallmentRule">
			<soap:operation
				soapAction="http://localhost/services/InstallmentServices.wsdl" />
			<wsdl:input name="GetInstallmentRule">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowInstallmentRule">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessInstallmentRule">
			<soap:operation
				soapAction="http://localhost/services/InstallmentServices.wsdl" />
			<wsdl:input name="ProcessInstallmentRule">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeInstallmentRule">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeInstallmentRule">
			<soap:operation
				soapAction="http://localhost/services/InstallmentServices.wsdl" />
			<wsdl:input name="ChangeInstallmentRule">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondInstallmentRule">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCatalogEntryInstallmentPrice">
			<soap:operation
				soapAction="http://localhost/services/InstallmentServices.wsdl" />
			<wsdl:input name="GetCatalogEntryInstallmentPrice">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowCatalogEntryInstallmentPrice">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrderInstallmentPrice">
			<soap:operation
				soapAction="http://localhost/services/InstallmentServices.wsdl" />
			<wsdl:input name="GetOrderInstallmentPrice">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowOrderInstallmentPrice">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="InstallmentServices">
		<wsdl:port binding="_ins:InstallmentServices" name="InstallmentServices">
			<soap:address
				location="http://localhost/webapp/wcs/commerceComponent/installment/services/InstallmentServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

