WebServicesRouter/WebContent/component-services/wsdl/InventoryServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_inv="http://www.ibm.com/xmlns/prod/commerce/9/inventory"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/inventory"
	name="InventoryServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/inventory">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetInventoryAvailability.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowInventoryAvailability.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeInventoryAvailability.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondInventoryAvailability.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/SyncInventoryAvailability.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessInventoryRequirement.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeInventoryRequirement.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetInventoryAvailability">
		<wsdl:part name="GetInventoryAvailability" element="_inv:GetInventoryAvailability" />
	</wsdl:message>
	<wsdl:message name="ShowInventoryAvailability">
		<wsdl:part name="ShowInventoryAvailability" element="_inv:ShowInventoryAvailability" />
	</wsdl:message>
	<wsdl:message name="ChangeInventoryAvailability">
		<wsdl:part name="ChangeInventoryAvailability" element="_inv:ChangeInventoryAvailability" />
	</wsdl:message>
	<wsdl:message name="RespondInventoryAvailability">
		<wsdl:part name="RespondInventoryAvailability" element="_inv:RespondInventoryAvailability" />
	</wsdl:message>
	<wsdl:message name="SyncInventoryAvailability">
		<wsdl:part name="SyncInventoryAvailability" element="_inv:SyncInventoryAvailability" />
	</wsdl:message>
	<wsdl:message name="ProcessInventoryRequirement">
		<wsdl:part name="ProcessInventoryRequirement" element="_inv:ProcessInventoryRequirement" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeInventoryRequirement">
		<wsdl:part name="AcknowledgeInventoryRequirement" element="_inv:AcknowledgeInventoryRequirement" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="InventoryServicesPortType">

		<wsdl:operation name="GetInventoryAvailability">
			<wsdl:input message="_inv:GetInventoryAvailability" name="GetInventoryAvailability" />
			<wsdl:output message="_inv:ShowInventoryAvailability" name="ShowInventoryAvailability" />
		</wsdl:operation>
		<wsdl:operation name="ChangeInventoryAvailability">
			<wsdl:input message="_inv:ChangeInventoryAvailability" name="ChangeInventoryAvailability" />
			<wsdl:output message="_inv:RespondInventoryAvailability" name="RespondInventoryAvailability" />
		</wsdl:operation>
		<wsdl:operation name="SyncInventoryAvailability">
			<wsdl:input message="_inv:SyncInventoryAvailability" name="SyncInventoryAvailability" />
			<wsdl:output message="_inv:ConfirmBOD" name="ConfirmInventoryAvailabilityBOD" />
		</wsdl:operation>
		<wsdl:operation name="ProcessInventoryRequirement">
			<wsdl:input message="_inv:ProcessInventoryRequirement" name="ProcessInventoryRequirement" />
			<wsdl:output message="_inv:AcknowledgeInventoryRequirement" name="AcknowledgeInventoryRequirement" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="InventoryServices"
		type="_inv:InventoryServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetInventoryAvailability">
			<soap:operation
				soapAction="http://localhost/services/InventoryServices.wsdl" />
			<wsdl:input name="GetInventoryAvailability">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowInventoryAvailability">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeInventoryAvailability">
			<soap:operation
				soapAction="http://localhost/services/InventoryServices.wsdl" />
			<wsdl:input name="ChangeInventoryAvailability">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondInventoryAvailability">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncInventoryAvailability">
			<soap:operation
				soapAction="http://localhost/services/InventoryServices.wsdl" />
			<wsdl:input name="SyncInventoryAvailability">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ConfirmInventoryAvailabilityBOD">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessInventoryRequirement">
			<soap:operation
				soapAction="http://localhost/services/InventoryServices.wsdl" />
			<wsdl:input name="ProcessInventoryRequirement">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeInventoryRequirement">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="InventoryServices">
		<wsdl:port binding="_inv:InventoryServices" name="InventoryServices">
			<soap:address
				location="http://localhost/webapp/wcs/component/inventory/services/InventoryServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

