WebServicesRouter/WebContent/component-services/wsdl/LocationServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2011                               -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_loc="http://www.ibm.com/xmlns/prod/commerce/9/location"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/location"
	name="LocationServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/location">
			
			<xsd:include schemaLocation="../xsd/LocationDataService.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPointOfInterest.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPointOfInterest.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPointOfInterest.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePointOfInterest.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePointOfInterest.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPointOfInterest.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetClientLocation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowClientLocation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessClientLocation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeClientLocation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeClientLocation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondClientLocation.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetPointOfInterest">
		<wsdl:part name="GetPointOfInterest" element="_loc:GetPointOfInterest" />
	</wsdl:message>
	<wsdl:message name="ShowPointOfInterest">
		<wsdl:part name="ShowPointOfInterest" element="_loc:ShowPointOfInterest" />
	</wsdl:message>
	<wsdl:message name="ProcessPointOfInterest">
		<wsdl:part name="ProcessPointOfInterest" element="_loc:ProcessPointOfInterest" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePointOfInterest">
		<wsdl:part name="AcknowledgePointOfInterest" element="_loc:AcknowledgePointOfInterest" />
	</wsdl:message>
	<wsdl:message name="ChangePointOfInterest">
		<wsdl:part name="ChangePointOfInterest" element="_loc:ChangePointOfInterest" />
	</wsdl:message>
	<wsdl:message name="RespondPointOfInterest">
		<wsdl:part name="RespondPointOfInterest" element="_loc:RespondPointOfInterest" />
	</wsdl:message>
	<wsdl:message name="GetClientLocation">
		<wsdl:part name="GetClientLocation" element="_loc:GetClientLocation" />
	</wsdl:message>
	<wsdl:message name="ShowClientLocation">
		<wsdl:part name="ShowClientLocation" element="_loc:ShowClientLocation" />
	</wsdl:message>
	<wsdl:message name="ProcessClientLocation">
		<wsdl:part name="ProcessClientLocation" element="_loc:ProcessClientLocation" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeClientLocation">
		<wsdl:part name="AcknowledgeClientLocation" element="_loc:AcknowledgeClientLocation" />
	</wsdl:message>
	<wsdl:message name="ChangeClientLocation">
		<wsdl:part name="ChangeClientLocation" element="_loc:ChangeClientLocation" />
	</wsdl:message>
	<wsdl:message name="RespondClientLocation">
		<wsdl:part name="RespondClientLocation" element="_loc:RespondClientLocation" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="LocationServicesPortType">

		<wsdl:operation name="GetPointOfInterest">
			<wsdl:input message="_loc:GetPointOfInterest" name="GetPointOfInterest" />
			<wsdl:output message="_loc:ShowPointOfInterest" name="ShowPointOfInterest" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPointOfInterest">
			<wsdl:input message="_loc:ProcessPointOfInterest" name="ProcessPointOfInterest" />
			<wsdl:output message="_loc:AcknowledgePointOfInterest" name="AcknowledgePointOfInterest" />
		</wsdl:operation>
		<wsdl:operation name="ChangePointOfInterest">
			<wsdl:input message="_loc:ChangePointOfInterest" name="ChangePointOfInterest" />
			<wsdl:output message="_loc:RespondPointOfInterest" name="RespondPointOfInterest" />
		</wsdl:operation>
		<wsdl:operation name="GetClientLocation">
			<wsdl:input message="_loc:GetClientLocation" name="GetClientLocation" />
			<wsdl:output message="_loc:ShowClientLocation" name="ShowClientLocation" />
		</wsdl:operation>
		<wsdl:operation name="ProcessClientLocation">
			<wsdl:input message="_loc:ProcessClientLocation" name="ProcessClientLocation" />
			<wsdl:output message="_loc:AcknowledgeClientLocation" name="AcknowledgeClientLocation" />
		</wsdl:operation>
		<wsdl:operation name="ChangeClientLocation">
			<wsdl:input message="_loc:ChangeClientLocation" name="ChangeClientLocation" />
			<wsdl:output message="_loc:RespondClientLocation" name="RespondClientLocation" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="LocationServices"
		type="_loc:LocationServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetPointOfInterest">
			<soap:operation
				soapAction="http://localhost/services/LocationServices.wsdl" />
			<wsdl:input name="GetPointOfInterest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPointOfInterest">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessPointOfInterest">
			<soap:operation
				soapAction="http://localhost/services/LocationServices.wsdl" />
			<wsdl:input name="ProcessPointOfInterest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePointOfInterest">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePointOfInterest">
			<soap:operation
				soapAction="http://localhost/services/LocationServices.wsdl" />
			<wsdl:input name="ChangePointOfInterest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPointOfInterest">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetClientLocation">
			<soap:operation
				soapAction="http://localhost/services/LocationServices.wsdl" />
			<wsdl:input name="GetClientLocation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowClientLocation">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessClientLocation">
			<soap:operation
				soapAction="http://localhost/services/LocationServices.wsdl" />
			<wsdl:input name="ProcessClientLocation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeClientLocation">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeClientLocation">
			<soap:operation
				soapAction="http://localhost/services/LocationServices.wsdl" />
			<wsdl:input name="ChangeClientLocation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondClientLocation">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="LocationServices">
		<wsdl:port binding="_loc:LocationServices" name="LocationServices">
			<soap:address
				location="http://localhost/webapp/wcs/component/location/services/LocationServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

