WebServicesRouter/WebContent/component-services/wsdl/MarketingServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2007                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_mkt="http://www.ibm.com/xmlns/prod/commerce/9/marketing"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/marketing"
	name="MarketingServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/marketing">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetContentSpotData.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowContentSpotData.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetMarketingSpotData.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowMarketingSpotData.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessMarketingTrigger.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeMarketingTrigger.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetMarketingTriggerFilter.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowMarketingTriggerFilter.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetMarketingSpot.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowMarketingSpot.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessMarketingSpot.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeMarketingSpot.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeMarketingSpot.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondMarketingSpot.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetMarketingContent.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowMarketingContent.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessMarketingContent.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeMarketingContent.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeMarketingContent.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondMarketingContent.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetMarketingEmailTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowMarketingEmailTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessMarketingEmailTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeMarketingEmailTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeMarketingEmailTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondMarketingEmailTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCampaign.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCampaign.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessCampaign.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeCampaign.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeCampaign.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondCampaign.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetActivity.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowActivity.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessActivity.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeActivity.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeActivity.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondActivity.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetCampaignElementTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowCampaignElementTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessCampaignElementTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeCampaignElementTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeCampaignElementTemplate.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondCampaignElementTemplate.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetContentSpotData">
		<wsdl:part name="GetContentSpotData" element="_mkt:GetContentSpotData" />
	</wsdl:message>
	<wsdl:message name="ShowContentSpotData">
		<wsdl:part name="ShowContentSpotData" element="_mkt:ShowContentSpotData" />
	</wsdl:message>
	<wsdl:message name="GetMarketingSpotData">
		<wsdl:part name="GetMarketingSpotData" element="_mkt:GetMarketingSpotData" />
	</wsdl:message>
	<wsdl:message name="ShowMarketingSpotData">
		<wsdl:part name="ShowMarketingSpotData" element="_mkt:ShowMarketingSpotData" />
	</wsdl:message>
	<wsdl:message name="ProcessMarketingTrigger">
		<wsdl:part name="ProcessMarketingTrigger" element="_mkt:ProcessMarketingTrigger" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeMarketingTrigger">
		<wsdl:part name="AcknowledgeMarketingTrigger" element="_mkt:AcknowledgeMarketingTrigger" />
	</wsdl:message>
	<wsdl:message name="GetMarketingTriggerFilter">
		<wsdl:part name="GetMarketingTriggerFilter" element="_mkt:GetMarketingTriggerFilter" />
	</wsdl:message>
	<wsdl:message name="ShowMarketingTriggerFilter">
		<wsdl:part name="ShowMarketingTriggerFilter" element="_mkt:ShowMarketingTriggerFilter" />
	</wsdl:message>
	<wsdl:message name="GetMarketingSpot">
		<wsdl:part name="GetMarketingSpot" element="_mkt:GetMarketingSpot" />
	</wsdl:message>
	<wsdl:message name="ShowMarketingSpot">
		<wsdl:part name="ShowMarketingSpot" element="_mkt:ShowMarketingSpot" />
	</wsdl:message>
	<wsdl:message name="ProcessMarketingSpot">
		<wsdl:part name="ProcessMarketingSpot" element="_mkt:ProcessMarketingSpot" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeMarketingSpot">
		<wsdl:part name="AcknowledgeMarketingSpot" element="_mkt:AcknowledgeMarketingSpot" />
	</wsdl:message>
	<wsdl:message name="ChangeMarketingSpot">
		<wsdl:part name="ChangeMarketingSpot" element="_mkt:ChangeMarketingSpot" />
	</wsdl:message>
	<wsdl:message name="RespondMarketingSpot">
		<wsdl:part name="RespondMarketingSpot" element="_mkt:RespondMarketingSpot" />
	</wsdl:message>
	<wsdl:message name="GetMarketingContent">
		<wsdl:part name="GetMarketingContent" element="_mkt:GetMarketingContent" />
	</wsdl:message>
	<wsdl:message name="ShowMarketingContent">
		<wsdl:part name="ShowMarketingContent" element="_mkt:ShowMarketingContent" />
	</wsdl:message>
	<wsdl:message name="ProcessMarketingContent">
		<wsdl:part name="ProcessMarketingContent" element="_mkt:ProcessMarketingContent" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeMarketingContent">
		<wsdl:part name="AcknowledgeMarketingContent" element="_mkt:AcknowledgeMarketingContent" />
	</wsdl:message>
	<wsdl:message name="ChangeMarketingContent">
		<wsdl:part name="ChangeMarketingContent" element="_mkt:ChangeMarketingContent" />
	</wsdl:message>
	<wsdl:message name="RespondMarketingContent">
		<wsdl:part name="RespondMarketingContent" element="_mkt:RespondMarketingContent" />
	</wsdl:message>
	<wsdl:message name="GetMarketingEmailTemplate">
		<wsdl:part name="GetMarketingEmailTemplate" element="_mkt:GetMarketingEmailTemplate" />
	</wsdl:message>
	<wsdl:message name="ShowMarketingEmailTemplate">
		<wsdl:part name="ShowMarketingEmailTemplate" element="_mkt:ShowMarketingEmailTemplate" />
	</wsdl:message>
	<wsdl:message name="ProcessMarketingEmailTemplate">
		<wsdl:part name="ProcessMarketingEmailTemplate" element="_mkt:ProcessMarketingEmailTemplate" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeMarketingEmailTemplate">
		<wsdl:part name="AcknowledgeMarketingEmailTemplate" element="_mkt:AcknowledgeMarketingEmailTemplate" />
	</wsdl:message>
	<wsdl:message name="ChangeMarketingEmailTemplate">
		<wsdl:part name="ChangeMarketingEmailTemplate" element="_mkt:ChangeMarketingEmailTemplate" />
	</wsdl:message>
	<wsdl:message name="RespondMarketingEmailTemplate">
		<wsdl:part name="RespondMarketingEmailTemplate" element="_mkt:RespondMarketingEmailTemplate" />
	</wsdl:message>
	<wsdl:message name="GetCampaign">
		<wsdl:part name="GetCampaign" element="_mkt:GetCampaign" />
	</wsdl:message>
	<wsdl:message name="ShowCampaign">
		<wsdl:part name="ShowCampaign" element="_mkt:ShowCampaign" />
	</wsdl:message>
	<wsdl:message name="ProcessCampaign">
		<wsdl:part name="ProcessCampaign" element="_mkt:ProcessCampaign" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeCampaign">
		<wsdl:part name="AcknowledgeCampaign" element="_mkt:AcknowledgeCampaign" />
	</wsdl:message>
	<wsdl:message name="ChangeCampaign">
		<wsdl:part name="ChangeCampaign" element="_mkt:ChangeCampaign" />
	</wsdl:message>
	<wsdl:message name="RespondCampaign">
		<wsdl:part name="RespondCampaign" element="_mkt:RespondCampaign" />
	</wsdl:message>
	<wsdl:message name="GetActivity">
		<wsdl:part name="GetActivity" element="_mkt:GetActivity" />
	</wsdl:message>
	<wsdl:message name="ShowActivity">
		<wsdl:part name="ShowActivity" element="_mkt:ShowActivity" />
	</wsdl:message>
	<wsdl:message name="ProcessActivity">
		<wsdl:part name="ProcessActivity" element="_mkt:ProcessActivity" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeActivity">
		<wsdl:part name="AcknowledgeActivity" element="_mkt:AcknowledgeActivity" />
	</wsdl:message>
	<wsdl:message name="ChangeActivity">
		<wsdl:part name="ChangeActivity" element="_mkt:ChangeActivity" />
	</wsdl:message>
	<wsdl:message name="RespondActivity">
		<wsdl:part name="RespondActivity" element="_mkt:RespondActivity" />
	</wsdl:message>
	<wsdl:message name="GetCampaignElementTemplate">
		<wsdl:part name="GetCampaignElementTemplate" element="_mkt:GetCampaignElementTemplate" />
	</wsdl:message>
	<wsdl:message name="ShowCampaignElementTemplate">
		<wsdl:part name="ShowCampaignElementTemplate" element="_mkt:ShowCampaignElementTemplate" />
	</wsdl:message>
	<wsdl:message name="ProcessCampaignElementTemplate">
		<wsdl:part name="ProcessCampaignElementTemplate" element="_mkt:ProcessCampaignElementTemplate" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeCampaignElementTemplate">
		<wsdl:part name="AcknowledgeCampaignElementTemplate" element="_mkt:AcknowledgeCampaignElementTemplate" />
	</wsdl:message>
	<wsdl:message name="ChangeCampaignElementTemplate">
		<wsdl:part name="ChangeCampaignElementTemplate" element="_mkt:ChangeCampaignElementTemplate" />
	</wsdl:message>
	<wsdl:message name="RespondCampaignElementTemplate">
		<wsdl:part name="RespondCampaignElementTemplate" element="_mkt:RespondCampaignElementTemplate" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="MarketingServicesPortType">

		<wsdl:operation name="GetContentSpotData">
			<wsdl:input message="_mkt:GetContentSpotData" name="GetContentSpotData" />
			<wsdl:output message="_mkt:ShowContentSpotData" name="ShowContentSpotData" />
		</wsdl:operation>
		<wsdl:operation name="GetMarketingSpotData">
			<wsdl:input message="_mkt:GetMarketingSpotData" name="GetMarketingSpotData" />
			<wsdl:output message="_mkt:ShowMarketingSpotData" name="ShowMarketingSpotData" />
		</wsdl:operation>
		<wsdl:operation name="ProcessMarketingTrigger">
			<wsdl:input message="_mkt:ProcessMarketingTrigger" name="ProcessMarketingTrigger" />
			<wsdl:output message="_mkt:AcknowledgeMarketingTrigger" name="AcknowledgeMarketingTrigger" />
		</wsdl:operation>
		<wsdl:operation name="GetMarketingTriggerFilter">
			<wsdl:input message="_mkt:GetMarketingTriggerFilter" name="GetMarketingTriggerFilter" />
			<wsdl:output message="_mkt:ShowMarketingTriggerFilter" name="ShowMarketingTriggerFilter" />
		</wsdl:operation>
		<wsdl:operation name="GetMarketingSpot">
			<wsdl:input message="_mkt:GetMarketingSpot" name="GetMarketingSpot" />
			<wsdl:output message="_mkt:ShowMarketingSpot" name="ShowMarketingSpot" />
		</wsdl:operation>
		<wsdl:operation name="ProcessMarketingSpot">
			<wsdl:input message="_mkt:ProcessMarketingSpot" name="ProcessMarketingSpot" />
			<wsdl:output message="_mkt:AcknowledgeMarketingSpot" name="AcknowledgeMarketingSpot" />
		</wsdl:operation>
		<wsdl:operation name="ChangeMarketingSpot">
			<wsdl:input message="_mkt:ChangeMarketingSpot" name="ChangeMarketingSpot" />
			<wsdl:output message="_mkt:RespondMarketingSpot" name="RespondMarketingSpot" />
		</wsdl:operation>
		<wsdl:operation name="GetMarketingContent">
			<wsdl:input message="_mkt:GetMarketingContent" name="GetMarketingContent" />
			<wsdl:output message="_mkt:ShowMarketingContent" name="ShowMarketingContent" />
		</wsdl:operation>
		<wsdl:operation name="ProcessMarketingContent">
			<wsdl:input message="_mkt:ProcessMarketingContent" name="ProcessMarketingContent" />
			<wsdl:output message="_mkt:AcknowledgeMarketingContent" name="AcknowledgeMarketingContent" />
		</wsdl:operation>
		<wsdl:operation name="ChangeMarketingContent">
			<wsdl:input message="_mkt:ChangeMarketingContent" name="ChangeMarketingContent" />
			<wsdl:output message="_mkt:RespondMarketingContent" name="RespondMarketingContent" />
		</wsdl:operation>
		<wsdl:operation name="GetMarketingEmailTemplate">
			<wsdl:input message="_mkt:GetMarketingEmailTemplate" name="GetMarketingEmailTemplate" />
			<wsdl:output message="_mkt:ShowMarketingEmailTemplate" name="ShowMarketingEmailTemplate" />
		</wsdl:operation>
		<wsdl:operation name="ProcessMarketingEmailTemplate">
			<wsdl:input message="_mkt:ProcessMarketingEmailTemplate" name="ProcessMarketingEmailTemplate" />
			<wsdl:output message="_mkt:AcknowledgeMarketingEmailTemplate" name="AcknowledgeMarketingEmailTemplate" />
		</wsdl:operation>
		<wsdl:operation name="ChangeMarketingEmailTemplate">
			<wsdl:input message="_mkt:ChangeMarketingEmailTemplate" name="ChangeMarketingEmailTemplate" />
			<wsdl:output message="_mkt:RespondMarketingEmailTemplate" name="RespondMarketingEmailTemplate" />
		</wsdl:operation>
		<wsdl:operation name="GetCampaign">
			<wsdl:input message="_mkt:GetCampaign" name="GetCampaign" />
			<wsdl:output message="_mkt:ShowCampaign" name="ShowCampaign" />
		</wsdl:operation>
		<wsdl:operation name="ProcessCampaign">
			<wsdl:input message="_mkt:ProcessCampaign" name="ProcessCampaign" />
			<wsdl:output message="_mkt:AcknowledgeCampaign" name="AcknowledgeCampaign" />
		</wsdl:operation>
		<wsdl:operation name="ChangeCampaign">
			<wsdl:input message="_mkt:ChangeCampaign" name="ChangeCampaign" />
			<wsdl:output message="_mkt:RespondCampaign" name="RespondCampaign" />
		</wsdl:operation>
		<wsdl:operation name="GetActivity">
			<wsdl:input message="_mkt:GetActivity" name="GetActivity" />
			<wsdl:output message="_mkt:ShowActivity" name="ShowActivity" />
		</wsdl:operation>
		<wsdl:operation name="ProcessActivity">
			<wsdl:input message="_mkt:ProcessActivity" name="ProcessActivity" />
			<wsdl:output message="_mkt:AcknowledgeActivity" name="AcknowledgeActivity" />
		</wsdl:operation>
		<wsdl:operation name="ChangeActivity">
			<wsdl:input message="_mkt:ChangeActivity" name="ChangeActivity" />
			<wsdl:output message="_mkt:RespondActivity" name="RespondActivity" />
		</wsdl:operation>
		<wsdl:operation name="GetCampaignElementTemplate">
			<wsdl:input message="_mkt:GetCampaignElementTemplate" name="GetCampaignElementTemplate" />
			<wsdl:output message="_mkt:ShowCampaignElementTemplate" name="ShowCampaignElementTemplate" />
		</wsdl:operation>
		<wsdl:operation name="ProcessCampaignElementTemplate">
			<wsdl:input message="_mkt:ProcessCampaignElementTemplate" name="ProcessCampaignElementTemplate" />
			<wsdl:output message="_mkt:AcknowledgeCampaignElementTemplate" name="AcknowledgeCampaignElementTemplate" />
		</wsdl:operation>
		<wsdl:operation name="ChangeCampaignElementTemplate">
			<wsdl:input message="_mkt:ChangeCampaignElementTemplate" name="ChangeCampaignElementTemplate" />
			<wsdl:output message="_mkt:RespondCampaignElementTemplate" name="RespondCampaignElementTemplate" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="MarketingServices"
		type="_mkt:MarketingServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetContentSpotData">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="GetContentSpotData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowContentSpotData">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMarketingSpotData">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="GetMarketingSpotData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowMarketingSpotData">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessMarketingTrigger">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ProcessMarketingTrigger">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeMarketingTrigger">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMarketingTriggerFilter">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="GetMarketingTriggerFilter">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowMarketingTriggerFilter">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMarketingSpot">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="GetMarketingSpot">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowMarketingSpot">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessMarketingSpot">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ProcessMarketingSpot">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeMarketingSpot">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeMarketingSpot">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ChangeMarketingSpot">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondMarketingSpot">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMarketingContent">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="GetMarketingContent">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowMarketingContent">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessMarketingContent">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ProcessMarketingContent">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeMarketingContent">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeMarketingContent">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ChangeMarketingContent">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondMarketingContent">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMarketingEmailTemplate">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="GetMarketingEmailTemplate">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowMarketingEmailTemplate">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessMarketingEmailTemplate">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ProcessMarketingEmailTemplate">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeMarketingEmailTemplate">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeMarketingEmailTemplate">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ChangeMarketingEmailTemplate">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondMarketingEmailTemplate">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCampaign">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="GetCampaign">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowCampaign">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessCampaign">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ProcessCampaign">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeCampaign">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeCampaign">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ChangeCampaign">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondCampaign">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetActivity">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="GetActivity">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowActivity">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessActivity">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ProcessActivity">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeActivity">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeActivity">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ChangeActivity">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondActivity">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCampaignElementTemplate">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="GetCampaignElementTemplate">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowCampaignElementTemplate">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessCampaignElementTemplate">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ProcessCampaignElementTemplate">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeCampaignElementTemplate">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeCampaignElementTemplate">
			<soap:operation
				soapAction="http://localhost/services/MarketingServices.wsdl" />
			<wsdl:input name="ChangeCampaignElementTemplate">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondCampaignElementTemplate">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="MarketingServices">
		<wsdl:port binding="_mkt:MarketingServices" name="MarketingServices">
			<soap:address
				location="http://localhost/webapp/wcs/component/marketing/services/MarketingServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

