WebServicesRouter/WebContent/component-services/wsdl/MemberServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:IBM="http://www.ibm.com/xmlns/prod/commerce/9/member"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/member"
	name="MemberServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/member">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetMemberGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowMemberGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessMemberGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeMemberGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeMemberGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondMemberGroup.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPerson.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPerson.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPerson.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePerson.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePerson.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPerson.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/SyncPerson.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetOrganization.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowOrganization.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessOrganization.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeOrganization.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeOrganization.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondOrganization.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/SyncOrganization.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetMemberGroup">
		<wsdl:part name="GetMemberGroup" element="IBM:GetMemberGroup" />
	</wsdl:message>
	<wsdl:message name="ShowMemberGroup">
		<wsdl:part name="ShowMemberGroup" element="IBM:ShowMemberGroup" />
	</wsdl:message>
	<wsdl:message name="ProcessMemberGroup">
		<wsdl:part name="ProcessMemberGroup" element="IBM:ProcessMemberGroup" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeMemberGroup">
		<wsdl:part name="AcknowledgeMemberGroup" element="IBM:AcknowledgeMemberGroup" />
	</wsdl:message>
	<wsdl:message name="ChangeMemberGroup">
		<wsdl:part name="ChangeMemberGroup" element="IBM:ChangeMemberGroup" />
	</wsdl:message>
	<wsdl:message name="RespondMemberGroup">
		<wsdl:part name="RespondMemberGroup" element="IBM:RespondMemberGroup" />
	</wsdl:message>
	<wsdl:message name="GetPerson">
		<wsdl:part name="GetPerson" element="IBM:GetPerson" />
	</wsdl:message>
	<wsdl:message name="ShowPerson">
		<wsdl:part name="ShowPerson" element="IBM:ShowPerson" />
	</wsdl:message>
	<wsdl:message name="ProcessPerson">
		<wsdl:part name="ProcessPerson" element="IBM:ProcessPerson" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePerson">
		<wsdl:part name="AcknowledgePerson" element="IBM:AcknowledgePerson" />
	</wsdl:message>
	<wsdl:message name="ChangePerson">
		<wsdl:part name="ChangePerson" element="IBM:ChangePerson" />
	</wsdl:message>
	<wsdl:message name="RespondPerson">
		<wsdl:part name="RespondPerson" element="IBM:RespondPerson" />
	</wsdl:message>
	<wsdl:message name="SyncPerson">
		<wsdl:part name="SyncPerson" element="IBM:SyncPerson" />
	</wsdl:message>
	<wsdl:message name="GetOrganization">
		<wsdl:part name="GetOrganization" element="IBM:GetOrganization" />
	</wsdl:message>
	<wsdl:message name="ShowOrganization">
		<wsdl:part name="ShowOrganization" element="IBM:ShowOrganization" />
	</wsdl:message>
	<wsdl:message name="ProcessOrganization">
		<wsdl:part name="ProcessOrganization" element="IBM:ProcessOrganization" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeOrganization">
		<wsdl:part name="AcknowledgeOrganization" element="IBM:AcknowledgeOrganization" />
	</wsdl:message>
	<wsdl:message name="ChangeOrganization">
		<wsdl:part name="ChangeOrganization" element="IBM:ChangeOrganization" />
	</wsdl:message>
	<wsdl:message name="RespondOrganization">
		<wsdl:part name="RespondOrganization" element="IBM:RespondOrganization" />
	</wsdl:message>
	<wsdl:message name="SyncOrganization">
		<wsdl:part name="SyncOrganization" element="IBM:SyncOrganization" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="MemberServicesPortType">

		<wsdl:operation name="GetMemberGroup">
			<wsdl:input message="IBM:GetMemberGroup" name="GetMemberGroup" />
			<wsdl:output message="IBM:ShowMemberGroup" name="ShowMemberGroup" />
		</wsdl:operation>
		<wsdl:operation name="ProcessMemberGroup">
			<wsdl:input message="IBM:ProcessMemberGroup" name="ProcessMemberGroup" />
			<wsdl:output message="IBM:AcknowledgeMemberGroup" name="AcknowledgeMemberGroup" />
		</wsdl:operation>
		<wsdl:operation name="ChangeMemberGroup">
			<wsdl:input message="IBM:ChangeMemberGroup" name="ChangeMemberGroup" />
			<wsdl:output message="IBM:RespondMemberGroup" name="RespondMemberGroup" />
		</wsdl:operation>
		<wsdl:operation name="GetPerson">
			<wsdl:input message="IBM:GetPerson" name="GetPerson" />
			<wsdl:output message="IBM:ShowPerson" name="ShowPerson" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPerson">
			<wsdl:input message="IBM:ProcessPerson" name="ProcessPerson" />
			<wsdl:output message="IBM:AcknowledgePerson" name="AcknowledgePerson" />
		</wsdl:operation>
		<wsdl:operation name="ChangePerson">
			<wsdl:input message="IBM:ChangePerson" name="ChangePerson" />
			<wsdl:output message="IBM:RespondPerson" name="RespondPerson" />
		</wsdl:operation>
		<wsdl:operation name="SyncPerson">
			<wsdl:input message="IBM:SyncPerson" name="SyncPerson" />
			<wsdl:output message="IBM:ConfirmBOD" name="ConfirmPersonBOD" />
		</wsdl:operation>
		<wsdl:operation name="GetOrganization">
			<wsdl:input message="IBM:GetOrganization" name="GetOrganization" />
			<wsdl:output message="IBM:ShowOrganization" name="ShowOrganization" />
		</wsdl:operation>
		<wsdl:operation name="ProcessOrganization">
			<wsdl:input message="IBM:ProcessOrganization" name="ProcessOrganization" />
			<wsdl:output message="IBM:AcknowledgeOrganization" name="AcknowledgeOrganization" />
		</wsdl:operation>
		<wsdl:operation name="ChangeOrganization">
			<wsdl:input message="IBM:ChangeOrganization" name="ChangeOrganization" />
			<wsdl:output message="IBM:RespondOrganization" name="RespondOrganization" />
		</wsdl:operation>
		<wsdl:operation name="SyncOrganization">
			<wsdl:input message="IBM:SyncOrganization" name="SyncOrganization" />
			<wsdl:output message="IBM:ConfirmBOD" name="ConfirmOrganizationBOD" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="MemberServices"
		type="IBM:MemberServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetMemberGroup">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="GetMemberGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowMemberGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessMemberGroup">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="ProcessMemberGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeMemberGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeMemberGroup">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="ChangeMemberGroup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondMemberGroup">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPerson">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="GetPerson">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPerson">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessPerson">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="ProcessPerson">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePerson">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePerson">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="ChangePerson">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPerson">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncPerson">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="SyncPerson">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ConfirmPersonBOD">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrganization">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="GetOrganization">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowOrganization">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessOrganization">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="ProcessOrganization">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeOrganization">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeOrganization">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="ChangeOrganization">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondOrganization">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncOrganization">
			<soap:operation
				soapAction="http://localhost/services/MemberServices.wsdl" />
			<wsdl:input name="SyncOrganization">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ConfirmOrganizationBOD">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="MemberServices">
		<wsdl:port binding="IBM:MemberServices" name="MemberServices">
			<soap:address
				location="http://localhost/webapp/wcs/component/member/services/MemberServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

