WebServicesRouter/WebContent/component-services/wsdl/OrderServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_ord="http://www.ibm.com/xmlns/prod/commerce/9/order"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/order"
	name="OrderServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/order">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetOrder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowOrder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessOrder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeOrder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeOrder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondOrder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/SyncOrder.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetQuote.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowQuote.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessQuote.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeQuote.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeQuote.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondQuote.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/SyncQuote.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetOrder">
		<wsdl:part name="GetOrder" element="_ord:GetOrder" />
	</wsdl:message>
	<wsdl:message name="ShowOrder">
		<wsdl:part name="ShowOrder" element="_ord:ShowOrder" />
	</wsdl:message>
	<wsdl:message name="ProcessOrder">
		<wsdl:part name="ProcessOrder" element="_ord:ProcessOrder" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeOrder">
		<wsdl:part name="AcknowledgeOrder" element="_ord:AcknowledgeOrder" />
	</wsdl:message>
	<wsdl:message name="ChangeOrder">
		<wsdl:part name="ChangeOrder" element="_ord:ChangeOrder" />
	</wsdl:message>
	<wsdl:message name="RespondOrder">
		<wsdl:part name="RespondOrder" element="_ord:RespondOrder" />
	</wsdl:message>
	<wsdl:message name="SyncOrder">
		<wsdl:part name="SyncOrder" element="_ord:SyncOrder" />
	</wsdl:message>
	<wsdl:message name="GetQuote">
		<wsdl:part name="GetQuote" element="_ord:GetQuote" />
	</wsdl:message>
	<wsdl:message name="ShowQuote">
		<wsdl:part name="ShowQuote" element="_ord:ShowQuote" />
	</wsdl:message>
	<wsdl:message name="ProcessQuote">
		<wsdl:part name="ProcessQuote" element="_ord:ProcessQuote" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeQuote">
		<wsdl:part name="AcknowledgeQuote" element="_ord:AcknowledgeQuote" />
	</wsdl:message>
	<wsdl:message name="ChangeQuote">
		<wsdl:part name="ChangeQuote" element="_ord:ChangeQuote" />
	</wsdl:message>
	<wsdl:message name="RespondQuote">
		<wsdl:part name="RespondQuote" element="_ord:RespondQuote" />
	</wsdl:message>
	<wsdl:message name="SyncQuote">
		<wsdl:part name="SyncQuote" element="_ord:SyncQuote" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="OrderServicesPortType">

		<wsdl:operation name="GetOrder">
			<wsdl:input message="_ord:GetOrder" name="GetOrder" />
			<wsdl:output message="_ord:ShowOrder" name="ShowOrder" />
		</wsdl:operation>
		<wsdl:operation name="ProcessOrder">
			<wsdl:input message="_ord:ProcessOrder" name="ProcessOrder" />
			<wsdl:output message="_ord:AcknowledgeOrder" name="AcknowledgeOrder" />
		</wsdl:operation>
		<wsdl:operation name="ChangeOrder">
			<wsdl:input message="_ord:ChangeOrder" name="ChangeOrder" />
			<wsdl:output message="_ord:RespondOrder" name="RespondOrder" />
		</wsdl:operation>
		<wsdl:operation name="SyncOrder">
			<wsdl:input message="_ord:SyncOrder" name="SyncOrder" />
			<wsdl:output message="_ord:ConfirmBOD" name="ConfirmOrderBOD" />
		</wsdl:operation>
		<wsdl:operation name="GetQuote">
			<wsdl:input message="_ord:GetQuote" name="GetQuote" />
			<wsdl:output message="_ord:ShowQuote" name="ShowQuote" />
		</wsdl:operation>
		<wsdl:operation name="ProcessQuote">
			<wsdl:input message="_ord:ProcessQuote" name="ProcessQuote" />
			<wsdl:output message="_ord:AcknowledgeQuote" name="AcknowledgeQuote" />
		</wsdl:operation>
		<wsdl:operation name="ChangeQuote">
			<wsdl:input message="_ord:ChangeQuote" name="ChangeQuote" />
			<wsdl:output message="_ord:RespondQuote" name="RespondQuote" />
		</wsdl:operation>
		<wsdl:operation name="SyncQuote">
			<wsdl:input message="_ord:SyncQuote" name="SyncQuote" />
			<wsdl:output message="_ord:ConfirmBOD" name="ConfirmQuoteBOD" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="OrderServices"
		type="_ord:OrderServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetOrder">
			<soap:operation
				soapAction="http://localhost/services/OrderServices.wsdl" />
			<wsdl:input name="GetOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowOrder">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessOrder">
			<soap:operation
				soapAction="http://localhost/services/OrderServices.wsdl" />
			<wsdl:input name="ProcessOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeOrder">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeOrder">
			<soap:operation
				soapAction="http://localhost/services/OrderServices.wsdl" />
			<wsdl:input name="ChangeOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondOrder">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncOrder">
			<soap:operation
				soapAction="http://localhost/services/OrderServices.wsdl" />
			<wsdl:input name="SyncOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ConfirmOrderBOD">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetQuote">
			<soap:operation
				soapAction="http://localhost/services/OrderServices.wsdl" />
			<wsdl:input name="GetQuote">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowQuote">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessQuote">
			<soap:operation
				soapAction="http://localhost/services/OrderServices.wsdl" />
			<wsdl:input name="ProcessQuote">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeQuote">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeQuote">
			<soap:operation
				soapAction="http://localhost/services/OrderServices.wsdl" />
			<wsdl:input name="ChangeQuote">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondQuote">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncQuote">
			<soap:operation
				soapAction="http://localhost/services/OrderServices.wsdl" />
			<wsdl:input name="SyncQuote">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ConfirmQuoteBOD">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="OrderServices">
		<wsdl:port binding="_ord:OrderServices" name="OrderServices">
			<soap:address
				location="http://localhost/webapp/wcs/component/order/services/OrderServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

