WebServicesRouter/WebContent/component-services/wsdl/PageLayoutServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_pgl="http://www.ibm.com/xmlns/prod/commerce/9/pagelayout"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/pagelayout"
	name="PageLayoutServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/pagelayout">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondLayout.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPage.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPageDesign.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPageDesign.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetWidgetDefinition.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowWidgetDefinition.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetLayout">
		<wsdl:part name="GetLayout" element="_pgl:GetLayout" />
	</wsdl:message>
	<wsdl:message name="ShowLayout">
		<wsdl:part name="ShowLayout" element="_pgl:ShowLayout" />
	</wsdl:message>
	<wsdl:message name="ProcessLayout">
		<wsdl:part name="ProcessLayout" element="_pgl:ProcessLayout" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeLayout">
		<wsdl:part name="AcknowledgeLayout" element="_pgl:AcknowledgeLayout" />
	</wsdl:message>
	<wsdl:message name="ChangeLayout">
		<wsdl:part name="ChangeLayout" element="_pgl:ChangeLayout" />
	</wsdl:message>
	<wsdl:message name="RespondLayout">
		<wsdl:part name="RespondLayout" element="_pgl:RespondLayout" />
	</wsdl:message>
	<wsdl:message name="GetPage">
		<wsdl:part name="GetPage" element="_pgl:GetPage" />
	</wsdl:message>
	<wsdl:message name="ShowPage">
		<wsdl:part name="ShowPage" element="_pgl:ShowPage" />
	</wsdl:message>
	<wsdl:message name="ProcessPage">
		<wsdl:part name="ProcessPage" element="_pgl:ProcessPage" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePage">
		<wsdl:part name="AcknowledgePage" element="_pgl:AcknowledgePage" />
	</wsdl:message>
	<wsdl:message name="ChangePage">
		<wsdl:part name="ChangePage" element="_pgl:ChangePage" />
	</wsdl:message>
	<wsdl:message name="RespondPage">
		<wsdl:part name="RespondPage" element="_pgl:RespondPage" />
	</wsdl:message>
	<wsdl:message name="GetPageDesign">
		<wsdl:part name="GetPageDesign" element="_pgl:GetPageDesign" />
	</wsdl:message>
	<wsdl:message name="ShowPageDesign">
		<wsdl:part name="ShowPageDesign" element="_pgl:ShowPageDesign" />
	</wsdl:message>
	<wsdl:message name="GetWidgetDefinition">
		<wsdl:part name="GetWidgetDefinition" element="_pgl:GetWidgetDefinition" />
	</wsdl:message>
	<wsdl:message name="ShowWidgetDefinition">
		<wsdl:part name="ShowWidgetDefinition" element="_pgl:ShowWidgetDefinition" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="PageLayoutServicesPortType">

		<wsdl:operation name="GetLayout">
			<wsdl:input message="_pgl:GetLayout" name="GetLayout" />
			<wsdl:output message="_pgl:ShowLayout" name="ShowLayout" />
		</wsdl:operation>
		<wsdl:operation name="ProcessLayout">
			<wsdl:input message="_pgl:ProcessLayout" name="ProcessLayout" />
			<wsdl:output message="_pgl:AcknowledgeLayout" name="AcknowledgeLayout" />
		</wsdl:operation>
		<wsdl:operation name="ChangeLayout">
			<wsdl:input message="_pgl:ChangeLayout" name="ChangeLayout" />
			<wsdl:output message="_pgl:RespondLayout" name="RespondLayout" />
		</wsdl:operation>
		<wsdl:operation name="GetPage">
			<wsdl:input message="_pgl:GetPage" name="GetPage" />
			<wsdl:output message="_pgl:ShowPage" name="ShowPage" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPage">
			<wsdl:input message="_pgl:ProcessPage" name="ProcessPage" />
			<wsdl:output message="_pgl:AcknowledgePage" name="AcknowledgePage" />
		</wsdl:operation>
		<wsdl:operation name="ChangePage">
			<wsdl:input message="_pgl:ChangePage" name="ChangePage" />
			<wsdl:output message="_pgl:RespondPage" name="RespondPage" />
		</wsdl:operation>
		<wsdl:operation name="GetPageDesign">
			<wsdl:input message="_pgl:GetPageDesign" name="GetPageDesign" />
			<wsdl:output message="_pgl:ShowPageDesign" name="ShowPageDesign" />
		</wsdl:operation>
		<wsdl:operation name="GetWidgetDefinition">
			<wsdl:input message="_pgl:GetWidgetDefinition" name="GetWidgetDefinition" />
			<wsdl:output message="_pgl:ShowWidgetDefinition" name="ShowWidgetDefinition" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="PageLayoutServices"
		type="_pgl:PageLayoutServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetLayout">
			<soap:operation
				soapAction="http://localhost/services/PageLayoutServices.wsdl" />
			<wsdl:input name="GetLayout">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowLayout">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessLayout">
			<soap:operation
				soapAction="http://localhost/services/PageLayoutServices.wsdl" />
			<wsdl:input name="ProcessLayout">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeLayout">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeLayout">
			<soap:operation
				soapAction="http://localhost/services/PageLayoutServices.wsdl" />
			<wsdl:input name="ChangeLayout">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondLayout">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPage">
			<soap:operation
				soapAction="http://localhost/services/PageLayoutServices.wsdl" />
			<wsdl:input name="GetPage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPage">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessPage">
			<soap:operation
				soapAction="http://localhost/services/PageLayoutServices.wsdl" />
			<wsdl:input name="ProcessPage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePage">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePage">
			<soap:operation
				soapAction="http://localhost/services/PageLayoutServices.wsdl" />
			<wsdl:input name="ChangePage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPage">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPageDesign">
			<soap:operation
				soapAction="http://localhost/services/PageLayoutServices.wsdl" />
			<wsdl:input name="GetPageDesign">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPageDesign">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetWidgetDefinition">
			<soap:operation
				soapAction="http://localhost/services/PageLayoutServices.wsdl" />
			<wsdl:input name="GetWidgetDefinition">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowWidgetDefinition">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="PageLayoutServices">
		<wsdl:port binding="_pgl:PageLayoutServices" name="PageLayoutServices">
			<soap:address
				location="http://localhost/webapp/wcs/commerceComponent/pagelayout/services/PageLayoutServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

