WebServicesRouter/WebContent/component-services/wsdl/PriceServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
//********************************************************************
//* Licensed Materials - Property of IBM
//*
//* WebSphere Commerce
//*
//* (c) Copyright IBM Corp. 2001, 2002, 2004
//*
//* US Government Users Restricted Rights - Use, duplication or
//* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//*
//*********************************************************************
-->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_prc="http://www.ibm.com/xmlns/prod/commerce/9/price"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/price"
	name="PriceServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/price">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPriceConstant.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPriceConstant.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPriceConstant.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePriceConstant.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePriceConstant.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPriceConstant.xsd"/>
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPriceList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPriceList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPriceList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePriceList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePriceList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPriceList.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/SyncPriceList.xsd"/>
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPriceRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPriceRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPriceRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePriceRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePriceRule.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPriceRule.xsd"/>
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetEntitledPrice.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowEntitledPrice.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetDisplayPrice.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowDisplayPrice.xsd"/>
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPriceEquation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPriceEquation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPriceEquation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePriceEquation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePriceEquation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPriceEquation.xsd"/>
		
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetPriceConstant">
		<wsdl:part name="GetPriceConstant" element="_prc:GetPriceConstant" />
	</wsdl:message>
	<wsdl:message name="ShowPriceConstant">
		<wsdl:part name="ShowPriceConstant" element="_prc:ShowPriceConstant" />
	</wsdl:message>
	<wsdl:message name="ProcessPriceConstant">
		<wsdl:part name="ProcessPriceConstant" element="_prc:ProcessPriceConstant" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePriceConstant">
		<wsdl:part name="AcknowledgePriceConstant" element="_prc:AcknowledgePriceConstant" />
	</wsdl:message>
	<wsdl:message name="ChangePriceConstant">
		<wsdl:part name="ChangePriceConstant" element="_prc:ChangePriceConstant" />
	</wsdl:message>
	<wsdl:message name="RespondPriceConstant">
		<wsdl:part name="RespondPriceConstant" element="_prc:RespondPriceConstant" />
	</wsdl:message>
	
	<wsdl:message name="GetPriceList">
		<wsdl:part name="GetPriceList" element="_prc:GetPriceList" />
	</wsdl:message>
	<wsdl:message name="ShowPriceList">
		<wsdl:part name="ShowPriceList" element="_prc:ShowPriceList" />
	</wsdl:message>
	<wsdl:message name="ProcessPriceList">
		<wsdl:part name="ProcessPriceList" element="_prc:ProcessPriceList" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePriceList">
		<wsdl:part name="AcknowledgePriceList" element="_prc:AcknowledgePriceList" />
	</wsdl:message>
	<wsdl:message name="ChangePriceList">
		<wsdl:part name="ChangePriceList" element="_prc:ChangePriceList" />
	</wsdl:message>
	<wsdl:message name="RespondPriceList">
		<wsdl:part name="RespondPriceList" element="_prc:RespondPriceList" />
	</wsdl:message>
	<wsdl:message name="SyncPriceList">
		<wsdl:part name="SyncPriceList" element="_prc:SyncPriceList" />
	</wsdl:message>
	<wsdl:message name="GetPriceRule">
		<wsdl:part name="GetPriceRule" element="_prc:GetPriceRule" />
	</wsdl:message>
	<wsdl:message name="ShowPriceRule">
		<wsdl:part name="ShowPriceRule" element="_prc:ShowPriceRule" />
	</wsdl:message>
	<wsdl:message name="ProcessPriceRule">
		<wsdl:part name="ProcessPriceRule" element="_prc:ProcessPriceRule" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePriceRule">
		<wsdl:part name="AcknowledgePriceRule" element="_prc:AcknowledgePriceRule" />
	</wsdl:message>
	<wsdl:message name="ChangePriceRule">
		<wsdl:part name="ChangePriceRule" element="_prc:ChangePriceRule" />
	</wsdl:message>
	<wsdl:message name="RespondPriceRule">
		<wsdl:part name="RespondPriceRule" element="_prc:RespondPriceRule" />
	</wsdl:message>
	<wsdl:message name="GetEntitledPrice">
		<wsdl:part name="GetEntitledPrice" element="_prc:GetEntitledPrice" />
	</wsdl:message>
	<wsdl:message name="ShowEntitledPrice">
		<wsdl:part name="ShowEntitledPrice" element="_prc:ShowEntitledPrice" />
	</wsdl:message>
	<wsdl:message name="GetDisplayPrice">
		<wsdl:part name="GetDisplayPrice" element="_prc:GetDisplayPrice" />
	</wsdl:message>
	<wsdl:message name="ShowDisplayPrice">
		<wsdl:part name="ShowDisplayPrice" element="_prc:ShowDisplayPrice" />
	</wsdl:message>
	
	<wsdl:message name="GetPriceEquation">
		<wsdl:part name="GetPriceEquation" element="_prc:GetPriceEquation" />
	</wsdl:message>
	<wsdl:message name="ShowPriceEquation">
		<wsdl:part name="ShowPriceEquation" element="_prc:ShowPriceEquation" />
	</wsdl:message>
	<wsdl:message name="ProcessPriceEquation">
		<wsdl:part name="ProcessPriceEquation" element="_prc:ProcessPriceEquation" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePriceEquation">
		<wsdl:part name="AcknowledgePriceEquation" element="_prc:AcknowledgePriceEquation" />
	</wsdl:message>
	<wsdl:message name="ChangePriceEquation">
		<wsdl:part name="ChangePriceEquation" element="_prc:ChangePriceEquation" />
	</wsdl:message>
	<wsdl:message name="RespondPriceEquation">
		<wsdl:part name="RespondPriceEquation" element="_prc:RespondPriceEquation" />
	</wsdl:message>
	
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="PriceServicesPortType">

		<wsdl:operation name="GetPriceConstant">
			<wsdl:input message="_prc:GetPriceConstant" name="GetPriceConstant" />
			<wsdl:output message="_prc:ShowPriceConstant" name="ShowPriceConstant" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPriceConstant">
			<wsdl:input message="_prc:ProcessPriceConstant" name="ProcessPriceConstant" />
			<wsdl:output message="_prc:AcknowledgePriceConstant" name="AcknowledgePriceConstant" />
		</wsdl:operation>
		<wsdl:operation name="ChangePriceConstant">
			<wsdl:input message="_prc:ChangePriceConstant" name="ChangePriceConstant" />
			<wsdl:output message="_prc:RespondPriceConstant" name="RespondPriceConstant" />
		</wsdl:operation>
		
		<wsdl:operation name="GetPriceList">
			<wsdl:input message="_prc:GetPriceList" name="GetPriceList" />
			<wsdl:output message="_prc:ShowPriceList" name="ShowPriceList" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPriceList">
			<wsdl:input message="_prc:ProcessPriceList" name="ProcessPriceList" />
			<wsdl:output message="_prc:AcknowledgePriceList" name="AcknowledgePriceList" />
		</wsdl:operation>
		<wsdl:operation name="ChangePriceList">
			<wsdl:input message="_prc:ChangePriceList" name="ChangePriceList" />
			<wsdl:output message="_prc:RespondPriceList" name="RespondPriceList" />
		</wsdl:operation>
		<wsdl:operation name="SyncPriceList">
			<wsdl:input message="_prc:SyncPriceList" name="SyncPriceList" />
			<wsdl:output message="_prc:ConfirmBOD" name="ConfirmPriceListBOD" />
		</wsdl:operation>
		<wsdl:operation name="GetPriceRule">
			<wsdl:input message="_prc:GetPriceRule" name="GetPriceRule" />
			<wsdl:output message="_prc:ShowPriceRule" name="ShowPriceRule" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPriceRule">
			<wsdl:input message="_prc:ProcessPriceRule" name="ProcessPriceRule" />
			<wsdl:output message="_prc:AcknowledgePriceRule" name="AcknowledgePriceRule" />
		</wsdl:operation>
		<wsdl:operation name="ChangePriceRule">
			<wsdl:input message="_prc:ChangePriceRule" name="ChangePriceRule" />
			<wsdl:output message="_prc:RespondPriceRule" name="RespondPriceRule" />
		</wsdl:operation>
		<wsdl:operation name="GetEntitledPrice">
			<wsdl:input message="_prc:GetEntitledPrice" name="GetEntitledPrice" />
			<wsdl:output message="_prc:ShowEntitledPrice" name="ShowEntitledPrice" />
		</wsdl:operation>
		<wsdl:operation name="GetDisplayPrice">
			<wsdl:input message="_prc:GetDisplayPrice" name="GetDisplayPrice" />
			<wsdl:output message="_prc:ShowDisplayPrice" name="ShowDisplayPrice" />
		</wsdl:operation>

		<wsdl:operation name="GetPriceEquation">
			<wsdl:input message="_prc:GetPriceEquation" name="GetPriceEquation" />
			<wsdl:output message="_prc:ShowPriceEquation" name="ShowPriceEquation" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPriceEquation">
			<wsdl:input message="_prc:ProcessPriceEquation" name="ProcessPriceEquation" />
			<wsdl:output message="_prc:AcknowledgePriceEquation" name="AcknowledgePriceEquation" />
		</wsdl:operation>
		<wsdl:operation name="ChangePriceEquation">
			<wsdl:input message="_prc:ChangePriceEquation" name="ChangePriceEquation" />
			<wsdl:output message="_prc:RespondPriceEquation" name="RespondPriceEquation" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PriceServices"
		type="_prc:PriceServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetPriceConstant">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="GetPriceConstant">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPriceConstant">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessPriceConstant">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="ProcessPriceConstant">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePriceConstant">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePriceConstant">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="ChangePriceConstant">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPriceConstant">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetPriceList">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="GetPriceList">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPriceList">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessPriceList">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="ProcessPriceList">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePriceList">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePriceList">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="ChangePriceList">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPriceList">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncPriceList">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="SyncPriceList">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ConfirmPriceListBOD">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPriceRule">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="GetPriceRule">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPriceRule">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessPriceRule">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="ProcessPriceRule">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePriceRule">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePriceRule">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="ChangePriceRule">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPriceRule">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEntitledPrice">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="GetEntitledPrice">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowEntitledPrice">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDisplayPrice">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="GetDisplayPrice">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowDisplayPrice">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetPriceEquation">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="GetPriceEquation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPriceEquation">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessPriceEquation">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="ProcessPriceEquation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePriceEquation">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePriceEquation">
			<soap:operation
				soapAction="http://localhost/services/PriceServices.wsdl" />
			<wsdl:input name="ChangePriceEquation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPriceEquation">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PriceServices">
		<wsdl:port binding="_prc:PriceServices" name="PriceServices">
			<soap:address
				location="http://localhost/webapp/wcs/component/price/services/PriceServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

