WebServicesRouter/WebContent/component-services/wsdl/PromotionServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2008, 2011                                    -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_pro="http://www.ibm.com/xmlns/prod/commerce/9/promotion"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/promotion"
	name="PromotionServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/promotion">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPromotion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPromotion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPromotion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePromotion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePromotion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPromotion.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPromoCode.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPromoCode.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessPromoCode.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgePromoCode.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangePromoCode.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondPromoCode.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetPromotion">
		<wsdl:part name="GetPromotion" element="_pro:GetPromotion" />
	</wsdl:message>
	<wsdl:message name="ShowPromotion">
		<wsdl:part name="ShowPromotion" element="_pro:ShowPromotion" />
	</wsdl:message>
	<wsdl:message name="ProcessPromotion">
		<wsdl:part name="ProcessPromotion" element="_pro:ProcessPromotion" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePromotion">
		<wsdl:part name="AcknowledgePromotion" element="_pro:AcknowledgePromotion" />
	</wsdl:message>
	<wsdl:message name="ChangePromotion">
		<wsdl:part name="ChangePromotion" element="_pro:ChangePromotion" />
	</wsdl:message>
	<wsdl:message name="RespondPromotion">
		<wsdl:part name="RespondPromotion" element="_pro:RespondPromotion" />
	</wsdl:message>
	<wsdl:message name="GetPromoCode">
		<wsdl:part name="GetPromoCode" element="_pro:GetPromoCode" />
	</wsdl:message>
	<wsdl:message name="ShowPromoCode">
		<wsdl:part name="ShowPromoCode" element="_pro:ShowPromoCode" />
	</wsdl:message>
	<wsdl:message name="ProcessPromoCode">
		<wsdl:part name="ProcessPromoCode" element="_pro:ProcessPromoCode" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePromoCode">
		<wsdl:part name="AcknowledgePromoCode" element="_pro:AcknowledgePromoCode" />
	</wsdl:message>
	<wsdl:message name="ChangePromoCode">
		<wsdl:part name="ChangePromoCode" element="_pro:ChangePromoCode" />
	</wsdl:message>
	<wsdl:message name="RespondPromoCode">
		<wsdl:part name="RespondPromoCode" element="_pro:RespondPromoCode" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="PromotionServicesPortType">

		<wsdl:operation name="GetPromotion">
			<wsdl:input message="_pro:GetPromotion" name="GetPromotion" />
			<wsdl:output message="_pro:ShowPromotion" name="ShowPromotion" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPromotion">
			<wsdl:input message="_pro:ProcessPromotion" name="ProcessPromotion" />
			<wsdl:output message="_pro:AcknowledgePromotion" name="AcknowledgePromotion" />
		</wsdl:operation>
		<wsdl:operation name="ChangePromotion">
			<wsdl:input message="_pro:ChangePromotion" name="ChangePromotion" />
			<wsdl:output message="_pro:RespondPromotion" name="RespondPromotion" />
		</wsdl:operation>
		<wsdl:operation name="GetPromoCode">
			<wsdl:input message="_pro:GetPromoCode" name="GetPromoCode" />
			<wsdl:output message="_pro:ShowPromoCode" name="ShowPromoCode" />
		</wsdl:operation>
		<wsdl:operation name="ProcessPromoCode">
			<wsdl:input message="_pro:ProcessPromoCode" name="ProcessPromoCode" />
			<wsdl:output message="_pro:AcknowledgePromoCode" name="AcknowledgePromoCode" />
		</wsdl:operation>
		<wsdl:operation name="ChangePromoCode">
			<wsdl:input message="_pro:ChangePromoCode" name="ChangePromoCode" />
			<wsdl:output message="_pro:RespondPromoCode" name="RespondPromoCode" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="PromotionServices"
		type="_pro:PromotionServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetPromotion">
			<soap:operation
				soapAction="http://localhost/services/PromotionServices.wsdl" />
			<wsdl:input name="GetPromotion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPromotion">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessPromotion">
			<soap:operation
				soapAction="http://localhost/services/PromotionServices.wsdl" />
			<wsdl:input name="ProcessPromotion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePromotion">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePromotion">
			<soap:operation
				soapAction="http://localhost/services/PromotionServices.wsdl" />
			<wsdl:input name="ChangePromotion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPromotion">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPromoCode">
			<soap:operation
				soapAction="http://localhost/services/PromotionServices.wsdl" />
			<wsdl:input name="GetPromoCode">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPromoCode">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessPromoCode">
			<soap:operation
				soapAction="http://localhost/services/PromotionServices.wsdl" />
			<wsdl:input name="ProcessPromoCode">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgePromoCode">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangePromoCode">
			<soap:operation
				soapAction="http://localhost/services/PromotionServices.wsdl" />
			<wsdl:input name="ChangePromoCode">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondPromoCode">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="PromotionServices">
		<wsdl:port binding="_pro:PromotionServices" name="PromotionServices">
			<soap:address
				location="http://localhost/webapp/wcs/component/promotion/services/PromotionServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

