WebServicesRouter/WebContent/component-services/wsdl/SearchServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_sch="http://www.ibm.com/xmlns/prod/commerce/9/search"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/search"
	name="SearchServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/search">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/ibm/Commerce/BODs/GetSearchTermAssociation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/ibm/Commerce/BODs/ShowSearchTermAssociation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/ibm/Commerce/BODs/ProcessSearchTermAssociation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/ibm/Commerce/BODs/AcknowledgeSearchTermAssociation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/ibm/Commerce/BODs/ChangeSearchTermAssociation.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/ibm/Commerce/BODs/RespondSearchTermAssociation.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetSearchTermAssociation">
		<wsdl:part name="GetSearchTermAssociation" element="_sch:GetSearchTermAssociation" />
	</wsdl:message>
	<wsdl:message name="ShowSearchTermAssociation">
		<wsdl:part name="ShowSearchTermAssociation" element="_sch:ShowSearchTermAssociation" />
	</wsdl:message>
	<wsdl:message name="ProcessSearchTermAssociation">
		<wsdl:part name="ProcessSearchTermAssociation" element="_sch:ProcessSearchTermAssociation" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeSearchTermAssociation">
		<wsdl:part name="AcknowledgeSearchTermAssociation" element="_sch:AcknowledgeSearchTermAssociation" />
	</wsdl:message>
	<wsdl:message name="ChangeSearchTermAssociation">
		<wsdl:part name="ChangeSearchTermAssociation" element="_sch:ChangeSearchTermAssociation" />
	</wsdl:message>
	<wsdl:message name="RespondSearchTermAssociation">
		<wsdl:part name="RespondSearchTermAssociation" element="_sch:RespondSearchTermAssociation" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="SearchServicesPortType">

		<wsdl:operation name="GetSearchTermAssociation">
			<wsdl:input message="_sch:GetSearchTermAssociation" name="GetSearchTermAssociation" />
			<wsdl:output message="_sch:ShowSearchTermAssociation" name="ShowSearchTermAssociation" />
		</wsdl:operation>
		<wsdl:operation name="ProcessSearchTermAssociation">
			<wsdl:input message="_sch:ProcessSearchTermAssociation" name="ProcessSearchTermAssociation" />
			<wsdl:output message="_sch:AcknowledgeSearchTermAssociation" name="AcknowledgeSearchTermAssociation" />
		</wsdl:operation>
		<wsdl:operation name="ChangeSearchTermAssociation">
			<wsdl:input message="_sch:ChangeSearchTermAssociation" name="ChangeSearchTermAssociation" />
			<wsdl:output message="_sch:RespondSearchTermAssociation" name="RespondSearchTermAssociation" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SearchServices"
		type="_sch:SearchServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetSearchTermAssociation">
			<soap:operation
				soapAction="http://localhost/services/SearchServices.wsdl" />
			<wsdl:input name="GetSearchTermAssociation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowSearchTermAssociation">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessSearchTermAssociation">
			<soap:operation
				soapAction="http://localhost/services/SearchServices.wsdl" />
			<wsdl:input name="ProcessSearchTermAssociation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeSearchTermAssociation">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeSearchTermAssociation">
			<soap:operation
				soapAction="http://localhost/services/SearchServices.wsdl" />
			<wsdl:input name="ChangeSearchTermAssociation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondSearchTermAssociation">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="SearchServices">
		<wsdl:port binding="_sch:SearchServices" name="SearchServices">
			<soap:address
				location="http://localhost/webapp/wcs/commerceComponent/search/services/SearchServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

