WebServicesRouter/WebContent/component-services/wsdl/StoreServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2008                                     -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_sto="http://www.ibm.com/xmlns/prod/commerce/9/store"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/store"
	name="StoreServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/store">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetGeoNode.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowGeoNode.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetPhysicalStore.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowPhysicalStore.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetGeoNode">
		<wsdl:part name="GetGeoNode" element="_sto:GetGeoNode" />
	</wsdl:message>
	<wsdl:message name="ShowGeoNode">
		<wsdl:part name="ShowGeoNode" element="_sto:ShowGeoNode" />
	</wsdl:message>
	<wsdl:message name="GetPhysicalStore">
		<wsdl:part name="GetPhysicalStore" element="_sto:GetPhysicalStore" />
	</wsdl:message>
	<wsdl:message name="ShowPhysicalStore">
		<wsdl:part name="ShowPhysicalStore" element="_sto:ShowPhysicalStore" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="StoreServicesPortType">

		<wsdl:operation name="GetGeoNode">
			<wsdl:input message="_sto:GetGeoNode" name="GetGeoNode" />
			<wsdl:output message="_sto:ShowGeoNode" name="ShowGeoNode" />
		</wsdl:operation>
		<wsdl:operation name="GetPhysicalStore">
			<wsdl:input message="_sto:GetPhysicalStore" name="GetPhysicalStore" />
			<wsdl:output message="_sto:ShowPhysicalStore" name="ShowPhysicalStore" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="StoreServices"
		type="_sto:StoreServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetGeoNode">
			<soap:operation
				soapAction="http://localhost/services/StoreServices.wsdl" />
			<wsdl:input name="GetGeoNode">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowGeoNode">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPhysicalStore">
			<soap:operation
				soapAction="http://localhost/services/StoreServices.wsdl" />
			<wsdl:input name="GetPhysicalStore">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowPhysicalStore">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="StoreServices">
		<wsdl:port binding="_sto:StoreServices" name="StoreServices">
			<soap:address
				location="http://localhost/webapp/wcs/component/store/services/StoreServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

