WebServicesRouter/WebContent/component-services/wsdl/SubscriptionServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_subscr="http://www.ibm.com/xmlns/prod/commerce/9/subscription"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/subscription"
	name="SubscriptionServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/subscription">
			
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetSubscription.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowSubscription.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessSubscription.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeSubscription.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeSubscription.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondSubscription.xsd"/>
		</xsd:schema>
				
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetSubscription">
		<wsdl:part name="GetSubscription" element="_subscr:GetSubscription" />
	</wsdl:message>
	<wsdl:message name="ShowSubscription">
		<wsdl:part name="ShowSubscription" element="_subscr:ShowSubscription" />
	</wsdl:message>
	<wsdl:message name="ProcessSubscription">
		<wsdl:part name="ProcessSubscription" element="_subscr:ProcessSubscription" />
	</wsdl:message>
	<wsdl:message name="AcknowledgeSubscription">
		<wsdl:part name="AcknowledgeSubscription" element="_subscr:AcknowledgeSubscription" />
	</wsdl:message>
	<wsdl:message name="ChangeSubscription">
		<wsdl:part name="ChangeSubscription" element="_subscr:ChangeSubscription" />
	</wsdl:message>
	<wsdl:message name="RespondSubscription">
		<wsdl:part name="RespondSubscription" element="_subscr:RespondSubscription" />
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD" />
	</wsdl:message>

	<wsdl:portType name="SubscriptionServicesPortType">

		<wsdl:operation name="GetSubscription">
			<wsdl:input message="_subscr:GetSubscription" name="GetSubscription" />
			<wsdl:output message="_subscr:ShowSubscription" name="ShowSubscription" />
		</wsdl:operation>
		<wsdl:operation name="ProcessSubscription">
			<wsdl:input message="_subscr:ProcessSubscription" name="ProcessSubscription" />
			<wsdl:output message="_subscr:AcknowledgeSubscription" name="AcknowledgeSubscription" />
		</wsdl:operation>
		<wsdl:operation name="ChangeSubscription">
			<wsdl:input message="_subscr:ChangeSubscription" name="ChangeSubscription" />
			<wsdl:output message="_subscr:RespondSubscription" name="RespondSubscription" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SubscriptionServices"
		type="_subscr:SubscriptionServicesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetSubscription">
			<soap:operation
				soapAction="http://localhost/services/SubscriptionServices.wsdl" />
			<wsdl:input name="GetSubscription">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ShowSubscription">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessSubscription">
			<soap:operation
				soapAction="http://localhost/services/SubscriptionServices.wsdl" />
			<wsdl:input name="ProcessSubscription">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AcknowledgeSubscription">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeSubscription">
			<soap:operation
				soapAction="http://localhost/services/SubscriptionServices.wsdl" />
			<wsdl:input name="ChangeSubscription">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RespondSubscription">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="SubscriptionServices">
		<wsdl:port binding="_subscr:SubscriptionServices" name="SubscriptionServices">
			<soap:address
				location="http://localhost/webapp/wcs/commerceComponent/subscription/services/SubscriptionServices" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

