WebServicesRouter/WebContent/component-services/wsdl/WalletServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wal="http://www.ibm.com/xmlns/prod/commerce/9/wallet" targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/wallet" name="WalletServices">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/wallet">

			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetWallet.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowWallet.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessWallet.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeWallet.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeWallet.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondWallet.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/SyncWallet.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/GetWalletItem.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ShowWalletItem.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ProcessWalletItem.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/AcknowledgeWalletItem.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeWalletItem.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/RespondWalletItem.xsd"/>
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/SyncWalletItem.xsd"/>
		</xsd:schema>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../xsd/OAGIS/9.0/BODs/Developer/ConfirmBOD.xsd"/>
		</xsd:schema>

	</wsdl:types>

	<wsdl:message name="GetWallet">
		<wsdl:part name="GetWallet" element="_wal:GetWallet"/>
	</wsdl:message>
	<wsdl:message name="ShowWallet">
		<wsdl:part name="ShowWallet" element="_wal:ShowWallet"/>
	</wsdl:message>
	<wsdl:message name="ProcessWallet">
		<wsdl:part name="ProcessWallet" element="_wal:ProcessWallet"/>
	</wsdl:message>
	<wsdl:message name="AcknowledgeWallet">
		<wsdl:part name="AcknowledgeWallet" element="_wal:AcknowledgeWallet"/>
	</wsdl:message>
	<wsdl:message name="ChangeWallet">
		<wsdl:part name="ChangeWallet" element="_wal:ChangeWallet"/>
	</wsdl:message>
	<wsdl:message name="RespondWallet">
		<wsdl:part name="RespondWallet" element="_wal:RespondWallet"/>
	</wsdl:message>
	<wsdl:message name="SyncWallet">
		<wsdl:part name="SyncWallet" element="_wal:SyncWallet"/>
	</wsdl:message>
	<wsdl:message name="GetWalletItem">
		<wsdl:part name="GetWalletItem" element="_wal:GetWalletItem"/>
	</wsdl:message>
	<wsdl:message name="ShowWalletItem">
		<wsdl:part name="ShowWalletItem" element="_wal:ShowWalletItem"/>
	</wsdl:message>
	<wsdl:message name="ProcessWalletItem">
		<wsdl:part name="ProcessWalletItem" element="_wal:ProcessWalletItem"/>
	</wsdl:message>
	<wsdl:message name="AcknowledgeWalletItem">
		<wsdl:part name="AcknowledgeWalletItem" element="_wal:AcknowledgeWalletItem"/>
	</wsdl:message>
	<wsdl:message name="ChangeWalletItem">
		<wsdl:part name="ChangeWalletItem" element="_wal:ChangeWalletItem"/>
	</wsdl:message>
	<wsdl:message name="RespondWalletItem">
		<wsdl:part name="RespondWalletItem" element="_wal:RespondWalletItem"/>
	</wsdl:message>
	<wsdl:message name="SyncWalletItem">
		<wsdl:part name="SyncWalletItem" element="_wal:SyncWalletItem"/>
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="ConfirmBOD" element="oa:ConfirmBOD"/>
	</wsdl:message>

	<wsdl:portType name="WalletServicesPortType">

		<wsdl:operation name="GetWallet">
			<wsdl:input message="_wal:GetWallet" name="GetWallet"/>
			<wsdl:output message="_wal:ShowWallet" name="ShowWallet"/>
		</wsdl:operation>
		<wsdl:operation name="ProcessWallet">
			<wsdl:input message="_wal:ProcessWallet" name="ProcessWallet"/>
			<wsdl:output message="_wal:AcknowledgeWallet" name="AcknowledgeWallet"/>
		</wsdl:operation>
		<wsdl:operation name="ChangeWallet">
			<wsdl:input message="_wal:ChangeWallet" name="ChangeWallet"/>
			<wsdl:output message="_wal:RespondWallet" name="RespondWallet"/>
		</wsdl:operation>
		<wsdl:operation name="SyncWallet">
			<wsdl:input message="_wal:SyncWallet" name="SyncWallet"/>
			<wsdl:output message="_wal:ConfirmBOD" name="ConfirmWalletBOD"/>
		</wsdl:operation>
		<wsdl:operation name="GetWalletItem">
			<wsdl:input message="_wal:GetWalletItem" name="GetWalletItem"/>
			<wsdl:output message="_wal:ShowWalletItem" name="ShowWalletItem"/>
		</wsdl:operation>
		<wsdl:operation name="ProcessWalletItem">
			<wsdl:input message="_wal:ProcessWalletItem" name="ProcessWalletItem"/>
			<wsdl:output message="_wal:AcknowledgeWalletItem" name="AcknowledgeWalletItem"/>
		</wsdl:operation>
		<wsdl:operation name="ChangeWalletItem">
			<wsdl:input message="_wal:ChangeWalletItem" name="ChangeWalletItem"/>
			<wsdl:output message="_wal:RespondWalletItem" name="RespondWalletItem"/>
		</wsdl:operation>
		<wsdl:operation name="SyncWalletItem">
			<wsdl:input message="_wal:SyncWalletItem" name="SyncWalletItem"/>
			<wsdl:output message="_wal:ConfirmBOD" name="ConfirmWalletItemBOD"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="WalletServices" type="_wal:WalletServicesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="GetWallet">
			<soap:operation soapAction="http://localhost/services/WalletServices.wsdl"/>
			<wsdl:input name="GetWallet">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ShowWallet">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessWallet">
			<soap:operation soapAction="http://localhost/services/WalletServices.wsdl"/>
			<wsdl:input name="ProcessWallet">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AcknowledgeWallet">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeWallet">
			<soap:operation soapAction="http://localhost/services/WalletServices.wsdl"/>
			<wsdl:input name="ChangeWallet">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="RespondWallet">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncWallet">
			<soap:operation soapAction="http://localhost/services/WalletServices.wsdl"/>
			<wsdl:input name="SyncWallet">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ConfirmWalletBOD">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetWalletItem">
			<soap:operation soapAction="http://localhost/services/WalletServices.wsdl"/>
			<wsdl:input name="GetWalletItem">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ShowWalletItem">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessWalletItem">
			<soap:operation soapAction="http://localhost/services/WalletServices.wsdl"/>
			<wsdl:input name="ProcessWalletItem">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AcknowledgeWalletItem">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeWalletItem">
			<soap:operation soapAction="http://localhost/services/WalletServices.wsdl"/>
			<wsdl:input name="ChangeWalletItem">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="RespondWalletItem">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncWalletItem">
			<soap:operation soapAction="http://localhost/services/WalletServices.wsdl"/>
			<wsdl:input name="SyncWalletItem">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ConfirmWalletItemBOD">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="WalletServices">
		<wsdl:port binding="_wal:WalletServices" name="WalletServices">
			<soap:address location="http://localhost/webapp/wcs/commerceComponent/wallet/services/WalletServices"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>

