WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Activity.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_mkt="http://www.ibm.com/xmlns/prod/commerce/9/marketing"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/marketing"
	ecore:nsPrefix="_mkt" 
	ecore:package="com.ibm.commerce.marketing.facade.datatypes">
	
    <import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
	<include schemaLocation="../Components/MarketingCommon.xsd"></include>
	
	<annotation>
		<documentation>This Marketing XML schema file defines the Activity noun.</documentation>
	</annotation>
	
	<element name="ActivityBODVersion" type="string" fixed="7.0.0.6">
      <annotation>
        <documentation>
          The version of WebSphere Commerce when the noun was last changed.  
          The value is set as the versionID attribute in the corresponding BODs.
        </documentation>
      </annotation>
    </element>
	
	<complexType name="ActivityType">
        <annotation>
        	<documentation>Marketing activities allow you to define the marketing messages to deliver to customers when a given activity is triggered. </documentation>
        </annotation>
        <sequence>
			<element name="ActivityIdentifier" type="_wcf:ActivityIdentifierType">
				<annotation>
					<documentation>The unique identifier of the activity.</documentation>
				</annotation>
			</element>
			<element ref="_mkt:CampaignElement" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The campaign elements associated with the activity.</documentation>
				</annotation>
			</element>
			<element name="Version" type="positiveInteger" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The current version of the activity.</documentation>
				</annotation>
			</element>
			<element name="PublishedVersion" type="positiveInteger" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The published version of the activity.</documentation>
				</annotation>
			</element>
			<element name="State" type="_mkt:MarketingStateType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The state of the activity.</documentation>
				</annotation>
			</element>
			<element name="StartDate" type="dateTime" minOccurs="0" maxOccurs="1" nillable="true">
				<annotation>
					<documentation>The start date of the activity.</documentation>
				</annotation>
			</element>
			<element name="EndDate" type="dateTime" minOccurs="0" maxOccurs="1" nillable="true">
				<annotation>
					<documentation>The end date of the activity.</documentation>
				</annotation>
			</element>
			<element name="Priority" type="integer" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The priority of the activity.</documentation>
				</annotation>
			</element>
			<element name="Repeatable" type="integer" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The setting if the activity is repeatable.</documentation>
				</annotation>
			</element>
			<element name="Format" type="_mkt:ActivityFormatType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The format type of the activity.</documentation>
				</annotation>
			</element>
			<element name="TemplateFormat" type="_mkt:ActivityTemplateFormatType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The type of activity template.</documentation>
				</annotation>
			</element>
			<element name="ExperimentFormat" type="_mkt:ActivityExperimentFormatType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The type of experimental activity.</documentation>
				</annotation>
			</element>			
			<element name="Created" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The time when the activity was created.</documentation>
				</annotation>
			</element>
			<element name="LastUpdate" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The time when the activity was last updated.</documentation>
				</annotation>
			</element>
			<element name="LastUpdatedBy" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the user who last updated the activity.</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The description of the activity.</documentation>
				</annotation>
			</element>
			<element name="CampaignIdentifier" type="_wcf:CampaignIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique identifier of the campaign to which the activity belongs.</documentation>
				</annotation>
			</element>
			<element name="RuntimeXMLDefinition" type="string"
				minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>The marketing runtime representation of the activity.</documentation>
                </annotation>
			</element>
			<sequence>
				<element name="MarketingSpotStatistics"
					type="_mkt:MarketingSpotStatisticsType" minOccurs="0"
					maxOccurs="unbounded">
					<annotation>
						<documentation>
							The statistics of the emarketing spots
							associated with this activity.
						</documentation>
					</annotation>
				</element>
				<element name="MarketingEMailStatistics"
					type="_mkt:MarketingEmailStatisticsType" minOccurs="0"
					maxOccurs="1">
					<annotation>
						<documentation>
							The statistics of the bulk e-mail activity.
						</documentation>
					</annotation>
				</element>
			</sequence>
			<element name="ActivitySequence" type="string" minOccurs="0"
            	maxOccurs="1">
            	<annotation>
            		<documentation>
            			The number of this version of the activity.
            		</documentation>
            	</annotation>
            </element>
            <element name="FamilyIdentifier" type="_wcf:ActivityIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier that indicates that the activity is one of a set of versions of an activity. All versions of an 
activity will have the same family identifier.</documentation>
				</annotation>
			</element>			
			<element name="MarketingSpotBehavior" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>If this web activity displays the same results to all customers, then the value is 0.  
					If this web activity has dynamic behavior that can display different results, then the value is 1. 
					The associated e-Marketing Spot can use this setting to determine how to cache the e-Marketing Spot results.
					</documentation>
				</annotation>
			</element>
			<element name="UIDisplayable" type="integer" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies if this activity
						should be displayed in the administration UI.
					</documentation>
				</annotation>
			</element>
			<element name="ManagingTool" type="integer" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies the tool that manages this activity.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>			
		</sequence>
	</complexType>

	<complexType name="CampaignElementType">
        <annotation>
        	<documentation>Campaign elements represent triggers, actions, and target criteria, which define the interactions between your customers and your site.</documentation>
        </annotation>
        <sequence>
        	<element name="CampaignElementIdentifier"
        		type="_mkt:CampaignElementIdentifierType" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The unique identifier of the campaign element.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="CampaignElementTemplateIdentifier"
        		type="_mkt:CampaignElementTemplateIdentifierType"
        		minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The unique identifier of the template for the
        				campaign element.
        			</documentation>
        		</annotation>
        	</element>
            <element name="CampaignElementVariable" type="_mkt:CampaignElementVariableType" minOccurs="0" maxOccurs="unbounded">
        		<annotation>
        			<documentation>
        				The name value pair variables associated with a
        				campaign element.
        			</documentation>
        		</annotation></element>
            <element name="RelatedCampaignElementIdentifier"
        		type="_mkt:CampaignElementIdentifierType" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The identifier of the campaign element which is
        				related to this campaign element.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Priority" type="integer" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The priority of the campaign element.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ElementSequence" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>The sequence number of this element under the same parent element.</documentation>
        		</annotation>
        	</element>
        	<element name="ParentElementIdentifier" type="_mkt:CampaignElementIdentifierType" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>The identifier of the parent element of this element.</documentation>
        		</annotation>
        	</element>



        	<element name="Count" type="positiveInteger" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of times which this element has been
        				executed by customers.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ExperimentStatistics" type="_mkt:ExperimentStatisticsType" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>The test element statistics for an experiment branch.</documentation>
        		</annotation>
        	</element>
        	<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>User Data.</documentation>
        		</annotation>
        	</element>
        </sequence>
	</complexType>
	
	<element name="Activity" type="_mkt:ActivityType">
		<annotation>
			<documentation>Marketing activities allow you to define the marketing messages to deliver to customers when a given activity is triggered. 
</documentation>
		</annotation>
	</element>

	<element name="CampaignElement" type="_mkt:CampaignElementType">
		<annotation>
			<documentation>Campaign elements represent triggers, actions, and target criteria, which define the interactions between your customers and your site.
</documentation>
		</annotation>
	</element>

	<complexType name="MarketingSpotStatisticsType">
        <annotation>
        	<documentation>The statistics related to the running of activities on an e-Marketing Spot.</documentation>
        </annotation>
        <sequence>
        	<element name="MarketingSpotIdentifier"
        		type="_wcf:MarketingSpotIdentifierType" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The unique identifier of the e-marketing spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Views" type="positiveInteger" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of times the e-marketing spot was
        				viewed associated with this activity.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Clicks" type="positiveInteger" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of times the e-marketing spot was
        				clicked associated with this activity.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ClickRatio" type="double" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The ratio of the number of times the e-marketing spot was
        				clicked to the number of times the e-marketing spot was
        				viewed.
        			</documentation>
        		</annotation>        	
        	</element>
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>User Data.</documentation>
        		</annotation>
        	</element>
        </sequence>
	</complexType>

	<simpleType name="ActivityTemplateFormatEnumerationType">
        <annotation>
        	<documentation>The type of template of a marketing activity.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="Open"></enumeration>
			<enumeration value="Closed"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="ActivityTemplateFormatType">
      <annotation>
          <documentation>Allows extension to the default activity template types.
			</documentation>
  		</annotation>
  		<union memberTypes="_mkt:ActivityTemplateFormatEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
 	
	<simpleType name="ActivityExperimentFormatEnumerationType">
        <annotation>
        	<documentation>The type of experimental marketing activities.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="Experiment"></enumeration>
			<enumeration value="EMarketingSpot"></enumeration>
			<enumeration value="Content"></enumeration>
			<enumeration value="Activity"></enumeration>
			<enumeration value="Segment"></enumeration>
			<enumeration value="PreviousVersion"></enumeration>			
		</restriction>
	</simpleType>

	<simpleType name="ActivityExperimentFormatType">
      <annotation>
          <documentation>Allows extension to the default activity experiment types.
			</documentation>
  		</annotation>
  		<union memberTypes="_mkt:ActivityExperimentFormatEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
 	 	
	<complexType name="MarketingEmailStatisticsType">
        <annotation>
        	<documentation>The statistics related to the sending a bulk e-mail.</documentation>
        </annotation>
        <sequence>
        	<element name="Open" type="positiveInteger" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of times the e-mail was opened
        				associated with this activity.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Clicked" type="positiveInteger" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of times the e-mail was clicked
        				associated with this activity.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Bounced" type="positiveInteger" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of e-mails that were bounced
        				associated with this activity.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="TotalRecipients" type="positiveInteger"
        		minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of attempted recipients associated
        				with this activity.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Sent" type="positiveInteger" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				Has the bulk email been sent.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Received" type="positiveInteger"
        		maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The number of assumed recipients of the e-mail.
        				The number of assumed recipients is the number
        				of recipients less the number of bounced
        				e-mails.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="PercentageReceived" type="double" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The ratio of the number of assumed recipients of the e-mail to the number 
        				of attempted recipients. The number of assumed recipients is the number
        				of recipients less the number of bounced e-mails.
        			</documentation>
        		</annotation>               
            </element>
            <element name="PercentageOpened" type="double" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The ratio of the number of times the e-mail was
        				opened to the number of delivered recipients.
        			</documentation>
        		</annotation>          		
        	</element>
        	<element name="PercentageClicked" type="double"
        		maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The ratio of the number of times the e-mail was
        				clicked to the number of delivered recipients.
        			</documentation>
        		</annotation>           		
        	</element>
        	<element name="PercentageClickedOverOpened" type="double"
        		maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The ratio of the number of times the e-mail was
        				clicked to the number of opened e-mails.
        			</documentation>
        		</annotation>           		
        	</element>        	
        	<element name="PercentageBounced" type="double"
        		maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The ratio of the number of times the e-mail was
        				bounced to the number of attempted recipients.
        			</documentation>
        		</annotation>           		
        	</element>
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>User Data.</documentation>
        		</annotation>
        	</element>
        </sequence>
	</complexType>


	<complexType name="CampaignElementVariableType">
        <annotation>
        	<documentation>
        		The name value pair variables associated with a campaign
        		element.
        	</documentation>
        </annotation>
        <sequence>
            <element name="Name" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The name of the campaign element variable.
        			</documentation>
        		</annotation>            
            </element>
            <element name="Value" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The value of the campaign element variable.
        			</documentation>
        		</annotation>               
            </element>
            <element name="SequenceOrder" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The order of the campaign element variable within the element.
        			</documentation>
        		</annotation>               
            </element>
            <element name="Properties" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				Any defining properties associated with this
        				name value pair.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="TriggerMatch" type="integer" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				Is this name value pair used when matching for
        				the occurrence of a trigger.
        			</documentation>
        		</annotation>
        	</element>
        	<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>User Data.</documentation>
        		</annotation>
        	</element>
        </sequence>
	</complexType>
		
	<complexType name="TestElementStatisticsType">
        <annotation>
        	<documentation>The statistics of a test element that is part of an experiment.</documentation>
        </annotation>
        <sequence>
        	<element name="TestElement"
        		type="_mkt:CampaignElementIdentifierType" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The unique identifier of a test element.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Views" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of times the test element resulted in
        				data being displayed to a customer in an
        				eMarketing Spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ViewOrders" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of times the test element resulted in
        				an order being placed by a customer as a result
        				of data being displayed to the customer in an
        				eMarketing Spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ViewRevenue" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The total amout of revenue attributed to a test
        				element as a result of an order being placed by
        				a customer after data was displayed to the
        				customer in an eMarketing Spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Clicks" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of times the test element resulted in
        				data being clicked by a customer in an
        				eMarketing Spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ClickOrders" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of times the test element resulted in
        				an order being placed by a customer as a result
        				of data being clicked by the customer in an
        				eMarketing Spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ClickRevenue" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The total amount of revenue attributed to a test
        				element as a result of an order being placed by
        				a customer after data was clicked by the
        				customer in an eMarketing Spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Currency" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The currency in which the display revenue and
        				click revenue are reported.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ViewConversionRate" type="string"
        		maxOccurs="1" minOccurs="0">
        		<annotation>        		
        			<documentation>
        				The number of orders divided by the number of views of the test element. These 
        				are for the orders associated with views of the test element.
        			</documentation>    
       			</annotation>    		
        	</element>
        	<element name="ViewAverageOrderAmount" type="string"
        		maxOccurs="1" minOccurs="0">
		        <annotation>
        			<documentation>
        				The total revenue of the orders divided by the number of orders. These 
        				are for the orders associated with views of the test element.
        			</documentation>    
        		</annotation>     		
        	</element>
        	<element name="ViewClickRatio" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The number of clicks divided by the number of times the test element was viewed. 
        			</documentation>    
        		</annotation>  
        	</element>
        	<element name="ClickConversionRate" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The number of orders divided by the number of clicks of the test element. These 
        				are for the orders associated with clicks of the test element.
        			</documentation>    
        		</annotation>         	
        	</element>
        	<element name="ClickAverageOrderAmount" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The total revenue of the orders divided by the number of orders. These 
        				are for the orders associated with clicks of the test element.
        			</documentation>    
        		</annotation>         	
        	</element>
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>User Data.</documentation>
        		</annotation>
        	</element>
        </sequence>
	</complexType>

	<complexType name="ExperimentStatisticsType">
        <annotation>
        	<documentation>The statistics of an experiment.</documentation>
        </annotation>
        <sequence>
			<element name="CustomersParticipated" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The number of customers who have particpated in
						the experiment.
					</documentation>
				</annotation>
			</element>
			<element name="TestElementStatistics" type="_mkt:TestElementStatisticsType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The statistics for all the test elements that are part of an experiment.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
			
</schema>
