WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Attachment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<annotation>
		<documentation>
			This Attachment XML schema file defines the attachment noun.
		</documentation>
	</annotation>
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>

	<element name="AttachmentBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	
	<element name="Attachment" type="_cnt:AttachmentType">
		<annotation>
			<documentation>
				An attachment refers a supplementary part that is associated with a business object.  
				This supplementary part may be an image file,  a document, or a URL link.
			</documentation>
		</annotation>
	</element>	
	<complexType name="AttachmentType">
		<annotation>
			<documentation>
				The type definition of an Attachment.
			</documentation>
		</annotation>
		<sequence>
			<element name="AttachmentIdentifier" type="_wcf:AttachmentIdentifierType" minOccurs="0">
				<annotation>
					<documentation>
						Identifier for the Attachment.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:AttachmentAsset" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The Attachment Asset that belongs to that Attachment.
					</documentation>
				</annotation>
			</element>		
			<!-- optional attachment description -->
			<element ref="_wcf:AttachmentDescription" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Description for the Attachment.
					</documentation>
				</annotation>
			</element>
			<!-- simple name value pair for extension -->
			<element ref="_wcf:UserData" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
