WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/BusinessAccount.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_ctr="http://www.ibm.com/xmlns/prod/commerce/9/contract"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/contract"
	ecore:nsPrefix="_ctr"
	ecore:package="com.ibm.commerce.contract.facade.datatypes">

	<annotation>
		<documentation>
			This file contains type definitions that make up a
			business account.
		</documentation>
	</annotation>
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/BaseTypes.xsd" />
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommerceFoundation.xsd" />
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/IdentifierTypes.xsd" />


	<element name="BusinessAccountBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last
				changed. The value is set as the versionID attribute in
				the corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<element name="BusinessAccount" type="_ctr:BusinessAccountType">
		<annotation>
			<documentation>
				Element definition of the business account noun.
			</documentation>
		</annotation>
	</element>

	  <complexType name="BusinessAccountType">
		<sequence>
			<element maxOccurs="1" minOccurs="0"
				name="BusinessAccountIdentifier" type="_wcf:BusinessAccountIdentifierType">
				<annotation>
					<documentation>
						The business account identifier.
					</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>	
	</complexType>
</schema>