WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/CampaignElementTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:_mkt="http://www.ibm.com/xmlns/prod/commerce/9/marketing" 
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation" 
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" 
	attributeFormDefault="unqualified" 
	ecore:nsPrefix="_mkt" 
	ecore:package="com.ibm.commerce.marketing.facade.datatypes" 
	elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/marketing">
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
	<include schemaLocation="../Components/MarketingCommon.xsd"/>

	<annotation>
		<documentation>This Marketing XML schema file defines the CampaignElementTemplate noun.</documentation>
	</annotation>
	
	<element name="CampaignElementTemplateBODVersion" type="string" fixed="7.0.0.0">
      <annotation>
        <documentation>
          The version of WebSphere Commerce when the noun was last changed.  
          The value is set as the versionID attribute in the corresponding BODs.
        </documentation>
      </annotation>
    </element>
    	
	<complexType name="CampaignElementTemplateType">
        <annotation>
        	<documentation>The template definition of an element within a marketing campaign.</documentation>
        </annotation>
        <sequence>
			<element name="CampaignElementTemplateIdentifier" type="_mkt:CampaignElementTemplateIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<appinfo>
						The unique identifier of a campaign element
						template.
					</appinfo>
					<documentation>The unique identifier of a template definition of an element within a marketing campaign.</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The description of the campaign element template.</documentation>
				</annotation>
			</element>
			<element name="DisplayXML" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The user interface display configuration of the campaign element template.</documentation>
				</annotation>
			</element>
			<element name="ImplementationXML" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The runtime configuration of the campaign element template.</documentation>
				</annotation>
			</element>
			<element name="BehaviorRuleXML" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The behavior rule configuration of the campaign element template.</documentation>
				</annotation>
			</element>
			<element name="RelatedCampaignElementXML" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The runtime configuration of the campaign
						element associated with the campaign element
						template.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>

	<element name="CampaignElementTemplate" type="_mkt:CampaignElementTemplateType">
		<annotation>
			<documentation>The template definition of an element within a marketing campaign.</documentation>
		</annotation>
	</element>

</schema>
