WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/CatalogEntryFiltering.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:oa="http://www.openapplications.org/oagis/9"
    xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation" xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
    attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
    ecore:nsPrefix="_cat" ecore:package="com.ibm.commerce.catalog.facade">
    
	<annotation>
		<documentation>
			This CatalogEntryFiltering XML schema file defines the
			CatalogEntryFiltering noun.
		</documentation>
	</annotation>
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />

	<element name="CatalogEntryFilteringBODVersion" type="string" fixed="7.0.0.2">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was
				last changed.
				The value is set as the versionID attribute in the
				corresponding BODs.
			</documentation>
		</annotation>
	</element>



	<element name="CatalogEntryFiltering" type="_cat:CatalogEntryFilteringType"></element>

	<complexType name="CatalogEntryFilteringType">
		<sequence>
			<element name="CatalogFilterIdentifier" type="_wcf:CatalogFilterIdentifierType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Identifier for the catalog filter
					</documentation>
				</annotation>
			</element>
			
			<element name="CatalogEntryIdentifier" type="_wcf:CatalogEntryIdentifierType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Identifiers for the catalog entry objects.
					</documentation>
				</annotation>
			</element>

			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this catalog entry filtering.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>