WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/CatalogFilter.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:oa="http://www.openapplications.org/oagis/9"
    xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation" xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
    attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
    ecore:nsPrefix="_cat" ecore:package="com.ibm.commerce.catalog.facade">

    <annotation>
        <documentation>
            This file contains all type definitions that make up a
            CatalogFilter.
        </documentation>
    </annotation>

    <import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
    <import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/IdentifierTypes.xsd" />     
    <include
        schemaLocation="../Components/CatalogCommon.xsd" />


    <element name="CatalogFilterBODVersion" type="string" fixed="7.0.0.0">
        <annotation>
            <documentation>
                The version of WebSphere Commerce when the noun was
                last changed.
                The value is set as the versionID attribute in the
                corresponding BODs.
            </documentation>
        </annotation>
    </element>

    <complexType name="CatalogFilterType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="CatalogFilterIdentifier" type="_wcf:CatalogFilterIdentifierType">
                <annotation>
                    <documentation>
                        Identifier for the catalog filter
                    </documentation>
                </annotation>
            </element>
            <element name="Description" type="_wcf:DescriptionType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Description for the catalog filter.
                    </documentation>
                </annotation>
            </element>
            <element name="CatalogGroupSelection" type="_cat:CatalogGroupSelectionType" maxOccurs="unbounded"
                minOccurs="0">
            </element>
            <element name="ProductSetSelection" type="_cat:ProductSetSelectionType" maxOccurs="unbounded"
                minOccurs="0"></element>


            <element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
                <annotation>
                    <documentation>The user data area.</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="usage" type="_cat:CatalogFilterUsageType"></attribute>
    </complexType>





    <simpleType name="SelectionType">
        <annotation>
            <documentation>Selection type.</documentation>
        </annotation>
        <union memberTypes="_cat:SelectionEnumerationType _wcf:EnumerationExtensionType" />
    </simpleType>

    <simpleType name="SelectionEnumerationType">
        <annotation>
            <documentation>
                The catalog filter selection enumeration type.
            </documentation>
        </annotation>
        <restriction base="normalizedString">
            <enumeration value="Exclude" />
            <enumeration value="Include" />
            <enumeration value="ExcludeImplicitSKU" />
            <enumeration value="IncludeImplicitSKU" />
        </restriction>
    </simpleType>
	<simpleType name="CatalogFilterUsageType">
        <annotation>
            <documentation>Catalog Filter usage type.</documentation>
        </annotation>
        <union memberTypes="_cat:CatalogFilterUsageEnumerationType _wcf:EnumerationExtensionType" />
    </simpleType>
	<simpleType name="CatalogFilterUsageEnumerationType">
        <annotation>
            <documentation>
                The catalog filter usage enumeration type.
            </documentation>
        </annotation>
        <restriction base="normalizedString">
        	<enumeration value="Hosting" />
        	<enumeration value="Buyer" />
        	<enumeration value="Price" />
        	<enumeration value="Promotion" /> 
        	<enumeration value="Marketing" />
        </restriction>
    </simpleType>


    <element name="CatalogFilter" type="_cat:CatalogFilterType"></element>


    <complexType name="CatalogFilterConditionGroupType">
        <sequence>


            <element name="ConditionGroupIdentifier" type="_wcf:CatalogFilterConditionGroupIdentifierType"
                maxOccurs="1" minOccurs="0">
            </element>


            <element name="Condition" type="_cat:CatalogFilterConditionType" maxOccurs="unbounded" minOccurs="0">
            </element>
            
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this condition group.
					</documentation>
				</annotation>
			</element>
            
        	
        </sequence>
        <attribute name="conditionRelation" type="_cat:CatalogFilterConditionRelationType">
        </attribute>

    </complexType>
    
    <complexType name="CatalogFilterConditionType">
        <sequence>
            <element name="ConditionIdentifier" type="_wcf:CatalogFilterConditionIdentifierType"
                maxOccurs="1" minOccurs="0">
            </element>
            <element name="ConditionAttributeIdentifier" type="_wcf:AttributeIdentifierType"
                maxOccurs="1" minOccurs="0">
            </element>
            <element name="ConditionAttributeValue" type="_cat:CatalogFilterConditionValueType" maxOccurs="unbounded"
                minOccurs="0">
            </element>
            <element name="ConditionOperator" type="string" maxOccurs="1" minOccurs="0">
            </element>            
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this condition.
					</documentation>
				</annotation>
			</element>

        </sequence>

        <attribute name="conditionType" type="int"></attribute>
    </complexType>

    <simpleType name="CatalogFilterConditionRelationEnumerationType">
        <restriction base="normalizedString">
            <enumeration value="and" />
            <enumeration value="or" />
        </restriction>
    </simpleType>

    <simpleType name="CatalogFilterConditionOperatorEnumerationType">
        <restriction base="normalizedString">
            <enumeration value="EQUAL" />
            <enumeration value="NOT EQUAL" />
            <enumeration value="GREATER THAN" />
            <enumeration value="LESS THAN" />
            <enumeration value="IN" />
        </restriction>
    </simpleType>


    <simpleType name="CatalogFilterConditionRelationType">
        <union memberTypes="_cat:CatalogFilterConditionRelationEnumerationType _wcf:EnumerationExtensionType" />
    </simpleType>

    <simpleType name="CatalogFilterConditionOperatorType">
        <union memberTypes="_cat:CatalogFilterConditionOperatorEnumerationType _wcf:EnumerationExtensionType" />
    </simpleType>

  	 <complexType name="CatalogFilterConditionValueType">
        <sequence>
            <element name="ConditionValueIdentifier" type="_wcf:CatalogFilterConditionValueIdentifierType"
                maxOccurs="1" minOccurs="0">
            </element>
      		<choice>
				<element ref="_cat:StringValue" minOccurs="1" />
				<element ref="_cat:IntegerValue" minOccurs="1" />
				<element ref="_cat:FloatValue" minOccurs="1" />				
			</choice>					
	
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this condition value.
					</documentation>
				</annotation>
			</element>
        </sequence>

        <attribute name="identifier" type="string" use="optional">
			<annotation>
				<documentation>
					The attribute value identifier of the allowed value.
				</documentation>
			</annotation>
		</attribute>
		
		<attribute name="storeID" type="string" use="optional">
			<annotation>
				<documentation>
					The unique id of the store that owns the allowed value.
				</documentation>
			</annotation>
		</attribute>	
		<attribute name="language" type="_wcf:LanguageType">
			<annotation>
				<documentation>
					The language of the allowed value.
				</documentation>
			</annotation>
		</attribute>
    </complexType>

    <complexType name="CatalogGroupSelectionType">
        <sequence>
        	<element maxOccurs="1" minOccurs="0"
        		name="CatalogGroupSelectionIdentifier"
        		type="_wcf:CatalogGroupSelectionIdentifierType">
        		<annotation>
        			<documentation>
        				Identifier for the catalog group selection
        			</documentation>
        		</annotation>
        	</element>
                      	
            <element name="ConditionGroup" type="_cat:CatalogFilterConditionGroupType" maxOccurs="unbounded" minOccurs="0">
        	</element>
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this catalog group selection.
					</documentation>
				</annotation>
			</element>
        </sequence>
        <attribute name="selection" type="_cat:SelectionType"></attribute>
        <attribute name="conditionGroupRelation" type="_cat:CatalogFilterConditionRelationType"></attribute>       
    </complexType>

   
    <complexType name="ProductSetSelectionType">
        <sequence>
           <element maxOccurs="1" minOccurs="0"
        		name="ProductSet"
        		type="_cat:ProductSetType">
        		<annotation>
        			<documentation>
        				Identifier for the catalog entry selection
        			</documentation>
        		</annotation>
        	</element>                     	
           
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this product set selection.
					</documentation>
				</annotation>
			</element>          
        </sequence>
        <attribute name="selection" type="_cat:SelectionType"></attribute>
    </complexType>
    
    <complexType name="ProductSetType">
        <sequence>
           <element maxOccurs="1" minOccurs="0"
        		name="ProductSetIdentifier"
        		type="_wcf:ProductSetIdentifierType">
        		<annotation>
        			<documentation>
        				Identifier for the product set
        			</documentation>
        		</annotation>
        	</element>           
            <element maxOccurs="unbounded" minOccurs="0"
        		name="CatalogEntryIdentifier"
        		type="_wcf:CatalogEntryIdentifierType">
        		<annotation>
        			<documentation>
        				Identifiers for the catalog entries
        			</documentation>
        		</annotation>
        	</element>        	
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this product set.
					</documentation>
				</annotation>
			</element>          
        </sequence>
   
    </complexType>

</schema>
