WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/CatalogEntryView.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
	ecore:nsPrefix="_cat" 
	ecore:package="com.ibm.commerce.catalog.navigationview.facade">

    <annotation>
		<documentation>
			This CatalogEntryView XML schema file defines the CatalogEntryView noun.
		</documentation>
	</annotation>
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
	<include schemaLocation="../Components/CatalogCommon.xsd" />
		
	
	
	<element name="CatalogEntryViewBODVersion" type="string" fixed="7.0.0.2">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the CatalogEntryView noun 
				was last changed.  The value is set as the versionID attribute in the 
				corresponding BODs.
			</documentation>
		</annotation>
	</element>
	
	<element name="CatalogEntryView" type="_cat:CatalogEntryViewType">
		<annotation>
			<documentation>
				A CatalogEntryView is used to represent a displayable entry while navigating the storefront catalog.
				This noun is designed for use with the storefront only. 
			</documentation>
		</annotation>
	</element>

	<complexType name="CatalogEntryViewType">
		<annotation>
			<documentation>
				A type definition of a storefront CatalogEntry.
			</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						A unique ID for the catalog entry.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="1" name="PartNumber" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						The part number, or SKU for the catalog entry.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Name" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						Name of catalog entity
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Thumbnail" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						Thumbnail image of the catalog entity
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="FullImage" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						Full image of the catalog entity
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ShortDescription" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						A short description for the catalog entity
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="LongDescription" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						A long description for the catalog entity
					</documentation>
				</annotation>
			</element>

			<element minOccurs="0" name="Manufacturer" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						The manufacturer name for a catalog entry.
					</documentation>
				</annotation>
			</element>

			<element name="Keyword" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						Keyword for this catalog entry.
					</documentation>
				</annotation>
			</element>

			<element name="hasSingleSKU" type="boolean" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="SingleSKUCatalogEntryID" type="string"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="StoreID" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of the store associated with the
						catalog entry.
					</documentation>
				</annotation>
			</element>
			<element name="Attachments"
				type="_cat:AttachmentAssetViewType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						Attachments for this catalog entry.
					</documentation>
				</annotation>
			</element>

			<element minOccurs="0" maxOccurs="unbounded" name="Price"
				type="_cat:PriceViewType">
				<annotation>
					<documentation>
						The unit price in the current currency.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1"
				name="ParentCatalogGroupID" type="string">
				<annotation>
					<documentation>
						A unique identifier for the parent catalog
						group.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1"
				name="ParentCatalogEntryID" type="string">
				<annotation>
					<documentation>
						A unique identifier for the parent catalog
						entry.
					</documentation>
				</annotation>
			</element>

			<element maxOccurs="unbounded" minOccurs="0" name="MetaData"
				type="_wcf:NameValuePairType">
				<annotation>
					<documentation>
						Additional metadata for this catalog entry.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						User data for this catalog entry.
					</documentation>
				</annotation>
			</element>
			<element name="NumberOfSKUs" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="SKUs" type="_cat:CatalogEntryViewType"
				maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>
						A list of the SKUs associated with the catalog
						entry. Only applies to Products.
					</documentation>
				</annotation>
			</element>
			<element name="Components" type="_cat:ComponentViewType"
				maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>
						Component catalog entries associated with the
						catalog entry.
					</documentation>
				</annotation>
			</element>
			<element name="MerchandisingAssociations"
				type="_cat:MerchandisingAssociationViewType" maxOccurs="unbounded"
				minOccurs="0">
				<annotation>
					<documentation>
						Merchandising associations for this catalog
						entry.
					</documentation>
				</annotation>
			</element>
			<element name="Attributes" type="_cat:AttributeViewType"
				maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>
						A list of attributes associated with the catalog
						entry.
					</documentation>
				</annotation>
			</element>

            <element name="SubscriptionTypeCode" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Indicates what type of suscription this entry is associated with.</documentation>
				</annotation></element>
            <element name="DynamicKitURL" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						URL location of an external dynamic kit
						configurator. Only applies to dynamic kits.
					</documentation>
				</annotation>
			</element>
			<element name="DynamicKitDefaultConfiguration" type="string"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Reference information for an external dynamic
						kit configurator. Only applies to dynamic kits.
					</documentation>
				</annotation>
			</element>
			<element name="DynamicKitDefaultConfigurationComplete"
				type="boolean" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Indicates the predefined configuration is
						complete. Only applies to dynamic kits. If there
						are multiple values, only the first value found
						is returned.
					</documentation>
				</annotation>
			</element>
			<element name="DynamicKitModelReference" type="string"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						For dynamic kits, this element contains a
						Commerce model reference.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Title" type="string">
				<annotation>
					<documentation>
						Title for the store page.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="MetaDescription"
				type="string">
				<annotation>
					<documentation>
						Meta description for the store page.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="MetaKeyword" type="string">
				<annotation>
					<documentation>
						Meta keyword for the store page.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="FullImageAltDescription"
				type="string">
				<annotation>
					<documentation>
						Full image alternate description for the store
						page.
					</documentation>
				</annotation>
			</element>
        </sequence>
		<attribute name="catalogEntryTypeCode"
			type="_cat:CatalogEntryTypeCodeType">
			<annotation>
				<documentation>Catalog entry type.</documentation>
			</annotation>
		</attribute>
		<attribute name="buyable" type="boolean">
			<annotation>
				<documentation>
					Determines whether the item is buyable.
				</documentation>
			</annotation>
		</attribute>
        <attribute name="disallowRecurringOrder" type="boolean">
			<annotation>
				<documentation>
					Indicates whether the entry can be ordered for mulitple deliveries.</documentation>
			</annotation></attribute>
    </complexType>

	<complexType name="PriceViewType">
		<annotation>
			<documentation>
				The type definition of a price used by storefront catalog entry view.
			</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" maxOccurs="1" name="Value"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>
						The display or offer price for quantity 1. The type of price is indicated by PriceUsage. The price can be in different currencies.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1" name="MinimumValue"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>
						The minimum unit price in the current currency. This will only be populated for Products and Bundles that have multiple SKUs.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1" name="MaximumValue"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>
						The maximum unit price in the current currency. This will only be populated for Products and Bundles that have multiple SKUs.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1" name="Description"
				type="string">
				<annotation>
					<documentation>
						The description of the price.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1" name="PriceUsage">
				<annotation>
					<documentation>
						The type of price. The supported values are
						"Display" for display price and "Offer" for offer price.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="Display"></enumeration>
						<enumeration value="Offer"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element maxOccurs="1" minOccurs="0"
				name="ContractIdentifier" type="_wcf:ContractIdentifierType">
				<annotation>
					<documentation>
						The contract identifier for the contract price.
					</documentation>
				</annotation>
			</element>
			<element name="isLowestContractPrice" type="boolean" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						If this is an offer price, this indicates that this contract has the lowest offer price amongst all the contracts for this catalog entry.
					</documentation>
				</annotation>
			</element>
			<element name="PriceRange" type="_cat:PriceRangeType"
				maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>
						The price ranges for the contract when Usage is Contract. If the contract has only one price range (1-unbounded) then this element is not returned.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						User data for price.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="AttributeViewType">
		<annotation>
			<documentation>
				A view type definition of Catalog entry attributes. This
				represents a group of catalog entry attributes
			</documentation>
		</annotation>
		<sequence>
			<element name="Usage" type="string" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>
						The attribute usage. Can be Descriptive or
						Defining.
					</documentation>
				</annotation>
			</element>
			<element name="UniqueID" type="string" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>
						Unique ID for the attribute.
					</documentation>
				</annotation>
			</element>
			<element name="Identifier" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						Unique identifier for the attribute. Applies to
						attribute dictionary attributes only.
					</documentation>
				</annotation>
			</element>
			<element name="Name" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						Name for the attribute.
					</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						Description for the attribute.
					</documentation>
				</annotation>
			</element>
			<element name="DataType" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						Data type of the value for the attribute.
					</documentation>
				</annotation>
			</element>
			<element name="Value" type="string" maxOccurs="unbounded"
				minOccurs="0">
				<annotation>
					<documentation>
						This element is deprecated, use Values element
						for attribute value instead.
					</documentation>
				</annotation>
			</element>

			<element name="Values" type="_cat:AttributeValueViewType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Values for the attribute. For descriptive
						attributes there may be multiple values. For
						defining attributes, product may have multiple
						values and SKUs will have at most one.
					</documentation>
				</annotation>
			</element>
            <element name="StoreDisplay" type="string" minOccurs="0" maxOccurs="1">
            	<annotation>
            		<documentation>Value indicating how to display this attribute in an interface.  A store interface should use this flag to determine ways to format the display of this attribute.</documentation>
            	</annotation></element>
            <element name="ExtendedValue" type="_wcf:NameValuePairType"
				maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>
						Extended data for the attribute.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						User data for the attribute. It is used for
						customer extension.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="displayable" type="boolean" use="optional">
			<annotation>
				<documentation>This flag identifies if this attribute is displayable on the store front. This flag can be used to temporarily hide an attribute on the store front.</documentation></annotation></attribute>
		<attribute name="searchable" type="boolean" use="optional">
			<annotation>
				<documentation>	This flag identifies if this attribute can be searched. Searchable attributes can be indexed to search engine.</documentation></annotation></attribute>
		<attribute name="comparable" type="boolean">
			<annotation>
				<documentation>This flag identifies if this attribute can be used for comparison. </documentation></annotation></attribute>
	</complexType>

	<complexType name="AttributeValueViewType">
		<annotation>
			<documentation>The view type definition for an attribute value.</documentation>
		</annotation>
		<sequence>
			<element name="Value" type="string" />
			<element name="UniqueID" type="string" maxOccurs="1">
				<annotation>
					<documentation>
						Unique ID for the attribute value.
					</documentation>
				</annotation>
			</element>
			
			<element name="Identifier" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						Unique identifier for the attribute value. 
					</documentation>
				</annotation>
			</element>
			<element name="ExtendedValue" minOccurs="0" maxOccurs="unbounded"
				type="_wcf:NameValuePairType"> 
				<annotation>
					<documentation>
						Simple name value pairs for defining additional attribute values such
						as images and or attachments. 
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						User data for the attribute value. It is used for customer extension.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>


	<complexType name="AttachmentAssetViewType">
		<annotation>
			<documentation>The view type definition for an attachment asset.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="AttachmentAssetID"
				type="string">
				<annotation>
					<documentation>
						An identifier of the attachment asset.
					</documentation>
				</annotation>
			</element>
			<element name="AttachmentAssetPath" type="string"
				minOccurs="1">
				<annotation>
					<documentation>
						The unique identifier of the Attachment Asset.
					</documentation>
				</annotation>
			</element>
			<element name="Usage" type="string" minOccurs="0">
				<annotation>
					<documentation>
						The usage of the Attachment Asset. For example "USERMANUAL", "IMAGES","DOCUMENTS" 
					</documentation>
				</annotation>
			</element>
			<element name="MimeType" type="string" minOccurs="0">
				<annotation>
					<documentation>
						The mime type of the Attachment Asset.
					</documentation>
				</annotation>
			</element>
            <element name="MetaData" type="_wcf:NameValuePairType" minOccurs="0" maxOccurs="unbounded"></element>
            <element ref="_wcf:UserData" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>


	<complexType name="ComponentViewType">
		<sequence>
			<element ref="_cat:CatalogEntryView" maxOccurs="1" minOccurs="1">
			</element>
			<element name="Quantity" type="string" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>The quantity for this component.</documentation>
				</annotation>
			</element>
			<element name="GroupName" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The group name for the component catalog entry.</documentation>
				</annotation>
			</element>
			<element name="UnitOfMeasure" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The unit of measure for the component catalog entry.</documentation>
				</annotation>
			</element>
			<element name="PreConfigurationID" type="string"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The predefined dynamic kit configuration ID.
					</documentation>
				</annotation>
			</element>
			<element name="PreConfigurationComponentID" type="string"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The ID of the component in the predefined
						configuration.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						User data for this component.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="MerchandisingAssociationViewType">
		<sequence>
			<element name="AssociationType" type="string" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>
						The type of association: upsell, cross-sell, replacement, or accessory.
					</documentation>
				</annotation>
			</element>
			<element ref="_cat:CatalogEntryView" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>
						The catalog entry for this association.
					</documentation>
				</annotation>
			</element>
			<element name="Quantity" type="string" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>
						The quantity for this association.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						User data for this component.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="PriceRangeType">
		<sequence>
			<element name="MinimumQuantity" type="string" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>
							The minimum quantity for this price.
					</documentation>
				</annotation>
			</element>
			<element name="MaximumQuantity" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
							The maximum quantity for this price.
					</documentation>
				</annotation>
			</element>
			<element name="Value" type="_wcf:MonetaryAmountType" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>
							The offer price of this range. The price can be
							in different currencies.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
