WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/CatalogGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2006, 2016 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
	attributeFormDefault="unqualified" ecore:nsPrefix="_cat"
	ecore:package="com.ibm.commerce.catalog.facade.datatypes"
	elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog">
	<annotation>
		<documentation>
			This CatalogGroup XML schema file defines the catalog noun.
		</documentation>
	</annotation>
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />
	<include schemaLocation="../Components/CatalogCommon.xsd" />
	<include schemaLocation="AttributeDictionaryAttribute.xsd"></include>

	<element name="CatalogGroup" type="_cat:CatalogGroupType">
		<annotation>
			<documentation>A catalog group.</documentation>
		</annotation>
	</element>

	<complexType name="CatalogGroupType">
		<annotation>
			<documentation>
				A type definition of a CatalogGroup.
			</documentation>
		</annotation>
		<sequence>
			<element name="CatalogGroupIdentifier"
				type="_wcf:CatalogGroupIdentifierType" minOccurs="0">
				<annotation>
					<documentation>
						Identifier for catalog group.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="OwningStoreDirectory" type="string">
				<annotation>
				<documentation>The store directory of the owning store of this catalog group.</documentation>
				</annotation>
			</element>
			
			<element ref="_cat:Description" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						Description for catalog group.
					</documentation>
				</annotation>
			</element>
			<element ref="_cat:Attributes" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						Simple name value pairs for additional
						attributes for the catalog group. Can also be
						used for customer extension.
					</documentation>
				</annotation>
			</element>
			<element name="ParentCatalogGroupIdentifier"
				type="_wcf:CatalogGroupIdentifierType" minOccurs="0">
				<annotation>
					<documentation>
						Parent catalog group identifier. This will be
						null for top category nodes
					</documentation>
				</annotation>
			</element>
			<element ref="_cat:NavigationRelationship"
				maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>
						Navigation relationship.
					</documentation>
				</annotation>
			</element>
			<element ref="_cat:BreadcrumbLocation"
				maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>
						Location breadcrumbs.
					</documentation>
				</annotation>
			</element>
			<element ref="_cat:Association" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						Associations for the catalog group.
					</documentation>
				</annotation>
			</element>
			<element ref="_cat:TaxonomyAttribute" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The taxonomy attributes for this catalog group.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:AttachmentReference" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The attachment associated with the catalog
						group.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:ExternalContentReference"  minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The external content associated with the catalog entry.
					</documentation>
				</annotation>
			</element>						
			
			<element name="Facet" type="_cat:FacetType" minOccurs="0"
				maxOccurs="unbounded">
                <annotation>
                	<documentation>
This object definition is the representation of a search facet in the Commerce Management Center authoring tool.

A search facet is a property/attribute of &quot;something&quot; a person is looking for.   A &quot;something&quot; is usually a catalog 
entry, but the concept can be applied to other business objects.

A catalog entry usually has many properties associated with it.  These come in the form of Commerce attributes 
(from the attribute dictionary), properties associated with the product (ie. brand/manufacturer, customized data) 
and other data associated with the business object (ie. price, promotions, reviews/ratings) that will help a customer
 find what they desire.

Note:  This object is meant for use in the Commerce Management Center authoring tooling and not the storefront.</documentation>
                </annotation>
			</element>
			<element ref="_wcf:SEOProperties" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The SEO properties associated with the catalog
						group.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:SEOURL" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The SEO URL associated with the catalog group.
					</documentation>
				</annotation>
			</element>

			<element name="Rule" type="_cat:RuleType" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>
						The rules that are associated with the catalog
						group.
					</documentation>
                </annotation>
			</element>
		</sequence>
		<attribute name="navigationPath" type="string" use="optional">
			<annotation>
				<documentation>
					The navigation path to current node from the root.
				</documentation>
				<documentation>
					The top level node would have a path of "/".
				</documentation>
			</annotation>
		</attribute>
		<attribute name="displaySequence" type="double"
			use="optional">
			<annotation>
				<documentation>
					This is used in context with the parent node for
					display.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="topCatalogGroup" type="boolean"
			use="optional">
			<annotation>
				<documentation>
					True for a top level catalog group.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="dynamicCatalogGroup" type="int">
			<annotation>
				<documentation>
This flag will have different integer values based on the behaviour of this catalog group.

dynamicCatalogGroup=0
----------------------------
The sales category in management center will have a tab in its properties view to allow 
them to find catalog entries to save to the sales category.

dynamicCatalogGroup=1
----------------------------
The dynamic sales category in management center is a new category object that allows business 
users to define a rule that will be used to populate the category at scheduled intervals.   This is to 
allow the business more dynamic behaviour without having to statically assign catalog entries to 
the category themselves.

</documentation>
			</annotation></attribute>
	</complexType>


	<complexType name="FacetType">
        <annotation>
        	<documentation>This object definition is the representation of a search facet in the Commerce Management Center authoring tool.

A search facet is a property/attribute of &quot;something&quot; a person is looking for.   A &quot;something&quot; is usually a catalog 
entry, but the concept can be applied to other business objects.

A catalog entry usually has many properties associated with it.  These come in the form of Commerce attributes 
(from the attribute dictionary), properties associated with the product (ie. brand/manufacturer, customized data) 
and other data associated with the business object (ie. price, promotions, reviews/ratings) that will help a customer
 find what they desire.

Note:  This object is meant for use in the Commerce Management Center authoring tooling and not the storefront.</documentation></annotation>
        <sequence>




            <element name="FacetIdentifier" type="_wcf:FacetIdentifierType" minOccurs="1" maxOccurs="1">
            	<annotation>
            		<documentation>The identifier of a facet.</documentation>
            	</annotation></element>
            <element name="Attribute"
        		type="_cat:AttributeDictionaryAttributeType" minOccurs="1"
        		maxOccurs="1">
        	</element>
        </sequence>
	</complexType>

	<complexType name="RuleType">
        <annotation>
        	<documentation>
						The rule associated with the catalog
						group.
					</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
			</element>

			<element name="NVP" type="_wcf:NameValuePairType"
				minOccurs="0" maxOccurs="unbounded">
			</element>
			<element name="Element" type="_cat:ElementType"
				minOccurs="0" maxOccurs="unbounded">
			</element>

			<element name="UserData" type="_wcf:UserDataType" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="ElementType">
        <annotation>
        	<documentation>
						The element associated with the catalog
						group rule.
					</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="NVP" type="_wcf:NameValuePairType"
				minOccurs="0" maxOccurs="unbounded">
			</element>
			<element name="UserData" type="_wcf:NameValuePairType"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
		<attribute name="type" type="string" use="optional">
		</attribute>
	</complexType>


</schema>
