WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/CatalogGroupView.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
	ecore:nsPrefix="_cat" 
	ecore:package="com.ibm.commerce.catalog.navigationview.facade">

	<annotation>
		<documentation>
			This CatalogGroup XML schema file defines the catalog noun.
		</documentation>
	</annotation>
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
	<include schemaLocation="../Components/CatalogCommon.xsd" />
		
	
	
	<element name="CatalogGroupViewBODVersion" type="string" fixed="7.0.0.2">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the CatalogGroupView noun 
				was last changed.  The value is set as the versionID attribute in the 
				corresponding BODs.
			</documentation>
		</annotation>
	</element>
	
	<element name="CatalogGroupView" type="_cat:CatalogGroupViewType">
		<annotation>
			<documentation>
			A CatalogGroup is used to represent a displayable category in a catalog.
			This noun is designed for use with the storefront only.
			</documentation>
		</annotation>
	</element>
	
	<complexType name="CatalogGroupViewType">
		<annotation>
			<documentation>
				An abstract type definition of a CatalogGroup.
			</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						A unique ID for a catalog group.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Identifier" type="string"
				maxOccurs="1">
				<annotation>
					<documentation>
						An identifier for a catalog group.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="unbounded"
				name="ParentCatalogGroupID" type="string">
				<annotation>
					<documentation>
						Unique identifier for the parent catalog
						group.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Name" type="string">
				<annotation></annotation>
			</element>
            <element name="FullPath" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element minOccurs="0" name="Thumbnail" type="string">
				<annotation></annotation>
			</element>
			<element minOccurs="0" name="FullImage" type="string">
				<annotation></annotation>
			</element>
			<element minOccurs="0" name="ShortDescription"
				type="string">
				<annotation></annotation>
			</element>
			<element minOccurs="0" name="LongDescription"
				type="string">
				<annotation></annotation>
			</element>
			<element minOccurs="0" name="Title" type="string">
				<annotation>
				<documentation>Title for the store page.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="MetaDescription" type="string">
				<annotation>
				<documentation>Meta description for the store page.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="MetaKeyword" type="string">
				<annotation>
				<documentation>Meta keyword for the store page.</documentation>
				</annotation>
			</element>	
			<element minOccurs="0" name="FullImageAltDescription" type="string">
				<annotation>
				<documentation>Full image alternate description for the store page.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="MetaData"
				type="_wcf:NameValuePairType">
				<annotation>
					<documentation>
						Additional meta data for this catalog group.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this catalog group.
					</documentation>
				</annotation>
			</element>

		</sequence>
	</complexType>


</schema>
