WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/CeladonCommonMasterNoun.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--><xsd:schema
    attributeFormDefault="unqualified"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    ecore:nsPrefix="celadon_common"
    ecore:package="com.ibm.commerce.foundation.celadon.common.datatypes"
    elementFormDefault="qualified"
    targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
    xmlns:celadon_common="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >

	<xsd:include schemaLocation="DateTime.xsd"/>
	<xsd:include schemaLocation="Duration.xsd"/>
	<xsd:include schemaLocation="TimezoneOffset.xsd"/>

	<xsd:include schemaLocation="SerialPortConfiguration.xsd"/>
	<xsd:include schemaLocation="SMSMessageChannelConfiguration.xsd"/>

	<xsd:include schemaLocation="ServiceConnectionConfiguration.xsd"/>
	<xsd:include schemaLocation="GSMModemConfiguration.xsd"/>
	<xsd:include schemaLocation="KeyValuePair.xsd"/>
	<xsd:include schemaLocation="NFCMessage.xsd"/>
	<xsd:include schemaLocation="NFCMessageStatus.xsd"/>
	<xsd:include schemaLocation="ComponentStatusRecord.xsd"/>

	<xsd:complexType name="CeladonCommonMasterNounType">
        <xsd:annotation>
      <xsd:appinfo key_member_name="RecordID"/>
    </xsd:annotation>
        <xsd:sequence>
		
			<xsd:element name="RecordID" type="xsd:string">
			</xsd:element>
			
			<xsd:element name="ComponentStatusRecord" type="celadon_common:ComponentStatusRecord">
			</xsd:element>
			
			<xsd:element name="DateTime" type="celadon_common:DateTime">
			</xsd:element>
			
			<xsd:element name="Duration" type="celadon_common:Duration">
			</xsd:element>
			
			<xsd:element name="GSMModemConfiguration" type="celadon_common:GSMModemConfiguration">
			</xsd:element>
			
			<xsd:element name="KeyValuePair" type="celadon_common:KeyValuePairType">
			</xsd:element>
						
			<xsd:element name="NFCMessage" type="celadon_common:NFCMessage">
			</xsd:element>
			
			<xsd:element name="NFCMessageStatus" type="celadon_common:NFCMessageStatus">
			</xsd:element>
			
			<xsd:element name="SerialPortConfiguration" type="celadon_common:SerialPortConfiguration">
			</xsd:element>
			
			<xsd:element name="ServiceConnectionConfiguration" type="celadon_common:ServiceConnectionConfiguration">
			</xsd:element>
			
			<xsd:element name="SMSMessageChannelConfiguration" type="celadon_common:SMSMessageChannelConfiguration">
			</xsd:element>
			
			<xsd:element name="TimezoneOffset" type="celadon_common:TimezoneOffset">
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>


    <xsd:element name="CeladonCommonMasterNoun" type="celadon_common:CeladonCommonMasterNounType">
    <xsd:annotation>
      <xsd:documentation>Element declaration of the CeladonCommonMasterNounType data type.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
    <xsd:element fixed="7" name="CeladonCommonMasterNounBODVersion" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>This value is set as the versionID attribute in the corresponding BOD.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>