WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/ComponentStatusRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
  <xsd:schema
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:celadon_common="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
    xmlns:oa="http://www.openapplications.org/oagis/9"
    xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <xsd:complexType name="ComponentStatusRecord">
        <xsd:annotation>
    <xsd:documentation>Indicates the status of a software or hardware component, reported at a given point in time - note that the RecordID member is the key member and identifies a particular reporting of the component status -- the ComponentID member identifies the component for whom a report is being issued or maintained -- this allows the option of multiple status records to be managed for a single component, reflecting the status of that component at different points in time (if desired) -- it may also be the policy of applications to maintain only one status record per component, reflecting only the most recent status report. Note that the status is represented by a two members which express logical status -- StatusCodeMajor (e.g. "OK", "ERROR", "WARNING") and StatusCodeMinor (e.g. "WEAK SIGNAL") plus a numerical StatusValue member which might be used to represent a component status that changes along a spectrum (e.g. the signal strength reading for a modem). The application should specify its own conventions about reasonable values and meanings for the status fields.</xsd:documentation>
    <xsd:appinfo key_member_name="RecordID"/>
    </xsd:annotation>
    
     <xsd:sequence>
      <xsd:element minOccurs="0" name="RecordID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unique identifier for this status report -- note that this is distinct from the ComponentID member -- multiple status reports may exist for the same component.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ComponentID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Identifies the software or hardware component whose status is being reported -- this should be a globally unique identifier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StatusCodeMajor" type="xsd:string">
        <xsd:annotation>
          
        
        <xsd:documentation>Overall status of the component expressed as a logical major code -- typically this is a short string such as "OK", "IDLE", "WARNING" or "ERROR", "STARTING", "ACTIVITY", and "STOPPING".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
            <xsd:element minOccurs="0" name="StatusCodeMinor" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Specific status of the component expressed as a logical minor code which complements the major code -- for example, a major status code of  "WARNING" might be coupled with a minor status code of "WEAK SIGNAL".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
            <xsd:element minOccurs="0" name="StatusValue" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Status of the component expressed as a numerical value -- this is useful for components whose activities may be gauged across a numerical spectrum (e.g. a modem may indicate its signal strength in a status report).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
            <xsd:element minOccurs="0" name="ShortDescription" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Quick descriptive overview of the status report, generally reaching a maximum of two or three words -- the application may choose to make this human readable and display it to the user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
            <xsd:element minOccurs="0" name="LongDescription" type="xsd:string">
        <xsd:annotation>
          
        <xsd:documentation>Details about the status report, generally reaching a maximum of two or three sentences -- the application may choose to make this human readable and display it to the user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Time at which the component status is being reported.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
            <xsd:element minOccurs="0" name="ValidityPeriodMilliseconds" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Optional field that indicates how long the status reported in the record should be considered to be in effect -- typical usages will use -1 to indicate an indefinite validity period, zero to indicate a pointwise status reading that does not necessarily extend into the future, and a positive value to indicate that a status report should have a finite lifespan.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
        </xsd:sequence>
  </xsd:complexType>
	

    <xsd:element name="ComponentStatusRecord" type="celadon_common:ComponentStatusRecord"/>
    
</xsd:schema>