WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2006, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_ifr="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/infrastructure"
	ecore:nsPrefix="_ifr" 
	ecore:package="com.ibm.commerce.infrastructure.facade.datatypes">

	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />

	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/IdentifierTypes.xsd" />

	<annotation>
		<documentation>
			This file contains all type definitions that make up a Configuration.
		</documentation>
	</annotation>

	<element name="ConfigurationBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<element name="Configuration" type="_ifr:ConfigurationType" >
		<annotation>
			<documentation>
				Element definition of the Configuration.
			</documentation>
		</annotation>
	</element>

	<complexType name="ConfigurationType">
		<annotation>
			<documentation>
				Type definition of a Configuration.
			</documentation>
		</annotation>
		<sequence>
			<element name="ConfigurationIdentifier" type="_ifr:ConfigurationIdentifierType" >
				<annotation>
					<documentation>The unique Configuration identifier.</documentation>
				</annotation>
			</element>
			<element ref="_ifr:ConfigurationAttribute" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>The configuration details containing a primary name-value pair and addition name-value pair(s).</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType">
				<annotation>
					<documentation>Description of the Configuration.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The configuration customization information.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="displaySequence" type="integer" use="optional" />
	</complexType>

	<element name="ConfigurationAttribute" type="_ifr:ConfigurationAttributeType" />

	<complexType name="ConfigurationAttributeType">
		<sequence>
			<element name="PrimaryValue"
				type="_ifr:ConfigurationValueType" minOccurs="1" maxOccurs="1" >
				<annotation>
					<documentation>The primary name-value pair for this configuration.</documentation>
				</annotation>
			</element>
			<element name="AdditionalValue" type="_ifr:ConfigurationValueType"
				maxOccurs="unbounded" minOccurs="0" >
				<annotation>
					<documentation>The addition name-value pairs (if there is any) for this configuration.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ConfigurationValueType">
		<sequence>
			<element name="Name" type="string" >
				<annotation>
					<documentation>The name of the configuration attribute.</documentation>
				</annotation>
			</element>
			<element name="Value" type="string" >
				<annotation>
					<documentation>The value of the configuration attribute.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ConfigurationIdentifierType">
		<sequence>
			<element name="UniqueID" type="string" />
		</sequence>
	</complexType>
	
</schema>
