WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/ContentVersion.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2009, 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>

	<element name="ContentVersionBODVersion" type="string" fixed="7.0.0.2">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	
	<element name="ContentVersion" type="_cnt:ContentVersionType">
		<annotation>
			<documentation>
				Element definition of a version of content managed object.
			</documentation>
		</annotation>
	</element>

	<complexType name="ContentVersionType">
		<sequence>
			<element name="ContentVersionIdentifier" type="_cnt:ContentVersionIdentifierType" minOccurs="1" maxOccurs="1" >
				<annotation>
					<documentation>
						Content version information identifier.
					</documentation>
				</annotation>
			</element>

			<element name="VersionName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						the version name.
					</documentation>
				</annotation>
			</element>

			<element name="Comment" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						the version comment.
					</documentation>
				</annotation>
			</element>

			<element name="User" type="_wcf:PersonIdentifierType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						the user who creates the version.
					</documentation>
				</annotation>
			</element>

			<element name="ActiveInProductionServer" type="boolean" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						Indicate whether this version is in the current production server or not.
					</documentation>
				</annotation>
			</element>

			<element name="ActiveInCurrentSession" type="boolean" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						Indicate whether this version is in the current session.
					</documentation>
				</annotation>
			</element>

			<element name="CreateTime" type="dateTime" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						When this version is created.
					</documentation>
				</annotation>
			</element>
			
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						UserData for customization.
					</documentation>
				</annotation>
			</element>
			
		</sequence>	</complexType>

	<complexType name="ContentVersionIdentifierType">
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						A unique ID of the Content Version Information.
					</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_cnt:ContentVersionExternalIdentifierType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						An external identifier for the Content Version Information.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="ContentVersionExternalIdentifierType">
		<sequence>
			<element name="ObjectType" type="string" minOccurs="1" maxOccurs="1" >
				<annotation>
					<documentation>
						Object type, such as SalesCatalog, CatalogGroup, Product, Bundle, etc.
					</documentation>
				</annotation>
			</element>

			<element name="ObjectId" type="long" minOccurs="1" maxOccurs="1" >
				<annotation>
					<documentation>
						Object ID. It can be the CATALOG_ID in the CATALOG table, CATGROUP_ID in the CATGROUP table or CATENTRY_ID in the CATENTRY table.
					</documentation>
				</annotation>
			</element>
			
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="1" maxOccurs="1" >
				<annotation>
					<documentation>
						Store identifier.
					</documentation>
				</annotation>
			</element>

			<element name="VersionNumber" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						the version number. It may be generated by the system.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
</schema>