WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/DataServiceStatusReport.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:celadon_core="http://www.ibm.com/xmlns/prod/commerce/9/celadon/core"
  targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/celadon/core"
  attributeFormDefault="unqualified" elementFormDefault="qualified" 
  >
  
  <xsd:complexType name="DataServiceStatusReportType">
  
    <xsd:annotation>
      <xsd:documentation>Indicates an observation about the status of a data service -- the report may come from the data service itself or from another component trying to reach the data service.</xsd:documentation>
    </xsd:annotation>
    
    <xsd:sequence>

      <xsd:element minOccurs="0" name="RecordID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Unique identifier for this individual status report -- note that this is distinct from the ServiceID member.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element minOccurs="0" name="ServiceURL" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>URL at which the data service instance to which this status report applies operates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element minOccurs="0" name="ServiceID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>(Optional) identifier of the data service instance to which this status report applies -- this should be a globally unique identifier and provided by the data service which is reporting its status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element minOccurs="0" name="StatusCodeMajor" type="xsd:string">
        <xsd:annotation>  
        <xsd:documentation>Overall status of the data service expressed as a logical major code -- typically this is a short string such as "OK", "IDLE", "WARNING" or "ERROR", "STARTING", "ACTIVITY", and "STOPPING".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element minOccurs="0" name="StatusCodeMinor" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Specific status of the component expressed as a logical minor code which complements the major code -- for example, a major status code of "ERROR" might be coupled with a minor status code of "DATABASE UNREACHABLE".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element minOccurs="0" name="StatusValue" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Status of the component expressed as a numerical value -- e.g. a data service may report a user load count.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element minOccurs="0" name="ShortDescription" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Quick descriptive overview of the status report, generally reaching a maximum of two or three words -- an administrative application, for example, may choose to make this human readable and display it to the user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element minOccurs="0" name="LongDescription" type="xsd:string">
        <xsd:annotation>    
        <xsd:documentation>Details about the status report, generally reaching a maximum of two or three sentences -- the administrative application, for example, may choose to make this human readable and display it to the user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Time at which the data service status is being reported.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      <xsd:element minOccurs="0" name="ValidityPeriodMilliseconds" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>Optional field that indicates how long the status reported in the record should be considered to be in effect -- typical usages will use -1 to indicate an indefinite validity period, zero to indicate a pointwise status reading that does not necessarily extend into the future, and a positive value to indicate that a status report should have a finite lifespan.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      
      </xsd:sequence>
      
  </xsd:complexType>

  <xsd:element name="DataServiceStatusReport" type="celadon_core:DataServiceStatusReportType"/>
  
</xsd:schema>
