WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Duration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:celadon_common="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
  targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
  attributeFormDefault="unqualified" elementFormDefault="qualified" 
  >
  <xsd:complexType name="Duration">
        <xsd:annotation>
      <xsd:documentation>Represents a period of time measured to extremely high precision -- this data type is consistent with the XSD duration built in data type.</xsd:documentation>
    </xsd:annotation>
        <xsd:sequence>
      <xsd:element minOccurs="0" name="Sign" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Represents the sign of the duration -- a negative value represents a negative time period, any other value represents a positive time period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Years" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Number of year in the time period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Months" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Number of months in the time period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Days" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Number of days in the time period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Hours" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Number of hours in the time period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Minutes" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Number of minutes in the time period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Seconds" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>Number of seconds in the time period -- this is represented by a double precision floating point value which can measure time to extremely high sub-second precision.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="Duration" type="celadon_common:Duration"/>
    
</xsd:schema>
