WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/GeoNode.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2008, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
	For support, more information, or to report implementation bugs, 
	please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
	
	** Revision:  IBM_WebSphere_Commerce 1.0 **
	
	Copyright IBM (c) 2008, All Rights Reserved
	
-->
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/store"
	xmlns:_sto="http://www.ibm.com/xmlns/prod/commerce/9/store"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified" ecore:nsPrefix="_sto"
	ecore:package="com.ibm.commerce.store.facade.datatypes">
	
	<annotation>
		<documentation>This GeoNode XML schema file defines the GeoNode noun. </documentation>
	</annotation>

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" 
			schemaLocation="../Components/CommonTypes.xsd"/>

	<element name="GeoNodeBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the GeoNode noun 
				was last changed.  The value is set as the versionID attribute in the 
				corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<element name="GeoNode" type="_sto:GeoNodeType">
		<annotation>
			<documentation>The element definition of the GeoNode noun. </documentation>
		</annotation>
	</element>
	
	<complexType name="GeoNodeType">
		<annotation>
			<documentation>The type definition of the GeoNode noun. </documentation>
		</annotation>
		<sequence>
			<element ref="_sto:GeoNodeIdentifier" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The geo node identifier.
					</documentation>
				</annotation>
			</element>
            <element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0"></element>
            <element name="Description"
				type="_sto:GeoNodeDescriptionType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The geo node description.
					</documentation>
				</annotation>
			</element>
			<element name="ParentGeoNodeIdentifier"
				type="_wcf:GeoNodeIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The geo node identifier of the parent.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="type" type="string" use="optional">
			<annotation>
				<documentation>This is used in context with the parent node for display. </documentation>
			</annotation>
		</attribute>
		<attribute name="displaySequence" type="double" use="optional">
			<annotation>
				<documentation>This is used in context with the parent node for display. </documentation>
			</annotation>
		</attribute>
		<attribute name="topGeoNode" type="boolean" use="optional">
			<annotation>
				<documentation>True for a top level geo node. </documentation>
			</annotation>
		</attribute>
	</complexType>
	
	<element name="GeoNodeIdentifier" type="_wcf:GeoNodeIdentifierType">
		<annotation>
			<documentation>The element definition of the geo node identifier. </documentation>
		</annotation>					
	</element>
	
	<complexType name="GeoNodeDescriptionType">
		<annotation>
			<documentation>The type definition of the geo node description. </documentation>
		</annotation>					
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The geo node name. </documentation>
				</annotation>					
			</element>
			<element name="ShortDescription" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The geo node description. </documentation>
				</annotation>		
			</element>
			<element ref="_wcf:UserData" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>	
	</complexType>
	
</schema>
