WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/GiftList.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2009, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_gft="http://www.ibm.com/xmlns/prod/commerce/9/giftcenter"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/giftcenter"
	ecore:nsPrefix="_gft" 
	ecore:package="com.ibm.commerce.giftcenter.facade">

	<annotation>
		<documentation>
			This file contains all type definitions that make up a gift list. A gift list can be either a wish list or a gift registry.
		</documentation>
	</annotation>
	
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../../Resources/Components/BaseTypes.xsd" />		
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" 
		schemaLocation="../../Resources/Components/CommonTypes.xsd"></import>
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../../Resources/Components/IdentifierTypes.xsd" />
	<complexType name="GiftListType">
        <annotation>
        	<documentation>The GiftList noun type, which applies to both a wish list and a gift registry.</documentation>
        </annotation>
        <sequence>
        	<element name="GiftListIdentifier"
        		type="_wcf:GiftListIdentifierType" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The gift list identifier.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Description"
        		type="_gft:GiftListDescriptionType" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				Description of the gift list.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="EventInformation"
        		type="_gft:GiftListEventInformationType" maxOccurs="1"
        		minOccurs="0">

        		<annotation>
        			<documentation>
        				Information about the event for which the list
        				is created.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Registrant"
        		type="_gft:GiftListRegistrantType" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The primary registrant or creator of the gift
        				list.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="CoRegistrant"
        		type="_gft:GiftListRegistrantType" maxOccurs="unbounded"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				Registrants who co-own the list.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="AccessSpecifier"
        		type="_gft:GiftListAccessSpecifierType" minOccurs="0">
        		<annotation>
        			<documentation>
        				The access restrictions that are to be imposed
        				on the gift list.
        			</documentation>
        		</annotation>
        	</element>


        	<element name="Item" type="_gft:GiftListItemType"
        		maxOccurs="unbounded" minOccurs="0">
        		<annotation>
        			<documentation>
        				The items that registrants and co-registrants are requesting.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Announcement"
        		type="_gft:GiftListAnnouncementType" maxOccurs="unbounded"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The e-mail announcements made about the gift list
        				by the registrants to friends and family.
        			</documentation>
        		</annotation>
        	</element>
            <element name="Registry" type="boolean" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>Indicates whether the noun is being used for GiftRegistry or WishList.</documentation>
            	</annotation></element>
            <element name="OptForEmail" type="boolean" maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Indicates whether the registrant wants to receive e-mails about the gift list.</documentation>
                </annotation>
            </element>
            <element name="State" minOccurs="0" maxOccurs="1"
        		type="string">

        		<annotation>
        			<documentation>
        				The status of the gift list. Valid statuses 
        				are: Active, Default, Deleted, Complete,
        				Expired.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Location" type="string" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The location or channel from where the gift list
        				was created.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="CreatedTime" type="dateTime" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The date and time when the gift list is created.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="LastUpdate" type="dateTime" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The date and time when the gift list was last
        				updated.
        			</documentation>
        		</annotation>
        	</element>

  			<element name="PurchaseRecord" type="_gft:GiftListPurchaseRecordType" minOccurs="0" maxOccurs="unbounded">
    			<annotation>
					<documentation>
						The element definition of the purchase record.
					</documentation>
				</annotation>
    		</element>




        	<element name="UserData" type="_wcf:UserDataType"
        		maxOccurs="1" minOccurs="0">
        	</element>

        </sequence>
	</complexType>


    <complexType name="GiftListDescriptionType">
        <annotation>
        	<documentation></documentation>
        </annotation>
        <sequence>
    		<element name="Name" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>Name of the gift list.</documentation>
    			</annotation></element>
    		<element name="Description" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>Description of the gift list.</documentation>
    			</annotation></element>
    		<element name="GuestMessage" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>Message to be to shown to guests who are viewing the gift list.</documentation>
    			</annotation></element>
    		<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="GiftListRegistrantType">
    	<sequence>
            <element name="RegistrantID" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The unique identifier of the registrant.</documentation>
			</annotation>
		</element>
    		<element name="RegistrantAddress"
    			type="_wcf:ContactInfoType" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The address of the registrant.</documentation>
                </annotation>
    		</element>


            <element name="Relation" type="string" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The relationship of the registrant or co-registrant of the event, for example, bride or groom for a wedding registry.</documentation>
                </annotation>
            </element>

    		<element name="PersonIdentifier" type="_wcf:PersonIdentifierType" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The registrant in WebSphere Commerce. It is not mandatory for registrants to be registered shoppers in WebSphere Commerce.</documentation>
                </annotation>
    		</element>

    		<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="GiftListAccessSpecifierType">
    	<sequence>


    		<element name="AccessSpecifier" type="string" maxOccurs="1"
    			minOccurs="1">
                <annotation>
                	<documentation>The search restriction that is to be imposed on the wish list. Public - can be searched and viewed by anyone; Private - cannot be searched and is not password protected; Protected - can be searched, but would require a password to view.</documentation>
                </annotation>
    		</element>
    		<element name="ManageAccessPassword" type="string"
    			maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The password registrants use to manage the gift list.</documentation>
                </annotation>
    		</element>

    		<element name="GuestAccessPassword" type="string"
    			maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The password guests use to view a password-protected registry.</documentation>
                </annotation>
    		</element>

            <element name="GuestAccessKey" type="string" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>A unique key that provides guests with direct access to the gift registry, bypassing the requirement to enter guest access password.</documentation>
            	</annotation></element>
            <element name="RegistryAccessKey" type="string" maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The unique key that allows a registrant to add items into the registry directly by bypassing the manage access password.</documentation>
                </annotation>
            </element>
            <element name="UserData" type="_wcf:UserDataType"
    			maxOccurs="1" minOccurs="0">
    		</element>


    	</sequence>
    </complexType>


    <complexType name="GiftListAnnouncementType">
        <annotation>
        	<documentation>The unique identifier to identify an announcement.</documentation>
        </annotation>
        <sequence>
            <element name="GiftListAnnouncementID" type="string" maxOccurs="1" minOccurs="0"></element>
            <element name="SentDate" type="date" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The date on which the announcement was sent.</documentation>
                </annotation>
            </element>
    		<element name="SenderEmailAddress" type="_wcf:EmailAddressType" maxOccurs="1"
    			minOccurs="1">
                <annotation>
                	<documentation>The e-mail address of the sender.</documentation>
                </annotation>
    		</element>
    		<element name="Message" type="string" maxOccurs="1"
    			minOccurs="1">
                <annotation>
                	<documentation>The custom message sent by the sender in the e-mail.</documentation>
                </annotation>
    		</element>
    		<element name="SenderName" type="string" maxOccurs="1"
    			minOccurs="1">
                <annotation>
                	<documentation>The name of the sender.</documentation>
                </annotation>
    		</element>
    		<element name="EmailRecipient"
    			type="_gft:EmailRecipientsType" maxOccurs="unbounded"
    			minOccurs="1">
                <annotation>
                	<documentation>The recipients of the e-mail.</documentation>
                </annotation>
    		</element>
    		<element name="UserData" type="_wcf:UserDataType"
    			maxOccurs="1" minOccurs="0">
    		</element>

    	</sequence>
    </complexType>

    <complexType name="GiftListItemType">
    	<sequence>
    		<element name="GiftListItemID" type="string" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The unique identifier for the gift list item.</documentation>
                </annotation>
    		</element>
    		<element name="CatalogEntryIdentifier"
    			type="_wcf:CatalogEntryIdentifierType" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The catalog entry details for the item requested.</documentation>
                </annotation>
    		</element>
    		<element name="QuantityRequested" type="_wcf:QuantityType"
    			maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The quantity of the item requested.</documentation>
                </annotation>
    		</element>
    		<element name="QuantityBought" type="_wcf:QuantityType"
    			maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The quantity of the item that has already been purchased.</documentation>
                </annotation>
    		</element>
    		<element name="Location" type="string" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The location or channel from where the item was added to the registry.</documentation>
                </annotation>
    		</element>
    		<element name="LastUpdate" type="dateTime" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The date and time of the last update to the registry.</documentation>
                </annotation>
    		</element>
    		<element name="CreatedTime" type="dateTime" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The date and time when the item was created.</documentation>
                </annotation>
    		</element>



            <element name="Attribute" type="_wcf:NameValuePairType" maxOccurs="unbounded" minOccurs="0">
            	<annotation>
            		<documentation>The personalization attributes associated with the item.</documentation>
            	</annotation></element>
            <element name="UserData" type="_wcf:UserDataType"
    			maxOccurs="1" minOccurs="0">
    		</element>

    	</sequence>
    </complexType>


    <complexType name="GiftListEventInformationType">
    	<sequence>
    		<element name="Event" type="string" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The name of the event for which the gift list is created. Events are predefined by the vendor, for example, Wedding or Birthday. For a wish list, the event would be WishList.</documentation>
                </annotation>
    		</element>
    		<element name="PreEventAddress"
    			type="_wcf:ContactInfoType" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The address to which the item needs to be shipped before the event date.</documentation>
                </annotation>
    		</element>
    		<element name="PostEventAddress"
    			type="_wcf:ContactInfoType" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The address to which the item needs to be shipped after the event date.</documentation>
                </annotation>
    		</element>
    		<element name="EventDate" type="date" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The date of the event.</documentation>
                </annotation>
    		</element>
    		<element name="GiftCardAccepted" type="boolean"
    			maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Indicates whether the registrants accept Gift Cards as gifts.</documentation>
                </annotation>
    		</element>
            <element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>


    <complexType name="EmailRecipientsType">
    	<sequence>
    		<element name="RecipientName" type="string" maxOccurs="1" minOccurs="1">
    			<annotation>
    				<documentation>Name of the recipient.</documentation>
    			</annotation></element>
    		<element name="RecipientEmail" type="_wcf:EmailAddressType" maxOccurs="1" minOccurs="1">
    			<annotation>
    				<documentation>E-mail address of the recipient.</documentation>
    			</annotation></element>
    		<element name="AddressingMethod" maxOccurs="1" minOccurs="1" type="string">
                <annotation>
                	<documentation>The method in which the recipient is addressed in the e-mail, for example, they are directly addressed (TO), they are copied on the mail (CC), and so on.</documentation>
                </annotation>
    		</element>
    	</sequence>
    </complexType>



    <element name="GiftList" type="_gft:GiftListType">
    	<annotation>
    		<documentation>The element definition for the GiftList noun.</documentation>
    	</annotation>
    </element>

	<element name="GiftListBODVersion" type="string" fixed="7.0.1.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the GiftList noun 
				was last changed.  The value is set as the versionID attribute in the 
				corresponding BODs.
			</documentation>
		</annotation>
	</element>
	
  <complexType name="GiftListPurchaseRecordType">
    	<annotation>
			<documentation>
				Type definition of a purchase record.
			</documentation>
		</annotation>
    	<sequence>
    		<element name="PurchaseRecordIdentifier"
    			type="_gft:PurchaseRecordIdentifierType" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
    				<documentation>
    					The purchase record identifier.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="PurchaseDate" type="date" maxOccurs="1"
    			minOccurs="1">
    			<annotation>
    				<documentation>
    					The date when the purchase was made.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="Location" type="string" maxOccurs="1"
    			minOccurs="1">
    			<annotation>
    				<documentation>
    					The location where the purchase was made, for
    					example, online or in the store.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="DateCreated" type="dateTime" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
    				<documentation>
    					The time when this purchase record was created.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="LastUpdate" type="dateTime" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
    				<documentation>
    					The time when this purchase record was last
    					updated.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="PurchaserAddress" type="_wcf:ContactInfoType"
    			maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					The address of the gift giver.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="Status" type="string" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
    				<documentation>
    					The status of the purchase record: Active or
    					Marked for Deletion.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="RegistrantMemo" type="string" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
    				<documentation>
    					A note provided by the registrant for this
    					purchase record.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="MessageForRegistrant" type="string"
    			maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					A message to accompany the gift (order item),
    					from the gift giver to the gift registrant.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="PurchasedItemDetails"
    			type="_gft:PurchasedItemDetailsType" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
    				<documentation>
    					The purchased item details for the gift
    					registry.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="NoteSent" type="boolean" minOccurs="1"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					Indicates whether a thank-you note has been sent
    					to the gift giver.
    				</documentation>
    			</annotation>
    		</element>
    		<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
    			<annotation>
    				<documentation>The user data area.</documentation>
    			</annotation>
    		</element>

    		<element name="GiftListItemID" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>The identifier of the gift list item purchased.  This element will be empty when an purchased item is not from the gift list.</documentation>
    			</annotation></element>
    	</sequence>
  </complexType>

    <complexType name="PurchaseRecordIdentifierType">
    	<sequence>
    		<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
					<documentation>An identifier type for the purchase record.</documentation>
				</annotation>
			</element>

        </sequence>
    </complexType>


    <complexType name="PurchasedItemDetailsType">
    	<annotation>
			<documentation>
				The order item details associated with a purchase record.
			</documentation>
		</annotation>
    	<sequence>
    		<element name="TransactionID" type="string" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
					<documentation>The transaction ID generated by channels other than Web.</documentation>
				</annotation>
    		</element>
    		<element name="OrderItemIdentifier"
    			type="_wcf:OrderItemIdentifierType" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
					<documentation>The order item identifier for the item purchased.</documentation>
				</annotation>
    		</element>
    		<element name="Quantity" type="_wcf:QuantityType"
    			maxOccurs="1" minOccurs="1">
    			<annotation>
					<documentation>The quantity of the order item purchased.</documentation>
				</annotation>
    		</element>
    		<element name="ItemBought"
    			type="_wcf:CatalogEntryIdentifierType" maxOccurs="1"
    			minOccurs="1">
    			<annotation>
					<documentation>The catalog entry identifier corresponding to the order item purchased.</documentation>
				</annotation>
    		</element>
    		
    		<element name="ItemShippedToRegistrant" type="boolean" maxOccurs="1" minOccurs="0">
    			<annotation>
					<documentation>Specifies where gifts should be delivered. A value of true indicates that gifts should be shipped directly to the gift registrant, using the address provided during gift registry profile creation.</documentation>
				</annotation>
    		</element>
    		<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
    	</sequence>
    </complexType>




	
  

</schema>
