WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/GSMModemConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:celadon_common="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common">
	
    <complexType name="GSMModemConfiguration">
        <annotation>
        	<documentation>Describes the configuration of an SMS modem. The configuration specifes basic operating parameters such as whether to store and/or delete incoming messages as they are received on the modem.
The configuration also specifies a number of status check parameters, such as how often to check whether the modem is physically operating, how often to check that the user account (the mobile
telephone number being used) is valid, and how often to check the signal strength. Additional parameters define what signal strength redings should be considered high and low (these readings are
in general a very modem-specific value). The modem configuration also specifies a message spacing period, which is the amount of time the modem should "rest" between the transmission of outgoing messages.</documentation>
        </annotation>
        <sequence>
    		<element name="ConfigurationID" type="string"></element>
    		<element name="PostAndDeleteIncomingMessages" type="boolean">
    			<annotation>
    				<documentation>Boolean flag indicating that incoming modem messages are stored by posting them to the SMS data service and then deleting them from the modem -- typical usage is true.
Note that setting this value to true always implies that incoming modem messages are deleted once they are posted, overriding any setting of the DeleteIncomingMessages value.</documentation>
    			</annotation></element>
    		<element name="DeleteIncomingMessages" type="boolean">
    			<annotation>
    				<documentation>Boolean flag indicating that incoming modem messages are to be deleted from the modem, irregardless of whether they are posted to the SMS data service -- typical usage is false (do not delete them).</documentation>
    			</annotation></element>
    		<element name="OperatingStatusCheckPeriodMilliseconds"
    			type="long">
                <annotation>
                	<documentation>Periodicity of modem operating status checks -- a typical setting is 10000 (10 seconds).</documentation>
                </annotation>
    		</element>
    		<element name="AccountStatusCheckPeriodMilliseconds"
    			type="long">
                <annotation>
                	<documentation>Periodicity of modem account status checks. If the modem is found to be operating normally and has a good signal, but messages cannot be transmitted across it,
it is assumed there is a problem with the GSM account be used by the modem. In this mode, the modem operations are suspended, but attempts will be periodically
made to resume operations using this time interval -- generally one or more hours -- a typical setting is 3600000 (1 hour). </documentation>
                </annotation>
    		</element>
    		<element name="SignalStrengthStatusCheckPeriodMilliseconds"
    			type="long">
                <annotation>
                	<documentation>Periodicity of modem signal strength checks -- a typical value is 30000 (30 seconds).</documentation>
                </annotation>
    		</element>
    		<element name="MessageSpacingPeriodMilliseconds"
    			type="long">
                <annotation>
                	<documentation>Period of time to wait between transmissions of outgoing messages on the modem -- a typical setting is 2000 (2 seconds).</documentation>
                </annotation>
    		</element>
    		<element name="LowSignalStrength" type="int">
    			<annotation>
    				<documentation>Absolute signal strength value indicating the weakest expected "normal" signal -- absolute signal strength readings between the high and low signal strength values are considered normal,
absolute signal strength readings above the high value are considered full strength, and absolute signal strength readings below the low value are considered weak -- a typical setting for the low value is 10.</documentation>
    			</annotation></element>
    		<element name="HighSignalStrength" type="int">
    			<annotation>
    				<documentation>Absolute signal strength value indicating the weakest expected "normal" signal -- absolute signal strength readings between the high and low signal strength values are considered normal,
absolute signal strength readings above the high value are considered full strength, and absolute signal strength readings below the low value are considered weak -- a typical setting for the high value is 25.</documentation>
    			</annotation></element>
    	</sequence>
    </complexType>
      
    <xsd:element name="GSMModemConfiguration" type="celadon_common:GSMModemConfiguration"/>
      
</schema>