WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/InventoryReceipt.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2008, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/inventory"
	ecore:nsPrefix="_inv"
	ecore:package="com.ibm.commerce.inventory.facade.datatypes"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_inv="http://www.ibm.com/xmlns/prod/commerce/9/inventory"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation">	     

	<annotation>
		<documentation>
			This file contains all type definitions that make up an inventory receipt noun.
		</documentation>
	</annotation>
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd">
	</import>
	<include schemaLocation="../Components/InventoryCommon.xsd"/>
		
	<element name="InventoryReceiptBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the inventory receipt noun 
				was last changed.  The value is set as the versionID attribute in the 
				corresponding BODs.
			</documentation>
		</annotation>
	</element>
	
	<element name="InventoryReceipt" type="_inv:InventoryReceiptType">
		<annotation>
			<documentation>Element definition of the inventory receipt.</documentation>
		</annotation>
	</element>
	
	<complexType name="InventoryReceiptType">
		<annotation>
			<documentation>Type definition of an inventory receipt noun.</documentation>
		</annotation>
		<sequence>
			<element name="InventoryReceiptIdentifier" maxOccurs="1" minOccurs="0" type="_wcf:InventoryReceiptIdentifierType">
				<annotation>
					<documentation>Inventory receipt identifier.</documentation>
				</annotation>
			</element>	
			<element maxOccurs="1" minOccurs="0" name="VendorName" type="string">
				<annotation>
					<documentation>The vendor name.</documentation>
				</annotation>
			</element>	
			<element maxOccurs="1" minOccurs="0" name="UnitCost" type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The unit cost.</documentation>
				</annotation>
			</element>	
			<element maxOccurs="1" minOccurs="0" name="ReceiptDate" type="dateTime">
				<annotation>
					<documentation>Date the inventory record was received.</documentation>
				</annotation>
			</element>			
			<element name="QuantityReceived" maxOccurs="1" minOccurs="0" type="_wcf:QuantityType">
				<annotation>
					<documentation>The quantity received.</documentation>
				</annotation>
			</element>
			<element name="QuantityInProcess" maxOccurs="1" minOccurs="0" type="_wcf:QuantityType">
				<annotation>
					<documentation>The quantity allocated to customer orders but not yet released to fulfillment.</documentation>
				</annotation>
			</element>
			<element name="QuantityOnHand" maxOccurs="1" minOccurs="0" type="_wcf:QuantityType">
				<annotation>
					<documentation>The current quantity in inventory.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="LastUpdateDate" type="dateTime">
				<annotation>
					<documentation>Time the receipt is last updated.</documentation>
				</annotation>
			</element>
			<element name="ReceiptUsage" maxOccurs="1" minOccurs="0" type="_inv:ReceiptUsageType">
				<annotation>
					<documentation>The receipt type.</documentation>
				</annotation>
			</element>
			<element name="ExpectedInventoryDetailIdentifier" maxOccurs="1" minOccurs="0" type="_inv:ExpectedInventoryDetailIdentifierType">
				<annotation>
					<documentation>The receipt source (RADetail ID).</documentation>
				</annotation>
			</element>
						
			<element maxOccurs="unbounded" minOccurs="0" name="InventoryAdjustment" type="_inv:InventoryAdjustmentType">
				<annotation>
					<documentation>The inventory adjustment.</documentation>
				</annotation>
			</element>	
			<element maxOccurs="1" minOccurs="0" name="Comment1" type="string">
				<annotation>
					<documentation>One of the administrative comment associated with this receipt.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Comment2" type="string">
				<annotation>
					<documentation>The other administrative comment associated with this receipt.</documentation>
				</annotation>
			</element>		
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
	
	<simpleType name="ReceiptUsageEnumerationType">
	    	<annotation>
	        	<documentation>Indicates how this receipt was created. Values include the following options:
							   ADHC = AdHoc receipt, <br />
							   EIR = Expected Inventory Receipt<br />
							   RTN = returned receipt<br />
			</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="ADHC"/>
	            <enumeration value="EIR"/>
	            <enumeration value="RTN"/>
		</restriction>
	</simpleType>
	
	<simpleType name="ReceiptUsageType">
	    	<annotation>
	        	<documentation>Allows extension to the default receipt usage types.
			</documentation>
		</annotation>
		<union memberTypes="_inv:ReceiptUsageEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>
	
	<complexType name="InventoryAdjustmentType">
		<annotation>
			<documentation>Type definition of an inventory adjustment.</documentation>
		</annotation>
		<sequence>	
			<element maxOccurs="1" minOccurs="0" name="code" type="_inv:InventoryAdjustmentCodeType">
				<annotation>
					<documentation>The unique id of inventory adjustment code.</documentation>
				</annotation>
			</element>				
			<element name="Quantity" maxOccurs="1" minOccurs="0" type="_wcf:QuantityType">
				<annotation>
					<documentation>The inventory adjustment quantity.</documentation>
				</annotation>
			</element>
			<element name="AdjustDate" maxOccurs="1" minOccurs="0" type="dateTime">
				<annotation>
					<documentation>The inventory adjustment date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Comments" type="string">
				<annotation>
					<documentation>The comment of an inventory adjustment.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
		
	<complexType name="InventoryAdjustmentCodeType">
		<annotation>
			<documentation>Type definition of an inventory adjustment code.</documentation>
		</annotation>
		<sequence>	
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID of inventory adjustment code.</documentation>
				</annotation>
			</element>		
			<element name="Code" maxOccurs="1" minOccurs="0" type="string">
				<annotation>
					<documentation>The four character inventory adjustment code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType">
				<annotation>
					<documentation>Description of this inventory adjustment code.</documentation>
				</annotation>
			</element>			
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>		
	
</schema>
