WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Kit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
	attributeFormDefault="unqualified" ecore:nsPrefix="_cat"
	ecore:package="com.ibm.commerce.catalog.facade.datatypes"
	elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog">

	<annotation>
		<documentation>
			This catalog XML schema file defines the Kit noun.
		</documentation>
	</annotation>
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
	<include schemaLocation="../Components/CatalogCommon.xsd" />
	<include schemaLocation="CatalogEntry.xsd" />

	
	
	<element name="Kit" type="_cat:KitType" substitutionGroup="_cat:CatalogEntry" >
		<annotation>
			<documentation>
			A kit or bundle.
			</documentation>
		</annotation>
	</element>
	<complexType name="KitType" >
		<complexContent>
			<restriction base="_cat:CatalogEntryType">			    
				<sequence>
					<element name="CatalogEntryIdentifier" type="_wcf:CatalogEntryIdentifierType" minOccurs="0" >
						<annotation>
						<documentation>
							Identifier for catalog entry.
						</documentation>
						</annotation>
					</element>
					<element ref="_cat:Description" minOccurs="0" maxOccurs="unbounded">
						<annotation>
						<documentation>
							Description for kit entry.
						</documentation>
						</annotation>
					</element>
					<element ref="_cat:CatalogEntryAttributes" minOccurs="0" >				
						<annotation>
						<documentation>
						Product specific attributes for this catalog entry.
						</documentation>
						</annotation>
					</element>
					<element name="ListPrice" type="_wcf:UnitPriceType" minOccurs="0">
						<annotation>
						<documentation>
						List price associated with the catalog entry.
						</documentation>
						</annotation>
					</element>
					<element ref="_cat:Price" minOccurs="0">
						<annotation>
						<documentation>
						Price associated with the kit.
						</documentation>
						</annotation>
					</element>
					<element name="ParentCatalogGroupIdentifier" type="_wcf:CatalogGroupIdentifierType" minOccurs="0">
						<annotation>
						<documentation>
						An identifier for the parent node.
						</documentation>
						</annotation>
					</element>
					<element ref="_cat:Association" minOccurs="0" maxOccurs="unbounded">
						<annotation>
						<documentation>
						Association to other objects. This is mainly used for merchandizing associations
						</documentation>
						</annotation>
					</element>			
					<element name="KitComponent" type="_cat:KitComponentType" minOccurs="0" maxOccurs="unbounded" >
					  	<annotation>
						<documentation>
						Component of the kit
						</documentation>
						</annotation>
					</element>			
				</sequence>
				<attribute name="catalogEntryTypeCode" type="_cat:KitTypeCodeEnumeration">
					<annotation>
					<documentation>Kit type code.</documentation>
					</annotation>
				</attribute>
				<attribute name="navigationPath" type="string" use="optional">
					<annotation>
					<documentation>
					The navigation path to current node from the root. The top level node would have a path of "/".
					</documentation>				
					</annotation>
				</attribute>
				<attribute name="displaySequence" type="double" use="optional">
					<annotation>
					<documentation>Use for display sequence.</documentation>
					</annotation>
				</attribute>			
			</restriction>
		</complexContent>		
	</complexType>
		
</schema>
