WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Layout.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2012, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/pagelayout"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_pgl="http://www.ibm.com/xmlns/prod/commerce/9/pagelayout"
	ecore:nsPrefix="_pgl"
	ecore:package="com.ibm.commerce.pagelayout.facade.datatypes">
	
    <import schemaLocation="../Components/BaseTypes.xsd" namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"/>
    <include schemaLocation="../Components/PageLayoutCommon.xsd"/>
    <import schemaLocation="../Components/IdentifierTypes.xsd" namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"/>

    <element name="Layout" type="_pgl:LayoutType">
		<annotation>
			<documentation>
				The Layout noun that represents a Page Layout. This noun is
				used for authoring purposes only.
			</documentation>
		</annotation>
    </element>

    <complexType name="LayoutType">
    	<annotation>
    		<documentation>
    			Data type for defining a Layout noun which represents a
    			Page Layout.
    		</documentation>
    	</annotation>

    	<sequence>
    		<element name="LayoutIdentifier"
    			type="_wcf:LayoutIdentifierType" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					The identifier of the page layout.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="TemplateIdentifier"
    			type="_wcf:LayoutIdentifierType" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					The identifier of the template, based on which
    					the page layout is created.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="AdminDescription" type="string" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
    				<documentation>
    					The description of the page layout.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="Schedule" type="_pgl:LayoutScheduleType"
    			maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					The schedule for the page layout.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="Widget" type="_pgl:AuthoringWidgetType"
    			maxOccurs="unbounded" minOccurs="0">
    			<annotation>
    				<documentation>
    					The list of widgets in the page layout.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="PageLocation" type="_pgl:PageLocationType"
    			maxOccurs="unbounded" minOccurs="0">
    			<annotation>
    				<documentation>
    					The list of page locations of the page layout.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="LayoutProperty"
    			type="_pgl:LayoutPropertyType" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="StaticLocation" type="_pgl:LayoutStaticLocationType" maxOccurs="1" minOccurs="0"></element>
    		<element name="UserData" type="_wcf:UserDataType"
    			maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					Name-Value pair elements for customization.
    				</documentation>
    			</annotation>
    		</element>

    	</sequence>

    	<attribute name="template" type="boolean">
    		<annotation>
    			<documentation>
    				Flag that indicates whether the noun represents a
    				page layout or a page layout template.
    			</documentation>
    		</annotation>
    	</attribute>

    	<attribute name="default" type="boolean">
    		<annotation>
    			<documentation>
    				Flag that indicates whether the noun represents a
    				default page layout for the layoutType and
    				deviceType that is specified.
    			</documentation>
    		</annotation>
    	</attribute>

    	<attribute name="layoutGroup" type="string">
    		<annotation>
    			<documentation>
    				The layout group(a.k.a layout type) that the page
    				layout belongs to, e.g. 'Category' for category page
    				layout, 'CatalogEntry' for catalog entry page
    				layout, 'Content' for page layouts for content pages
    				like About Us, Privacy, etc
    			</documentation>
    		</annotation>
    	</attribute>

    	<attribute name="deviceClass" type="string">
    		<annotation>
    			<documentation>
    				The device class that the page layout belongs to.
    				e.g. 'Mobile'.
    			</documentation>
    		</annotation>
    	</attribute>

    	<attribute name="state" type="string">
    		<annotation>
    			<documentation>
    				The state of the page layout. e.g. 'Active',
    				'InActive', 'MarkForDelete'.
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="managingTool" type="string" use="optional">
    		<annotation>
    			<documentation>The tool managing the layout.</documentation>
    		</annotation></attribute>
    </complexType>

    <complexType name="AuthoringWidgetType">
    	<annotation>
    		<documentation>Data type for defining an authoring widget.</documentation>
    	</annotation>
    	<complexContent>
    		<extension base="_pgl:WidgetType">
    			<sequence>
    				<element name="ParentWidget" type="_wcf:WidgetIdentifierType" maxOccurs="1" minOccurs="0">
    					<annotation>
    						<documentation>
    							The parent widget identifier for this
    							widget. The root widget does not have a
    							parent widget.
    						</documentation>
    					</annotation>
    				</element>

    				<element name="ChildSlot" type="_pgl:LayoutSlotType" maxOccurs="unbounded" minOccurs="0">
    					<annotation>
    						<documentation>
    							The configurable child slots created by
    							the widget.
    						</documentation>
    					</annotation>
    				</element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

	<complexType name="PageLocationType">
		<annotation>
			<documentation>
				Data type for defining a page location.
			</documentation>
		</annotation>

		<sequence>
			<element name="PageLocationID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The page location id.</documentation>
				</annotation>
			</element>

            <element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>The identifier of the store that this page location is specific to.</documentation>
            	</annotation>
            </element>
            
            <element name="ActivityID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The activity id corresponding to the page
						location.
					</documentation>
				</annotation>
			</element>

			<element name="Page" type="_pgl:PageLocationPageType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>A store page.</documentation>
				</annotation>
			</element>

			<element name="Keyword" type="string" maxOccurs="1"	minOccurs="0">
				<annotation>
					<documentation>A search keyword.</documentation>
				</annotation>
			</element>


			<element name="Schedule" type="_pgl:LayoutScheduleType"	maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The schedule of the page location.
					</documentation>
				</annotation>
			</element>

			<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Name-Value pair elements for customization.
					</documentation>
				</annotation>
			</element>

		</sequence>

		<attribute name="groupNumber" type="short">
			<annotation>
				<documentation>The page location group number. Page locations are displayed by group numbers in CMC.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="PageLocationPageType">
    	<annotation>
    		<documentation>Data type to define a store page location.</documentation>
    	</annotation>
    	
    	<sequence>
    		<element name="PageIdentifier" type="_wcf:PageIdentifierType" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					The identifier of the store page.
    				</documentation>
    			</annotation>
    		</element>

            <element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					Name-Value pair elements for customization.
    				</documentation>
    			</annotation>
    		</element>
    	</sequence>

    	<attribute name="pageGroup" type="string">
        	<annotation>
        		<documentation>The page group(a.k.a page type) that the store page belongs to, e.g. 'Category' for category pages, 'CatalogEntry' for catalog entry pages, 
        		'Content' for content pages like About Us, Privacy, etc</documentation>
        	</annotation>
        </attribute>
    	
    	<attribute name="applyToSubPage" type="string">
    		<annotation>
    			<documentation>The presence of this atribute indicates that the page location applies to the sub-page locations instead of the page indicated by the page identifier.
    			The value of this attribute indicates the sub-page locations that it applies to. For example, 'CatalogEntry' indicates that the page location applies to all the 
    			sub-catalog entry pages.</documentation>
    		</annotation>
    	</attribute>

    	<attribute name="propagateToSubLevels" type="boolean">
    		<annotation>
    			<documentation>Flag that indicates whether the page location propagates to sub-levels. 
    			It is typically used for 1)Category page locations and 2)all child catalog entry page locations under a Category.</documentation>
    		</annotation>
    	</attribute>
    </complexType>

	<complexType name="LayoutScheduleType">
        <annotation>
        	<documentation>Represents a page layout schedule.</documentation>
        </annotation>
        
        <sequence>
        	<element name="Priority" type="integer" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The priority of the schedule.
        			</documentation>
        		</annotation>
        	</element>
        	
        	<element name="StartDate" type="dateTime" maxOccurs="1" minOccurs="0" nillable="true">
        		<annotation>
        			<documentation>
        				The start date for the schedule.
        			</documentation>
        		</annotation>
        	</element>
        	
        	<element name="EndDate" type="dateTime" maxOccurs="1" minOccurs="0" nillable="true">
        		<annotation>
        			<documentation>
        				The end date for the schedule.
        			</documentation>
        		</annotation>
        	</element>
        	
        	<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>Name-Value pair elements for customization.</documentation>
        		</annotation>
        	</element>
        </sequence>
	</complexType>
		
    <element name="LayoutBODVersion" type="string" fixed="7.0.0.7">
    	<annotation>
    		<documentation>The version of WebSphere Commerce when the Layout noun was last changed. The value is set as the versionID attribute in the corresponding BODs.</documentation>
    	</annotation>
    </element>

    <complexType name="LayoutPropertyType">
        <annotation>
        	<documentation>Data type representing the properties of a layout.</documentation>
        </annotation>
        <sequence>
    		<element name="LayoutPropertyID" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The unique ID for the property.</documentation>
    			</annotation></element>
    		<element name="Name" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>Name of the property.</documentation>
    			</annotation></element>
    		<element name="Value" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>Value of the property.</documentation>
    			</annotation></element>
    		<element name="Properties" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>Any additional properties defined for this property. </documentation>
    			</annotation></element>
    		<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>User data associated with the property.</documentation>
    			</annotation></element>
    	</sequence>
    	<attribute name="sequenceOrder" type="double" use="optional">
    		<annotation>
    			<documentation>Sequence of the property</documentation>
    		</annotation></attribute>
    </complexType>

    <complexType name="LayoutStaticLocationType">
    	<annotation>
    		<documentation>
    			This data type represents a static location associated
    			with the layout. The static location is used to
    			associated a layout with a user. 
    		</documentation>
    	</annotation>
    	<sequence>
    		<element name="LayoutStaticLocationID" type="string"
    			maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					The unique ID of the static location.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="Name" type="string" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
    				<documentation>
    					The name associated with the location.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="OwnerID" type="string" maxOccurs="1"
    			minOccurs="0">
    			<annotation>
    				<documentation>
    					The unique ID of the user owning the location.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="UserData" type="_wcf:UserDataType"
    			maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					User data associated with the property.
    				</documentation>
    			</annotation>
    		</element>

    	</sequence>
    	<attribute name="sequenceOrder" type="double" use="optional">
    		<annotation>
    			<documentation>
    				The sequence of the layout with respect to other
    				layouts owned by the user
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="default" type="boolean" use="optional">
    		<annotation>
    			<documentation>
    				Indicates if the current layout is the default for the user.
    			</documentation>
    		</annotation>
    	</attribute>
    </complexType>
</schema>