WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/ManagedFile.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<annotation>
		<documentation>
			This Managed File XML schema file defines the Managed File noun.
		</documentation>
	</annotation>
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
	<include schemaLocation="../Nouns/ManagedDirectory.xsd" />
	
	<element name="ManagedFileBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>	
		
	<element name="ManagedFile" type="_cnt:ManagedFileType">
		<annotation>
			<documentation>
				A Managed File is a content managed file with its content and information about the file itself. 
			</documentation>
		</annotation>
	</element>	
	<complexType name="ManagedFileType">
		<annotation>
			<documentation>
				The type definition of a Managed File
			</documentation>
		</annotation>
		<sequence>
			<element name="ManagedFileIdentifier" type="_wcf:ManagedFileIdentifierType" minOccurs="1">
				<annotation>
					<documentation>
						Identifier for the Managed File.
					</documentation>
				</annotation>
			</element>
			<element name="ManagedDirectoryIdentifier" type="_wcf:ManagedDirectoryIdentifierType" minOccurs="0">
				<annotation>
					<documentation>
						Identifier for the Managed Directory.
					</documentation>
				</annotation>
			</element>
			<element name="FileSize" type="string" minOccurs="0">
				<annotation>
				<documentation>The size of the managed file.</documentation>
				</annotation>
			</element>
			
			<!-- simple name value pair for extension -->
			<element ref="_wcf:UserData" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="associated" type="int" default="0">
			<annotation>
				<documentation>
					Indicator to describe if the ManagedFile is associated with an AttachmentAsset.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

</schema>
