WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/MarketingSpotData.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog" 
	xmlns:_mkt="http://www.ibm.com/xmlns/prod/commerce/9/marketing" 
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation" 
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" 
	attributeFormDefault="unqualified" 
	ecore:nsPrefix="_mkt" 
	ecore:package="com.ibm.commerce.marketing.facade.datatypes" 
	elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/marketing">
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
	<include schemaLocation="../Components/MarketingCommon.xsd"/>
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog" schemaLocation="CatalogGroup.xsd"/>
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog" schemaLocation="CatalogEntry.xsd" />

	<annotation>
		<documentation>This Marketing XML schema file defines the MarketingSpotData noun.</documentation>
	</annotation>
	
	<include schemaLocation="MarketingContent.xsd"></include>

	<element name="MarketingSpotDataBODVersion" type="string" fixed="7.0.0.8">
      <annotation>
        <documentation>
          The version of WebSphere Commerce when the noun was last changed.  
          The value is set as the versionID attribute in the corresponding BODs.
        </documentation>
      </annotation>
    </element>
    
	<complexType name="MarketingSpotDataType">
        <annotation>
        	<documentation>The data to display in the e-marketing spot.</documentation>
        </annotation>
        <sequence>
        	<element name="MarketingSpotIdentifier"
        		type="_wcf:MarketingSpotIdentifierType" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The unique identifier of the e-Marketing Spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element maxOccurs="unbounded" minOccurs="0"
        		ref="_mkt:BaseMarketingSpotActivityData">
        		<annotation>
        			<documentation>
        				The data to display in the e-marketing spot.
        				This contains information about the activity
        				that returned this data, and the data.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="PreviewReport" type="string"
        		maxOccurs="unbounded" minOccurs="0">
        		<annotation>
        			<documentation>
        				Information about the activity evaluation.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="FilteredResult"
        		type="_mkt:FilteredResultType" minOccurs="0"
        		maxOccurs="unbounded">
        		<annotation>
        			<documentation>
        				(Optional) Result that was filtered from display
        				in the e-Marketing Spot.
        			</documentation>
        		</annotation>
        	</element>
       	<element name="MarketingSpotDataTitle" type="_mkt:MarketingSpotActivityMarketingContentDataType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The marketing title to display in the e-Marketing Spot.
					</documentation>
				</annotation>				
			</element>
        	<element name="Behavior" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The current caching behavior of the e-marketing spot.
        			</documentation>
        		</annotation>
        	</element>		
        	<element name="NextTimeLimit" type="integer"
        		minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The number of seconds from now to the earliest start date or end date of activities scheduled to the e-Marketing Spot.
        			</documentation>
        		</annotation>
        	</element>     
        	<element name="DefaultContentDisplaySequence"
        		type="_mkt:DefaultContentDisplaySequenceType" minOccurs="0"
        		maxOccurs="unbounded">
        		<annotation>
        			<documentation>
        				The sequence values of the default content to display in the e-Marketing Spot.
        			</documentation>
        		</annotation>
        	</element>
        	
        	<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
        		<annotation>
        			<documentation>User Data.</documentation>
        		</annotation>
        	</element>
         	
        	
        	
        </sequence>
	</complexType>

	<element name="MarketingSpotData" type="_mkt:MarketingSpotDataType">
		<annotation>
			<documentation>The data to display in the e-marketing spot.</documentation>
		</annotation>
	</element>

	<complexType name="BaseMarketingSpotActivityDataType">
        <annotation>
        	<documentation>This is the data to be displayed in the e-Marketing spot.  It can be a category (CatalogGroup), a product (CatalogEntry), content (MarketingContent), or a custom type.</documentation>
        </annotation>
        <sequence>
        	<element name="Name" type="string">
        		<annotation>
        			<documentation>The name of the data.</documentation>
        		</annotation>
        	</element>
        	<element name="DataType"
        		type="_mkt:MarketingSpotActivityDataFormatType">
        		<annotation>
        			<documentation>
        				The type of the data to display in the
        				e-Marketing Spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="UniqueID" type="string">
        		<annotation>
        			<documentation>
        				A unique identifier for the data.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ActivityIdentifier"
        		type="_wcf:ActivityIdentifierType" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The unique identifier of the activity that
        				returned the data to be displayed in the
        				e-marketing spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="CampaignName" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				The name of the campaign that returned the data
        				to be displayed in the e-marketing spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ActivityFormat"
        		type="_mkt:ActivityFormatType" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The type of the activity that returned the data
        				to be displayed in the e-marketing spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ActivityPriority" type="integer"
        		minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The priority of the activity that returned the
        				data to be displayed in the e-marketing spot.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ExperimentResult"
        		type="_mkt:ExperimentResultType" minOccurs="0"
        		maxOccurs="unbounded">
        		<annotation>
        			<documentation>
        				The list of experiments that resulted in the
        				display of this data in the eMarketing Spot.
        			</documentation>
        		</annotation>
        	</element>		

        	<element name="Properties" type="_wcf:NameValuePairType" maxOccurs="unbounded" minOccurs="0">
        		<annotation>
        			<documentation>Optional properties associated with the content to display.</documentation>
        		</annotation>        	
        	</element>
            <element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>User Data.</documentation>
        		</annotation>
        	</element>
        </sequence>
	</complexType>

	<complexType name="MarketingSpotActivityCatalogGroupDataType">
        <annotation>
        	<documentation>The catalog group to display in the e-Marketing Spot.</documentation>
        </annotation>
        <complexContent>
			<extension
				base="_mkt:BaseMarketingSpotActivityDataType">
				<sequence>
					<element ref="_cat:CatalogGroup"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="MarketingSpotActivityCatalogEntryDataType">
        <annotation>
        	<documentation>The catalog entry to display in the e-Marketing Spot.</documentation>
        </annotation>
        <complexContent>
			<extension
				base="_mkt:BaseMarketingSpotActivityDataType">
				<sequence>
					<element ref="_cat:CatalogEntry"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="MarketingSpotActivityMarketingContentDataType">
        <annotation>
        	<documentation>The marketing content to display in the e-Marketing Spot.</documentation>
        </annotation>
        <complexContent>
			<extension
				base="_mkt:BaseMarketingSpotActivityDataType">
				<sequence>
					<element ref="_mkt:MarketingContent"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="BaseMarketingSpotActivityData" type="_mkt:BaseMarketingSpotActivityDataType">
		<annotation>
			<documentation>This is the data to be displayed in the e-Marketing spot.  It can be a category (CatalogGroup), a product (CatalogEntry), content (MarketingContent), or a custom type.</documentation>
		</annotation>
	</element>

	<complexType name="ExperimentResultType">
		<annotation>
			<documentation>The result of the experimental marketing activity.</documentation>
		</annotation>
		<sequence>
			<element name="TestElement" type="_mkt:CampaignElementIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The test element that resulted in the display of the data in the eMarketing Spot.</documentation>
				</annotation>
			</element>
			<element name="Experiment"
				type="_mkt:CampaignElementIdentifierType" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The experiment that resulted in the display of the data in the eMarketing Spot.</documentation>
                </annotation>
			</element>
			<element name="ControlElement" type="boolean" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						Is the test element a control element.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="MarketingSpotActivityMarketingContentData" type="_mkt:MarketingSpotActivityMarketingContentDataType"
		substitutionGroup="_mkt:BaseMarketingSpotActivityData">
		<annotation>
			<documentation>
				The marketing content to display in the e-Marketing Spot.
			</documentation>
		</annotation>
	</element>
	<element name="MarketingSpotActivityCatalogEntryData" type="_mkt:MarketingSpotActivityCatalogEntryDataType"
		substitutionGroup="_mkt:BaseMarketingSpotActivityData">
		<annotation>
			<documentation>
				The catalog entry to display in the e-Marketing Spot.
			</documentation>
		</annotation>
	</element>
		<element name="MarketingSpotActivityCatalogGroupData" type="_mkt:MarketingSpotActivityCatalogGroupDataType"
		substitutionGroup="_mkt:BaseMarketingSpotActivityData">
		<annotation>
			<documentation>
				The catalog group to display in the e-Marketing Spot.
			</documentation>
		</annotation>
	</element>
	
		<complexType name="FilteredResultType">
        		<annotation>
        			<documentation>
						The result returned from the marketing engine to display in the e-Marketing Spot.
						However the result has been filtered out from being displayed.
        			</documentation>    
        		</annotation>  	
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The unique identifier of the result.
        			</documentation>    
        		</annotation>  			
			</element>
 			<element name="Format" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The type of the result. Valid values include MarketingContent, CatalogGroup, CatalogEntry. 
        			</documentation>    
        		</annotation>  			
			</element>
		</sequence>
	</complexType>
	
	<complexType name="DefaultContentDisplaySequenceType">
     	<annotation>
     		<documentation>
					The sequence values of the default content to display in the e-Marketing Spot.
     		</documentation>    
       	</annotation>  	
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The unique identifier of the result.
        			</documentation>    
        		</annotation>  			
			</element>
 			<element name="Format" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The type of the result. Valid values include MarketingContent, CatalogGroup, CatalogEntry. 
        			</documentation>    
        		</annotation>  			
			</element>
 			<element name="DisplaySequence" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The sequence value of the default content. 
        			</documentation>    
        		</annotation>  			
			</element>			
		</sequence>
	</complexType>	
	
	
</schema>
