WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/MarketingEmailTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:_mkt="http://www.ibm.com/xmlns/prod/commerce/9/marketing" xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" attributeFormDefault="unqualified" ecore:nsPrefix="_mkt" ecore:package="com.ibm.commerce.marketing.facade.datatypes" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/marketing">
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
	<include schemaLocation="../Components/MarketingCommon.xsd"/>

	<annotation>
		<documentation>This Marketing XML schema file defines the MarketingEmailTemplate noun.</documentation>
	</annotation>
	
	<element name="MarketingEmailTemplateBODVersion" type="string" fixed="7.0.0.0">
      <annotation>
        <documentation>
          The version of WebSphere Commerce when the noun was last changed.  
          The value is set as the versionID attribute in the corresponding BODs.
        </documentation>
      </annotation>
    </element>
    	
	<complexType name="MarketingEmailTemplateType">
        <annotation>
        	<documentation>A marketing e-mail template defines the subject and content of the e-mail. The templates are capable of providing robust, dynamic, and personalized e-mail messages. </documentation>
        </annotation>
        <sequence>
			<element name="MarketingEmailTemplateIdentifier" type="_wcf:MarketingEmailTemplateIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique identifier of the marketing e-mail template.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="JspPath" type="string">
				<annotation>
					<documentation>The absolute URL used to find e-mail message content.</documentation>
				</annotation>
			</element>
			<element name="PropertyFile" type="string" minOccurs="0" maxOccurs="1"/>
			<element maxOccurs="1" minOccurs="0" name="Description" type="string">
				<annotation>
					<documentation>The description of the marketing e-mail template.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Status" type="_mkt:MarketingEmailTemplateStatusType">
				<annotation>
					<documentation>The status of the marketing e-mail template.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="BodyType" type="_mkt:MarketingEmailTemplateBodyType">
				<annotation>
					<documentation>The type of the e-mail message body.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="MarketingEmailContent" type="_mkt:MarketingEmailContentType">
				<annotation>
					<documentation>The subject and content of the e-mail.</documentation>
				</annotation>
			</element>
            <element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>			
		</sequence>
	</complexType>

	<element name="MarketingEmailTemplate" type="_mkt:MarketingEmailTemplateType">
		<annotation>
			<documentation>A marketing e-mail template defines the subject and content of the e-mail. The templates are capable of providing robust, dynamic, and personalized e-mail messages. </documentation>
		</annotation>
	</element>


	<simpleType name="MarketingEmailTemplateStatusEnumerationType">
        <annotation>
        	<documentation>The current state of the marketing e-mail template. Possible values include: Deleted, Active</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="Active"/>
			<enumeration value="Deleted"/>
		</restriction>
	</simpleType>

	<simpleType name="MarketingEmailTemplateStatusType">
      <annotation>
          <documentation>Allows extension to the default marketing e-mail template status types.
			</documentation>
  		</annotation>
  		<union memberTypes="_mkt:MarketingEmailTemplateStatusEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
 	
	<simpleType name="MarketingEmailTemplateBodyEnumerationType">
        <annotation>
        	<documentation>The type of the e-mail body. Possible values include: HTML, Plain text.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="HTML"/>
			<enumeration value="PlainText"/>
		</restriction>
	</simpleType>

	<simpleType name="MarketingEmailTemplateBodyType">
      <annotation>
          <documentation>Allows extension to the default marketing e-mail template body types.
			</documentation>
  		</annotation>
  		<union memberTypes="_mkt:MarketingEmailTemplateBodyEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
 	
	<complexType name="MarketingEmailContentType">
        <annotation>
        	<documentation>The subject and content of the e-mail.</documentation>
        </annotation>
        <sequence>
			<element maxOccurs="1" minOccurs="0" name="LastModification" type="dateTime">
                <annotation>
                	<documentation>The date on which the last modification was performed to the marketing e-mail template.</documentation>
                </annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="RecordEmailOpenRate" type="positiveInteger">
                <annotation>
                	<documentation>Indicates whether the open rate is recorded when the e-mail content is used. Specify 1 to record the e-mail open rate, and specify 0 to not record the e-mail open rate.</documentation>
                </annotation>
			</element>
			<element name="Subject" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The subject of the e-mail message.</documentation>
				</annotation>
			</element>
			<element name="Body" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The body of the e-mail message.</documentation>
				</annotation>
			</element>
            <element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>			
		</sequence>
	</complexType>

</schema>
