WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/MarketingSpot.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:_mkt="http://www.ibm.com/xmlns/prod/commerce/9/marketing" 
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation" 
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" 
	attributeFormDefault="unqualified" 
	ecore:nsPrefix="_mkt" 
	ecore:package="com.ibm.commerce.marketing.facade.datatypes" 
	elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/marketing">
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
	<include schemaLocation="../Components/MarketingCommon.xsd"/>
	
	<annotation>
		<documentation>This Marketing XML schema file defines the MarketingSpot noun.</documentation>
	</annotation>

	<element name="MarketingSpotBODVersion" type="string" fixed="7.0.0.7">
      <annotation>
        <documentation>
          The version of WebSphere Commerce when the noun was last changed.  
          The value is set as the versionID attribute in the corresponding BODs.
        </documentation>
      </annotation>
    </element>
    
	<element name="MarketingSpot" type="_mkt:MarketingSpotType">
        <annotation>
        	<documentation>An e-Marketing Spot reserves space on your store pages in which personalized marketing content displays.</documentation>
        </annotation>
	</element>

	<simpleType name="MarketingSpotUsageEnumerationType">
        <annotation>
        	<documentation>The supported types of e-marketing spots.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="Marketing" />
			<enumeration value="Content" />
		</restriction>
	</simpleType>
	
	<simpleType name="MarketingSpotUsageType">
      <annotation>
          <documentation>Allows extension to the default marketing spot usage types.
			</documentation>
  		</annotation>
  		<union memberTypes="_mkt:MarketingSpotUsageEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>	
 	
	<complexType name="MarketingSpotType">
		<annotation>
			<documentation>
				An e-Marketing Spot reserves space on your store pages
				in which personalized marketing content displays.
			</documentation>
		</annotation>
		<sequence>
			<element name="MarketingSpotIdentifier"
				type="_wcf:MarketingSpotIdentifierType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The unique identifier of the e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="Usage" type="_mkt:MarketingSpotUsageType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The usage type of the e-marketing spot.
					</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The description of the e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="LastUpdate" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The timestamp of the last update to the
						e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="LastUpdatedBy" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The logon ID of the last user to update the
						e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="SupportedType"
				type="_mkt:MarketingSpotActivityDataFormatType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The types of data that can be displayed in this
						e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="MarketingSpotPage"
				type="_mkt:MarketingSpotPageType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The store page on which this e-Marketing Spot is
						located.
					</documentation>
				</annotation>
			</element>
			<element name="MarketingSpotOrder"
				type="_mkt:MarketingSpotOrderType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The method in which to order the results that
						are displayed in the e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="ActivityIdentifier"
				type="_wcf:ActivityIdentifierType" minOccurs="0"
				maxOccurs="unbounded">
			</element>
			<element name="SupportsMarketingContent" type="integer"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies if marketing content can
						be displayed in this e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="SupportsCatalogGroup" type="integer"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies if categories can be
						displayed in this e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="SupportsCatalogEntry" type="integer"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies if catalog entries can be
						displayed in this e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="SupportsWidget" type="integer" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies if this e-Marketing Spot
						has a widget that can be embedded on a remote
						site.
					</documentation>
				</annotation>
			</element>
			<element name="DefaultContent"
				type="_mkt:DefaultContentType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The default marketing content to display in this
						e-Marketing Spot when no data is returned from
						the web activities scheduled on the e-Marketing
						Spot.
					</documentation>
				</annotation>
			</element>
			<element name="DefaultMarketingSpotTitle" type="_mkt:DefaultMarketingSpotTitleType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The default marketing title to display in this e-Marketing Spot when no data is returned from
						the web activities scheduled on the e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element name="UIDisplayable" type="integer" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies if this e-Marketing Spot
						should be displayed in the administration UI.
					</documentation>
				</annotation>
			</element>
			<element name="ManagingTool" type="integer" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies the tool that manages this e-Marketing Spot.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>


	<complexType name="DefaultContentType">
        	<annotation>
        		<documentation>
				The default marketing content to display in an e-Marketing Spot when no data is returned from
				the web activities scheduled on the e-Marketing Spot.
        		</documentation>    
        	</annotation>  	
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The unique identifier of the default content.
					</documentation>    
				</annotation>  			
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
        			<annotation>
					<documentation>
						The unique identifier of the store which is associated with the default content. 
					</documentation>    
        			</annotation>              
			</element>
			<element name="ContentUniqueID" type="string" maxOccurs="1" minOccurs="0">
        			<annotation>
					<documentation>
						The unique identifier of the content to display.
					</documentation>    
				</annotation>              
			</element>
			<element name="Format" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The type of the content to display. Valid values in MarketingContent, CatalogGroup, CatalogEntry. 
					</documentation>    
				</annotation>  			
			</element>
			<element name="displaySequence" type="double" maxOccurs="1" minOccurs="0">
        			<annotation>
        				<documentation>
        					The sequence type of the content to display.
        				</documentation>
        			</annotation>
			</element>
        	</sequence>
	</complexType>
	
	
	<complexType name="DefaultMarketingSpotTitleType">
        		<annotation>
        			<documentation>
						The default title to display in an e-Marketing Spot when there is no specific title
						returned from the web activities scheduled on the e-Marketing Spot.
        			</documentation>    
        		</annotation>  	
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The unique identifier of the marketing spot title.
        			</documentation>    
        		</annotation>  			
			</element>
            <element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The unique identifier of the store which is associated with the marketing spot title. 
        			</documentation>    
        		</annotation>              
            </element>
            <element name="ContentUniqueID" type="string" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The unique identifier of the content to display.
        			</documentation>    
        		</annotation>              
            </element>
            <element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>						
		</sequence>
		<attribute name="displaySequence" type="double"
			use="optional">
			<annotation>
				<documentation>The sequence of this particular title when displaying in the store front.</documentation>
			</annotation>
		</attribute>		
	</complexType>
	
	
	
</schema>
