WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/MemberGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2016 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_mbr="http://www.ibm.com/xmlns/prod/commerce/9/member"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/member"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified" 
	ecore:nsPrefix="_mbr"
	ecore:package="com.ibm.commerce.member.facade.datatypes">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />

	<annotation>
		<documentation>
			This file defines types related to a member group. A member group is a group of persons 
			and/or organizations.  A member group can be used for different purposes.  The purpose
			is specified using the usage.
		</documentation>
	</annotation>
		
	<simpleType name="MemberGroupUsageEnumerationType">
		<annotation>
			<documentation>The default member group usage types: 
				GeneralPurpose: 	A general grouping of persons and/or organizations.
				AccessControl: 		A group of persons specified as part of an access control policy. 
				CustomerTerritory: 	A group of customers, typically by territory.
				CustomerServiceRepresentative: 	A group of customer service representatives, which in turn can have customer territory groups or customer accounts assigned to them. 
				RegisteredCustomer: 			A group of buyer organizations that have registered to a seller organization.
				CustomerPrice: 					A group of customers that are entitled to get a contract's terms and conditions; often used to enforce custom pricing for the group. Customer price groups can comprise any user, who can be included and excluded explicitly.
				CustomerSegment: 				A group of persons based on common attributes, for example demographics or purchase history. This group is used in marketing campaigns.
				RFQResponseApproval: 			An organization that wants RFQ response approvals owns a member group of this usage. The group contains persons that are able to approve RFQ responses.
				DisableInheritedRFQResponseApproval: 			An organization that does not want RFQ response approvals owns a member group of this usage.
				OrderProcessApproval: 							An organization that wants order approvals owns a member group of this usage. The group contains persons that are able to approve orders. 
				DisableInheritedOrderProcessApproval: 			An organization that does not want order approvals owns a member group of this usage.
				ContractSubmitApproval: 						An organization that wants contract approvals owns a member group of this usage. The group contains persons that are able to approve contracts. 
				DisableInheritedContractSubmitApproval: 		An organization that does not want contract approvals owns a member group of this usage.
				UserRegistrationApproval: 						An organization that wants user registration approvals owns a member group of this usage. The group contains persons that are able to approve user registration requests. 
				DisableInheritedUserRegistrationApproval: 		An organization that does not want user registration approvals owns a member group of this usage.
				ResellerRegistrationApproval: 					An organization that wants reseller registration approvals owns a member group of this usage. The group contains persons that are able to approve reseller registration requests. 
				DisableInheritedResellerRegistrationApproval: 	An organization that does not want reseller registration approvals owns a member group of this usage.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="GeneralPurpose"/>
				<enumeration value="AccessControl"/>
				<enumeration value="PriceOverride"/>
				<enumeration value="CustomerTerritory"/>
				<enumeration value="CustomerServiceRepresentative"/>
				<enumeration value="RegisteredCustomer"/>
				<enumeration value="CustomerPrice"/>
				<enumeration value="CustomerSegment"/>
				<enumeration value="RFQResponseApproval"/>
				<enumeration value="DisableInheritedRFQResponseApproval"/>
				<enumeration value="OrderProcessApproval"/>
				<enumeration value="DisableInheritedOrderProcessApproval"/>
				<enumeration value="ContractSubmitApproval"/>
				<enumeration value="DisableInheritedContractSubmitApproval"/>
				<enumeration value="UserRegistrationApproval"/>
				<enumeration value="DisableInheritedUserRegistrationApproval"/>
				<enumeration value="ResellerRegistrationApproval"/>
				<enumeration value="DisableInheritedResellerRegistrationApproval"/>
		</restriction>
	</simpleType>
	
	<simpleType name="MemberGroupUsageType">
	    <annotation>
	        	<documentation>Allows the use of any of the default member group usage values
	        	as well as any custom values.
	        	</documentation>
		</annotation>
		<union memberTypes="_mbr:MemberGroupUsageEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>
	
	<element name="MemberGroupBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	
	<complexType name="MemberGroupType">
		<annotation>
	        	<documentation>
	        		The type definition of a member group. It can include persons or organizations.
			</documentation>
		</annotation>
		<sequence>
			<element name="MemberGroupIdentifier" type="_wcf:MemberGroupIdentifierType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The member group identifier.</documentation>
				</annotation>
			</element>
			<element name="Usage" type="_mbr:MemberGroupUsageType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>The usage of the member group, for example: AccessControl, GeneralPurpose, etc.
					</documentation>
				</annotation>
			</element>
			<element name="ConditionElement" type="_mbr:MemberGroupConditionElementType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>The condition elements associated with the member group.
					</documentation>
				</annotation>
			</element>
			<element name="IncludedPerson" type="_wcf:PersonIdentifierType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>The identifier of a person that is a member of this member group.</documentation>
				</annotation>
			</element>	
			<element name="ExcludedPerson" type="_wcf:PersonIdentifierType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>The identifier of a person that is excluded from this member group.</documentation>
				</annotation>
			</element>	
		    <element name="IncludedOrganization" type="_wcf:OrganizationIdentifierType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>The identifier of an organization that is a member of this member group.</documentation>
				</annotation>
			</element>	
			 
            <element name="ExcludedOrganization" type="_wcf:OrganizationIdentifierType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The identifier of an organization that is excluded from this member group.</documentation>
				</annotation>
			</element>
			
			
            <element name="DisplayName" type="_wcf:DescriptionType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>@deprecated Use MemberGroupDescription[language]/ShortDescription. The display name of the member group.</documentation>
					<appinfo>deprecated</appinfo>
				</annotation>
			</element>		
			<element name="Description" type="_wcf:DescriptionType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>@deprecated Use MemberGroupDescription[language]/LongDescription.
The description of the member group.
					</documentation>
					<appinfo>deprecated</appinfo>
				</annotation>
			</element>	
			<element name="MemberGroupDescription" type="_mbr:MemberGroupDescriptionType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>The description of the member group.</documentation>
				</annotation>
			</element>	
	        <element name="LastUpdate" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                       <documentation>The time when the member group was last updated.</documentation>
                </annotation>
            </element>
            <element name="LastUpdatedBy" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                       <documentation>The logon ID of the person who last updated the member group.</documentation>
                </annotation>
            </element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>User Data that contains additional attributes of the member group:
						field1:	Customizable field.
						field2:	Customizable field.
						field3:	Customizable field.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="allowExport" type="boolean" use="optional">
			<annotation>
				<documentation>
					Whether the customer segment is allowed to be exported to external applications.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="exportAll" type="boolean" use="optional">
			<annotation>
				<documentation>
					Whether or not exporting all customers in the segment, including customers who have not opted in to marketing communications.
				</documentation>
			</annotation>
		</attribute>
		
	</complexType>

	<element name="MemberGroup" type="_mbr:MemberGroupType" >
		<annotation>
			<documentation>The element definition of MemberGroupType.</documentation>
		</annotation>
	</element>
	
	<complexType name="MemberGroupConditionElementType">
		<annotation>
        	<documentation>MemberGroup Condition elements represent the implicit conditions which the member group has.</documentation>
        </annotation>
        <sequence>
        	<element name="MemberGroupConditionElementIdentifier"
        		type="_mbr:MemberGroupConditionElementIdentifierType" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The unique identifier of the member group condition element.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ElementSequence" type="double" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>The sequence number of this element under the same parent element.</documentation>
        		</annotation>
        	</element>
        	<element name="ParentElementIdentifier" type="_mbr:MemberGroupConditionElementIdentifierType" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>The identifier of the parent element of this element.</documentation>
        		</annotation>
        	</element>
        	<element name="ConditionUsage" type="_mbr:MemberGroupConditionUsageEnumerationType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The usage of the member group condition, for example: simpleCondition, orListCondition, etc.
					</documentation>
				</annotation>
			</element>
            <element name="NameValuePairVariable" type="_mbr:MemberGroupConditionNameValuePairVariableType" minOccurs="0" maxOccurs="unbounded">
        		<annotation>
        			<documentation>
        				The name value pair variables associated with a member group condition element.
        			</documentation>
        		</annotation>
        	</element>
            <element name="SimpleConditionVariable" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The name of the simple variable associated with a member group simple condition element.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="SimpleConditionOperator" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The operator associated with a member group simple condition element.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="SimpleConditionValue" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The value associated with a member group simple condition element.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ConditionName" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				The name of the condition. This is needed for example in open conditions.
        			</documentation>
        		</annotation>
        	</element>
        </sequence>
        <attribute name="negate" type="boolean" use="optional" default="false">
        	   <annotation>
        			<documentation>
        				The boolean NOT operator. If this is set to "true", 
        				the condition evaluation result will be negated.
						The default value is false. 
        			</documentation>
        		</annotation>
        </attribute>
	</complexType>
	
	<complexType name="MemberGroupConditionElementIdentifierType">
        <annotation>
        	<documentation>The unique identifier of a member group condition element.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique ID of a member group condition element.</documentation>
				</annotation>
			</element>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name to identify the element within the member group.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>		
	
	<complexType name="MemberGroupDescriptionType">
        <annotation>
        	<documentation>The description of a member group.</documentation>
        </annotation>
        <sequence>
			<element name="ShortDescription" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The display name of a member group.</documentation>
				</annotation>
			</element>
			<element name="LongDescription" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The description of a member group.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>
	</complexType>	
	<simpleType name="MemberGroupConditionUsageEnumerationType">
		<annotation>
			<documentation>The default member group condition element usage types: 
				orListCondition: 	an OR list condition.
				andListCondition: 	an AND list condition. 
				simpleCondition: 	a simple condition.
				trueCondition: 	a true condition
				openCondition:  an open condition.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="orListCondition"/>
				<enumeration value="andListCondition"/>
				<enumeration value="simpleCondition"/>
				<enumeration value="trueCondition"/>
				<enumeration value="openCondition"/>
		</restriction>
	</simpleType>
	
	<complexType name="MemberGroupConditionNameValuePairVariableType">
        <annotation>
        	<documentation>The name value pair variables associated with a member group condition element.</documentation>
        </annotation>
        <sequence>
        	<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
					<documentation>The member group condition element name-value pair id.</documentation>
				</annotation>
			</element>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Name of the member group condition element variable.</documentation>
				</annotation>
			</element>
			<element name="Value" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Value of the member group condition element variable.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>
    
</schema>