WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/NFCMessageStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<xsd:schema
  attributeFormDefault="unqualified"
  elementFormDefault="qualified"
  targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:celadon_common="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
  xmlns:oa="http://www.openapplications.org/oagis/9"
  xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >
    <xsd:complexType name="NFCMessageStatus">
        <xsd:annotation>
        	<xsd:documentation>Describes an observation of status for an NFC message, timestamped with the time that the observation occurs -- for example, when an NFC message is read from a reader,
a status record is generated, when it is written (if applicable), another status record is generated, etc.</xsd:documentation>

        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="RecordID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Uniquely identifies this status observation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
            <xsd:element minOccurs="0" name="Status" type="xsd:string">
        <xsd:annotation>
        	<xsd:documentation>The logical status of the message -- e.g. "Received", "SubmittedForWriting", "ConfirmedWritten", "WritingFailed".</xsd:documentation>
        </xsd:annotation>
            </xsd:element>
      <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>The time at which the status is observed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Human readable description of the status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
        </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="NFCMessageStatus" type="celadon_common:NFCMessageStatus"/>
    
</xsd:schema>
