WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/NFCMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
  <xsd:schema
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:oa="http://www.openapplications.org/oagis/9"
    xmlns:celadon_common="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
    xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    
    <xsd:include schemaLocation="NFCMessageStatus.xsd"/>

    <xsd:complexType name="NFCMessage">
        <xsd:annotation>
        	<xsd:documentation>NFC message sent from a sender to a receiver -- in the case of a simple read such as an RFID tag or NFC device being swiped at a reader, the sender field contains the ID of the device or tag which is read. The message may contain additional textual contents in the "Message" member, and may further contain structured data in the "Data" member.</xsd:documentation>

        	<xsd:appinfo key_member_name="MessageID" />
        </xsd:annotation>
        <xsd:sequence>
        	<xsd:element minOccurs="0" name="MessageID"
        		type="xsd:string">
        		<xsd:annotation>
        			<xsd:documentation>Unique identifier for the message -- usually this is generated by the component reading the NFC device or RFID tag.</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>

        	<xsd:element minOccurs="0" name="Sender"
        		type="xsd:string">
        		<xsd:annotation>
        			<xsd:documentation>
        				Identifies the sender of the message -- usually
        				this identifies an NFC device or RFID tag which
        				has been read.
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
        	<xsd:element minOccurs="0" name="Receiver"
        		type="xsd:string">
        		<xsd:annotation>
        			<xsd:documentation>
        				Identifies the receiver of the message --
        				usually this identifies the device which has
        				read the NFC device or RFID tag.
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
        	<xsd:element minOccurs="0" name="Message"
        		type="xsd:string">
        		<xsd:annotation>
        			<xsd:documentation>
        				(Optional) string content of the message -- for
        				a simple tag read this is blank.
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
        	<xsd:element name="Data" type="xsd:anyType">
        		<xsd:annotation>
        			<xsd:documentation>
        				(Optional) content of the message as a
        				structured data item -- for a simple tag read
        				this is blank.
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
        	<xsd:element minOccurs="0" name="Status"
        		type="xsd:string">
        		<xsd:annotation>
        			<xsd:documentation>
        				The current logical status of the message --
        				e.g. "Received", "SubmittedForWriting",
        				"ConfirmedWritten", "WritingFailed".
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
        	<xsd:element minOccurs="0" name="Timestamp"
        		type="xsd:dateTime">
        		<xsd:annotation>
        			<xsd:documentation>
        				Time at which the current status was generated
        				(e.g. for outgoing messages -- when it was
        				transmitted to the receiver, or when the
        				confirmation was received).
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
            <xsd:element name="Description" type="string">
        		<xsd:annotation>
        			<xsd:documentation>Human readable description of the current status.</xsd:documentation>
        		</xsd:annotation></xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0"
        		name="StatusReports" type="celadon_common:NFCMessageStatus">
        		<xsd:annotation>
        			<xsd:documentation>
        				Listing of the status report history for this
        				message.
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>

        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="NFCMessage" type="celadon_common:NFCMessage"/>
    
</xsd:schema>