WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2006, 2017 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
	For support, more information, or to report implementation bugs, 
	please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
	
	** Revision:  IBM_WebSphere_Commerce 1.0 **
	
	Copyright IBM (c) 2005-2006, All Rights Reserved
	
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:_ord="http://www.ibm.com/xmlns/prod/commerce/9/order" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/order"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	elementFormDefault="qualified" attributeFormDefault="unqualified" ecore:nsPrefix="_ord"
	ecore:package="com.ibm.commerce.order.facade.datatypes">

	<annotation>
		<documentation>This order XML schema file defines the Order noun.</documentation>
	</annotation>

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd" />
    
	<element name="Order" type="_ord:OrderType">
		<annotation>
			<documentation>Element definition of the Order noun.</documentation>
		</annotation>
	</element>

	<element name="OrderBODVersion" type="string" fixed="7.0.0.6">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<complexType name="OrderType">

		<sequence>
			<element maxOccurs="1" minOccurs="0" name="OrderIdentifier" type="_wcf:OrderIdentifierType">
				<annotation>
					<documentation>The order identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="StoreIdentifier" type="_wcf:StoreIdentifierType">
			    <annotation>
					<documentation>The store identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:Channel" >
			   <annotation>
					<documentation>The channel.</documentation>
				</annotation>
			</element>			
			<element maxOccurs="1" minOccurs="0" name="QuoteID" type="string">
				<annotation>
					<documentation>
						This element is deprecated. The quote ID, from
						which the order is created.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="QuoteIdentifier" type="_wcf:QuoteIdentifierType">
				<annotation>
					<documentation>The quote identifier, from which the order is created.</documentation>
				</annotation>
			</element>
			
			<element maxOccurs="1" minOccurs="0" name="BuyerPONumber" type="string">
				<annotation>
					<documentation>The buyer PO number.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrganizationIdentifier" type="_wcf:OrganizationIdentifierType">
				<annotation>
					<documentation>Identifier of the buyer organization.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="BuyerIdentifier" type="_wcf:PersonIdentifierType">
				<annotation>
					<documentation>Identifier of the customer.</documentation>
				</annotation>
			</element>
			<element name="BuyerBillInfo" type="_wcf:ContactInfoType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The Buyer Bill information.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:CouponCode">
				<annotation>
					<documentation>The coupon codes.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:PromotionCode">
				<annotation>
					<documentation>The promotion codes entered.</documentation>
				</annotation>
			</element>
            <element maxOccurs="unbounded" minOccurs="0" ref="_ord:RewardOption">
				<annotation>
					<documentation>The promotion reward options.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="AdjustmentRequirement" type="_ord:AdjustmentRequirementType">
				<annotation>
					<documentation>Order level adjustment requirements.</documentation>
				</annotation>
			</element>
			
			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderAmount">
				<annotation>
					<documentation>Total amount of the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:UsableShippingAddress" >
				<annotation>
					<documentation>Usable Shipping addresses for the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderPaymentInfo">
				<annotation>
					<documentation>Payment information of the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:UsablePaymentInformation">
				<annotation>
					<documentation>The usable payment methods information for this order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:UsableShippingMode">
				<annotation>
					<documentation>Usable Shipping modes for the order.</documentation>
				</annotation>
			</element>
			
			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderStatus">
				<annotation>
					<documentation>Status of the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderEditor">
				<annotation>
					<documentation>Identifier of the CSR who is editing the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="BLockInfo" type="_ord:OrderBLockInfoType">
				<annotation>
					<documentation>The block information.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderDescription" type="string">
				<annotation>
					<documentation>Description of the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Comments" type="string">
				<annotation>
					<documentation>Comments made by the customer.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:CSRComments">
				<annotation>
					<documentation>Comments made by customer service representatives.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="LastUpdateDate" type="dateTime">
				<annotation>
					<documentation>Time the order was last updated.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="PlacedDate" type="dateTime">
				<annotation>
					<documentation>Time the order was placed.</documentation>
				</annotation>
			</element>
	
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:OrderItem">
				<annotation>
					<documentation>The order items.</documentation>
				</annotation>
			</element>
			
			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderNotificationInfo">
				<annotation>
					<documentation>Order notification info.</documentation>
				</annotation>
			</element>
			
                    	<element maxOccurs="1" minOccurs="0" ref="_ord:OrderShippingInfo">
				<annotation>
					<documentation>Order shipping info.</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0" name="OrderScheduleInfo" type="_ord:OrderScheduleInfoType">
				<annotation>
					<documentation>The information required if it's to be scheduled for the future.</documentation>
				</annotation>
			</element>
			
			<element maxOccurs="1" minOccurs="0" name="OrderGiftInfo" type="_ord:GiftItemInfoType" >
				<annotation>
					<documentation>Order Gift Info.</documentation>
				</annotation>
			</element>


			<element name="OrderTypeCode" type="_ord:OrderTypeCodeType"
				maxOccurs="1" minOccurs="0">
			</element>

			<element name="ParentInfo" type="_ord:ParentInfoType"
				maxOccurs="1" minOccurs="0">
			</element> 
			<element maxOccurs="1" minOccurs="0" name="SubscriptionInfo" type="_wcf:SubscriptionInfoType">
				<annotation>
					<documentation>The subscription information</documentation>
				</annotation>
			</element>
			<element name="CalculationInfo" type="_ord:CalculationInfoType" minOccurs="0" maxOccurs="1">
			</element>
			
			
			
				
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
			
			<element name="OrderExtendAttribute" type="_ord:ExtendAttributeType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The order extended attributes</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="orderVersion" type="string" use="optional">
			<annotation>
				<documentation>Order Version.</documentation>
			</annotation>
		</attribute>
		<attribute name="shipAsComplete" type="boolean" use="optional">
			<annotation>
				<documentation>Whether the order should be shipped as complete.</documentation>
			</annotation>
		</attribute>
	</complexType>
	
	<element name="CouponCode" type="_ord:CouponCodeType">
		<annotation>
			<documentation>Element definition of coupon codes.</documentation>
		</annotation>
	</element>
	<complexType name="CouponCodeType">
		<sequence>

            <element name="CouponId" type="string" minOccurs="0" maxOccurs="1"></element>
            <element maxOccurs="1" minOccurs="0" name="Code"
				type="string">
				<annotation>
					<documentation>The code of coupon.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0"
				name="PromotionIdentifier" type="_wcf:PromotionIdentifierType">
				<annotation>
					<documentation>
						Identifier of the promotion that the coupon is
						for.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0"
				name="Description" type="_ord:CouponDescriptionType">
				<annotation>
					<documentation>
						Description of the coupon.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0"
				name="EffectiveDateTime" type="dateTime">
				<annotation>
					<documentation>
						Effective date and time of the coupon.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0"
				name="ExpirationDateTime" type="dateTime">
				<annotation>
					<documentation>
						Expiration date and time of the coupon.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Status"
				type="string">
				<annotation>
					<documentation>Status of the coupon.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>

		</sequence>
	</complexType>
	
	<complexType name="CouponDescriptionType">
		<annotation>
			<documentation>
				Type definition of coupon description.
			</documentation>
		</annotation>
		<sequence>
			<element name="ShortDescription" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Short description of the coupon.</documentation>
				</annotation>
			</element>
			<element name="LongDescription" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Long description of the coupon.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>
	</complexType>
	
	<element name="PromotionCode" type="_ord:PromotionCodeType" >
	        <annotation>
					<documentation>The element definition of the promotion code.</documentation>
				</annotation>
	</element>
	<complexType name="PromotionCodeType">
		<annotation>
			<documentation>The promotion codes entered.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Code" type="string">
				<annotation>
					<documentation>The code of promotion.</documentation>
				</annotation>
			</element>

			<element name="Reason" type="_wcf:PromotionCodeReasonType" minOccurs="0" maxOccurs="1"></element>
            <element name="AssociatedPromotion" type="_wcf:AssociatedPromotionType" minOccurs="0" maxOccurs="unbounded"></element>
            <element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>

		</sequence>

	</complexType>
	
    <element name="ChannelIdentifer" type="_ord:ChannelIdentiferType">
    <annotation>
					<documentation>The element definition of the channel identifier.</documentation>
				</annotation>
    </element>
    
	<complexType name="ChannelIdentiferType">
		<sequence>
	    	<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The business channel ID.</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0" name="ChannelName" type="_ord:ChannelNameType">
				<annotation>
					<documentation>The business channel Name.</documentation>
				</annotation>
			</element>
	   </sequence>
	</complexType>
	
	<element name="Channel" type="_ord:ChannelType" >
	<annotation>
					<documentation>The element definition of the channel.</documentation>
				</annotation>
	</element>
	<complexType name="ChannelType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="_ord:ChannelIdentifer">
			<annotation>
					<documentation>The channel identifier.</documentation>
				</annotation>
			</element>
			
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType">
			<annotation>
					<documentation>The channel description.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<simpleType name="ChannelNameType">
	<annotation>
					<documentation>The channel name.</documentation>
				</annotation>
		<union memberTypes="_ord:ChannelNameEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>
	<simpleType name="ChannelNameEnumerationType">
		<restriction base="normalizedString">
			<enumeration value="Kiosk" />
			<enumeration value="Phone" />
			<enumeration value="Mail" />
			<enumeration value="Fax" />
			<enumeration value="e-mail" />
			<enumeration value="Electronic data feed" />
			<enumeration value="Web Channel" />
			<enumeration value="Physical Store" />
			<enumeration value="B2B External" />
			<enumeration value="Http Device" />			
		</restriction>
	</simpleType>
		
	<element name="OrderAmount" type="_wcf:OrderChargesType">
		<annotation>
			<documentation>Element definition of the order's amount.</documentation>
		</annotation>
	</element>	

	<element name="OrderPaymentInfo" type="_ord:OrderPaymentInfoType">
		<annotation>
			<documentation>Element definition of the order's payment information.</documentation>
		</annotation>
	</element>
	<complexType name="OrderPaymentInfoType">
		<annotation>
			<documentation>Type definition of the order's payment information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:PaymentInstruction">
				<annotation>
					<documentation>The payment instructions.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Status" type="_ord:PaymentLifeCycleStatusType">
				<annotation>
					<documentation>The payment life cycle status.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:FinancialTransaction">
				<annotation>
					<documentation>The Financial Transactions.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="PaymentInstruction" type="_ord:PaymentInstructionType">
		<annotation>
			<documentation>Element definition of a payment instruction.</documentation>
		</annotation>
	</element>
	<complexType name="PaymentInstructionType">
		<annotation>
			<documentation>Type definition of a payment instruction.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string" />
			<element maxOccurs="1" minOccurs="0" name="BillingAddress" type="_wcf:ContactInfoType" />
			<element maxOccurs="1" minOccurs="0" name="Amount" type="_wcf:MonetaryAmountType" />
			<element maxOccurs="1" minOccurs="0" ref="_ord:PaymentMethod" />
			<element maxOccurs="1" minOccurs="0" name="PaymentTermConditionId" type="string" />
			<element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="integer" />
			<element maxOccurs="1" minOccurs="0" name="Priority" type="integer" />
			<element maxOccurs="1" minOccurs="0" name="MaxAmount" type="_wcf:MonetaryAmountType" />
			<element maxOccurs="1" minOccurs="0" name="MinAmount" type="_wcf:MonetaryAmountType" />
			<element maxOccurs="1" minOccurs="0" name="RefundAllowed" type="boolean" />
			<element maxOccurs="1" minOccurs="0" name="PaymentRule" type="string" />
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:ProtocolData" />
			<element maxOccurs="1" minOccurs="0" name="Status" type="_ord:PaymentInstructionStatusType" />
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData" />
		</sequence>
	</complexType>
	
	<element name="UsablePaymentInformation" type="_ord:PaymentInformationType">
		<annotation>
			<documentation>Element definition of usable payment information.</documentation>
		</annotation>
	</element>
	<complexType name="PaymentInformationType">
		<annotation>
			<documentation>Type definition of payment information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:UsableBillingAddress"  />
			<element maxOccurs="1" minOccurs="1" ref="_ord:PaymentMethod" />
			<element maxOccurs="1" minOccurs="0" name="PaymentTermConditionId" type="string" />
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:ProtocolData" />
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData" />
		</sequence>
	</complexType>

	<element name="PaymentMethod" type="_ord:PaymentMethodType">
		<annotation>
			<documentation>Element definition of payment method.</documentation>
		</annotation>
	</element>
	<complexType name="PaymentMethodType">
		<annotation>
			<documentation>Type definition of a payment method.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="PaymentMethodName" type="string" />
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType" />
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData" />
		</sequence>
	</complexType>
	

	<element name="ProtocolData" type="_ord:ProtocolDataType">
		<annotation>
			<documentation>Element definition of a protocol data entry.</documentation>
		</annotation>
	</element>
	<complexType name="ProtocolDataType">
		<annotation>
			<documentation>Type definition of a protocol data entry.</documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" use="required" />
			</extension>
		</simpleContent>
	</complexType>

	
	<element name="BlockReason" type="_ord:BlockReasonType" >
	<annotation>
					<documentation>The element definition of the block reason.</documentation>
				</annotation>
	</element>
	<complexType name="BlockReasonType">
	<annotation>
					<documentation>The type definition of the block reason.</documentation>
				</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ReasonCode" type="string" />
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType" />
			<element maxOccurs="1" minOccurs="0" name="ReansonType" type="string" />
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="OrderBlockType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Comments" type="string">
				<annotation>
					<documentation>The order block.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TimeBlocked" type="dateTime" />
			<element maxOccurs="1" minOccurs="0" ref="_ord:BlockReason" />
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="resovled" type="boolean" use="optional" />
	</complexType>
	
	<element name="OrderStatus" type="_ord:OrderStatusType">
		<annotation>
			<documentation>Element definition of the order's status.</documentation>
		</annotation>
	</element>
	<complexType name="OrderStatusType">
		<annotation>
			<documentation>Type definition of the order's status.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Status" type="_ord:OrderLifeCycleStatusType">
				<annotation>
					<documentation>The order status.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="BuyerApprovalStatus" type="_ord:BuyerApprovalStatusType">
				<annotation>
					<documentation>The Buyer Approval Status.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="prepareIndicator" type="boolean" use="optional">
			<annotation>
				<documentation>Whether the order has been prepared.</documentation>
			</annotation>
		</attribute>
		<attribute name="editable" type="boolean" use="optional">
			<annotation>
				<documentation>Whether the order is editable.</documentation>
			</annotation>
		</attribute>
		<attribute name="locked" type="boolean" use="optional">
			<annotation>
				<documentation>Order is locked.</documentation>
			</annotation>
		</attribute>
		<attribute name="blocked" type="boolean" use="optional"/>
	</complexType>
	
	<complexType name="OrderBLockInfoType">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="OrderBlock" type="_ord:OrderBlockType">
				<annotation>
					<documentation>The order block.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		 
	</complexType>
	<simpleType name="BuyerApprovalStatusEnumerationType">
		<annotation>
			<documentation>
				Indicates the buyer approval status of the order: Approved: Approved Rejected: Rejected PendingApproval:
				Pending approval.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Approved" />
			<enumeration value="Rejected" />
			<enumeration value="PendingApproval" />
		</restriction>
	</simpleType>
	<simpleType name="BuyerApprovalStatusType">
		<annotation>
			<documentation>Allows extension to the default approval status usage types.</documentation>
		</annotation>
		<union memberTypes="_ord:BuyerApprovalStatusEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>
		
	<element name="ChangeReasonCode" type="_ord:ChangeReasonCodeType" >
	<annotation>
					<documentation>The element definition of the order change reason.</documentation>
				</annotation>
	</element>
	<complexType name="ChangeReasonCodeType">
	<annotation>
					<documentation>The type definition of the order change reason.</documentation>
				</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ReasonCode" type="string" />
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType" />
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="CSRComments" type="_ord:CSRCommentsType">
		<annotation>
			<documentation>Element definition of a comment made by a customer service representative.</documentation>
		</annotation>
	</element>
	<complexType name="CSRCommentsType">
		<annotation>
			<documentation>Type definition of a comment made by a customer service representative.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="CreationDate" type="dateTime">
				<annotation>
					<documentation>Time the comment is created.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Comment" type="string">
				<annotation>
					<documentation>The comment.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:ChangeReasonCode">
				<annotation>
					<documentation>The order change reason code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:CSRIdentifier">
				<annotation>
					<documentation>The customer service representative identifier.</documentation>
				</annotation>
			</element>
			<element name="OrderVersion" type="string" maxOccurs="1" minOccurs="0" >
			<annotation>
					<documentation>The order version.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>	
	
	<element name="OrderNotificationInfo" type="_ord:OrderNotificationInfoType">
		<annotation>
			<documentation>Element definition of the order notification.</documentation>
		</annotation>
	</element>
	<complexType name="OrderNotificationInfoType">
		<annotation>
			<documentation>Type definition of the order notification.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="EMail" type="_wcf:EmailAddressType">
				<annotation>
					<documentation>
						The Email address of the recipient of the notification message. 
						Applicable for all message types.
					</documentation>
				</annotation>
			</element>						
			<element maxOccurs="unbounded" minOccurs="0" name="SMS" type="_wcf:MobilePhoneType">
				<annotation>
					<documentation>
						The phone number of the recipient of the notification message.
						Applicable for all message types.						
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="AllEMailsRecipient" type="_wcf:EmailAddressType">
				<annotation>
					<documentation>Deprecated</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderReceivedEMailRecipient" type="_wcf:EmailAddressType">
				<annotation>
					<documentation>Deprecated</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderCancelEMailRecipient" type="_wcf:EmailAddressType">
				<annotation>
					<documentation>Deprecated</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderCancelForMerchantEMailRecipient" type="_wcf:EmailAddressType">
				<annotation>
					<documentation>Deprecated.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderChangedEMailRecipient" type="_wcf:EmailAddressType">
				<annotation>
					<documentation>Deprecated</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ReleaseShipNotifyEMailRecipient" type="_wcf:EmailAddressType">
				<annotation>
					<documentation>Deprecated</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="MerchantNotify" type="string">
				<annotation>
					<documentation>The value to indicate whether the merchant is notified when the order processing is complete.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShopperNotify" type="string">
				<annotation>
					<documentation>The value to indicate whether the shopper is notified when the order processing is complete.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderSubmittedNotify" type="string">
				<annotation>
					<documentation>The value to indicate whether the customer is notified when the order is successfully submitted for processing.</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="OrderEditor" type="_wcf:PersonIdentifierType">
		<annotation>
			<documentation>Element definition of Order Editor.</documentation>
		</annotation>
	</element>
	<element name="CSRIdentifier" type="_wcf:PersonIdentifierType">
		<annotation>
			<documentation>Element definition of a customer service representative identifier.</documentation>
		</annotation>
	</element>

	<element name="OrderItem" type="_ord:OrderItemType">
		<annotation>
			<documentation>Element definition of an order item.</documentation>
		</annotation>
	</element>
	<element name="CatalogEntryIdentifier" type="_wcf:CatalogEntryIdentifierType">
		<annotation>
			<documentation>Element definition of catalog entry identifier.</documentation>
		</annotation>
	</element>
	<complexType name="OrderItemType">
		<annotation>
			<documentation>Type definition of an order item.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="OrderItemIdentifier" type="_wcf:OrderItemIdentifierType">
				<annotation>
					<documentation>The order item identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:CatalogEntryIdentifier">
				<annotation>
					<documentation>The catalog entry identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="ItemAttributes" type="_wcf:NameValuePairType">
				<annotation>
					<documentation>Product specific attributes for this item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:OrderItemComponent">
				<annotation>
					<documentation>Components of the product if it is a kit.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Quantity" type="_wcf:QuantityType">
				<annotation>
					<documentation>The quantity ordered.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ConfigurationID" type="string">
				<annotation>
					<documentation>The configuration ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderItemConfiguration" type="string">
				<annotation>
					<documentation>Configuration details of a dynamic kit.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ContractIdentifier" type="_wcf:ContractIdentifierType">
				<annotation>
					<documentation>The contract Identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OfferID" type="string">
				<annotation>
					<documentation>The offer ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0"
				name="AdjustmentRequirement"
				type="_ord:AdjustmentRequirementType">
				<annotation>
					<documentation>Order item level adjustment requirements.</documentation>
				</annotation>
			</element>			
			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderItemAmount">
				<annotation>
					<documentation>Amounts of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:UsableShippingAddress" >
				<annotation>
					<documentation>Usable Shipping addresses for the order item.</documentation>
				</annotation>
			</element>

			<element maxOccurs="unbounded" minOccurs="0" ref="_ord:UsableShippingMode">
				<annotation>
					<documentation>Usable Shipping modes for the order item.</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderItemShippingInfo">
				<annotation>
					<documentation>Shipping information of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderItemStatus">
				<annotation>
					<documentation>Status of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderItemFulfillmentInfo">
				<annotation>
					<documentation>Fulfillment information of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:FulfillmentCenter">
				<annotation>
					<documentation>The fulfillment center.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="CorrelationGroup" type="string">
				<annotation>
					<documentation>CorrelationGroup of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderItemDescription" type="string">
				<annotation>
					<documentation>Description of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Comments" type="string">
				<annotation>
					<documentation>Comments made by the customer.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="CreateDate" type="dateTime">
				<annotation>
					<documentation>Time the order item is created.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="LastUpdateDate" type="dateTime">
				<annotation>
					<documentation>Time the order item is last updated.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0"
				name="UsableShippingChargePolicy"
				type="_wcf:PolicyIdentifierType">
				<annotation>
					<documentation>
						This element is used to display all usable
						shipping charge methods for an order item. Each
						order item has multiple usable shipping charge
						methods. Shopper can view and select one of them
						for the current order item. Possible values can
						be "Charge by seller" and "Charge by carrier".
				  </documentation>
				</annotation>
			</element>
			<element name="GiftItemInfo" type="_ord:GiftItemInfoType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The gift list info for the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
			
			<element name="OrderItemExtendAttribute" type="_ord:ExtendAttributeType" maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>The order item extended attributes</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="OrderItemComponentIdentifier" type="_ord:OrderItemComponentIdentifierType" >
	<annotation>
					<documentation>The element definition of the order item component.</documentation>
				</annotation>
	</element>
    <complexType name="OrderItemComponentIdentifierType">
		<annotation>
	        <documentation>The type definition of an order item component identifier.</documentation>
     	</annotation>
        <sequence>
        	<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
            	<annotation>
                	<documentation>The order item component ID.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

	<element name="OrderItemComponent" type="_ord:OrderItemComponentType">
		<annotation>
			<documentation>Element definition of an order item component.</documentation>
		</annotation>
	</element>
	<complexType name="OrderItemComponentType">
		<annotation>
			<documentation>Type definition of an order item component.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="_ord:OrderItemComponentIdentifier">
				<annotation>
					<documentation>The order item component identifier.</documentation>
				</annotation>
			</element>
		
			<element maxOccurs="1" minOccurs="0" ref="_ord:CatalogEntryIdentifier">
				<annotation>
					<documentation>The catalog entry identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Quantity" type="_wcf:QuantityType">
				<annotation>
					<documentation>The quantity.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="UnitPrice" type="_wcf:UnitPriceType">
				<annotation>
					<documentation>The unit price.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ConfigurationID" type="string">
			<annotation>
					<documentation>The configuration ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="required" type="boolean" use="optional">
			<annotation>
				<documentation>Whether the order item component is required.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<element name="OrderItemAmount" type="_wcf:OrderItemChargesType">
		<annotation>
			<documentation>Element definition of the order item's amount.</documentation>
		</annotation>
	</element>


	<element name="OrderItemShippingInfo" type="_ord:OrderItemShippingInfoType">
		<annotation>
			<documentation>Element definition of the order item's shipping information.</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemShippingInfoType">
		<annotation>
			<documentation>Type definition of shipping information of the order item.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ShippingAddress" type="_wcf:ContactInfoType">
				<annotation>
					<documentation>The shipping address.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:ShippingMode">
				<annotation>
					<documentation>The shipping mode.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingCarrierAccountNumber" type="string">
				<annotation>
					<documentation>The shipping carrier account number.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingInstruction" type="string">
				<annotation>
					<documentation>The shipping instruction.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="RequestedShipDate" type="dateTime">
				<annotation>
					<documentation>The requested ship date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShipTieCode" type="string">
				<annotation>
					<documentation>The ship tie code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingChargePolicyID" type="string">
				<annotation>
                                        <documentation>The shipping charge policy ID. Deprecated and replaced by ShippingChargePolicy/UniqueID.</documentation>				
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="PhysicalStoreIdentifier" type="_wcf:PhysicalStoreIdentifierType">
				<annotation>
					<documentation>The pickup location of the order item if it is going to be picked up in-store.</documentation>
				</annotation>
			</element>
            <element maxOccurs="1" minOccurs="0" name="ShippingChargePolicy" type="_wcf:PolicyIdentifierType">
				<annotation>
					<documentation>
						The shipping charge method used for this order item.
						Possible values can be "Charge by seller" and "Charge by carrier".
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="expedite" type="boolean" use="optional">
			<annotation>
				<documentation>Whether shipping of the orderitem should be expedited.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<element name="FulfillmentCenter" type="_ord:FulfillmentCenterType">
		<annotation>
			<documentation>Element definition of the fulfillment center.</documentation>
		</annotation>
	</element>

	<complexType name="FulfillmentCenterType">
		<annotation>
			<documentation>Type definition of the fulfillment center.</documentation>
		</annotation>
		<sequence>
		    <element maxOccurs="1" minOccurs="0" name="FulfillmentCenterIdentifier" type="_wcf:FulfillmentCenterIdentifierType"/>
		    <element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType"></element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="UsableShippingMode" type="_ord:ShippingModeType" >
<annotation>
			<documentation>Element definition of the usable shipping mode.</documentation>
		</annotation>
	</element>
	<element name="ShippingMode" type="_ord:ShippingModeType">
		<annotation>
			<documentation>Element definition of the shipping mode.</documentation>
		</annotation>
	</element>
	<element name="ShippingModeIdentifier" type="_ord:ShippingModeIdentifierType">
	<annotation>
			<documentation>Element definition of the shipping mode identifier.</documentation>
		</annotation>
	</element>
	<complexType name="ShippingModeIdentifierType">
	   <sequence>
	   		<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The shipping mode unique ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_ord:ExternalShipModeIdentifier">
				<annotation>
					<documentation>The external shipping mode identifier.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ExternalShipModeIdentifier">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="StoreUniqueID" type="string">
				<annotation>
					<documentation>The store ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShipModeCode" type="string">
				<annotation>
					<documentation>The shipping mode code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Carrier" type="string">
				<annotation>
					<documentation>The shipping mode carrier.</documentation>
				</annotation>
			</element>		
		</sequence>
	</complexType>
	<complexType name="ShippingModeType">
		<annotation>
			<documentation>Type definition of the shipping mode.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="_ord:ShippingModeIdentifier"/>
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType" />
			<element maxOccurs="1" minOccurs="0" name="trackingURL" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="ShippingCharge" type="_wcf:MonetaryAmountType" />
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="OrderItemStatus" type="_ord:OrderItemStatusType">
		<annotation>
			<documentation>Element definition of the order item's status.</documentation>
		</annotation>
	</element>
	<complexType name="OrderItemStatusType">
		<annotation>
			<documentation>Type definition of the order item's status.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Status" type="_ord:OrderItemLifeCycleStatusType">
				<annotation>
					<documentation>The order item status.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="InventoryStatus" type="_ord:InventoryStatusType">
				<annotation>
					<documentation>The inventory status.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="FulfillmentStatus" type="_ord:FulfillmentStatusType">
				<annotation>
					<documentation>The fufillment status.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	


	<element name="OrderItemFulfillmentInfo" type="_ord:OrderItemFulfillmentInfoType">
		<annotation>
			<documentation>Element definition of the order item's fulfillment information.</documentation>
		</annotation>
	</element>
	<complexType name="OrderItemFulfillmentInfoType">
		<annotation>
			<documentation>Type definition of the order item's fulfillment information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="AvailableDate" type="dateTime">
				<annotation>
					<documentation>The expected available date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExpectedShipDate" type="dateTime">
				<annotation>
					<documentation>The expected ship date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TimeReleased" type="dateTime">
				<annotation>
					<documentation>The real release date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TimeShipped" type="dateTime">
				<annotation>
					<documentation>The real ship date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<simpleType name="InventoryStatusEnumerationType">
	<annotation>
			<documentation>The type definition of an order item's inventory status.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Available" />
			<enumeration value="Unavailable" />
			<enumeration value="Future" />
			<enumeration value="Allocated" />
			<enumeration value="Unallocated" />
			<enumeration value="Backorderable" />
			<enumeration value="Backordered" />
			<enumeration value="Released" />
		</restriction>
	</simpleType>
	<simpleType name="InventoryStatusType">
		<annotation>
			<documentation>The type definition of an order item's inventory status.</documentation>
		</annotation>
		<union memberTypes="_ord:InventoryStatusEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>
	
	<simpleType name="FulfillmentStatusEnumerationType">
		<annotation>
			<documentation>The type definition of an order item's fulfillment status.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Unreleased" />
			<enumeration value="Hold" />
			<enumeration value="Released" />
			<enumeration value="Shipped" />
		</restriction>
	</simpleType>
	<simpleType name="FulfillmentStatusType">
		<annotation>
			<documentation>The type definition of an order item's fulfillment status.</documentation>
		</annotation>
		<union memberTypes="_ord:FulfillmentStatusEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>
   


    <simpleType name="OrderLifeCycleStatusEnumerationType">
     <annotation>
			<documentation>The type definition of an order life cycle status.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="P">
				<annotation>
					<documentation>Order is shopping cart.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="E">
				<annotation>
					<documentation>Order is editing.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="X">
				<annotation>
					<documentation>Order is canceled.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>Payment is authorized.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="M">
				<annotation>
					<documentation>Order is submitted.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="L">
				<annotation>
					<documentation>Order is low inventory.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B">
				<annotation>
					<documentation>Order is back ordered.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="A">
				<annotation>
					<documentation>Payment review is needed.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="R">
				<annotation>
					<documentation>Order is released to fulfillment.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>Order is shipped.</documentation>
				</annotation>
			</enumeration>			
			<enumeration value="D">
				<annotation>
					<documentation>Order is deposited.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>Order is ready for remote fulfillment.</documentation>
				</annotation>
			</enumeration>	
			<enumeration value="G">
				<annotation>
					<documentation>Order is pending remote fulfillment.</documentation>
				</annotation>
			</enumeration>	
			<enumeration value="H">
				<annotation>
					<documentation>Order remote fulfillment failed.</documentation>
				</annotation>
			</enumeration>	
			<enumeration value="W">
				<annotation>
					<documentation>Order is pending buyer approval.</documentation>
				</annotation>
			</enumeration>	
			<enumeration value="N">
				<annotation>
					<documentation>Order is rejected by buyer administrator.</documentation>
				</annotation>
			</enumeration>		
		</restriction>
	</simpleType>
		<simpleType name="OrderLifeCycleStatusType">
		<annotation>
			<documentation>The type definition of an order item's life cycle status.</documentation>
		</annotation>
		<union memberTypes="_ord:OrderLifeCycleStatusEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>
	  <simpleType name="OrderItemLifeCycleStatusEnumerationType">
		<restriction base="normalizedString">
			<enumeration value="P">
				<annotation>
					<documentation>Order item is in shopping cart.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="E">
				<annotation>
					<documentation>Order item is editing.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="X">
				<annotation>
					<documentation>Order item is canceled.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>Payment is authorized.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="M">
				<annotation>
					<documentation>Order item is submitted.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="L">
				<annotation>
					<documentation>Order item is low inventory.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B">
				<annotation>
					<documentation>Order item is back ordered.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="A">
				<annotation>
					<documentation>Payment review is needed.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="R">
				<annotation>
					<documentation>Order item is released to fulfillment.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>Order item is shipped.</documentation>
				</annotation>
			</enumeration>			
			<enumeration value="D">
				<annotation>
					<documentation>Order item is deposited.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>Order item is ready for remote fulfillment.</documentation>
				</annotation>
			</enumeration>	
			<enumeration value="G">
				<annotation>
					<documentation>Order item is pending remote fulfillment.</documentation>
				</annotation>
			</enumeration>	
			<enumeration value="H">
				<annotation>
					<documentation>Order item remote fulfillment failed.</documentation>
				</annotation>
			</enumeration>	
			<enumeration value="W">
				<annotation>
					<documentation>Order item is pending buyer approval.</documentation>
				</annotation>
			</enumeration>	
			<enumeration value="N">
				<annotation>
					<documentation>Order item is rejected by buyer administrator.</documentation>
				</annotation>
			</enumeration>		
		</restriction>
	</simpleType>
 
	 <simpleType name="OrderItemLifeCycleStatusType">
		<annotation>
			<documentation>The type definition of an order item's life cycle status.</documentation>
		</annotation>
		<union memberTypes="_ord:OrderItemLifeCycleStatusEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>
	<simpleType name="PaymentLifeCycleStatusEnumerationType">
	<annotation>
			<documentation>The type definition of payment life cycle status.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Success" />
			<enumeration value="Failed" />
			<enumeration value="Pending" />
		</restriction>
	</simpleType>
		 <simpleType name="PaymentLifeCycleStatusType">
		<annotation>
			<documentation>The type definition of payment life cycle status.</documentation>
		</annotation>
		<union memberTypes="_ord:PaymentLifeCycleStatusEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>
		  <simpleType name="PaymentInstructionStatusEnumerationType">
		  <annotation>
			<documentation>The type definition of payment instruction status. "New", "Valid", "Invalid" and "Closed" are values of payment instruction status in payment plug-in controller layer. "Success", "Failed" and "Pending" are values of payment instruction status in payment rules engine layer. The values "New", "Valid", "Invalid" and "Closed" are only for compatibility.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="New" />
			<enumeration value="Valid" />
			<enumeration value="Invalid" />
			<enumeration value="Closed" />
			<enumeration value="Success" />
			<enumeration value="Failed" />
			<enumeration value="Pending" />
		</restriction>
	</simpleType>
    	
	 <simpleType name="PaymentInstructionStatusType">
		<annotation>
			<documentation>The type definition of payment instruction status.</documentation>
		</annotation>
		<union memberTypes="_ord:PaymentInstructionStatusEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>
	<element name="UsableBillingAddress" type="_wcf:ContactInfoIdentifierType" >
		<annotation>
			<documentation>The element definition of usable billing address.</documentation>
		</annotation>
	</element>
	
	<element name="UsableShippingAddress" type="_wcf:ContactInfoIdentifierType" >
	<annotation>
			<documentation>The element definition of usable shipping address.</documentation>
		</annotation>
	</element>
       	<complexType name="OrderScheduleInfoType">
    	<annotation>
			<documentation>The type definition of the information related to a scheduled order.</documentation>
		</annotation>
		<sequence>
			<element name="StartTime" maxOccurs="1" minOccurs="0" type="dateTime">
				<annotation>
					<documentation>The scheduled time to submit the order.</documentation>
				</annotation>
			</element>
			<element name="Interval" maxOccurs="1" minOccurs="0" type="int">
				<annotation>
					<documentation>
						The number of seconds between successive runs of this job. 
						If this parameter is omitted, the job is only run once.
					</documentation>
				</annotation>
			</element>
		</sequence>
    </complexType> 
    
    <element name="OrderShippingInfo" type="_ord:OrderShippingInfoType">
		<annotation>
			<documentation>Element definition of the order shipping information.</documentation>
		</annotation>
	</element>
	<complexType name="OrderShippingInfoType">
		<annotation>
			<documentation>Type definition of the order shipping information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ShippingAddress" type="_wcf:ContactInfoType">
				<annotation>
					<documentation>The shipping address.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_ord:ShippingMode">
				<annotation>
					<documentation>The shipping mode.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="RequestedShipDate" type="dateTime">
				<annotation>
					<documentation>The requested ship date.</documentation>
				</annotation>
			</element>			
			<element maxOccurs="1" minOccurs="0" name="PhysicalStoreIdentifier" type="_wcf:PhysicalStoreIdentifierType">
				<annotation>
					<documentation>The pickup location of the order if it is going to be picked up in-store.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="GiftItemType">
		<annotation>
			<documentation>Type definition of a gift item.</documentation>
		</annotation>
		<sequence>
			<element name="CatalogEntryIdentifier" type="_wcf:CatalogEntryIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The catalog entry identifier.</documentation>
				</annotation>
			</element>
			<element name="Quantity" type="_wcf:QuantityType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Quantity of the item. Note: Currently only integer quantity with uom as 'C62' is supported.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="GiftItem" type="_ord:GiftItemType">
		<annotation>
			<documentation>Element definition for GiftItem.
			</documentation>
		</annotation>
	</element>
	<element name="GiftSetSpecification" type="_ord:GiftSetSpecificationType">
		<annotation>
			<documentation>Element definition for GiftSetSpecification.
			</documentation>
		</annotation>
	</element>

	<complexType name="RewardSpecificationType">
		<annotation>
			<documentation>Type definition of a promotion reward option
				specification.</documentation>
		</annotation>
		<sequence>
			<element ref="_ord:GiftSetSpecification" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>This element defines the specification of
						gift
						items.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="RewardChoiceType">
		<annotation>
			<documentation>Type definition of a promotion reward option
				choice.
		
			</documentation>
		</annotation>
		<sequence>
			<element ref="_ord:GiftSet" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Free gift item set that is selected by a
						shopper.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="RewardSpecification" type="_ord:RewardSpecificationType">
		<annotation>
			<documentation>Element definition for RewardSpecification.
			</documentation>
		</annotation>
	</element>

	<element name="GiftSet" type="_ord:GiftSetType">
		<annotation>
			<documentation>Element definition for GiftSet.</documentation>
		</annotation>
	</element>

	<element name="RewardChoice" type="_ord:RewardChoiceType">
		<annotation>
			<documentation>Element definition for RewardChoice
			</documentation>
		</annotation>
	</element>

	<complexType name="GiftSetSpecificationType">
		<annotation>
			<documentation>Type definition of a gift set
				specification.
			</documentation>
		</annotation>
		<sequence>
			<element name="MaximumQuantity" type="_wcf:QuantityType" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>The maximum quantity of items allowed. Note: Currently only integer quantity with uom as 'C62' is supported.</documentation>
				</annotation>
			</element>

			<element ref="_ord:GiftItem" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Gift item information.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="GiftSetType">
		<annotation>
			<documentation>Type definition of a free gift item set.
			</documentation>
		</annotation>
		<sequence>
			<element ref="_ord:GiftItem" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Gift item information.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="RewardOptionType">
		<annotation>
			<documentation>Type definition of a promotion reward option type.
			</documentation>
		</annotation>
		<sequence>
			<element name="RewardOptionIdentifier"
				type="_wcf:RewardOptionIdentifierType" minOccurs="1"
				maxOccurs="1">
			</element>

            <element name="Adjustment" type="_wcf:AdjustmentType" minOccurs="0" maxOccurs="1">
            	<annotation>
            		<documentation>The promotion information associated with this reward option.</documentation>
            	</annotation></element>
            <element ref="_ord:RewardChoice" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						This element represents the shopper selection
						based on the option specification.
					</documentation>
				</annotation>
			</element>
			<element ref="_ord:RewardSpecification" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						This element represents the option specification
						for shopper to choice from.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User data area.</documentation>
				</annotation>
			</element>

		</sequence>
	</complexType>
	
    <element name="RewardOption" type="_ord:RewardOptionType"></element>
    
    <complexType name="AdjustmentRequirementType">
		<annotation>
			<documentation>Type definition of the adjustment requirement information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="AdjustmentUsage" type="_ord:AdjustmentUsageType">
				<annotation>
					<documentation>Different kinds of usages,for exmaple, price adjustment, shipping adjustment. </documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="AdjustmentCategory" type="_ord:AdjustmentCategoryType">
				<annotation>
					<documentation>Different kinds of price adjustment,for exmaple, percentage off, fixed amount off or fixed cost off. </documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="AdjustmentValue" type="string">
				<annotation>
					<documentation>The price adjustment value.</documentation>
				</annotation>
			</element>		
			<element maxOccurs="1" minOccurs="0" name="Comments" type="_wcf:DescriptionType">
				<annotation>
					<documentation>The comments for this price adjustment.</documentation>
				</annotation>
			</element>		
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<simpleType name="AdjustmentCategoryEnumerationType">
		<annotation>
			<documentation>The type definition of different kinds of adjustment categories.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="PercentOffAdjustment" />
			<enumeration value="FixedAmountOffAdjustment" />
			<enumeration value="FixedCostAdjustment" />
		</restriction>
	</simpleType>
	<simpleType name="AdjustmentCategoryType">
	    	<annotation>
	        	<documentation>Allows extension to the default adjustment categories.
			</documentation>
		</annotation>
		<union memberTypes="_ord:AdjustmentCategoryEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>
	
	<simpleType name="AdjustmentUsageEnumerationType">
	    	<annotation>
	        	<documentation>Indicates how usage of the adjustment:
					Price:  Price adjustment
					Shipping : Shipping adjustment
			</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="Price"/>
	            <enumeration value="Shipping"/>
		</restriction>
	</simpleType>	
	<simpleType name="AdjustmentUsageType">
	    	<annotation>
	        	<documentation>Allows extension to the default adjustment usage types.
			</documentation>
		</annotation>
		<union memberTypes="_ord:AdjustmentUsageEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>	
	<complexType name="GiftItemInfoType">
		<annotation>
			<documentation>Type definition of gift list infomation for the order item.</documentation>
		</annotation>
		<sequence>
			<element name="GiftListIdentifier" type="_wcf:GiftListIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The Gift List identifier the gift item belongs to.</documentation>
				</annotation>
			</element>
			<element name="GiftMessage" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>A message from the gift giver to the gift registrant.</documentation>
				</annotation>
			</element>
			<element name="ShipToRegistrant" type="boolean" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Ships the gift item to registrant directly or not.</documentation>
				</annotation> 
			</element>
			<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
    <simpleType name="OrderTypeCodeType">
    	<annotation>
			<documentation>The order type.</documentation>
		</annotation>
		<union memberTypes="_ord:OrderTypeEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>
	<simpleType name="OrderTypeEnumerationType">
		<annotation>
			<documentation>The enumeration of the order types.</documentation>
		</annotation>
		<restriction base="normalizedString">		
			<enumeration value="STD" />
			<enumeration value="QUT" />
			<enumeration value="PRL" />
			<enumeration value="SRL" />
			<enumeration value="TMP" />
			<enumeration value="QUK" />
			<enumeration value="ORD" />
			<enumeration value="QOT" />
			<enumeration value="REC" />
			<enumeration value="SUB" />
		</restriction>
	</simpleType>

	<complexType name="ParentInfoType">
		<annotation>
			<documentation>The parent order or parent order item of this order.</documentation>
		</annotation>		
		<sequence>
			<element name="ParentOrderIdentifier"
				type="_wcf:OrderIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
			    	<documentation>The identifier of the parent order.</documentation>
				</annotation>
			</element>
			<element name="ParentOrderItemIdentifier"
				type="_wcf:OrderItemIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
			    	<documentation>The identifier of the parent order items.</documentation>
				</annotation>
			</element>
			<element name="RelationTypeCode"
				type="_ord:RelationTypeCodeType" maxOccurs="1" minOccurs="0">
				<annotation>
			    	<documentation>The relation type with the parent order or order item.</documentation>
				</annotation>
			</element>
			<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="RelationTypeCodeType">
		<annotation>
			<documentation>The type of the relation between parent order(item) and the child order .</documentation>
		</annotation>
		<union memberTypes="_ord:RelationTypeEnumerationType _wcf:EnumerationExtensionType" />		
	</simpleType>
	<simpleType name="RelationTypeEnumerationType">
		<annotation>
			<documentation>The enumeration of the relation types.</documentation>
		</annotation>
		<restriction base="normalizedString">				
			<enumeration value="REC" />
			<enumeration value="SUB" />
		</restriction>
	</simpleType>
		<element name="FinancialTransaction" type="_ord:FinancialTransactionType">
		<annotation>
			<documentation>Element definition of a financial transaction.</documentation>
		</annotation>
	</element>
	<complexType name="FinancialTransactionType">
		<annotation>
			<documentation>Type definition of a financial transaction.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1"
				minOccurs="0" ref="_ord:FinancialTransactionIdentifier">
			</element>
			<element name="TransactionType"
				type="_ord:TransactionTypeType" maxOccurs="1" minOccurs="0">
			</element>
			<element name="RequestAmount" type="_wcf:MonetaryAmountType"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="Status"
				type="_ord:FinancialTransactionStatusType" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="ReasonCode" type="string" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="ResponseCode" type="string" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="ReferenceNumber" type="string" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="trackingID" type="string" maxOccurs="1" 
				minOccurs="0">
			</element>
			<element name="MerchantOrderNumber" type="string"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="AvsCode" type="string" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="PaymentInstructionID" type="string"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="RequestTime" type="dateTime" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="LastUpdate" type="dateTime" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="ExpirationTime" type="dateTime" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="PaymentProtocolData"
				type="_ord:ProtocolDataType" maxOccurs="unbounded"
				minOccurs="0">
			</element>
			<element name="TransactionExtensionData"
				type="_ord:ProtocolDataType" maxOccurs="unbounded"
				minOccurs="0">
			</element>
			<element name="UserData" type="_wcf:UserDataType"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<simpleType name="TransactionTypeType">
		<annotation>
			<documentation>The type definition of financial transaction type.</documentation>
		</annotation>
		<union memberTypes="_ord:TransactionTypeEnumerationType _wcf:EnumerationExtensionType"></union>
	</simpleType>

	<simpleType name="TransactionTypeEnumerationType">
		<annotation>
			<documentation>The type definition of financial transaction type. </documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Approve" />
			<enumeration value="Deposit" />
			<enumeration value="ApproveAndDeposit" />
			<enumeration value="Credit" />
			<enumeration value="ReverseApprove" />
			<enumeration value="ReverseDeposit" />
			<enumeration value="ReverseCredit" />
		</restriction>
	</simpleType>



	<simpleType name="FinancialTransactionStatusType">
		<annotation>
			<documentation>The type definition of financial transaction status.</documentation>
		</annotation>
		<union memberTypes="_ord:FinancialTransactionStatusEnumerationType _wcf:EnumerationExtensionType"></union>
	</simpleType>

	<simpleType name="FinancialTransactionStatusEnumerationType">
		<annotation>
			<documentation>The type definition of financial transaction status. </documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="New" />
			<enumeration value="Pending" />
			<enumeration value="Success" />
			<enumeration value="Failed" />
			<enumeration value="Canceled" />			
		</restriction>
	</simpleType>

	<element name="FinancialTransactionIdentifier" type="_ord:FinancialTransactionIdentifierType">
		<annotation>
			<documentation>Element definition of the financial transaction identifier.</documentation>
		</annotation>
	</element>
	<complexType name="FinancialTransactionIdentifierType">
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The financial transaction unique ID.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The external financial transaction identifier.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CalculationInfoType">
		<sequence>
			<element name="Usage" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						This is element for the calculation usage. The value is as this: -1,-2,-3,-4,-5,-6,-7.
						-1: discount 
						-2: shipping charge 
						-3: sales tax 
						-4: shipping tax 
						-5: coupon 
						-6: surcharge 
						-7: shipping adjustment
					</documentation>
				</annotation>
			</element>
			<element name="PriceUpdateFlag"
				type="_ord:PriceUpdateFlagType" minOccurs="0" maxOccurs="1">
			</element>
			<element name="ExtraAdjustments"
				type="_ord:ExtraAdjustmentType" minOccurs="0" maxOccurs="unbounded">
			</element>
			<element name="PricingDate" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The dateTime on which the price/promotion is
						based on.
					</documentation>
				</annotation>
			</element>
			<element name="UserData" type="_wcf:UserDataType" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	
	<simpleType name="PriceUpdateFlagType">
		<union memberTypes="_ord:PriceUpdateFlagEnumerationType _wcf:EnumerationExtensionType"></union></simpleType>

	<simpleType name="PriceUpdateFlagEnumerationType">
		<annotation>
			<documentation>
				This enumeration type is used to make whether and how to update price in calculation flow. 
				NeverUpdate: not update price.
				AlwaysUpdate: always update price. 
				UpdateIfExpired: update price when expired.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="NeverUpdate"></enumeration>
			<enumeration value="AlwaysUpdate"></enumeration>
			<enumeration value="UpdateIfExpired"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="ExtraAdjustmentType">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<sequence>

            <element name="CalculationCodeIdentifier" type="_wcf:CalculationCodeIdentifierType" minOccurs="0" maxOccurs="1"></element>
            <element name="IsOverrideExistingAdjustments" type="boolean"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This element indicates whether the
						CalculationCodes indirectly attached to the
						OrderItem are not effective. (CalculationCodes
						can be indirectly attached in the CATENCALCD and
						CATGPCALCD tables). The default value is flase.
					</documentation>
				</annotation>
			</element>
			<element name="AdjustmentApplyPolicy"
				type="_ord:AdjustmentApplyPolicyType" minOccurs="0" maxOccurs="1">
			</element>
			<element name="AdjustmentApplyAmount" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The amount of adjustment will be applied to the
						order or orderitem as per the apply policy.
					</documentation>
				</annotation>
			</element>
			<element name="OrderItemIdentifier"
				type="_wcf:OrderItemIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This element indicates which item the adjustment
						is applied to .If is is NULL, that means this
						adjustment is an order level adjustment.
					</documentation>
				</annotation>
			</element>
			<element name="UserData" type="_wcf:UserDataType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>


	<simpleType name="AdjustmentApplyPolicyType">
		<union memberTypes="_ord:AdjustmentApplyPolicyEnumerationType _wcf:EnumerationExtensionType"></union></simpleType>

	<simpleType name="AdjustmentApplyPolicyEnumerationType">
        <annotation>
        	<documentation>
			This element indicates how adjustment is used:
			NotUsed; FixedAdjustment; PercentageAdjustment ; FixedReplacement
			</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="NotUsed"></enumeration>
			<enumeration value="FixedAdjustment"></enumeration>
			<enumeration value="PercentageAdjustment"></enumeration>
			<enumeration value="FixedReplacement"></enumeration>
		</restriction>
	</simpleType>
	
	<complexType name="ExtendAttributeType">
	 	<annotation>
        	<documentation>
			</documentation>
        </annotation>
    	<sequence>
			<element name="AttributeName" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="AttributeValue" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="AttributeType" type="string" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
</schema>
