WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Organization.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_mbr="http://www.ibm.com/xmlns/prod/commerce/9/member"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/member"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified" 
	ecore:nsPrefix="_mbr"
	ecore:package="com.ibm.commerce.member.facade.datatypes">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />

	<include schemaLocation="../Components/MemberCommon.xsd"></include>	
	
	<annotation>
		<documentation>
			This file defines types related to an organization.</documentation>
	</annotation>
			
	<simpleType name="OrganizationStatusEnumerationType">
	    	<annotation>
	        	<documentation>The organization status values:
					Locked:		The organization is locked.
					Unlocked:	The organization is unlocked.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="Locked"/>
	            <enumeration value="Unlocked"/>
		</restriction>
	</simpleType>
	
	<simpleType name="OrganizationStatusType">
	    <annotation>
	        	<documentation>Allows the use of any of the pre-defined organization status values
	        	as well as any custom values
	        	</documentation>
		</annotation>
		<union memberTypes="_mbr:OrganizationStatusEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>
	
	<simpleType name="OrganizationalEntityType">
	    	<annotation>
	        	<documentation>The type of organizational entity:
					Organization
					Organization Unit
			</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="Organization"/>
	            <enumeration value="OrganizationUnit"/>
		</restriction>
	</simpleType>
	
	<element name="OrganizationBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>	
	
	<complexType name="OrganizationType">
		<annotation>
	        	<documentation>Represents an organization.
			</documentation>
		</annotation>
		<sequence>
			<element name="OrganizationIdentifier" type="_wcf:OrganizationIdentifierType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The organization identifier.</documentation>
				</annotation>
			</element>
			<element name="ParentOrganizationIdentifier" type="_wcf:OrganizationIdentifierType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The identifier for the parent organization.</documentation>
				</annotation>
			</element>
			<element name="OrganizationName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Short name for the organization.</documentation>
				</annotation>
			</element>
			<element name="BusinessCategory" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The business category, which describes the kind of business performed by the organization. </documentation>
				</annotation>
			</element>
			<element name="Description" type="_wcf:DescriptionType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A description of the organization. Locale is not currently used.</documentation>
				</annotation>
			</element>
			<element name="LegalIdentifier" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The government assigned identifier of the organization.  </documentation>
				</annotation>
			</element>
			<element ref="_mbr:ContactInfo" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The primary contact information.</documentation>
				</annotation>
			</element>
			<element ref="_mbr:AddressBook" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A list of contact information.</documentation>
				</annotation>
			</element>
			<element ref="_mbr:ContextAttribute" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>Store specific attributes of the organization.</documentation>
				</annotation>
			</element>
			<element name="Attributes" type="_wcf:NameValuePairType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>Additional attributes of the organization:
						orgEntityField1:			Customizable field.
						orgEntityField2:			Customizable field.
						orgEntityField3:			Customizable field.
						taxPayerId:					Identification for tax purposes.				
						administratorFirstName:		Administrator's first name.
						administratorLastName:		Administrator's last name.
						administratorMiddleName:	Administrator's middle name.
					</documentation>
				</annotation>
			</element>			
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="registrationApprovalStatus" type="_mbr:RegistrationApprovalStatusType" use="optional"/>
		<attribute name="status" type="_mbr:OrganizationStatusType" use="optional"/>
		<attribute name="type" type="_mbr:OrganizationalEntityType" use="optional"/>
	</complexType>

	<element name="Organization" type="_mbr:OrganizationType" >
		<annotation>
			<documentation>The element definition of OrganizationType.</documentation>
		</annotation>
	</element>

</schema>