WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_mbr="http://www.ibm.com/xmlns/prod/commerce/9/member"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/member"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified" 
	ecore:nsPrefix="_mbr"
	ecore:package="com.ibm.commerce.member.facade.datatypes">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />

	<include schemaLocation="../Components/MemberCommon.xsd"></include>	
	
	<annotation>
		<documentation>
			This file defines types related to a person. A person is a human that can be a guest, 
			a registered user or an administrator.</documentation>
	</annotation>
	
	<complexType name="SecurityHintType">
		<sequence>
			<element name="Question" type="string" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						Challenge question to confirm a person's identity.
					</documentation>
				</annotation>
			</element>
			<element name="Answer" type="string" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>Answer to the challenge question.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="SecurityHint" type="_mbr:SecurityHintType">
		<annotation>
			<documentation>The element definition of a security hint.</documentation>
		</annotation>
	</element>

	<complexType name="CredentialType">
		<annotation>
			<documentation>The type definition of an authentication entry.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="LogonID" type="string">
				<annotation>
					<documentation>The person's logon ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Password" type="string">
				<annotation>
					<documentation>The person's logon password.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_mbr:SecurityHint">
				<annotation>
					<documentation>
						Challenge question for confirmation of the person's identity.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="Credential" type="_mbr:CredentialType">
		<annotation>
			<documentation>The element definition of challenge information.</documentation>
		</annotation>
	</element>

	<complexType name="BusinessProfileType">
        <sequence>
			<element name="EmployeeID" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A method to identify the employee, such as by employee number. </documentation>
				</annotation>
			</element>
			<element name="EmployeeType" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The employee type, such as regular, part time, special part time, supplemental or contractor. </documentation>
				</annotation>
			</element>
			<element name="DepartmentNumber" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The department number for the person. </documentation>
				</annotation>
			</element>
			<element name="Manager" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The name of the manager or supervisor of the person. </documentation>
				</annotation>
			</element>
			<element name="Secretary" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The name of the secretary or administrative assistant of the person. </documentation>
				</annotation>
			</element>
			<element name="Attributes" type="_wcf:NameValuePairType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>Additional attributes of the business profile:
						organizationId:		Associated organization ID used by procurements.
						organizationUnitId:	Associated organization unit ID.
						requisitionerId:	A unique ID for identifying the procurement requisitioner.
						alternateId:		A special ID assigned by the organization to which this person belongs.
					</documentation>
				</annotation>
			</element>			
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="BusinessProfile" type="_mbr:BusinessProfileType">
		<annotation>
			<documentation>
				Element definition of the business profile type.
			</documentation>
		</annotation>
	</element>
	
	<simpleType name="PreferredCommunicationEnumerationType">
	    <annotation>
	        	<documentation>The default values of the preferred means of communication.
	        			Telephone1: The primary telephone number.
						Telephone2: The secondary Telephone number.
						Email1:		The primary email address.
						Email2: 	The secondary email address.
						Fax1: 		The primary fax number.
						Fax2:		The secondary fax number. 
				</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="Telephone1"/>
	            <enumeration value="Telephone2"/>
	           	<enumeration value="Email1"/>
	           	<enumeration value="Email2"/>	         
	           	<enumeration value="Fax1"/>
	           	<enumeration value="Fax2"/>	  	           	  	
		</restriction>
	</simpleType>
	
	<simpleType name="PreferredCommunicationType">
	    	<annotation>
	        	<documentation>Allows extension to the default preferred means of communication.
			</documentation>
		</annotation>
		<union memberTypes="_mbr:PreferredCommunicationEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>	
	
	<complexType name="ReceiveEmailPreferenceType">
		<annotation>
			<documentation>
				The type definition of a person's preference to receive email from a store.
			</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Value" type="boolean">
				<annotation>
					<documentation>True if the person would like to receive email
					from the specified store; false otherwise.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="StoreID" type="string" use="optional">
			<annotation>
				<documentation>The store context for this preference. StoreID 0 implies all stores. </documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="ReceiveSMSPreferenceType">
		<annotation>
			<documentation>
				The type definition of a person's preference to receive SMS promotions from a store.
			</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Value" type="boolean">
				<annotation>
					<documentation>True if the person would like to receive SMS promotions
					from the specified store; false otherwise.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="StoreID" type="string" use="optional">
			<annotation>
				<documentation>The store context for this preference. StoreID 0 implies all stores. </documentation>
			</annotation>
		</attribute>
	</complexType>	

	<simpleType name="GenderType">
	    <annotation>
	        	<documentation>Specifies the gender of the person.
				</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="Male"/>
	            <enumeration value="Female"/>
	           	<enumeration value="Unspecified"/>
		</restriction>
	</simpleType>	
	
	<complexType name="IncomeAmountType">
		<annotation>
			<documentation>The type definition of an integer monetary amount.</documentation>
		</annotation>
		<simpleContent>
			<annotation>
				<documentation>The amount of income.</documentation>
			</annotation>
			<extension base="int">
				<attribute name="currency" type="_wcf:CurrencyType" use="optional">
					<annotation>
						<documentation>The currency of the income.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>	
		
	<simpleType name="MaritalStatusEnumerationType">
	    <annotation>
	        	<documentation>Default marital status values.
				</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="Single"/>
	            <enumeration value="Married"/>
	           	<enumeration value="Widowed"/>
	           	<enumeration value="Divorced"/>	
	          	<enumeration value="Separated"/>	           	    
	           	<enumeration value="CommonLaw"/>	    
	          	<enumeration value="Other"/>	    
		</restriction>
	</simpleType>
	
	<simpleType name="MaritalStatusType">
	    	<annotation>
	        	<documentation>Allows extension to the default marital status values.
			</documentation>
		</annotation>
		<union memberTypes="_mbr:MaritalStatusEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>

	<complexType name="PersonalProfileType">
		<annotation>
			<documentation>The person's demographic information and preferences. </documentation>
		</annotation>
		<sequence>
			<element name="PreferredCurrency" type="_wcf:CurrencyType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Preferred currency in 3-character alphabetic code as per ISO 4217. </documentation>
				</annotation>
			</element>
			<element name="PreferredLanguage" type="_wcf:LanguageType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Preferred language.</documentation>
				</annotation>
			</element>
			<element name="DisplayName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Display name of the entry. This is a name used in displaying an entry in a one line summary list. </documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Description of the person. </documentation>
				</annotation>
			</element>			
			<element name="PhotoURI" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The location of a photograph of the person.</documentation>
				</annotation>
			</element>
			<element name="PreferredCommunication" type="_mbr:PreferredCommunicationType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Preferred method of communication, for example:
						Telephone1: The primary telephone number.
						Telephone2: The secondary Telephone number.
						Email1:		The primary email address.
						Email2: 	The secondary email address.
						Fax1: 		The primary fax number.
						Fax2:		The secondary fax number. 
					</documentation>
				</annotation>
			</element>				
			<element name="PreferredDelivery" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Preferred delivery method. </documentation>
				</annotation>
			</element>
			<element name="ReceiveSMSNotification" type="boolean" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Receive SMS Notification method. </documentation>
				</annotation>
			</element>			
			<element name="ReceiveEmailPreference" type="_mbr:ReceiveEmailPreferenceType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>Preference to receive email from different stores. </documentation>
				</annotation>
			</element>
			<element name="ReceiveSMSPreference" type="_mbr:ReceiveSMSPreferenceType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>Preference to receive SMS promotions from different stores. </documentation>
				</annotation>
			</element>			
			<element name="Gender" type="_mbr:GenderType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The gender of the person. Valid values are as follows:
								Male
								Female
					</documentation>
				</annotation>
			</element>
			<element name="Income" type="_mbr:IncomeAmountType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The annual income for the person.</documentation>
				</annotation>
			</element>
			<element name="MaritalStatus" type="_mbr:MaritalStatusType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Marital status, for example: 
						Single
						Married
						Widowed
						Divorced
						Separated
						Common Law						
						Other
					</documentation>
				</annotation>
			</element>
			<element name="NumberOfChildren" type="int" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The number of children that the person has. If not provided, the default is 0. </documentation>
				</annotation>
			</element>
			<element name="HouseholdSize" type="int" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Number of people in the household. </documentation>
				</annotation>
			</element>
			<element name="CompanyName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The company for which the person works. </documentation>
				</annotation>
			</element>
			<element name="Hobbies" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The main interests and hobbies of the person.</documentation>
				</annotation>
			</element>
			<element name="DateOfBirth" type="date" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The date of birth of the person.</documentation>
				</annotation>
			</element>
			<element name="RegistrationDateTime" type="dateTime" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The date and time of registration.</documentation>
				</annotation>
			</element>
			<element name="LastUpdate" type="dateTime" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The date and time of the last update.</documentation>
				</annotation>
			</element>
			<element name="Attributes" type="_wcf:NameValuePairType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>Additional attributes of the personal profile:
						userProfileField1:	Customizable field.
						userProfileField2:	Customizable field.
						preferredMeasure:	Preferred unit of measure, for example, Metric or Imperial.						
						age:				Age of the person.
						taxPayerId:			Identification for tax purposes.
						timeZone:			The time zone in which the person resides (up to five characters).
						demographicField1:  Customizable string (1 character).
						demographicField2:	Customizable string (1 character).
						demographicField3:	Customizable string (1 character).
						demographicField4:  Customizable string (1 character).
						demographicField5:  Customizable string (254 characters).
						demographicField6:	Customizable field (integer).														
						demographicField7:	Customizable string (64 characters).																						
					</documentation>
				</annotation>
			</element>			
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Available for customization.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="PersonalProfile" type="_mbr:PersonalProfileType">
		<annotation>
			<documentation>The element definition of the personal profile type.</documentation>
		</annotation>
	</element>

	<simpleType name="RegistrationStatusType">
	    	<annotation>
	        	<documentation>Specifies the registration status of the person:
	        	
					Guest - A person that has not registered.
					RegisteredPerson - A registered person.
					
					This is read only.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="Guest"/>
	            <enumeration value="RegisteredPerson"/>
		</restriction>
	</simpleType>
	
	<simpleType name="AccountStatusType">
	    <annotation>
	        	<documentation>The status of the person's account:
	        	
					Enabled  - The user is allowed to login.
					Disabled - The user is not allowed to login.
				</documentation>
		</annotation>
		<restriction base="normalizedString">
	            <enumeration value="Enabled"/>
	            <enumeration value="Disabled"/>
		</restriction>
	</simpleType>	
	
	<simpleType name="ProfileType">
	    	<annotation>
	        	<documentation>The type of profile a person has:
					Consumer: A consumer profile.
					Business: A business profile.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
		    <enumeration value="Consumer"/>
	        <enumeration value="Business"/>
		</restriction>
	</simpleType>
	
	<element name="PersonBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
			
	<complexType name="PersonType">
		<annotation>
	        	<documentation>
	        		Represents a human. It can be a guest, a registered user or an administrator.
			</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="_wcf:PersonIdentifierType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The person identifier.</documentation>
				</annotation>
			</element>
			<element name="ParentOrganizationIdentifier" type="_wcf:OrganizationIdentifierType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The identifier of the parent organization.</documentation>
				</annotation>
			</element>	
			<element ref="_mbr:Credential" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The credential information.</documentation>
				</annotation>
			</element>						
			<element ref="_mbr:PersonalProfile" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The personal profile.</documentation>
				</annotation>
			</element>
			<element ref="_mbr:BusinessProfile" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The business profile.</documentation>
				</annotation>
			</element>
			<element ref="_mbr:ContactInfo" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The primary contact information.</documentation>
				</annotation>
			</element>
			<element ref="_mbr:AddressBook" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A list of the contact information.</documentation>
				</annotation>
			</element>
			<element ref="_mbr:ContextAttribute" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>Store specific attributes of the person.</documentation>
				</annotation>
			</element>
			<element name="Attributes" type="_wcf:NameValuePairType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>Additional attributes of the person:
						userField1:	Customizable field.
						userField2:	Customizable field.
						userField3:	Customizable field.
					</documentation>
				</annotation>
			</element>			
   		    <element ref="_mbr:CheckoutProfile" minOccurs="0" maxOccurs="unbounded"/>		
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="registrationStatus" type="_mbr:RegistrationStatusType" use="optional"/>
		<attribute name="registrationApprovalStatus" type="_mbr:RegistrationApprovalStatusType" use="optional" />	
		<attribute name="profileType" type="_mbr:ProfileType" use="optional"/>
		<attribute name="passwordExpired" type="boolean" use="optional">
			<annotation>
				<documentation>
					Specifies whether or not the person password has expired.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="accountStatus" type="_mbr:AccountStatusType" use="optional">
			<annotation>
				<documentation>
					Allows the person to have the logon ID disabled without removing the person from
					the system.
				</documentation>
			</annotation>
		</attribute>	
	</complexType>

	<element name="Person" type="_mbr:PersonType" >
		<annotation>
			<documentation>The element definition of PersonType.</documentation>
		</annotation>
	</element>
	
	<element name="CheckoutProfile" type="_mbr:CheckoutProfileType">
		<annotation>
			<documentation>
				The element definition of CheckoutProfile.
			</documentation>
		</annotation>
	</element>

	<complexType name="CheckoutProfileType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="_mbr:PaymentInfo">
				<annotation>
					<documentation>Payment information of the CheckoutProfile.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_mbr:ShippingInfo">
				<annotation>
					<documentation>Shipping information of the CheckoutProfile.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="LastUpdate" type="dateTime">
				<annotation>
					<documentation>Time the CheckoutProfile was last updated.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="PaymentInfo" type="_wcf:PaymentInfoType">
		<annotation>
			<documentation>The element definition of the CheckoutProfile's payment information.</documentation>
		</annotation>
	</element>

	<element name="ProtocolData" type="_wcf:ProtocolDataType">
		<annotation>
			<documentation>The element definition of a protocol data entry.</documentation>
		</annotation>
	</element>
	
	<element name="ShippingInfo" type="_wcf:ShippingInfoType">
		<annotation>
			<documentation>The element definition of the CheckoutProfile's shipping information.</documentation>
		</annotation>
	</element>

</schema>
