WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/PhysicalStore.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2008, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
	For support, more information, or to report implementation bugs, 
	please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
	
	** Revision:  IBM_WebSphere_Commerce 1.0 **
	
	Copyright IBM (c) 2008, All Rights Reserved
	
-->
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/store"
	xmlns:_sto="http://www.ibm.com/xmlns/prod/commerce/9/store"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified" ecore:nsPrefix="_sto"
	ecore:package="com.ibm.commerce.store.facade.datatypes">
	
	<annotation>
		<documentation>This PhysicalStore XML schema file defines the PhysicalStore noun. </documentation>
	</annotation>
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" 
			schemaLocation="../Components/CommonTypes.xsd"/>

	<include schemaLocation="GeoNode.xsd"></include>		
			
	<element name="PhysicalStoreBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the PhysicalStore noun 
				was last changed.  The value is set as the versionID attribute in the 
				corresponding BODs.
			</documentation>
		</annotation>
	</element>
			
	<element name="PhysicalStore" type="_sto:PhysicalStoreType">
		<annotation>
			<documentation>The element definition of the PhysicalStore noun. </documentation>
		</annotation>
	</element>

	<complexType name="PhysicalStoreType">
		<annotation>
			<documentation>The type definition of the PhysicalStore noun. </documentation>
		</annotation>
		<sequence>
			<element ref="_sto:PhysicalStoreIdentifier" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The physical store Identifier.
					</documentation>
				</annotation>
			</element>
            <element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0"></element>
            <element ref="_sto:Description" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The physical store description.
					</documentation>
				</annotation>
			</element>
			<element ref="_sto:LocationInfo" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The phsical store location information.
					</documentation>
				</annotation>
			</element>
			<element ref="_sto:Attribute" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The physical store searchable attributes.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="PhysicalStoreIdentifier" type="_wcf:PhysicalStoreIdentifierType" >	
		<annotation>
			<documentation>The element defintion of the physical store identifier. </documentation>
		</annotation>		
	</element>	

	<element name="Description" type="_sto:PhysicalStoreDescriptionType" >	
		<annotation>
			<documentation>The element definition of the physical store description. </documentation>
		</annotation>		
	</element>	
	
	<complexType name="PhysicalStoreDescriptionType">
		<annotation>
			<documentation>The type definition of the physical store description.</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The physical store name. </documentation>
				</annotation>					
			</element>
			<element name="Thumbnail" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Thumbnail image of the physical store. </documentation>
				</annotation>		
			</element>
			<element name="FullImage" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Full image of the physical store. </documentation>
				</annotation>		
			</element>
			<element name="ShortDescription" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The physical store description. </documentation>
				</annotation>		
			</element>
			<element ref="_wcf:UserData" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>	
	</complexType>

	<element name="LocationInfo" type="_sto:PhysicalStoreLocationInfoType" >	
		<annotation>
			<documentation>The element definition of the physical store location information. </documentation>
		</annotation>		
	</element>	
	
	<complexType name="PhysicalStoreLocationInfoType">
		<annotation>
			<documentation>The type definition of the physical store location information. </documentation>
		</annotation>		
		<complexContent>
			<extension base="_wcf:ContactInfoType">
				<sequence>
					<element ref="_sto:GeoCode" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The geo code of the physical store. </documentation>
						</annotation>					
					</element>
					<element ref="_sto:GeoNodeIdentifier" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The ID of the geo node in which the physical store locates. </documentation>
						</annotation>					
					</element>
					<element name="Distance" type="_wcf:QuantityType" minOccurs="0" maxOccurs="1" >
						<annotation>
							<documentation>The distance between the input center location and this physical store location.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
		
	<element name="GeoCode" type="_sto:PhysicalStoreGeoCodeType" >	
		<annotation>
			<documentation>The element definition of the geo code. </documentation>
		</annotation>		
	</element>	

	<complexType name="PhysicalStoreGeoCodeType">
		<annotation>
			<documentation>The type definition of the geo Code. </documentation>
		</annotation>					
		<sequence>
			<element name="Latitude" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The latitude of the geo code. </documentation>
				</annotation>		
			</element>
			<element name="Longitude" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The longitude of the geo code. </documentation>
				</annotation>		
			</element>
		</sequence>		
	</complexType>
	
	<element name="Attribute" type="_sto:PhysicalStoreAttributeType" >	
		<annotation>
			<documentation>The element definition of the physical store searchable attribute. </documentation>
		</annotation>		
	</element>	

	<complexType name="PhysicalStoreAttributeType">
		<annotation>
			<documentation>The type definition of the physical store searchable attribute. </documentation>
		</annotation>					
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The attribute name. </documentation>
				</annotation>		
			</element>
			<element name="Value" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The attribute value. </documentation>
				</annotation>		
			</element>	
			<element name="DisplayName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The display name of the attribute.</documentation>
				</annotation>		
			</element>	
			<element name="DisplayValue" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The display value of the attribute.</documentation>
				</annotation>		
			</element>		
			<element name="Image" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The attribute image directory. </documentation>
				</annotation>		
			</element>		
			<element name="Displayable" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The flag to indicate whether the attribute is displayable. </documentation>
				</annotation>		
			</element>
			<element name="DisplaySequence" type="double" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The attribute display sequence. </documentation>
				</annotation>		
			</element>
			<element ref="_wcf:UserData" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>	
	</complexType>
	
</schema>
