WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/PointOfInterest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_loc="http://www.ibm.com/xmlns/prod/commerce/9/location"
	attributeFormDefault="unqualified" ecore:nsPrefix="_loc"
	ecore:package="com.ibm.commerce.location.facade.datatypes"
	elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/location">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/BaseTypes.xsd" />

	<complexType name="PointOfInterestType">
		<annotation>
			<documentation>
				Represents a point of interest specified by a point
				and radius.
			</documentation>
			<appinfo></appinfo>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="PointOfInterestIdentifier"
				type="_loc:PointOfInterestIdentifierType">
				<annotation>
					<appinfo></appinfo>
					<documentation>
						Internal identifier of the point of interest.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Status" type="string">
				<annotation>
					<documentation>
						Status of the record. For example, this
						field could	be used to distinguish between
						Active and Expired records.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="POIType" type="string">
				<annotation>
					<appinfo></appinfo>
					<documentation>
						Type (or classification) of the point of interest.
						Specifically, a point of interest representing a
						physical store will have the type "Store".
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="RegionID" type="string">
				<annotation>
					<appinfo></appinfo>
					<documentation>
						Identifies a region (e.g. "Canada")
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ZoneID" type="string">
				<annotation>
					<appinfo></appinfo>
					<documentation>
						Identifies a subregion within a region, such
						such as	a physical store. Specifically,
						each physical store defined in the
						WC Store Locator component will have a 
						corresponding PointOfInterest defined in the 
						Location service with a Zone ID equal to the 
						physical store's external identifier and the 
						type "Store".
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="CellID" type="string">
				<annotation>
					<appinfo></appinfo>
					<documentation>
						Identifies a subregion within a zone,
						such as an aisle or department.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="PointID" type="string">
				<annotation>
					<appinfo></appinfo>
					<documentation>
						Identifies a point within a cell
						such as a kiosk or shelf.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="Description"
				type="_loc:PointOfInterestDescriptionType">
				<annotation>
					<documentation>
						Description of the point of interest.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Tags" type="string">
				<annotation>
					<documentation>
						Reserved for IBM internal use.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Latitude" type="double">
				<annotation>
					<documentation>
						Latitude (in degrees) of the POI's center.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Longitude" type="double">
				<annotation>
					<documentation>
						Longitude (in degrees) of the POI's center.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Altitude" type="double">
				<annotation>
					<documentation>
						Height (in meters) of the POI.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Radius" type="double">
				<annotation>
					<documentation>
						Radius (in meters) of the POI's
						boundary, assuming it is a circle.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="Precedence" type="double">
				<annotation>
					<documentation>
						Reserved for IBM internal use.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The related point of interest customization information.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element fixed="7" name="PointOfInterestBODVersion" type="string">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun
				was last changed.
				The value is set as the versionID attribute in the
				corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<element name="PointOfInterest" type="_loc:PointOfInterestType">
		<annotation>
			<documentation>
				Element definition for the PointOfInterest datatype.
			</documentation>
		</annotation>
	</element>

	<complexType name="PointOfInterestIdentifierType">
		<annotation>
			<documentation>
				A type definition for a PointOfInterest identifier.
			</documentation>
			<appinfo></appinfo>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID for the PointOfInterest record. This
						should be a unique value generated by the application.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ExternalIdentifier"
				type="_loc:PointOfInterestExternalIdentifierType">
				<annotation>
					<documentation>
						An external identifier for the PointOfInterest
						record.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PointOfInterestExternalIdentifierType">
		<annotation>
			<appinfo></appinfo>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ProgramID" type="string">
				<annotation>
					<appinfo></appinfo>
					<documentation>
						Identifies the overall application, program or
						organization (e.g. "Test", "Production") to
						which this record belongs.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="StoreID" type="string">
				<annotation>
					<appinfo></appinfo>
					<documentation>
						Store identifier.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="Identifier" type="string">
				<annotation>
					<documentation>
						The name of the point of interest record.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PointOfInterestDescriptionType">
		<annotation>
			<appinfo></appinfo>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Name" type="string">
				<annotation>
					<documentation>
						Human-readable name of the point of interest (POI)
						being described.
				</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShortDescription"
				type="string">
				<annotation>
					<documentation>
						A short description of the POI -- e.g. one or 
						two sentences.
				</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="LongDescription"
				type="string">
				<annotation>
					<documentation>
						A longer description of the POI -- e.g. a 
						paragraph.
				</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="DisplayImage1"
				type="string">
				<annotation>
					<documentation>
						Uniform resource identifier (URI) of an image 
						which may displayed regarding the POI (e.g. 
						a store facade or logo).
				</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="DisplayImage2"
				type="string">
				<annotation>
					<documentation>
						Uniform resource identifier (URI) of a secondary 
						image which may displayed regarding the POI (e.g.
						a store facade or logo).
				</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The related point of interest description customization information.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType">
			<annotation>
				<appinfo></appinfo>
				<documentation>
					Identifier for the language in which the description
					is expressed.
				</documentation>
			</annotation>
		</attribute>
	</complexType>
</schema>