WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/PriceConstant.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/price"
	ecore:nsPrefix="_prc" ecore:package="com.ibm.commerce.price.facade.datatypes"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_prc="http://www.ibm.com/xmlns/prod/commerce/9/price">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/BaseTypes.xsd" />
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/IdentifierTypes.xsd" />


	<annotation>
		<documentation>This XML schema file defines the Price Constant
			noun.
		</documentation>
	</annotation>

	<element name="PriceConstantBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>The version of WebSphere Commerce when the noun was last changed. The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<complexType name="PriceConstantType">
		<annotation>
			<documentation>Price constant is a name for an actual number or monetary amount. For example, a constant such as 'Uplift for EU countries' is used in equations that increase prices in EU countries.
</documentation>
		</annotation>
		<sequence>
			<element name="PriceConstantIdentifier"
				type="_wcf:PriceConstantIdentifierType">
				<annotation>
					<documentation>
						The unique identifier of the price constant.
					</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The description of the price constant.
					</documentation>
				</annotation>
			</element>
            <element name="Format" type="_prc:PriceConstantFormatType" minOccurs="0" maxOccurs="1">
            	<annotation>
            		<documentation>The type of price constant. It can be a number or a monetary value.</documentation>
            	</annotation></element>
            <element name="Values" type="_prc:PriceConstantValueType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The values of the price constant.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:CreatedTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The create time of the price constant.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:LastUpdateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The last update time of the price constant.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>			
			</element>
		</sequence>
	</complexType>

	<element name="PriceConstant" type="_prc:PriceConstantType">
		<annotation>
			<documentation>Price constant is a reusable number or monetary value with a name indicating its business meaning. For example, a constant 'Uplift for EU countries' is used to increase prices in EU countries.
</documentation>
		</annotation>
	</element>

    <complexType name="PriceConstantValueType">
    	<annotation>
    		<documentation>The value type of the price constant.
			</documentation>
    	</annotation>
    	<choice>
			<element name="NumberValue" type="decimal"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The number value of the price constant.
					</documentation>
				</annotation>
			</element>
			<element name="MonetaryValue" type="_prc:MonetaryValueType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The monetary value of the price constant.
					</documentation>
				</annotation>
			</element>
		</choice>
    </complexType>
    
    <complexType name="MonetaryValueType">
    	<annotation>
    		<documentation>The monetary value type of the price constant.
			</documentation>
    	</annotation>
    	<sequence>
    		<element name="DefaultCurrencyValue" type="_wcf:MonetaryAmountType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The monetary value in store's default currency of the price constant.
					</documentation>
				</annotation>
			</element>
			<element name="AlternativeCurrencyValue" type="_wcf:MonetaryAmountType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The monetary value in store's other currencies of the price constant.
					</documentation>
				</annotation>
			</element>
    	</sequence>
    </complexType>
    
    <simpleType name="PriceConstantFormatType">
		<annotation>
			<documentation>Allows extension to the price constant type.
			</documentation>
		</annotation>
		<union
			memberTypes="_prc:PriceConstantTypeEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>

	<simpleType name="PriceConstantTypeEnumerationType">
		<annotation>
			<documentation>The type of price constant. It can be type of Number or MonetaryAmount.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Number"></enumeration>
			<enumeration value="MonetaryAmount"></enumeration>
			<enumeration value="Percent"></enumeration>
		</restriction>
	</simpleType>
</schema>
