WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/PriceRule.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/price"
	ecore:nsPrefix="_prc" ecore:package="com.ibm.commerce.price.facade.datatypes"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_prc="http://www.ibm.com/xmlns/prod/commerce/9/price">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/BaseTypes.xsd" />
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/IdentifierTypes.xsd" />


	<annotation>
		<documentation>This XML schema file defines the PriceRule noun.
		</documentation>
	</annotation>

	<element name="PriceRuleBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>The version of WebSphere Commerce when the noun was last changed. The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<complexType name="PriceRuleType">
		<annotation>
			<documentation>Price rule is a business rule which defines how to calculate price under different business conditions.
			</documentation>
		</annotation>
		<sequence>
			<element name="PriceRuleIdentifier"
				type="_wcf:PriceRuleIdentifierType">
				<annotation>
					<documentation>The unique identifier of the price rule.
					</documentation>
				</annotation>
			</element>
			<element ref="_prc:PriceRuleElement" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>The price rule elements contained by a price rule.
					</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The description of the price rule.
					</documentation>
				</annotation>
			</element>
			<element name="Version" type="float" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>Reserved for IBM internal use.
					</documentation>
				</annotation>
			</element>
			<element name="State" type="_prc:PriceRuleStateType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Reserved for IBM internal use.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:CreatedTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The create time of the price rule.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:LastUpdateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The last update time of the price rule.
					</documentation>
				</annotation>
			</element>
			<element name="Dependent"
				type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Indicates if the price rule is dependent or independent. A dependent price rule means it needs an input price to give an 
        	resultant price, while independent price rule does not need an input price because it contains a price list element or another independent 
        	price rule to get the initial price for the calculation. Only independent price rule can be assigned to a contract. Both independent and 
        	dependent price rules can nested in other independent price rules.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
			<element name="Format" type="_prc:PriceRuleFormatType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The type of a price rule.</documentation>
				</annotation></element>
		</sequence>
	</complexType>

	<element name="PriceRule" type="_prc:PriceRuleType">
		<annotation>
			<documentation>Price rule is a business rule which defines how to calculate price under different business conditions.</documentation>
		</annotation>
	</element>

	<element name="PriceRuleElement" type="_prc:PriceRuleElementType">
		<annotation>
			<documentation>Price rule elements could be path, condition, action and branch, etc. These elements function together to determine the flow of a price rule.</documentation>
		</annotation>
	</element>

	<simpleType name="PriceRuleStateType">
		<annotation>
			<documentation>The states of price rules. </documentation>
		</annotation>
		<union
			memberTypes="_prc:PriceRuleStateEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>

	<simpleType name="PriceRuleStateEnumerationType">
		<annotation>
			<documentation>The state of price rules. When a new price rule is created, its state is Draft. After you finish composing it and activate it, its state is changed to Ready.
			When you don't want it to be assigned to any contracts any more, you can suspend it, then the state is changed to Suspend. When there is no reference to the price rule and 
			you don't want to be used any more, you can close it, then its state is changed to Closed.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Draft"></enumeration>
			<enumeration value="Ready"></enumeration>
			<enumeration value="Suspend"></enumeration>
			<enumeration value="Closed"></enumeration>
		</restriction>
	</simpleType>

	
	<complexType name="PriceRuleElementTemplateIdentifierType">
		<annotation>
			<documentation>The identifier of a price rule element template.</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The unique identifier of price rule element template.
					</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier"
				type="_prc:PriceRuleElementTemplateExternalIdentifierType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The external identifier of price rule element template.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="PriceRuleElementTemplateExternalIdentifierType">
		<annotation>
			<documentation>The external identifier of a price rule element template.</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name of price rule element template.
					</documentation>
				</annotation>
			</element>
			<element name="PriceRuleElementTemplateGroup" type="_prc:PriceRuleElementTemplateGroupType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The group of price rule element templates.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The store identifier.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PriceRuleElementType">
        <annotation>
        	<documentation>Price rule elements could be path, condition, action and branch, etc. These elements function together to determine the flow of a price rule.</documentation>
        </annotation>
        <complexContent>
			<extension base="_wcf:FlowElementType">
				<sequence>
					<element name="ElementTemplateIdentifier" type="_prc:PriceRuleElementTemplateIdentifierType"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<simpleType name="PriceRuleElementTemplateGroupType">
		<annotation>
			<documentation>The group of price rule element templates.</documentation>
		</annotation>
		<union
			memberTypes="_prc:PriceRuleElementTemplateGroupEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>

	<simpleType name="PriceRuleElementTemplateGroupEnumerationType">
		<annotation>
			<documentation>The group of price rule element templates.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Path"></enumeration>
			<enumeration value="Condition"></enumeration>
			<enumeration value="Action"></enumeration>
			<enumeration value="Branch"></enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="PriceRuleFormatType">
		<annotation>
			<documentation>The type of the price rule.</documentation>
		</annotation>
		<union
			memberTypes="_prc:PriceRuleTypeEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>

	<simpleType name="PriceRuleTypeEnumerationType">
		<annotation>
			<documentation>The type of the price rule. Internal indicates the rule is defined in WebSphere Commerce. External indicates the rule is imported into WebSphere Commerce from an external rule engine such as JRules.	
</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Internal"></enumeration>
			<enumeration value="External"></enumeration>
		</restriction>
	</simpleType>
</schema>
