WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/PriceEquation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/price"
	ecore:nsPrefix="_prc" ecore:package="com.ibm.commerce.price.facade.datatypes"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_prc="http://www.ibm.com/xmlns/prod/commerce/9/price">
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd" />
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/BaseTypes.xsd" />
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/IdentifierTypes.xsd" />

	<annotation>
		<documentation>This XML schema file defines the Price Equation
			noun.
		</documentation>
	</annotation>

	<element name="PriceEquationBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>The version of WebSphere Commerce when the noun was
				last changed. The value is set as the versionID attribute in the
				corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<element name="PriceEquation" type="_prc:PriceEquationType">
		<annotation>
			<documentation>Price equation is a expression for price
				calculation. For example, '(offerprice * 10% - 100)' is an simple
				equation.
			</documentation>
		</annotation>
	</element>

	<element name="EquationEntry" type="_prc:PriceEquationEntryType"></element>

	<complexType name="PriceEquationType">
		<annotation>
			<documentation>Price equation is a expression for price
				calculation. For example, '(offerprice * 10% - 100)' is an simple
				equation.</documentation>
		</annotation>
		<complexContent>
			<extension base="_wcf:FormulaType">
				<sequence>
					<element name="PriceEquationEntry" type="_prc:PriceEquationEntryType"
						minOccurs="0" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PriceEquationEntryIdentifierType">
		<annotation>
			<documentation>The identifier of the equation entry.
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of the equation entry.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PriceEquationEntryType">
		<annotation>
			<documentation>Equation entry could be
				PriceList,Operator,LeftParenthesis,RightParenthesis,Number,PriceConstant,InputPrice,Custom
				which function together to compose a price equation.</documentation>
		</annotation>
		<sequence>
			<element name="PriceEquationEntryIdentifier" type="_prc:PriceEquationEntryIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of the equation entry.
					</documentation>
				</annotation>
			</element>
			<element name="PriceEquationEntryFormat" type="_prc:PriceEquationEntryFormatType"
				minOccurs="0" maxOccurs="1"></element>
			<element name="PriceEquationEntrySequence" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The sequence of the equation entry under the
						same
						equation.
    				</documentation>
				</annotation>
			</element>
			<element name="Value" type="string" minOccurs="0" maxOccurs="1"></element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<simpleType name="PriceEquationEntryFormatType">
		<annotation>
			<documentation>Allows extension to the default price equation
				entry types.
			</documentation>
		</annotation>
		<union
			memberTypes="_prc:PriceEquationEntryFormatEnumerationType _wcf:EnumerationExtensionType" />
	</simpleType>

	<simpleType name="PriceEquationEntryFormatEnumerationType">
		<annotation>
			<documentation>The types of supported price equation entry types.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="PriceList"></enumeration>
			<enumeration value="Operator"></enumeration>
			<enumeration value="LeftParenthesis"></enumeration>
			<enumeration value="RightParenthesis"></enumeration>
			<enumeration value="Number"></enumeration>
			<enumeration value="PriceConstant"></enumeration>
			<enumeration value="InputPrice"></enumeration>
		</restriction>
	</simpleType>


</schema>
