WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Promotion.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2006, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/promotion"
	ecore:nsPrefix="_pro"
	ecore:package="com.ibm.commerce.promotion.facade.datatypes"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_pro="http://www.ibm.com/xmlns/prod/commerce/9/promotion"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation">

	<annotation>
		<documentation>
			This file contains all type definitions that make up a
			Promotion.
		</documentation>
	</annotation>


	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd">
	</import>
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommerceFoundation.xsd"></import>
	<element name="PromotionBODVersion" type="string" fixed="7.0.0.1">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last
				changed. The value is set as the versionID attribute in
				the corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<element name="Description" type="_pro:DescriptionType">
		<annotation>
			<documentation>Element definition of the description.</documentation>
		</annotation>
	</element>
	<complexType name="DescriptionType">
		<annotation>
			<documentation>The language specific description type for promotion component.</documentation>
		</annotation>
		<sequence>
			<element name="ShortDescription" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Short description.</documentation>
				</annotation>
			</element>
			<element name="LongDescription" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Long description.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>
	</complexType>

	<complexType name="PromotionType">
		<annotation>
			<documentation>Type definition of a promotion noun.</documentation>
		</annotation>
		<sequence>
			<element name="PromotionIdentifier"
				type="_wcf:PromotionIdentifierType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Promotion identifier.</documentation>
				</annotation>
			</element>
			<element name="PromotionType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The registered promotion rule type which
						indicates the actual implementation of the
						runtime promotion object as well as general rule
						conditions, for example
						&quot;OrderLevelPercentDiscount&quot;.
					</documentation>
				</annotation>
			</element>
			<element name="Status" type="_pro:PromotionStatusType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Promotion status.</documentation>
				</annotation>
			</element>
			<element name="Priority" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>Priority of the promotion.</documentation>
                </annotation>
			</element>
			<element name="ExclusiveType" type="_pro:PromotionExclusiveTypeType" minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>Flag indicates the promotion exclusiveness.</documentation>
                </annotation>
			</element>
			<element name="AdministrativeName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Administrative name of the promotion which is displayed in the user interface.</documentation>
				</annotation>
			</element>
			<element name="Comments" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Optional comments of the promotion.</documentation>
				</annotation>
			</element>
			<element ref="_pro:Schedule" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Promotion schedule information.</documentation>
				</annotation>
			</element>
			<element ref="_pro:RedemptionLimit" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Promotion redemption limit inoformation.</documentation>
				</annotation>
			</element>
			<element ref="_pro:Description" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>The language specific descriptions of the promotion.</documentation>
				</annotation>
			</element>
			<element name="CouponRequired" type="boolean" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Whether a coupon is required for redeem this
						promotion.
					</documentation>
				</annotation>
			</element>
			<element ref="_pro:CouponAttribute" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>Informaiton of coupon attributes.</documentation>
                </annotation>
			</element>
			<element name="PromotionCodeRequired" type="boolean" minOccurs="1"
				maxOccurs="1">
                <annotation>
                	<documentation>Indicate whether a promotion code is required to redeem this promotion.</documentation>
                </annotation>
			</element>
			<element name="PromotionCode" type="string" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>Optional promotion codes associated with this promotion if the promotion code is required.</documentation>
				</annotation>
			</element>
			<element name="TargetSales" type="_wcf:MonetaryAmountType" minOccurs="0">
				<annotation>
					<documentation>Optional target sales amount for reporting purpose.</documentation>
				</annotation>
			</element>
			<element ref="_pro:Element" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Promotion elements information associate with the FlowXML that are managed by a LOB tool and used for generating the actual promotion rule XML.</documentation>
				</annotation>
			</element>
			<element name="ControlParameter" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Optional control parameter that is used by promotion authoring user interface.</documentation>
				</annotation>
			</element>					
			<element name="PromotionCodeSpecification" type="_pro:PromotionCodeSpecificationType" maxOccurs="1" minOccurs="0">
			 	<annotation>
					<documentation>Optional promotion code specification element to include details on promotion codes.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User data area.</documentation>
				</annotation>
			</element>		
		</sequence>
	</complexType>
	<element name="Promotion" type="_pro:PromotionType">
		<annotation>
			<documentation>
				Element definition of the Promotion.
			</documentation>
		</annotation>
	</element>	
	
	<simpleType name="PromotionCodePopulationStatusType">
		<annotation>
			<documentation>Type to indicate the status of promotion code population into database.</documentation>
		</annotation>
		<union memberTypes="_pro:PromotionCodePopulationStatusEnumerationType _wcf:EnumerationExtensionType"></union>
	</simpleType>
	<simpleType name="PromotionCodePopulationStatusEnumerationType">
		<annotation>
			<documentation>
				Status of promotion code population into database.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="NotPopulated"></enumeration>
			<enumeration value="Populated"></enumeration>
			<enumeration value="Processing"></enumeration>
			<enumeration value="Canceled"></enumeration>
			<enumeration value="GenerationFailed"></enumeration>						
			<enumeration value="ImportingFailed"></enumeration>
		</restriction>
	</simpleType>
	
    <simpleType name="PromotionCodeCreationType">
		<annotation>
			<documentation>Type to indicate how the promotion codes have been created.</documentation>
		</annotation>
		<union memberTypes="_pro:PromotionCodeCreationEnumerationType _wcf:EnumerationExtensionType"></union>
	</simpleType>
	<simpleType name="PromotionCodeCreationEnumerationType">
		<annotation>
			<documentation>
				Indicates different ways that the promotion codes can be created.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="PublicCode"></enumeration>
			<enumeration value="GeneratedCode"></enumeration>	
			<enumeration value="ImportedCode"></enumeration>			
		</restriction>
	</simpleType>
		
	<simpleType name="PromotionStatusEnumerationType">
		<annotation>
			<documentation>
				Default value for promotion status.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Active"></enumeration>
			<enumeration value="Inactive"></enumeration>
			<enumeration value="MarkForDeletion"></enumeration>
			<enumeration value="Suspended"></enumeration>
			<enumeration value="Activating"></enumeration>
			<enumeration value="Archived"></enumeration>
		</restriction>
	</simpleType>
	<simpleType name="PromotionExclusiveTypeEnumerationType">
		<annotation>
			<documentation>Default value for promotion exclusive type.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="NoRestriction"></enumeration>
			<enumeration value="NotCombinedWithAnyOtherPromotions"></enumeration>
			<enumeration value="NotCombinedWithAnyOtherPromotionsInSamePromotionGroup"></enumeration>
			<enumeration value="NotCombinedWithAnyPromotionsInProductLevelPromotionGroup"></enumeration>
			<enumeration value="StackableInSamePromotionGroup"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="DayOfWeekEnumerationType">
		<annotation>
			<documentation>Default value for day of week.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Sunday"></enumeration>
			<enumeration value="Monday"></enumeration>
			<enumeration value="Tuesday"></enumeration>
			<enumeration value="Wednesday"></enumeration>
			<enumeration value="Thursday"></enumeration>
			<enumeration value="Friday"></enumeration>
			<enumeration value="Saturday"></enumeration>
		</restriction>
	</simpleType>
	<simpleType name="PromotionStatusType">
		<annotation>
			<documentation>Type definition of a promotion status.</documentation>
		</annotation>
		<union memberTypes="_pro:PromotionStatusEnumerationType _wcf:EnumerationExtensionType"></union>
	</simpleType>
	<simpleType name="PromotionExclusiveTypeType">
		<annotation>
			<documentation>
				Type definition of a promotion exclusive.
			</documentation>
		</annotation>
		<union
			memberTypes="_pro:PromotionExclusiveTypeEnumerationType _wcf:EnumerationExtensionType">
		</union>
	</simpleType>


	<complexType name="PromotionElementType">
		<annotation>
			<documentation>
				Type definition of a promotion element.
			</documentation>
		</annotation>
		<sequence>
			<element name="ElementName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>
						Name of the promotion element. The name should
						be unique within the same promotion.
					</documentation>
				</annotation>
			</element>
			<element name="ElementType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>
						The registered element type to be used in
						promotion rule xml.
					</documentation>
				</annotation>
			</element>
			<element name="ElementSubType" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Optional sub-type of an element type, it is used by user interface to manage the view of the element.</documentation>
				</annotation>
			</element>
			<element name="ParentElementName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The name of the parent element.
					</documentation>
				</annotation>
			</element>
			<element name="ElementSequence" type="double" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The sequence number of this elelemt under the
						same parent element.
					</documentation>
				</annotation>
			</element>
			<element ref="_pro:ElementVariable" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Element variables that are associated with the element.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PromotionElementVariableType">
        <annotation>
        	<documentation>Type definition of a promotion element variable.</documentation>
        </annotation>
        <sequence>
			<element name="Name" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Name of the promotion element variable.</documentation>
				</annotation>
			</element>
			<element name="Value" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>value of the promotion element variable.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>
	<element name="Element" type="_pro:PromotionElementType">
		<annotation>
			<documentation>Element definition of the promotion element.</documentation>
		</annotation>
	</element>
	<complexType name="PromotionScheduleType">
        <annotation>
        	<documentation>Type definition of the promotion schedule.</documentation>
        </annotation>
        <sequence>
			<element name="StartDate" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The overall start date of the promotion.</documentation>
				</annotation>
			</element>
			<element name="EndDate" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The overall end date of the promotion.</documentation>
				</annotation>
			</element>
			<element name="DailyStartTime" minOccurs="0" maxOccurs="1" type="time">
				<annotation>
					<documentation>Daily start time of the promotion.</documentation>
				</annotation>
			</element>
			<element name="DailyEndTime" type="time" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Daily end time of the promotion. If the daily end time is before the daily start time, it will be conidered as the promotion will run over the night.</documentation>
				</annotation>
			</element>
			<element name="WeekDays" type="_pro:DayOfWeekEnumerationType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Indicate the weekdays that the promotion will run.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>

	<element name="Schedule" type="_pro:PromotionScheduleType">
		<annotation>
			<documentation>Element definition of the promotion schedule.</documentation>
		</annotation>
	</element>

	<complexType name="CouponAttributeType">
        <annotation>
        	<documentation>Type definition of the coupon attribute.</documentation>
        </annotation>
        <sequence>
			<element name="TransferableCoupon" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Flag indicates whether a coupon can be transered to another shopper if this promotion requires a coupon to redeem.</documentation>
				</annotation>
			</element>
			<element name="CouponRelativeEffectiveDays" type="unsignedInt" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Number of days it will take for the coupon to be effective after the issuing if this promotion requires a coupon to redeem.
					</documentation>
				</annotation>
			</element>
			<element name="CouponRelativeExpirationDays" type="unsignedInt" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Number of days it will take for the coupon to be expired after it becomes effective if this promotion requires a coupon to redeem.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>

	<element name="CouponAttribute" type="_pro:CouponAttributeType">
		<annotation>
			<documentation>Element definition of the coupon attribute.</documentation>
		</annotation>
	</element>	
	
	<element name="PromotionCodeSpecification" type="_pro:PromotionCodeSpecificationType">
		<annotation>
			<documentation>The element that contains promotion code specification details.</documentation>
		</annotation>
	</element>

	<complexType name="PromotionRedemptionLimitType">
        <annotation>
        	<documentation>Type definition of a promotion redemption limit.</documentation>
        </annotation>
        <sequence>
			<element name="PerOrderLimit" type="int" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Number of promotion patterns can be redeemed in a single order. Value -1 indicates no redemption limit.</documentation>
				</annotation>
			</element>
			<element name="PerShopperLimit" type="int" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Number of promotion patterns can be redeemed by a single shopper. Value -1 indicates no redemption limit.</documentation>
				</annotation>
			</element>
			<element name="TotalLimit" type="int" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Number of promotion patterns can be redeemed for the store. Value -1 indicates no redemption limit.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>

	<element name="RedemptionLimit" type="_pro:PromotionRedemptionLimitType">
		<annotation>
			<documentation>Element definition of the promotion redemption limit.</documentation>
		</annotation>
	</element>

	<element name="ElementVariable" type="_pro:PromotionElementVariableType">
		<annotation>
			<documentation>Element definition of the promotion element variable.</documentation>
		</annotation>
	</element>
	
	<complexType name="PromotionCodeSpecificationType">
	    <annotation>
			<documentation>This is used to specify promotion code details including the input codes, patterns for 
			system-generated codes, generation status etc.
			</documentation>
		</annotation>
		<sequence>
			<element name="PromotionCodeGenerationDefinition" type="_pro:PromotionCodeGenerationDefinitionType">
				<annotation>
					<documentation>This element contains details on system-generated promotion codes including pattern and
					count.</documentation>
				</annotation>
			</element>
			<element name="PromotionCodePopulationStatus"
				type="_pro:PromotionCodePopulationStatusType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Indicates the status of promotion code population into database.</documentation>
				</annotation>
			</element>
			<element name="PromotionCodeCreation"
				type="_pro:PromotionCodeCreationType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Indicates how the promotion codes are created, for example manually entered or system-generated.</documentation>
				</annotation>
			</element>	
			<element name="PromotionCodeInput" type="string" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Manually input promotion codes.</documentation>
				</annotation>
			</element>
			<element name="PromotionCodeFileUploadID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>A unique ID of the File Upload Job.</documentation>
				</annotation>
			</element>				
		</sequence>
	</complexType>
	
	<complexType name="PromotionCodeGenerationDefinitionType">
	    <annotation>
			<documentation>This is used to specify details on system-generated promotion codes.</documentation>
		</annotation>
		<sequence>			
			<element name="Pattern" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>A pattern specification for promotion code generation.</documentation>
				</annotation>
			</element>
			<element name="Count" type="int" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The number of promotion codes to be generated.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
