WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/PromoCode.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/promotion"
	ecore:nsPrefix="_pro"
	ecore:package="com.ibm.commerce.promotion.facade.datatypes"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_pro="http://www.ibm.com/xmlns/prod/commerce/9/promotion"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation">

	<annotation>
		<documentation>
			This file contains all type definitions that make up a
			Promotion Code.
		</documentation>
	</annotation>


	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/CommonTypes.xsd">
	</import>
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommerceFoundation.xsd"></import>
	<element name="PromoCodeBODVersion" type="string" fixed="7.0.0.5">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last
				changed. The value is set as the versionID attribute in
				the corresponding BODs.
			</documentation>
		</annotation>
	</element>

	<element name="PromoCode" type="_pro:PromoCodeType">
		<annotation>
			<documentation>
				Element definition of the Promotion Code.
			</documentation>
		</annotation>
	</element>	


<complexType name="PromoCodeType">
	<annotation>
		<documentation>The promotion code entered.</documentation>
	</annotation>
	<sequence>
		<element maxOccurs="1" minOccurs="0" name="Code" type="string">
		    <annotation>
			<documentation>The code of promotion.</documentation>
            </annotation>
        </element>

		<element maxOccurs="1" minOccurs="0" name="BuyerIdentifier" type="_wcf:PersonIdentifierType">
		   <annotation>
		    <documentation>Identifier of the customer.</documentation>
		   </annotation>
		</element>
		<element maxOccurs="1" minOccurs="0" name="PricingDate" type="dateTime">
		   <annotation>
		    <documentation>The Time at which to check if the code is valid.</documentation>
		   </annotation>
		</element>

		<element maxOccurs="1" minOccurs="0"  name="Reason" type="_wcf:PromotionCodeReasonType">
			<annotation>
				<documentation>The promotion code reason code.</documentation>
			</annotation>
		</element>

		<element maxOccurs="unbounded" minOccurs="0" name="AssociatedPromotion" type="_wcf:AssociatedPromotionType">
			<annotation>
				<documentation>The promotion associated with this code.</documentation>
			</annotation>
		</element>
		<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
			<annotation>
				<documentation>The user data area.</documentation>
			</annotation>
		</element>
	</sequence>
</complexType>

</schema>
