WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/SearchTermAssociation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_sch="http://www.ibm.com/xmlns/prod/commerce/9/search"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/search"
	ecore:nsPrefix="_sch" 
	ecore:package="com.ibm.commerce.search.facade">
	
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/BaseTypes.xsd" />
	
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="../Components/IdentifierTypes.xsd" />

	<annotation>
		<documentation>
			This file contains all type definitions that make up a SearchTermAssociation.
		</documentation>
	</annotation>		
		
	<simpleType name="AssociationEnumerationType">
	    	<annotation>
	        	<documentation>The defined association types between the search terms and the associated terms.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
				<enumeration value="Synonym"/> 	    
	            <enumeration value="SearchForInstead"/>
	            <enumeration value="AlsoSearchFor"/>
	            <enumeration value="LandingPageURL"/>
		</restriction>
	</simpleType>
	
	<simpleType name="AssociationType">
	    	<annotation>
	        	<documentation>Allows extension to the default associated terms status values.
			</documentation>
		</annotation>
		<union memberTypes="_sch:AssociationEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>	
			
	<complexType name="SearchTermAssociationType">
		<annotation>
			<documentation>
				Type definition of a SearchTermAssociation.
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1"  >
				<annotation>
					<documentation>
						The SearchTermAssociation identifier.
					</documentation>
				</annotation>
			</element>
			<element name="SearchTerms" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>A comma delimited list of terms that can be specified by a person performing a search.
					               For a synonym association type, multiple search terms are expected.
					               For the replacement association types, a single search term is expected.					
					</documentation>
				</annotation>
			</element>
			<element name="AssociationType" type="_sch:AssociationType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The type of association between a search term and the associated terms.  The valid values are:
					    Synonym:           All the search terms are used when searching for any of the search terms. 
					    				   In this case, the AssociatedTerms element is empty.
					    SearchForInstead:  A replacement association where the associated terms are searched for instead of the input search term.
					    AlsoSearchFor:     A replacement association where the associated terms are used along with the the input search term.
					</documentation>
				</annotation>
			</element>
			<element name="AssociatedTerms" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>A comma delimited list of words used by the search engine instead of the search terms when performing a search.
					When no associated terms are defined, it implies that the search terms are all equivalent.
					</documentation>
				</annotation>
			</element>		
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the store associated with the catalog group.</documentation>
				</annotation>
			</element>
			<element name="LanguageIdentifier" type="_wcf:LanguageType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the store associated with the catalog group.</documentation>
				</annotation>
			</element>
			<element name="Statistics" type="_sch:StatisticsType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The types for STA statistics.  The valid values are:
					    TopHits:          Keyword top hits statistics for user sessions.
					    TopMisses:        Keyword top misses statistics for user sessions.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="SearchTermAssociation" type="_sch:SearchTermAssociationType">
		<annotation>
			<documentation>
				Element definition of the SearchTermAssociation.
			</documentation>
		</annotation>
	</element>	
	
	<element name="SearchTermAssociationBODVersion" type="string" fixed="7.0.0.2">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the SearchTermAssociation noun 
				was last changed.  The value is set as the versionID attribute in the 
				corresponding BODs.
			</documentation>
		</annotation>
	</element>
	
	<complexType name="StatisticsType">
		<sequence>
			<element name="statisticsType" type="_sch:StatisticsTypeType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The statistics type.</documentation>
				</annotation>
			</element>
			<element name="searchSessions" type="long" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The search session of a keyword.</documentation>
				</annotation>
			</element>
			
			
			<element name="searchResults" type="long" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The number of search results for a keyword</documentation>
				</annotation>
			</element>
			
            <element name="suggestion" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>Suggestion for this keyword when search misses.</documentation>
				</annotation>
			</element>
			
			<element name="suggestionResults" type="long" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The number of results that the suggestion keyword hits.</documentation>
				</annotation>
			</element>
			
			<element name="synonyms" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The synonyms which the keyword searches with</documentation>
				</annotation>
			</element>
			
			<element name="landingPage" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The landing page which the keyword is directed to</documentation>
				</annotation>
			</element>
			
			<element name="percentage" type="double" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The search session percentage for a keyword</documentation>
				</annotation>
			</element>
			
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area for STA statistics.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<simpleType name="StatisticsTypeType">
		<annotation>
	        	<documentation>The defined STA statistics types.
			</documentation>
		</annotation>
        <restriction base="normalizedString">
            <enumeration value="TopHits" />
            <enumeration value="TopMisses" />
        </restriction>
    </simpleType>

</schema>
