WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/SMSMessageChannelConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:celadon_common="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common">
	
	<xsd:include schemaLocation="SerialPortConfiguration.xsd" />
	<xsd:include schemaLocation="ServiceConnectionConfiguration.xsd"></xsd:include>
	<xsd:include schemaLocation="GSMModemConfiguration.xsd"></xsd:include>
	
	<xsd:complexType name="SMSMessageChannelConfiguration">
		<xsd:annotation>
			<xsd:appinfo key_member_name="ConfigurationID" />
			<xsd:documentation>Provides configuration information for an SMS message channel.</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<xsd:element minOccurs="0" name="ConfigurationID"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Unique identifier for this configuration -- note
						this distinguishes different configurations
						independent of the message channel to which they
						might apply.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element minOccurs="0" name="ChannelID"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Uniquely identifies the logical SMS message
						channel -- example: "Retailer1.Store1.SMS".
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="StatusReportHeartbeatPeriodMilliseconds" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>
						Heartbeat period for regularly reporting status
						of all components associated with the SMS
						message channel to the monitoring service -- a
						zero or negative value indicates no heartbeat
						reporting. Default: no heartbeat reporting.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="OutgoingMessageExpirationPeriodMilliseconds" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>
						Outgoing messages posted to the SMS message data
						service will be considered expired after this
						period of time -- a negative value indicates no
						expiration period and all outgoing messages will
						be transmitted, no matter how old -- a zero or
						small value means, practically, that all
						messages are considered stale and will not be
						transmitted. Default: -1, meaning no expiration
						period is imposed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element minOccurs="0" name="SerialPortConfiguration"
				type="celadon_common:SerialPortConfiguration">
				<xsd:annotation>
					<xsd:documentation>
						Optional - describes the operation of a serial
						port at which a GSM modem is attached and which
						may be used to transmit and receive SMS
						messages.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ModemConfiguration"
				type="celadon_common:GSMModemConfiguration">
			</xsd:element>

			<xsd:element
				name="SMSMessageDataServiceConnectionConfiguration"
				type="celadon_common:ServiceConnectionConfiguration">
			</xsd:element>
			<xsd:element
				name="MonitoringDataServiceConnectionConfiguration"
				type="celadon_common:ServiceConnectionConfiguration">
			</xsd:element>


		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="SMSMessageChannelConfiguration" type="celadon_common:SMSMessageChannelConfiguration"/>
	    
</xsd:schema>
