WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Subscription.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/subscription"
	ecore:nsPrefix="_subscrpt" 
	ecore:package="com.ibm.commerce.subscription.facade" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation" xmlns:_subscr="http://www.ibm.com/xmlns/prod/commerce/9/subscription" xmlns:_ord="http://www.ibm.com/xmlns/prod/commerce/9/order">
	
	<import schemaLocation="../Components/CommerceFoundation.xsd" namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"/>
	<import schemaLocation="../Components/BaseTypes.xsd" namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"/>
	<import schemaLocation="../Components/IdentifierTypes.xsd" namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"/>
	<import schemaLocation="../Components/CommonTypes.xsd" namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"/>
	<import schemaLocation="Order.xsd" namespace="http://www.ibm.com/xmlns/prod/commerce/9/order"/>
    <annotation>
    	<documentation>This file contains all the schema definitions that make up a subscription.</documentation></annotation>

    <complexType name="SubscriptionType">
        <annotation>
        	<documentation>The subscription noun applies to both recurring orders and subscriptions.</documentation>
        </annotation>
        <sequence>
        	<element name="SubscriptionIdentifier"
        		type="_wcf:SubscriptionIdentifierType" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The identifier which is used to uniquely
        				identify the subscription.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="StoreIdentifier"
        		type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The store ID on which the subscription or
        				recurring order was purchased.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="BuyerIdentifier"
        		type="_wcf:PersonIdentifierType" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The user ID of the person who bought the
        				subscription or recurring order.
        			</documentation>
        		</annotation>
        	</element>




        	<element name="PurchaseDetails"
        		type="_subscr:SubscriptionPurchaseDetailsType" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The details of the purchase. It encapsulates the
        				parent order ID and the order item ID for
        				subscription.
        			</documentation>
        		</annotation>
        	</element>





            <element name="SubscriptionInfo" type="_wcf:SubscriptionInfoType" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>This element captures the payment and schedule information for the subscription.</documentation>
            	</annotation></element>
            
            <element name="SuspendedPeriod" type="_subscr:SubscriptionSuspendedPeriodType" maxOccurs="unbounded" minOccurs="0">
        		<annotation>
        			<documentation>
        				The suspension periods for the subscription, if
        				any.
        			</documentation>
        		</annotation>
        	</element>
            <element name="RenewalInfo" type="_subscr:SubscriptionRenewalInfoType" maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>This element captures the renewal information for the subscription.</documentation>
                </annotation>
            </element>
        	<element name="Description" type="string" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The description for the subscription. This is to
        				be filled by users for their convenience.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="CancelledDate" type="dateTime" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The cancel date for the subscription.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="ParentOrder" type="_ord:OrderType"
        		maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The parent order through which the subscription was created.</documentation>
                </annotation>
        	</element>





        	<element name="State" type="string" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The current status of the subscription. The
        				supported states are : Active, Inactive,Expired,
        				Cancelled, Suspended.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="SubscriptionTypeCode" type="string"
        		maxOccurs="1" minOccurs="0">
        		<annotation>
        			<documentation>
        				The type of the subscription. The supported
        				values are: RecurringOrder, TimeBased, EventBased and
        				TimeEventBased.
        			</documentation>
        		</annotation>
        	</element>


        	<element name="TimePlaced" type="dateTime" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The time at which the subscription was placed.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="LastUpdate" type="dateTime" maxOccurs="1"
        		minOccurs="0">
        		<annotation>
        			<documentation>
        				The last updated time.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="UserData" type="_wcf:UserDataType"
        		maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The user data element to capture extended information.</documentation>
                </annotation>
        	</element>



        </sequence>
    </complexType>
    
    <element name="Subscription" type="_subscr:SubscriptionType"></element>



	<element name="SubscriptionBODVersion" type="string" fixed="7.0.1.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the Subscription noun 
				was last changed.  The value is set as the versionID attribute in the 
				corresponding BODs.
			</documentation>
		</annotation>
	</element>




    <complexType name="SubscriptionPurchaseDetailsType">
        <annotation>
        	<documentation>The type encapsulates the purchase details of the subscription.</documentation>
        </annotation>
        <sequence>
    		<element name="ParentOrderIdentifier"
    			type="_wcf:OrderIdentifierType" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					The Order Identifier of the recurring order or
    					the order through which the subscription is
    					purchased.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="ParentOrderItemIdentifier"
    			type="_wcf:OrderItemIdentifierType" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The parent order item identifier of the subscription item. For a recurring order, this value is null.</documentation>
                </annotation>
    		</element>
            <element name="SubscribedItem" type="_wcf:CatalogEntryIdentifierType" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>The catalog entry of the item subscribed. For a recurring order, this element is null.</documentation>
            	</annotation></element>
            <element name="Quantity" type="_wcf:QuantityType"
    			maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					The quantity purchased. This applies to
    					subscriptions only.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="UserData" type="_wcf:UserDataType"
    			maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The user data element to capture extended data for purchase details.</documentation>
                </annotation>
    		</element>

    	</sequence>
    </complexType>

    <complexType name="SubscriptionSuspendedPeriodType">
        <annotation>
        	<documentation>This encapsulates the suspension periods for a subscription.</documentation>
        </annotation>
        <sequence>
    		<element name="SuspendDate" type="dateTime" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The date from when the subscription is suspended.</documentation>
    			</annotation></element>
    		<element name="ResumeDate" type="dateTime" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The date on which the subscription is to be resumed.</documentation>
    			</annotation></element>
    		<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>




    <complexType name="SubscriptionRenewalInfoType">
        <annotation>
        	<documentation>The renewal information type.</documentation>
        </annotation>
        <sequence>
    		<element name="RenewedSubscriptionIdentifier"
    			type="_wcf:SubscriptionIdentifierType" maxOccurs="unbounded" minOccurs="0">
                <annotation>
                	<documentation>The subscription identifiers of the new subscriptions obtained as part of renewal of this subscription.</documentation>
                </annotation>
    		</element>
    		<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>


    <element name="SubscriptionPurchaseDetails"
    	type="_subscr:SubscriptionPurchaseDetailsType">
    </element>

    <element name="SubscriptionRenewalInfo"
    	type="_subscr:SubscriptionRenewalInfoType">
    </element>

    <element name="SubscriptionSuspendedPeriod"
    	type="_subscr:SubscriptionSuspendedPeriodType">
    </element>

</schema>