WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/TimezoneOffset.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:celadon_common="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
  targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/celadon/common"
  attributeFormDefault="unqualified" elementFormDefault="qualified" 
  >
  <xsd:complexType name="TimezoneOffset">
        <xsd:annotation>
      <xsd:documentation>Represents a timezone offset for a date/ time expression -- the hours field may be positively signed, representing timezones EAST of GMT or negatively signed represeting timezones WEST of GMT -- the minutes field should be a non negative integer between 0 and 60 -- this definition is consistent with the timezone element of XML Schema built in data types dealing with time expressions.</xsd:documentation>
    </xsd:annotation>
        <xsd:sequence>
      <xsd:element minOccurs="0" name="Hours" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Represents the hour offset of the timezone -- may be negative or positively signed -- example: for Eastern Standard Time (EST) the hours offset is negative five (-5) and the minutes offset is zero.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Minutes" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Represents the minutes offset for the timezone.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="TimezoneOffset" type="celadon_common:TimezoneOffset"/>
  	
</xsd:schema>
