WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Workspace.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<annotation>
		<documentation>
			This XML schema file defines the workspace noun.
		</documentation>
	</annotation>
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd" />

	<include schemaLocation="../Components/WorkspaceCommon.xsd"></include>

	<element name="Workspace" type="_cnt:WorkspaceType">
		<annotation>
			<documentation>The definition for a workspace.</documentation>
		</annotation>
	</element>
	
	<element name="WorkspaceBODVersion" type="string" fixed="7.0.0.3">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the noun was last
				changed. The value is set as the versionID attribute in
				the corresponding BODs.
			</documentation>
		</annotation>
	</element>		

	<complexType name="WorkspaceType">
		<sequence>
			<element name="WorkspaceIdentifier" type="_wcf:WorkspaceIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier for a workspace.</documentation>
				</annotation>
			</element>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The name for a workspace.
					</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>
						The short description for a workspace.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this workspace.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="status" type="_cnt:WorkspaceStatusType">
			<annotation>
				<documentation>
					The status of this workspace.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="emergencyUse" type="boolean">
			<annotation>
				<documentation>
					 Set this attribute to "true" to indicate that this workspace should be used for emergency fixes.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="persistent" type="boolean">
			<annotation>
				<documentation>
					 Set this attribute to "true" to indicate that this is a persistent workspace.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

</schema>
	
	