WC/xml/content-management/xsd/wc-resource-managers.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<schema targetNamespace="http://www.ibm.com/xmlns/prod/WebSphereCommerce"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:wc="http://www.ibm.com/xmlns/prod/WebSphereCommerce">

    <element name="ResourceContainer">
        <complexType>
            <sequence>
            	<element ref="wc:Definition" minOccurs="0" maxOccurs="1"/>
                <element ref="wc:ManagedResources" minOccurs="0" maxOccurs="1"/>
                <element ref="wc:OperationalResources" minOccurs="0" maxOccurs="1"/>
                <element ref="wc:CommitRequest" minOccurs="0" maxOccurs="1"/>
                <element ref="wc:PublishRequest" minOccurs="0" maxOccurs="1"/>
            </sequence>
        </complexType>
    </element>
    
    <element name="Definition">
        <complexType>
            <attribute name="className" type="string" use="required"/>
            <attribute name="id" use="required" type="string">
            	</attribute>
            <attribute name="name" type="string" use="required"/>
            <attribute name="lockingPolicy" type="string" use="optional"/>
        </complexType>
    </element>
    
    <element name="ManagedResources">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="1" ref="wc:ManagedResource" />
            </sequence>
        </complexType>
    </element>
    <element name="ManagedResource">
        <complexType>
	        <sequence>
                <element maxOccurs="unbounded" minOccurs="0" ref="wc:RelatedManagedResource" />
                <element ref="wc:CommitRequest" minOccurs="0" maxOccurs="1"/>
            </sequence>
            <attribute name="id" type="string" use="required"/>
            <attribute name="managed" type="string" use="required"/>
            <attribute name="name" type="string" use="required"/>
            <attribute name="resource" type="string" use="required"/>
            <attribute name="resourceClassName" type="string" use="required"/>
            <attribute name="resourceKeys"
                type="string" use="optional"/>
            <attribute name="resourceManagerClassName"
                type="string" use="required"/>
        </complexType>
    </element>
    <element name="RelatedManagedResource">
        <complexType>
        	<attribute name="resourceContainer" type="string" use="optional"/>
            <attribute name="managedResource" type="string" use="required"/>
        </complexType>
    </element>
    
    <element name="OperationalResources">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="1" ref="wc:OperationalResource"/>
            </sequence>
        </complexType>
    </element>
    <element name="OperationalResource">
        <complexType>
            <attribute name="managed" type="string" use="optional"/>
            <attribute name="name" type="string" use="required"/>
            <attribute name="resource" type="string" use="required"/>
            <attribute name="resourceClassName" type="string" use="optional"/>
        </complexType>
    </element>

    <element name="CommitRequest">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="1" ref="wc:Task"/>
            </sequence>
            <attribute name="uniqueTransaction" type="string" use="optional"/>
        </complexType>
    </element>
    <element name="CommitStatement">
        <complexType>
            <attribute name="statement" type="string" use="optional"/>
        </complexType>
    </element>
    <element name="GenerateCommitStatements">
        <complexType>
            <attribute name="resource" type="string" use="required"/>
            <attribute name="resourceKeys" type="string" use="optional"/>
        </complexType>
    </element>
    
    <element name="PublishRequest">
        <complexType>
            <attribute name="uniqueTransaction" type="string" use="optional"/>
            <attribute name="status" type="string" use="optional"/>
        </complexType>
    </element>

    <element name="Task">
        <complexType>
            <choice>
                <element maxOccurs="unbounded" minOccurs="0" ref="wc:CommitStatement" />
                <element minOccurs="0" ref="wc:GenerateCommitStatements" maxOccurs="unbounded" />
            </choice>
            <attribute name="name" type="string" use="optional"/>
            <attribute name="platform" type="string" use="optional"/>
        </complexType>
    </element>
</schema>
