WebServicesRouter/WebContent/services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/OrderInventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
	For support, more information, or to report implementation bugs, 
	please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
	
	** Revision:  IBM_WebSphere_Commerce 1.0 **
	
	Copyright IBM (c) 2005-2006, All Rights Reserved
	
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	ecore:package="com.ibm.commerce.inventory.datatypes" ecore:nsPrefix="Inventory"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/inventory"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	xmlns:inv="http://www.ibm.com/xmlns/prod/commerce/inventory" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<annotation>
		<documentation>
			This inventory XML schema file defines the OrderInventory noun which represents the
			inventory information of an order.
		</documentation>
	</annotation>

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/foundation"
		schemaLocation="../Components/CommerceFoundation.xsd" />

	<element name="OrderInventory" type="inv:OrderInventoryType">
		<annotation>
			<documentation>Element definition of the OrderInventory noun.</documentation>
		</annotation>
	</element>

	<complexType name="OrderInventoryType">
		<annotation>
			<documentation>Type definition of the OrderInventory noun.</documentation>
		</annotation>
		<sequence>
			<element ref="wcf:OrderIdentifier" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>The order identifier.</documentation>
				</annotation>
			</element>
			<element ref="inv:OrderItemInventory" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Inventory of the order items.</documentation>
				</annotation>
			</element>
			<element ref="wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderItemInventory" type="inv:OrderItemInventoryType">
		<annotation>
			<documentation>
				Element definition of an order item's inventory information.
			</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemInventoryType">
		<annotation>
			<documentation>Type definition of an order item's inventory information.</documentation>
		</annotation>
		<sequence>
			<element ref="wcf:OrderItemIdentifier" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>The order item identifier.</documentation>
				</annotation>
			</element>
			<element ref="wcf:ProductIdentifier" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The product identifier.</documentation>
				</annotation>
			</element>
			<element ref="wcf:Component" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Components of the product if it is a kit.</documentation>
				</annotation>
			</element>
			<element name="RequestedQuantity" type="wcf:QuantityType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>The requested quantity.</documentation>
				</annotation>
			</element>
			<element name="RequestedShipDateTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The requested ship date.</documentation>
				</annotation>
			</element>
			<element name="ShippingAddress" type="wcf:AddressType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The shipping address.</documentation>
				</annotation>
			</element>
			<element name="ShippingModeID" type="int" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The shipping mode ID.</documentation>
				</annotation>
			</element>
			<element name="InventoryStatus" type="wcf:InventoryStatusType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The inventory status.</documentation>
				</annotation>
			</element>
			<element name="FulfillmentCenterID" type="int" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The fulfillment center ID.</documentation>
				</annotation>
			</element>
			<element name="AvailableDateTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The expected available date.</documentation>
				</annotation>
			</element>
			<element name="ShipDateTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The expected ship date.</documentation>
				</annotation>
			</element>
			<element ref="wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
