WebServicesRouter/WebContent/services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
    For support, more information, or to report implementation bugs, 
    please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
     
    ** Revision:  IBM_WebSphere_Commerce 1.0 **
   
    Copyright IBM (c) 2005-2006, All Rights Reserved

 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	ecore:package="com.ibm.commerce.member.datatypes" ecore:nsPrefix="Member"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/member"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	xmlns:mbr="http://www.ibm.com/xmlns/prod/commerce/member" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/foundation"
		schemaLocation="../Components/CommerceFoundation.xsd" />

	<complexType name="BusinessProfileType">
        <sequence>
			<element name="BusinessTitle" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The business title.</documentation>
				</annotation>
			</element>
			<element name="OrganizationName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The name of the organization.</documentation>
				</annotation>
			</element>
			<element name="OrganizationalUnitName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Name of the organizational unit.</documentation>
				</annotation>
			</element>
			<element name="EmployeeID" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A method to identify the employee, such as by employee number. </documentation>
				</annotation>
			</element>
			<element name="AlternateID" type="string" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>A special ID assigned by the organization or organizational unit to which this business user belongs. </documentation>
				</annotation>
			</element>
			<element name="EmployeeType" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The employee type, such as regular, part time, special part time, supplemental, and contractor. </documentation>
				</annotation>
			</element>
			<element ref="wcf:Address" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The office address.</documentation>
				</annotation>
			</element>
			<element name="DepartmentNumber" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The department number for the business user. </documentation>
				</annotation>
			</element>
			<element name="Manager" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The name of the manager or supervisor or this his business user. </documentation>
				</annotation>
			</element>
			<element name="Secretary" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The name of the secretary or administrative assistant of the business user. </documentation>
				</annotation>
			</element>
			<element name="RequisitionerID" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A unique ID for identifying the requisitioner. </documentation>
				</annotation>
			</element>
			<element ref="wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="BusinessProfile" type="mbr:BusinessProfileType">
		<annotation>
			<documentation>Element definition of the BusinessProfileType.</documentation>
		</annotation>
	</element>

	<complexType name="PersonalProfileType">
		<sequence>
			<element name="PreferredCurrency" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Preferred currency in 3-character alphabetic code as per ISO 4217. </documentation>
				</annotation>
			</element>
			<element name="PreferredLanguage" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Preferred language.</documentation>
				</annotation>
			</element>
			<element name="DisplayName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Display name of the entry. This is a name used in displaying an entry in a one line summary list. </documentation>
				</annotation>
			</element>
			<element name="PhotoURL" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A location for the photograph of the person. </documentation>
				</annotation>
			</element>
			<element name="PreferredMeasure" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The preferred measure.</documentation>
				</annotation>
			</element>
			<element name="PreferredCommunication" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Preferred method of communication by phone. </documentation>
				</annotation>
			</element>
			<element name="PreferredDelivery" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Preferred delivery method. </documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Description of the person. </documentation>
				</annotation>
			</element>
			<element name="Gender" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The gender of the person. Valid values are as follows:
								F = female 
								M = male 
								N = not provided 
								If not provided, N is used as the default. 
					</documentation>
				</annotation>
			</element>
			<element name="BirthDay" type="date" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The birthday of the person.</documentation>
				</annotation>
			</element>
			<element name="Income" type="int" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The annual income for the person.</documentation>
				</annotation>
			</element>
			<element name="MaritalStatus" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The marital status of the person.</documentation>
				</annotation>
			</element>
			<element name="IncomeCurrency" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Currency for the income of the person.</documentation>
				</annotation>
			</element>
			<element name="NumberOfChildren" type="int" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The number of children that the person has. If not provided, the default is 0. </documentation>
				</annotation>
			</element>
			<element name="Household" type="int" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Number of people in the household. </documentation>
				</annotation>
			</element>
			<element name="CompanyName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The company for which the person works. </documentation>
				</annotation>
			</element>
			<element name="Hobbies" type="string" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>The main interests and hobbies of the person.</documentation>
				</annotation>
			</element>
			<element name="Timezone" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The time zone in which the person resides. </documentation>
				</annotation>
			</element>
			<element ref="wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="PersonalProfile" type="mbr:PersonalProfileType">
		<annotation>
			<documentation>Element definition of the PersonalProfileType.</documentation>
		</annotation>
	</element>
	
	<complexType name="PersonType">
		<sequence>
			<element ref="wcf:PersonIdentifier" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>The person identifier.</documentation>
				</annotation>
			</element>
			<element ref="wcf:ParentIdentifier" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>The identifier for the parent.</documentation>
				</annotation>
			</element>
			<element ref="wcf:PersonName" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The person's name.</documentation>
				</annotation>
			</element>
			<element ref="mbr:PersonalProfile" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>The personal profile.</documentation>
				</annotation>
			</element>
			<element ref="mbr:BusinessProfile" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>The business profile.</documentation>
				</annotation>
			</element>
			<element ref="wcf:Authentication" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>The authentication information.</documentation>
				</annotation>
			</element>
			<element ref="wcf:ContactInfo" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The primary contact information.</documentation>
				</annotation>
			</element>
			<element ref="wcf:ContactList" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A list of the contact information.</documentation>
				</annotation>
			</element>
			<element ref="wcf:ContextAttribute" minOccurs="0"
				maxOccurs="unbounded" >
				<annotation>
					<documentation>The context attribute.</documentation>
				</annotation>
			</element>
			<element ref="wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="Person" type="mbr:PersonType" >
		<annotation>
			<documentation>Element definition of the PersonType.</documentation>
		</annotation>
	</element>

</schema>