WC/xml/trading/B2BPaymentSummary.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT PaymentSummary (Header,Body)>
<!ATTLIST PaymentSummary
 version CDATA #IMPLIED
>
<!ELEMENT Header (Seller,AccountHolder,PeriodStartDate,PeriodEndDate)>
<!ATTLIST Header
 accountNumber CDATA #REQUIRED
 billNumber CDATA #REQUIRED
 creditLinePayment (true | false) #REQUIRED
>
<!--totalAmount = @sum(Item.price) - TotalDiscount + @sum(Tax) + TotalShipping + @sum(TotalShippingTax) + TotalAdjustments-->
<!ELEMENT Body (OrderSummary+)>
<!ATTLIST Body
 currency CDATA #REQUIRED
 totalAmount CDATA #IMPLIED
>
<!ELEMENT OrderSummary (OrderDate,ChargeDate,ChargeAmount)>
<!ATTLIST OrderSummary
 orderNumber CDATA #REQUIRED
 customerPONumber CDATA #IMPLIED
>
<!ELEMENT Date EMPTY>
<!ATTLIST Date
 day CDATA #REQUIRED
 month CDATA #REQUIRED
 year CDATA #REQUIRED
>
<!ELEMENT Seller (Address?)>
<!ATTLIST Seller
 name CDATA #IMPLIED
>
<!ELEMENT AccountHolder (Address?)>
<!ATTLIST AccountHolder
 name CDATA #IMPLIED
>
<!ELEMENT Address (OrgName?,OrgUnitName?,OfficeAddress?,AddressLine1?,AddressLine2?,AddressLine3?,City?,StateOrProvince?,ZipCode?,Country?)>
<!ATTLIST Address
 businessTitle CDATA #IMPLIED
 personTitle CDATA #IMPLIED
 firstName CDATA #IMPLIED
 middleName CDATA #IMPLIED
 lastName CDATA #IMPLIED
>
<!ELEMENT OrgName (#PCDATA)>
<!ELEMENT OrgUnitName (#PCDATA)>
<!ELEMENT OfficeAddress (#PCDATA)>
<!ELEMENT AddressLine1 (#PCDATA)>
<!ELEMENT AddressLine2 (#PCDATA)>
<!ELEMENT AddressLine3 (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT StateOrProvince (#PCDATA)>
<!ELEMENT Country (#PCDATA)>
<!ELEMENT ChargeAmount (#PCDATA)>
<!ATTLIST ChargeAmount
 currency CDATA #IMPLIED
>
<!ELEMENT PeriodStartDate (Date)>
<!ELEMENT PeriodEndDate (Date)>
<!ELEMENT OrderDate (Date)>
<!ELEMENT ChargeDate (Date)>
<!ELEMENT ZipCode (#PCDATA)>

