WC/xml/trading/xsd/Contract.xsd

<?xml version="1.0"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<schema targetNamespace="http://www.ibm.com/WebSphereCommerce" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wc="http://www.ibm.com/WebSphereCommerce" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- include tradingAgreement xsd --> 
    <include schemaLocation="TradingAgreement.xsd"/>
    <include schemaLocation="BusinessAccount.xsd"/>

    <complexType name="ContractType" abstract="true">
        <complexContent>
            <extension base="wc:TradingAgreementType">
                <sequence>
                    <element ref="wc:ContractUniqueKey" />
                    <element ref="wc:ContractDescription" minOccurs="0"/>                   
                    <element ref="wc:AccountReference" minOccurs="0" />
                    <element ref="wc:Attachment" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="state" use="required">
                    <simpleType>
                        <restriction base="token">
                            <enumeration value="Active"/>
                            <enumeration value="Pending"/>
                            <enumeration value="Approved"/>
                            <enumeration value="Draft"/>
                            <enumeration value="Closed"/>
                            <enumeration value="Reject"/>
                            <enumeration value="Suspended"/>
                            <enumeration value="DeploymentInProgress"/>
                            <enumeration value="DeploymentFailed"/>
                            <enumeration value="Cancelled"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="comment" type="string"/>
                <attribute name="contractUsage" type="wc:ContractUsageType" use="required"/>
                <attribute name="creditAllowed" type="boolean"/>
            </extension>
        </complexContent>
    </complexType>

    <!-- simple type of contract usage -->
    <simpleType name="ContractUsageType">
        <restriction base="token">
            <enumeration value="Reseller"/>
            <enumeration value="OrganizationBuyer"/>
            <enumeration value="SpecialBid"/>
            <enumeration value="Default"/>
            <enumeration value="Referral" />
            <enumeration value="Supplier" />
            <enumeration value="DelegationGrid" />
        </restriction>
    </simpleType>

    <element name="ContractDescription" type="wc:TradingAgreementDescType" />
       

   <complexType name="ContractUniqueKeyWithDefaultType">
       <sequence>
           <element ref="wc:ContractOwner"/>
       </sequence>
       <attribute name="origin" type="wc:OriginType" use="required" />     
       <attribute name="name" type="normalizedString" use="required"/>
       <attribute name="majorVersionNumber" type="int" default="1"/>
       <attribute name="minorVersionNumber" type="int" default="0"/>
   </complexType>
   
   <element name="ContractRef" type="wc:ContractRefType" />
   <element name="ContractUniqueKey" type="wc:ContractUniqueKeyWithDefaultType" />
   
   <simpleType name="OriginType" final="#all">
       <restriction base="token">
           <enumeration value="RFQ"/>
           <enumeration value="Manual"/>
           <enumeration value="Imported"/> 
           <enumeration value="2-Party"/>
           <enumeration value="Auction"/>
           <enumeration value="Exchange"/>
           <enumeration value="Deployment"/>
       </restriction>
   </simpleType>     
  
   <complexType name="ContractRefType">
       <sequence>
           <element ref="wc:ContractOwner" />
       </sequence>
       <attribute name="origin" type="wc:OriginType" use="required" />     
       <attribute name="name" type="normalizedString" use="required"/>
       <attribute name="majorVersionNumber" type="int" use="required"/>
       <attribute name="minorVersionNumber" type="int" use="required"/>
   </complexType>
   
    <element name="ContractNationalLanguageDescription">
        <complexType>
            <sequence>
            	<element ref="wc:ContractRef"/>
                <element ref="wc:ContractDescription" minOccurs="0"/>
                <element ref="wc:TermConditionDescription" minOccurs="0" maxOccurs="unbounded"/>                
            </sequence>   
        </complexType>
    </element>

    <element name="ContractOwner" type="wc:MemberRefType" />
    <element name="ContractReference">
        <complexType>
            <sequence>
            	<element ref="wc:ContractRef"/>            
            </sequence>   
        </complexType>
    </element>
        
</schema>