WC/xml/trading/xsd/Fulfillment.xsd

<?xml version="1.0"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<schema targetNamespace="http://www.ibm.com/WebSphereCommerce" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wc="http://www.ibm.com/WebSphereCommerce" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- include other XSDs -->
    <include schemaLocation="Member.xsd"/>
    <include schemaLocation="Catalog.xsd"/>
  
    <complexType name="FulfillmentCenterUniqueKeyType">
       <sequence>
           <element ref="wc:Owner"/>
       </sequence>         
       <attribute name="name" type="normalizedString" use="required"/>       
   </complexType>
   
    <element name="FulfillmentCenter">
    	<complexType>
            <complexContent>
                <extension base="wc:FulfillmentCenterUniqueKeyType">
                    <attribute name="inventoryopflags" type="int" use="required"/>
	            <attribute name="default" type="boolean"/>
                </extension>
            </complexContent>
        </complexType>
    </element>
    
    <element name="FulfillmentCenterRef" type="wc:FulfillmentCenterUniqueKeyType" />   

   <complexType name="FulfillmentCenterDescType">
        <attribute name="displayName" type="string"/>
        <attribute name="description" type="string"/>
        <attribute name="locale" type="token" use="required"/>
    </complexType>

    <element name="FulfillmentCenterNationalLanguageDescription">
        <complexType>
            <sequence>
            	<element ref="wc:FulfillmentCenterRef"/>
                <element name="Description" type="wc:FulfillmentCenterDescType" />           
            </sequence>   
        </complexType>
    </element>
 
</schema>
