WC/xml/trading/xsd/PriceList.xsd

<?xml version="1.0"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<schema targetNamespace="http://www.ibm.com/WebSphereCommerce" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wc="http://www.ibm.com/WebSphereCommerce" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- include other XSDs -->
    <include schemaLocation="Member.xsd"/> 
    <include schemaLocation="Common.xsd"/>


    <element name="PriceList">
        <complexType>
            <sequence>
                <element ref="wc:Offer" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="wc:Owner"/>
            </sequence>
            <attribute name="referenceNumber" type="long"/>
            <attribute name="name" type="normalizedString" use="required"/>
            <attribute name="description" type="string"/>
            <attribute name="precedence" type="double" use="required"/>
            <attribute name="type" use="required">
                <simpleType>
                    <restriction base="token">
                        <enumeration value="C"/>
                        <enumeration value="E"/>                        
                        <enumeration value="S"/>
                    </restriction>
                </simpleType>
            </attribute>
        </complexType>
    </element>
    <element name="PurchaseLimits">
        <complexType>
            <choice>
                <element ref="wc:PurchaseLimitByAmount"/>
                <element ref="wc:PurchaseLimitByQuantity"/>
            </choice>
        </complexType>
    </element>
    <element name="PurchaseLimitByAmount">
        <complexType>
            <attribute name="minimumAmount" type="wc:AmountType"/>
            <attribute name="maximumAmount" type="wc:AmountType"/>
            <attribute name="currency" type="token" use="required"/>
        </complexType>
    </element>
    
    <element name="PurchaseLimitByQuantity">
        <complexType>
            <attribute name="minimumQuantity" type="double"/>
            <attribute name="maximumQuantity" type="double"/>
        </complexType>
    </element>
    <element name="Offer">
        <complexType>
            <sequence>
                <element ref="wc:OfferPrice" maxOccurs="unbounded"/>               
                <element ref="wc:PurchaseLimits" minOccurs="0"/>
                <element ref="wc:Owner" minOccurs="0"/>
            </sequence>
            <attributeGroup ref="wc:StartEndTimeGroup"/>
            <attribute name="updateTime" type="wc:GMTTimeStamp"/>
            <attribute name="referenceNumber" type="long"/>
            <attribute name="maximumPurchaseQuantity" type="double"/>
            <attribute name="minimumPurchaseQuantity" type="double"/>
            <attribute name="published" use="required">
                <simpleType>
                    <restriction base="token">
                        <enumeration value="Published"/>
                        <enumeration value="NotPublished"/>
                        <enumeration value="MarkedForDelete"/>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="action" type="wc:ActionType"/>            
            <attribute name="quantityUnit" type="normalizedString"/>
            <attribute name="skuNumber" type="normalizedString"/>
            <attribute name="precedence" type="double"/>
            <attribute name="field1" type="normalizedString"/>
        </complexType>
    </element>
    <element name="OfferPrice">
        <complexType>
            <sequence>
                <element ref="wc:MonetaryAmount"/>
            </sequence>
        </complexType>
    </element>
</schema>
