WC/xml/trading/xsd/Store.xsd

<?xml version="1.0"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<schema targetNamespace="http://www.ibm.com/WebSphereCommerce" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wc="http://www.ibm.com/WebSphereCommerce" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- include basic common xsds -->
    <include schemaLocation="Member.xsd"/>
    <include schemaLocation="Common.xsd"/>
    <include schemaLocation="PriceList.xsd"/>
    <include schemaLocation="BusinessPolicy.xsd"/>
    <include schemaLocation="Catalog.xsd"/>
    <include schemaLocation="Fulfillment.xsd"/>

    <complexType name="StoreUniqueKeyType">
       <sequence>
           <element ref="wc:StoreOwner"/>
       </sequence>
       <attribute name="storeIdentity" type="normalizedString" use="required"/>     
   </complexType>
   
   <complexType name="StoreDescType">
        <attribute name="displayName" type="string"/>
        <attribute name="description" type="string"/>
        <attribute name="locale" type="token" use="required"/>
    </complexType>
    
    <element name="Store">
        <complexType>
            <sequence>
                <element name ="StoreUniqueKey" type="wc:StoreUniqueKeyType" />
                <element name="Description" type="wc:StoreDescType" minOccurs="0" maxOccurs="1"/>
                <element ref="wc:StoreRelationship" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="wc:StoreRelationshipFromStore" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="wc:Catalog" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="wc:SupportedLanguage" maxOccurs="unbounded"/>
                <element ref="wc:SupportedCurrency" maxOccurs="unbounded"/>
                <element ref="wc:BusinessPolicy" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="wc:MessageProfile" minOccurs="0" maxOccurs="unbounded"/> 
                <element ref="wc:PaymentsInformation" minOccurs="0"/> 
                <element ref="wc:ShippingMode" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="wc:ShippingArrangement" minOccurs="0" maxOccurs="unbounded"/> 
                <element ref="wc:InventoryAdjustmentCode" minOccurs="0" maxOccurs="unbounded"/> 
                <element ref="wc:CalculationUsage" minOccurs="0" maxOccurs="unbounded"/> 
                <element ref="wc:CustomExtensionCommand" minOccurs="0" maxOccurs="1"/> 
            </sequence>           
            <attribute name="type" type="string" use="required"/>
            <attribute name="defaultLocale" type="token" use="required"/>
            <attribute name="defaultCurrency" type="token" use="required"/>
            <attribute name="directory" type="normalizedString" use="required"/>
            <attribute name="sequence" type="int" default="0"/>
            <attribute name="storeEntityUniqueKey" type="int"/>
            <attribute name="remoteURL" type="normalizedString"/>
            <attribute name="allocationGoodFor"/>
            <attribute name="initialState">
                <simpleType>
                    <restriction base="token">
                        <enumeration value="open"/>
                        <enumeration value="closed"/>
                        <enumeration value="suspend"/>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="category" type="normalizedString"/>
        </complexType>
    </element>

    <element name="StoreRelationshipFromStore">
        <complexType>
            <sequence>
                <element ref="wc:StoreRef"/>
            </sequence>
            <attribute name="resourceType">
                <simpleType>
                    <restriction base="token">
                        <enumeration value="com.ibm.commerce.catalog"/>
                        <enumeration value="com.ibm.commerce.price"/>
                        <enumeration value="com.ibm.commerce.command"/>
                        <enumeration value="com.ibm.commerce.view"/>
                        <enumeration value="com.ibm.commerce.tax"/>
                        <enumeration value="com.ibm.commerce.URL"/>
                        <enumeration value="com.ibm.commerce.businessPolicy"/>
                        <enumeration value="com.ibm.commerce.campaigns"/>
                        <enumeration value="com.ibm.commerce.referral"/>
                        <enumeration value="com.ibm.commerce.hostedStore"/>
                        <enumeration value="com.ibm.commerce.segmentation"/>
                        <enumeration value="com.ibm.commerce.storeitem"/>
                        <enumeration value="com.ibm.commerce.currency.conversion"/>
                        <enumeration value="com.ibm.commerce.currency.format"/>
                        <enumeration value="com.ibm.commerce.currency.supported"/>
                        <enumeration value="com.ibm.commerce.currency.countervalue"/>
                        <enumeration value="com.ibm.commerce.measurement.format"/>
                        <enumeration value="com.ibm.commerce.event"/>
                        <enumeration value="com.ibm.commerce.channelStore"/>
                        <enumeration value="com.ibm.commerce.propertyFiles"/>
                        <enumeration value="com.ibm.commerce.contract"/>
                        <enumeration value="com.ibm.commerce.promotions"/>
                        <enumeration value="com.ibm.commerce.shipping.shipmode"/>
                        <enumeration value="com.ibm.commerce.shipping.shipjurisdiction"/>
                        <enumeration value="com.ibm.commerce.shipping.calculation"/>                      
                        <enumeration value="com.ibm.commerce.content"/>
                        <enumeration value="com.ibm.commerce.pricerule"/>
                        <enumeration value="com.ibm.commerce.catalogfilter"/>
                        <enumeration value="com.ibm.commerce.search.entitlement"/>
                        <enumeration value="com.ibm.commerce.search.price"/>
                    </restriction>
                </simpleType>
            </attribute>
        </complexType>
    </element>
    
    <element name="StoreRelationship">
        <complexType>
            <sequence>
                <element ref="wc:StoreRef"/>
            </sequence>
            <attribute name="resourceType">
                <simpleType>
                    <restriction base="token">
                        <enumeration value="com.ibm.commerce.catalog"/>
                        <enumeration value="com.ibm.commerce.price"/>
                        <enumeration value="com.ibm.commerce.command"/>
                        <enumeration value="com.ibm.commerce.view"/>
                        <enumeration value="com.ibm.commerce.tax"/>
                        <enumeration value="com.ibm.commerce.URL"/>
                        <enumeration value="com.ibm.commerce.businessPolicy"/>
                        <enumeration value="com.ibm.commerce.campaigns"/>
                        <enumeration value="com.ibm.commerce.referral"/>
                        <enumeration value="com.ibm.commerce.hostedStore"/>
                        <enumeration value="com.ibm.commerce.segmentation"/>
                        <enumeration value="com.ibm.commerce.storeitem"/>
                        <enumeration value="com.ibm.commerce.currency.conversion"/>
                        <enumeration value="com.ibm.commerce.currency.format"/>
                        <enumeration value="com.ibm.commerce.currency.supported"/>
                        <enumeration value="com.ibm.commerce.currency.countervalue"/>
                        <enumeration value="com.ibm.commerce.measurement.format"/>
                        <enumeration value="com.ibm.commerce.event"/>
                        <enumeration value="com.ibm.commerce.channelStore"/>
                        <enumeration value="com.ibm.commerce.propertyFiles"/>
                        <enumeration value="com.ibm.commerce.contract"/>
                        <enumeration value="com.ibm.commerce.promotions"/>
                        <enumeration value="com.ibm.commerce.shipping.shipmode"/>
                        <enumeration value="com.ibm.commerce.shipping.shipjurisdiction"/>
                        <enumeration value="com.ibm.commerce.shipping.calculation"/>
                        <enumeration value="com.ibm.commerce.content"/>
                        <enumeration value="com.ibm.commerce.pricerule"/>
                        <enumeration value="com.ibm.commerce.catalogfilter"/>
                        <enumeration value="com.ibm.commerce.search.entitlement"/>
                        <enumeration value="com.ibm.commerce.search.price"/>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="sequence" type="int" default="0"/>
        </complexType>
    </element>

    <element name="SupportedLanguage">
        <complexType>
            <attribute name="locale" type="token" use="required"/>
        </complexType>
    </element>
    <element name="SupportedCurrency">
        <complexType>
            <attribute name="currency" type="token" use="required"/>
        </complexType>
    </element>

    <element name="MessageProfile">
        <complexType>
            <sequence>
                <element name="Interaction" minOccurs="0" maxOccurs="unbounded">
        	    <complexType>
            		<attribute name="name" type="normalizedString" use="required"/>
            		<attribute name="value" type="normalizedString" use="required"/>
        	    </complexType>
    		</element>
    		<element name="Connection" minOccurs="0" maxOccurs="unbounded">
        	     <complexType>
            		<attribute name="name" type="normalizedString" use="required"/>
            		<attribute name="value" type="normalizedString" use="required"/>
        	     </complexType>
    		</element>
            </sequence>
            <attribute name="devicefmtId" type="int" use="required"/>
            <attribute name="messageType" type="normalizedString" use="required"/>
            <attribute name="transport" type="normalizedString" use="required"/>
            <attribute name="usersview" type="normalizedString" use="required"/>
            <attribute name="lowpriority" type="int"/>
            <attribute name="highpriority" type="int"/>
        </complexType>
    </element>

    <element name="PaymentsInformation">
       <complexType>
         <sequence>
             <element ref="wc:Payments"/>
             <element ref="wc:Cassette" maxOccurs="unbounded"/>
         </sequence>
       </complexType>
    </element>
    
    <element name="Payments">
       <complexType>
           <sequence>
               <element ref="wc:Owner"/>
           </sequence>
           <attribute name="enable" type="boolean" use="required"/>
       </complexType>
    </element>

    <element name="Cassette">
       <complexType>
   	   <sequence>
               <element ref="wc:PaymentAccount" minOccurs="0" maxOccurs="unbounded"/>
           </sequence>
           <attribute name="type" use="required">
               <simpleType>
                   <restriction base="token">
                       <enumeration value="OfflineCard"/>
                       <enumeration value="CustomOffline"/>
                   </restriction>
               </simpleType>
           </attribute>
       </complexType>
    </element>

    <element name="PaymentAccount">
       <complexType>
           <sequence>
               <element ref="wc:Brand" minOccurs="0" maxOccurs="unbounded"/>
           </sequence>
           <attribute name="paymentMethod"  type="normalizedString"/>
           <attribute name="currency"  type="token"/>
       </complexType>
    </element>
           
    <element name="Brand">
        <complexType>
            <attribute name="type" type="normalizedString" use="required"/>
        </complexType>
    </element>

   <element name="StoreRef">
        <complexType>
            <sequence>
                <element ref="wc:Owner" maxOccurs="unbounded"/>
            </sequence>
            <attribute name="name" type="normalizedString" use="required"/>
        </complexType>
    </element>

    <element name="ShippingMode">
        <complexType>
            <attribute name="code" type="normalizedString" use="required"/>
            <attribute name="carrier" type="normalizedString" use="required"/>
            <attribute name="default" type="boolean" use="required"/>
        </complexType>
    </element>
    
    <element name="ShippingArrangement">
        <complexType>
            <sequence>
                <element ref="wc:FulfillmentCenterRef"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="DescriptionType">
        <attribute name="description" type="string" use="required"/>
        <attribute name="locale" type="token" use="required"/>
    </complexType>

    <complexType name="InventoryAdjustmentCodeDescriptionType">
        <attribute name="code" type="normalizedString" use="required"/>
        <attribute name="description" type="string" use="required"/>
        <attribute name="locale" type="token" use="required"/>
    </complexType>

    <complexType name="ShippingModeDescriptionType">
        <attribute name="code" type="normalizedString" use="required"/>
        <attribute name="carrier" type="normalizedString" use="required"/>
        <attribute name="description" type="string" use="required"/>
        <attribute name="locale" type="token" use="required"/>
    </complexType>

    <element name="InventoryAdjustmentCode">
        <complexType>
            <sequence>
            	<element name="Description" type="wc:DescriptionType" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
            <attribute name="code" type="normalizedString" use="required"/>
        </complexType>
    </element>

    <element name="CalculationUsage">
        <complexType>
            <attribute name="calculationUsageId" type="normalizedString" use="required"/>
            <attribute name="flags" type="normalizedString" use="required"/>
            <attribute name="sequence" type="normalizedString" use="required"/>
        </complexType>
    </element>
    
    <element name="CustomExtensionCommand">
        <complexType>
            <attribute name="name" type="normalizedString" use="required"/>
            <attribute name="properties" type="normalizedString" use="required"/>
        </complexType>
    </element>

   <complexType name="AddressType">
            <attribute name="nickName" type="string" use="required"/>
            <attribute name="address1" type="string"/>
            <attribute name="address2" type="string"/>
            <attribute name="address3" type="string"/>
            <attribute name="city" type="string"/>
            <attribute name="country" type="string"/>
            <attribute name="email1" type="string"/>
            <attribute name="email2" type="string"/>
            <attribute name="fax1" type="string"/>
            <attribute name="fax2" type="string"/>
            <attribute name="field1" type="string"/>
            <attribute name="field2" type="string"/>
            <attribute name="field3" type="string"/>
            <attribute name="phone1" type="string"/>
            <attribute name="phone2" type="string"/>
            <attribute name="state" type="string"/>
            <attribute name="zipcode" type="string"/>
            <attribute name="firstName" type="string"/>
            <attribute name="lastName" type="string"/>
            <attribute name="middleName" type="string"/>
            <attribute name="personTitle" type="string"/>
            <attribute name="businessTitle" type="string"/>
            <attribute name="url" type="string"/>
            <attribute name="shippingGeoCode" type="string"/>
            <attribute name="taxGeoCode" type="string"/>
    </complexType>

    <element name="StoreNationalLanguageDescription">
        <complexType>
            <sequence>
            	<element ref="wc:StoreRef"/>
                <element name="Description" type="wc:StoreDescType" minOccurs="0" />         
                <element name="ContactAddress" type="wc:AddressType" minOccurs="0" />   
                <element name="LocationAddress" type="wc:AddressType" minOccurs="0" />    
            	<element name="InventoryAdjustmentCodeDescription" type="wc:InventoryAdjustmentCodeDescriptionType" minOccurs="0" />
		<element name="ShippingModeDescription" type="wc:ShippingModeDescriptionType" minOccurs="0" />
            </sequence>   
        </complexType>
    </element>

</schema>
