WC/xml/trading/xsd/TradingAgreement.xsd

<?xml version="1.0"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<schema targetNamespace="http://www.ibm.com/WebSphereCommerce" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wc="http://www.ibm.com/WebSphereCommerce" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- include basic contract xsd -->
    <include schemaLocation="BusinessPolicy.xsd"/>
    <include schemaLocation="PriceList.xsd"/>
    <include schemaLocation="Member.xsd"/>
    <include schemaLocation="Catalog.xsd"/>
    <include schemaLocation="Fulfillment.xsd"/>
    <include schemaLocation="Common.xsd"/>

    <complexType name="TradingAgreementType" abstract="true">
        <sequence>
            <element ref="wc:Participant" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="referenceNumber" type="long"/>
        <attributeGroup ref="wc:StartEndTimeGroup"/>
        <attributeGroup ref="wc:CreateUpdateTimeGroup"/>
    </complexType>

    <complexType name="TradingAgreementDescType" final="#all">
        <attributeGroup ref="wc:CreateUpdateTimeGroup"/>
        <attribute name="shortDescription" type="string"/>
        <attribute name="longDescription" type="string"/>
        <attribute name="locale" type="token" use="required"/>
    </complexType>

    <element name="Participant">
        <complexType>
            <sequence>
                <element ref="wc:ParticipantMember" minOccurs="0"/>
            </sequence>
            <attributeGroup ref="wc:CreateUpdateTimeGroup"/>
            <attribute name="role" type="wc:ParticipantRole" use="required"/>
            <attribute name="information" type="string"/>
            <attribute name="action" type="wc:ActionType"/>
        </complexType>
    </element>

    <!-- simple type of Participant Role -->
    <simpleType name="ParticipantRole" final="restriction">
        <restriction base="token">
            <enumeration value="Creator"/>
            <enumeration value="Seller"/>
            <enumeration value="Buyer"/>
            <enumeration value="Supplier"/>
            <enumeration value="Attorney"/>
            <enumeration value="AccountHolder"/>
            <enumeration value="BuyerContact"/>
            <enumeration value="SellerContact"/>
            <enumeration value="Reseller"/>
            <enumeration value="Distributor"/>
            <enumeration value="Provider"/>
            <enumeration value="Host"/>
            <enumeration value="Recipient"/>
            <enumeration value="ServiceRepresentative"/>
        </restriction>
    </simpleType>

    <!-- simple type of action -->
    <simpleType name="ActionType" final="restriction">
        <restriction base="token">
            <enumeration value="new"/>
            <enumeration value="update"/>
            <enumeration value="delete"/>
            <enumeration value="noaction"/>
            <enumeration value="ignore"/>            
        </restriction>
    </simpleType>


    <element name="Attachment">
        <complexType>
            <attribute name="mimeType" type="normalizedString"/>
            <attribute name="mimeTypeEncoding" type="normalizedString"/>
            <attribute name="URL" type="anyURI" use="required"/>
            <attribute name="action" type="wc:ActionType"/>
            <attributeGroup ref="wc:CreateUpdateTimeGroup"/>
        </complexType>
    </element>

    <!-- term condition type -->
    <complexType name="TermConditionType">
        <sequence>
	    <element ref="wc:Property" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="wc:TermConditionDescription" minOccurs="0"/>
            <element ref="wc:Participant" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="referenceNumber" type="long"/>
        <attribute name="action" type="wc:ActionType"/>
        <attribute name="mandatory" type="boolean"/>
        <attribute name="changeable" type="boolean"/>
        <attribute name="sequenceNumber" type="int"/>
        <attributeGroup ref="wc:CreateUpdateTimeGroup"/>
    </complexType>

    <element name="TermConditionDescription">
        <complexType>
            <attributeGroup ref="wc:CreateUpdateTimeGroup"/>
            <attribute name="shortDescription" type="string" use="required"/>
            <attribute name="longDescription" type="string"/>
            <attribute name="locale" type="token" use="required"/>
            <attribute name="sequenceNumber" type="int"/>
        </complexType>
    </element>

    <complexType name="PriceTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="PriceTCPriceListWithOptionalAdjustment">
        <complexType>
            <complexContent>
                <extension base="wc:PriceTCType">
                    <sequence>
                        <element ref="wc:PricePolicyRef"/>
                        <element ref="wc:PriceAdjustment" minOccurs="0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="PriceAdjustment">
        <complexType>
            <attribute name="signedPercentage" type="double" use="required"/>
        </complexType>
    </element>

    <element name="PriceTCPriceListWithSelectiveAdjustment">
        <complexType>
            <complexContent>
                <extension base="wc:PriceTCType">
                    <sequence>
                        <element ref="wc:PricePolicyRef"/>
                        <element ref="wc:PriceAdjustmentOnProductSet"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="PriceAdjustmentOnProductSet">
        <complexType>
            <sequence>
                <element ref="wc:ProductSetInclusion"/>
                <element ref="wc:PriceAdjustment"/>
            </sequence>
        </complexType>
    </element>

    <element name="PriceTCMasterCatalogWithOptionalAdjustment">
        <complexType>
            <complexContent>
                <extension base="wc:PriceTCType">
                    <sequence>
                        <element ref="wc:PriceAdjustment" minOccurs="0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="PriceTCCustomPriceList">
        <complexType>
            <complexContent>
                <extension base="wc:PriceTCType">
                    <sequence>
                        <element ref="wc:PriceList"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="ProductSetTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="ProductSetTCExclusion">
        <complexType>
            <complexContent>
                <extension base="wc:ProductSetTCType">
                    <sequence>
                        <element ref="wc:ProductSetPolicyRef"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="ProductSetTCInclusion">
        <complexType>
            <complexContent>
                <extension base="wc:ProductSetTCType">
                    <sequence>
                        <element ref="wc:ProductSetPolicyRef"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="ProductSetTCCustomExclusion">
        <complexType>
            <complexContent>
                <extension base="wc:ProductSetTCType">
                    <sequence>
                        <element ref="wc:ProductSet"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="ProductSetTCCustomInclusion">
        <complexType>
            <complexContent>
                <extension base="wc:ProductSetTCType">
                    <sequence>
                        <element ref="wc:ProductSet"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="ShippingTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="ShippingTCShippingMode">
        <complexType>
            <complexContent>
                <extension base="wc:ShippingTCType">
                    <sequence>
                        <element ref="wc:ShippingModePolicyRef"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="ShippingTCShippingCharge">
        <complexType>
            <complexContent>
                <extension base="wc:ShippingTCType">
                    <sequence>
                        <element ref="wc:ShippingChargePolicyRef"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="ShippingTCShipToAddress">
        <complexType>
            <complexContent>
                <extension base="wc:ShippingTCType">
                    <sequence>
                        <element ref="wc:AddressReference"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="ShippingTCShippingChargeAdjustment">
        <complexType>
            <complexContent>
                <extension base="wc:ShippingTCType">
                    <sequence>
                    	<element ref="wc:ShippingModePolicyRef" minOccurs="0"/>
                        <choice>
                            <element ref="wc:PriceAdjustment"/>
                            <element ref="wc:MonetaryAmount"/>
                        </choice>
                        <element ref="wc:CatalogRef" minOccurs="0"/>
                        <choice minOccurs="0">
                            <element ref="wc:CatalogEntryRef"/>
                            <element ref="wc:CatalogGroupRef"/>
                        </choice>
                        <element ref="wc:ShippingModePolicyRef" minOccurs="0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="FulfillmentTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="FulfillmentTC">
        <complexType>
            <complexContent>
                <extension base="wc:FulfillmentTCType">
                    <sequence>
                        <element ref="wc:FulfillmentCenterRef" maxOccurs="3"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="PaymentTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="PaymentTC">
        <complexType>
            <complexContent>
                <extension base="wc:PaymentTCType">
                    <sequence>
                        <element ref="wc:PaymentMethod"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>



    <complexType name="ReturnTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="ReturnTCReturnCharge">
        <complexType>
            <complexContent>
                <extension base="wc:ReturnTCType">
                    <sequence>
                        <element ref="wc:ReturnChargePolicyRef"/>
                        <element ref="wc:ReturnApprovalPolicyRef"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="ReturnTCRefundPaymentMethod">
        <complexType>
            <complexContent>
                <extension base="wc:ReturnTCType">
                    <sequence>
                        <element ref="wc:ReturnPaymentPolicyRef"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="InvoiceTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="InvoiceTC">
        <complexType>
            <complexContent>
                <extension base="wc:InvoiceTCType">
                    <sequence>
                        <element ref="wc:InvoiceFormatPolicyRef" minOccurs="0"/>
                    </sequence>
                    <attribute name="deliveryMethod">
                        <simpleType>
                            <restriction base="token">
                                <enumeration value="printed"/>
                                <enumeration value="eMail"/>
                                <enumeration value="regularMail"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="RightToBuyTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="RightToBuyTCByAmount">
        <complexType>
            <complexContent>
                <extension base="wc:RightToBuyTCType">
                    <sequence>
                        <element ref="wc:AllowablePurchaseTotal"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="ObligationToBuyTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="ObligationToBuyTCByAmount">
        <complexType>
            <complexContent>
                <extension base="wc:ObligationToBuyTCType">
                    <sequence>
                        <element ref="wc:ObligatedPurchaseTotal"/>
                    </sequence>
                    <attribute name="numberOfDays" type="int"/>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="AllowablePurchaseTotal">
        <complexType>
            <sequence>
                <element ref="wc:MonetaryAmount"/>
            </sequence>
        </complexType>
    </element>
    <element name="ObligatedPurchaseTotal">
        <complexType>
            <sequence>
                <element ref="wc:MonetaryAmount"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="PurchaseOrderTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="POTCLimited">
        <complexType>
            <complexContent>
                <extension base="wc:PurchaseOrderTCType">
                    <sequence>
                        <element ref="wc:SpendingLimit"/>
                    </sequence>
                    <attribute name="PONumber" type="normalizedString" use="required"/>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="POTCIndividual">
        <complexType>
            <complexContent>
                <extension base="wc:PurchaseOrderTCType">
                    <attribute name="checkUniqueness" type="boolean"/>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="POTCBlanket">
        <complexType>
            <complexContent>
                <extension base="wc:PurchaseOrderTCType">
                    <attribute name="PONumber" type="normalizedString"/>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name="SpendingLimit">
        <complexType>
            <sequence>
                <element ref="wc:MonetaryAmount"/>
            </sequence>
        </complexType>
    </element>

    <element name="PaymentMethod">
        <complexType>
            <sequence>
                <element ref="wc:PaymentPolicyRef"/>
                <element ref="wc:BillToAddress" minOccurs="0"/>
                <element ref="wc:PaymentMethodDisplayString"/>
                <element ref="wc:AttributeDetail" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="PaymentMethodDisplayString">
        <complexType>
            <attribute name="name" type="string" use="required"/>
        </complexType>
    </element>
    <element name="BillToAddress">
        <complexType>
            <sequence>
                <element ref="wc:AddressReference"/>
            </sequence>
        </complexType>
    </element>
    <element name="AddressReference">
        <complexType>
            <sequence>
                <element ref="wc:Owner"/>
            </sequence>
            <attribute name="nickName" type="normalizedString" use="required"/>
        </complexType>
    </element>

    <complexType name="OrderApprovalTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="OrderApprovalTC">
        <complexType>
            <complexContent>
                <extension base="wc:OrderApprovalTCType">
                    <sequence>
                        <element ref="wc:MonetaryAmount"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>


    <element name="PurchaseAmount">
        <complexType>
            <sequence>
                <element ref="wc:MonetaryAmount"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="DisplayCustomizationTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>


    <element name="DisplayCustomizationTC">
        <complexType>
            <complexContent>
                <extension base="wc:DisplayCustomizationTCType">
                    <choice>
                        <!--  Allows either DisplayLogo or DisplayText  -->
                        <element ref="wc:DisplayLogo" minOccurs="0"/>
                        <element ref="wc:DisplayText" minOccurs="0"/>
                    </choice>
                    <attribute name="displayType" type="string" />
                    <attribute name="indexNumber" type="string" />
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="DisplayLogo">
        <complexType>
            <sequence>
                <element ref="wc:Attachment"/>
            </sequence>
        </complexType>
    </element>

    <element name="DisplayText">
        <complexType>
            <attribute name="text" type="string" />
            <attribute name="locale" type="token" />
        </complexType>
    </element>


    <complexType name="OrderTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    <element name="OrderTCOrderItemPAttribute">
        <complexType>
            <complexContent>
                <extension base="wc:OrderTCType">
                    <sequence>
                        <element ref="wc:AttributeDetail" maxOccurs="unbounded"/>
                        <element ref="wc:SkuOwner"/>
                    </sequence>
                    <attribute name="skuNumber" type="normalizedString" use="required"/>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="OrderTCOrderComment">
        <complexType>
            <complexContent>
                <extension base="wc:OrderTCType">
                    <attribute name="comment" type="string" use="required"/>
                </extension>
            </complexContent>
        </complexType>
    </element>


    <complexType name="ReferralInterfaceTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>

    <element name="ReferralInterfaceTC">
        <complexType>
            <complexContent>
                <extension base="wc:ReferralInterfaceTCType">
                    <sequence>
                        <element ref="wc:ReferralInterfacePolicyRef"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="PriceTCMasterCatalogWithFilteringType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>

    <element name="PriceTCMasterCatalogWithFiltering">
        <complexType>
            <complexContent>
                <extension base="wc:PriceTCMasterCatalogWithFilteringType">
                    <sequence>
                        <element ref="wc:PricePolicyRef" minOccurs="1" maxOccurs="unbounded"/>
                        <element ref="wc:CatalogSelection"/>
                    </sequence>

                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="CatalogSelection">
        <complexType>
            <sequence>
                <element ref="wc:CatalogRef"/>
                <sequence minOccurs="0">
               <element ref="wc:ProductSetOwner"/>
               <element name="Selection" minOccurs="0" maxOccurs="unbounded">
            <complexType>
                      <sequence>
                     <element name="Adjustment">
                   <complexType>
                        <attribute name="signedPercentage" type="double" use="required"/>
                        <attribute name="precedence" type="double" use="required"/>
                   </complexType>
               </element>
                     <choice>
                            <element ref="wc:CatalogEntryRef"/>
                            <element ref="wc:CatalogGroupRef"/>
                     </choice>
                      </sequence>
                      <attribute name="type" use="required">
                           <simpleType>
                            <restriction base="token">
                              <enumeration value="Include"/>
                              <enumeration value="Exclude"/>
                            </restriction>
                        </simpleType>
                      </attribute>
                      <attribute name="synchronize" type="boolean" use="required"/>
                      <attribute name="action" type="wc:ActionType"/>
            </complexType>
             </element>
           </sequence>
            </sequence>
            <attribute name="includeEntireCatalog" type="boolean" use="required"/>
            <attribute name="signedPercentage" type="double" use="required"/>
            <attribute name="immediateDeploy" type="boolean"/>
            <attribute name="action" type="wc:ActionType"/>
        </complexType>
    </element>

    <complexType name="PriceTCConfigBuildBlockType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>

    <element name="PriceTCConfigBuildBlock">
        <complexType>
            <complexContent>
                <extension base="wc:PriceTCConfigBuildBlockType">
                    <sequence>
                        <element ref="wc:ConfigBuildBlockList"/>
                        <element ref="wc:PricePolicyRef" minOccurs="0" maxOccurs="unbounded"/>                        
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="ConfigBuildBlockList">
        <complexType>
            <sequence>
                <element ref="wc:Owner"/>
                <element ref="wc:Configuration" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
            <attribute name="immediateDeploy" type="boolean"/>
        </complexType>
    </element>

    <element name="Configuration">
        <complexType>
            <sequence>
                <element name="Base">
                    <complexType>
                        <sequence>
                            <element ref="wc:CatalogEntryRef"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="FlatBuildBlockList">
                    <complexType>
                        <sequence>
                            <element ref="wc:BuildBlock" minOccurs="1" maxOccurs="unbounded"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
            <attribute name="action" type="wc:ActionType"/>
        </complexType>
    </element>

    <element name="BuildBlockFixedOffer">
        <complexType>
            <sequence>
                    <element ref="wc:MonetaryAmount"/>
            </sequence>
            <attributeGroup ref="wc:StartEndTimeGroup"/>   
            <attribute name="minimumQuantity" type="double"/>
            <attribute name="maximumQuantity" type="double"/>     
            <attribute name="published" type="long"/>       
            <attribute name="precedence" type="double"/>
            <attribute name="field1" type="normalizedString"/>         
            <attribute name="field2" type="normalizedString"/>
            <attribute name="identifier" type="long"/>
        </complexType>
    </element> 
    
    <element name="BuildBlockPercentageOffer">
        <complexType>
            <sequence>
                    <element ref="wc:PriceAdjustment"/>
            </sequence> 
            <attribute name="type">
                 <simpleType>
                      <restriction base="token">
                         <enumeration value="Include"/>
                         <enumeration value="Exclude"/>
                      </restriction>
                 </simpleType>
            </attribute>                       
        </complexType>
    </element>     
    
    <element name="BuildBlock">
        <complexType>
            <sequence>
                <element ref="wc:CatalogEntryRef"/>
                <sequence>
                    <element ref="wc:BuildBlockFixedOffer" minOccurs="0" maxOccurs="unbounded"/>
                    <element ref="wc:BuildBlockPercentageOffer" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </sequence>
        </complexType>
    </element>          
    
    <complexType name="AddressBookTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    
    <element name="AddressBookTC">
        <complexType>
            <complexContent>
                <extension base="wc:AddressBookTCType">
                    <attribute name="usage" use="required">
                        <simpleType>
                            <restriction base="token">
                                <enumeration value="shipping"/>
                                <enumeration value="billing"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute name="usePersonal" type="boolean" />
	     <attribute name="useParentOrganization" type="boolean" />
	     <attribute name="useAccountHolderOrganization" type="boolean" />
                </extension>
            </complexContent>
        </complexType>
    </element>
        
    <complexType name="HandlingChargeTCType">
        <complexContent>
            <extension base="wc:TermConditionType"/>
        </complexContent>
    </complexType>
    
    <element name="HandlingChargeTC">
        <complexType>
            <complexContent>
                <extension base="wc:HandlingChargeTCType">
                    <sequence>
                        <element ref="wc:HandlingCharge" minOccurs="0"/>
                        <element ref="wc:MaximumHandlingCharge" minOccurs="0"/>
                    </sequence>
                    <attribute name="firstReleaseFree" type="boolean"/>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <element name="HandlingCharge">
        <complexType>
            <sequence>
                <element ref="wc:MonetaryAmount"/>
            </sequence>
        </complexType>
    </element>

    <element name="MaximumHandlingCharge">
        <complexType>
            <sequence>
                <element ref="wc:MonetaryAmount"/>
	 <element ref="wc:PriceAdjustment" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>

    <element name="ParticipantMember" type="wc:MemberRefType"/>

    <element name="TermConditionList" >
      <complexType>
       <sequence>
            <choice minOccurs="1" maxOccurs="unbounded">
                     <element ref="wc:PriceTCPriceListWithOptionalAdjustment"/>
                     <element ref="wc:PriceTCPriceListWithSelectiveAdjustment"/>
                     <element ref="wc:PriceTCCustomPriceList"/>
                     <element ref="wc:PriceTCMasterCatalogWithOptionalAdjustment"/>
                     <element ref="wc:ProductSetTCExclusion"/>
                     <element ref="wc:ProductSetTCInclusion"/>
                     <element ref="wc:ProductSetTCCustomExclusion"/>
                     <element ref="wc:ProductSetTCCustomInclusion"/>
                     <element ref="wc:ShippingTCShippingMode"/>
                     <element ref="wc:ShippingTCShippingCharge"/>
                     <element ref="wc:ShippingTCShipToAddress"/>
                     <element ref="wc:FulfillmentTC"/>
                     <element ref="wc:PaymentTC"/>
                     <element ref="wc:ReturnTCReturnCharge"/>
                     <element ref="wc:ReturnTCRefundPaymentMethod"/>
                     <element ref="wc:RightToBuyTCByAmount"/>
                     <element ref="wc:ObligationToBuyTCByAmount"/>
                     <element ref="wc:OrderApprovalTC"/>
                     <element ref="wc:OrderTCOrderItemPAttribute"/>
                     <element ref="wc:OrderTCOrderComment"/>
                     <element ref="wc:InvoiceTC"/>
                     <element ref="wc:POTCLimited"/>
                     <element ref="wc:POTCIndividual"/>
                     <element ref="wc:POTCBlanket"/>
                     <element ref="wc:DisplayCustomizationTC"/>
                     <element ref="wc:ReferralInterfaceTC" />
                     <element ref="wc:PriceTCMasterCatalogWithFiltering"/>
                     <element ref="wc:PriceTCConfigBuildBlock"/>
                     <element ref="wc:AddressBookTC"/>
                     <element ref="wc:HandlingChargeTC"/>
                     <element ref="wc:AbstractCustomizedTC"/>
	             <element ref="wc:TermCondition"/>

                 </choice>
       </sequence>
      </complexType>
    </element>



    <element name="AbstractCustomizedTC" type="wc:TermConditionType" abstract="true"/>


	<!--Start =============== Contract Customerization LI===============-->
	<complexType name="PropertyType">
		<annotation>
			<documentation>The type definition of a NameValuePair.</documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" use="required">
					<annotation>
						<documentation>The property name is the name which defined in TCConfiguration.xml or the TCConfigurationExt.xml.</documentation>
					</annotation>
				</attribute>
				<attribute name="value" type="string" use="required">
					<annotation>
						<documentation>The value of the property.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<element name="Property" type="wc:PropertyType">
		<annotation>
			<documentation>The Property element definition.</documentation>
		</annotation>
	</element>
	<complexType name="ExtendedTCType">
		<complexContent>
			<extension base="wc:TermConditionType">
				<attribute name="type" type="string" use="required">
					<annotation>
						<documentation>The tcsubtype of the ExtendedTC. This value is defined in TCConfiguration.xml or TCConfigurationExt.xml.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<element name="TermCondition" type="wc:ExtendedTCType">
		<annotation>
			<documentation>The ExtendedTC element definition.</documentation>
		</annotation>
	</element>
	
	<!--end =============== Contract Customerization LI===============-->

</schema>

