WC/xml/messaging/Create_WCS_InventoryReceipt_10.dtd

<!--
 ******************************************************************************
 *                                                                            *
 * Licensed Materials - Property of IBM                                       *
 *                                                                            *
 * 5697-D24                                                                   *
 *                                                                            *
 * (c)  Copyright  IBM Corp.  2001.      All Rights Reserved                  *
 *                                                                            *
 * US Government Users Restricted Rights - Use, duplication or                *
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.          *
 *                                                                            *
 ******************************************************************************
-->

<!ELEMENT Create_WCS_InventoryReceipt (ControlArea, DataArea)>
<!ATTLIST Create_WCS_InventoryReceipt
  version           CDATA          #FIXED "1.0">

<!ELEMENT ControlArea (Verb, Noun, Credentials?)>

<!ELEMENT Verb  (#PCDATA)>
<!ATTLIST Verb 
  value             CDATA          #FIXED "Create" >
<!ELEMENT Noun  (#PCDATA)>
<!ATTLIST Noun
  value             CDATA          #FIXED "WCS_InventoryReceipt">

<!ELEMENT Credentials (LogonId, Password)>
<!ELEMENT LogonId (#PCDATA)>
<!ELEMENT Password (#PCDATA)>   

<!-- ===========================DataArea============================ -->

<!ELEMENT DataArea (InventoryReceipt)>
<!ELEMENT InventoryReceipt (ItemOwnerID,
		      ProductSKU,
		      VersionName?,
		      StoreID,
		      FulfillmentCenterID,
		      VendorID,
		      Cost,
		      QTYReceived,
		      ReceiptDate,
		      WCSRaDetailID?,
		      ReceiptComment?,
		      QualityComment?)>
<!ELEMENT ItemOwnerID (#PCDATA)>
<!ELEMENT ProductSKU (#PCDATA)>
<!ELEMENT VersionName (#PCDATA)>
<!ELEMENT StoreID (#PCDATA)>
<!ELEMENT FulfillmentCenterID (#PCDATA)>
<!ELEMENT VendorID (#PCDATA)>
<!ELEMENT Cost (#PCDATA)>
<!ATTLIST Cost currency CDATA #REQUIRED>
<!ELEMENT QTYReceived (#PCDATA)>
<!ELEMENT ReceiptDate (#PCDATA)>   <!-- ISO 8601 Format-->
<!ELEMENT WCSRaDetailID (#PCDATA)>
<!ELEMENT ReceiptComment (#PCDATA)>
<!ELEMENT QualityComment (#PCDATA)>
