WC/xml/messaging/Create_WCS_ExpectedInventoryRecord_10.dtd

<!--
 ******************************************************************************
 *                                                                            *
 * Licensed Materials - Property of IBM                                       *
 *                                                                            *
 * WebSphere Commerce                                                                   *
 *                                                                            *
 * (c)  Copyright  IBM Corp.  2000.      All Rights Reserved                  *
 *                                                                            *
 * US Government Users Restricted Rights - Use, duplication or                *
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.          *
 *                                                                            *
 ******************************************************************************
-->

<!-- =============================================================== -->
<!ELEMENT Create_WCS_ExpectedInventoryRecord (ControlArea, DataArea)>
<!ATTLIST Create_WCS_ExpectedInventoryRecord
   version           CDATA          #FIXED "1.0">


<!ELEMENT ControlArea (Verb, Noun, Credentials?)>

<!ELEMENT Verb  (#PCDATA) >
<!ATTLIST Verb 
   value  CDATA #FIXED "Create" >
<!ELEMENT Noun  (#PCDATA) >
<!ATTLIST Noun
   value  CDATA  #FIXED "WCS_ExpectedInventoryRecord">

<!ELEMENT Credentials (LogonId, Password)>
<!ELEMENT LogonId (#PCDATA)>
<!ELEMENT Password (#PCDATA)>   

<!-- ===========================DataArea============================ -->

<!ELEMENT DataArea (ExpectedInventoryRecord)>

<!ELEMENT ExpectedInventoryRecord (RA, RADetail+ )>

<!ELEMENT RA (BackendRaID?, StoreID, VendorID, OrderDate, ExternalID?)>
<!ELEMENT BackendRaID (#PCDATA)>
<!ELEMENT StoreID  (#PCDATA)>
<!ELEMENT VendorID (#PCDATA)>
<!ELEMENT OrderDate (#PCDATA)>
<!ELEMENT ExternalID (#PCDATA)>


<!ELEMENT RADetail (BackendRaDetailID?, ItemOwnerID, ProductSKU, FulfillmentCenterID, ExpectedDate, QuantityOrdered, Comment?)>
<!ELEMENT BackendRaDetailID (#PCDATA)>
<!ELEMENT ItemOwnerID (#PCDATA)>
<!ELEMENT ProductSKU (#PCDATA)>
<!ELEMENT FulfillmentCenterID (#PCDATA)>
<!ELEMENT ExpectedDate (#PCDATA)>  <!-- ISO8601 Format: yyyy-mm-ddThh:mm:ss.ssssss -->
<!ELEMENT QuantityOrdered (#PCDATA)>
<!ELEMENT Comment (#PCDATA)>
