WC/xml/messaging/Create_WCS_Customer_30.dtd

<!--
 ******************************************************************************
 *                                                                            *
 * Licensed Materials - Property of IBM                                       *
 *                                                                            *
 * WebSphere Commerce                                                                   *
 *                                                                            *
 * (c)  Copyright  IBM Corp.  2000.      All Rights Reserved                  *
 *                                                                            *
 * US Government Users Restricted Rights - Use, duplication or                *
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.          *
 *                                                                            *
 ******************************************************************************
-->

<!-- =============================================================== -->
<!ELEMENT Create_WCS_Customer (ControlArea, DataArea)>
<!ATTLIST Create_WCS_Customer
   version           CDATA          #FIXED "3.0">

<!ENTITY % defineNCCommonModule SYSTEM "NCCommon.mod">
%defineNCCommonModule;

<!ELEMENT ControlArea (Verb, Noun, Credentials?)>

<!ELEMENT Verb  EMPTY >
<!ATTLIST Verb 
   value  CDATA #FIXED "Create" >
<!ELEMENT Noun  EMPTY >
<!ATTLIST Noun
   value  CDATA  #FIXED "WCS_Customer">
   
<!ELEMENT Credentials (LogonId, Password)>
<!ELEMENT LogonId (#PCDATA)>   

<!-- ===========================DataArea============================ -->

<!ELEMENT DataArea (Customer)>

<!ELEMENT Customer (Registration, AddressInfo, Profile?, UserData?)>

<!ELEMENT Registration (LogonInfo, StoreInfo, ParentMemberInfo?, StatusInfo?, Challenge?)>

<!ELEMENT LogonInfo (LogonID, Password, VerifyPassword)>
<!ELEMENT LogonID (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ELEMENT VerifyPassword (#PCDATA)>

<!ELEMENT StoreInfo (StoreID)>
<!ELEMENT StoreID (#PCDATA)>

<!ELEMENT ParentMemberInfo (ParentMember)>
<!ELEMENT ParentMember (#PCDATA)>

<!ELEMENT StatusInfo (CustomerStatus, PasswordExpired)>
<!ELEMENT CustomerStatus (#PCDATA)>
<!ELEMENT PasswordExpired EMPTY>
<!ATTLIST PasswordExpired
   value %boolean; "0" >

<!ELEMENT Challenge (Question, Answer)>
<!ELEMENT Question (#PCDATA)>
<!ELEMENT Answer (#PCDATA)>

<!ELEMENT AddressInfo (AddressId?, 
                       AddressNickName, 
                       AddressType, 
                       PersonName, 
                       Address, 
                       ContactInfo?, 
                       Billing?, 
                       PackageSuppression?, 
                       AddressField*)>

<!ELEMENT AddressId (#PCDATA)>
<!ELEMENT AddressNickName (#PCDATA)>
<!ELEMENT AddressType (#PCDATA)>

<!ELEMENT PersonName (Title?, LastName, FirstName?, MiddleName?)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT MiddleName (#PCDATA)>

<!ELEMENT Address (AddressLine+, City, State, ZipCode, Country)>
<!ATTLIST Address
   primary %boolean; "1"
   self    %boolean; #IMPLIED >
<!ELEMENT AddressLine (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT State (#PCDATA)>
<!ELEMENT ZipCode (#PCDATA)>
<!ELEMENT Country (#PCDATA)>

<!ELEMENT ContactInfo (Telephone*, BestCallingTime?, Fax*, Email*, ReceiveEmail?)>
<!ELEMENT Telephone (#PCDATA)>
<!ATTLIST Telephone 
   type CDATA #IMPLIED
   publish CDATA #IMPLIED >
<!ELEMENT BestCallingTime (#PCDATA)>
<!ELEMENT Fax (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT ReceiveEmail (#PCDATA)>
<!ATTLIST ReceiveEmail
   value ( TRUE | FALSE ) "FALSE">

<!ELEMENT Billing (Code, CodeType)>
<!ELEMENT Code (#PCDATA)>
<!ELEMENT CodeType (#PCDATA)>

<!ELEMENT PackageSuppression (#PCDATA)>
<!ELEMENT AddressField (#PCDATA)>

<!ELEMENT Profile (Personal, Business?, Demographics?)>
<!ATTLIST Profile
   type ( B | C ) "C" >

<!ELEMENT Personal (DistinguishedName, 
                    PreferredCurrency?, 
                    PreferredLanguage?, 
                    UserField*,
                    DisplayName?, 
                    Photo?, 
                    PreferredMeasure?, 
                    PreferredCommunication?,
                    PreferredDelivery?, 
                    Description?, 
                    UserProfileField*) >
<!ELEMENT DistinguishedName (#PCDATA)>
<!ELEMENT PreferredCurrency (#PCDATA)>
<!ELEMENT PreferredLanguage (#PCDATA)>
<!ELEMENT UserField (#PCDATA)>
<!ELEMENT DisplayName (#PCDATA)>
<!ELEMENT Photo (#PCDATA)>
<!ELEMENT PreferredMeasure (#PCDATA)>
<!ELEMENT PreferredCommunication (#PCDATA)>
<!ELEMENT PreferredDelivery (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT UserProfileField (#PCDATA)>

<!ELEMENT Business (BusinessTitle?,
                    Organization, 
                    Employee?,
                    OfficeAddress?,
                    DepartmentNumber?, 
                    Manager?,
                    Secretary?) >
<!ELEMENT BusinessTitle (#PCDATA)>
<!ELEMENT Organization (OrganizationId, 
                    OrganizationName?,
                    OrganizationUnitId?, 
                    OrganizationUnitName?) >
<!ELEMENT Employee (EmployeeId, 
                    AlternateId?, 
                    EmployeeType?) > 
<!ELEMENT OfficeAddress (#PCDATA)>
<!ELEMENT DepartmentNumber (#PCDATA)>
<!ELEMENT Manager (#PCDATA)>
<!ELEMENT Secretary (#PCDATA)>
<!ELEMENT OrganizationId (#PCDATA)>
<!ELEMENT OrganizationName (#PCDATA)>
<!ELEMENT OrganizationUnitId (#PCDATA)>
<!ELEMENT OrganizationUnitName (#PCDATA)>
<!ELEMENT EmployeeId (#PCDATA)>
<!ELEMENT AlternateId (#PCDATA)>
<!ELEMENT EmployeeType (#PCDATA)>

<!ELEMENT Demographics (Age?, 
                        Gender?,
                        Income?,
                        MaritalStatus?,
                        Children?,
                        Household?,
                        CompanyName?,
                        Hobbies?,
                        OrderBefore?,
                        TimeZone?,
                        DemographicField*) >
<!ELEMENT Age (#PCDATA)>
<!ELEMENT Gender (#PCDATA)>
<!ELEMENT Income (#PCDATA)>
<!ATTLIST Income 
    currency CDATA #REQUIRED >
<!ELEMENT MaritalStatus (#PCDATA)>
<!ELEMENT Children (#PCDATA)>
<!ELEMENT Household (#PCDATA)>
<!ELEMENT CompanyName (#PCDATA)>
<!ELEMENT Hobbies (#PCDATA)>
<!ELEMENT OrderBefore (#PCDATA)>
<!ELEMENT TimeZone (#PCDATA)>
<!ELEMENT DemographicField (#PCDATA)>
