WC/xml/messaging/ec_template.dtd

<!--
 ******************************************************************************
 *                                                                            *
 * Licensed Materials - Property of IBM                                       *
 *                                                                            *
 * WebSphere Commerce                                                         *
 *                                                                            *
 * (c)  Copyright  IBM Corp.  2000, 2009      All Rights Reserved             *
 *                                                                            *
 * US Government Users Restricted Rights - Use, duplication or                *
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.          *
 *                                                                            *
 ******************************************************************************
-->

<!ELEMENT ECTemplate ((TemplateDocument | TemplateTag)*)>
<!ATTLIST ECTemplate
   version  CDATA #FIXED "1.0">

<!ELEMENT TemplateDocument (DocumentType, StartElement, 
                             TemplateTagName, CommandMapping?)>

<!ELEMENT DocumentType (#PCDATA)>
<!ATTLIST DocumentType  
   version CDATA #IMPLIED >

<!ELEMENT StartElement (#PCDATA)>
<!ELEMENT TemplateTagName (#PCDATA)>

<!ELEMENT CommandMapping (Command+)>
<!ELEMENT Command (Constant*) >
<!ATTLIST Command
    CommandName CDATA #REQUIRED 
    Condition CDATA #IMPLIED 
    TemplateTagName CDATA #IMPLIED>

<!ELEMENT Constant (#PCDATA)>
<!ATTLIST Constant
    Field CDATA #REQUIRED
    FieldInfo CDATA #IMPLIED >

<!ELEMENT TemplateTag (Tag*)>
<!ATTLIST TemplateTag 
    name CDATA #REQUIRED >

<!ELEMENT Tag EMPTY>
<!ATTLIST Tag
    XPath CDATA #REQUIRED  
    XPathType (PCDATA | EMPTY | REPEAT | VECTOR | ATTRIBUTE | USERDATA) "PCDATA"
    Field CDATA #IMPLIED
    FieldType ( STRING | DATE | GMTDATE ) "STRING" 
    FieldInfo CDATA #IMPLIED >

