WC/xml/messaging/PackSlip_10.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

	<!ELEMENT Packslip (Order_Information, Shipto, Order_Items+)>

	<!ELEMENT Order_Information EMPTY>
	<!ATTLIST Order_Information Store_Name CDATA #REQUIRED
		Fulfillment_Center CDATA #REQUIRED
                Order_Number CDATA #REQUIRED
                Release_Number CDATA #REQUIRED
		Pickbatch_Number CDATA #REQUIRED
		Order_Date CDATA #REQUIRED
                Shipping_Provider CDATA #REQUIRED
                Customer_Number CDATA #REQUIRED
		Invoice_Method CDATA #IMPLIED>

	<!ELEMENT Shipto EMPTY>
	<!ATTLIST Shipto  AddressID CDATA #REQUIRED
                  	First_Name CDATA #IMPLIED
                  	Last_Name CDATA #REQUIRED
                  	Middle_Name CDATA #IMPLIED
                  	Address_1 CDATA #REQUIRED
                  	Address_2 CDATA #IMPLIED
                  	Address_3 CDATA #IMPLIED
                  	City CDATA #REQUIRED
                  	State CDATA #IMPLIED
                  	Zip CDATA #IMPLIED
                  	Country CDATA #REQUIRED>

	<!ELEMENT Order_Items (Component*)>
	<!ATTLIST Order_Items SKU CDATA #REQUIRED
                       	Product_Name CDATA #REQUIRED
                       	Product_Description CDATA #IMPLIED
                       	Quantity CDATA #REQUIRED
                       	Unit_Price CDATA #REQUIRED
                       	Total_Price CDATA #REQUIRED
			Currency CDATA #REQUIRED
			Customer_Comments CDATA #IMPLIED
			Catalog_Name CDATA #IMPLIED>

	<!ELEMENT Component EMPTY>
	<!ATTLIST Component SKU CDATA #REQUIRED
                       	Product_Name CDATA #REQUIRED
                       	Product_Description CDATA #IMPLIED
                       	Quantity CDATA #REQUIRED>