WC/xml/messaging/Report_WCS_PickPackListDetail_20.dtd

<!--
 ******************************************************************************
 *                                                                            *
 * Licensed Materials - Property of IBM                                       *
 *                                                                            *
 * 5697-D24                                                                   *
 *                                                                            *
 * (c)  Copyright  IBM Corp.  1999.      All Rights Reserved                  *
 *                                                                            *
 * US Government Users Restricted Rights - Use, duplication or                *
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.          *
 *                                                                            *
 ******************************************************************************
-->
<!ENTITY % Pickticket SYSTEM "./PickTicket_20.dtd">
%Pickticket;

<!ENTITY % Packslip SYSTEM "./PackSlip_20.dtd">
%Packslip;

<!ELEMENT Report_WCS_PickPackListDetail (ControlArea, DataArea)>
<!ATTLIST Report_WCS_PickPackListDetail
  version           CDATA          #FIXED "2.0">

<!ELEMENT ControlArea (Verb, Noun, Credentials?)>

<!ELEMENT Verb  (#PCDATA) >
<!ATTLIST Verb 
   value  CDATA #FIXED "Report" >
<!ELEMENT Noun  (#PCDATA) >
<!ATTLIST Noun
   value  CDATA  #FIXED "WCS_PickPackListDetail">

<!ELEMENT Credentials (LogonId, Password)>
<!ELEMENT LogonId (#PCDATA)>
<!ELEMENT Password (#PCDATA)>   

<!-- ===========================DataArea============================ -->

<!ELEMENT DataArea (ResponseStatus, PickPackListReport?)>
<!ELEMENT ResponseStatus (#PCDATA)>
<!ATTLIST ResponseStatus status (OK | ERROR) #REQUIRED>
<!ATTLIST ResponseStatus code    CDATA #IMPLIED>

<!ELEMENT PickPackListReport (Pickticket, Packslip+)>

