WC/xml/messaging/Request_WCS_BE_ProductInventory_10.dtd

<!--
 ******************************************************************************
 *                                                                            *
 * Licensed Materials - Property of IBM                                       *
 *                                                                            *
 * 5697-D24                                                                   *
 *                                                                            *
 * (c)  Copyright  IBM Corp.  1999.      All Rights Reserved                  *
 *                                                                            *
 * US Government Users Restricted Rights - Use, duplication or                *
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.          *
 *                                                                            *
 ******************************************************************************
-->

<!-- =============================================================== -->
<!ELEMENT Request_WCS_BE_ProductInventory (ControlArea, DataArea)>
<!ATTLIST Request_WCS_BE_ProductInventory
   version           CDATA          #FIXED "1.0">

<!ELEMENT ControlArea (Verb, Noun, Credentials?)>

<!ELEMENT Verb  (#PCDATA)>
<!ATTLIST Verb 
   value            (Request | Reply) #REQUIRED>
<!ELEMENT Noun  (#PCDATA)>
<!ATTLIST Noun
   value             CDATA          #FIXED "WCS_BE_ProductInventory">
   
<!ELEMENT Credentials (LogonId, Password)>
<!ELEMENT LogonId (#PCDATA)>
<!ELEMENT Password (#PCDATA)>      

<!-- ===========================DataArea============================ -->
<!-- Request message  -->
<!-- Product SKU, RequestedQuantity,StoreID=Sender, FulfillmentCenterID=Requester  -->
<!-- Response message  -->
<!-- Product SKU, RequestedQuantity,  DeliveryInfo=(AvailableQuantity, EstimatedAvailDate), StoreID=Sender, FulfillmentCenterID=Requester  -->

<!ELEMENT DataArea (ProductInventoryInfo+)>
<!ELEMENT ProductInventoryInfo (
                            WCOrderId?,
                            WCOrderItemId?,
                            ProductSKU, 
                            RequestedQuantity, 
                            RequestedDate?, 
                            StoreID?, 
                            FulfillmentCenterID?, 
                            ReplyStatus?, 
                            DeliveryInfo*, 
                            Comment?)>

<!ELEMENT WCOrderId (#PCDATA)>
<!ELEMENT WCOrderItemId (#PCDATA)>
<!ELEMENT ProductSKU (#PCDATA)>
<!ELEMENT RequestedQuantity (#PCDATA)>
<!ELEMENT RequestedDate (#PCDATA)>
<!ELEMENT StoreID (#PCDATA)>
<!ELEMENT FulfillmentCenterID (#PCDATA)>
<!ELEMENT Comment (#PCDATA)>
<!ELEMENT ReplyStatus EMPTY>
<!ATTLIST ReplyStatus status (OK | ERROR) #REQUIRED
                         code CDATA #IMPLIED>
<!ELEMENT DeliveryInfo (AvailableQuantity, EstimatedAvailDate, ShippingOffset?)>
<!ELEMENT AvailableQuantity (#PCDATA)>
<!ELEMENT EstimatedAvailDate (#PCDATA)>
<!ELEMENT ShippingOffset (#PCDATA)>

