WC/xml/messaging/Response_WCS_CreateInvReceipt_10.dtd

<!--
 ******************************************************************************
 *                                                                            *
 * Licensed Materials - Property of IBM                                       *
 *                                                                            *
 * 5697-D24                                                                   *
 *                                                                            *
 * (c)  Copyright  IBM Corp.  1999.      All Rights Reserved                  *
 *                                                                            *
 * US Government Users Restricted Rights - Use, duplication or                *
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.          *
 *                                                                            *
 ******************************************************************************
-->

<!-- =============================================================== -->
<!ELEMENT Response_WCS_CreateInvReceipt (ControlArea, DataArea)>
<!ATTLIST Response_WCS_CreateInvReceipt
   version           CDATA          #FIXED "1.0">

<!ELEMENT ControlArea (Verb, Noun, Credentials?)>

<!ELEMENT Verb  (#PCDATA)>
<!ATTLIST Verb 
   value             CDATA          #FIXED "Response" >
<!ELEMENT Noun  (#PCDATA)>
<!ATTLIST Noun
   value             CDATA          #FIXED "CreateInvReceipt">
   
<!ELEMENT Credentials (LogonId, Password)>
<!ELEMENT LogonId (#PCDATA)>
<!ELEMENT Password (#PCDATA)>      

<!-- ===========================DataArea============================ -->

<!ELEMENT DataArea (InventoryReceipt)>
<!ELEMENT InventoryReceipt (ResponseStatus,
			    ReceiptID?,
			    ItemOwnerID?,
			    ProductSKU?,
			    StoreID?,
			    FulfillmentCenterID?,
			    VendorID?,
			    QTYReceived?,
			    ReceiptDate?)>
<!ELEMENT ResponseStatus (#PCDATA)>
<!ATTLIST ResponseStatus status (OK | ERROR) #REQUIRED
                         code CDATA #IMPLIED>
<!ELEMENT ReceiptID (#PCDATA)>
<!ELEMENT ItemOwnerID (#PCDATA)>
<!ELEMENT ProductSKU (#PCDATA)>
<!ELEMENT StoreID (#PCDATA)>
<!ELEMENT FulfillmentCenterID (#PCDATA)>
<!ELEMENT VendorID (#PCDATA)>
<!ELEMENT QTYReceived (#PCDATA)>
<!ELEMENT ReceiptDate (#PCDATA)>   <!-- ISO 8601 Format-->
