WC/xml/messaging/Update_WCS_OrderStatus_30.dtd

<!--
 ******************************************************************************
 *                                                                            *
 * Licensed Materials - Property of IBM                                       *
 *                                                                            *
 * WebSphere Commerce                                                                   *
 *                                                                            *
 * (c)  Copyright  IBM Corp. 2000. All Rights Reserved                        *
 *                                                                            *
 * US Government Users Restricted Rights - Use, duplication or                *
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.          *
 *                                                                            *
 ******************************************************************************
-->
<!-- =============================================================== -->
<!ELEMENT Update_WCS_OrderStatus (ControlArea, DataArea)>
<!ATTLIST Update_WCS_OrderStatus
	version CDATA #FIXED "3.0"
>
<!ENTITY % defineWCSCommonModule SYSTEM "NCCommon.mod">
%defineWCSCommonModule;
<!ELEMENT ControlArea (Verb, Noun, Credentials?)>
<!ELEMENT Verb (#PCDATA)>
<!ATTLIST Verb
	value CDATA #FIXED "Update"
>
<!ELEMENT Noun (#PCDATA)>
<!ATTLIST Noun
	value CDATA #FIXED "WCS_OrderStatus"
>
<!ELEMENT Credentials (LogonId?, Password?, OrgName?)>
<!ELEMENT LogonId (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ELEMENT OrgName (#PCDATA)>
<!-- ===========================DataArea============================ -->
<!ELEMENT DataArea (OrderConfirm | OrderShipping | OrderInvoice | OrderStatus)>
<!ELEMENT OrderConfirm (SerializationInfo?, OrderStatusHeader, OrderStatusItem*)>
<!ELEMENT OrderShipping (SerializationInfo?, OrderStatusHeader, OrderStatusItem*)>
<!ELEMENT OrderInvoice (SerializationInfo?, OrderStatusHeader, OrderStatusItem*)>
<!ELEMENT OrderStatus (SerializationInfo?, OrderStatusHeader, OrderStatusItem*)>
<!ELEMENT SerializationInfo (SequenceNumber?, LastUpdateTimestamp?)>
<!ELEMENT OrderStatusHeader (OrderNumber+, TotalPriceInfo?, Status?, PlacedDate?, ShippingInfo?, InvoiceInfo?, OrderInfo?, BillTo?, ShipTo?, PurchaserInfo?, Comment?, CustomerField*, UserData?)>
<!ATTLIST OrderStatusHeader
	Versioning (TRUE | FALSE) "FALSE"
	UpdateMode (C | P) "P"
>
<!ELEMENT OrderStatusItem (ItemNumber+, SerialNumber?, ProductNumberByMerchant?, QuantityInfo?, ItemUnitPrice?, TotalPriceInfo?, Status?, PlacedDate?, ShippingInfo?, InvoiceInfo?, Comment?, CustomerField*, UserData?)>
<!ATTLIST OrderStatusItem
	Versioning (TRUE | FALSE) "FALSE"
>
<!ELEMENT SequenceNumber (#PCDATA)>
<!ELEMENT LastUpdateTimestamp (#PCDATA)>
<!-- ISO 8601 Format: yyyy-mm-ddThh:mm:ss.ssssss -->
<!ELEMENT OrderNumber (#PCDATA)>
<!ATTLIST OrderNumber
	type (ByWCS | ByBackend) "ByWCS"
>
<!ELEMENT TotalPriceInfo (TotalNetPrice, TotalTaxPrice?, TotalShippingPrice?, TotalTaxOnShippingPrice?, TotalSellingPrice?)>
<!ATTLIST TotalPriceInfo
	currency CDATA #IMPLIED
>
<!ELEMENT TotalNetPrice (#PCDATA)>
<!ELEMENT TotalTaxPrice (#PCDATA)>
<!ELEMENT TotalShippingPrice (#PCDATA)>
<!ELEMENT TotalTaxOnShippingPrice (#PCDATA)>
<!ELEMENT TotalSellingPrice (#PCDATA)>
<!ELEMENT Status (#PCDATA)>
<!ATTLIST Status
	StatusCondition (C | S | SP | I | BP | X) "C"
	StatusFlag (O | I) "O"
>
<!-- C: Order Confirm  -->
<!-- S: Order Shipped, SP: Ship Partial. -->
<!-- I: Order Invoiced, BP: Bill Partial -->
<!-- X: Order Cancelled. -->
<!-- O : Order level, I : Item level. -->
<!ELEMENT PlacedDate (#PCDATA)>
<!-- ISO 8601 Format: yyyy-mm-ddThh:mm:ss.ssssss -->
<!ELEMENT ShippingInfo (RequestedShipDate?, ScheduledShipDate?, ActualShipDate?)>
<!ATTLIST ShippingInfo
	ShipCondition (SC | SP) "SC"
	ShipModeFlag (O | I) "O"
>
<!-- SC: Ship Complet, SP: Ship Partial. -->
<!-- O : Order level, I : Item level. -->
<!ELEMENT RequestedShipDate (#PCDATA)>
<!-- ISO 8601 Format -->
<!ELEMENT ScheduledShipDate (#PCDATA)>
<!-- ISO 8601 Format -->
<!ELEMENT ActualShipDate (#PCDATA)>
<!-- ISO 8601 Format -->
<!ELEMENT InvoiceInfo (InvoiceDate?, InvoiceValue)>
<!ELEMENT InvoiceDate (#PCDATA)>
<!-- ISO 8601 Format -->
<!ELEMENT InvoiceValue (#PCDATA)>
<!ELEMENT Comment (#PCDATA)>
<!ELEMENT CustomerField (#PCDATA)>
<!ELEMENT ItemNumber (#PCDATA)>
<!ATTLIST ItemNumber
	type (ByWCS | ByBackend) "ByWCS"
>
<!ELEMENT QuantityInfo (RequestedQuantity?, ConfirmedQuantity?, ShippedQuantity?)>
<!ELEMENT RequestedQuantity (#PCDATA)>
<!ELEMENT ConfirmedQuantity (#PCDATA)>
<!ELEMENT ShippedQuantity (#PCDATA)>
<!ELEMENT OrderInfo (#PCDATA)>
<!ELEMENT BillTo (AddressName, AddressLine1, AddressLine2, City, State, ZipCode, Country)>
<!ELEMENT ShipTo (AddressName, AddressLine1, AddressLine2, City, State, ZipCode, Country)>
<!ELEMENT PurchaserInfo (AddressName, AddressLine1, AddressLine2, City, State, ZipCode, Country)>
<!ELEMENT AddressLine1 (#PCDATA)>
<!ELEMENT AddressLine2 (#PCDATA)>
<!ELEMENT AddressName (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT State (#PCDATA)>
<!ELEMENT ZipCode (#PCDATA)>
<!ELEMENT Country (#PCDATA)>
<!ELEMENT SerialNumber (#PCDATA)>
