WC/xml/messaging/Update_WCS_BatchAvailability_10.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT Update_WCS_BatchAvailability (ControlArea, DataArea)>
<!ATTLIST Update_WCS_BatchAvailability
	version CDATA #FIXED "1.0"
>
<!ELEMENT ControlArea (Verb, Noun, Credentials?)>
<!ELEMENT Verb (#PCDATA)>
<!ATTLIST Verb
	value CDATA #FIXED "Update"
>
<!ELEMENT Noun (#PCDATA)>
<!ATTLIST Noun
	value CDATA #FIXED "WCS_BatchAvailability"
>
<!ELEMENT Credentials (
	userId?, 
	password?, 
	customerNo?, 
	businessPartnerGrouping?, 
	orgName?)>
<!ELEMENT userId (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT customerNo (#PCDATA)>
<!ELEMENT businessPartnerGrouping (#PCDATA)>
<!ELEMENT orgName (#PCDATA)>
<!-- ===========================DataArea============================ -->
<!ELEMENT DataArea (
	messageIdentifier?, 
	distributorIdentifier?, 
	BatchAvailability)>
<!ELEMENT BatchAvailability (
	BatchAvailabilityLineItem*, 
	messageStatus?)>
<!ELEMENT messageIdentifier (#PCDATA)>
<!ELEMENT distributorIdentifier (#PCDATA)>
<!ELEMENT BatchAvailabilityLineItem (
	productIdentification, 
	lineNumber, 
	quantity, 
	listPrice?, 
	unitOfMeasure?, 
	status?, 
	description?, 
	estimatedAvailabilityDate?, 
	promoMessage*, 
	WarehouseInformation*)>
<!ELEMENT productIdentification (
	globalProductIdentifier, 
	distributorProductIdentification*)>
<!ELEMENT globalProductIdentifier (#PCDATA)>
<!ELEMENT distributorProductIdentification (#PCDATA)>
<!ELEMENT lineNumber (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT listPrice (amount, currency)>
<!ELEMENT currency (#PCDATA)>
<!ELEMENT amount (#PCDATA)>
<!ELEMENT unitOfMeasure (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT estimatedAvailabilityDate (#PCDATA)>
<!ELEMENT WarehouseInformation (	
	warehouseAddress, 
	WarehouseQuantityInformation*)>
<!ELEMENT warehouseAddress (
	number, 
	addr, 
	city, 
	zipcode)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT addr (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT zipcode (#PCDATA)>
<!ELEMENT WarehouseQuantityInformation (
	warehouseAvailabilityDate?, 
	warehouseQuantity?)>
<!ELEMENT warehouseAvailabilityDate (#PCDATA)>
<!ELEMENT warehouseQuantity (#PCDATA)>
<!ELEMENT promoMessage (#PCDATA)>
<!ELEMENT messageStatus (code, statusContent? )>
<!ELEMENT statusContent ( #PCDATA ) >
<!ELEMENT code ( #PCDATA ) >
<!ATTLIST code
   codeFlag (0 | 1 | 2 ) "0" >
   <!-- 0: success, 1: invalid credentials, 2: unknown error -->
<!ELEMENT status ( #PCDATA ) >	
<!ATTLIST status
   statusCondition (0 | 1 | 2) "0" >
   <!-- 0: Available, 1: Discontinued, 2: Not Available. -->
