WC/xml/messaging/Update_NC_ProductInventory_10.dtd

<!--
 ******************************************************************************
 *                                                                            *
 * Licensed Materials - Property of IBM                                       *
 *                                                                            *
 * 5697-D24                                                                   *
 *                                                                            *
 * (c)  Copyright  IBM Corp.  1999.      All Rights Reserved                  *
 *                                                                            *
 * US Government Users Restricted Rights - Use, duplication or                *
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.          *
 *                                                                            *
 ******************************************************************************
-->

<!-- =============================================================== -->
<!ELEMENT Update_NC_ProductInventory (ControlArea, DataArea)>
<!ATTLIST Update_NC_ProductInventory
   version           CDATA          #FIXED "1.0">

<!ENTITY % defineNCCommonModule SYSTEM "NCCommon.mod">
%defineNCCommonModule;

<!ELEMENT ControlArea (Verb, Noun, Credentials?)>

<!ELEMENT Verb  (#PCDATA)>
<!ATTLIST Verb 
   value             CDATA          #FIXED "Update" >
<!ELEMENT Noun  (#PCDATA)>
<!ATTLIST Noun
   value             CDATA          #FIXED "NC_ProductInventory">
   
<!ELEMENT Credentials (LogonId, Password)>
<!ELEMENT LogonId (#PCDATA)>
<!ELEMENT Password (#PCDATA)>      

<!-- ===========================DataArea============================ -->

<!ELEMENT DataArea (ProductInventoryInfo+)>
<!ELEMENT ProductInventoryInfo (ProductNumberByMerchant,MerchantID,Quantity,UserData?)>


