WC/xml/tools/devtools/flow/repository/Repository.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                          -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2001, 2002                                    -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

<!-- Include the DTDs for the components and features: -->

<!-- Interface.dtd defines the "interface" element which is used in -->
<!-- several places throughout the site description.          -->

<!ELEMENT interface (entry-port*, (exit-port | runtime-exit-port)*)>
<!ATTLIST interface id ID #REQUIRED>
<!-- Indicates which component this is an interface for. -->
<!-- Can be the id of any site, area, section, or sub-section element. -->
<!ATTLIST interface component-id NMTOKEN #REQUIRED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST interface supersedes NMTOKENS #IMPLIED>

<!ELEMENT entry-port EMPTY>
<!ATTLIST entry-port id ID #REQUIRED>
<!ATTLIST entry-port type NMTOKEN #REQUIRED>
<!ATTLIST entry-port always-enabled (yes|no) "yes">
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST entry-port supersedes NMTOKENS #IMPLIED>

<!ELEMENT exit-port (param-value)*>
<!ATTLIST exit-port id ID #REQUIRED>
<!ATTLIST exit-port type NMTOKEN #REQUIRED>
<!ATTLIST exit-port action NMTOKEN #IMPLIED>
<!ATTLIST exit-port always-enabled (yes|no) "yes">
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST exit-port supersedes NMTOKENS #IMPLIED>

<!-- A runtime-exit-port is one that can be linked to multiple       -->
<!-- entry-ports; it is not known until runtime exactly which one    -->
<!-- will be used based on some runtime conditions e.g. user type.   -->
<!ELEMENT runtime-exit-port (branch)+>
<!ATTLIST runtime-exit-port id ID #REQUIRED>
<!ATTLIST runtime-exit-port always-enabled (yes|no) "yes">
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST runtime-exit-port supersedes NMTOKENS #IMPLIED>

<!ELEMENT branch (param-value)*>
<!-- The value of this attr must be unique within the containing     -->
<!-- runtime-exit-port element:                                      -->
<!ATTLIST branch condition NMTOKEN #IMPLIED>
<!ATTLIST branch type NMTOKEN #REQUIRED>
<!ATTLIST branch action NMTOKEN #IMPLIED>

<!ELEMENT link EMPTY>
<!ATTLIST link id ID #REQUIRED>
<!-- Can be the id of an exit-port or a runtime-exit-port.             -->
<!-- If it is the id of a runtime-exit-port then the condition attr    -->
<!-- can (and must) also be specified, naming one of the conditions in -->
<!-- that runtime-exit-port.                                           -->
<!ATTLIST link exit-port NMTOKEN #REQUIRED>
<!-- Must be one of the conditions listed in the runtime-exit-port.    -->
<!-- Not applicable if the link points to a plain exit-port.           -->
<!ATTLIST link condition NMTOKEN #IMPLIED>
<!ATTLIST link entry-port NMTOKEN #REQUIRED>
<!ATTLIST link type (normal|trip|redirect) 'normal'>
<!ATTLIST link always-enabled (yes|no) "yes">
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST link supersedes NMTOKENS #IMPLIED>

<!ELEMENT actions (action)*>

<!ELEMENT action (param*)>
<!ATTLIST action id ID #REQUIRED>
<!ATTLIST action url CDATA #REQUIRED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST action supersedes NMTOKENS #IMPLIED>

<!ELEMENT param EMPTY>
<!ATTLIST param name NMTOKEN #REQUIRED>
<!ATTLIST param is-routing-condition (yes|no) "no">

<!ELEMENT param-value EMPTY>
<!ATTLIST param-value param NMTOKEN #REQUIRED>
<!ATTLIST param-value value CDATA #REQUIRED>

<!ELEMENT implementation (component-interface* , entry-port-map* , exit-port-map* , link*)>
<!ATTLIST implementation id ID #REQUIRED>
<!-- Indicates which interface this is an implementation of. -->
<!ATTLIST implementation interface-id NMTOKEN #REQUIRED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST implementation supersedes NMTOKENS #IMPLIED>
<!ATTLIST implementation virtual-file-ids NMTOKENS #IMPLIED>

<!ELEMENT component-interface EMPTY>
<!ATTLIST component-interface id ID #REQUIRED>
<!ATTLIST component-interface interface NMTOKEN #REQUIRED>
<!ATTLIST component-interface included-in-pages (some | all) #IMPLIED>
<!ATTLIST component-interface always-enabled (yes|no) "yes">
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST component-interface supersedes NMTOKENS #IMPLIED>

<!ELEMENT entry-port-map EMPTY>
<!ATTLIST entry-port-map id ID #REQUIRED>
<!ATTLIST entry-port-map interface-entry-ports NMTOKENS #REQUIRED>
<!ATTLIST entry-port-map component-entry-port NMTOKEN #REQUIRED>
<!ATTLIST entry-port-map always-enabled (yes|no) "yes">
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST entry-port-map supersedes NMTOKENS #IMPLIED>

<!ELEMENT exit-port-map EMPTY>
<!ATTLIST exit-port-map id ID #REQUIRED>
<!ATTLIST exit-port-map interface-exit-port NMTOKEN #REQUIRED>
<!ATTLIST exit-port-map component-exit-ports NMTOKENS #REQUIRED>
<!ATTLIST exit-port-map always-enabled (yes|no) "yes">
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST exit-port-map supersedes NMTOKENS #IMPLIED>

<!-- End Interface.dtd -->

<!-- PortType.dtd defines the elements "entry-port-type" and -->
<!-- "exit-port-type". Elements of this type will be     -->
<!-- referenced throughout the XML doc for the site      -->
<!-- wherever entry or exit ports are being defined.     -->

<!ELEMENT entry-port-type (param*)>
<!ATTLIST entry-port-type id ID #REQUIRED>
<!ATTLIST entry-port-type detour (yes|no) 'no'>
<!ATTLIST entry-port-type redirect (yes|no) 'no'>
<!ATTLIST entry-port-type authentication (yes|no) 'no'>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST entry-port-type supersedes NMTOKENS #IMPLIED>

<!ELEMENT exit-port-type (param*)>
<!ATTLIST exit-port-type id ID #REQUIRED>
<!ATTLIST exit-port-type detour (yes|no) 'no'>
<!ATTLIST exit-port-type redirect (yes|no) 'no'>
<!ATTLIST exit-port-type authentication (yes|no) 'no'>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST exit-port-type supersedes NMTOKENS #IMPLIED>

<!ELEMENT port-types (entry-port-type | exit-port-type)+>

<!-- End PortType.dtd -->

<!-- Site.dtd -->
<!-- The site-components element groups together things that are -->
<!-- at the top of the component hierarchy i.e. one or more site -->
<!-- elements and the site's interfaces and implementations.     -->

<!-- There will typically be only one site element per repository -->
<!-- but it's not out of the question to have > 1.                -->

<!ELEMENT site-components (site | interface | implementation)+>

<!ELEMENT site EMPTY>
<!ATTLIST site id ID #REQUIRED>
<!ATTLIST site name CDATA #IMPLIED>
<!ATTLIST site desc CDATA #IMPLIED>
<!ATTLIST site directory NMTOKEN #REQUIRED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST site supersedes NMTOKENS #IMPLIED>
<!-- End Site.dtd -->

<!-- Area.dtd -->
<!-- An area-components element contains elements that are used to  -->
<!-- define areas.                                                  -->

<!ELEMENT area-components (area | interface | implementation)+>

<!ELEMENT area EMPTY>
<!ATTLIST area id ID #REQUIRED>
<!ATTLIST area name CDATA #IMPLIED>
<!ATTLIST area description CDATA #IMPLIED>
<!-- A list of component IDs that this component overrides or replaces. -->
<!-- Typically there will only be one ID in this list, but it is        -->
<!-- possible for a single component to replace more than one existing  -->
<!-- component. Note also that it is possible for there to be a "chain" -->
<!-- of superseding components i.e. A supersedes B which supersedes C.  -->
<!-- In this case, A should be used wherever B and C are currently being-->
<!-- used. It is valid   for such a chain  to contain branches as long  -->
<!-- as those branches ultimately converge at the same end point.       -->
<!-- For example, A and B can both supersede C as long as there's some  -->
<!-- common component, D, which ultimately supersedes both A and B. If  -->
<!-- not then C is superseded by more than component at the same time,  -->
<!-- which is not allowed.                                              -->
<!-- It is invalid to have a component of one type (e.g. an area)       -->
<!-- supersede a component of some other type (e.g. a section) - the    -->
<!-- the superseding and the superseded components must be compatible.  -->
<!ATTLIST area supersedes NMTOKENS #IMPLIED>

<!-- End Area.dtd -->

<!-- Section.dtd -->
<!-- A section-components element contains elements that are used to  -->
<!-- define sections.                                                 -->

<!ELEMENT section-components (section | interface | implementation)+>

<!ELEMENT section EMPTY>
<!ATTLIST section id ID #REQUIRED>
<!ATTLIST section name CDATA #IMPLIED>
<!ATTLIST section desc CDATA #IMPLIED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST section supersedes NMTOKENS #IMPLIED>

<!-- A subsection-components element contains elements that are used to  -->
<!-- define subsections.                                                 -->

<!ELEMENT subsection-components (subsection | interface | implementation)+>

<!ELEMENT subsection EMPTY>
<!ATTLIST subsection id ID #REQUIRED>
<!ATTLIST subsection name CDATA #IMPLIED>
<!ATTLIST subsection desc CDATA #IMPLIED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST subsection supersedes NMTOKENS #IMPLIED>
<!-- End Section.dtd -->
 
<!-- Page.dtd -->
<!-- A page-components element contains elements that are used to  -->
<!-- define pages.                                                 -->

<!ELEMENT page-components (virtual-page | virtual-page-interface | recursive-implementation | simple-implementation | actual-page | actual-page-interface | virtual-file | virtual-file-implementation)+>

<!-- A virtual page contains one or more interfaces. Each interface has a -->
<!-- list of entry and exit ports indicating how one can enter or leave   -->
<!-- the page.                                                            -->

<!ELEMENT virtual-page EMPTY>
<!ATTLIST virtual-page id ID #REQUIRED>
<!ATTLIST virtual-page name CDATA #IMPLIED>
<!ATTLIST virtual-page desc CDATA #IMPLIED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST virtual-page supersedes NMTOKENS #IMPLIED>

<!-- An interface contains a list of entry ports, exit ports, and 0 or more -->
<!-- implementations of the interface. The entry and exit ports support     -->
<!-- linking to and from the virtual page. There must be at least one entry -->
<!-- port and 0 or more exit ports.                                         -->

<!ELEMENT virtual-page-interface (entry-port*, (exit-port | runtime-exit-port)*)>
<!ATTLIST virtual-page-interface id ID #REQUIRED>
<!ATTLIST virtual-page-interface virtual-page-id NMTOKEN #REQUIRED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST virtual-page-interface supersedes NMTOKENS #IMPLIED>

<!-- An interface implementation specifies one or more component interfaces -->
<!-- that are contained in this implementation. In the case of a page,      -->
<!-- the components are either a) one or more child virtual pages, or b) a  -->
<!-- single actual-page.                                                    -->
<!-- Every exit port in the interface must be "connected" to an associated  -->
<!-- exit port in the implementation. The  exit-port-map element establishes-->
<!-- this connection by specifying an entry port in the interface and a     -->
<!-- corresponding entry port in one of the implementation interfaces. These-->
<!-- two entry ports must be of the same type, as specified on their        -->
<!-- respective "entry-port" elements.                                      -->
<!-- The URL in a virtual page is optional if this virtual page is not being-->
<!-- linked to directly, but only as a member of another virtual page (see  -->
<!-- below). A virtual page without a URL cannot be the target of any links.-->

<!-- A recursive implementation of a virtual page interface is one that -->
<!-- contains a list of other virtual page interfaces and possibly links -->
<!-- between those virtual page interfaces. Ultimately, all recursive    -->
<!-- implementations must end with a simple-implementation to terminate  -->
<!-- the recursion.                                                      -->
<!-- When a virtual page contains another virtual page like this, the    -->
<!-- outermost (parent) virtual page MUST specify a URL in order to link -->
<!-- to it - the child virtual pages may or may not also specify a URL,  -->
<!-- but if they do, it will be ignored in favour of the URL specified   -->
<!-- on the outermost virtual page. The URL on a child virtual page is   -->
<!-- there only so one can bypass the outermost virtual page and link    -->
<!-- directly to the child. In this way, the child can be used as both   -->
<!-- a member of a group (defined by the parent) and as an independent   -->
<!-- page in its own right.                                              -->

<!ELEMENT recursive-implementation (component-interface+, (link | url-override | exit-port-map)*)>
<!ATTLIST recursive-implementation id ID #REQUIRED>
<!ATTLIST recursive-implementation url CDATA #IMPLIED>
<!ATTLIST recursive-implementation setup CDATA #IMPLIED>
<!ATTLIST recursive-implementation virtual-page-interface-id NMTOKEN #REQUIRED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST recursive-implementation supersedes NMTOKENS #IMPLIED>
<!ATTLIST recursive-implementation virtual-file-ids NMTOKENS #IMPLIED> 

<!-- A simple implementation of a virtual page interface is one that -->
<!-- points to an actual-page interface.                             -->

<!ELEMENT simple-implementation (component-interface? , (url-override | exit-port-map)*)>
<!ATTLIST simple-implementation id ID #REQUIRED>
<!ATTLIST simple-implementation locale-specific (yes|no) "no"> 
<!ATTLIST simple-implementation url CDATA #IMPLIED>
<!ATTLIST simple-implementation setup CDATA #IMPLIED>
<!ATTLIST simple-implementation virtual-page-interface-id NMTOKEN #REQUIRED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST simple-implementation supersedes NMTOKENS #IMPLIED>
<!ATTLIST simple-implementation virtual-file-ids NMTOKENS #IMPLIED> 

<!-- Use this element to specify a different URL for an entry port -->
<!-- than the URL that is specified on the virtual-page-impl.      -->

<!ELEMENT url-override EMPTY>
<!ATTLIST url-override entry-port NMTOKEN #REQUIRED>
<!ATTLIST url-override url CDATA #REQUIRED>

<!-- The actual-page element represents an actual file used in the site -->
<!-- e.g. a JSP. The "file" attribute tells us the name and location of  -->
<!-- that file so that it can be processed during site creation.        -->
<!-- Every actual-page must be contained in one or more virtual page in  -->
<!-- order to be useful.  An actual page does NOT have any entry ports   -->
<!-- and therefore cannot be linked to directly. It is only through a    -->
<!-- containing virtual page that one can establish links to the actual  -->
<!-- page. This allows us to change the implementation of the virtual    -->
<!-- page without affecting any links.                                   -->

<!ELEMENT actual-page EMPTY>
<!ATTLIST actual-page id ID #REQUIRED>
<!ATTLIST actual-page file CDATA #REQUIRED>
<!-- A list of actual-page ids representing the files that are included  -->
<!-- in this page:                                                       -->
<!ATTLIST actual-page includes NMTOKENS #IMPLIED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST actual-page supersedes NMTOKENS #IMPLIED>

<!-- An actual page interface contains a list of 0 or more exit ports.   -->
<!-- These exit ports correspond to constructs in the actual JSP for     -->
<!-- creating links to other pages e.g. the <A> tag.                     -->
<!-- NOTE: There can be one, and only one, interface per actual-page.    -->

<!ELEMENT actual-page-interface (exit-port | runtime-exit-port)*>
<!ATTLIST actual-page-interface id ID #REQUIRED>
<!ATTLIST actual-page-interface actual-page-id NMTOKEN #REQUIRED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST actual-page-interface supersedes NMTOKENS #IMPLIED>

<!-- A virtual-file element contains elements that are used to         -->
<!-- define files.                                                 -->

<!ELEMENT virtual-file EMPTY>
<!ATTLIST virtual-file id ID #REQUIRED>
<!ATTLIST virtual-file name CDATA #IMPLIED>
<!ATTLIST virtual-file desc CDATA #IMPLIED>
<!-- See Area.dtd for a description of this attribute.               -->
<!ATTLIST virtual-file supersedes NMTOKENS #IMPLIED>

<!ELEMENT virtual-file-implementation EMPTY>
<!ATTLIST virtual-file-implementation id ID #REQUIRED>
<!ATTLIST virtual-file-implementation virtual-file-id NMTOKEN #REQUIRED>
<!ATTLIST virtual-file-implementation url CDATA #REQUIRED>
<!ATTLIST virtual-file-implementation locale-specific (yes|no) "no">
<!ATTLIST virtual-file-implementation locales CDATA #IMPLIED>
<!ATTLIST virtual-file-implementation name CDATA #IMPLIED> 
<!ATTLIST virtual-file-implementation desc CDATA #IMPLIED> 
<!ATTLIST virtual-file-implementation supersedes NMTOKENS #IMPLIED>
 
<!-- End Page.dtd -->

<!ELEMENT components (site-components | area-components | section-components | subsection-components | page-components | port-types | actions)*>

<!ELEMENT features (feature*)>

<!ELEMENT feature EMPTY>
<!ATTLIST feature id ID #REQUIRED
                  name CDATA #IMPLIED
                  description CDATA #IMPLIED
                  enables NMTOKENS #IMPLIED
                  parent-feature NMTOKEN #IMPLIED
                  incompatible-features NMTOKENS #IMPLIED
                  always-enabled (yes|no) "no"
>
<!-- See Area.dtd for a description of this attribute.               -->
<!-- The comments in that file refer to "components", but the same   -->
<!-- rules apply to features as well.                                -->
<!ATTLIST feature supersedes NMTOKENS #IMPLIED>


<!-- A repository-entries document can contain components and/or -->
<!-- features.                                                   -->
<!ELEMENT repository-entries (components | features)*>

<!-- A repository-info document contains info regarding the repository -->
<!-- as a whole. There should be only one such document per repository.-->

<!ELEMENT repository-info EMPTY>
<!ATTLIST repository-info name CDATA #REQUIRED>
<!-- The format of the "version" attribute is X.Y e.g. 1.0  -->
<!ATTLIST repository-info version CDATA #REQUIRED>
