WC/xml/sar/accesscontrol.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT accesscontrol-asset (( acaction | acrescgry| acactgrp | acresgrp | acresgpres | 
		acactactgp | acpolicy | acactdesc | acrscgdes | acacgpdesc | 
		acresgpdes | acpoldesc)*)>
<!ELEMENT acaction EMPTY>
<!ATTLIST acaction
   acaction_id		CDATA		#REQUIRED
   action		CDATA		#REQUIRED
>
<!ELEMENT acrescgry EMPTY>
<!ATTLIST acrescgry
   acrescgry_id		CDATA		#REQUIRED
   resprimarytable		CDATA		#IMPLIED
   resownertable		CDATA		#IMPLIED
   resownercol		CDATA		#IMPLIED
   reskeyowncol		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   resclassname		CDATA		#REQUIRED
   resjoinkey		CDATA		#IMPLIED
>
<!ELEMENT acactgrp EMPTY>
<!ATTLIST acactgrp
   acactgrp_id		CDATA		#REQUIRED
   groupname		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
>
<!ELEMENT acresgrp EMPTY>
<!ATTLIST acresgrp
   acresgrp_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   grpname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   conditions		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT acresgpres EMPTY>
<!ATTLIST acresgpres
   acresgrp_id		CDATA		#REQUIRED
   acrescgry_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
>
<!ELEMENT acactactgp EMPTY>
<!ATTLIST acactactgp
   acactgrp_id		CDATA		#REQUIRED
   acaction_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
>
<!ELEMENT acpolicy EMPTY>
<!ATTLIST acpolicy
   acpolicy_id		CDATA		#REQUIRED
   policyname		CDATA		#REQUIRED
   acrelgrp_id		CDATA		#IMPLIED
   acactgrp_id		CDATA		#REQUIRED
   acresgrp_id		CDATA		#REQUIRED
   acrelation_id	CDATA		#IMPLIED
   policytype		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   mbrgrp_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
>
<!ELEMENT acactdesc EMPTY>
<!ATTLIST acactdesc
   acaction_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT acrscgdes EMPTY>
<!ATTLIST acrscgdes
   language_id		CDATA		#REQUIRED
   acrescgry_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>

<!ELEMENT acacgpdesc EMPTY>
<!ATTLIST acacgpdesc
   acactgrp_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT acresgpdes EMPTY>
<!ATTLIST acresgpdes
   acresgrp_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT acpoldesc EMPTY>
<!ATTLIST acpoldesc
   acpolicy_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>

<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
