WC/xml/sar/attachment.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT attachment-asset (( atchrlusds | atchast | atchtgtdsc | atchastlg | atchreldsc | 
			colldesc | cmfile | cmfiledir)*)>

<!ELEMENT atchrlusds EMPTY>
<!ATTLIST atchrlusds
   atchrlusds_id	CDATA		#REQUIRED
   atchrlus_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   name			CDATA		#IMPLIED
   shortdescription	CDATA		#IMPLIED
   longdescription	CDATA		#IMPLIED
   optcounter		CDATA		"0"
>
<!ELEMENT atchast EMPTY>
<!ATTLIST atchast
   atchast_id		CDATA		#REQUIRED
   storeent_id		CDATA		"0"
   atchtgt_id		CDATA		#REQUIRED
   atchastpath		CDATA		#IMPLIED
   directorypath	CDATA		#IMPLIED
   mimetype		CDATA		#IMPLIED
   mimetypeencoding	CDATA		#IMPLIED
   timecreated		CDATA		#IMPLIED
   timeupdated		CDATA		#IMPLIED
   image1		CDATA		#IMPLIED
   image2		CDATA		#IMPLIED
   optcounter		CDATA		"0"
>
<!ELEMENT atchtgtdsc EMPTY>
<!ATTLIST atchtgtdsc
   atchtgtdsc_id	CDATA		#REQUIRED
   atchtgt_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   name			CDATA		#IMPLIED
   shortdescription	CDATA		#IMPLIED
   longdescription	CDATA		#IMPLIED
   optcounter		CDATA		"0"
>
<!ELEMENT atchastlg EMPTY>
<!ATTLIST atchastlg
   atchastlg_id		CDATA		#REQUIRED
   atchast_id		CDATA		#REQUIRED
   language_id		CDATA		#IMPLIED
   optcounter		CDATA		"0"
>
<!ELEMENT atchreldsc EMPTY>
<!ATTLIST atchreldsc
   atchreldsc_id	CDATA		#REQUIRED
   atchrel_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   name			CDATA		#IMPLIED
   shortdescription	CDATA		#IMPLIED
   longdescription	CDATA		#IMPLIED
   optcounter		CDATA		"0"
>
<!ELEMENT colldesc EMPTY>
<!ATTLIST colldesc
   collateral_id	CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   location		CDATA		#IMPLIED
   marketingtext	CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT cmfile EMPTY>
<!ATTLIST cmfile
   cmfile_id		CDATA		#REQUIRED
   cmfilepath		CDATA		#REQUIRED
   promote_fs		CDATA		"0"
   upload_timestamp	CDATA		"CURRENT TIMESTAMP"
   promote_timestamp	CDATA		#IMPLIED
   associated		CDATA		"0"
   storage_type		CDATA		"0"
   cmfiledir_id		CDATA		#REQUIRED
>
<!ELEMENT cmfiledir EMPTY>
<!ATTLIST cmfiledir
   cmfiledir_id		CDATA		#REQUIRED
   cmfiledir_parent	CDATA		#IMPLIED
   identifier		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
>
<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
