WC/xml/sar/campaign.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT campaign-asset (( emspot | campaign | collateral | colldesc | stencalusg)*)>
<!ELEMENT emspot EMPTY>
<!ATTLIST emspot
   emspot_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   supportedtypes		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   lastupdatedby		CDATA		#IMPLIED
   defaultrule		CDATA		#IMPLIED
>
<!ELEMENT campaign EMPTY>
<!ATTLIST campaign
   campaign_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   type		CDATA		#IMPLIED
   status		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   lastupdate		CDATA		#REQUIRED
   lastupdatedby		CDATA		#REQUIRED
   owner		CDATA		#IMPLIED
   objective		CDATA		#IMPLIED
>
<!ELEMENT collateral EMPTY>
<!ATTLIST collateral
   collateral_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   colltype_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   url		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT colldesc EMPTY>
<!ATTLIST colldesc
   collateral_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   location		CDATA		#IMPLIED
   marketingtext		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT stencalusg EMPTY>
<!ATTLIST stencalusg
   storeent_id		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   actcc_calmethod_id		CDATA		#IMPLIED
   actrc_calmethod_id		CDATA		#IMPLIED
   calcode_id		CDATA		#IMPLIED
   calmethod_id_app		CDATA		#IMPLIED
   calmethod_id_sum		CDATA		#IMPLIED
   calmethod_id_fin		CDATA		#IMPLIED
   usageflags		CDATA		"0"
   calmethod_id_ini		CDATA		#IMPLIED
   sequence		CDATA		"0"
>
<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
