WC/xml/sar/catalog.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT catalog-asset (( catgroup | catgrpattr | catgrpdesc | catalog | catalogdsc | 
		cattogrp | catgrprel | baseitem | baseitmdsc | itemversn | 
		itemspc | storitmffc | ra | radetail | itemffmctr | 
		versionspc | distarrang | receipt | rcptavail | storeitem | 
		catentry | catentdesc | attribute | pkgattr | attrvalue | 
		pkgattrval | catgpenrel | catentrel | catentship |
		staddress | vendordesc)*)>
<!ELEMENT catgroup EMPTY>
<!ATTLIST catgroup
   catgroup_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   identifier		CDATA		#IMPLIED
   markfordelete		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT catgrpattr EMPTY>
<!ATTLIST catgrpattr
   catgrpattr_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   catgroup_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
   sequence		CDATA		#IMPLIED
>
<!ELEMENT catgrpdesc EMPTY>
<!ATTLIST catgrpdesc
   language_id		CDATA		#REQUIRED
   catgroup_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   shortdescription		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
   thumbnail		CDATA		#IMPLIED
   fullimage		CDATA		#IMPLIED
   published		CDATA		#REQUIRED
   display		CDATA		#IMPLIED
   keyword		CDATA		#IMPLIED
   note			CDATA		#IMPLIED
>
<!ELEMENT catalog EMPTY>
<!ATTLIST catalog
   catalog_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   identifier		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   tpclevel		CDATA		#IMPLIED
>
<!ELEMENT catalogdsc EMPTY>
<!ATTLIST catalogdsc
   catalog_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   shortdescription		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
   thumbnail		CDATA		#IMPLIED
   fullimage		CDATA		#IMPLIED
>
<!ELEMENT cattogrp EMPTY>
<!ATTLIST cattogrp
   catalog_id		CDATA		#REQUIRED
   catgroup_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   sequence		CDATA		#IMPLIED
>
<!ELEMENT catgrprel EMPTY>
<!ATTLIST catgrprel
   catgroup_id_parent		CDATA		#REQUIRED
   catgroup_id_child		CDATA		#REQUIRED
   catalog_id		CDATA		#REQUIRED
   rule		CDATA		#IMPLIED
   sequence		CDATA		"0"
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT baseitem EMPTY>
<!ATTLIST baseitem
   baseitem_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   itemtype_id		CDATA		#REQUIRED
   quantitymeasure		CDATA		"C62"
   lastupdate		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
   partnumber		CDATA		#REQUIRED
   quantitymultiple		CDATA		"1.0"
>
<!ELEMENT baseitmdsc EMPTY>
<!ATTLIST baseitmdsc
   baseitem_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   shortdescription		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT itemversn EMPTY>
<!ATTLIST itemversn
   itemversn_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   baseitem_id		CDATA		#REQUIRED
   expirationdate		CDATA		#REQUIRED
   versionname		CDATA		"Version 1"
>
<!ELEMENT itemspc EMPTY>
<!ATTLIST itemspc
   itemspc_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   member_id		CDATA		#REQUIRED
   markfordelete		CDATA		"0"
   baseitem_id		CDATA		#REQUIRED
   discontinued		CDATA		"N"
   partnumber		CDATA		#REQUIRED
>
<!ELEMENT storitmffc EMPTY>
<!ATTLIST storitmffc
   baseitem_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   ffmcenter_id		CDATA		#REQUIRED
   shippingoffset		CDATA		"86400"
>
<!ELEMENT ra EMPTY>
<!ATTLIST ra
   ra_id		CDATA		#REQUIRED
   vendor_id		CDATA		#REQUIRED
   store_id		CDATA		#REQUIRED
   orderdate		CDATA		#REQUIRED
   openindicator		CDATA		#IMPLIED
   dateclosed		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   externalid		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
   createtime		CDATA		#REQUIRED
>
<!ELEMENT radetail EMPTY>
<!ATTLIST radetail
   radetail_id		CDATA		#REQUIRED
   ra_id		CDATA		#REQUIRED
   ffmcenter_id		CDATA		#IMPLIED
   itemspc_id		CDATA		#REQUIRED
   qtyordered		CDATA		"0"
   qtyreceived		CDATA		"0"
   qtyremaining		CDATA		"0"
   qtyallocated		CDATA		"0"
   expecteddate		CDATA		#REQUIRED
   radetailcomment		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
>
<!ELEMENT itemffmctr EMPTY>
<!ATTLIST itemffmctr
   ffmcenter_id		CDATA		#REQUIRED
   itemspc_id		CDATA		#REQUIRED
   qtybackordered		CDATA		"0"
   qtyallocbackorder		CDATA		"0"
   store_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   qtyreserved		CDATA		"0"
>
<!ELEMENT versionspc EMPTY>
<!ATTLIST versionspc
   versionspc_id		CDATA		#REQUIRED
   itemspc_id		CDATA		#REQUIRED
   itemversn_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT distarrang EMPTY>
<!ATTLIST distarrang
   distarrang_id		CDATA		#REQUIRED
   merchantstore_id		CDATA		#REQUIRED
   pickingmethod		CDATA		#IMPLIED
   startdate		CDATA		#REQUIRED
   enddate		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   wholesalestore_id		CDATA		#REQUIRED
   baseitem_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT receipt EMPTY>
<!ATTLIST receipt
   receipt_id		CDATA		#REQUIRED
   versionspc_id		CDATA		#REQUIRED
   radetail_id		CDATA		#IMPLIED
   store_id		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
   ffmcenter_id		CDATA		#REQUIRED
   vendor_id		CDATA		#IMPLIED
   receiptdate		CDATA		#REQUIRED
   qtyreceived		CDATA		"0"
   qtyinprocess		CDATA		"0"
   qtyonhand		CDATA		"0"
   qtyinkits		CDATA		"0"
   cost		CDATA		#IMPLIED
   comment1		CDATA		#IMPLIED
   comment2		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   createtime		CDATA		#REQUIRED
   receipttype		CDATA		"ADHC"
   rtnrcptdsp_id		CDATA		#IMPLIED
>
<!ELEMENT rcptavail EMPTY>
<!ATTLIST rcptavail
   rcptavail_id		CDATA		#REQUIRED
   distarrang_id		CDATA		#REQUIRED
   receipt_id		CDATA		#REQUIRED
   precedence		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT storeitem EMPTY>
<!ATTLIST storeitem
   baseitem_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   trackinventory		CDATA		"Y"
   forcebackorder		CDATA		"N"
   releaseseparately		CDATA		"N"
   foreignsku		CDATA		#IMPLIED
   foreignsystem		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   creditable		CDATA		"Y"
   backorderable		CDATA		"Y"
   returnnotdesired		CDATA		"N"
   minqtyforsplit		CDATA		"0"
>
<!ELEMENT catentry EMPTY>
<!ATTLIST catentry
   catentry_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   itemspc_id		CDATA		#IMPLIED
   catenttype_id		CDATA		#REQUIRED
   partnumber		CDATA		#REQUIRED
   mfpartnumber		CDATA		#IMPLIED
   mfname		CDATA		#IMPLIED
   markfordelete		CDATA		#REQUIRED
   url		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   onspecial		CDATA		#IMPLIED
   onauction		CDATA		#IMPLIED
   field4		CDATA		#IMPLIED
   field5		CDATA		#IMPLIED
   buyable		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
   baseitem_id		CDATA		#IMPLIED
   state		CDATA		#IMPLIED
   startdate		CDATA		#IMPLIED
   enddate		CDATA		#IMPLIED
>
<!ELEMENT catentdesc EMPTY>
<!ATTLIST catentdesc
   catentry_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   shortdescription		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
   thumbnail		CDATA		#IMPLIED
   auxdescription1		CDATA		#IMPLIED
   fullimage		CDATA		#IMPLIED
   auxdescription2		CDATA		#IMPLIED
   xmldetail		CDATA		#IMPLIED
   available		CDATA		#REQUIRED
   published		CDATA		#REQUIRED
   availabilitydate		CDATA		#IMPLIED
   keyword		CDATA		#IMPLIED
>
<!ELEMENT attribute EMPTY>
<!ATTLIST attribute
   attribute_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   attrtype_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   sequence		CDATA		"0"
   description		CDATA		#IMPLIED
   catentry_id		CDATA		#IMPLIED
   description2		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
   usage		CDATA		#IMPLIED
   groupname		CDATA		#IMPLIED
   noteinfo		CDATA		#IMPLIED
>
<!ELEMENT pkgattr EMPTY>
<!ATTLIST pkgattr
   pkgattr_id		CDATA		#REQUIRED
   attribute_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   catentry_id		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT attrvalue EMPTY>
<!ATTLIST attrvalue
   attrvalue_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   attribute_id		CDATA		#REQUIRED
   attrtype_id		CDATA		#REQUIRED
   stringvalue		CDATA		#IMPLIED
   operator_id		CDATA		#IMPLIED
   sequence		CDATA		"0"
   integervalue		CDATA		#IMPLIED
   floatvalue		CDATA		#IMPLIED
   catentry_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   image1		CDATA		#IMPLIED
   image2		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT pkgattrval EMPTY>
<!ATTLIST pkgattrval
   pkgattrval_id		CDATA		#REQUIRED
   attrvalue_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   catentry_id		CDATA		#REQUIRED
   oid		CDATA		#IMPLIED
>
<!ELEMENT catgpenrel EMPTY>
<!ATTLIST catgpenrel
   catgroup_id		CDATA		#REQUIRED
   catalog_id		CDATA		#REQUIRED
   catentry_id		CDATA		#REQUIRED
   rule		CDATA		#IMPLIED
   sequence		CDATA		"0"
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT catentrel EMPTY>
<!ATTLIST catentrel
   catentry_id_parent		CDATA		#REQUIRED
   catreltype_id		CDATA		#REQUIRED
   catentry_id_child		CDATA		#REQUIRED
   sequence		CDATA		"0"
   quantity		CDATA		#IMPLIED
   groupname		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT catentship EMPTY>
<!ATTLIST catentship
   catentry_id		CDATA		#REQUIRED
   weight		CDATA		#IMPLIED
   weightmeasure		CDATA		#IMPLIED
   length		CDATA		#IMPLIED
   width		CDATA		#IMPLIED
   height		CDATA		#IMPLIED
   sizemeasure		CDATA		#IMPLIED
   nominalquantity		CDATA		"1.0"
   quantitymultiple		CDATA		"1.0"
   quantitymeasure		CDATA		"C62"
>
<!ELEMENT staddress EMPTY>
<!ATTLIST staddress
   staddress_id		CDATA		#REQUIRED
   address1		CDATA		#IMPLIED
   member_id		CDATA		#REQUIRED
   address2		CDATA		#IMPLIED
   address3		CDATA		#IMPLIED
   city		CDATA		#IMPLIED
   country		CDATA		#IMPLIED
   email1		CDATA		#IMPLIED
   email2		CDATA		#IMPLIED
   fax1		CDATA		#IMPLIED
   fax2		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   phone1		CDATA		#IMPLIED
   phone2		CDATA		#IMPLIED
   state		CDATA		#IMPLIED
   zipcode		CDATA		#IMPLIED
   firstname		CDATA		#IMPLIED
   lastname		CDATA		#IMPLIED
   middlename		CDATA		#IMPLIED
   persontitle		CDATA		#IMPLIED
   businesstitle		CDATA		#IMPLIED
   nickname		CDATA		#REQUIRED
   shippinggeocode		CDATA		#IMPLIED
   taxgeocode		CDATA		#IMPLIED
>
<!ELEMENT vendordesc EMPTY>
<!ATTLIST vendordesc
   vendor_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   staddress_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
>
<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
