WC/xml/sar/customerprofile.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT customerprofile-asset (( mbrgrp | mbrgrpcond | mbrgrpusg | storembrgp)*)>
<!ELEMENT mbrgrp EMPTY>
<!ATTLIST mbrgrp
   mbrgrp_id		CDATA		#REQUIRED
   owner_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   dn		CDATA		#IMPLIED
   mbrgrpname		CDATA		#REQUIRED
   field3		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   lastupdatedby		CDATA		#IMPLIED
>
<!ELEMENT isa (member)>
<!ELEMENT member EMPTY>
<!ATTLIST member
  member_id			CDATA	#REQUIRED
  type			CDATA	#REQUIRED
  state			CDATA	#IMPLIED
>
<!ELEMENT mbrgrpcond EMPTY>
<!ATTLIST mbrgrpcond
   mbrgrp_id		CDATA		#REQUIRED
   conditions		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT mbrgrpusg EMPTY>
<!ATTLIST mbrgrpusg
   mbrgrptype_id		CDATA		#REQUIRED
   mbrgrp_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
>
<!ELEMENT storembrgp EMPTY>
<!ATTLIST storembrgp
   mbrgrp_id		CDATA		#REQUIRED
   store_id		CDATA		#REQUIRED
>
<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
