WC/xml/sar/discount.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT discount-asset (( calcode | calcodedsc | rldiscount | stencalusg)*)>
<!ELEMENT calcode EMPTY>
<!ATTLIST calcode
   calcode_id              CDATA              #REQUIRED
   code              CDATA              #REQUIRED
   calusage_id              CDATA              #REQUIRED
   storeent_id              CDATA              #REQUIRED
   groupby              CDATA              "0"
   txcdclass_id              CDATA              #IMPLIED
   published              CDATA              "0"
   sequence              CDATA              "0"
   combination              CDATA              #IMPLIED
   lastupdate              CDATA              #IMPLIED
   calmethod_id              CDATA              #REQUIRED
   calmethod_id_app              CDATA              #REQUIRED
   calmethod_id_qfy              CDATA              #REQUIRED
   field1              CDATA              #IMPLIED
   description              CDATA              #IMPLIED
   displaylevel              CDATA              "0"
   startdate              CDATA              #IMPLIED
   enddate              CDATA              #IMPLIED
   flags              CDATA              "0"
   precedence              CDATA              "0"
>
<!ELEMENT calcodedsc EMPTY>
<!ATTLIST calcodedsc
   calcode_id              CDATA              #REQUIRED
   language_id              CDATA              #REQUIRED
   description              CDATA              #IMPLIED
   longdescription              CDATA              #IMPLIED
>
<!ELEMENT rldiscount EMPTY>
<!ATTLIST rldiscount
   priority		CDATA		#REQUIRED
   rulexml		CDATA		#REQUIRED
   calcode_id		CDATA		#REQUIRED
   targetsales		CDATA		#IMPLIED
>
<!ELEMENT stencalusg EMPTY>
<!ATTLIST stencalusg
   storeent_id		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   actcc_calmethod_id		CDATA		#IMPLIED
   actrc_calmethod_id		CDATA		#IMPLIED
   calcode_id		CDATA		#IMPLIED
   calmethod_id_app		CDATA		#IMPLIED
   calmethod_id_sum		CDATA		#IMPLIED
   calmethod_id_fin		CDATA		#IMPLIED
   usageflags		CDATA		"0"
   calmethod_id_ini		CDATA		#IMPLIED
   sequence		CDATA		"0"
>
<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
