WC/xml/sar/fulfillment.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT fulfillment-asset (( ffmcenter | invadjdesc)*)>
<!ELEMENT ffmcenter EMPTY>
<!ATTLIST ffmcenter
   ffmcenter_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   defaultshipoffset		CDATA		"86400"
   markfordelete		CDATA		"0"
   inventoryopflags 		CDATA		"0"
   extffmstorenum		CDATA		#IMPLIED
>
<!ELEMENT invadjdesc EMPTY>
<!ATTLIST invadjdesc
   invadjcode_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
>
<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
