WC/xml/sar/ibm-wc-load.dtd

<?xml version='1.0' encoding="UTF-8"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT data-deploy
   (properties?,asset* , deploy-task-cmd*,target* )
>
<!ATTLIST data-deploy
	default-target CDATA #IMPLIED
	base-dir CDATA ".">
<!ELEMENT property
   EMPTY
>
<!ATTLIST property
name CDATA #REQUIRED
value CDATA #REQUIRED
>
<!ELEMENT deploy-task-cmd
   EMPTY
>
<!ATTLIST deploy-task-cmd
name CDATA #REQUIRED
class CDATA #REQUIRED
>
<!ELEMENT target
   (task+|param-bean*)*>
<!ATTLIST target
id CDATA #REQUIRED
>
<!ELEMENT properties (property*)>
<!ATTLIST properties
	filename CDATA #IMPLIED>
<!ELEMENT asset EMPTY>
<!ATTLIST asset
	id CDATA #REQUIRED
	location CDATA #REQUIRED
	type CDATA #IMPLIED>
<!ELEMENT task (param|export)*>
<!ATTLIST task
	name CDATA #REQUIRED
	>
<!ELEMENT param-bean EMPTY>
<!ATTLIST param-bean
	id CDATA #REQUIRED>
<!ELEMENT param EMPTY>
<!ATTLIST param
	name CDATA #REQUIRED
	value CDATA #REQUIRED>
<!ELEMENT export EMPTY>
<!ATTLIST export
	name CDATA #REQUIRED
	value CDATA #REQUIRED>
