WC/xml/sar/metaphor.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT metaphor-asset (( icmetaphor | icmetaprop | icmetareg | icmetafeat | icfeatprop | 
		icmertree | icknowledg | icconstrnt | icconstval | icmregdesc | 
		icknowdesc)*)>
<!ELEMENT icmetaphor EMPTY>
<!ATTLIST icmetaphor
   metaphorid		CDATA		#REQUIRED
   categoryid		CDATA		#REQUIRED
   storeid		CDATA		#REQUIRED
   treeid		CDATA		#IMPLIED
   explreq		CDATA		#IMPLIED
   metaphorname		CDATA		#REQUIRED
   publish		CDATA		"0"
   sync		CDATA		"1"
   templatename		CDATA		#IMPLIED
>
<!ELEMENT icmetaprop EMPTY>
<!ATTLIST icmetaprop
   metaphorid		CDATA		#REQUIRED
   propertyname		CDATA		#REQUIRED
   propertytype		CDATA		#REQUIRED
   propertyvalue		CDATA		#REQUIRED
>
<!ELEMENT icmetareg EMPTY>
<!ATTLIST icmetareg
   metaphortypeid		CDATA		#REQUIRED
   classname		CDATA		#REQUIRED
   buildername		CDATA		#REQUIRED
   explspcreq		CDATA		"1"
>
<!ELEMENT icmetafeat EMPTY>
<!ATTLIST icmetafeat
   featureid		CDATA		#REQUIRED
   storeid		CDATA		#REQUIRED
   metaphorid		CDATA		#REQUIRED
   displayable		CDATA		#REQUIRED
   orderseq		CDATA		#REQUIRED
>
<!ELEMENT icfeatprop EMPTY>
<!ATTLIST icfeatprop
   featureid		CDATA		#REQUIRED
   metaphorid		CDATA		#REQUIRED
   propertyname		CDATA		#REQUIRED
   propertytype		CDATA		#REQUIRED
   propertyvalue		CDATA		#REQUIRED
>
<!ELEMENT icmertree EMPTY>
<!ATTLIST icmertree
   storeid		CDATA		#REQUIRED
   treeid		CDATA		#REQUIRED
   metaphorid		CDATA		#REQUIRED
>
<!ELEMENT icknowledg EMPTY>
<!ATTLIST icknowledg
   treeid		CDATA		#REQUIRED
   conceptid		CDATA		#REQUIRED
   parentconceptid		CDATA		#IMPLIED
   storeid		CDATA		#IMPLIED
   classname		CDATA		#REQUIRED
   metaphorlinkid		CDATA		#IMPLIED
   ordersequence		CDATA		"0"
   ranking		CDATA		"0"
>
<!ELEMENT icconstrnt EMPTY>
<!ATTLIST icconstrnt
   constraintid		CDATA		#REQUIRED
   conceptid		CDATA		#REQUIRED
   featureid		CDATA		#REQUIRED
   featurename		CDATA		#REQUIRED
   operation		CDATA		#REQUIRED
>
<!ELEMENT icconstval EMPTY>
<!ATTLIST icconstval
   constraintid		CDATA		#REQUIRED
   value		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT icmregdesc EMPTY>
<!ATTLIST icmregdesc
   metaphortypeid		CDATA		#REQUIRED
   title		CDATA		#REQUIRED
   iconname		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT icknowdesc EMPTY>
<!ATTLIST icknowdesc
   conceptid		CDATA		#REQUIRED
   conceptname		CDATA		#REQUIRED
   descriptor		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
>
<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
