WC/xml/sar/orgaccesscontrol.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT orgaccesscontrol-asset (( acrescgry | acresgpres | acresgrp | acaction | acactgrp | acactactgp | acpolicy | acresact | acactdesc | acrscgdes | acacgpdesc | acresgpdes | acpoldesc)*)>
<!ELEMENT acrescgry EMPTY>
<!ATTLIST acrescgry
   ACRESCGRY_ID		CDATA		#REQUIRED
   RESPRIMARYTABLE		CDATA		#IMPLIED
   RESOWNERTABLE		CDATA		#IMPLIED
   RESOWNERCOL		CDATA		#IMPLIED
   RESKEYOWNCOL		CDATA		#IMPLIED
   FIELD1		CDATA		#IMPLIED
   RESCLASSNAME		CDATA		#REQUIRED
   RESJOINKEY		CDATA		#IMPLIED
>
<!ELEMENT acresgrp EMPTY>
<!ATTLIST acresgrp
   ACRESGRP_ID		CDATA		#REQUIRED
   MEMBER_ID		CDATA		#REQUIRED
   GRPNAME		CDATA		#REQUIRED
   DESCRIPTION		CDATA		#IMPLIED
   CONDITIONS		CDATA		#IMPLIED
   FIELD1		CDATA		#IMPLIED
   FIELD2		CDATA		#IMPLIED
>
<!ELEMENT acresgpres EMPTY>
<!ATTLIST acresgpres
   ACRESGRP_ID		CDATA		#REQUIRED
   ACRESCGRY_ID		CDATA		#REQUIRED
   FIELD1		CDATA		#IMPLIED
>
<!ELEMENT acaction EMPTY>
<!ATTLIST acaction
   ACACTION_ID		CDATA		#REQUIRED
   ACTION		CDATA		#REQUIRED
>
<!ELEMENT acactgrp EMPTY>
<!ATTLIST acactgrp
   ACACTGRP_ID		CDATA		#REQUIRED
   GROUPNAME		CDATA		#REQUIRED
   MEMBER_ID		CDATA		#REQUIRED
   FIELD1		CDATA		#IMPLIED
>
<!ELEMENT acactactgp EMPTY>
<!ATTLIST acactactgp
   ACACTGRP_ID		CDATA		#REQUIRED
   ACACTION_ID		CDATA		#REQUIRED
   FIELD1		CDATA		#IMPLIED
>
<!ELEMENT acpolicy EMPTY>
<!ATTLIST acpolicy
   ACPOLICY_ID		CDATA		#REQUIRED
   POLICYNAME		CDATA		#REQUIRED
   ACRELGRP_ID		CDATA		#IMPLIED
   ACACTGRP_ID		CDATA		#REQUIRED
   ACRESGRP_ID		CDATA		#REQUIRED
   ACRELATION_ID		CDATA		#IMPLIED
   POLICYTYPE		CDATA		#IMPLIED
   FIELD1		CDATA		#IMPLIED
   MBRGRP_ID		CDATA		#REQUIRED
   MEMBER_ID		CDATA		#REQUIRED
>
<!ELEMENT acresact EMPTY>
<!ATTLIST acresact
   ACRESCGRY_ID		CDATA		#REQUIRED
   ACACTION_ID		CDATA		#REQUIRED
>
<!ELEMENT acactdesc EMPTY>
<!ATTLIST acactdesc
   ACACTION_ID		CDATA		#REQUIRED
   DISPLAYNAME		CDATA		#REQUIRED
   DESCRIPTION		CDATA		#IMPLIED
   LANGUAGE_ID		CDATA		#REQUIRED
>
<!ELEMENT acrscgdes EMPTY>
<!ATTLIST acrscgdes
   LANGUAGE_ID		CDATA		#REQUIRED
   ACRESCGRY_ID		CDATA		#REQUIRED
   DISPLAYNAME		CDATA		#REQUIRED
   DESCRIPTION		CDATA		#IMPLIED
>

<!ELEMENT acacgpdesc EMPTY>
<!ATTLIST acacgpdesc
   ACACTGRP_ID		CDATA		#REQUIRED
   DISPLAYNAME		CDATA		#REQUIRED
   DESCRIPTION		CDATA		#IMPLIED
   LANGUAGE_ID		CDATA		#REQUIRED
>
<!ELEMENT acresgpdes EMPTY>
<!ATTLIST acresgpdes
   ACRESGRP_ID		CDATA		#REQUIRED
   DISPLAYNAME		CDATA		#REQUIRED
   DESCRIPTION		CDATA		#IMPLIED
   LANGUAGE_ID		CDATA		#REQUIRED
>
<!ELEMENT acpoldesc EMPTY>
<!ATTLIST acpoldesc
   ACPOLICY_ID		CDATA		#REQUIRED
   LANGUAGE_ID		CDATA		#REQUIRED
   DISPLAYNAME		CDATA		#REQUIRED
   DESCRIPTION		CDATA		#IMPLIED
>

<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
