WC/xml/sar/shipping.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT shipping-asset (( jurstgroup | jurst | jurstgprel | shipmode | shpmodedsc | 
		calmethod | calcode | calcodedsc | calrule | calscale | 
		calrulemgp | calscaleds | calrange | calrlookup | crulescale | 
		stencalusg)*)>
<!ELEMENT jurstgroup EMPTY>
<!ATTLIST jurstgroup
   jurstgroup_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   subclass		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   code		CDATA		#REQUIRED
   markfordelete		CDATA		"0"
>
<!ELEMENT jurst EMPTY>
<!ATTLIST jurst
   jurst_id		CDATA		#REQUIRED
   country		CDATA		#IMPLIED
   storeent_id		CDATA		#REQUIRED
   code		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   subclass		CDATA		#REQUIRED
   city		CDATA		#IMPLIED
   state		CDATA		#IMPLIED
   stateabbr		CDATA		#IMPLIED
   countryabbr		CDATA		#IMPLIED
   district		CDATA		#IMPLIED
   county		CDATA		#IMPLIED
   zipcodestart		CDATA		#IMPLIED
   zipcodeend		CDATA		#IMPLIED
   geocode		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
>
<!ELEMENT jurstgprel EMPTY>
<!ATTLIST jurstgprel
   jurst_id		CDATA		#REQUIRED
   jurstgroup_id		CDATA		#REQUIRED
   subclass		CDATA		#REQUIRED
>
<!ELEMENT shipmode EMPTY>
<!ATTLIST shipmode
   shipmode_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
   storeent_id		CDATA		#REQUIRED
   field2		CDATA		#IMPLIED
   code		CDATA		#IMPLIED
   carrier		CDATA		#IMPLIED
   trackingname		CDATA		#IMPLIED
   trackingurl		CDATA		#IMPLIED
   trackinghost		CDATA		#IMPLIED
   trackingport		CDATA		#IMPLIED
   trackingicon		CDATA		#IMPLIED
   trackingtype		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
>
<!ELEMENT shpmodedsc EMPTY>
<!ATTLIST shpmodedsc
   shipmode_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT calmethod EMPTY>
<!ATTLIST calmethod
   calmethod_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   taskname		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   subclass		CDATA		#IMPLIED
   name		CDATA		#IMPLIED
>
<!ELEMENT calcode EMPTY>
<!ATTLIST calcode
   calcode_id		CDATA		#REQUIRED
   code		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   groupby		CDATA		"0"
   txcdclass_id		CDATA		#IMPLIED
   published		CDATA		"0"
   sequence		CDATA		"0"
   combination		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   calmethod_id		CDATA		#REQUIRED
   calmethod_id_app		CDATA		#REQUIRED
   calmethod_id_qfy		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   displaylevel		CDATA		"0"
   startdate		CDATA		#IMPLIED
   enddate		CDATA		#IMPLIED
   flags		CDATA		"0"
   precedence		CDATA		"0"
>
<!ELEMENT calcodedsc EMPTY>
<!ATTLIST calcodedsc
   calcode_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
>
<!ELEMENT calrule EMPTY>
<!ATTLIST calrule
   calrule_id		CDATA		#REQUIRED
   calcode_id		CDATA		#REQUIRED
   startdate		CDATA		#IMPLIED
   taxcgry_id		CDATA		#IMPLIED
   enddate		CDATA		#IMPLIED
   sequence		CDATA		"0"
   combination		CDATA		"2"
   calmethod_id		CDATA		#REQUIRED
   calmethod_id_qfy		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   flags		CDATA		"0"
   identifier		CDATA		"1"
>
<!ELEMENT calscale EMPTY>
<!ATTLIST calscale
   calscale_id		CDATA		#REQUIRED
   qtyunit_id		CDATA		#IMPLIED
   code		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   storeent_id		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
   calmethod_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
>
<!ELEMENT calrulemgp EMPTY>
<!ATTLIST calrulemgp
   calrule_id		CDATA		#REQUIRED
   mbrgrp_id		CDATA		#REQUIRED
>
<!ELEMENT calscaleds EMPTY>
<!ATTLIST calscaleds
   calscale_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>
<!ELEMENT calrange EMPTY>
<!ATTLIST calrange
   calrange_id		CDATA		#REQUIRED
   calscale_id		CDATA		#IMPLIED
   calmethod_id		CDATA		#REQUIRED
   rangestart		CDATA		#IMPLIED
   cumulative		CDATA		"0"
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
>
<!ELEMENT calrlookup EMPTY>
<!ATTLIST calrlookup
   calrlookup_id		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
   calrange_id		CDATA		#REQUIRED
   value		CDATA		"0"
>
<!ELEMENT crulescale EMPTY>
<!ATTLIST crulescale
   calscale_id		CDATA		#REQUIRED
   calrule_id		CDATA		#REQUIRED
>
<!ELEMENT stencalusg EMPTY>
<!ATTLIST stencalusg
   storeent_id		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   actcc_calmethod_id		CDATA		#IMPLIED
   actrc_calmethod_id		CDATA		#IMPLIED
   calcode_id		CDATA		#IMPLIED
   calmethod_id_app		CDATA		#IMPLIED
   calmethod_id_sum		CDATA		#IMPLIED
   calmethod_id_fin		CDATA		#IMPLIED
   usageflags		CDATA		"0"
   calmethod_id_ini		CDATA		#IMPLIED
   sequence		CDATA		"0"
>
<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
