WC/xml/sar/store.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT store-asset (( storeent | staddress | storeentds | storelang | storlangds | 
		store | vendor | vendordesc | dispentrel | dispcgprel | 
		trdtype | trading | contract | storembrgp | langpair | 
		invadjcode | ffmcentds | rtnreason | rtnrsndesc)*)>
<!ELEMENT storeent EMPTY>
<!ATTLIST storeent
   storeent_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   type		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
   identifier		CDATA		#REQUIRED
>
<!ELEMENT staddress EMPTY>
<!ATTLIST staddress
   staddress_id		CDATA		#REQUIRED
   address1		CDATA		#IMPLIED
   member_id		CDATA		#REQUIRED
   address2		CDATA		#IMPLIED
   address3		CDATA		#IMPLIED
   city		CDATA		#IMPLIED
   country		CDATA		#IMPLIED
   email1		CDATA		#IMPLIED
   email2		CDATA		#IMPLIED
   fax1		CDATA		#IMPLIED
   fax2		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   phone1		CDATA		#IMPLIED
   phone2		CDATA		#IMPLIED
   state		CDATA		#IMPLIED
   zipcode		CDATA		#IMPLIED
   firstname		CDATA		#IMPLIED
   lastname		CDATA		#IMPLIED
   middlename		CDATA		#IMPLIED
   persontitle		CDATA		#IMPLIED
   businesstitle		CDATA		#IMPLIED
   nickname		CDATA		#REQUIRED
   shippinggeocode		CDATA		#IMPLIED
   taxgeocode		CDATA		#IMPLIED
>
<!ELEMENT storeentds EMPTY>
<!ATTLIST storeentds
   language_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   displayname		CDATA		#IMPLIED
   staddress_id_loc		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   staddress_id_cont		CDATA		#IMPLIED
>
<!ELEMENT storelang EMPTY>
<!ATTLIST storelang
   language_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
>
<!ELEMENT storlangds EMPTY>
<!ATTLIST storlangds
   storeent_id		CDATA		#REQUIRED
   language_id_desc		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT store EMPTY>
<!ATTLIST store
   store_id		CDATA		#REQUIRED
   storegrp_id		CDATA		#REQUIRED
   storecgry_id		CDATA		#IMPLIED
   language_id		CDATA		#IMPLIED
   ffmcenter_id		CDATA		#IMPLIED
   status		CDATA		#IMPLIED
   storelevel		CDATA		#IMPLIED
   directory		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
   quotegoodfor		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   allocationgoodfor		CDATA		"43200"
   maxbooffset		CDATA		"7776000"
   rejectedordexpiry		CDATA		#IMPLIED
   ffmcselectionflags		CDATA		"0"
   bopmpadfactor		CDATA		#IMPLIED
   rtnffmctr_id		CDATA		#IMPLIED
   defaultbooffset		CDATA		"7776000"
   pricerefflags		CDATA		"0"
   storetype		CDATA		#IMPLIED
   rmagoodfor		CDATA		#IMPLIED
   avsacceptcodes		CDATA		#IMPLIED
>
<!ELEMENT vendor EMPTY>
<!ATTLIST vendor
   vendor_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
   vendorname		CDATA		#REQUIRED
>
<!ELEMENT vendordesc EMPTY>
<!ATTLIST vendordesc
   vendor_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   staddress_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT dispentrel EMPTY>
<!ATTLIST dispentrel
   catentry_id		CDATA		#REQUIRED
   dispentrel_id		CDATA		#REQUIRED
   language_id		CDATA		#IMPLIED
   devicefmt_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   pagename		CDATA		#REQUIRED
   catenttype_id		CDATA		#REQUIRED
   auctionstate		CDATA		"0"
   mbrgrp_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   rank		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT dispcgprel EMPTY>
<!ATTLIST dispcgprel
   catgroup_id		CDATA		#REQUIRED
   dispcgprel_id		CDATA		#REQUIRED
   language_id		CDATA		#IMPLIED
   devicefmt_id		CDATA		#REQUIRED
   pagename		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   mbrgrp_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   rank		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT trdtype EMPTY>
<!ATTLIST trdtype
   trdtype_id		CDATA		#REQUIRED
>
<!ELEMENT trading EMPTY>
<!ATTLIST trading
   trading_id		CDATA		#REQUIRED
   trdtype_id		CDATA		#REQUIRED
   account_id		CDATA		#IMPLIED
   state		CDATA		"0"
   markfordelete		CDATA		"0"
   referencecount		CDATA		"0"
   starttime		CDATA		#IMPLIED
   endtime		CDATA		#IMPLIED
   creditallowed		CDATA		"0"
>
<!ELEMENT contract EMPTY>
<!ATTLIST contract
   contract_id		CDATA		#REQUIRED
   majorversion		CDATA		"1"
   minorversion		CDATA		"0"
   name		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   origin		CDATA		"0"
   state		CDATA		"0"
   usage		CDATA		"0"
   markfordelete		CDATA		"0"
   comments		CDATA		#IMPLIED
   timecreated		CDATA		#IMPLIED
   timeupdated		CDATA		#IMPLIED
   timeapproved		CDATA		#IMPLIED
   timeactivated		CDATA		#IMPLIED
   timedeployed		CDATA		#IMPLIED
>
<!ELEMENT storembrgp EMPTY>
<!ATTLIST storembrgp
   mbrgrp_id		CDATA		#REQUIRED
   store_id		CDATA		#REQUIRED
>
<!ELEMENT langpair EMPTY>
<!ATTLIST langpair
   storeent_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   language_id_alt		CDATA		#REQUIRED
   sequence		CDATA		"0"
>
<!ELEMENT invadjcode EMPTY>
<!ATTLIST invadjcode
   invadjcode_id		CDATA		#REQUIRED
   adjustcode		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   storeent_id		CDATA		#REQUIRED
   markfordelete		CDATA		#IMPLIED
>
<!ELEMENT ffmcentds EMPTY>
<!ATTLIST ffmcentds
   ffmcenter_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   staddress_id		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   displayname		CDATA		#IMPLIED
>
<!ELEMENT rtnreason EMPTY>
<!ATTLIST rtnreason
   reasontype		CDATA		"B"
   rtnreason_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   markfordelete		CDATA		"0"
   code		CDATA		#REQUIRED
>
<!ELEMENT rtnrsndesc EMPTY>
<!ATTLIST rtnrsndesc
   rtnreason_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>
<!ENTITY % DBLoadMacros SYSTEM "DBLoadMacros.dtd">
%DBLoadMacros;
