WC/xml/sar/store-catalog.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT store-catalog-asset (( storecat | storecent | storecgrp | dispentrel | dispcgprel)*)>
<!ELEMENT storecat EMPTY>
<!ATTLIST storecat
   catalog_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   mastercatalog		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT storecent EMPTY>
<!ATTLIST storecent
   storeent_id		CDATA		#REQUIRED
   catentry_id		CDATA		#REQUIRED
>
<!ELEMENT storecgrp EMPTY>
<!ATTLIST storecgrp
   storeent_id		CDATA		#REQUIRED
   catgroup_id		CDATA		#REQUIRED
>
<!ELEMENT dispentrel EMPTY>
<!ATTLIST dispentrel
   catentry_id		CDATA		#REQUIRED
   dispentrel_id		CDATA		#REQUIRED
   language_id		CDATA		#IMPLIED
   devicefmt_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   pagename		CDATA		#REQUIRED
   catenttype_id		CDATA		#REQUIRED
   auctionstate		CDATA		"0"
   mbrgrp_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   rank		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT dispcgprel EMPTY>
<!ATTLIST dispcgprel
   catgroup_id		CDATA		#REQUIRED
   dispcgprel_id		CDATA		#REQUIRED
   language_id		CDATA		#IMPLIED
   devicefmt_id		CDATA		#REQUIRED
   pagename		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   mbrgrp_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   rank		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
