WC/xml/sar/store-catalog-coupon.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT store-catalog-tax-asset (( catencalcd | catgpcalcd)*)>
<!ELEMENT catencalcd EMPTY>
<!ATTLIST catencalcd
   store_id		CDATA		#REQUIRED
   catencalcd_id		CDATA		#REQUIRED
   trading_id		CDATA		#IMPLIED
   catentry_id		CDATA		#IMPLIED
   calcode_id		CDATA		#REQUIRED
>
<!ELEMENT catgpcalcd EMPTY>
<!ATTLIST catgpcalcd
   store_id		CDATA		#REQUIRED
   catgpcalcd_id		CDATA		#REQUIRED
   trading_id		CDATA		#IMPLIED
   catgroup_id		CDATA		#REQUIRED
   calcode_id		CDATA		#REQUIRED
>
