WC/xml/sar/store-all.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT store-asset (( ffmcenter | shipmode | storeent | storelang | store | 
		vendor | vendordesc | dispentrel | dispcgprel | trdtype | 
		trading | contract | storembrgp | langpair | curconvert | 
		curformat | curlist | curcvlist | jurstgroup | jurst | 
		jurstgprel | taxcgry | taxcgryds | calcode | calrule | 
		calscale | calrange | calrlookup | crulescale | stencalusg | 
		taxjcrule | shpjcrule | shparrange | storecat | storecent | 
		catgroup | catalog | cattogrp | catgrprel | baseitem | 
		baseitmdsc | itemversn | itemspc | storitmffc | ra | 
		radetail | itemffmctr | versionspc | distarrang | receipt | 
		rcptavail | storeitem | catentry | catgpenrel | catentrel | 
		inventory | viewreg | productset | tradeposcn | tdpscncntr | 
		mgptrdpscn | offer | offerprice | catgrpdesc | catalogdsc | 
		catentdesc | attribute | pkgattr | attrvalue | curfmtdesc | 
		qtyfmtdesc | shpmodedsc | staddress | storeentds | calcodedsc | 
		calscaleds | storlangds | storecgrp | emspot | campaign | 
		catencalcd | catgpcalcd | catentship | ffmcentds | calmethod | 
		storedef | cmdreg | collateral | colldesc | urlreg | 
		massoccece | massocgpgp | pkgattrval | catgrpattr | catgrptpc | 
		member | orgentity | mbrrel | addrbook | address | 
		policy | policycmd | policydesc | acaction | acactgrp | 
		acactactgp | acpolicy | invadjcode | invadjdesc | acrescgry | 
		acresgrp | acresgpres | acactdesc | acrscgdes | acacgpdesc | 
		acresgpdes | acpoldesc | rtnreason | rtnrsndesc | users | 
		userreg)*)>
<!ELEMENT ffmcenter EMPTY>
<!ATTLIST ffmcenter
   ffmcenter_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   defaultshipoffset		CDATA		"86400"
   markfordelete		CDATA		"0"
>
<!ELEMENT shipmode EMPTY>
<!ATTLIST shipmode
   shipmode_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
   storeent_id		CDATA		#REQUIRED
   field2		CDATA		#IMPLIED
   code		CDATA		#IMPLIED
   carrier		CDATA		#IMPLIED
   trackingname		CDATA		#IMPLIED
   trackingurl		CDATA		#IMPLIED
   trackinghost		CDATA		#IMPLIED
   trackingport		CDATA		#IMPLIED
   trackingicon		CDATA		#IMPLIED
   trackingtype		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
>
<!ELEMENT storeent EMPTY>
<!ATTLIST storeent
   storeent_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   type		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
   identifier		CDATA		#REQUIRED
>
<!ELEMENT storelang EMPTY>
<!ATTLIST storelang
   language_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
>
<!ELEMENT store EMPTY>
<!ATTLIST store
   store_id		CDATA		#REQUIRED
   storegrp_id		CDATA		#REQUIRED
   storecgry_id		CDATA		#IMPLIED
   language_id		CDATA		#IMPLIED
   ffmcenter_id		CDATA		#IMPLIED
   status		CDATA		#IMPLIED
   storelevel		CDATA		#IMPLIED
   directory		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
   quotegoodfor		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   allocationgoodfor		CDATA		"43200"
   maxbooffset		CDATA		"7776000"
   rejectedordexpiry		CDATA		#IMPLIED
   ffmcselectionflags		CDATA		"0"
   bopmpadfactor		CDATA		#IMPLIED
   rtnffmctr_id		CDATA		#IMPLIED
   defaultbooffset		CDATA		"7776000"
   pricerefflags		CDATA		"0"
   storetype		CDATA		#IMPLIED
   rmagoodfor		CDATA		#IMPLIED
   avsacceptcodes		CDATA		#IMPLIED
>
<!ELEMENT vendor EMPTY>
<!ATTLIST vendor
   vendor_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
   vendorname		CDATA		#REQUIRED
>
<!ELEMENT vendordesc EMPTY>
<!ATTLIST vendordesc
   vendor_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   staddress_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT dispentrel EMPTY>
<!ATTLIST dispentrel
   catentry_id		CDATA		#REQUIRED
   dispentrel_id		CDATA		#REQUIRED
   language_id		CDATA		#IMPLIED
   devicefmt_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   pagename		CDATA		#REQUIRED
   catenttype_id		CDATA		#REQUIRED
   auctionstate		CDATA		"0"
   mbrgrp_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   rank		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT dispcgprel EMPTY>
<!ATTLIST dispcgprel
   catgroup_id		CDATA		#REQUIRED
   dispcgprel_id		CDATA		#REQUIRED
   language_id		CDATA		#IMPLIED
   devicefmt_id		CDATA		#REQUIRED
   pagename		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   mbrgrp_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   rank		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT trdtype EMPTY>
<!ATTLIST trdtype
   trdtype_id		CDATA		#REQUIRED
>
<!ELEMENT trading EMPTY>
<!ATTLIST trading
   trading_id		CDATA		#REQUIRED
   trdtype_id		CDATA		#REQUIRED
   account_id		CDATA		#IMPLIED
   state		CDATA		"0"
   markfordelete		CDATA		"0"
   referencecount		CDATA		"0"
   starttime		CDATA		#IMPLIED
   endtime		CDATA		#IMPLIED
   creditallowed		CDATA		"0"
>
<!ELEMENT contract EMPTY>
<!ATTLIST contract
   contract_id		CDATA		#REQUIRED
   majorversion		CDATA		"1"
   minorversion		CDATA		"0"
   name		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   origin		CDATA		"0"
   state		CDATA		"0"
   usage		CDATA		"0"
   markfordelete		CDATA		"0"
   comments		CDATA		#IMPLIED
   timecreated		CDATA		#IMPLIED
   timeupdated		CDATA		#IMPLIED
   timeapproved		CDATA		#IMPLIED
   timeactivated		CDATA		#IMPLIED
   timedeployed		CDATA		#IMPLIED
>
<!ELEMENT storembrgp EMPTY>
<!ATTLIST storembrgp
   mbrgrp_id		CDATA		#REQUIRED
   store_id		CDATA		#REQUIRED
>
<!ELEMENT langpair EMPTY>
<!ATTLIST langpair
   storeent_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   language_id_alt		CDATA		#REQUIRED
   sequence		CDATA		"0"
>
<!ELEMENT curconvert EMPTY>
<!ATTLIST curconvert
   storeent_id		CDATA		#REQUIRED
   fromcurr		CDATA		#REQUIRED
   tocurr		CDATA		#REQUIRED
   factor		CDATA		"1"
   multiplyordivide		CDATA		"M"
   bidirectional		CDATA		"N"
   updatable		CDATA		"Y"
   curconvert_id		CDATA		#REQUIRED
>
<!ELEMENT curformat EMPTY>
<!ATTLIST curformat
   storeent_id		CDATA		#REQUIRED
   setccurr		CDATA		#REQUIRED
   roundingmultiple		CDATA		"1"
   numbrusg_id		CDATA		"-1"
   roundingmethod		CDATA		"R"
   decimalplaces		CDATA		"2"
   minapproveamount		CDATA		#IMPLIED
>
<!ELEMENT curlist EMPTY>
<!ATTLIST curlist
   storeent_id		CDATA		#REQUIRED
   currstr		CDATA		#REQUIRED
>
<!ELEMENT curcvlist EMPTY>
<!ATTLIST curcvlist
   storeent_id		CDATA		#REQUIRED
   currstr		CDATA		#REQUIRED
   countervaluecurr		CDATA		#REQUIRED
   displayseq		CDATA		#REQUIRED
>
<!ELEMENT jurstgroup EMPTY>
<!ATTLIST jurstgroup
   jurstgroup_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   subclass		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   code		CDATA		#REQUIRED
   markfordelete		CDATA		"0"
>
<!ELEMENT jurst EMPTY>
<!ATTLIST jurst
   jurst_id		CDATA		#REQUIRED
   country		CDATA		#IMPLIED
   storeent_id		CDATA		#REQUIRED
   code		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   subclass		CDATA		#REQUIRED
   city		CDATA		#IMPLIED
   state		CDATA		#IMPLIED
   stateabbr		CDATA		#IMPLIED
   countryabbr		CDATA		#IMPLIED
   district		CDATA		#IMPLIED
   county		CDATA		#IMPLIED
   zipcodestart		CDATA		#IMPLIED
   zipcodeend		CDATA		#IMPLIED
   geocode		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
>
<!ELEMENT jurstgprel EMPTY>
<!ATTLIST jurstgprel
   jurst_id		CDATA		#REQUIRED
   jurstgroup_id		CDATA		#REQUIRED
   subclass		CDATA		#REQUIRED
>
<!ELEMENT taxcgry EMPTY>
<!ATTLIST taxcgry
   taxcgry_id		CDATA		#REQUIRED
   taxtype_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   calculationseq		CDATA		"0"
   displayseq		CDATA		"0"
   displayusage		CDATA		"0"
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
>
<!ELEMENT taxcgryds EMPTY>
<!ATTLIST taxcgryds
   language_id		CDATA		#REQUIRED
   taxcgry_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>
<!ELEMENT calcode EMPTY>
<!ATTLIST calcode
   calcode_id		CDATA		#REQUIRED
   code		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   groupby		CDATA		"0"
   txcdclass_id		CDATA		#IMPLIED
   published		CDATA		"0"
   sequence		CDATA		"0"
   combination		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   calmethod_id		CDATA		#REQUIRED
   calmethod_id_app		CDATA		#REQUIRED
   calmethod_id_qfy		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   displaylevel		CDATA		"0"
   startdate		CDATA		#IMPLIED
   enddate		CDATA		#IMPLIED
   flags		CDATA		"0"
   precedence		CDATA		"0"
>
<!ELEMENT calrule EMPTY>
<!ATTLIST calrule
   calrule_id		CDATA		#REQUIRED
   calcode_id		CDATA		#REQUIRED
   startdate		CDATA		#IMPLIED
   taxcgry_id		CDATA		#IMPLIED
   enddate		CDATA		#IMPLIED
   sequence		CDATA		"0"
   combination		CDATA		"2"
   calmethod_id		CDATA		#REQUIRED
   calmethod_id_qfy		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   flags		CDATA		"0"
   identifier		CDATA		"1"
>
<!ELEMENT calscale EMPTY>
<!ATTLIST calscale
   calscale_id		CDATA		#REQUIRED
   qtyunit_id		CDATA		#IMPLIED
   code		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   storeent_id		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
   calmethod_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
>
<!ELEMENT calrange EMPTY>
<!ATTLIST calrange
   calrange_id		CDATA		#REQUIRED
   calscale_id		CDATA		#IMPLIED
   calmethod_id		CDATA		#REQUIRED
   rangestart		CDATA		#IMPLIED
   cumulative		CDATA		"0"
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
>
<!ELEMENT calrlookup EMPTY>
<!ATTLIST calrlookup
   calrlookup_id		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
   calrange_id		CDATA		#REQUIRED
   value		CDATA		"0"
>
<!ELEMENT crulescale EMPTY>
<!ATTLIST crulescale
   calscale_id		CDATA		#REQUIRED
   calrule_id		CDATA		#REQUIRED
>
<!ELEMENT stencalusg EMPTY>
<!ATTLIST stencalusg
   storeent_id		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   actcc_calmethod_id		CDATA		#IMPLIED
   actrc_calmethod_id		CDATA		#IMPLIED
   calcode_id		CDATA		#IMPLIED
   calmethod_id_app		CDATA		#IMPLIED
   calmethod_id_sum		CDATA		#IMPLIED
   calmethod_id_fin		CDATA		#IMPLIED
   usageflags		CDATA		"0"
   calmethod_id_ini		CDATA		#IMPLIED
   sequence		CDATA		"0"
>
<!ELEMENT taxjcrule EMPTY>
<!ATTLIST taxjcrule
   calrule_id		CDATA		#REQUIRED
   taxjcrule_id		CDATA		#REQUIRED
   ffmcenter_id		CDATA		#IMPLIED
   jurstgroup_id		CDATA		#IMPLIED
   precedence		CDATA		"0"
>
<!ELEMENT shpjcrule EMPTY>
<!ATTLIST shpjcrule
   calrule_id		CDATA		#REQUIRED
   shpjcrule_id		CDATA		#REQUIRED
   ffmcenter_id		CDATA		#IMPLIED
   jurstgroup_id		CDATA		#IMPLIED
   precedence		CDATA		"0"
   shipmode_id		CDATA		#IMPLIED
>
<!ELEMENT shparrange EMPTY>
<!ATTLIST shparrange
   shparrange_id		CDATA		#REQUIRED
   store_id		CDATA		#REQUIRED
   ffmcenter_id		CDATA		#REQUIRED
   shipmode_id		CDATA		#IMPLIED
   startdate		CDATA		#IMPLIED
   enddate		CDATA		#IMPLIED
   trackingnumber		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   precedence		CDATA		"0"
   field2		CDATA		#IMPLIED
   flags		CDATA		"0"
>
<!ELEMENT storecat EMPTY>
<!ATTLIST storecat
   catalog_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   mastercatalog		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT storecent EMPTY>
<!ATTLIST storecent
   storeent_id		CDATA		#REQUIRED
   catentry_id		CDATA		#REQUIRED
>
<!ELEMENT catgroup EMPTY>
<!ATTLIST catgroup
   catgroup_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   identifier		CDATA		#IMPLIED
   markfordelete		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT catalog EMPTY>
<!ATTLIST catalog
   catalog_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   identifier		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   tpclevel		CDATA		#IMPLIED
>
<!ELEMENT cattogrp EMPTY>
<!ATTLIST cattogrp
   catalog_id		CDATA		#REQUIRED
   catgroup_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   sequence		CDATA		#IMPLIED
>
<!ELEMENT catgrprel EMPTY>
<!ATTLIST catgrprel
   catgroup_id_parent		CDATA		#REQUIRED
   catgroup_id_child		CDATA		#REQUIRED
   catalog_id		CDATA		#REQUIRED
   rule		CDATA		#IMPLIED
   sequence		CDATA		"0"
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT baseitem EMPTY>
<!ATTLIST baseitem
   baseitem_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   itemtype_id		CDATA		#REQUIRED
   quantitymeasure		CDATA		"C62"
   lastupdate		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
   partnumber		CDATA		#REQUIRED
   quantitymultiple		CDATA		"1.0"
>
<!ELEMENT baseitmdsc EMPTY>
<!ATTLIST baseitmdsc
   baseitem_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   shortdescription		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT itemversn EMPTY>
<!ATTLIST itemversn
   itemversn_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   baseitem_id		CDATA		#REQUIRED
   expirationdate		CDATA		#REQUIRED
   versionname		CDATA		"Version 1"
>
<!ELEMENT itemspc EMPTY>
<!ATTLIST itemspc
   itemspc_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   member_id		CDATA		#REQUIRED
   markfordelete		CDATA		"0"
   baseitem_id		CDATA		#REQUIRED
   discontinued		CDATA		"N"
   partnumber		CDATA		#REQUIRED
>
<!ELEMENT storitmffc EMPTY>
<!ATTLIST storitmffc
   baseitem_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   ffmcenter_id		CDATA		#REQUIRED
   shippingoffset		CDATA		"86400"
>
<!ELEMENT ra EMPTY>
<!ATTLIST ra
   ra_id		CDATA		#REQUIRED
   vendor_id		CDATA		#REQUIRED
   store_id		CDATA		#REQUIRED
   orderdate		CDATA		#REQUIRED
   openindicator		CDATA		#IMPLIED
   dateclosed		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   externalid		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
   createtime		CDATA		#REQUIRED
>
<!ELEMENT radetail EMPTY>
<!ATTLIST radetail
   radetail_id		CDATA		#REQUIRED
   ra_id		CDATA		#REQUIRED
   ffmcenter_id		CDATA		#IMPLIED
   itemspc_id		CDATA		#REQUIRED
   qtyordered		CDATA		"0"
   qtyreceived		CDATA		"0"
   qtyremaining		CDATA		"0"
   qtyallocated		CDATA		"0"
   expecteddate		CDATA		#REQUIRED
   radetailcomment		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
>
<!ELEMENT itemffmctr EMPTY>
<!ATTLIST itemffmctr
   ffmcenter_id		CDATA		#REQUIRED
   itemspc_id		CDATA		#REQUIRED
   qtybackordered		CDATA		"0"
   qtyallocbackorder		CDATA		"0"
   store_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   qtyreserved		CDATA		"0"
>
<!ELEMENT versionspc EMPTY>
<!ATTLIST versionspc
   versionspc_id		CDATA		#REQUIRED
   itemspc_id		CDATA		#REQUIRED
   itemversn_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT distarrang EMPTY>
<!ATTLIST distarrang
   distarrang_id		CDATA		#REQUIRED
   merchantstore_id		CDATA		#REQUIRED
   pickingmethod		CDATA		#IMPLIED
   startdate		CDATA		#REQUIRED
   enddate		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   wholesalestore_id		CDATA		#REQUIRED
   baseitem_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT receipt EMPTY>
<!ATTLIST receipt
   receipt_id		CDATA		#REQUIRED
   versionspc_id		CDATA		#REQUIRED
   radetail_id		CDATA		#IMPLIED
   store_id		CDATA		#REQUIRED
   setccurr		CDATA		#IMPLIED
   ffmcenter_id		CDATA		#REQUIRED
   vendor_id		CDATA		#IMPLIED
   receiptdate		CDATA		#REQUIRED
   qtyreceived		CDATA		"0"
   qtyinprocess		CDATA		"0"
   qtyonhand		CDATA		"0"
   qtyinkits		CDATA		"0"
   cost		CDATA		#IMPLIED
   comment1		CDATA		#IMPLIED
   comment2		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   createtime		CDATA		#REQUIRED
   receipttype		CDATA		"ADHC"
   rtnrcptdsp_id		CDATA		#IMPLIED
>
<!ELEMENT rcptavail EMPTY>
<!ATTLIST rcptavail
   rcptavail_id		CDATA		#REQUIRED
   distarrang_id		CDATA		#REQUIRED
   receipt_id		CDATA		#REQUIRED
   precedence		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT storeitem EMPTY>
<!ATTLIST storeitem
   baseitem_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   trackinventory		CDATA		"Y"
   forcebackorder		CDATA		"N"
   releaseseparately		CDATA		"N"
   foreignsku		CDATA		#IMPLIED
   foreignsystem		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   creditable		CDATA		"Y"
   backorderable		CDATA		"Y"
   returnnotdesired		CDATA		"N"
   minqtyforsplit		CDATA		"0"
>
<!ELEMENT catentry EMPTY>
<!ATTLIST catentry
   catentry_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   itemspc_id		CDATA		#IMPLIED
   catenttype_id		CDATA		#REQUIRED
   partnumber		CDATA		#REQUIRED
   mfpartnumber		CDATA		#IMPLIED
   mfname		CDATA		#IMPLIED
   markfordelete		CDATA		#REQUIRED
   url		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   onspecial		CDATA		#IMPLIED
   onauction		CDATA		#IMPLIED
   field4		CDATA		#IMPLIED
   field5		CDATA		#IMPLIED
   buyable		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
   baseitem_id		CDATA		#IMPLIED
   state		CDATA		#IMPLIED
>
<!ELEMENT catgpenrel EMPTY>
<!ATTLIST catgpenrel
   catgroup_id		CDATA		#REQUIRED
   catalog_id		CDATA		#REQUIRED
   catentry_id		CDATA		#REQUIRED
   rule		CDATA		#IMPLIED
   sequence		CDATA		"0"
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT catentrel EMPTY>
<!ATTLIST catentrel
   catentry_id_parent		CDATA		#REQUIRED
   catreltype_id		CDATA		#REQUIRED
   catentry_id_child		CDATA		#REQUIRED
   sequence		CDATA		"0"
   quantity		CDATA		#IMPLIED
   groupname		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT inventory EMPTY>
<!ATTLIST inventory
   catentry_id		CDATA		#REQUIRED
   quantity		CDATA		"0"
   ffmcenter_id		CDATA		#REQUIRED
   store_id		CDATA		#REQUIRED
   quantitymeasure		CDATA		"C62"
   inventoryflags		CDATA		"0"
>
<!ELEMENT viewreg EMPTY>
<!ATTLIST viewreg
   viewname		CDATA		#REQUIRED
   devicefmt_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   interfacename		CDATA		#REQUIRED
   classname		CDATA		#IMPLIED
   properties		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   https		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   internal		CDATA		"0"
>
<!ELEMENT productset EMPTY>
<!ATTLIST productset
   name		CDATA		#IMPLIED
   productset_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   xmldefinition		CDATA		#REQUIRED
   publishtime		CDATA		#IMPLIED
   markfordelete		CDATA		"0"
   static		CDATA		#IMPLIED
>
<!ELEMENT tradeposcn EMPTY>
<!ATTLIST tradeposcn
   tradeposcn_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   productset_id		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   name		CDATA		#REQUIRED
   precedence		CDATA		"0"
   markfordelete		CDATA		"0"
   type		CDATA		#IMPLIED
   flags		CDATA		"0"
>
<!ELEMENT tdpscncntr EMPTY>
<!ATTLIST tdpscncntr
   tradeposcn_id		CDATA		#REQUIRED
   contract_id		CDATA		#REQUIRED
>
<!ELEMENT mgptrdpscn EMPTY>
<!ATTLIST mgptrdpscn
   mbrgrp_id		CDATA		#REQUIRED
   tradeposcn_id		CDATA		#REQUIRED
>
<!ELEMENT offer EMPTY>
<!ATTLIST offer
   offer_id		CDATA		#REQUIRED
   startdate		CDATA		#IMPLIED
   tradeposcn_id		CDATA		#REQUIRED
   catentry_id		CDATA		#REQUIRED
   enddate		CDATA		#IMPLIED
   precedence		CDATA		"0"
   published		CDATA		"0"
   lastupdate		CDATA		#IMPLIED
   minimumquantity		CDATA		#IMPLIED
   qtyunit_id		CDATA		#IMPLIED
   maximumquantity		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   flags		CDATA		"1"
   identifier		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT offerprice EMPTY>
<!ATTLIST offerprice
   offer_id		CDATA		#REQUIRED
   currency		CDATA		#REQUIRED
   price		CDATA		#REQUIRED
   compareprice		CDATA		#IMPLIED
>
<!ELEMENT catgrpdesc EMPTY>
<!ATTLIST catgrpdesc
   language_id		CDATA		#REQUIRED
   catgroup_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   shortdescription		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
   thumbnail		CDATA		#IMPLIED
   fullimage		CDATA		#IMPLIED
   published		CDATA		#REQUIRED
   display		CDATA		#IMPLIED
   keyword		CDATA		#IMPLIED
>
<!ELEMENT catalogdsc EMPTY>
<!ATTLIST catalogdsc
   catalog_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   shortdescription		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
   thumbnail		CDATA		#IMPLIED
   fullimage		CDATA		#IMPLIED
>
<!ELEMENT catentdesc EMPTY>
<!ATTLIST catentdesc
   catentry_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   shortdescription		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
   thumbnail		CDATA		#IMPLIED
   auxdescription1		CDATA		#IMPLIED
   fullimage		CDATA		#IMPLIED
   auxdescription2		CDATA		#IMPLIED
   xmldetail		CDATA		#IMPLIED
   available		CDATA		#REQUIRED
   published		CDATA		#REQUIRED
   availabilitydate		CDATA		#IMPLIED
   keyword		CDATA		#IMPLIED
>
<!ELEMENT attribute EMPTY>
<!ATTLIST attribute
   attribute_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   attrtype_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   sequence		CDATA		"0"
   description		CDATA		#IMPLIED
   catentry_id		CDATA		#IMPLIED
   description2		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
   usage		CDATA		#IMPLIED
>
<!ELEMENT pkgattr EMPTY>
<!ATTLIST pkgattr
   pkgattr_id		CDATA		#REQUIRED
   attribute_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   catentry_id		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT attrvalue EMPTY>
<!ATTLIST attrvalue
   attrvalue_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   attribute_id		CDATA		#REQUIRED
   attrtype_id		CDATA		#REQUIRED
   stringvalue		CDATA		#IMPLIED
   operator_id		CDATA		#IMPLIED
   sequence		CDATA		"0"
   integervalue		CDATA		#IMPLIED
   floatvalue		CDATA		#IMPLIED
   catentry_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   image1		CDATA		#IMPLIED
   image2		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT curfmtdesc EMPTY>
<!ATTLIST curfmtdesc
   storeent_id		CDATA		#REQUIRED
   numbrusg_id		CDATA		"-1"
   setccurr		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   currencysymbol		CDATA		#IMPLIED
   customizedcurrstr		CDATA		#IMPLIED
   currencyprefixpos		CDATA		#IMPLIED
   currencysuffixpos		CDATA		#IMPLIED
   displaylocale		CDATA		#IMPLIED
   currencyprefixneg		CDATA		#IMPLIED
   currencysuffixneg		CDATA		#IMPLIED
   radixpoint		CDATA		#IMPLIED
   groupingchar		CDATA		#IMPLIED
   numberpattern		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
>
<!ELEMENT qtyfmtdesc EMPTY>
<!ATTLIST qtyfmtdesc
   storeent_id		CDATA		#REQUIRED
   numbrusg_id		CDATA		"-1"
   language_id		CDATA		#REQUIRED
   qtyunit_id		CDATA		#REQUIRED
   unitsymbol		CDATA		#IMPLIED
   unitprefixpos		CDATA		#IMPLIED
   unitsuffixpos		CDATA		#IMPLIED
   displaylocale		CDATA		#IMPLIED
   customizedqtystr		CDATA		#IMPLIED
   unitprefixneg		CDATA		#IMPLIED
   unitsuffixneg		CDATA		#IMPLIED
   radixpoint		CDATA		#IMPLIED
   groupingchar		CDATA		#IMPLIED
   numberpattern		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
>
<!ELEMENT shpmodedsc EMPTY>
<!ATTLIST shpmodedsc
   shipmode_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT staddress EMPTY>
<!ATTLIST staddress
   staddress_id		CDATA		#REQUIRED
   address1		CDATA		#IMPLIED
   member_id		CDATA		#REQUIRED
   address2		CDATA		#IMPLIED
   address3		CDATA		#IMPLIED
   city		CDATA		#IMPLIED
   country		CDATA		#IMPLIED
   email1		CDATA		#IMPLIED
   email2		CDATA		#IMPLIED
   fax1		CDATA		#IMPLIED
   fax2		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   phone1		CDATA		#IMPLIED
   phone2		CDATA		#IMPLIED
   state		CDATA		#IMPLIED
   zipcode		CDATA		#IMPLIED
   firstname		CDATA		#IMPLIED
   lastname		CDATA		#IMPLIED
   middlename		CDATA		#IMPLIED
   persontitle		CDATA		#IMPLIED
   businesstitle		CDATA		#IMPLIED
   nickname		CDATA		#REQUIRED
   shippinggeocode		CDATA		#IMPLIED
   taxgeocode		CDATA		#IMPLIED
>
<!ELEMENT storeentds EMPTY>
<!ATTLIST storeentds
   language_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   displayname		CDATA		#IMPLIED
   staddress_id_loc		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   staddress_id_cont		CDATA		#IMPLIED
>
<!ELEMENT calcodedsc EMPTY>
<!ATTLIST calcodedsc
   calcode_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   longdescription		CDATA		#IMPLIED
>
<!ELEMENT calscaleds EMPTY>
<!ATTLIST calscaleds
   calscale_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>
<!ELEMENT storlangds EMPTY>
<!ATTLIST storlangds
   storeent_id		CDATA		#REQUIRED
   language_id_desc		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT storecgrp EMPTY>
<!ATTLIST storecgrp
   storeent_id		CDATA		#REQUIRED
   catgroup_id		CDATA		#REQUIRED
>
<!ELEMENT emspot EMPTY>
<!ATTLIST emspot
   emspot_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   supportedtypes		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   lastupdatedby		CDATA		#IMPLIED
   defaultrule		CDATA		#IMPLIED
>
<!ELEMENT campaign EMPTY>
<!ATTLIST campaign
   campaign_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   type		CDATA		#IMPLIED
   status		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   lastupdate		CDATA		#REQUIRED
   lastupdatedby		CDATA		#REQUIRED
   owner		CDATA		#IMPLIED
   objective		CDATA		#IMPLIED
>
<!ELEMENT catencalcd EMPTY>
<!ATTLIST catencalcd
   store_id		CDATA		#REQUIRED
   catencalcd_id		CDATA		#REQUIRED
   trading_id		CDATA		#IMPLIED
   catentry_id		CDATA		#IMPLIED
   calcode_id		CDATA		#REQUIRED
>
<!ELEMENT catgpcalcd EMPTY>
<!ATTLIST catgpcalcd
   store_id		CDATA		#REQUIRED
   catgpcalcd_id		CDATA		#REQUIRED
   trading_id		CDATA		#IMPLIED
   catgroup_id		CDATA		#REQUIRED
   calcode_id		CDATA		#REQUIRED
>
<!ELEMENT catentship EMPTY>
<!ATTLIST catentship
   catentry_id		CDATA		#REQUIRED
   weight		CDATA		#IMPLIED
   weightmeasure		CDATA		#IMPLIED
   length		CDATA		#IMPLIED
   width		CDATA		#IMPLIED
   height		CDATA		#IMPLIED
   sizemeasure		CDATA		#IMPLIED
   nominalquantity		CDATA		"1.0"
   quantitymultiple		CDATA		"1.0"
   quantitymeasure		CDATA		"C62"
>
<!ELEMENT ffmcentds EMPTY>
<!ATTLIST ffmcentds
   ffmcenter_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   staddress_id		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   displayname		CDATA		#IMPLIED
>
<!ELEMENT calmethod EMPTY>
<!ATTLIST calmethod
   calmethod_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   calusage_id		CDATA		#REQUIRED
   taskname		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   subclass		CDATA		#IMPLIED
   name		CDATA		#IMPLIED
>
<!ELEMENT storedef EMPTY>
<!ATTLIST storedef
   store_id		CDATA		#REQUIRED
   contract_id		CDATA		#IMPLIED
   shipmode_id		CDATA		#IMPLIED
>
<!ELEMENT cmdreg EMPTY>
<!ATTLIST cmdreg
   storeent_id		CDATA		#REQUIRED
   interfacename		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   classname		CDATA		#IMPLIED
   properties		CDATA		#IMPLIED
   lastupdate		CDATA		#IMPLIED
   target		CDATA		#IMPLIED
>
<!ELEMENT collateral EMPTY>
<!ATTLIST collateral
   collateral_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   colltype_id		CDATA		#REQUIRED
   name		CDATA		#IMPLIED
   url		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT colldesc EMPTY>
<!ATTLIST colldesc
   collateral_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   location		CDATA		#IMPLIED
   marketingtext		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT urlreg EMPTY>
<!ATTLIST urlreg
   url		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   interfacename		CDATA		#REQUIRED
   https		CDATA		"0"
   description		CDATA		#IMPLIED
   authenticated		CDATA		#IMPLIED
   internal		CDATA		"0"
>
<!ELEMENT massoccece EMPTY>
<!ATTLIST massoccece
   massoccece_id		CDATA		#REQUIRED
   massoctype_id		CDATA		#REQUIRED
   catentry_id_from		CDATA		#REQUIRED
   rank		CDATA		#IMPLIED
   catentry_id_to		CDATA		#REQUIRED
   massoc_id		CDATA		#REQUIRED
   quantity		CDATA		#IMPLIED
   rule		CDATA		#IMPLIED
   groupname		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT massocgpgp EMPTY>
<!ATTLIST massocgpgp
   massocgpgp_id		CDATA		#REQUIRED
   catgroup_id_to		CDATA		#REQUIRED
   catgroup_id_from		CDATA		#REQUIRED
   massoctype_id		CDATA		#REQUIRED
   rank		CDATA		#IMPLIED
   massoc_id		CDATA		#REQUIRED
   quantity		CDATA		#IMPLIED
   rule		CDATA		#IMPLIED
   groupname		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
>
<!ELEMENT pkgattrval EMPTY>
<!ATTLIST pkgattrval
   pkgattrval_id		CDATA		#REQUIRED
   attrvalue_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   catentry_id		CDATA		#REQUIRED
   oid		CDATA		#IMPLIED
>
<!ELEMENT catgrpattr EMPTY>
<!ATTLIST catgrpattr
   catgrpattr_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   catgroup_id		CDATA		#REQUIRED
   name		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   oid		CDATA		#IMPLIED
   sequence		CDATA		#IMPLIED
>
<!ELEMENT catgrptpc EMPTY>
<!ATTLIST catgrptpc
   catalog_id		CDATA		#REQUIRED
   catgroup_id		CDATA		"0"
   tradeposcn_id		CDATA		#REQUIRED
>
<!ELEMENT member EMPTY>
<!ATTLIST member
   member_id		CDATA		#REQUIRED
   type		CDATA		#REQUIRED
   state		CDATA		#IMPLIED
>
<!ELEMENT orgentity EMPTY>
<!ATTLIST orgentity
   orgentity_id		CDATA		#REQUIRED
   legalid		CDATA		#IMPLIED
   orgentitytype		CDATA		#REQUIRED
   orgentityname		CDATA		#REQUIRED
   businesscategory		CDATA		#IMPLIED
   description		CDATA		#IMPLIED
   adminfirstname		CDATA		#IMPLIED
   adminlastname		CDATA		#IMPLIED
   member_id		CDATA		#IMPLIED
   adminmiddlename		CDATA		#IMPLIED
   preferreddelivery		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   taxpayerid		CDATA		#IMPLIED
   dn		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
>
<!ELEMENT mbrrel EMPTY>
<!ATTLIST mbrrel
   descendant_id		CDATA		#REQUIRED
   ancestor_id		CDATA		#REQUIRED
   sequence		CDATA		#REQUIRED
>
<!ELEMENT addrbook EMPTY>
<!ATTLIST addrbook
   addrbook_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   type		CDATA		#IMPLIED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>
<!ELEMENT address EMPTY>
<!ATTLIST address
   address_id		CDATA		#REQUIRED
   addresstype		CDATA		#IMPLIED
   member_id		CDATA		#REQUIRED
   addrbook_id		CDATA		#REQUIRED
   orgunitname		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   billingcode		CDATA		#IMPLIED
   billingcodetype		CDATA		#IMPLIED
   status		CDATA		#IMPLIED
   orgname		CDATA		#IMPLIED
   isprimary		CDATA		#IMPLIED
   lastname		CDATA		#IMPLIED
   persontitle		CDATA		#IMPLIED
   firstname		CDATA		#IMPLIED
   middlename		CDATA		#IMPLIED
   businesstitle		CDATA		#IMPLIED
   phone1		CDATA		#IMPLIED
   fax1		CDATA		#IMPLIED
   phone2		CDATA		#IMPLIED
   address1		CDATA		#IMPLIED
   fax2		CDATA		#IMPLIED
   nickname		CDATA		#REQUIRED
   address2		CDATA		#IMPLIED
   address3		CDATA		#IMPLIED
   city		CDATA		#IMPLIED
   state		CDATA		#IMPLIED
   country		CDATA		#IMPLIED
   zipcode		CDATA		#IMPLIED
   email1		CDATA		#IMPLIED
   email2		CDATA		#IMPLIED
   phone1type		CDATA		#IMPLIED
   phone2type		CDATA		#IMPLIED
   publishphone1		CDATA		#IMPLIED
   publishphone2		CDATA		#IMPLIED
   bestcallingtime		CDATA		#IMPLIED
   packagesuppression		CDATA		#IMPLIED
   lastcreate		CDATA		#IMPLIED
   officeaddress		CDATA		#IMPLIED
   selfaddress		CDATA		"0"
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   taxgeocode		CDATA		#IMPLIED
   shippinggeocode		CDATA		#IMPLIED
>
<!ELEMENT policy EMPTY>
<!ATTLIST policy
   policy_id		CDATA		#REQUIRED
   policyname		CDATA		#REQUIRED
   policytype_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   properties		CDATA		#IMPLIED
   starttime		CDATA		#IMPLIED
   endtime		CDATA		#IMPLIED
>
<!ELEMENT policycmd EMPTY>
<!ATTLIST policycmd
   policy_id		CDATA		#REQUIRED
   businesscmdclass		CDATA		#REQUIRED
   properties		CDATA		#IMPLIED
>
<!ELEMENT policydesc EMPTY>
<!ATTLIST policydesc
   policy_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   description		CDATA		#REQUIRED
   longdescription		CDATA		#IMPLIED
   timecreated		CDATA		#IMPLIED
   timeupdated		CDATA		#IMPLIED
>
<!ELEMENT acaction EMPTY>
<!ATTLIST acaction
   acaction_id		CDATA		#REQUIRED
   action		CDATA		#REQUIRED
>
<!ELEMENT acactgrp EMPTY>
<!ATTLIST acactgrp
   acactgrp_id		CDATA		#REQUIRED
   groupname		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
>
<!ELEMENT acactactgp EMPTY>
<!ATTLIST acactactgp
   acactgrp_id		CDATA		#REQUIRED
   acaction_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
>
<!ELEMENT acpolicy EMPTY>
<!ATTLIST acpolicy
   acpolicy_id		CDATA		#REQUIRED
   policyname		CDATA		#REQUIRED
   acrelgrp_id		CDATA		#IMPLIED
   acactgrp_id		CDATA		#REQUIRED
   acresgrp_id		CDATA		#REQUIRED
   acrelation_id		CDATA		#IMPLIED
   policytype		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   mbrgrp_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
>
<!ELEMENT invadjcode EMPTY>
<!ATTLIST invadjcode
   invadjcode_id		CDATA		#REQUIRED
   adjustcode		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
   storeent_id		CDATA		#REQUIRED
   markfordelete		CDATA		#IMPLIED
>
<!ELEMENT invadjdesc EMPTY>
<!ATTLIST invadjdesc
   invadjcode_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
   lastupdate		CDATA		#IMPLIED
>
<!ELEMENT acrescgry EMPTY>
<!ATTLIST acrescgry
   acrescgry_id		CDATA		#REQUIRED
   resprimarytable		CDATA		#IMPLIED
   resownertable		CDATA		#IMPLIED
   resownercol		CDATA		#IMPLIED
   reskeyowncol		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   resclassname		CDATA		#REQUIRED
   resjoinkey		CDATA		#IMPLIED
>
<!ELEMENT acresgrp EMPTY>
<!ATTLIST acresgrp
   acresgrp_id		CDATA		#REQUIRED
   member_id		CDATA		#REQUIRED
   grpname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   conditions		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
>
<!ELEMENT acresgpres EMPTY>
<!ATTLIST acresgpres
   acresgrp_id		CDATA		#REQUIRED
   acrescgry_id		CDATA		#REQUIRED
   field1		CDATA		#IMPLIED
>
<!ELEMENT acactdesc EMPTY>
<!ATTLIST acactdesc
   acaction_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT acrscgdes EMPTY>
<!ATTLIST acrscgdes
   language_id		CDATA		#REQUIRED
   acrescgry_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>
<!ELEMENT acacgpdesc EMPTY>
<!ATTLIST acacgpdesc
   acactgrp_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT acresgpdes EMPTY>
<!ATTLIST acresgpdes
   acresgrp_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
   language_id		CDATA		#REQUIRED
>
<!ELEMENT acpoldesc EMPTY>
<!ATTLIST acpoldesc
   acpolicy_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   displayname		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>
<!ELEMENT rtnreason EMPTY>
<!ATTLIST rtnreason
   reasontype		CDATA		"B"
   rtnreason_id		CDATA		#REQUIRED
   storeent_id		CDATA		#REQUIRED
   markfordelete		CDATA		"0"
   code		CDATA		#REQUIRED
>
<!ELEMENT rtnrsndesc EMPTY>
<!ATTLIST rtnrsndesc
   rtnreason_id		CDATA		#REQUIRED
   language_id		CDATA		#REQUIRED
   description		CDATA		#IMPLIED
>
<!ELEMENT users EMPTY>
<!ATTLIST users
   users_id		CDATA		#REQUIRED
   dn		CDATA		#IMPLIED
   registertype		CDATA		#REQUIRED
   profiletype		CDATA		#IMPLIED
   language_id		CDATA		#IMPLIED
   field1		CDATA		#IMPLIED
   setccurr		CDATA		#IMPLIED
   field3		CDATA		#IMPLIED
   field2		CDATA		#IMPLIED
   lastorder		CDATA		#IMPLIED
   registration		CDATA		#IMPLIED
   lastsession		CDATA		#IMPLIED
   registrationupdate		CDATA		#IMPLIED
   registrationcancel		CDATA		#IMPLIED
   prevlastsession		CDATA		#IMPLIED
>
<!ELEMENT userreg EMPTY>
<!ATTLIST userreg
   users_id		CDATA		#REQUIRED
   status		CDATA		#IMPLIED
   plcyacct_id		CDATA		#IMPLIED
   logonid		CDATA		#REQUIRED
   logonpassword		CDATA		#IMPLIED
   passwordexpired		CDATA		#IMPLIED
   challengequestion		CDATA		#IMPLIED
   challengeanswer		CDATA		#IMPLIED
   timeout		CDATA		"-1"
   passwordretries		CDATA		#IMPLIED
   salt		CDATA		#IMPLIED
   passwordcreation		CDATA		#IMPLIED
   passwordinvalid		CDATA		#IMPLIED
>
