WC/xml/sar/store-catalog-shipping.dtd

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT store-catalog-shipping-asset (( catencalcd | catgpcalcd | catentship)*)>
<!ELEMENT catencalcd EMPTY>
<!ATTLIST catencalcd
   store_id		CDATA		#REQUIRED
   catencalcd_id		CDATA		#REQUIRED
   trading_id		CDATA		#IMPLIED
   catentry_id		CDATA		#IMPLIED
   calcode_id		CDATA		#REQUIRED
>
<!ELEMENT catgpcalcd EMPTY>
<!ATTLIST catgpcalcd
   store_id		CDATA		#REQUIRED
   catgpcalcd_id		CDATA		#REQUIRED
   trading_id		CDATA		#IMPLIED
   catgroup_id		CDATA		#REQUIRED
   calcode_id		CDATA		#REQUIRED
>
<!ELEMENT catentship EMPTY>
<!ATTLIST catentship
   catentry_id		CDATA		#REQUIRED
   weight		CDATA		#IMPLIED
   weightmeasure		CDATA		#IMPLIED
   length		CDATA		#IMPLIED
   width		CDATA		#IMPLIED
   height		CDATA		#IMPLIED
   sizemeasure		CDATA		#IMPLIED
   nominalquantity		CDATA		"1.0"
   quantitymultiple		CDATA		"1.0"
   quantitymeasure		CDATA		"C62"
>
