WC/xml/sar/unpack.dtd

<?xml version='1.0' encoding="UTF-8"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!ELEMENT ibm-wc-unpack (unpack*)>

<!ELEMENT unpack (include*, exclude*,rename-store-dir?, ear-exclude*, ear-include*)>
<!ATTLIST unpack src CDATA ".">
<!ATTLIST unpack dest CDATA ".">
<!ATTLIST unpack war CDATA "">

<!ELEMENT include EMPTY>
<!ATTLIST include file CDATA #REQUIRED>

<!ELEMENT exclude EMPTY>
<!ATTLIST exclude file CDATA #REQUIRED>

<!ELEMENT rename-store-dir (store-dir+)>
<!ATTLIST rename-store-dir target-name CDATA #IMPLIED>

<!ELEMENT store-dir EMPTY>
<!ATTLIST store-dir path CDATA #REQUIRED>
<!ELEMENT ear-exclude EMPTY>
<!ATTLIST ear-exclude file CDATA #REQUIRED>

<!ELEMENT ear-include EMPTY>
<!ATTLIST ear-include file CDATA #REQUIRED>
