WebServicesRouter/WebContent/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Credit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
	For support, more information, or to report implementation bugs, 
	please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
	
	** Revision:  IBM_WebSphere_Commerce 1.0 **
	
	Copyright IBM (c) 2005-2006, All Rights Reserved
	
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	xmlns:pay="http://www.ibm.com/xmlns/prod/commerce/payment"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/payment" elementFormDefault="qualified"
	attributeFormDefault="unqualified" ecore:package="com.ibm.commerce.payment.datatypes"
	ecore:nsPrefix="Payment">

	<annotation>
		<documentation>This payment XML schema file defines the Credit noun.</documentation>
	</annotation>

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/foundation"
		schemaLocation="../Components/CommerceFoundation.xsd" />

	<include schemaLocation="PaymentInstruction.xsd" />
	<include schemaLocation="FinancialTransaction.xsd" />

	<element name="Credit" type="pay:CreditType">
		<annotation>
			<documentation>The element definition of the Credit noun.</documentation>
		</annotation>
	</element>

	<complexType name="CreditType">

		<annotation>
			<documentation>The type definition of the Credit noun.</documentation>
		</annotation>

		<sequence>

			<element ref="wcf:CreditIdentifier" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The credit identifier.</documentation>
				</annotation>
			</element>

			<element name="ExpectedAmount" type="wcf:MonetaryAmountType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The expected amount that will be credited under this credit, the actual
						credited amount must be less than or equal to this amount.
					</documentation>
				</annotation>
			</element>

			<element name="CreditingAmount" type="wcf:MonetaryAmountType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The amount of the pending credit transaction under this credit.
					</documentation>
				</annotation>
			</element>

			<element name="CreditedAmount" type="wcf:MonetaryAmountType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The credited amount of the credit transaction under this credit.
					</documentation>
				</annotation>
			</element>

			<element name="ReversingCreditedAmount" type="wcf:MonetaryAmountType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The cumulative amount of all the pending reverse credit transactions under
						this credit.
					</documentation>
				</annotation>
			</element>

			<element name="State" type="pay:CreditStateType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The state of this credit.</documentation>
				</annotation>
			</element>

			<element name="TimeCreated" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The time when the credit was created.</documentation>
				</annotation>
			</element>

			<element name="TimeUpdated" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The time when the credit was updated.</documentation>
				</annotation>
			</element>

			<element ref="pay:PaymentInstruction" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The payment instruction under which this credit is created.
					</documentation>
				</annotation>
			</element>

			<element ref="pay:FinancialTransaction" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The financial transactions associated with this credit.
					</documentation>
				</annotation>
			</element>

		</sequence>

	</complexType>

	<simpleType name="CreditStateType">
		<annotation>
			<documentation>The type definition of a credit's state.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="New" />
			<enumeration value="Crediting" />
			<enumeration value="Credited" />
			<enumeration value="Failed" />
			<enumeration value="Canceled" />
		</restriction>
	</simpleType>

</schema>
