WebServicesRouter/WebContent/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/FinancialTransaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
	For support, more information, or to report implementation bugs, 
	please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
	
	** Revision:  IBM_WebSphere_Commerce 1.0 **
	
	Copyright IBM (c) 2005-2006, All Rights Reserved
	
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	xmlns:pay="http://www.ibm.com/xmlns/prod/commerce/payment"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/payment" elementFormDefault="qualified"
	attributeFormDefault="unqualified" ecore:package="com.ibm.commerce.payment.datatypes"
	ecore:nsPrefix="Payment">

	<annotation>
		<documentation>
			This payment XML schema file defines the FinancialTransaction noun.
		</documentation>
	</annotation>

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/foundation"
		schemaLocation="../Components/CommerceFoundation.xsd" />

	<include schemaLocation="Payment.xsd" />
	<include schemaLocation="Credit.xsd" />

	<element name="FinancialTransaction" type="pay:FinancialTransactionType">
		<annotation>
			<documentation>The element definition of the FinancialTransaction noun.</documentation>
		</annotation>
	</element>

	<complexType name="FinancialTransactionType">

		<annotation>
			<documentation>The type definition of the FinancialTransaction noun.</documentation>
		</annotation>

		<sequence>

			<element ref="wcf:FinancialTransactionIdentifier" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The financial transaction identifier.</documentation>
				</annotation>
			</element>

			<element name="RequestedAmount" type="wcf:MonetaryAmountType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The requested amount to be processed by this financial transaction.
					</documentation>
				</annotation>
			</element>

			<element name="ProcessedAmount" type="wcf:MonetaryAmountType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The processed amount of this finanical transaction.
					</documentation>
				</annotation>
			</element>

			<element name="State" type="pay:FinancialTransactionStateType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The state of this financial transaction.</documentation>
				</annotation>
			</element>

			<element name="ReferenceNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The reference number received from the backend financial system, it could be
						used later in the subsequent transactions.
					</documentation>
				</annotation>
			</element>

			<element name="ResponseCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The response code received from the backend financial system.
					</documentation>
				</annotation>
			</element>

			<element name="ReasonCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The reason code for the response code received from the backend financial
						system.
					</documentation>
				</annotation>
			</element>

			<element name="ReasonMessage" type="string" minOccurs="0" maxOccurs="1" />

			<element name="TrackingID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier generated by the plug-in for this financial transaction.
						Plug-in will generate this value on behalf of the merchant for tracking
						purpose.
					</documentation>
				</annotation>
			</element>

			<element ref="wcf:ExtendedData" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The protocol data associated with this financial transaction.
					</documentation>
				</annotation>
			</element>

			<element name="TimeCreated" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The time when the financial transaction was created.
					</documentation>
				</annotation>
			</element>

			<element name="TimeUpdated" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The time when the financial transaction was updated.
					</documentation>
				</annotation>
			</element>

			<element ref="pay:Payment" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The payment under which this financial transaction is created. Null when
						this transaction is a transaction for an independent credit.
					</documentation>
				</annotation>
			</element>

			<element ref="pay:Credit" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The credit under which this financial transaction is created. Null when the
						transaction is payment related.
					</documentation>
				</annotation>
			</element>

		</sequence>

		<attribute name="type" type="pay:FinancialTransactionTypeType" use="optional">
			<annotation>
				<documentation>The type of this financial transaction.</documentation>
			</annotation>
		</attribute>

	</complexType>

	<simpleType name="FinancialTransactionStateType">
		<annotation>
			<documentation>The type definition of a financial transaction's state.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="New" />
			<enumeration value="Pending" />
			<enumeration value="Success" />
			<enumeration value="Failed" />
			<enumeration value="Canceled" />
		</restriction>
	</simpleType>

	<simpleType name="FinancialTransactionTypeType">
		<annotation>
			<documentation>The type definition of a financial transaction's type.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Approve" />
			<enumeration value="Deposit" />
			<enumeration value="ApproveAndDeposit" />
			<enumeration value="Credit" />
			<enumeration value="ReverseApproval" />
			<enumeration value="ReverseDeposit" />
			<enumeration value="ReverseCredit" />
		</restriction>
	</simpleType>

</schema>
