WebServicesRouter/WebContent/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
	For support, more information, or to report implementation bugs, 
	please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
	
	** Revision:  IBM_WebSphere_Commerce 1.0 **
	
	Copyright IBM (c) 2005-2006, All Rights Reserved
	
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	xmlns:ord="http://www.ibm.com/xmlns/prod/commerce/order"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/order" elementFormDefault="qualified"
	attributeFormDefault="unqualified" ecore:nsPrefix="Order"
	ecore:package="com.ibm.commerce.order.datatypes">

	<annotation>
		<documentation>This order XML schema file defines the Order noun.</documentation>
	</annotation>

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/foundation"
		schemaLocation="../Components/CommerceFoundation.xsd" />

	<element name="Order" type="ord:OrderType">
		<annotation>
			<documentation>Element definition of the Order noun.</documentation>
		</annotation>
	</element>

	<complexType name="OrderType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" ref="ord:OrderHeader">
				<annotation>
					<documentation>The order header.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="ord:OrderItem">
				<annotation>
					<documentation>The order items.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderHeader" type="ord:OrderHeaderType">
		<annotation>
			<documentation>Element definition of the order header.</documentation>
		</annotation>
	</element>

	<complexType name="OrderHeaderType">
		<annotation>
			<documentation>The order header.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="wcf:OrderIdentifier">
				<annotation>
					<documentation>The order identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderReferences">
				<annotation>
					<documentation>References of the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderCharges">
				<annotation>
					<documentation>Charges of the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderShippingInfo">
				<annotation>
					<documentation>Shipping information of the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderPaymentInfo">
				<annotation>
					<documentation>Payment information of the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderStatus">
				<annotation>
					<documentation>Status of the order.</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0" name="Description" type="string">
				<annotation>
					<documentation>Description of the order.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="CustomerComments" type="string">
				<annotation>
					<documentation>Comments made by the customer.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="ord:CSRComment">
				<annotation>
					<documentation>
						Comments made by customer service representatives.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="LastUpdateDateTime" type="dateTime">
				<annotation>
					<documentation>Time the order is last updated.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="PlacedDateTime" type="dateTime">
				<annotation>
					<documentation>Time the order is placed.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderReferences" type="ord:OrderReferencesType">
		<annotation>
			<documentation>Element definition of the order's references.</documentation>
		</annotation>
	</element>

	<complexType name="OrderReferencesType">
		<annotation>
			<documentation>Type definition of the order's references.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="StoreID" type="int">
				<annotation>
					<documentation>The store ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ChannelID" type="int">
				<annotation>
					<documentation>The business channel ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="BuyerPONumber" type="string">
				<annotation>
					<documentation>The buyer PO number.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:BuyerOrganizationIdentifier">
				<annotation>
					<documentation>Identifier of the buyer organization.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:CustomerIdentifier">
				<annotation>
					<documentation>Identifier of the customer.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="BuyerOrganizationIdentifier" type="wcf:OrganizationIdentifierType">
		<annotation>
			<documentation>Element definition of a buyer organization identifier.</documentation>
		</annotation>
	</element>

	<element name="CustomerIdentifier" type="wcf:PersonIdentifierType">
		<annotation>
			<documentation>Element definition of a customer identifier.</documentation>
		</annotation>
	</element>

	<element name="OrderCharges" type="ord:OrderChargesType">
		<annotation>
			<documentation>Element definition of the order's charges.</documentation>
		</annotation>
	</element>

	<complexType name="OrderChargesType">
		<annotation>
			<documentation>Type definition of the order's charges.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="TotalProductPrice"
				type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The total product price.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalAdjustment"
				type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The total adjustment.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalShippingCharge"
				type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The total shipping charge.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalSalesTax"
				type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The total sales tax.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalShippingTax"
				type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The total shipping tax.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="ord:TotalTaxByTaxCategory">
				<annotation>
					<documentation>The total tax amount for each tax category.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="TotalTaxByTaxCategory" type="ord:TaxByTaxCategoryType">
		<annotation>
			<documentation>
				Element definition of the total tax amount for a tax category.
			</documentation>
		</annotation>
	</element>

	<element name="TaxByTaxCategory" type="ord:TaxByTaxCategoryType">
		<annotation>
			<documentation>Element definition of the tax amount for a tax category.</documentation>
		</annotation>
	</element>

	<complexType name="TaxByTaxCategoryType">
		<annotation>
			<documentation>Type definition of the tax amount for a tax category.</documentation>
		</annotation>
		<complexContent>
			<extension base="wcf:MonetaryAmountType">
				<attribute name="taxCategoryCode" type="string" use="optional">
					<annotation>
						<documentation>The tax category code.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<element name="OrderShippingInfo" type="ord:OrderShippingInfoType">
		<annotation>
			<documentation>Element definition of the order's shipping information.</documentation>
		</annotation>
	</element>

	<complexType name="OrderShippingInfoType">
		<annotation>
			<documentation>Shipping information of the order's shipping information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="wcf:ContactEntry">
				<annotation>
					<documentation>The shipping address.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingModeID" type="int">
				<annotation>
					<documentation>The shipping mode ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="RequestedShipDateTime" type="dateTime">
				<annotation>
					<documentation>The requested ship date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Expedite" type="boolean">
				<annotation>
					<documentation>
						Whether shipping of the order should be expedited.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingCarrierAccountNumber"
				type="string">
				<annotation>
					<documentation>The shipping carrier account number.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingInstruction" type="string">
				<annotation>
					<documentation>The shipping instruction.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShipAsComplete" type="boolean">
				<annotation>
					<documentation>Whether the order should be shipped as complete.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderPaymentInfo" type="ord:OrderPaymentInfoType">
		<annotation>
			<documentation>Element definition of the order's payment information.</documentation>
		</annotation>
	</element>

	<complexType name="OrderPaymentInfoType">
		<annotation>
			<documentation>Payment information of the order's payment information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="CouponCode" type="string">
				<annotation>
					<documentation>The coupon codes.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="PromotionCode" type="string">
				<annotation>
					<documentation>The promotion codes entered.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="ord:PaymentInstruction">
				<annotation>
					<documentation>The payment instructions.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="PaymentInstruction" type="ord:PaymentInstructionType">
		<annotation>
			<documentation>Element definition of a payment instruction.</documentation>
		</annotation>
	</element>

	<complexType name="PaymentInstructionType">
		<annotation>
			<documentation>Type definition of a payment instruction.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="PaymentInstructionID" type="long" />
			<element maxOccurs="1" minOccurs="0" name="Amount" type="wcf:MonetaryAmountType" />
			<element maxOccurs="1" minOccurs="0" name="PaymentMethod" type="string" />
			<element maxOccurs="unbounded" minOccurs="0" ref="ord:ProtocolData" />
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData" />
		</sequence>
	</complexType>

	<element name="ProtocolData" type="ord:ProtocolDataType">
		<annotation>
			<documentation>Element definition of a protocol data entry.</documentation>
		</annotation>
	</element>

	<complexType name="ProtocolDataType">
		<annotation>
			<documentation>Type definition of a protocol data entry.</documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" use="required" />
			</extension>
		</simpleContent>
	</complexType>

	<element name="OrderStatus" type="ord:OrderStatusType">
		<annotation>
			<documentation>Element definition of the order's status.</documentation>
		</annotation>
	</element>

	<complexType name="OrderStatusType">
		<annotation>
			<documentation>Type definition of the order's status.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Status" type="string">
				<annotation>
					<documentation>The order status.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="CSRComment" type="ord:CSRCommentType">
		<annotation>
			<documentation>
				Element definition of a comment made by a customer service representative.
			</documentation>
		</annotation>
	</element>

	<complexType name="CSRCommentType">
		<annotation>
			<documentation>
				Type definition of a comment made by a customer service representative.
			</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="CreationDateTime" type="dateTime">
				<annotation>
					<documentation>Time the comment is created.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Comment" type="string">
				<annotation>
					<documentation>The comment.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderChangeReasonCode" type="string">
				<annotation>
					<documentation>The order change reason code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:CSRIdentifier">
				<annotation>
					<documentation>The customer service representative identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ChannelID" type="int">
				<annotation>
					<documentation>The business channel ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="CSRIdentifier" type="wcf:PersonIdentifierType">
		<annotation>
			<documentation>
				Element definition of a customer service representative identifier.
			</documentation>
		</annotation>
	</element>

	<element name="OrderItem" type="ord:OrderItemType">
		<annotation>
			<documentation>Element definition of an order item.</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemType">
		<annotation>
			<documentation>Type definition of an order item.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="wcf:OrderItemIdentifier">
				<annotation>
					<documentation>The order item identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:ProductIdentifier">
				<annotation>
					<documentation>The product identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="ord:OrderItemComponent">
				<annotation>
					<documentation>Components of the product if it is a kit.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Quantity" type="wcf:QuantityType">
				<annotation>
					<documentation>The quantity ordered.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderItemReferences">
				<annotation>
					<documentation>References of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderItemCharges">
				<annotation>
					<documentation>Charges of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderItemShippingInfo">
				<annotation>
					<documentation>Shipping information of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderItemStatus">
				<annotation>
					<documentation>Status of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="ord:OrderItemFulfillmentInfo">
				<annotation>
					<documentation>Fulfillment information of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Description" type="string">
				<annotation>
					<documentation>Description of the order item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="CustomerComments" type="string">
				<annotation>
					<documentation>Comments made by the customer.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="LastUpdateDateTime" type="dateTime">
				<annotation>
					<documentation>Time the order is last updated.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData" />
		</sequence>
	</complexType>

	<element name="OrderItemComponent" type="ord:OrderItemComponentType">
		<annotation>
			<documentation>Element definition of an order item component.</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemComponentType">
		<annotation>
			<documentation>Type definition of an order item component.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="wcf:ProductIdentifier">
				<annotation>
					<documentation>The product identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Quantity" type="wcf:QuantityType">
				<annotation>
					<documentation>The quantity.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UnitPrice">
				<annotation>
					<documentation>The unit price.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Required" type="boolean">
				<annotation>
					<documentation>Whether the order item component is required.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderItemReferences" type="ord:OrderItemReferencesType">
		<annotation>
			<documentation>Element definition of the order item's references.</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemReferencesType">
		<annotation>
			<documentation>Type definition of the order item's references.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ConfigurationID" type="string">
				<annotation>
					<documentation>The configuration ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ContractID" type="long">
				<annotation>
					<documentation>The contract ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OfferID" type="long">
				<annotation>
					<documentation>The offer ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderItemCharges" type="ord:OrderItemChargesType">
		<annotation>
			<documentation>Element definition of the order item's charges.</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemChargesType">
		<annotation>
			<documentation>Type definition of the order item's charges.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UnitPrice">
				<annotation>
					<documentation>Unit price of the product.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="PriceOverride" type="boolean">
				<annotation>
					<documentation>
						Whether the unit price of the order item has been manually entered by a
						customer service representative.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="FreeGift" type="boolean">
				<annotation>
					<documentation>Whether the order item is a free gift.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderItemPrice"
				type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>
						Price of the order item (i.e. unit price multiplied by quantity).
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="ord:Adjustment">
				<annotation>
					<documentation>The adjustments.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingCharge"
				type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The shipping charge.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="SalesTax" type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The sales tax.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingTax" type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The shipping tax.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="ord:TaxByTaxCategory">
				<annotation>
					<documentation>The tax amount for each tax category.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="Adjustment" type="ord:AdjustmentType">
		<annotation>
			<documentation>Element definition of an adjustment.</documentation>
		</annotation>
	</element>

	<complexType name="AdjustmentType">
		<annotation>
			<documentation>Type definition of an adjustment.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Type" type="string">
				<annotation>
					<documentation>The adjustment type.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Code" type="string">
				<annotation>
					<documentation>The adjustment code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="Description"
				type="ord:DescriptionType">
				<annotation>
					<documentation>The description.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Amount" type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The amount.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="DisplayLevel" type="wcf:DisplayLevelType">
				<annotation>
					<documentation>The display level.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="Description" type="ord:DescriptionType">
		<annotation>
			<documentation>Element definition of a language-specific description.</documentation>
		</annotation>
	</element>

	<complexType name="DescriptionType">
		<annotation>
			<documentation>Type definition of a language-specific description.</documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="languageID" type="int" use="required">
					<annotation>
						<documentation>The language ID.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<element name="OrderItemShippingInfo" type="ord:OrderItemShippingInfoType">
		<annotation>
			<documentation>
				Element definition of the order item's shipping information.
			</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemShippingInfoType">
		<annotation>
			<documentation>Shipping information of the order item.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="wcf:ContactEntry">
				<annotation>
					<documentation>The shipping address.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingModeID" type="int">
				<annotation>
					<documentation>The shipping mode ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="RequestedShipDateTime" type="dateTime">
				<annotation>
					<documentation>The requested ship date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Expedite" type="boolean">
				<annotation>
					<documentation>
						Whether shipping of the orderitem should be expedited.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TieCode" type="short">
				<annotation>
					<documentation>The tie code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingChargePolicyID" type="long">
				<annotation>
					<documentation>The shipping charge policy ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingCarrierAccountNumber"
				type="string">
				<annotation>
					<documentation>The shipping carrier account number.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingInstruction" type="string">
				<annotation>
					<documentation>The shipping instruction.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingChargeAdjustmentPercentage"
				type="double">
				<annotation>
					<documentation>The shipping charge adjustment percentage.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderItemStatus" type="ord:OrderItemStatusType">
		<annotation>
			<documentation>Element definition of the order item's status.</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemStatusType">
		<annotation>
			<documentation>Type definition of the order item's status.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Status" type="string">
				<annotation>
					<documentation>The order item status.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="InventoryStatus"
				type="wcf:InventoryStatusType">
				<annotation>
					<documentation>The inventory status.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="FulfillmentStatus"
				type="wcf:FulfillmentStatusType">
				<annotation>
					<documentation>The fufillment status.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderItemFulfillmentInfo" type="ord:OrderItemFulfillmentInfoType">
		<annotation>
			<documentation>
				Element definition of the order item's fulfillment information.
			</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemFulfillmentInfoType">
		<annotation>
			<documentation>
				Type definition of the order item's fulfillment information.
			</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="FulfillmentCenterID" type="int">
				<annotation>
					<documentation>The fulfillment center ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="FulfillmentCenterOverride" type="boolean">
				<annotation>
					<documentation>
						Whether the fulfillment center ID has been manually specified.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="AvailableDateTime" type="dateTime">
				<annotation>
					<documentation>The expected available date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShipDateTime" type="dateTime">
				<annotation>
					<documentation>The expected ship date.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>
