WebServicesRouter/WebContent/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/Organization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
    For support, more information, or to report implementation bugs, 
    please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
     
    ** Revision:  IBM_WebSphere_Commerce 1.0 **
   
    Copyright IBM (c) 2005-2006, All Rights Reserved

 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	ecore:package="com.ibm.commerce.member.datatypes" ecore:nsPrefix="Member"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/member"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	xmlns:mbr="http://www.ibm.com/xmlns/prod/commerce/member" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/foundation"
		schemaLocation="../Components/CommerceFoundation.xsd" />

	<complexType name="OrganizationType">
		<sequence>
			<element ref="wcf:OrganizationIdentifier"
				minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The organization identifier.</documentation>
				</annotation>
			</element>
			<element ref="wcf:ParentIdentifier" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>The identifier for the parent.</documentation>
				</annotation>
			</element>
			<element name="OrganizationName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Short name for organization (O) or organization unit (OU). Not null is a requirement since it will be mapped to O or OU which are required attributes in LDAP. </documentation>
				</annotation>
			</element>
			<element name="OrganizationType" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Type of OrgEntity. Valid values are as follows:
								O = organization
								OU = organization unit 
					</documentation>
				</annotation>
			</element>
			<element name="BusinessCategory" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The business category, which describes the kind of business performed by an OrgEntity. </documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A description of the OrgEntity. </documentation>
				</annotation>
			</element>
			<element ref="wcf:ContactInfo" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The primary contact information.</documentation>
				</annotation>
			</element>
			<element ref="wcf:ContactList" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>A list of the contact information.</documentation>
				</annotation>
			</element>
			<element ref="wcf:ContextAttribute" minOccurs="0"
				maxOccurs="unbounded" >
				<annotation>
					<documentation>The context attribute.</documentation>
				</annotation>
			</element>
			<element ref="wcf:UserData" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>User data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="Organization" type="mbr:OrganizationType" >
		<annotation>
			<documentation>Element definition of the OrganizationType.</documentation>
		</annotation>
	</element>

</schema>