WebServicesRouter/WebContent/services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Components/CommerceFoundation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	License information for this file is provided in the accompanying IBM_WebSphere_Commerce_XSD_LICENSE.txt file.
	For support, more information, or to report implementation bugs, 
	please contact the IBM WebSphere Commerce help: wchelp@ca.ibm.com 
	
	** Revision:  IBM_WebSphere_Commerce 1.0 **
	
	Copyright IBM (c) 2005-2006, All Rights Reserved
	
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:wcf="http://www.ibm.com/xmlns/prod/commerce/foundation"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation" elementFormDefault="qualified"
	attributeFormDefault="unqualified" ecore:nsPrefix="CommerceFoundation"
	ecore:package="com.ibm.commerce.foundation.datatypes">

	<annotation>
		<documentation>
			This foundation XML schema file defines the common elements and types shared by the
			entire schema.
		</documentation>
	</annotation>

	<import namespace="http://www.openapplications.org/oagis/9"
		schemaLocation="../../../../../../../Oagis9Dependencies.xsd" />

	<complexType name="ApplicationAreaType">
		<annotation>
			<documentation>
				Type definition of the application area of a business object document.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="oa:ApplicationAreaType">
				<sequence>
					<element maxOccurs="1" minOccurs="0" ref="wcf:BusinessContext">
						<annotation>
							<documentation>The business context.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="ApplicationArea" type="wcf:ApplicationAreaType"
		substitutionGroup="oa:ApplicationArea">
		<annotation>
			<documentation>
				Element definition of the application area of a business object document. A
				substitution for the OAGIS application area.
			</documentation>
		</annotation>
	</element>

	<complexType name="BusinessContextType">
		<annotation>
			<documentation>Type definition of the business context.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="ContextData"
				type="wcf:ContextDataType">
				<annotation>
					<documentation>The context data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="BusinessContext" type="wcf:BusinessContextType">
		<annotation>
			<documentation>Element definition of the business context.</documentation>
		</annotation>
	</element>

	<complexType name="ContextDataType">
		<annotation>
			<documentation>Type definition of the context data.</documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string">
					<annotation>
						<documentation>Name of the context data.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<element name="ContextData" type="wcf:ContextDataType">
		<annotation>
			<documentation>The element definition of a context data.</documentation>
		</annotation>
	</element>

	<complexType name="PersonNameType">
		<annotation>
			<documentation>The type definition of a person's name.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="PersonTitle" type="string">
				<annotation>
					<documentation>Title of the person.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="LastName" type="string">
				<annotation>
					<documentation>Last name of the person.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="FirstName" type="string">
				<annotation>
					<documentation>First name of the person.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="MiddleName" type="string">
				<annotation>
					<documentation>Middle name or initials of the person.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="PersonName" type="wcf:PersonNameType">
		<annotation>
			<documentation>The element definition of a person's name.</documentation>
		</annotation>
	</element>

	<element name="ContactName" type="wcf:PersonNameType">
		<annotation>
			<documentation>The element definition of a contact's name.</documentation>
		</annotation>
	</element>

	<complexType name="AddressType">
		<annotation>
			<documentation>The type definition of an address.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="AddressLine" type="string">
				<annotation>
					<documentation>An address line.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="City" type="string">
				<annotation>
					<documentation>The city.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="StateOrProvinceName" type="string">
				<annotation>
					<documentation>The state or province.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Country" type="string">
				<annotation>
					<documentation>The country or region.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="PostalCode" type="string">
				<annotation>
					<documentation>The ZIP code or postal code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="type" type="string" />
	</complexType>

	<element name="Address" type="wcf:AddressType">
		<annotation>
			<documentation>The element definition of an address.</documentation>
		</annotation>
	</element>

	<complexType name="UserDataType">
		<annotation>
			<documentation>The type definition of a user data area.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" ref="wcf:UserDataField" />

		</sequence>
	</complexType>

	<element name="UserData" type="wcf:UserDataType">
		<annotation>
			<documentation>The element definition of a user data area.</documentation>
		</annotation>
	</element>

	<complexType name="UserDataFieldType">
		<annotation>
			<documentation>The type definition of a user data field.</documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" use="required">
					<annotation>
						<documentation>Name of the user data.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<element name="UserDataField" type="wcf:UserDataFieldType">
		<annotation>
			<documentation>The element definition of a user data field.</documentation>
		</annotation>
	</element>

	<complexType name="SecurityHintType">
		<sequence>
			<element name="Question" type="string">
				<annotation>
					<documentation>
						Challenge question to confirm a person's identity.
					</documentation>
				</annotation>
			</element>
			<element name="Answer" type="string">
				<annotation>
					<documentation>Answer to the challenge question.</documentation>
				</annotation>
			</element>
			<any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
		</sequence>
	</complexType>

	<element name="SecurityHint" type="wcf:SecurityHintType">
		<annotation>
			<documentation>The element definition of a security hint.</documentation>
		</annotation>
	</element>

	<complexType name="AuthenticationType">
		<annotation>
			<documentation>The type definition of an authentication entry.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="LogonID" type="string">
				<annotation>
					<documentation>The person logon ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="Password" type="string">
				<annotation>
					<documentation>The person logon password.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="SecurityHint"
				type="wcf:SecurityHintType">
				<annotation>
					<documentation>
						Challenge question for confirmation of the person identity.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Certificate" type="base64Binary">
				<annotation>
					<documentation>The certificate.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="expired" type="boolean" use="optional">
			<annotation>
				<documentation>
					Specifies whether or not the person password has expired.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="status" type="boolean" use="optional">
			<annotation>
				<documentation>
					Allows the person to have the logon ID disabled without removing the person from
					the system.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="realm" type="string" use="optional">
			<annotation>
				<documentation>The realm.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<element name="Authentication" type="wcf:AuthenticationType">
		<annotation>
			<documentation>The element definition of an authentication entry.</documentation>
		</annotation>
	</element>

	<complexType name="TelephoneType">
		<annotation>
			<documentation>The type definition of a phone number.</documentation>
		</annotation>
		<simpleContent>
			<annotation>
				<documentation>The phone number.</documentation>
			</annotation>
			<extension base="string">
				<attribute name="type" type="string" use="optional">
					<annotation>
						<documentation>The type of phone number.</documentation>
					</annotation>
				</attribute>
				<attribute name="publish" type="boolean" use="optional">
					<annotation>
						<documentation>
							Specifies whether or not the phone number is listed.
						</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<element name="Telephone" type="wcf:TelephoneType">
		<annotation>
			<documentation>The element definition of a phone number.</documentation>
		</annotation>
	</element>

	<element name="Mobile" type="wcf:TelephoneType">
		<annotation>
			<documentation>The element definition of a mobile number.</documentation>
		</annotation>
	</element>

	<element name="Fax" type="wcf:TelephoneType">
		<annotation>
			<documentation>The element definition of a fax number.</documentation>
		</annotation>
	</element>

	<complexType name="EmailType">
		<annotation>
			<documentation>The type definition of an e-mail address.</documentation>
		</annotation>
		<simpleContent>
			<annotation>
				<documentation>The e-mail address.</documentation>
			</annotation>
			<extension base="string">
				<attribute name="type" type="string" use="optional">
					<annotation>
						<documentation>The type of e-mail address.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<element name="Email" type="wcf:EmailType">
		<annotation>
			<documentation>The element definition of an email address.</documentation>
		</annotation>
	</element>

	<complexType name="ContactInfoType">
		<annotation>
			<documentation>The type definition of a contact information entry.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" ref="wcf:Address">
				<annotation>
					<documentation>The Address of the contact.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="wcf:Telephone">
				<annotation>
					<documentation>The phone numbers.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="wcf:Mobile">
				<annotation>
					<documentation>The mobile numbers.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="wcf:Fax">
				<annotation>
					<documentation>The fax numbers.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="wcf:Email">
				<annotation>
					<documentation>The e-mail addresses.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="ContactInfo" type="wcf:ContactInfoType">
		<annotation>
			<documentation>The element definition of a contact information entry.</documentation>
		</annotation>
	</element>

	<complexType name="ContactEntryType">
		<annotation>
			<documentation>The type definition of a contact entry.</documentation>
		</annotation>
		<complexContent>
			<extension base="wcf:ContactInfoType">
				<sequence>
					<element maxOccurs="1" minOccurs="1" ref="wcf:ContactName">
						<annotation>
							<documentation>Name of the contact.</documentation>
						</annotation>
					</element>
				</sequence>
				<attribute name="contactNickName" type="string">
					<annotation>
						<documentation>Nickname of the contact.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<element name="ContactEntry" type="wcf:ContactEntryType">
		<annotation>
			<documentation>The element definition of a contact entry.</documentation>
		</annotation>
	</element>

	<complexType name="ContactListType">
		<annotation>
			<documentation>The type definition of a contact list.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="1" ref="wcf:ContactEntry">
				<annotation>
					<documentation>The contact entries.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="ContactList" type="wcf:ContactListType">
		<annotation>
			<documentation>The element definition of a contact list.</documentation>
		</annotation>
	</element>

	<complexType name="AttributeValueType">
		<annotation>
			<documentation>
				The type definition of a person or organization attribute value.
			</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="1" name="Value" type="string">
				<annotation>
					<documentation>The values.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="StoreID" type="int">
				<annotation>
					<documentation>Context for the attribute value.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="AttributeValue" type="wcf:AttributeValueType">
		<annotation>
			<documentation>
				The element definition of a person or organization attribute value.
			</documentation>
		</annotation>
	</element>

	<complexType name="AttributeType">
		<annotation>
			<documentation>
				The type definition of a person or organization attribute.
			</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Name" type="string">
				<annotation>
					<documentation>The attribute name.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="1" ref="wcf:AttributeValue">
				<annotation>
					<documentation>The attribute value.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="type" type="string" use="optional">
			<annotation>
				<documentation>The attribute type.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<element name="Attribute" type="wcf:AttributeType">
		<annotation>
			<documentation>The element definition of an attribute.</documentation>
		</annotation>
	</element>

	<element name="ContextAttribute" type="wcf:AttributeType">
		<annotation>
			<documentation>The element definition of an context attribute.</documentation>
		</annotation>
	</element>
	
	<complexType name="PersonIdentifierType">
		<annotation>
			<documentation>The type definition of a person identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="DistinguishedName" type="string">
				<annotation>
					<documentation>The distinguished name.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="PersonIdentifier" type="wcf:PersonIdentifierType">
		<annotation>
			<documentation>The element definition of a person identifier.</documentation>
		</annotation>
	</element>

	<complexType name="OrganizationIdentifierType">
		<annotation>
			<documentation>The type definition of an organization identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="DistinguishedName" type="string">
				<annotation>
					<documentation>The distinguished name.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrganizationIdentifier" type="wcf:OrganizationIdentifierType">
		<annotation>
			<documentation>The element definition of an organization identifier.</documentation>
		</annotation>
	</element>
	
	<element name="ParentIdentifier" type="wcf:OrganizationIdentifierType">
		<annotation>
			<documentation>The element definition of a parent organization identifier.</documentation>
		</annotation>
	</element>	

	<complexType name="ProductIdentifierType">
		<annotation>
			<documentation>The type definition of a product identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="CatalogEntryID" type="long">
				<annotation>
					<documentation>The catalog entry ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="SKU" type="string">
				<annotation>
					<documentation>The SKU.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="ProductIdentifier" type="wcf:ProductIdentifierType">
		<annotation>
			<documentation>The element definition of a product identifier.</documentation>
		</annotation>
	</element>

	<complexType name="OrderIdentifierType">
		<annotation>
			<documentation>The type definition of an order idnentifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="OrderID" type="long">
				<annotation>
					<documentation>The order ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalOrderID" type="string">
				<annotation>
					<documentation>The external order ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="CustomerOrderNumber" type="string">
				<annotation>
					<documentation>The customer order number.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderIdentifier" type="wcf:OrderIdentifierType">
		<annotation>
			<documentation>The element definition of an order identifier.</documentation>
		</annotation>
	</element>

	<complexType name="OrderItemIdentifierType">
		<annotation>
			<documentation>The type definition of an order item identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="OrderItemID" type="long">
				<annotation>
					<documentation>The order item ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalOrderItemID" type="string">
				<annotation>
					<documentation>The external order item ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="OrderItemIdentifier" type="wcf:OrderItemIdentifierType">
		<annotation>
			<documentation>The element definition of an order item identifier.</documentation>
		</annotation>
	</element>

	<complexType name="ComponentType">
		<annotation>
			<documentation>The type definition of a product component.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" ref="wcf:ProductIdentifier">
				<annotation>
					<documentation>The product identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="Quantity" type="wcf:QuantityType">
				<annotation>
					<documentation>The quantity.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="Component" type="wcf:ComponentType">
		<annotation>
			<documentation>The element definition of a product component.</documentation>
		</annotation>
	</element>

	<complexType name="QuantityType">
		<annotation>
			<documentation>The type definition of a quantity.</documentation>
		</annotation>
		<simpleContent>
			<annotation>
				<documentation>The quantity value.</documentation>
			</annotation>
			<extension base="double">
				<attribute name="uom" type="string" use="optional">
					<annotation>
						<documentation>The unit of measure.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<simpleType name="DisplayLevelType">
		<annotation>
			<documentation>The type definition of an adjustment's display level.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Order">
				<annotation>
					<documentation>
						The adjustment should be displayed at the order level.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OrderItem">
				<annotation>
					<documentation>
						The adjustment should be displayed at the order item level.
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="InventoryStatusType">
		<annotation>
			<documentation>The type definition of an order item's inventory status.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Available" />
			<enumeration value="Unavailable" />
			<enumeration value="Future" />
			<enumeration value="Allocated" />
			<enumeration value="Unallocated" />
			<enumeration value="Backordered" />
			<enumeration value="Released" />
		</restriction>
	</simpleType>

	<simpleType name="FulfillmentStatusType">
		<annotation>
			<documentation>
				The type definition of an order item's fulfillment status.
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Unreleased" />
			<enumeration value="Hold" />
			<enumeration value="Released" />
			<enumeration value="Shipped" />
		</restriction>
	</simpleType>

	<complexType name="MonetaryAmountType">
		<annotation>
			<documentation>The type definition of a monetary amount.</documentation>
		</annotation>
		<simpleContent>
			<annotation>
				<documentation>The value.</documentation>
			</annotation>
			<extension base="decimal">
				<attribute name="currency" type="string" use="optional">
					<annotation>
						<documentation>The currency.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="UnitPriceType">
		<annotation>
			<documentation>The type definition of a unit price.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Price" type="wcf:MonetaryAmountType">
				<annotation>
					<documentation>The unit price.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="Quantity" type="wcf:QuantityType">
				<annotation>
					<documentation>The quantity of a unit.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="UnitPrice" type="wcf:UnitPriceType">
		<annotation>
			<documentation>The element definition of a unit price.</documentation>
		</annotation>
	</element>

	<complexType name="PaymentInstructionIdentifierType">
		<annotation>
			<documentation>The type definition of a payment instruction identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="PaymentInstructionID" type="long">
				<annotation>
					<documentation>The payment instruction ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="PaymentInstructionIdentifier" type="wcf:PaymentInstructionIdentifierType">
		<annotation>
			<documentation>
				The element definition of a payment instruction identifier.
			</documentation>
		</annotation>
	</element>

	<complexType name="PaymentIdentifierType">
		<annotation>
			<documentation>The type definition of a payment.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="PaymentID" type="long">
				<annotation>
					<documentation>The payment ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="PaymentIdentifier" type="wcf:PaymentIdentifierType">
		<annotation>
			<documentation>The element definition of a payment identifier.</documentation>
		</annotation>
	</element>

	<complexType name="CreditIdentifierType">
		<annotation>
			<documentation>The type definition of a credit identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="CreditID" type="long">
				<annotation>
					<documentation>The credit ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="CreditIdentifier" type="wcf:CreditIdentifierType">
		<annotation>
			<documentation>The element definition of a credit identifier.</documentation>
		</annotation>
	</element>

	<complexType name="FinancialTransactionIdentifierType">
		<annotation>
			<documentation>
				The type definition of a financial transaction identifier.
			</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="FinancialTransactionID" type="long">
				<annotation>
					<documentation>The financial transaction ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="FinancialTransactionIdentifier" type="wcf:FinancialTransactionIdentifierType">
		<annotation>
			<documentation>
				The element definition of a financial transaction identifier.
			</documentation>
		</annotation>
	</element>

	<complexType name="ExtendedDataType">
		<annotation>
			<documentation>The type definition of an extended data entry.</documentation>
		</annotation>
		<simpleContent>
			<annotation>
				<documentation>The value.</documentation>
			</annotation>
			<extension base="string">
				<attribute name="name" type="string" use="optional">
					<annotation>
						<documentation>The name.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<element name="ExtendedData" type="wcf:ExtendedDataType">
		<annotation>
			<documentation>The element definition of an extended data entry.</documentation>
		</annotation>
	</element>

	<complexType name="RMAIdentifierType">
		<annotation>
			<documentation>The type definition of an RMA identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="RMAID" type="long">
				<annotation>
					<documentation>The RMA ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="RMAIdentifier" type="wcf:RMAIdentifierType">
		<annotation>
			<documentation>The element definition of an RMA identifier.</documentation>
		</annotation>
	</element>

</schema>
