WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Components/CatalogCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2006, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
	attributeFormDefault="unqualified" ecore:nsPrefix="_cat"
	ecore:package="com.ibm.commerce.catalog.facade.datatypes"
	elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/catalog">

	<annotation>
		<documentation>
			This catalog XML schema file defines the common catalog types.
		</documentation>
	</annotation>
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="CommonTypes.xsd"/>
			
	<element name="Description" type="_cat:CatalogDescriptionType">
		<annotation>
		<documentation>Language/locale specific description of a catalog entity (e.g.catalog,catalog group or catalog entry.</documentation>
		</annotation>
	</element>
	<complexType name="CatalogDescriptionType">
		<annotation>
		<documentation>The type definition for Description of a catalog entity.</documentation>
		</annotation>
		<sequence>
		
			<element minOccurs="0" name="Name" type="string">
				<annotation>
				<documentation>Name of catalog entity</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Thumbnail" type="string">
				<annotation>
				<documentation>Thumbnail image of the catalog entity</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="FullImage" type="string">
				<annotation>
				<documentation>Full image of the catalog entity</documentation>
				</annotation>
			</element>	
			<element minOccurs="0" name="ShortDescription" type="string">
				<annotation>
				<documentation>A short description for the catalog entity</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="LongDescription" type="string">
				<annotation>
				<documentation>A long description for the catalog entity</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Keyword" type="string">
			<annotation>
				<documentation>Search keywords for the catalog entity</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Override" type="_cat:CatalogDescriptionOverrideType" maxOccurs="unbounded">
				<annotation>
				<documentation>The description override for the catalog entity</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="unbounded" name="Breadcrumb" type="string">
				<annotation>
				<documentation>The breadcrumb. For example Apparel/Women/Pants</documentation>
				</annotation>
			</element>
			
			<!-- simple name value pair for extension -->
			<element maxOccurs="unbounded" minOccurs="0" ref="_cat:Attributes" >
				<annotation>
				<documentation>Simple name value pairs for additional attributes. Can also be used for customer extension.</documentation>
				</annotation>
			</element>	
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>					
	</complexType>	
 
	<element name="Attributes" type="_wcf:NameValuePairType">
		<annotation>
			<documentation>Simple name value pairs for additional attributes. Can also be used for customer extension.</documentation>
		</annotation>
	</element>

	<element name="FulfillmentProperties" type="_cat:CatalogEntryFulfillmentPropertiesType">
		<annotation>
			<documentation>Fulfillment configuration properties for a catalog entry. </documentation>
		</annotation>
	</element>
	<complexType name="CatalogEntryFulfillmentPropertiesType">
		<annotation>
			<documentation>Fulfillment configuration properties for a catalog entry. </documentation>
		</annotation>
		<sequence>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	 
	<simpleType name="AssociationNameType">
		<annotation>
			<documentation>
				A type definition for association names.
			</documentation>
		</annotation>
		<union
			memberTypes="_cat:AssociationNameEnumeration _wcf:EnumerationExtensionType" />
	</simpleType>
	
	<simpleType name="AssociationNameEnumeration">
		<annotation>
			<documentation>Enumeration of association names.</documentation>
		</annotation>
		<restriction base="normalizedString" >
			<enumeration value="CrossSell" />
			<enumeration value="UpSell" />
			<enumeration value="Accessory" />
			<enumeration value="Replacement" />			
		</restriction>
	</simpleType>
	<simpleType name="AssociationTypeCodeType">
		<annotation>
			<documentation>
				A type definition for associations types.
			</documentation>
		</annotation>
		<union
			memberTypes="_cat:AssociationTypeCodeEnumeration _wcf:EnumerationExtensionType" />
	</simpleType>
	<simpleType name="AssociationTypeCodeEnumeration">
		<annotation>
			<documentation>Enumeration of association types.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="MerchandizingAssociation" />				
		</restriction>
	</simpleType>
	<element name="Association" type="_cat:AssociationType">
		<annotation>
			<documentation>Describe an assocation from a catalog group or catalog entry to other objects.</documentation>
		</annotation>
	</element>
	<complexType name="AssociationType">
		<annotation>
			<documentation>
				A type definition for an association.
			</documentation>
		</annotation>
		<sequence>
			<!-- cross sell, up sale etc -->
			<element minOccurs="0" name="Name" type="_cat:AssociationNameType">
				<annotation>
					<documentation>
						cross sell or up sale for merchandizing
						associations.
					</documentation>
				</annotation>
			</element>
			<choice>				
				<element minOccurs="1" ref="_cat:CatalogGroupReference">
					<annotation>
						<documentation>
							Reference to another catalog group.
						</documentation>
					</annotation>
				</element>
				<element minOccurs="1" ref="_cat:CatalogEntryReference">
					<annotation>
						<documentation>
							Reference to another catalog entry.
						</documentation>
					</annotation>
				</element>			
				
				<element minOccurs="1" ref="_cat:AssociatedObject">
					<annotation>
						<documentation>
							Reference to other associated object.
						</documentation>
					</annotation>
				</element>			
			</choice>			
			<element maxOccurs="unbounded" minOccurs="0" ref="_cat:Attributes" >
				<annotation>
					<documentation>
						Additional attributes for this association.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="AssociationCodeType"
				type="_cat:AssociationTypeCodeType" use="optional">
				<annotation>
					<documentation>
						Merchandizing associations or customized associations.
					</documentation>
				</annotation>
			</attribute>		
		<attribute name="displaySequence" type="double"
			use="optional">
			<annotation>
				<documentation>Association sequence.</documentation>
			</annotation>
		</attribute>
		<attribute name="quantity" type="double"
			use="optional">
			<annotation>
				<documentation>Associated quantity.</documentation>
			</annotation>
		</attribute>
		<attribute name="uniqueID" type="string" use="optional">
			<annotation>
				<documentation>
				The unique identifier for the association. Associations are uniquely identified by the source, target,
				and type. In some cases, it may be desirable to uniquely identify an association without specifying all
				of these parameters. In this case, the unique identifier can be specified.
				</documentation>
			</annotation>
		</attribute>		
		<attribute name="externalSource" type="boolean" use="optional">
			<annotation>
				<documentation>
					Indicates whether this merchandising association was populated from an external source. This allows
					the client to recognize the difference between an association that was manually created, and one
					that was loaded from an automated algorithm. Default value is false.
				</documentation>
			</annotation>
		</attribute>		
		<attribute name="semantic" type="string" use="optional">
			<annotation>
				<documentation>
					The semantic of the association.
				</documentation>
			</annotation>
		</attribute>	
		
	</complexType>

	<element name="AssociatedObject" type="_cat:AssociatedObjectType"
		abstract="true">
		<annotation>
			<documentation>
				An abstract associated object. This can be use for customer
				extension.
			</documentation>
		</annotation>
	</element>
	<complexType name="AssociatedObjectType" abstract="true">
		<annotation>
			<documentation>
				An abstract associated object type.
			</documentation>
		</annotation>
	</complexType>



		
	<element name="CatalogGroupReference"
		type="_cat:CatalogGroupReferenceType" >
		<annotation>
			<documentation>
				A reference to a catalog group.
			</documentation>
		</annotation>
	</element>
	<complexType name="CatalogGroupReferenceType">
		<annotation>
		<documentation>A type definition of a catalog group reference.</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AssociatedObjectType">
				<sequence>
					<element name="CatalogGroupIdentifier" type="_wcf:CatalogGroupIdentifierType" minOccurs="0">
						<annotation>
						<documentation>Catalog group identifier.</documentation>
						</annotation>
					</element>
					<element name="displayName" type="string">
						<annotation>
						<documentation>Display name for the catalog entry.</documentation>
						</annotation>
					</element>
					<element name="CatalogIdentifier" type="_wcf:CatalogIdentifierType" minOccurs="0">
						<annotation>
						<documentation>Catalog identifier.</documentation>
						</annotation>
					</element>
				</sequence>
				<attribute name="navigationPath" type="string" use="optional">
					<annotation>
					<documentation>
						The navigation path to current node from the root.
						The top level node would have a path of "/".
					</documentation>				
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<element name="CatalogEntryReference"
		type="_cat:CatalogEntryReferenceType" >
		<annotation>
			<documentation>
				A reference to a catalog entry.
			</documentation>
		</annotation>
	</element>
	<complexType name="CatalogEntryReferenceType">
		<annotation>
		<documentation>
				A type definition of a catalog entry reference.
		</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AssociatedObjectType">				
				<sequence>
					<element name="CatalogEntryIdentifier" type="_wcf:CatalogEntryIdentifierType" minOccurs="0">
						<annotation>
						<documentation>
						Catalog entry identifier.
						</documentation>
						</annotation>
					</element>
					<element name="displayName" type="string" minOccurs="0">
						<annotation>
						<documentation>
						Display name for the catalog entry.
						</documentation>
						</annotation>
					</element>
				</sequence>
				<attribute name="catalogEntryTypeCode"
					type="_cat:CatalogEntryTypeCodeType" use="optional">
					<annotation>
					<documentation>
					Catalog entry type code, ie product/item/kit etc.
					</documentation>
					</annotation>
				</attribute>
				<attribute name="navigationPath" type="string" use="optional">
					<annotation>
					<documentation>
					The navigation path to current node from the root.
					The top level node would have a path of "/".
					</documentation>				
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	
	
	<simpleType name="CatalogEntryTypeCodeType">
		<annotation>
			<documentation>
				A type definition for catalog entries.
			</documentation>
		</annotation>
		<union
			memberTypes="_cat:CatalogEntryTypeCodeEnumeration _wcf:EnumerationExtensionType" />
	</simpleType>
	
	
	<simpleType name="KitTypeCodeEnumeration">
		<annotation>
			<documentation>
				Kit component types. Although the types ended with 'Bean' (PackageBean, BundleBean, DynamicKitBean, PredDynaKitBean) are not part of the enumeration but they are supported as string type.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Package" />
			<enumeration value="Bundle" />
			<enumeration value="DynamicKit" />			
			<enumeration value="StaticKit" />
			<enumeration value="DynamicKitPredefinedConfiguration" />
			<enumeration value="PredefinedDynamicKit" />
		</restriction>
	</simpleType>
	<simpleType name="ProductItemTypeCodeType">
		<annotation>
			<documentation>
				A type definition for product and item types.
			</documentation>
		</annotation>
		<union
			memberTypes="_cat:ProductItemTypeCodeEnumeration _wcf:EnumerationExtensionType" />
	</simpleType>
	<simpleType name="ProductItemTypeCodeEnumeration">
		<annotation>
			<documentation>
				Product item types. Although the types ended with 'Bean' (ProductBean, ItemBean) are not part of the enumeration but they are supported as string type.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Product" />
			<enumeration value="Item" />								
		</restriction>
	</simpleType>
	<simpleType name="CatalogEntryTypeCodeEnumeration">
		<annotation>
			<documentation>Catalog Entry types.</documentation>
		</annotation>
		<union
			memberTypes="_cat:ProductItemTypeCodeEnumeration _cat:KitTypeCodeEnumeration" />
	</simpleType>

	<element name="AttributeProperty" type="_cat:AttributePropertyType">
		<annotation>
			<documentation>
			Properties of a catalog attribute. This type can be used to describe attributes that 
			are unique to a product, or attributes that are shared in the attribute dictionary.
			</documentation>
		</annotation>
	</element>
	<complexType name="AttributePropertyType">
		<annotation>
			<documentation>
				A type definition of an attribute property.
			</documentation>
		</annotation>
		<sequence>
			<element name="AttributeIdentifier"
				type="_wcf:AttributeIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						If the attribute is a reference to an attribute
						from the attribute dictionary, then this element
						will be populated.
					</documentation>
				</annotation>
			</element>
			<element name="ParentAttributeGroup"
				type="_wcf:AttributeGroupIdentifierType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The parent attribute group for this attribute.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="GroupPath" type="string">
				<annotation>
					<documentation>
						The group path of the attribute. It lists all
						ancestor groups of this attribute separated by
						"/". For example, if a attribute belongs to
						Feature group and Feature group belongs to TV
						group, The group path should be "TV/Feature".
					</documentation>
				</annotation>
			</element>

			<element minOccurs="0" name="Name" type="string">
				<annotation>
					<documentation>Name of attribute.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Description" type="string">
				<annotation>
					<documentation>
						Description for the attribute.
					</documentation>
				</annotation>
			</element>
			<element name="AttributeType"
				type="_cat:AttributeTypeCodeType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The attribute type; e.g. attribute with allowed
						values and attribute with assigned values.
					</documentation>
				</annotation>
			</element>

			<element name="AttributeDataType"
				type="_cat:AttributeDataTypeCodeType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The attribute data type; e.g. String, Integer,
						Float.
					</documentation>
				</annotation>
			</element>
			<element name="AllowedValue"
				type="_cat:AttributeAllowedValueType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The allowed values for the attribute. The
						identifier on the AllowedValue is used when the
						attribute is being updated for a non-default
						language. In these cases, the identifier is the
						site default-language value for the attribute.
					</documentation>
				</annotation>
			</element>

            <element name="StoreDisplay" type="string" minOccurs="0" maxOccurs="1">
            	<annotation>
            		<documentation>Value indicating how to display this attribute in an interface.  A store interface should use this flag to determine ways to format the display of this attribute.</documentation>
            	</annotation></element>
            <element name="FacetProperties"
				type="_wcf:NameValuePairType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Simple name value pairs for defining extended
						properties for this attribute.


						Properties that will be stored in this area for
						a facetable attribute:

						Property name Property value Default value
						---------------------------------------------------------------------------------------------
						Facet_IncludeInKeyWordSearch 1)
						&quot;true&quot;, stored in form 1)
						&quot;true&quot; String of String datatype 2)
						&quot;false&quot;, stored in form of String
						datatype

						Facet_MultipleSelectio 1) &quot;true&quot; ,
						stored in form 2) &quot;false&quot; String of
						String datatype 2) &quot;false&quot; , stored in
						form of String datatype


						Facet_DisplayZeroCountValues 1) &quot;true&quot;
						, stored in form 2) &quot;false&quot; String of
						String datatype 2) &quot;false&quot;, stored in
						form of String datatype

						Facet_MaxiumumValuesToDisplay 1) An Integer,
						stored in form Infinity? (-1)? of String
						datatype


						Facet_DisplayOrder 1) &quot;Count&quot;, stored
						in form 1) Count (Solr default)
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0"
				name="ExtendedData" type="_wcf:NameValuePairType">
				<annotation>
					<documentation>

					</documentation>
				</annotation>
			</element>
			
			<element maxOccurs="unbounded" minOccurs="0"
				name="FolderIdentifier" type="_wcf:FolderIdentifierType">
				<annotation>
					<documentation>
					The identifier of the folder which this attribute belongs to.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						User data for the attribute. Can be used for
						customer extension
					</documentation>
				</annotation>
			</element>

		</sequence>
		<attribute name="usage" type="_cat:AttributeUsageCodeType"
			use="optional">
			<annotation>
				<documentation>Use for the attribute.</documentation>
			</annotation>
		</attribute>
		<attribute name="displaySequence" type="double"
			use="optional">
			<annotation>
				<documentation>
					Display sequence of a displayable attribute.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="displayable" type="boolean" use="optional">
			<annotation>
				<documentation>
					This flag identifies if this attribute is
					displayable at store front.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="searchable" type="boolean" use="optional">
			<annotation>
				<documentation>
					This flag identifies if this attribute can be used
					for search.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="comparable" type="boolean" use="optional">
			<annotation>
				<documentation>
					This flag identifies if this attribute can be used
					for comparison.
				</documentation>
			</annotation>
		</attribute>
        <attribute name="facetable" type="boolean">
        	<annotation>
        		<documentation>
					This flag identifies if this attribute can be used
					for facetable navigation in the storefront.

				</documentation>
        	</annotation></attribute>
        <attribute name="merchandisable" type="boolean">
        	<annotation>
        		<documentation>
					This flag identifies if this attribute can be used
					for merchandising purpose.

				</documentation>
        	</annotation></attribute>        	
        <attribute name="language" type="_wcf:LanguageType"
			use="optional">
			<annotation>
				<documentation>
					Optional language for the attribute.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="AttributeAllowedValueType">
		<sequence>
			<element name="Value" type="string" />
			<choice>
				<element ref="_cat:StringValue" minOccurs="1" />
				<element ref="_cat:IntegerValue" minOccurs="1" />
				<element ref="_cat:FloatValue" minOccurs="1" />
				<element ref="_cat:AttributeValue" minOccurs="1" />
			</choice>					
			<!-- include values like other images, attachments etc -->
			<element name="ExtendedValue" minOccurs="0" maxOccurs="unbounded"
				type="_wcf:NameValuePairType"> 
				<annotation>
					<documentation>
						Simple name value pairs for defining additional attribute values such
						as images and or attachments. Can also be used for customer extension.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						User data for the attribute allowed value.  Can be used for customer extension
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="default" type="boolean" use="optional">
			<annotation>
				<documentation>
					Whether or not this allowed value is default allowed value. One attribute can only have one default allowed value.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="identifier" type="string" use="optional">
			<annotation>
				<documentation>
					The attribute value identifier of the allowed value.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="displaySequence" type="double" use="optional">
			<annotation>
				<documentation>
					The display sequence of the allowed value.
				</documentation>
			</annotation>
		</attribute>	
		<attribute name="storeID" type="string" use="optional">
			<annotation>
				<documentation>
					The unique id of the store that owns the allowed value.
				</documentation>
			</annotation>
		</attribute>	
		<attribute name="language" type="_wcf:LanguageType">
			<annotation>
				<documentation>
					The language of the allowed value.
				</documentation>
			</annotation>
		</attribute>	
					
	</complexType>

	<element name="AttributeValue" abstract="true"
		type="_cat:AttributeValueType">
		<annotation>
			<documentation>
				An abstract attribute value for customer extension.
			</documentation>
		</annotation>
	</element>	
   <complexType name="AttributeValueType" abstract="true">
		<annotation>
			<documentation>
				An abstract type definition for an attribute value such
				as IntegerValue, StringValue or FloatValue.
			</documentation>
		</annotation>
	</complexType>
	<element name="StringValue" type="_cat:StringValueType" >
		
		<annotation>
			<documentation>
				An string value for an attribute.
			</documentation>
		</annotation>
	</element>
	<element name="FloatValue" type="_cat:FloatValueType"		>
		<annotation>
			<documentation>
				A Float value for an attribute.
			</documentation>
		</annotation>
	</element>
	<element name="IntegerValue" type="_cat:IntegerValueType"	>
		<annotation>
			<documentation>
				An integer value for an attribute.
			</documentation>
		</annotation>
	</element>
	<complexType name="StringValueType">
		<annotation>
			<documentation>
				An type definition for a string value for an attribute.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AttributeValueType" >			
				<sequence>
					<element name="Value" type="string" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="IntegerValueType">
		<annotation>
			<documentation>
				An type definition for an IntegerValue for an attribute.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AttributeValueType" >			
				<sequence>
					<element name="Value" type="int" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DoubleValueType">
		<annotation>
			<documentation>
				An type definition for a DoubleValue for an attribute.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AttributeValueType">
				<sequence>					
					<element name="Value" type="double" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LongValueType">
		<annotation>
			<documentation>
				An type definition for a DoubleValue for an attribute.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AttributeValueType">
				<sequence>					
					<element name="Value" type="long" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DecimalValueType">
		<annotation>
			<documentation>
				An type definition for a DecimalValue for an attribute.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AttributeValueType">
				<sequence>					
					<element name="Value" type="decimal" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FloatValueType">
		<annotation>
			<documentation>
				An type definition for a FloatValue for an attribute.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AttributeValueType">
				<sequence>					
					<element name="Value" type="float" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BigIntegerValueType">
		<annotation>
			<documentation>
				An type definition for a FloatValue for an attribute.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AttributeValueType">
				<sequence>					
					<element name="Value" type="integer" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ValueType">
		<annotation>
			<documentation>
				The value for the attribute. This is the string representation of values in different data types (String, Integer, Float).
			</documentation>
		</annotation>
		<simpleContent>
			<extension base="string" >
				<attribute name="identifier" type="string" use="optional">
					<annotation>
						<documentation>
							The attribute value identifier of the allowed value.
						</documentation>
					</annotation>
				</attribute>
				<attribute name="storeID" type="string" use="optional">
					<annotation>
						<documentation>
							The unique id of the store that owns the value.
						</documentation>
					</annotation>
				</attribute>				
			</extension>
		</simpleContent>
		
	</complexType>
	
	<complexType name="CatalogAttributeType">
		<annotation>
			<documentation>
				A type definition of a catalog entry attribute.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="_cat:AttributePropertyType">
				<sequence>
					<element name="Value" type="_cat:ValueType" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>
						The value for the attribute. This is the string representation of values in different data types (String, Integer, Float).
						</documentation>
					</annotation>
					</element>			
					<choice>
						<element ref="_cat:StringValue" minOccurs="1" />
						<element ref="_cat:IntegerValue" minOccurs="1" />
						<element ref="_cat:FloatValue" minOccurs="1" />
						<element ref="_cat:AttributeValue" minOccurs="1" />
					</choice>					
					<!-- include values like other images, attachments etc -->
					<element name="ExtendedValue" minOccurs="0" maxOccurs="unbounded"
						type="_wcf:NameValuePairType"> 
						<annotation>
							<documentation>
								Simple name value pairs for defining additional attribute values such
								as images and or attachments. Can also be used for customer extension.
							</documentation>
						</annotation>
					</element>
					<element name="Values" type="_cat:AttributeAllowedValueType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>
								All values for the attribute. This element is added to support multiple value attribute.
								The Value element is used for populate the default or first value if there are multiple values.
								Values elements contain all the values including the default or first value.
							
							</documentation>
						</annotation>
					</element>			
				</sequence>				
			</extension>
		</complexContent>
	</complexType>	
	<element name="CatalogEntryAttributes" type="_cat:CatalogEntryAttributesType">
		<annotation>
			<documentation>Catalog entry attributes.</documentation>
		</annotation>
	</element>	
	<complexType name="CatalogEntryAttributesType">
		<annotation>
			<documentation>
				A type definition of Catalog entry attributes. This represents a group of catalog entry attributes
			</documentation>
		</annotation>
		<sequence>
			<element name="Attributes" type="_cat:CatalogAttributeType" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>			
	</complexType>	
		
	<simpleType name="AttributeUsageCodeType">
		<annotation>
			<documentation>
				A type definition for catalog entry attribute usages.
			</documentation>
		</annotation>
		<union
			memberTypes="_cat:AttributeUsageTypeEnumeration _wcf:EnumerationExtensionType" />
	</simpleType>
	<simpleType name="AttributeUsageTypeEnumeration" ecore:enum="false">
		<annotation>
			<documentation>Attribute usage type names.</documentation>
		</annotation>
		<restriction base="normalizedString" >
			<enumeration value="Defining" />
			<enumeration value="Descriptive" />
		</restriction>
	</simpleType>	
	<element name="NavigationRelationship" type="_cat:NavigationRelationshipType" />
	<complexType name="NavigationRelationshipType">
		<annotation>
			<documentation>
				A type definition for a navigational relationship.
			</documentation>
		</annotation>
		<sequence>
			<choice>				
				<element minOccurs="1" ref="_cat:CatalogGroupReference">
					<annotation>
						<documentation>
							A reference to a catalog group.
						</documentation>
					</annotation>
				</element>
				<element minOccurs="1" ref="_cat:CatalogEntryReference">
					<annotation>
						<documentation>
							A reference to a catalog entry.
						</documentation>
					</annotation>
				</element>				
			</choice>
			<element maxOccurs="unbounded" minOccurs="0" ref="_cat:Attributes" >
				<annotation>
					<documentation>
						Additional attributes for this relationship.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="displaySequence" type="double"
			use="optional">
			<annotation>
				<documentation>Display sequence.</documentation>
			</annotation>
		</attribute>
		<attribute name="type" type="string"
			use="optional">
			<annotation>
				<documentation>The relationship type. Default is parent-child relationship.</documentation>
			</annotation>
		</attribute>		
	</complexType>	
	<element name="BreadcrumbLocation" type="_cat:BreadcrumbLocationType" />
	<complexType name="BreadcrumbLocationType">
		<annotation>
			<documentation>
				A type definition for a location breadcrumb.
			</documentation>
		</annotation>
		<sequence>		
			<element minOccurs="1" maxOccurs="unbounded" name="CatalogGroupUniqueID" type="string">
				<annotation>
					<documentation>Catalog group unique ID in order of hierarchy</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="KitComponent" type="_cat:KitComponentType" />
	<complexType name="KitComponentType">
		<annotation>
			<documentation>	A type definition of a component association for a Kit.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="1" ref="_cat:CatalogEntryReference">
				<annotation>
				<documentation>Reference to another catalog entry.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0"
						name="Attributes" type="_wcf:NameValuePairType">
				<annotation>
				<documentation>Simple name value pairs for additional attributes for the association. Can also be used for customer extension.</documentation>
				</annotation>
			</element>						
		</sequence>	
		<attribute name="KitComponentCodeType" type="_cat:KitComponentTypeCodeType" use="optional">
			<annotation>
			<documentation>package, bundles etc.</documentation>
			</annotation>
		</attribute>			
		<attribute name="displaySequence" type="double" use="optional">
			<annotation>
			<documentation>Display sequence.</documentation>
			</annotation>
		</attribute>
		<attribute name="quantity" type="double" use="optional" >
			<annotation>
			<documentation>Quantity.</documentation>
			</annotation>
		</attribute>			
	</complexType>
	<simpleType name="KitComponentTypeCodeType">
		<annotation>
			<documentation>
				A type definition for associations types.
			</documentation>
		</annotation>
		<union
			memberTypes="_cat:KitComponentTypeCodeEnumeration _wcf:EnumerationExtensionType" />
	</simpleType>
	<simpleType name="KitComponentTypeCodeEnumeration">
		<annotation>
			<documentation>Kit component types.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="PackageComponent" />
			<enumeration value="BundleComponent" />
			<enumeration value="DynamicKitComponent" />
			<enumeration value="StaticKitComponent" />	
			<enumeration value="DynamicKitPredefinedConfigurationComponent" />				
		</restriction>
	</simpleType>

	<element name="TaxonomyAttribute" type="_cat:TaxonomyAttributeType"/>
	<complexType name="TaxonomyAttributeType">
		<annotation>
			<documentation>
				This is a type definition for the taxonomy attribute type. 
			</documentation>
		</annotation>
		<sequence>
			<element name="Attribute" type="_wcf:AttributeIdentifierType" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>			
	</complexType>	

	<simpleType name="AttributeDataTypeCodeType">
		<annotation>
			<documentation>
				A type code for the attribute data type.
			</documentation>
		</annotation>
		<union
			memberTypes="_cat:AttributeDataCodeTypeEnumeration _wcf:EnumerationExtensionType" />	
	</simpleType>
	<simpleType name="AttributeDataCodeTypeEnumeration">
		<annotation>
			<documentation>Attribute data type names.</documentation>
		</annotation>
		<restriction base="normalizedString" >
			<enumeration value="String" />
			<enumeration value="Integer" />					
			<enumeration value="Float" />					
		</restriction>
	</simpleType>
	
	<complexType name="AttributeDescriptionType">
		<annotation>
		<documentation>The language sensitive part of the definition a attribute.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="Name" type="string">
				<annotation>
				<documentation>Name of attribute</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Description" type="string">
				<annotation>
				<documentation>The description for the attribute</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0"
				name="ExtendedData" type="_wcf:NameValuePairType">
				<annotation>
					<documentation>
						Simple name value pairs for defining extended language sensitive properties for this attribute.
					</documentation>
				</annotation>
			</element>
			
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						User data for the language sensitive part of the attribute.  Can be used for customer extension
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>					
	</complexType>	

	<complexType name="AttributeGroupDescriptionType">
		<annotation>
		<documentation>The language sensitive part of the definition a attribute group.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="Name" type="string">
				<annotation>
				<documentation>Name of attribute group</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Description" type="string">
				<annotation>
				<documentation>The description for the attribute group</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0"
				name="ExtendedData" type="_wcf:NameValuePairType">
				<annotation>
					<documentation>
						Simple name value pairs for defining extended language sensitive properties for this attribute group.
					</documentation>
				</annotation>
			</element>
			
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						User data for the language sensitive part of the attribute group.  Can be used for customer extension
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>					
	</complexType>	

	<simpleType name="AttributeTypeCodeType">
		<annotation>
			<documentation>
				A type definition for attribute types. There are two types of attribute: attribute with allowed values and attribute with assigned values.
			</documentation>
		</annotation>
		<union
			memberTypes="_cat:AttributeTypeCodeTypeEnumeration _wcf:EnumerationExtensionType" />
	</simpleType>
	<simpleType name="AttributeTypeCodeTypeEnumeration">
		<annotation>
			<documentation>
				Attribute type names. 
				Attribute with allowed value means this kind of attribute has allowed values defined (ATTR table’s ATTRUSAGE=1). 
				When assigning this attribute to a catalog entry, one/multiple values needs to be chosen from the allowed values. 
				Allowed values are shared.
				Attribute with allowed value means this kind of attribute does not have allowed values defined (ATTR table’s ATTRUSAGE is null or 2). 
				When assigning this attribute to a catalog entry, A new value need to be input for this catalog entry. 
				This value is only used by this catalog entry.
			</documentation>
		</annotation>
		<restriction base="normalizedString" >
			<enumeration value="AllowedValues" />
			<enumeration value="AssignedValues" />
		</restriction>
	</simpleType>	
	
	<element name="CatalogBODVersion" type="string" fixed="7.0.0.6">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the Catalog noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	<element name="CatalogEntryBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the CatalogEntry noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	<element name="CatalogGroupBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the CatalogGroup noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	<element name="KitBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the Kit noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	<element name="ProductItemBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the ProductItem noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	<element name="AttributeDictionaryBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the AttributeDictionary noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	<element name="AttributeDictionaryAttributeBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the AttributeDictionaryAttribute noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	<element name="AttributeDictionaryAttributeGroupBODVersion" type="string" fixed="7.0.0.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the AttributeDictionaryAttributeGroup noun was last changed.  
				The value is set as the versionID attribute in the corresponding BODs.
			</documentation>
		</annotation>
	</element>
	
	
	<element name="CatalogDescriptionOverride" type="_cat:CatalogDescriptionOverrideType">
		<annotation>
		<documentation>Language specific description override of a catalog entity (e.g.catalog,catalog group or catalog entry.</documentation>
		</annotation>
	</element>
	<complexType name="CatalogDescriptionOverrideType">
		<annotation>
		<documentation>The type definition for Description Override of a catalog entity.</documentation>
		</annotation>
		<sequence>
		
			<element name="DescriptionOverrideIdentifier"
				type="_wcf:CatalogDescriptionOverrideIdentifierType" minOccurs="0">
				<annotation>
					<documentation>
						Identifier for the description Override.
					</documentation>
				</annotation>
			</element>
		
		
			<element minOccurs="0" name="Name" type="string">
				<annotation>
				<documentation>This element contains the value to override the name of the catalog entity.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Thumbnail" type="string">
				<annotation>
				<documentation>This element contains the value to override the thumbnail image of the catalog entity.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="FullImage" type="string">
				<annotation>
				<documentation>This element contains the value to override the full image of the catalog entity.</documentation>
				</annotation>
			</element>	
			<element minOccurs="0" name="ShortDescription" type="string">
				<annotation>
				<documentation>This element contains the value to override the short description of the catalog entity.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="LongDescription" type="string">
				<annotation>
				<documentation>This element contains the value to override the long description of the catalog entity.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Keyword" type="string">
			<annotation>
				<documentation>This element contains the value to override the Search keywords of the catalog entity.</documentation>
				</annotation>
			</element>
			<!-- simple name value pair for extension -->
			<element maxOccurs="unbounded" minOccurs="0" ref="_cat:Attributes" >
				<annotation>
				<documentation>This element contains the simple name value pairs to override the additional attributes of the catalog entity. Can also be used for customer extension.</documentation>
				</annotation>
			</element>	
		</sequence>
		
	</complexType> 
	

	
	
	
	
</schema>
