WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Components/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2006, 2016 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	ecore:nsPrefix="_wcf"
	ecore:package="com.ibm.commerce.foundation.common.datatypes">

	<annotation>
		<documentation>
			This XML schema file defines the common elements and types shared by the
			entire schema.
		</documentation>
	</annotation>

	<include schemaLocation="CommerceFoundation.xsd"></include>
	<include schemaLocation="IdentifierTypes.xsd"></include>
	<include schemaLocation="BaseTypes.xsd"></include>

<!--
	member common types
-->

	<complexType name="PersonNameType">
		<annotation>
			<documentation>The type definition of a person's name.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="PersonTitle" type="string">
				<annotation>
					<documentation>Title of the person, for example, Dr., Mr., Mrs. and Ms.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0"  name="BusinessTitle" type="string">
				<annotation>
					<documentation>Business title of the person, for example, Manager or Chief Executive Officer.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="LastName" type="string">
				<annotation>
					<documentation>Last name of the person.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="FirstName" type="string">
				<annotation>
					<documentation>First name of the person.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="MiddleName" type="string">
				<annotation>
					<documentation>Middle name or initials of the person.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="ContactName" type="_wcf:PersonNameType">
		<annotation>
			<documentation>The element definition of the contact's name.</documentation>
		</annotation>
	</element>

	<simpleType name="AddressUsageEnumerationType">
				<annotation>
						<documentation>Indicates how usage of the address:
					Shipping:  Shipping address
					Billing:  Billing address
					ShippingAndBilling: Shipping and Billing address
			</documentation>
		</annotation>
		<restriction base="normalizedString">
							<enumeration value="Shipping"/>
							<enumeration value="Billing"/>
							<enumeration value="ShippingAndBilling"/>
		</restriction>
	</simpleType>

	<simpleType name="AddressUsageType">
				<annotation>
						<documentation>Allows extension to the default address usage types.
			</documentation>
		</annotation>
		<union memberTypes="_wcf:AddressUsageEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>

	<complexType name="AddressType">
		<annotation>
			<documentation>The type definition of an address.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="3" minOccurs="0" name="AddressLine" type="string">
				<annotation>
					<documentation>An address line.</documentation>
				</annotation>
			</element>
			<element name="InternalOfficeAddress" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The internal office address, for example the internal designation
					for an employee's desk location.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="City" type="string">
				<annotation>
					<documentation>The city.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="StateOrProvinceName" type="string">
				<annotation>
					<documentation>The state or province.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Country" type="string">
				<annotation>
					<documentation>The country or region.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="PostalCode" type="string">
				<annotation>
					<documentation>The ZIP code or postal code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="type" type="_wcf:AddressUsageType" use="optional">
			<annotation>
				<documentation>The type of the address:
					Shipping:			Shipping
					Billing:  			Billing
					ShippingAndBilling: ShippingAndBilling
				</documentation>
			</annotation>
		</attribute>
		<attribute name="primary" type="boolean" use="optional">
			<annotation>
				<documentation> A person or organization can have multiple addresses of the same type. This
						allows one address of each type to be marked as primary.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<element name="Address" type="_wcf:AddressType">
		<annotation>
			<documentation>The element definition of an address.</documentation>
		</annotation>
	</element>


	<complexType name="TelephoneType">
		<annotation>
			<documentation>The type definition of a phone number.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Value" type="string">
				<annotation>
					<documentation>The phone number.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="type" type="_wcf:TelephoneLocationType" use="optional">
			<annotation>
				<documentation>The type of phone number:
					Home1:		Primary home phone number.
					Home2:  	Secondary home phone number.
					Work1:	    Primary work phone number.
					Work2:	  	Secondary work phone number.
					Mobile1:	Primary mobile phone number.
					Mobile2:	Secondary mobile phone number.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="publish" type="boolean" use="optional">
			<annotation>
				<documentation>
					Specifies whether or not the phone number is listed.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<element name="Telephone" type="_wcf:TelephoneType">
		<annotation>
			<documentation>The element definition of a phone number.</documentation>
		</annotation>
	</element>

	<complexType name="FaxType">
		<annotation>
			<documentation>The type definition of a fax number.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Value" type="string">
				<annotation>
					<documentation>The phone number.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="Fax" type="_wcf:FaxType">
		<annotation>
			<documentation>The element definition of a fax number.</documentation>
		</annotation>
	</element>

	<complexType name="MobilePhoneType">
		<annotation>
			<documentation>The type definition of a mobile phone number.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Value" type="string">
				<annotation>
					<documentation>The phone number.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="Country" type="string">
				<annotation>
					<documentation>The country or region.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="MobilePhone" type="_wcf:MobilePhoneType">
		<annotation>
			<documentation>The element definition of a mobile phone number.</documentation>
		</annotation>
	</element>

	<complexType name="EmailAddressType">
		<annotation>
			<documentation>The type definition of an email address.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Value" type="string">
				<annotation>
					<documentation>The email address.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="EmailAddress" type="_wcf:EmailAddressType">
		<annotation>
			<documentation>The element definition of an email address.</documentation>
		</annotation>
	</element>

	<simpleType name="BestCallingTimeEnumerationType">
				<annotation>
						<documentation>The best time of the day to call:
					Daytime - During the day.
					Evening - During the evening.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
							<enumeration value="Daytime"/>
							<enumeration value="Evening"/>
		</restriction>
	</simpleType>

	<simpleType name="BestCallingTimeType">
		<annotation>
						<documentation>Allows extension to the default calling times.</documentation>
		</annotation>
		<union memberTypes="_wcf:BestCallingTimeEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>

	<element name="BestCallingTime" type="_wcf:BestCallingTimeType">
		<annotation>
			<documentation>The best time to call.</documentation>
		</annotation>
	</element>

	<simpleType name="TelephoneLocationEnumerationType">
				<annotation>
						<documentation>The location of the telephone:
					Home1:		Primary home phone number.
					Home2:  	Secondary home phone number.
					Work1:	    Primary work phone number.
					Work2:	  	Secondary work phone number.
					Mobile1:	Primary mobile phone number.
					Mobile2:	Secondary mobile phone number.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
							<enumeration value="Home1"/>
							<enumeration value="Home2"/>
							<enumeration value="Work1"/>
							<enumeration value="Work2"/>
							<enumeration value="Mobile1"/>
							<enumeration value="Mobile2"/>
		</restriction>
	</simpleType>

	<simpleType name="TelephoneLocationType">
		<annotation>
						<documentation>Allows extension to the default telephone locations.</documentation>
		</annotation>
		<union memberTypes="_wcf:TelephoneLocationEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>

	<complexType name="ContactInfoType">
		<annotation>
			<documentation>The type definition of a contact information entry.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ContactInfoIdentifier" type="_wcf:ContactInfoIdentifierType">
				<annotation>
					<documentation>The unique identifier of the contact information.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:ContactName">
				<annotation>
					<documentation>The name of the contact.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:Address">
				<annotation>
					<documentation>The address of the contact.</documentation>
				</annotation>
			</element>
			<element name="Telephone1" type="_wcf:TelephoneType" maxOccurs="1" minOccurs="0" >
				<annotation>
					<documentation>The primary phone number.</documentation>
				</annotation>
			</element>
			<element name="Telephone2" type="_wcf:TelephoneType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The secondary phone number.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:BestCallingTime" maxOccurs="1" minOccurs="0" >
				<annotation>
					<documentation>The best time of the day to call.</documentation>
				</annotation>
			</element>
			<element name="EmailAddress1" type="_wcf:EmailAddressType" maxOccurs="1" minOccurs="0" >
				<annotation>
					<documentation>The primary e-mail addresses.</documentation>
				</annotation>
			</element>
			<element name="EmailAddress2" type="_wcf:EmailAddressType" maxOccurs="1" minOccurs="0" >
				<annotation>
					<documentation>The secondary e-mail addresses.</documentation>
				</annotation>
			</element>
			<element name="Fax1" type="_wcf:FaxType" maxOccurs="1" minOccurs="0" >
				<annotation>
					<documentation>The primary fax number.</documentation>
				</annotation>
			</element>
			<element name="Fax2" type="_wcf:FaxType" maxOccurs="1" minOccurs="0" >
				<annotation>
					<documentation>The secondary fax number.</documentation>
				</annotation>
			</element>
			<element name="MobilePhone1" type="_wcf:MobilePhoneType" maxOccurs="1" minOccurs="0" >
				<annotation>
					<documentation>The primary mobile phone number.</documentation>
				</annotation>
			</element>
			<element name="OrganizationName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The organization that the person represents. This may be different than
					the parent organization.</documentation>
				</annotation>
			</element>
			<element name="OrganizationUnitName" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The organization unit that the person represents. This may be different
					than the parent organization.</documentation>
				</annotation>
			</element>
			<element name="GeographicalShippingCode" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Shipping code based on geographical region.
						This is used for integration with tax services.
					</documentation>
				</annotation>
			</element>
			<element name="GeographicalTaxCode" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation> Tax code based on geographical region.
					This is used for integration with tax services.
					</documentation>
				</annotation>
			</element>
			<element name="Attributes" type="_wcf:NameValuePairType" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>Additional attributes of the contact information:

						addressField1: 		Customizable field.
						addressField2: 		Customizable field.
						addressField3: 		Customizable field.
						billingCode:		Code to identify the shipping or billing information
						billingCodeType:	Code designating the system or method of code structure used for billing.
						packageSuppression:	Specifies whether or not to include package inserts. Valid values are 1 (include) or 0 (do not include).

					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"  use="optional" />
	</complexType>

<!--
	price common types
-->
	<complexType name="OfferPriceType">
		<annotation>
			<documentation>
				The type definition of a offer price used by catalog entry.
			</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Price"
				type="_wcf:UnitPriceType">
				<annotation>
					<documentation>The prices of this offer price. The prices can be in different currencies</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType" >
				<annotation>
					<documentation>
						The description of the offer price
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Qualifier" type="string" >
				<annotation>
					<documentation>
							A number that uniquely identifies the offer along with the catalog entry id and the price list id.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0"
				name="ContractIdentifier" type="_wcf:ContractIdentifierType">
				<annotation>
					<documentation>
						The contract identifier the price is associated
						with.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="startDate" type="dateTime" use="optional">
					<annotation>
						<documentation>The start date.</documentation>
					</annotation>
		</attribute>
		<attribute name="endDate" type="dateTime" use="optional">
					<annotation>
						<documentation>The end date.</documentation>
					</annotation>
		</attribute>
		<attribute name="lastUpdate" type="dateTime" use="optional">
					<annotation>
						<documentation>The last update.</documentation>
					</annotation>
		</attribute>
		<attribute name="minimumQuantity" type="double" use="optional">
					<annotation>
						<documentation>The minimum quantity.</documentation>
					</annotation>
		</attribute>
		<attribute name="maximumQuantity" type="double" use="optional">
					<annotation>
						<documentation>The maximum quantity.</documentation>
					</annotation>
		</attribute>
				<attribute name="quantityUnit" type="normalizedString" use="optional">
					<annotation>
						<documentation>	The unit of measure for minimumQuantity and maximumQuantity.</documentation>
					</annotation>
		</attribute>
				<attribute name="precedence" type="double" use="optional">
					<annotation>
						<documentation> The precedence of offer. When more than one Offer is effective at a particular time, the one with the highest precedence is used.</documentation>
					</annotation>
		</attribute>
	</complexType>

	<complexType name="PriceInfoType">
		<annotation>
			<documentation>
				The general price type which contain standard price,
				contract prices and floor price
			</documentation>
		</annotation>
		<sequence>

			<element name="StandardPrice"  type="_wcf:OfferPriceType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The Standard price.</documentation>
				</annotation>
			</element>

			<element name="ContractPrice" type="_wcf:OfferPriceType" maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>The contract prices.</documentation>
				</annotation>
			</element>
			<element name="FloorPrice" type="_wcf:OfferPriceType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The floorPrice.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<!-- Order common types
	 -->
	<element name="TotalTaxByTaxCategory" type="_wcf:TaxByTaxCategoryType">
		<annotation>
			<documentation>
				Element definition of the total tax amount for a tax category.
			</documentation>
		</annotation>
	</element>

	<element name="TaxByTaxCategory" type="_wcf:TaxByTaxCategoryType">
		<annotation>
			<documentation>Element definition of the tax amount for a tax category.</documentation>
		</annotation>
	</element>

	<complexType name="TaxByTaxCategoryType">
		<annotation>
			<documentation>Type definition of the tax amount for a tax category.</documentation>
		</annotation>
		<complexContent>
			<extension base="_wcf:MonetaryAmountType">
				<attribute name="taxCategoryCode" type="string" use="optional">
					<annotation>
						<documentation>The tax category code.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>


	 <simpleType name="DisplayLevelType">
	 <annotation>
			<documentation>The type definition of an adjustment's display level.</documentation>
		</annotation>
				<union memberTypes="_wcf:DisplayLevelEnumerationType _wcf:EnumerationExtensionType" />
	 </simpleType>

	 <simpleType name="DisplayLevelEnumerationType">
		<annotation>
			<documentation>The type definition of an adjustment's display level.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Order">
				<annotation>
					<documentation>The adjustment should be displayed at the order level.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OrderItem">
				<annotation>
					<documentation>The adjustment should be displayed at the order item level.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<element name="Adjustment" type="_wcf:AdjustmentType">
		<annotation>
			<documentation>Element definition of an adjustment.</documentation>
		</annotation>
	</element>

	<complexType name="AdjustmentType">
		<annotation>
			<documentation>Type definition of an adjustment.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Usage" type="string" />

			<element name="CalculationCodeID"
				type="_wcf:CalculationCodeIdentifierType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The CalculationCodeID for the adjustment.
					</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0" name="Code" type="string">
				<annotation>
					<documentation>The adjustment code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType">
				<annotation>
					<documentation>The description.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Amount" type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The amount.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="DisplayLevel" type="_wcf:DisplayLevelType">
				<annotation>
					<documentation>The display level.</documentation>
				</annotation>
			</element>
			<element name="IsPromotionCodeRequired" type="boolean"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Indicates whether this adjustment is promotion
						code required or not.
					</documentation>
				</annotation>
			</element>
						<element name="PromotionType" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>What is the promotion type of this adjustment belongs to.</documentation>
							</annotation></element>
						<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>

		</sequence>
	</complexType>

	<complexType name="OrderItemChargesType">
		<annotation>
			<documentation>Type definition of the order item's charges.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UnitPrice" type="_wcf:UnitPriceType">
				<annotation>
					<documentation>Unit price of the product.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="OrderItemPrice"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>
						Price of the order item (i.e. unit price multiplied by quantity).
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalAdjustment"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>
						Total adjustment of the order item.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_wcf:Adjustment">
				<annotation>
					<documentation>The adjustments.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="GenericTotal" type="_wcf:GenericTotalType">
				<annotation>
					<documentation>
						Generic total of the order item (i.e. unit price multiplied by quantity).
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingCharge"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The shipping charge.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="SalesTax" type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The sales tax.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingTax" type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The shipping tax.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_wcf:TaxByTaxCategory">
				<annotation>
					<documentation>The tax amount for each tax category.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="priceOverride" type="boolean" use="optional">
			<annotation>
				<documentation>The Price Override</documentation>
			</annotation>
		</attribute>
		<attribute name="freeGift" type="boolean" use="optional">
			<annotation>
				<documentation>Whether the order item is a free gift</documentation>
			</annotation>
		</attribute>
		<attribute name="isPriceForInformationOnly" type="boolean" use="optional">
			<annotation>
				<documentation>Whether the price of this item is used for information only</documentation>
			</annotation>
		</attribute>
	</complexType>
				<complexType name="GenericTotalType">
						<simpleContent>
								<extension base="_wcf:MonetaryAmountType">
				<attribute name="name" type="string" use="optional">
					<annotation>
						<documentation>The name of the generic total</documentation>
					</annotation>
				</attribute>
			</extension>
					 </simpleContent>
				</complexType>
	<complexType name="OrderChargesType">
		<annotation>
			<documentation>Type definition of the order's charges.</documentation>
		</annotation>
		<sequence>
				<element maxOccurs="1" minOccurs="0" name="GrandTotal"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The grand total.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalProductPrice"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The total product price.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalAdjustment"
					type="_wcf:MonetaryAmountType">
					<annotation>
					<documentation>The order total adjustment.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="GenericTotal" type="_wcf:GenericTotalType">
				<annotation>
					<documentation>
						Generic total of the order  (i.e. unit price multiplied by quantity).
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" name="Adjustment"
				type="_wcf:AdjustmentType">
				<annotation>
					<documentation>The order adjustment.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalShippingCharge"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The total shipping charge.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalSalesTax"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The total sales tax.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="TotalShippingTax"
				type="_wcf:MonetaryAmountType">
				<annotation>
					<documentation>The total shipping tax.</documentation>
				</annotation>
			</element>
			<element maxOccurs="unbounded" minOccurs="0" ref="_wcf:TotalTaxByTaxCategory">
				<annotation>
					<documentation>The total tax amount for each tax category.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PaymentMethodType">
		<annotation>
			<documentation>Type definition of a payment method.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="PaymentMethodName" type="string" />
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType" />
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData" />
		</sequence>
	</complexType>
	<complexType name="PaymentInfoType">
		<annotation>
			<documentation>Type definition of the CheckoutProfile's payment information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="BillingAddress" type="_wcf:ContactInfoType" />
				<element maxOccurs="1" minOccurs="0" name="PaymentMethod" type="_wcf:PaymentMethodType"/>
			<element maxOccurs="unbounded" minOccurs="0" name="ProtocolData" type="_wcf:ProtocolDataType"/>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData" />
		</sequence>
	</complexType>
	 <complexType name="ShippingModeType">
		<annotation>
			<documentation>Type definition of the shipping mode.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ShippingModeIdentifier" type="_wcf:ShippingModeIdentifierType"/>
			<element maxOccurs="1" minOccurs="0" name="Description" type="_wcf:DescriptionType" />
			<element maxOccurs="1" minOccurs="0" name="trackingURL" type="string"/>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ShippingInfoType">
		<annotation>
			<documentation>Type definition of shipping information of the CheckoutProfile.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="ShippingAddress" type="_wcf:ContactInfoType">
				<annotation>
					<documentation>The shipping address.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShippingMode" type="_wcf:ShippingModeType">
				<annotation>
					<documentation>The shipping mode.</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ProtocolDataType">
		<annotation>
			<documentation>Type definition of a protocol data entry.</documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" use="required" />
			</extension>
		</simpleContent>
	</complexType>

<!--
	Attachment common types
-->
	<element name="AttachmentDescription" type="_wcf:AttachmentDescriptionType">
		<annotation>
			<documentation>Language or locale specific description of an attachment.</documentation>
		</annotation>
	</element>
	<element name="AttachmentUsageDescription" type="_wcf:AttachmentDescriptionType">
		<annotation>
			<documentation>Language or locale specific description of the usage of an attachment.</documentation>
		</annotation>
	</element>
	<element name="AttachmentReferenceDescription" type="_wcf:AttachmentDescriptionType">
		<annotation>
		<documentation>Language or locale specific description of the attachment relation.</documentation>
		</annotation>
	</element>
	<complexType name="AttachmentDescriptionType">
		<annotation>
		<documentation>The type definition for description of an attachment.</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0">
				<annotation>
				<documentation>Name of the attachment reference.</documentation>
				</annotation>
			</element>
			<element name="ShortDescription" type="string" minOccurs="0">
				<annotation>
				<documentation>A short description for the attachment.</documentation>
				</annotation>
			</element>
			<element name="LongDescription" type="string" minOccurs="0">
				<annotation>
				<documentation>A long description for the attachment.</documentation>
				</annotation>
			</element>
			<!-- simple name value pair for extension -->
			<element ref="_wcf:UserData" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>
	</complexType>

	<element name="AttachmentAsset" type="_wcf:AttachmentAssetType">
		<annotation>
		<documentation>Definition of an attachment asset.</documentation>
		</annotation>
	</element>
	<complexType name="AttachmentAssetType">
		<annotation>
			<documentation>The type definition for an attachment asset.</documentation>
		</annotation>
		<sequence>
			<element name="AttachmentAssetIdentifier" type="_wcf:AttachmentAssetIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The identifier of the attachment asset.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The identifier of the store that owns this attachment asset.
					</documentation>
				</annotation>
			</element>
			<element name="AttachmentAssetPath" type="string" minOccurs="1">
				<annotation>
					<documentation>The unique indentifier of the Attachment Asset.</documentation>
				</annotation>
			</element>
			<element name="RootDirectory" type="string" minOccurs="0">
				<annotation>
					<documentation>The root directory for the attachment asset. For example, ConsumerDirect.</documentation>
				</annotation>
			</element>
			<element name="DirectoryPath" type="string" minOccurs="0">
				<annotation>
					<documentation>
						The directory path to the Attachment Asset.  If the Asset Path is /A/B/C/D.gif,
						then the DirectoryPath is /A/B/C.
					</documentation>
				</annotation>
			</element>
			<element name="MimeType" type="string" minOccurs="0">
				<annotation>
					<documentation>The mime type of the Attachment Asset.</documentation>
				</annotation>
			</element>
			<element name="language" type="_wcf:LanguageType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The supported languages of an Attachment Asset. Each attachment may support 0 to many languages.
						In the case of multiple supported languages, there will be multiple AttachmentAsset elements in the
						Attachment.
					</documentation>
				</annotation>
			</element>
			<!-- simple name value pair for extension -->
			<element ref="_wcf:UserData" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="localAsset" type="boolean" use="optional">
			<annotation>
				<documentation>The attribute to indicate whether it is a local attachment asset.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="AttachmentAssetIdentifierType">
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID of the Attachment Asset.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="AttachmentUsage" type="_wcf:AttachmentUsageType">
		<annotation>
			<documentation>Definition of usage type in an attachment relation.</documentation>
		</annotation>
	</element>
	<complexType name="AttachmentUsageType">
		<annotation>
			<documentation>The type definition for an attachment relation usage.</documentation>
		</annotation>
		<sequence>
			<element name="UsageName" type="string" minOccurs="1">
				<annotation>
					<documentation>
						The name of the Attachment Usage.
					</documentation>
				</annotation>
			</element>
			<element name="Image" type="string" minOccurs="0">
				<annotation>
					<documentation>Image path to the attachment relation usage.</documentation>
				</annotation>
			</element>
			<element name="DisplaySequence" type="string" minOccurs="0">
				<annotation>
					<documentation>Sequence of the attachment relation usage.</documentation>
				</annotation>
			</element>
			<!-- optional attachment relation usage description -->
			<element ref="_wcf:AttachmentUsageDescription" minOccurs="0" >
				<annotation>
					<documentation>
						Description for the attachment relation usage.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="AttachmentReference" type="_wcf:AttachmentReferenceType">
		<annotation>
			<documentation>
				An attachment relation or reference to a supported Commerce business objects.
			</documentation>
		</annotation>
	</element>
	<complexType name="AttachmentReferenceType">
		<sequence>
			<element name="AttachmentReferenceIdentifier" type="_wcf:AttachmentReferenceIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Identifier for the Attachment Reference.
					</documentation>
				</annotation>
			</element>
			<element name="AttachmentIdentifier" type="_wcf:AttachmentIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Identifier for the Attachment.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:AttachmentAsset" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The Attachment Assets that belongs to that Attachment which is associated to the business object in this relation.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:AttachmentUsage" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The usage of the attachment that is associated with the business object.
					</documentation>
				</annotation>
			</element>
			<element name="DisplaySequence" type="string" minOccurs="0">
				<annotation>
				<documentation>Sequence of the attachment relation.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:AttachmentDescription" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The description of the attachment.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:AttachmentReferenceDescription" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The description of the relation between the business object and the attachment.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AttachmentReferenceIdentifierType">
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID of the Attachment Reference.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="FlowElementType">
		<annotation>
			<documentation>Flow elements could be path, condition, equation, branch, coordinator which function together to determine the flow.</documentation>
		</annotation>
		<sequence>
			<element name="ElementIdentifier" type="_wcf:FlowElementIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the flow element.
					</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The description of the flow element.
					</documentation>
				</annotation>
			</element>


			<element name="ParentElementIdentifier" type="_wcf:FlowElementIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The parent identifier of the price element. Every price element has only one direct parent, but the root price element has no parent.
					</documentation>
				</annotation>
			</element>
			<element name="ElementSequence" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The sequence of the element under the same parent. Each flow has root path which other elements are placed on. The sequence specify the execution order of the elements on the path.
					</documentation>
				</annotation>
			</element>
			<element name="ElementAttribute" type="_wcf:FlowElementAttributeType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The attribute name and value associated with a flow element.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="FlowElementIdentifierType">
		<annotation>
			<documentation>The identifier of the flow element.
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of the flow element.
					</documentation>
				</annotation>
			</element>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name of the flow element.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="FlowElementAttributeType">
		<annotation>
			<documentation>The attribute name and value associated with a flow element.
			</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The attribute name of a flow element.</documentation>
				</annotation>
			</element>
			<element name="Value" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The attribute value of a flow element.</documentation>
				</annotation>
			</element>
			<element name="Properties" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>Other information related to the flow element attribute.</documentation>
				</annotation>
			</element>

						<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>

		</sequence>
	</complexType>

	<element name="CreatedTime" type="dateTime">
		<annotation>
			<documentation>
				The create time..
			</documentation>
		</annotation>
	</element>
	<element name="LastUpdateTime" type="dateTime">
		<annotation>
			<documentation>
				The last update time.
			</documentation>
		</annotation>
	</element>

	<complexType name="FormulaType">
		<annotation>
			<documentation>Formula is an expression for calculation. </documentation>
		</annotation>
		<sequence>
			<element name="FormulaIdentifier" type="_wcf:FormulaIdentifierType">
				<annotation>
					<documentation>The unique identifier of the formula.
					</documentation>
				</annotation>
			</element>

						<element name="Description" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The description of the formula.
					</documentation>
				</annotation>
						</element>

			<element name="Value" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The string value of the formula. It is an arithmetic expression supporting addition, subtraction, multiplication and
						division. The operands can include numbers and some keywords defined the components. The keywords and their accompanying IDs or
						names in the expression are used by the components to get the actual value. For example, the expression can be PriceListID (10001) * 0.8.
						The Price component will get the price by the given price list ID 10001 and the context information including the store ID, catalog entry ID and quantity etc.
					</documentation>
				</annotation>
			</element>

						<element ref="_wcf:CreatedTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The create time of the formula.	</documentation>
				</annotation>
						</element>
						<element ref="_wcf:LastUpdateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The last update time of the formula.
					</documentation>
				</annotation>
						</element>

			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>



	<element name="SubscriptionInfo" type="_wcf:SubscriptionInfoType"></element>

	<complexType name="SubscriptionInfoType">
				<annotation>
					<documentation>The subscription information type encapsulates the payment information for a subscription along with the fulfillment schedule and payment schedule.</documentation>
				</annotation>
				<sequence>
			<element name="PaymentInfo"
				type="_wcf:SubscriptionPaymentInfoType" maxOccurs="1"
				minOccurs="0">
								<annotation>
									<documentation>The payment information element which captures the payment made for a subscription.</documentation>
								</annotation>
			</element>
						<element name="FulfillmentSchedule" type="_wcf:ScheduleInfoType" maxOccurs="1" minOccurs="0">
								<annotation>
									<documentation>The fulfillment schedule information.</documentation>
								</annotation>
						</element>
						<element name="PaymentSchedule" type="_wcf:ScheduleInfoType" maxOccurs="1" minOccurs="0">
							<annotation>
								<documentation>The payment schedule information.</documentation>
							</annotation></element>
						<element name="UserData" type="_wcf:UserDataType"
				maxOccurs="1" minOccurs="0">
			</element>

		</sequence>
	</complexType>

		<complexType name="SubscriptionPaymentInfoType">
				<annotation>
					<documentation>The payment information type which encapsulates the payment details for the subscription.</documentation>
				</annotation>
				<sequence>
				<element name="AmountToCharge"
					type="_wcf:MonetaryAmountType" maxOccurs="1" minOccurs="0">
					<annotation>
						<documentation>
							The amount to be charged during the next payment
							or fulfillment cycle.
						</documentation>
					</annotation>
				</element>
				<element name="TotalCost" type="_wcf:MonetaryAmountType"
					maxOccurs="1" minOccurs="0">
					<annotation>
						<documentation>
							The total cost for the subscription.
						</documentation>
					</annotation>
				</element>
				<element name="AmountPaid" type="_wcf:MonetaryAmountType"
					maxOccurs="1" minOccurs="0">
					<annotation>
						<documentation>
							The amount paid so far for the subscription.
						</documentation>
					</annotation>
				</element>
						<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
			</sequence>
		</complexType>

		<complexType name="ScheduleInfoType">
				<annotation>
					<documentation>The type encapsulates the scheduling information for the subscription.</documentation>
				</annotation>
				<sequence>
				<element name="StartInfo"
					type="_wcf:ScheduleStartInfoType" maxOccurs="1" minOccurs="0">
								<annotation>
									<documentation>The schedule start information.</documentation>
								</annotation>
				</element>
				<element name="FrequencyInfo"
					type="_wcf:ScheduleFrequencyInfoType" maxOccurs="1" minOccurs="0">
								<annotation>
									<documentation>The schedule frequency information.</documentation>
								</annotation>
				</element>
				<element name="EndInfo" type="_wcf:ScheduleEndInfoType" maxOccurs="1" minOccurs="0">
					<annotation>
						<documentation>The schedule end information.</documentation>
					</annotation></element>
				<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
			</sequence>
		</complexType>

		<complexType name="ScheduleEndInfoType">
				<annotation>
					<documentation>This type encapsulates the schedule end criteria.</documentation>
				</annotation>
				<sequence>
				<element name="EndDate" type="dateTime" maxOccurs="1" minOccurs="0">
					<annotation>
						<documentation>The schedule end date.</documentation>
					</annotation></element>
						<element name="Duration" type="_wcf:QuantityType" maxOccurs="1" minOccurs="0">
							<annotation>
								<documentation>The duration of the schedule. The duration again has two part to it. The magnitude of the duration and its unit of measurement in terms of days, weeks, months and so on.</documentation>
							</annotation></element>
						<element name="TotalOccurrences" type="integer" maxOccurs="1" minOccurs="0">
							<annotation>
								<documentation>The total number of iterations which the schedule must run.</documentation>
							</annotation></element>
				<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
			</sequence>
		</complexType>

		<complexType name="ScheduleStartInfoType">
				<annotation>
					<documentation>This type encapsulates the schedule start criteria.</documentation>
				</annotation>
				<sequence>
				<element name="StartDate" type="dateTime" maxOccurs="1" minOccurs="0">
					<annotation>
						<documentation>The start date for the schedule.</documentation>
					</annotation></element>
				<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
			</sequence>
		</complexType>

		<complexType name="ScheduleFrequencyInfoType">
				<annotation>
					<documentation>This type encapsulates the repeat frequency of the schedule.</documentation>
				</annotation>
				<sequence>
				<element name="Frequency" type="_wcf:QuantityType"
					maxOccurs="1" minOccurs="0">
								<annotation>
									<documentation>The frequency of the schedule. The frequency has two parts to it. The magnitude of the frequency and its unit of measurement in terms of days, months, weeks and so on.</documentation>
								</annotation>
				</element>
				<element name="NextOccurence" type="dateTime" maxOccurs="1"
					minOccurs="0">
								<annotation>
									<documentation>The next occurrence of the schedule.</documentation>
								</annotation>
				</element>
				<element name="RemainingOccurrences" type="integer" maxOccurs="1"
					minOccurs="0">
								<annotation>
									<documentation>The number of iterations remaining for the schedule.</documentation>
								</annotation>
				</element>
				<element name="CompletedOccurrences" type="integer" maxOccurs="1"
					minOccurs="0">
								<annotation>
									<documentation>The number of iterations completed.</documentation>
								</annotation>
				</element>
				<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0"></element>
			</sequence>
		</complexType>

		<element name="ScheduleInfo" type="_wcf:ScheduleInfoType"></element>

		<element name="SEOURL" type="_wcf:SEOURLType"></element>

		<!--  SEO URL details is held in this type -->

		<complexType name="SEOURLType">
		<sequence>
			<element name="URLKeywordID" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The unique identifier of the URL keyword.</documentation>
				</annotation>
			</element>
			<element name="TokenValue" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The token value of the SEO URL pattern</documentation>
				</annotation>
			</element>
			<element name="Usage" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The usage of the static URL (Ex:Privacy,Home,Help etc).</documentation>
				</annotation>
			</element>
			<element name="ParentStoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The store identifier this keyword belongs to.</documentation>
				</annotation>
			</element>
			<element name="URLKeyword"
				type="_wcf:SEOURLKeywordType" maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>The keyword details pertaining to the URL.</documentation>
				</annotation>
			</element>
			<element name="SiteMapInfo"
				type="_wcf:SEOSiteMapInfoType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The sitemap information pertaining to the URL.</documentation>
				</annotation>
			</element>
			<element name="UserData" type="_wcf:UserDataType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The store configured static URL customization information.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="SEOURLKeyword" type="_wcf:SEOURLKeywordType"></element>

	<!--  SEO URL keyword with the language specific details is held in this type -->

	<complexType name="SEOURLKeywordType">
		<sequence>
			<element name="GeneratedKeyword" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The generated SEO URL keyword.</documentation>
				</annotation>
			</element>
			<element name="GeneratedMobileKeyword" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The generated SEO URL keyword for mobile.</documentation>
				</annotation>
			</element>
			<element name="Keyword" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The SEO URL keyword.</documentation>
				</annotation>
			</element>
			<element name="MobileKeyword" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The SEO URL keyword for mobile.</documentation>
				</annotation>
			</element>
			<element name="URLPrefix" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The URL prefix.</documentation>
				</annotation>
			</element>
			<element name="MobileURLPrefix" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The URL prefix for mobile.</documentation>
				</annotation>
			</element>
			<element name="PreviewURL" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The preview URL.</documentation>
				</annotation>
			</element>
			<element name="PreviewMobileURL" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The preview URL for mobile.</documentation>
				</annotation>
			</element>
			<element name="UserData" type="_wcf:UserDataType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The keyword customization information.</documentation>
				</annotation>
			</element>
		</sequence>
			<attribute name="language" type="_wcf:LanguageType"></attribute>
	</complexType>

	<simpleType name="SEOURLChangeFrequencyEnumerationType">
		<annotation>
						<documentation>
				The type definition for frequency of change of the content at a particular URL:
				Allowed values are: Always,Hourly,Daily,Weekly,Monthly,Yearly,Never.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
							<enumeration value="Always"/>
							<enumeration value="Hourly"/>
							<enumeration value="Daily"/>
							<enumeration value="Weekly"/>
							<enumeration value="Monthly"/>
							<enumeration value="Yearly"/>
							<enumeration value="Never"/>
		</restriction>
	</simpleType>

	<simpleType name="SEOURLChangeFrequencyType">
		<annotation>
						<documentation>Allows extension to the default change frequency types.</documentation>
		</annotation>
		<union memberTypes="_wcf:SEOURLChangeFrequencyEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>

	<element name="SEOSiteMapInfo" type="_wcf:SEOSiteMapInfoType"></element>

	<complexType name="SEOSiteMapInfoType">
		<sequence>
			<element name="Priority" type="double" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The relative importance of the URL amongst all URLs in the same store.</documentation>
				</annotation>
			</element>
			<element name="ChangeFrequency" type="_wcf:SEOURLChangeFrequencyType" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						The frequency of change of the content at a particular URL.
						Allowed values are: Always,Hourly,Daily,Weekly,Monthly,Yearly,Never.
					</documentation>
				</annotation>
			</element>
			<element name="MobilePriority" type="double" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The relative importance of the URL amongst all URLs in the same mobile store.</documentation>
				</annotation>
			</element>
			<element name="MobileChangeFrequency" type="_wcf:SEOURLChangeFrequencyType" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						The frequency of change of the content at a particular URL in mobile store.
						Allowed values are: Always,Hourly,Daily,Weekly,Monthly,Yearly,Never.
					</documentation>
				</annotation>
			</element>
			<element name="UserData" type="_wcf:UserDataType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The sitemap customization information.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="SEOProperties" type="_wcf:SEOPropertiesType">
		<annotation>
		<documentation>Language/locale specific SEO properties for a store page (e.g. content pages, catalog group, and catalog entry pages).</documentation>
		</annotation>
	</element>

	<!-- SEO Properties are held in this language sensitive type -->
	<complexType name="SEOPropertiesType">
		<annotation>
		<documentation>This type encapsulates the most important tags in a store page that are relevant to search engine optimization (SEO).</documentation>
		</annotation>
		<sequence>
				<element name="SEOPageDefID" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The unique identifier of the SEO Page definition.</documentation>
				</annotation>
			</element>
			<element name="ObjectIdentifier" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						This represents the unique ID of the object which is displayed on the store page.
						For Category or Catalog Entry page, it would be the Category Id or Catalog Entry Id.
						For Content page, it would be NULL. e.g. If the content page is "About us", ObjectIdentifier should be specified as NULL.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="Title" type="string">
				<annotation>
				<documentation>Title for the store page.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="MetaDescription" type="string">
				<annotation>
				<documentation>Meta description for the store page.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="MetaKeyword" type="string">
				<annotation>
				<documentation>Meta keyword for the store page.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="FullImageAltDescription" type="string">
				<annotation>
				<documentation>Full image alternate description for the store page.</documentation>
				</annotation>
			</element>
			<element name="ParentStoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The store identifier this keyword belongs to.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"/>



		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>
		<attribute name="resolved" type="boolean" use="optional">
			<annotation>
				<documentation>
					Boolean indicating whether the current SEO properties are resolved to a displayable string or unresolved with substitution parameter tags.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="pageGroup" type="string">
			<annotation>
				<documentation>
					The type of the page.
					For Content Page, it would be the name of the content page itself. e.g. If the name of content page is "About Us", the pageGroup should be specified as "About Us".
					For Category or Product Page, it would be "Category" or "Product" respectively.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="PromotionCodeReasonType">
		<annotation>
			<documentation>
				The type definition of the promotion code valid reason.
			</documentation>
		</annotation>
		<sequence>
			<element name="Valid" type="boolean" minOccurs="0" maxOccurs="1"></element>
			<element name="ReasonCode" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="Description" type="_wcf:DescriptionType" minOccurs="0" maxOccurs="1"></element>
			<element name="UserData" type="_wcf:UserDataType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="AssociatedPromotionType">
		<sequence>
			<element name="PromotionIdentifier" type="_wcf:PromotionIdentifierType" minOccurs="0" maxOccurs="1"></element>
			<element name="Description" type="_wcf:DescriptionType" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
<!--
	ExternalContent common types
-->


	<element name="ExternalContentBODVersion" type="string" fixed="7.0">
		<annotation>
			<documentation>
				The version of WebSphere Commerce when the ExternalContent noun
				was last changed.  The value is set as the versionID attribute in the
				corresponding BODs.
			</documentation>
		</annotation>
	</element>


	<complexType name="ExternalContentAssetType">
		<annotation>
			<documentation>The type definition for an external content asset.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ExternalContentIdentifier" type="string">
				<annotation>
					<documentation>The unique ID of the external content.</documentation>
				</annotation>
			</element>
			<element name="Name" type="string" minOccurs="1">
				<annotation>
					<documentation>The name of the external content asset.</documentation>
				</annotation>
			</element>
			<element name="AssetPath" type="string" minOccurs="1">
				<annotation>
					<documentation>The path of the external content asset.</documentation>
				</annotation>
			</element>
			<element name="AssetFullPath" type="string" minOccurs="0">
				<annotation>
					<documentation>The full path of the external content asset, including context root and relative path.</documentation>
				</annotation>
			</element>
			<element name="MimeType" type="string" minOccurs="0">
				<annotation>
					<documentation>The mime type of the external content asset.</documentation>
				</annotation>
			</element>
			<!-- simple name value pair for extension -->
			<element ref="_wcf:UserData" minOccurs="0">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>


	<element name="ExternalContentAsset" type="_wcf:ExternalContentAssetType">
		<annotation>
			<documentation>The assets belong to the external content.</documentation>
		</annotation>
	</element>


	<complexType name="ExternalContentReferenceType">
		<annotation>
			<documentation>Type definition of an ExternalContent.</documentation>
		</annotation>

		<sequence>

			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID of the relationship between the business object and the external content.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="ExternalContentIdentifier" type="string">
				<annotation>
					<documentation>The unique ID of the external content.</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="1"  name="Name" type="string">
				<annotation>
				<documentation>The name of the ExternalContent.</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0"  name="ExternalContentDescription" type="string">
				<annotation>
				<documentation>The description of the ExternalContent.</documentation>
				</annotation>
			</element>

			<element name="ExternalContentType" maxOccurs="1" minOccurs="0" type="string">
				<annotation>
					<documentation>The type the external content belongs to (e.g. ProductContent or CategoryContent).</documentation>
				</annotation>
			</element>

			<element minOccurs="0" maxOccurs="unbounded" ref="_wcf:ExternalContentAsset">
				<annotation>
					<documentation>The external content assets.</documentation>
				</annotation>
			</element>

			<element ref="_wcf:LastUpdateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The last update time of the external content.</documentation>
				</annotation>
			</element>

			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>The user data area.</documentation>
				</annotation>
			</element>

		</sequence>

		<attribute name="language" type="_wcf:LanguageType"  use="optional" />
	</complexType>


	<element name="ExternalContentReference" type="_wcf:ExternalContentReferenceType">
		<annotation>
			<documentation>
				An external content relation or reference to a supported Commerce business objects.
			</documentation>
		</annotation>
	</element>

</schema>
