WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Components/IdentifierTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2006, 2012 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified" 
	ecore:nsPrefix="_wcf"
	ecore:package="com.ibm.commerce.foundation.common.datatypes">

	<annotation>
		<documentation>
			This XML schema file defines the common elements and types shared by the
			entire schema.
		</documentation>
	</annotation>

<!-- 
	Identifier types for member component
-->

	<complexType name="PersonExternalIdentifierType">
		<annotation>
			<documentation>The type definition of an external identifier for a person.</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>An external identifier for a person, for example logon ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="PersonIdentifierType">
		<annotation>
			<documentation>The type definition of a person identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID"
				type="string">
				<annotation>
					<documentation>The unique identifier of the person.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0"
				name="DistinguishedName" type="string">
				<annotation>
					<documentation>The distinguished name of the person.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:PersonExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>An external identifier of the person.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="OrganizationIdentifierType">
		<annotation>
			<documentation>The type definition of an organization identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of the organization.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="DistinguishedName" type="string">
				<annotation>
					<documentation>The distinguished name of the organization.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ContactInfoExternalIdentifierType">
		<annotation>
			<documentation>The type definition of an external identifier for contact information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="ContactInfoNickName" type="string">
				<annotation>
					<documentation>The nickname of the contact information.</documentation>
				</annotation>
			</element>
			<choice>
				<element maxOccurs="1" minOccurs="0" name="PersonIdentifier" type="_wcf:PersonIdentifierType">
					<annotation>
						<documentation>The person that owns the contact information.</documentation>
					</annotation>
				</element>	
				<element maxOccurs="1" minOccurs="0" name="OrganizationIdentifier" type="_wcf:OrganizationIdentifierType">
					<annotation>
						<documentation>The organization that owns the contact information.</documentation>
					</annotation>
				</element>		
			</choice>				
		</sequence>			
	</complexType>		
	
	<complexType name="ContactInfoIdentifierType">
		<annotation>
			<documentation>The type definition of an identifier for contact information.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of the contact information.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:ContactInfoExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of the contact information.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>	
	
	<complexType name="MemberGroupExternalIdentifierType">
		<annotation>
			<documentation>The type definition of an external identifier for a member group.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="Name" type="string">
				<annotation>
					<documentation>The name of the member group.</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the store associated with the member group, for example
					a customer segment.</documentation>
				</annotation>
			</element>	
		</sequence>	
		<attribute name="ownerID" type="string" use="optional">
			<annotation>
				<documentation>
					The owner of a member group.
				</documentation>
			</annotation>
		</attribute>		
	</complexType>	
	
	<complexType name="MemberGroupIdentifierType">
		<annotation>
			<documentation>The type definition of an identifier for a member group.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of the member group.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:MemberGroupExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of the member group.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>	
	
	<complexType name="RoleIdentifierType">
		<annotation>
			<documentation>The type definition of a role identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of the role.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Name" type="string">
				<annotation>
					<documentation>The name of the role.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
<!-- 
	Identifier types for catalog component
-->

	<complexType name="CatalogExternalIdentifierType">
		<annotation>
			<documentation>
				A type definition for a unique external identifier for
				the catalog.
			</documentation>
		</annotation>
		<sequence>
			<element minOccurs="1" name="Identifier" type="string">
				<annotation>
					<documentation>
						External identifying name for the catalog.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the store associated with the catalog.</documentation>
				</annotation>
			</element>		
		</sequence>
		<attribute name="ownerID" type="string" use="optional">
			<annotation>
				<documentation>
					The owner organization of the catalog.
				</documentation>
			</annotation>
		</attribute>
	</complexType>
	
	<complexType name="CatalogIdentifierType">
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID for a catalog.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ExternalIdentifier"
				type="_wcf:CatalogExternalIdentifierType">
				<annotation>
					<documentation>
						External identifier for the catalog.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="CatalogGroupIdentifierType">
		<annotation>
			<documentation>
				A type definition for a catalog group identifier.
			</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID for a catalog group.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ExternalIdentifier"
				type="_wcf:CatalogGroupExternalIdentifierType">
				<annotation>
					<documentation>
						An external identifier for a catalog group.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="CatalogGroupExternalIdentifierType">
		<annotation>
			<documentation>
				A type definition of an unique external identifier for a
				catalog group.
			</documentation>
		</annotation>
		<sequence>
			<element minOccurs="1" name="GroupIdentifier"
				type="string">
				<annotation>
					<documentation>
						External identifying name for the catalog group.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the store associated with the catalog group.</documentation>
				</annotation>
			</element>		
		</sequence>
		<attribute name="ownerID" type="string" use="optional">
			<annotation>
				<documentation>
					The owner organization of the catalog group.
				</documentation>
			</annotation>
		</attribute>
	</complexType>
	
	<complexType name="CatalogEntryIdentifierType">
		<annotation>
			<documentation>
				A type definition for a catalog entry identifier.
			</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID for a catalog entry.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ExternalIdentifier"
				type="_wcf:PartNumberIdentifierType">
				<annotation>
					<documentation>
						An external identifier for a catalog entry.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="PartNumberIdentifierType">
		<sequence>
			<element minOccurs="1" name="PartNumber" type="string">
				<annotation>
					<documentation>
						The part number or SKU for a catalog entry.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the store associated with the catalog entry.</documentation>
				</annotation>
			</element>		
		</sequence>
		<attribute name="ownerID" type="string" use="optional">
			<annotation>
				<documentation>
					The owner organization of the catalog entry.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="AttributeDictionaryIdentifierType">
		<annotation>
			<documentation>
				A type definition for an attribute dictionary identifier.
			</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID for an attribute dictionary. Reference to ATTRDICT.ATTRDICT_ID.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ExternalIdentifier" type="_wcf:AttributeDictionaryExternalIdentifierType">
				<annotation>
					<documentation>
						An external identifier for an attribute	dictionary.
					</documentation>
				</annotation>
			</element>
		</sequence>			
	</complexType>

	<complexType name="AttributeDictionaryExternalIdentifierType">
		<annotation>
			<documentation>
				An external identifier for an attribute dictionary.			
			</documentation>
		</annotation>
		<sequence>		
			<element name="Identifier" type="string"  minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>The unique string identifier of the attribute dictionary.</documentation>
				</annotation>
			</element>	
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
				   	<documentation>The identifier of the store that owns this Attribute Dictionary.</documentation>
                </annotation>
			</element>	
		</sequence>		
	</complexType>

	<complexType name="AttributeIdentifierType">
		<annotation>
			<documentation>
				A type definition for an catalog attribute identifier.
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The attribute ID. Reference to ATTR.ATTR_ID.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:AttributeExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The external identifier for this catalog attribute.
					</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>	
	
	<complexType name="AttributeExternalIdentifierType">
		<annotation>
			<documentation>
				An external identifier for an catalog attribute.		
			</documentation>
		</annotation>
		<sequence>
			<element name="AttributeDictionaryIdentifier" type="_wcf:AttributeDictionaryIdentifierType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of the attribute dictionary to which the attribute belongs.
					</documentation>
				</annotation>
			</element>		
			<element name="Identifier" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>The unique string identifier of the catalog attribute.</documentation>
				</annotation>
			</element>	
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
				   	<documentation>The identifier of the store that owns this catalog attribute.</documentation>
                </annotation>
			</element>	
		</sequence>	
	</complexType>
	
	<complexType name="AttributeGroupIdentifierType">
		<annotation>
			<documentation>
				A type definition for an catalog attribute group identifier.
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unqiue identifier of the catalog attribute group. Reference to ATTRDICTGRP.ATTRDICTGRP_ID.</documentation>
				</annotation>
			</element>		
			<element name="ExternalIdentifier" type="_wcf:AttributeGroupExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The external identifier for this catalog attribute group.
					</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>	

	<complexType name="AttributeGroupExternalIdentifierType">
		<annotation>
			<documentation>
				An external identifier for an catalog attribute group.			
			</documentation>
		</annotation>
		<sequence>
			<element name="AttributeDictionaryIdentifier" type="_wcf:AttributeDictionaryIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of the attribute dictionary to which the attribute group belongs. 
					</documentation>
				</annotation>
			</element>		
			<element name="Identifier" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>The unique string identifier of the catalog attribute group.</documentation>
				</annotation>
			</element>	
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>The identifier of the store that owns this catalog attribute group.</documentation>
                </annotation>
			</element>				
		</sequence>	
	</complexType>

<!-- 
	Identifier types for contract component
-->

	<complexType name="ContractIdentifierType">
		<annotation>
			<documentation>The type definition of an contract identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The contract ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:ContractExternalIdentifierType">
				<annotation>
					<documentation>The external contract ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ContractExternalIdentifierType">
		<annotation>
			<documentation>
				The type definition of an ExternalContractId.
			</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string"  minOccurs="1">
				<annotation>
					<documentation>The name of the contract.</documentation>
				</annotation>
			</element>	
		</sequence>
		<attribute name="origin" type="string" use="required">
			<annotation>
				<documentation>The Origin of the contract.</documentation>
			</annotation>
		</attribute>		
		<attribute name="majorVersionNumber" type="int" default="1">
			<annotation>
				<documentation>The major version of the contract.</documentation>
			</annotation>
		</attribute>
		<attribute name="minorVersionNumber" type="int" default="0">
			<annotation>
				<documentation>The minor version of the contract.</documentation>
			</annotation>
		</attribute>
		<attribute name="ownerID" type="string" use="required">
			<annotation>
				<documentation>The owner of the contract.</documentation>
			</annotation>
		</attribute>
	</complexType>
       
        <complexType name="PolicyIdentifierType">
		<annotation>
			<documentation>The type definition of a policy identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The policy ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:PolicyExternalIdentifierType">
				<annotation>
					<documentation>The external policy ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="PolicyExternalIdentifierType">
		<annotation>
			<documentation>
				The type definition of an external policy ID.
			</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string"  minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>The name of the policy.</documentation>
				</annotation>
			</element>	
			<element name="Type" type="string"  minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>The type of the policy.</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the store associated with the policy.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="BusinessAccountIdentifierType">
		<annotation>
			<documentation>The type definition of a business account identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The business account ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:BusinessAccountExternalIdentifierType">
				<annotation>
					<documentation>The external business account ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="BusinessAccountExternalIdentifierType">
		<annotation>
			<documentation>
				The type definition of an external business account ID.
			</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string"  minOccurs="1">
				<annotation>
					<documentation>The name of a business account.</documentation>
				</annotation>
			</element>	
		</sequence>
		<attribute name="ownerID" type="string" use="required">
			<annotation>
				<documentation>The owner of business account.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<!-- 
	Identifier types for order component
-->

	<complexType name="OrderIdentifierType">
		<annotation>
			<documentation>The type definition of an order identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique order ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalOrderID" type="string">
				<annotation>
					<documentation>The external order ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="CustomerOrderNumber" type="string">
				<annotation>
					<documentation>The customer order number.</documentation>
				</annotation>
			</element>			
		</sequence>
	</complexType>

	<complexType name="OrderItemIdentifierType">
		<annotation>
			<documentation>The type definition of an order item identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The order item ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalOrderItemID" type="string">
				<annotation>
					<documentation>The external order item ID.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="FulfillmentCenterIdentifierType">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						The fulfillment center unique ID.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Name" type="string">
				<annotation>
					<documentation>
						The fulfillment center name.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="ownerId" type="string" use="optional">
			<annotation>
				<documentation>The owner ID of the user that owns the fulfillment center.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="ShippingModeIdentifierType">
	   <sequence>
	   		<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The shipping mode unique ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:ExternalShipModeIdentifier">
				<annotation>
					<documentation>The external shipping mode identifier.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ExternalShipModeIdentifier">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="StoreUniqueID" type="string">
				<annotation>
					<documentation>The store ID with which the shipping mode is associated.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ShipModeCode" type="string">
				<annotation>
					<documentation>The shipping mode code.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Carrier" type="string">
				<annotation>
					<documentation>The shipping mode carrier.</documentation>
				</annotation>
			</element>		
		</sequence>
	</complexType>

	<!-- 
	Identifier types for foundation
-->
		
	<complexType name="StoreExternalIdentifierType">
		<annotation>
			<documentation>The type definition of a store external identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="NameIdentifier" type="string">
				<annotation>
					<documentation>The identifier of the store.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="ownerID" type="string" use="optional">
			<annotation>
				<documentation>
					The owner organization of the store.
				</documentation>
			</annotation>
		</attribute>
		
	</complexType>

<!-- 
	Identifier types for store locator
-->	
	<complexType name="StoreIdentifierType">
		<annotation>
			<documentation>The type definition of a store identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID of the store.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:StoreExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of the store.</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>


	<complexType name="StoreLocationIdentifierType">
		<annotation>
			<documentation>The type definition of a store location identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID of the store location.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="string">
				<annotation>
					<documentation>The external identifier of the store location.</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>

	<complexType name="GeoNodeIdentifierType">
		<annotation>
			<documentation>The type definition of a geo node identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID of the geo node.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="string">
				<annotation>
					<documentation>The external identifier of the geo node.</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>
	
<!-- 
	Identifier types for store event
-->	
	<complexType name="StoreEventCategoryIdentifierType">
		<annotation>
			<documentation>The type definition of a event type identifier</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of the event type</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="string">
				<annotation>
					<documentation>The external identifier of a event type</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="StoreEventIdentifierType">
		<annotation>
			<documentation>The type definition of a store event identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of the store event.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="string">
				<annotation>
					<documentation>The external identifier of a store event.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="StoreEventBookingIdentifierType">
		<annotation>
			<documentation>The type definition of an event booking record.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of the event booking record</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="string">
				<annotation>
					<documentation>The external identifier of a event booking record.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>	
	
<!-- 
	Identifier types for marketing
-->	

	<complexType name="MarketingSpotExternalIdentifierType">
		<annotation>
			<documentation>The unique external identifier of an e-Marketing Spot.</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name of an e-Marketing Spot.</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the store associated with the e-Marketing Spot.</documentation>
				</annotation>
			</element>		
		</sequence>
	</complexType>
		
	<complexType name="MarketingSpotIdentifierType">
        <annotation>
        	<documentation>The unique identifier of an e-Marketing Spot.</documentation>
        </annotation>
        <sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID of an e-Marketing Spot.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:MarketingSpotExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique external identifier of an e-Marketing Spot.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>
	
	<complexType name="CampaignExternalIdentifierType">
		<annotation>
			<documentation>The unique external identifier of a campaign.</documentation>
		</annotation>
        <sequence>		
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>The name of the campaign.</documentation>
                </annotation>
			</element>
			<element name="StoreIdentifier"
				type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>The identifier of the store in which the campaign is configured.</documentation>
                </annotation>
			</element>	
		</sequence>				
	</complexType>
	
	<complexType name="CampaignIdentifierType">
        <annotation>
        	<documentation>The unique identifier of a marketing campaign.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique ID of the campaign.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:CampaignExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique external identifier of a campaign.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>
	
	<complexType name="ActivityExternalIdentifierType">
		<annotation>
			<documentation>The unique external identifier of an activity.</documentation>
		</annotation>
		<sequence>			
			<element name="Name" type="string" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The name of a marketing activity.</documentation>
                </annotation>
			</element>
			<element name="StoreIdentifier"
				type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>The identifier of the store associated with the marketing activity.</documentation>
                </annotation>
			</element>
		</sequence>						
	</complexType>
	 				
	<complexType name="ActivityIdentifierType">
        <annotation>
        	<documentation>The unique identifier of a marketing activity.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The unique ID of a marketing activity.</documentation>
                </annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:ActivityExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique external identifier of a marketing activity.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>
		
	<complexType name="MarketingContentExternalIdentifierType">
		<annotation>
			<documentation>The unique external identifier of marketing content.</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name of the marketing content.</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier"
				type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>The identifier of the store which is associated with the marketing content.</documentation>
				</annotation>
			</element>		
		</sequence>
	</complexType>

	<complexType name="MarketingContentIdentifierType">
        <annotation>
        	<documentation>The unique identifier of a marketing content.</documentation>
        </annotation>
        <sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID of the marketing content.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:MarketingContentExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique external identifier of marketing content.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>
	
	<complexType name="MarketingEmailTemplateExternalIdentifierType">
		<annotation>
			<documentation>The unique external identifier of a marketing e-mail template.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Name" type="string">
				<annotation>
					<documentation>The name of the marketing e-mail template.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="StoreIdentifier" type="_wcf:StoreIdentifierType">
                <annotation>
                	<documentation>The identifier of the store to which the marketing e-mail template is registered.</documentation>
                </annotation>
			</element>	
		</sequence>				
	</complexType>

	<complexType name="MarketingEmailTemplateIdentifierType">
		<annotation>
			<documentation>
				The unique identifier of a marketing e-mail template.
			</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID"
				type="string">
				<annotation>
					<documentation>
						The unique ID of the marketing e-mail template.
					</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier"
				type="_wcf:MarketingEmailTemplateExternalIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The unique external identifier of a marketing
						e-mail template.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- 
	Identifiers for promotion 
-->	
	<complexType name="PromotionExternalIdentifierType">
		<annotation>
			<documentation>
				Promotion external identifier type definition.
			</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>
						The name of the promotion.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier"
				type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of the store associated with the
						promotion.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="version" type="integer" use="optional"></attribute>
		<attribute name="revision" type="integer" use="optional"></attribute>
	</complexType>
	<complexType name="PromotionIdentifierType">
		<annotation>
			<documentation>
				Promotion identifier type definition.
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The unique identifier of the promotion.</documentation>
                </annotation>
			</element>
			<element name="ExternalIdentifier" minOccurs="0"
				maxOccurs="1" type="_wcf:PromotionExternalIdentifierType">
                <annotation>
                	<documentation>The external identifier of the promotion.</documentation>
                </annotation>
			</element>
            <element name="CalculationCodeIdentifier" minOccurs="0"
				maxOccurs="1" type="_wcf:CalculationCodeIdentifierType">
            	<annotation>
                	<documentation>The calculation code identifier of the promotion.</documentation>
                </annotation>
            </element>
        </sequence>
	</complexType>

	<complexType name="RewardOptionIdentifierType">
		<annotation>
			<documentation>
				Promotion reward option identifier type definition.
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The unique identifier of this promotion reward option.</documentation>
                </annotation>
			</element>
			<element name="ExternalIdentifier" minOccurs="0"
				maxOccurs="1" type="string">
                <annotation>
                	<documentation>The external identifier of this promotion reward option.</documentation>
                </annotation>
			</element>
		</sequence>
	</complexType>

		<complexType name="PriceListIdentifierType">		
		<annotation>
			<documentation>The type definition of a price list identifier.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of price list.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ExternalIdentifier" type="_wcf:PriceListExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of a price list.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
	
	<complexType name="PriceListExternalIdentifierType">
		<annotation>
			<documentation>The external identifier type of price list.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Name" type="string" >
				<annotation>
					<documentation>
						The name of the offer price.
					</documentation>
				</annotation>	
			</element>	
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identifier of the store own this PriceList.</documentation>
				</annotation>
			</element>
		</sequence>				
		<attribute name="ownerID" type="string" use="optional">
			<annotation>
				<documentation>
					The owner organization of the offer price.
				</documentation>
			</annotation>
		</attribute>
	</complexType>	

<!-- 
	Identifier types for the Attachment component
-->

	<complexType name="AttachmentExternalIdentifierType">
		<annotation>
			<documentation>
				A type definition of a unique external identifier for an Attachment Target.
			</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="string" minOccurs="1">
				<annotation>
					<documentation>
						External identifying name for the Attachment Target.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The identifier of the store that owns this attachment.
					</documentation>
				</annotation>
			</element>	
		</sequence>
		<attribute name="ownerID" type="string" use="optional">
			<annotation>
				<documentation>
					The owner of the Attachment Target.
				</documentation>
			</annotation>
		</attribute>		
	</complexType>
	<complexType name="AttachmentIdentifierType">
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID of the Attachment Target.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ExternalIdentifier" type="_wcf:AttachmentExternalIdentifierType">
				<annotation>
					<documentation>
						External identifier for the Attachment Target.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ManagedDirectoryExternalIdentifierType">
		<annotation>
			<documentation>
				A type definition of a unique external identifier for a Managed Directory.
			</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="string" minOccurs="1">
				<annotation>
					<documentation>
						External identifying name for the Managed Directory. If the full directory path 
						is /A/B/C/D, then the Identifier is D.
					</documentation>
				</annotation>
			</element>
			<element name="ParentDirectoryPath" type="string" minOccurs="0">
				<annotation>
					<documentation>
						The full parent directory path of the Managed Directory.  If the full directory path 
						is /A/B/C/D, then the parent directory path is /A/B/C.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The identifier of the store that owns this managed directory.
					</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>
	<complexType name="ManagedDirectoryIdentifierType">
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0">
				<annotation>
					<documentation>
						A unique ID of the Managed Directory.
					</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:ManagedDirectoryExternalIdentifierType" minOccurs="0" >
				<annotation>
					<documentation>
						External identifier for the Managed File Directory.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ManagedFileExternalIdentifierType">
		<annotation>
			<documentation>
				A type definition of a unique external identifier for a Managed File.
			</documentation>
		</annotation>
		<sequence>
			<element name="FileName" type="string" minOccurs="1">
				<annotation>
					<documentation>
						The file name of the Managed File. For example, if the full filepath is 
						/A/B/C/D.gif, then the file name is D.gif.
					</documentation>
				</annotation>
			</element>
			<element name="FilePath" type="string" minOccurs="1">
				<annotation>
					<documentation>
						The file path of the Managed File. For example, if the full filepath is
						/A/B/C/D.gif, then the file path is /A/B/C.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The identifier of the store that owns this managed file.
					</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>
	<complexType name="ManagedFileIdentifierType">
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID of the Managed File.
					</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:ManagedFileExternalIdentifierType" minOccurs="0">
				<annotation>
					<documentation>
						External identifier for the Managed File.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="ContainerIdentifierType">
        <annotation>
        	<documentation>
				A type definition for a container identifier.
			</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The unique ID of the workspace.
					</documentation>
				</annotation>			
			</element>
			<element name="ExternalIdentifier" type="_wcf:ContainerExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						External identifier for the workspace.
					</documentation>
				</annotation>	
			</element>
		</sequence>
	</complexType>

	<complexType name="ContainerExternalIdentifierType">
        <annotation>
        	<documentation>
				A type definition for a container external identifier.
			</documentation>
        </annotation>
        <sequence>
			<element name="Identifier" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Identifier for the workspace.
					</documentation>
				</annotation>			
			</element>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Name for the container.
					</documentation>
				</annotation>
			</element>
        </sequence>
		<attribute name="ownerID" type="string">
			<annotation>
				<documentation>
					The member ID of the user that created the workspace.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="TaskGroupIdentifierType">
        <annotation>
        	<documentation>
				A type definition for a task group identifier.
			</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The unique ID of the task group.
					</documentation>
				</annotation>			
			</element>
			<element name="ExternalIdentifier"
				type="_wcf:TaskGroupExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						External identifier for the task group.
					</documentation>
				</annotation>				
			</element>
		</sequence>
	</complexType>
	
	<complexType name="WorkspaceIdentifierType">
        <annotation>
        	<documentation>
				A type definition for a workspace identifier.
			</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The unique ID of the workspace.
					</documentation>
				</annotation>			
			</element>
			<element name="Identifier" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Identifier for the workspace.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="TaskGroupExternalIdentifierType">
        <annotation>
        	<documentation>
				A type definition for a task group external identifier.
			</documentation>
        </annotation>
        <sequence>
			<element name="Identifier" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						Identifier for the task group.
					</documentation>
				</annotation>
			</element>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Name for the task group.
					</documentation>
				</annotation>
			</element>
			<element name="ContainerIdentifier" type="_wcf:ContainerIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Identifier for the workspace.
					</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>

	<complexType name="TaskIdentifierType">
        <annotation>
        	<documentation>
				A type definition for a task identifier.
			</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The unique ID of the task.
					</documentation>
				</annotation>			
			</element>
			<element name="ExternalIdentifier"
				type="_wcf:TaskExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						External identifier for the task.
					</documentation>
				</annotation>					
			</element>
		</sequence>
	</complexType>

	<complexType name="TaskExternalIdentifierType">
        <annotation>
        	<documentation>
				A type definition for a task external identifier.
			</documentation>
        </annotation>
        <sequence>
			<element name="Identifier" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						Identifier for the task.
					</documentation>
				</annotation>
			</element>
			<element name="TaskGroupIdentifier"
				type="_wcf:TaskGroupIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Identifier for the task group.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="PhysicalStoreIdentifierType">
		<annotation>
			<documentation>The type definition of the physical store identifier.</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The unique ID of the physical store.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The external identifier of the physical store.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="InventoryAvailabilityExternalIdentifierType">
		<annotation>
			<documentation>The type definition of an external identifier for an InventoryAvailability.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="CatalogEntryIdentifier" type="_wcf:CatalogEntryIdentifierType">
				<annotation>
					<documentation>The catalog entry identifier.</documentation>
				</annotation>
			</element>
			<choice>
				<element maxOccurs="1" minOccurs="0" name="OnlineStoreIdentifier" type="_wcf:StoreIdentifierType">
					<annotation>
						<documentation>The online store identifier.</documentation>
					</annotation>
				</element>
				<element maxOccurs="1" minOccurs="0" name="PhysicalStoreIdentifier" type="_wcf:PhysicalStoreIdentifierType">
					<annotation>
						<documentation>The physical store identifier.</documentation>
					</annotation>
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="InventoryAvailabilityIdentifierType">
		<annotation>
			<documentation>The type definition of an InventoryAvailability identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The InventoryAvailability ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:InventoryAvailabilityExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of the InventoryAvailability.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="InventoryReceiptExternalIdentifierType">
		<annotation>
			<documentation>The type definition of an external identifier for an inventory receipt.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="CatalogEntryIdentifier" type="_wcf:CatalogEntryIdentifierType">
				<annotation>
					<documentation>The catalog entry identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="StoreIdentifier" type="_wcf:StoreIdentifierType">
					<annotation>
						<documentation>The store identifier.</documentation>
					</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="FulfillmentCenterIdentifier" type="_wcf:FulfillmentCenterIdentifierType">	
				<annotation>
					<documentation>The fulfillment center identifier.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="CreationTime" type="dateTime">
				<annotation>
					<documentation>Date and time the inventory record was created.</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>
	
	<complexType name="InventoryReceiptIdentifierType">
		<annotation>
			<documentation>
				A type definition of an inventory receipt identifier.
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>The unique identifier of the inventory receipt.</documentation>
                </annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:InventoryReceiptExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of the inventory receipt.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="ExpectedInventoryRecordExternalIdentifierType">
		<annotation>
			<documentation>The type definition of an external identifier for an expected inventory record.</documentation>
		</annotation>
		<sequence>			
			<element maxOccurs="1" minOccurs="1" name="StoreIdentifier" type="_wcf:StoreIdentifierType">
					<annotation>
						<documentation>The store identifier.</documentation>
					</annotation>
			</element>
			<element maxOccurs="1" minOccurs="1" name="VendorName" type="string">
				<annotation>
					<documentation>The vendor name.</documentation>
				</annotation>
			</element>	
			<element maxOccurs="1" minOccurs="1" name="CreateDate" type="dateTime">
				<annotation>
					<documentation>Date and time the expected inventory record was created.</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>
	
	<complexType name="ExpectedInventoryRecordIdentifierType">
		<annotation>
			<documentation>
				A type definition of an expected inventory receipt identifier.
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>The unique identifier of the expected inventory record.</documentation>
                </annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:ExpectedInventoryRecordExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of the expected inventory record.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="QuoteIdentifierType">
		<annotation>
			<documentation>The type definition of an quote identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique quote ID.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalQuoteID" type="string">
				<annotation>
					<documentation>The external quote ID.</documentation>
				</annotation>
			</element>		
		</sequence>
	</complexType>
	
	<complexType name="GiftListExternalIdentifierType">
    	<sequence>
    		<element name="ExternalIdentifier" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The identifier that shoppers use to search for a gift list.</documentation>
    			</annotation></element>
    		<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="1">
    			<annotation>
    				<documentation>The store identifier indicating the store to which the gift list belongs.</documentation>
    			</annotation></element>
    	</sequence>
    </complexType>
	<complexType name="GiftListIdentifierType">
        <annotation>
        	<documentation></documentation>
        </annotation>
        <sequence>
    		<element name="UniqueID" type="string" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The internal unique ID of the gift list.</documentation>
                </annotation>
    		</element>
    		<element name="GiftListExternalIdentifier"
    			type="_wcf:GiftListExternalIdentifierType" maxOccurs="1"
    			minOccurs="1">
                <annotation>
                	<documentation>The external identifier to identify the gift list.</documentation>
                </annotation>
    		</element>
    	</sequence>
    </complexType>

	<complexType name="WalletExternalIdentifierType">
		<annotation>
			<documentation>The type definition of a digital wallet's external identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="StoreIdentifier" type="_wcf:StoreIdentifierType">
				<annotation>
					<documentation>Identifier of the store in which the digital wallet is created.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Name" type="string">
				<annotation>
					<documentation>Name of the digital wallet.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="ownerID" type="string" use="optional">
			<annotation>
				<documentation>Owner of the digital wallet.</documentation>
			</annotation>
		</attribute>		
	</complexType>

	<complexType name="WalletIdentifierType">
		<annotation>
			<documentation>The type definition of a digital wallet's identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>Internal identifier of the digital wallet.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:WalletExternalIdentifierType">
				<annotation>
					<documentation>External identifier of the digital wallet.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>


	<complexType name="WalletItemExternalIdentifierType">
		<annotation>
			<documentation>The type definition of a wallet item's external identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="WalletIdentifier" type="_wcf:WalletIdentifierType">
				<annotation>
					<documentation>Identifier of the digital wallet to which the wallet item belongs.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="FolderIdentifier" type="_wcf:WalletItemIdentifierType">
				<annotation>
					<documentation>identifier of the wallet folder in which the wallet item is stored.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Name" type="string">
				<annotation>
					<documentation>Name of the wallet item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="Path" type="string">
				<annotation>
					<documentation>Path of the wallet item.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="WalletItemIdentifierType">
		<annotation>
			<documentation>The type definition of a wallet item's identifier.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>Internal identifier of the wallet item.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_wcf:WalletItemExternalIdentifierType">
				<annotation>
					<documentation>External identifier of the wallet item.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="PriceRuleIdentifierType">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
					</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:PriceRuleExternalIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PriceRuleExternalIdentifierType">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="FormulaIdentifierType">
		<annotation>
			<documentation>The unique identifier of a formula.	</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
					</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:FormulaExternalIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="FormulaExternalIdentifierType">
		<annotation>
			<documentation>The unique external identifier of a formula.		</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="PriceConstantIdentifierType">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
					</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:PriceConstantExternalIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PriceConstantExternalIdentifierType">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="CatalogFilterIdentifierType">		
		<annotation>
			<documentation>The type definition of a catalog filter identifier.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" maxOccurs="1" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of catalog filter.</documentation>
				</annotation>
			</element>
			<element minOccurs="0"  maxOccurs="1" name="ExternalIdentifier" type="_wcf:CatalogFilterExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of a catalog filter.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
	
	<complexType name="CatalogFilterExternalIdentifierType">
		<annotation>
			<documentation>The external identifier type of catalog filter.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="Identifier"
				type="string">
				<annotation>
					<documentation>
						The name of the catalog filter.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier"
				type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of the store owns this catalog filter.
					</documentation>
				</annotation>
			</element>
			<element name="CatalogIdentifier" type="_wcf:CatalogIdentifierType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>	
	
	
	<complexType name="CatalogGroupSelectionIdentifierType">		
		<annotation>
			<documentation>The type definition of a catalog group selection identifier.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" maxOccurs="1" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of catalog group selection.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1" name="ExternalIdentifier" type="_wcf:CatalogGroupSelectionExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of catalog group selection.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
	
	<complexType name="CatalogGroupSelectionExternalIdentifierType">
		<annotation>
			<documentation>The external identifier type of catalog group selection.</documentation>
		</annotation>
		<sequence>
		
			<element name="CatalogFilterIdentifier"
				type="_wcf:CatalogFilterIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of catalog filter.
					</documentation>
				</annotation>
			</element>
			
			<element name="CatalogGroupIdentifier"
				type="_wcf:CatalogGroupIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of selected catalog group.
					</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>	
	
	<complexType name="CatalogFilterConditionGroupIdentifierType">		
		<annotation>
			<documentation>The type definition of a condition group identifier.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" maxOccurs="1" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of condition group.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1" name="ExternalIdentifier" type="_wcf:CatalogFilterConditionGroupExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of condition group.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
	
	<complexType name="CatalogFilterConditionGroupExternalIdentifierType">
		<annotation>
			<documentation>The external identifier type of catalog group selection.</documentation>
		</annotation>
		<sequence>
		
			<element name="CatalogGroupSelectionIdentifier"
				type="_wcf:CatalogGroupSelectionIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of catalog group selection.
					</documentation>
				</annotation>
			</element>
			
			<element name="Identifier"
				type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of the condition group.
					</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>	
	

    <complexType name="CatalogFilterConditionIdentifierType">		
		<annotation>
			<documentation>The type definition of a catalog filter condition identifier.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" maxOccurs="1" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of condition.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1" name="ExternalIdentifier" type="_wcf:CatalogFilterConditionExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of condition.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
	
	<complexType name="CatalogFilterConditionExternalIdentifierType">
		<annotation>
			<documentation>The external identifier type of catalog filter condition.</documentation>
		</annotation>
		<sequence>
		
			<element name="CatalogFilterConditionGroupIdentifier"
				type="_wcf:CatalogFilterConditionGroupIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of catalog group selection.
					</documentation>
				</annotation>
			</element>
			
			<element name="Identifier"
				type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of the condition.
					</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>
	
	<complexType name="ProductSetIdentifierType">
		<annotation>
			<documentation>
				A type definition for a product set identifier.
			</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID for a product set.
					</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="ExternalIdentifier"
				type="_wcf:ProductSetExternalIdentifierType">
				<annotation>
					<documentation>
						An external identifier for a product set.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="ProductSetExternalIdentifierType">
		<sequence>
			<element minOccurs="1" name="Name" type="string">
				<annotation>
					<documentation>
						The name for a product set.
					</documentation>
				</annotation>
			</element>
	
		</sequence>
	    <attribute name="ownerID" type="string" use="required">
			<annotation>
				<documentation>The owner of the product set.</documentation>
			</annotation>
		</attribute>
	</complexType>
	
	<complexType name="CatalogFilterConditionValueIdentifierType">		
		<annotation>
			<documentation>The type definition of a catalog filter condition value identifier.</documentation>
		</annotation>
		<sequence>
			<element minOccurs="0" maxOccurs="1" name="UniqueID" type="string">
				<annotation>
					<documentation>The unique identifier of condition value.</documentation>
				</annotation>
			</element>
			<element minOccurs="0" maxOccurs="1" name="ExternalIdentifier" type="_wcf:CatalogFilterConditionValueExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of condition value.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
	
	<complexType name="CatalogFilterConditionValueExternalIdentifierType">
		<annotation>
			<documentation>The external identifier type of catalog filter condition value.</documentation>
		</annotation>
		<sequence>
		
			<element name="CatalogFilterConditionIdentifier"
				type="_wcf:CatalogFilterConditionIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of catalog filter condition.
					</documentation>
				</annotation>
			</element>
			
			<element name="Identifier"
				type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The identifier of the condition value.
					</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>
	
	<complexType name="SubscriptionIdentifierType">
        <annotation>
        	<documentation>This type defines the subscription identifier.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" maxOccurs="1"
				minOccurs="0">
                <annotation>
                	<documentation>The ID which uniquely identifies the subscription.</documentation>
                </annotation>
			</element>
		</sequence>
	</complexType>
    

	<complexType name="CalculationCodeIdentifierType">
		<sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The unique id of the calculation code.
					</documentation>
				</annotation>
			</element>
			<element name="CalculationCodeExternalIdentifier" type="_wcf:CalculationCodeExternalIdentifierType" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="CalculationCodeExternalIdentifierType">
		<sequence>
			<element name="CalculationUsageID" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This element is used to indicate the kind of
						calculation this CalculationCode is used for.
						For example, the CalculationCode may be used to
						calculate one of the following monetary amunts:
						discounts,shipping charges, sales tax, or
						shipping tax. Out of box: -1 is for Discount, -2
						is for Shipping, -3 is for Sales Tax, -4 is for
						Shipping Tax, -5 is for Coupon, -6 is for
						Surcharge and -7 is for Shipping Adjustment.
					</documentation>
				</annotation>
			</element>
			<element name="Code" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						A character string that uniquely identifies this
						CalculationCode, given a particular
						CalculationUsage and StoreEntity.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	
	
	<complexType name="CatalogDescriptionOverrideIdentifierType">
		<sequence>
			<element minOccurs="0" name="UniqueID" type="string">
				<annotation>
					<documentation>
						A unique ID of the catalog entity description Override.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
		
	 <complexType name="PageLayoutIdentifierType">
    	<sequence>
    		<element name="UniqueID" type="string" maxOccurs="1"
    			minOccurs="0">
                <annotation>
                	<documentation>The unique ID of the page layout.</documentation>
                </annotation>
    		</element>
    		<element name="ExternalIdentifier" type="_wcf:PageLayoutExternalIdentifierType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

     <complexType name="PageLayoutExternalIdentifierType">
        <annotation>
        	<documentation>The external identifier for the page layout. From an authoring perspective, the ownerID in conjunction with the name uniquely identifies a page layout.</documentation>
        </annotation>
        <sequence>
     		<element name="Name" type="string" maxOccurs="1" minOccurs="0">
     			<annotation>
     				<documentation>The name of the page layout.</documentation>
     			</annotation></element>
     		<element name="StoreIdentifier"
     			type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The store identifier representing the store to which the page layout belongs to.</documentation>
                </annotation>
     		</element>
     	</sequence>
     	<attribute name="ownerID" type="string">
     		<annotation>
     			<documentation>The unique ID of the owning organization of the page layout.</documentation>
     		</annotation></attribute>
     </complexType>
     
     
      <complexType name="FolderIdentifierType">
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The unique ID of a folder.
					</documentation>
				</annotation>
			</element>
			<element name="Identifier" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The external identifier of a folder.
					</documentation>
				</annotation>
			</element>
			<element name="ParentFolderIdentifier" type="_wcf:FolderIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The identifier object for the parent of a folder.
					</documentation>
				</annotation>
			</element>
			<element name="Path" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The path of a folder.
					</documentation>
				</annotation>
			</element>						
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The identifier object of the store that owns a folder.
					</documentation>
				</annotation>
			</element>
		</sequence>
		
		<attribute name="ownerID" type="string" use="optional">
			<annotation>
				<documentation>
					The owner of the folder, such as the member ID of the user who owns this folder.
				</documentation>
			</annotation>
		</attribute>
	</complexType>
	
	<complexType name="FolderItemIdentifierType">
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The unique ID of a folder item.
					</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The identifier object of the store that owns a folder item. This is the same store
						that owns the object this folder item is referencing.
					</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>
	
	<complexType name="FacetIdentifierType">
        <annotation>
        	<documentation>
				A type definition for a facet identifier.
			</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The unique ID of the facet.
					</documentation>
				</annotation>			
			</element>
			<element name="Identifier" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Identifier for the facet.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	

	<complexType name="LayoutAssociationIdentifierType">
		<annotation>
			<documentation>A type definition for the identifier of the layout association.</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The internal unique ID of the layout association.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:LayoutAssociationExternalIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The external identifier for the layout association.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="LayoutAssociationExternalIdentifierType">
		<sequence>
			<element name="Name" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>The name for the layout association.</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The identifier of the store which owns the layout association.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PageIdentifierType">
		<annotation>
			<documentation>Data type for defining the identifier of a store page.</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The unique ID of the store page.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_wcf:PageExternalIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The external identifier of the store page.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

    <complexType name="PageExternalIdentifierType">
		<annotation>
			<documentation>Data type for defining the external identifier of a store page.</documentation>
		</annotation>
    	<sequence>
    		<element name="Name" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The name of the store page</documentation>
    			</annotation>
    		</element>
    		<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The store identifier of the store where the page belongs.</documentation>
    			</annotation>
    		</element>
    	</sequence>
    	<attribute name="ownerID" type="string">
    		<annotation>
    			<documentation>The member id of the member who owns the store page.</documentation>
    		</annotation>
    	</attribute>
    </complexType>

	<complexType name="LayoutIdentifierType">
		<annotation>
			<documentation>Data type for defining the identifier of a page layout.</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The unique ID of a page layout.</documentation>
				</annotation>
			</element>
		    <element name="ExternalIdentifier" type="_wcf:LayoutExternalIdentifierType" maxOccurs="1" minOccurs="0">
		    	<annotation>
		    		<documentation>The external identifier of a page layout.</documentation>
		    	</annotation>
		    </element>
		</sequence>
	</complexType>

    <complexType name="LayoutExternalIdentifierType">
		<annotation>
			<documentation>Data type for defining the external identifier of a page layout.</documentation>
		</annotation>
    	<sequence>
    		<element name="Name" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The administration name of a page layout.</documentation>
    			</annotation>
    		</element>
    		<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The store identifier of the store where the page layout belongs.</documentation>
    			</annotation>
    		</element>
    	</sequence>
    	<attribute name="ownerID" type="string">
    		<annotation>
    			<documentation>The member id of the member who owns the page layout.</documentation>
    		</annotation>
    	</attribute>
    </complexType>

    <complexType name="PageLocationIdentifierType">
		<annotation>
			<documentation>Data type for defining the identifier of a page location.</documentation>
		</annotation>
    	<sequence>
    		<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The unique id of the page location.</documentation>
    			</annotation>
    		</element>
    	</sequence>
    </complexType>

	<complexType name="WidgetIdentifierType">
        <annotation>
        	<documentation>The identifier for the widget placed on the page layout. This is used to uniquely identify a widget on the page layout</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The internal unique ID of the widget on the page layout.</documentation>
				</annotation></element>
			<element name="Name" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The name provided to the widget on the page layout.</documentation>
				</annotation></element>
		</sequence>
	</complexType>

	<complexType name="WidgetDefinitionExternalIdentifierType">
        <annotation>
        	<documentation>The external identifier for the widget. This is used to identify a widget when the internal unique ID is not known.</documentation>
        </annotation>
        <sequence>
			<element name="Identifier" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The external identifying name for the widget. This name is unique in the context of the store.</documentation>
				</annotation></element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The store at which the widget is defined.</documentation>
				</annotation></element>
		</sequence>
	</complexType>

	<complexType name="WidgetDefinitionIdentifierType">
        <annotation>
        	<documentation>The unique identifier for a widget.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The internal unique ID of the widget.</documentation>
				</annotation></element>
			<element name="ExternalIdentifier" type="_wcf:WidgetDefinitionExternalIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The identifier that is used to uniquely identify a widget when its unique ID is not known. </documentation>
				</annotation></element>
		</sequence>
	</complexType>

	<complexType name="LayoutSlotIdentifierType">
        <annotation>
        	<documentation>The identifier for a slot in the page layout.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The internal unique ID of the slot.</documentation>
				</annotation></element>
			<element name="Name" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>The name given to the slot.</documentation>
				</annotation></element>
		</sequence>
	</complexType>
</schema>
