WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Components/InventoryCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9" 
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_inv="http://www.ibm.com/xmlns/prod/commerce/9/inventory"
	attributeFormDefault="unqualified" 
	elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/inventory"
	ecore:nsPrefix="_inv" 
	ecore:package="com.ibm.commerce.inventory.facade.datatypes">

	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="CommonTypes.xsd" />

	<annotation>
		<documentation>
			This file defines the common elements and types shared by the Inventory component.
		</documentation>
	</annotation>		
	
	<complexType name="ExpectedInventoryDetailExternalIdentifierType">
		<annotation>
			<documentation>The type definition of an external identifier for an expected inventory detail.</documentation>
		</annotation>
		<sequence>			
			<element maxOccurs="1" minOccurs="1" name="CatalogEntryIdentifier" type="_wcf:CatalogEntryIdentifierType">
				<annotation>
					<documentation>The catalog entry identifier.</documentation>
				</annotation>
			</element>
			<element name="FulfillmentCenterIdentifier" maxOccurs="1" minOccurs="0" type="_wcf:FulfillmentCenterIdentifierType">
				<annotation>
					<documentation>The fulfillment center identifier.</documentation>
				</annotation>
			</element>			
			<element maxOccurs="1" minOccurs="1" name="ExpectedDate" type="dateTime">
				<annotation>
					<documentation>Expected date and time of the expected inventory detail.</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>
	
	<complexType name="ExpectedInventoryDetailIdentifierType">
		<annotation>
			<documentation>Type definition of an expected inventory detail identifier.</documentation>
		</annotation>
		<sequence>
			<element name="UniqueID" maxOccurs="1" minOccurs="0" type="string">
				<annotation>
					<documentation>Unique ID of the expected inventory detail.</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="ExternalIdentifier" type="_inv:ExpectedInventoryDetailExternalIdentifierType">
				<annotation>
					<documentation>The external identifier of the expected inventory detail.</documentation>
				</annotation>
			</element>
		</sequence>		
	</complexType>
</schema>
