WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Components/MarketingCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cat="http://www.ibm.com/xmlns/prod/commerce/9/catalog"
	xmlns:_mkt="http://www.ibm.com/xmlns/prod/commerce/9/marketing"
	attributeFormDefault="unqualified" 
	ecore:nsPrefix="_mkt"
	ecore:package="com.ibm.commerce.marketing.facade.datatypes"
	elementFormDefault="qualified"
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/marketing">

	<annotation>
		<documentation>This Marketing XML schema file defines the common marketing types.</documentation>
	</annotation>
	
	<import namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation" schemaLocation="../Components/CommonTypes.xsd"/>
		
	<simpleType name="MarketingSpotActivityDataEnumerationType">
        <annotation>
        	<documentation>The types of data to display in an e-Marketing Spot.  Supported types are CatalogGroup, CatalogEntry, MarketingContent or any custom type.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="CatalogGroup"></enumeration>
			<enumeration value="CatalogEntry"></enumeration>
			<enumeration value="MarketingContent"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="MarketingSpotActivityDataFormatType">
      <annotation>
      	<documentation>Allows extension to the default marketing spot data types.
			</documentation>
      </annotation>
      <union memberTypes="_mkt:MarketingSpotActivityDataEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
	
	<complexType name="MarketingContentType">
        <annotation>
        	<documentation>Marketing content refers to any creative material created for your site.</documentation>
        </annotation>
        <sequence>
			<element name="MarketingContentIdentifier"
				type="_wcf:MarketingContentIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The unique identifier of the marketing content.
					</documentation>
				</annotation>
			</element>
			<element ref="_mkt:MarketingContentDescription"
				minOccurs="0" maxOccurs="unbounded">
			</element>
			
			<element name="MarketingContentFormat" type="_mkt:MarketingContentFormatType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The type of the marketing content.</documentation>
				</annotation>
			</element>
			<element name="ClickAction" type="_mkt:ClickActionEnumerationType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The number of click actions of the marketing content: "None", "Single"(URL) or "Multiple"(Image Map)</documentation>
				</annotation>
			</element>
			<element name="InputOption" type="_mkt:InputOptionEnumerationType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The input options for the marketing content image map. Two options are support: "Area" means the image map is defined by individual area. 
        				"Source" means the image map is defined by HTML source code.					
					</documentation>
				</annotation>
			</element>
			<element name="Url" type="string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>The click action to be invoked when the marketing content on the page is clicked.</documentation>
				</annotation>
			</element>
			<element name="MarketingContentImageMap" type="_mkt:MarketingContentImageMapType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The definition of the image map (clickable areas of a image). It is language sensitive.</documentation>
				</annotation>
			</element>
			<element name="MimeType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The mime type of the marketing content.
					</documentation>
				</annotation>
			</element>
 			<element name="Attachment" type="_wcf:AttachmentReferenceType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The attachment associated with the marketing content.</documentation>
				</annotation>
			</element>
			<element name="MarketingSpotBehavior" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>If this content displays the same results to all customers, then the value is 0.  
					If this content has dynamic behavior that can display different results, then the value is 1. 
					The associated e-Marketing Spot can use this setting to determine how to cache the e-Marketing Spot results.
					</documentation>
				</annotation>
			</element>
			<element name="UIDisplayable" type="integer" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies if this content
						should be displayed in the administration UI.
					</documentation>
				</annotation>
			</element>
			<element name="ManagingTool" type="integer" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						This value identifies the tool that manages this content.
					</documentation>
				</annotation>
			</element>
			<element name="OvrMktLimit" type="integer" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						This value identifies if this marketing content
						can display attachments that exceed the marketing
						 file size limit.
					</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>

	<complexType name="MarketingContentDescriptionType">
        <annotation>
        	<documentation>The description of a marketing content.</documentation>
        </annotation>
        <sequence>
			<element name="Location" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The location of a marketing content.</documentation>
				</annotation>
			</element>
			<element name="MarketingText" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The marketing text of a marketing content.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>
	</complexType>	
	
	<complexType name="MarketingContentFormatType">
        <annotation>
        	<documentation>The type of the marketing content.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique ID of the type of the marketing content.</documentation>
				</annotation>
			</element>
			<element name="Name" type="_mkt:MarketingContentFormatsType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name of the type of the marketing content.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
		
	<simpleType name="MarketingContentFormatEnumerationType">
        <annotation>
        	<documentation>The supported types of marketing content.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="Flash" />
			<enumeration value="Image" />
			<enumeration value="Text" />
			<enumeration value="File" />
			<enumeration value="Sms" />
		</restriction>
	</simpleType>
			
	<simpleType name="MarketingContentFormatsType">
      <annotation>
          <documentation>Allows extension to the default marketing content types.
			</documentation>
  		</annotation>
  		<union memberTypes="_mkt:MarketingContentFormatEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
	 
	<complexType name="MarketingContentImageMapType">
        <annotation>
        	<documentation>The definition of the image map for image with clickable areas.</documentation>
        </annotation>
        <sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name of the image map.</documentation>
				</annotation>
			</element>
			<element name="Area" type="_mkt:AreaType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>A clickable area in a image map.</documentation>
				</annotation>
			</element>
			<element name="Source" type="string"
				minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>The HTML definition of the image map. This element is used when users want to define the whole image map directlly using HTML</documentation>
                </annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>
	</complexType>	
	
	<complexType name="AreaType">
        <annotation>
        	<documentation>The definition of a clickable area in an image map.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique ID of the image map area.</documentation>
				</annotation>
			</element>
			<element name="Shape" type="_mkt:AreaShapeEnumerationType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The shape of the area. Three types of shape are supported: "rect" (Rectangle), "circle" (Circle) and "poly" (Polygon)</documentation>
				</annotation>
			</element>
			<element name="Coordinates" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The coordinates of the area. For example, "0,0,82,126" for an rectangle area.</documentation>
				</annotation>
			</element>
			<element name="Url" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The click action to be invoked when the area is clicked. </documentation>
				</annotation>
			</element>			
			<element name="Target" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Specifies where to open the target URL. For example, "_blank", "_parent", "_self", "_top" or frame name </documentation>
				</annotation>
			</element>			
			<element name="Title" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The title of the area. It shows when mouse pointer hover on this area</documentation>
				</annotation>
			</element>		
			<element name="AlternateText"  type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>An alternate text for the area.</documentation>
				</annotation>
			</element>	
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="displaySequence" type="double"
			use="optional">
			<annotation>
				<documentation>The sequence of the area.</documentation>
			</annotation>
		</attribute>
	</complexType>	

	<simpleType name="ClickActionEnumerationType">
        <annotation>
        	<documentation>
        		The number of click actions (URL) supported by the marketing content. "None" means there is no URL defined for the marketing content.
        		"Single" means the whole marketing content is mapped to one single URL. "Multiple" means the HTML image map is defined for the marketing content.
        		The image map has multiple areas, each has its own URL.
        	</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="None"></enumeration>
			<enumeration value="Single"></enumeration>
			<enumeration value="Multiple"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="InputOptionEnumerationType">
        <annotation>
        	<documentation>
        		The input options for the marketing content image map. "Area" means the image map is defined by individual area. 
        		"Source" means the image map is defined by HTML definition code.
        	</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="Area"></enumeration>
			<enumeration value="Source"></enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="AreaShapeEnumerationType">
        <annotation>
        	<documentation>
        		The types of supported map areas.  Three types of shape are supported: "rect" (Rectangle), "circle" (Circle) and "poly" (Polygon)
        	</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="rect"></enumeration>
			<enumeration value="circle"></enumeration>
			<enumeration value="poly"></enumeration>
		</restriction>
	</simpleType>
 			
	<simpleType name="ActivityFormatEnumerationType">
        <annotation>
        	<documentation>The types of supported marketing activities.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="Web"></enumeration>
			<enumeration value="Dialog"></enumeration>
			<enumeration value="Email"></enumeration>
			<enumeration value="Search"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="ActivityFormatType">
      <annotation>
          <documentation>Allows extension to the default activity types.
			</documentation>
  		</annotation>
  		<union memberTypes="_mkt:ActivityFormatEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
	
	<simpleType name="CampaignElementFormatEnumerationType">
        <annotation>
        	<documentation>The types of campaign elements.  Supported types are Trigger, Target, and Action.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="Trigger"></enumeration>
			<enumeration value="Target"></enumeration>
			<enumeration value="Action"></enumeration>
			<enumeration value="Branch"></enumeration>
			<enumeration value="Path"></enumeration>			
			<enumeration value="Data"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="CampaignElementFormatType">
      <annotation>
          <documentation>Allows extension to the default campaign element types.
			</documentation>
  		</annotation>
  		<union memberTypes="_mkt:CampaignElementFormatEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
 
	<complexType name="CampaignElementIdentifierType">
        <annotation>
        	<documentation>The unique identifier of a campaign element.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string">
				<annotation>
					<documentation>The unique ID of a campaign element.</documentation>
				</annotation>
			</element>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name to identify the element within the marketing activity.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>		

	<simpleType name="MarketingSpotOrderFormatEnumerationType">
        <annotation>
        	<documentation>The types of data to display in an e-Marketing Spot.  Supported types are CatalogGroup, CatalogEntry, MarketingContent or any custom type.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="None"></enumeration>
			<enumeration value="Random"></enumeration>
        </restriction>
	</simpleType>

	<simpleType name="MarketingSpotOrderFormatType">
      <annotation>
      	<documentation>Allows extension to the default marketing spot data types.
			</documentation>
      </annotation>
      <union memberTypes="_mkt:MarketingSpotOrderFormatEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
 	
	<complexType name="MarketingSpotOrderType">
        <annotation>
        	<documentation>The ordering scheme set up on an e-Marketing Spot for specific content types.</documentation>
        </annotation>
        <sequence>
			<element name="MarketingSpotOrderIdentifier" type="_mkt:MarketingSpotOrderIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique identifier of an ordering scheme set up on an e-Marketing Spot for specific content types.</documentation>
				</annotation>
			</element>
			<element name="MarketingSpotOrderInterfaceName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The interface name of an ordering scheme set up on an e-Marketing Spot for specific content types.</documentation>
				</annotation>
			</element>
            <element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>			
		</sequence>
	</complexType>

	<complexType name="MarketingSpotOrderExternalIdentifierType">
		<annotation>
			<documentation>The unique external identifier of a marketing spot ordering scheme.</documentation>
		</annotation>
		<sequence>
			<element name="MarketingSpotActivityDataFormat"
				type="_mkt:MarketingSpotActivityDataFormatType" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The type of data that can be ordered by the ordering scheme.</documentation>
                </annotation>
			</element>
			<element name="MarketingSpotOrderFormat" type="_mkt:MarketingSpotOrderFormatType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name of the ordering scheme.</documentation>
				</annotation>
			</element>		
		</sequence>
	</complexType>

	<complexType name="MarketingSpotOrderIdentifierType">
        <annotation>
        	<documentation>The unique identifier of an ordering scheme set up on an e-Marketing Spot for specific content types.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The unique ID of an ordering scheme set up on an e-Marketing Spot for specific content types.</documentation>
                </annotation>
			</element>
			<element name="ExternalIdentifier" type="_mkt:MarketingSpotOrderExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique external identifier of a marketing spot ordering scheme.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>

	<complexType name="MarketingSpotPageType">
        <annotation>
        	<documentation>A store page which contains an e-Marketing Spot.</documentation>
        </annotation>
        <sequence>
			<element name="MarketingSpotPageIdentifier" type="_mkt:MarketingSpotPageIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique identifier of a store page which contains an e-Marketing Spot.</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The description of a store page which contains an e-Marketing Spot.</documentation>
				</annotation>
			</element>
			<element name="Path" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The path to a store page which contains an e-Marketing Spot.</documentation>
				</annotation>
			</element>
            <element maxOccurs="1" minOccurs="0" ref="_wcf:UserData">
				<annotation>
					<documentation>User Data.</documentation>
				</annotation>
			</element>			
		</sequence>
	</complexType>

	<complexType name="MarketingSpotPageExternalIdentifier">
		<annotation>
			<documentation>The unique external identifier of a marketing spot page.</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The name of a store page which contains an e-Marketing Spot.</documentation>
				</annotation>
			</element>
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique identifier of the store associated with the store page which contains an e-Marketing Spot.</documentation>
				</annotation>
			</element>		
		</sequence>
	</complexType>
	
	<complexType name="MarketingSpotPageIdentifierType">
        <annotation>
        	<documentation>The unique identifier of a store page which contains an e-Marketing Spot.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique ID of a store page which contains an e-Marketing Spot.</documentation>
				</annotation>
			</element>
			<element name="ExternalIdentifier" type="_mkt:MarketingSpotPageExternalIdentifier" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique external identifier of a marketing spot page.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>
	
	<complexType name="CampaignElementTemplateExternalIdentifierType">
		<annotation>
			<documentation>The unique external identifier of a campaign element template.</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="string" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The name of a template definition of an element within a marketing campaign.</documentation>
                </annotation>
			</element>
			<element name="CampaignElementFormat"
				type="_mkt:CampaignElementFormatType" minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>The format of a template definition of an element within a marketing campaign.</documentation>
                </annotation>
			</element>
			<element name="StoreIdentifier"
				type="_wcf:StoreIdentifierType" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The identifier of the store in which the template definition is registered.</documentation>
                </annotation>
			</element>
		</sequence>
	</complexType>
		
	<complexType name="CampaignElementTemplateIdentifierType">
        <annotation>
        	<documentation>The unique identifire of a template definition of an element within a marketing campaign.</documentation>
        </annotation>
        <sequence>
			<element name="UniqueID" type="string" minOccurs="0"
				maxOccurs="1">
                <annotation>
                	<documentation>The unique ID of a template definition of an element within a marketing campaign.</documentation>
                </annotation>
			</element>
			<element name="ExternalIdentifier" type="_mkt:CampaignElementTemplateExternalIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique external identifier of a campaign element template.</documentation>
				</annotation>
			</element>
        </sequence>
	</complexType>
	
	<element name="MarketingContentDescription" type="_mkt:MarketingContentDescriptionType">
		<annotation>
			<documentation>The description of a marketing content.</documentation>
		</annotation>
	</element>

	<simpleType name="MarketingStateEnumerationType">
        <annotation>
        	<documentation>The state of a campaign or marketing activity.</documentation>
        </annotation>
        <restriction base="normalizedString">
			<enumeration value="Active"></enumeration>
			<enumeration value="Inactive"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="MarketingStateType">
      <annotation>
          <documentation>Allows extension to the default marketing state types.
			</documentation>
  		</annotation>
  		<union memberTypes="_mkt:MarketingStateEnumerationType _wcf:EnumerationExtensionType"/>
 	</simpleType>
 	
</schema>
