WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Components/PageLayoutCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2012, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/pagelayout"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_pgl="http://www.ibm.com/xmlns/prod/commerce/9/pagelayout"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	ecore:nsPrefix="_pgl"
	ecore:package="com.ibm.commerce.pagelayout.facade.datatypes">
	
    <import schemaLocation="IdentifierTypes.xsd" namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"/>
    <import schemaLocation="BaseTypes.xsd" namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"/>

	<complexType name="WidgetPropertyType">
		<annotation>
			<documentation>
				The datatype representing a configurable property of the
				widget. The widget properties are parameters required
				for the widget to render on the store page.
			</documentation>
		</annotation>
		
		<sequence>
			<annotation>
				<documentation>
					This type represents widget properties. A property
					can have a single value, a list or a map as values.
				</documentation>
			</annotation>

            <element name="WidgetPropertyID" type="string" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>The unique ID associated with the widget property.</documentation>
            	</annotation></element>
            <element name="Name" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						The name of the property. This corresponding to
						the name of a parameter.
					</documentation>
				</annotation>
			</element>

			<element name="StoreIdentifier"
				type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The identifier of the store that this widget
						property is specific to.
					</documentation>
				</annotation>
			</element>

			<element name="Value" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						The value assigned to the property.
					</documentation>
				</annotation>
			</element>

			<element name="UserData" type="_wcf:UserDataType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Name-Value pair elements for customization.
					</documentation>
				</annotation>
			</element>
		</sequence>

		<attribute name="sequenceOrder" type="double">
			<annotation>
				<documentation>Multi-valued properties may be specified. In such a case, the property name is same, but the values are different.
				This attribute specifies the sequence of these name-value pairs.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="ExtendedDataType">
		<annotation>
			<documentation>
				The type representing an extended data of the
				widget. The widget extended data are additional data required
				for implementing the widget.
			</documentation>
		</annotation>
		
		<sequence>
			<annotation>
				<documentation>
					This type represents widget extended data. 
				</documentation>
			</annotation>

			<element name="UniqueID" type="string" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>The unique id of extended data</documentation>
            	</annotation>
			</element>			

			<element name="Identifier" type="string" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>The unique identifier of extended data</documentation>
            	</annotation>
			</element>			
	
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>The identifier of the store that this extended data belongs to.</documentation>
            	</annotation>
			</element>
			<element name="DataType" type="string" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The type of the extended data. Examples are: IBM_DisplayTitle
					</documentation>
				</annotation>
			</element>
		
			<element name="Attributes" type="_pgl:AttributesType" maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>
						The attributes of the extended data.
					</documentation>
				</annotation>
			</element>
		
			<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Name-Value pair elements for customization.
					</documentation>
				</annotation>
			</element>
		</sequence>

		<attribute name="sequenceOrder" type="double">
			<annotation>
				<documentation>The sequence of extended data</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="AttributesType">
		<annotation>
		<documentation>The type definition for a list of attributes with same language.</documentation>
		</annotation>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0"
				name="Attribute" type="_wcf:NameValuePairType">
				<annotation>
					<documentation>
					An attribute of the extended data.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType"></attribute>					
	</complexType>	



	<complexType name="GenericSlotType">
        <annotation>
        	<documentation>The data type represents an abstract slot.</documentation>
        </annotation>
        
        <sequence>
    		<element name="InternalSlotId" type="string" maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>The internal slot ID given to a slot.</documentation>
                </annotation>
    		</element>
    		
    		<element name="PositionProperty" type="_wcf:NameValuePairType" maxOccurs="unbounded" minOccurs="0">
                <annotation>
                	<documentation>The positional properties required for the CMC to visually represent the slot.</documentation>
                </annotation>
    		</element>
    		
    		<element name="SlotType" type="string" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>The type of slot. Supported values are: Editable and ReadOnly</documentation>
    			</annotation>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="WidgetType">
    	<annotation>
    		<documentation>
    			The datatype represents a widget assigned on the page
    			layout.
    		</documentation>
    	</annotation>

    	<sequence>
    		<element name="WidgetIdentifier" type="_wcf:WidgetIdentifierType" maxOccurs="1" minOccurs="0">
    			<annotation>
    				<documentation>
    					The identifier for a widget assigned on the page
    					layout.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="WidgetDefinitionIdentifier" type="_wcf:WidgetDefinitionIdentifierType" maxOccurs="1"	minOccurs="0">
    			<annotation>
    				<documentation>
    					The store widget used along with the properties
    					configured for it.
    				</documentation>
    			</annotation>
    		</element>

			<element name="Slot" type="_pgl:LayoutSlotType"	maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						The slot in which the widget is placed.
					</documentation>
				</annotation>
			</element>

            <element name="WidgetProperty" type="_pgl:WidgetPropertyType" maxOccurs="unbounded" minOccurs="0">
            	<annotation>
            		<documentation>The list of widget properties.</documentation>
            	</annotation>
            </element>

            <element name="ExtendedData" type="_pgl:ExtendedDataType" maxOccurs="unbounded" minOccurs="0">
            	<annotation>
            		<documentation>The extended data of the widget.</documentation>
            	</annotation>
            </element>

    		<element name="ChildWidget" type="_pgl:WidgetType" maxOccurs="unbounded" minOccurs="0">
    			<annotation>
    				<documentation>
    					The child widgets for the parent widget. This is
    					used only at runtime when rendering the page
    					layout.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="UserData" type="_wcf:UserDataType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Name-Value pair elements for customization.
					</documentation>
				</annotation>
    		</element>
    	</sequence>
		
		<attribute name="widgetSequence" type="double">
			<annotation>
				<documentation>The sequence in which this widget is stacked in the list of widgets under the slot.</documentation>
			</annotation>
		</attribute>
    </complexType>

    <complexType name="LayoutSlotType">
        <annotation>
        	<documentation>The data type represents a slot on the page layout.</documentation>
        </annotation>
        
        <complexContent>
    		<extension base="_pgl:GenericSlotType">
    			<sequence>
    				<element name="SlotIdentifier" type="_wcf:LayoutSlotIdentifierType" maxOccurs="1" minOccurs="0">
                        <annotation>
                        	<documentation>The identifier for the slot in the page layout.</documentation>
                        </annotation>
    				</element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>
</schema>