WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Components/WorkspaceCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	xmlns:_wcf="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
	xmlns:_cnt="http://www.ibm.com/xmlns/prod/commerce/9/content"	
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/content"
	ecore:nsPrefix="_cnt" 
	ecore:package="com.ibm.commerce.content.facade.datatypes">

	<annotation>
		<documentation>
			This XML schema file defines a common set of elements used by the Container, Task Group, and Task nouns.
		</documentation>
	</annotation>
	<import
		namespace="http://www.ibm.com/xmlns/prod/commerce/9/foundation"
		schemaLocation="CommonTypes.xsd" />


	<element name="TaskGroupDescription"
		type="_cnt:TaskGroupDescriptionType">
		<annotation>
			<documentation>
				The description for a task group.
			</documentation>
		</annotation>
	</element>


	<element name="TaskGroupComments" type="_cnt:TaskGroupCommentsType">
		<annotation>
			<documentation>
				The comments for a task group.
			</documentation>
		</annotation>
	</element>
	
	<element name="TaskGroupApprovers" type="_cnt:TaskGroupApproversType">
		<annotation>
			<documentation>
				The approvers for a task group.
			</documentation>
		</annotation>	
	</element>
	
	<element name="TaskDescription" type="_cnt:TaskDescriptionType">
		<annotation>
			<documentation>
				The description for a task.
			</documentation>
		</annotation>
	</element>
	
	<element name="TaskMembers" type="_cnt:TaskMembersType">
		<annotation>
			<documentation>
				The members belonging to a task.
			</documentation>
		</annotation>
	</element>
	
	<complexType name="TaskGroupDescriptionType">
		<sequence>
			<element name="Name" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The name for a task group.
					</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The short description for a task group.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this task group description.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	

	
	<complexType name="TaskGroupCommentsType">
		<sequence>
			<element name="TaskGroupComment" type="_cnt:TaskGroupCommentType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The list of comments for a task group.</documentation>
				</annotation>			
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>


	<complexType name="TaskGroupCommentType">
		<sequence>
			<element name="Comment" minOccurs="0" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						A comment for a task group.
					</documentation>
				</annotation>
			</element>
			<element name="PostedBy" type="_cnt:TaskGroupCommentsPostedByType"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="PostDate" type="dateTime" minOccurs="0"
				maxOccurs="1">
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"></element>
		</sequence>
		<attribute name="language" type="_wcf:LanguageType">
			<annotation>
				<documentation>
					The language of a comment that was posted for a
					task group.
				</documentation>
			</annotation>
		</attribute>
	</complexType>
	
	<complexType name="TaskGroupCommentsPostedByType">
		<sequence>
			<element name="PersonIdentifier" type="_wcf:PersonIdentifierType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The identification of the person who has posted this comment.</documentation>
				</annotation>
			</element>
			<element name="LogonID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The logon ID of the person who has posted this comment.</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	
	<complexType name="TaskGroupApproversType">
		<sequence>
			<element name="TaskGroupApprover"
				type="_cnt:TaskGroupApproverType" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The list of approvers for a task
						group.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="TaskDescriptionType">
		<sequence>
			<element name="Name" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>The name for a task.</documentation>
				</annotation>
			</element>
			<element name="Description" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						The short description for a task.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Additional data for this task description.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="TaskMembersType">
		<sequence>
			<element name="TaskMember" type="_cnt:TaskMemberType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						The list of members for a task. The
						member can either be a content contributor or a
						content approver.
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<element name="TaskGroupApprover" type="_cnt:TaskGroupApproverType"></element>

	<complexType name="TaskGroupApproverType">
		<sequence>
			<element name="Approver" type="_wcf:PersonIdentifierType" minOccurs="0" maxOccurs="1"></element>
			<element name="LogonID" type="string" minOccurs="0" maxOccurs="1"></element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<element name="TaskMember" type="string"></element>

	<complexType name="TaskMemberType">
		<sequence>
			<element name="Member" type="_wcf:PersonIdentifierType" minOccurs="0" maxOccurs="1"></element>
			<element name="LogonID" type="string" minOccurs="0" maxOccurs="1"></element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	
	<simpleType name="WorkspaceStatusEnumerationType">
		<annotation>
			<documentation>
				The possible status values of a workspace.
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Active" />
			<enumeration value="Complete" />
			<enumeration value="Cancelled" />
			<enumeration value="Cancel in progress" />
		</restriction>
	</simpleType>
	
	<simpleType name="WorkspaceStatusType">
		<annotation>
			<documentation>
				The status of this workspace.
			</documentation>
		</annotation>
		<union memberTypes="_cnt:WorkspaceStatusEnumerationType _wcf:EnumerationExtensionType"/>
	</simpleType>
	    <element name="TaskGroupChangeHistories" type="_cnt:TaskGroupChangeHistoriesType">
		<annotation>
			<documentation>
				The change history for a task group
			</documentation>
		</annotation>
	</element>
	
	<complexType name="TaskGroupChangeHistoriesType">
		<sequence>
			<element name="TaskGroupChangeHistory" type="_cnt:TaskGroupChangeHistoryType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>The list of change history for a task group.</documentation>
				</annotation>			
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	
	<complexType name="TaskGroupChangeHistoryType">
		<sequence>
			<element minOccurs="0" name="HistoryUniqueId" type="string">
				<annotation>
					<documentation>
						A unique ID for a changed primary object.
					</documentation>
				</annotation>
			</element>
		
			<element name="ChangeHistoryExternalIdentifier" type="_cnt:ChangeHistoryExternalIdentifierType"		minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The unique index for the change history record
					</documentation>
				</annotation>
			</element>
			
			<element name="TaskDescriptionType" type="_cnt:TaskDescriptionType"	minOccurs="0"  maxOccurs="1">
				<annotation>
					<documentation>
						The task's name which will always return the english name.
					</documentation>
				</annotation>
			</element>
		
			<element name="ChangedBy" type="_cnt:TaskMemberType" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>
						the user who conduct the change.
					</documentation>
				</annotation>
			</element>
			
			<element name="ChangedTime" type="string" minOccurs="1"	maxOccurs="1"></element>
			
			<element name="ObjectCode" type="string" minOccurs="1"	maxOccurs="1"></element>	

			<element name="Action" type="_cnt:ActionType"	minOccurs="0" maxOccurs="1"></element>
				
			<element name="Source" type="short"	minOccurs="0" maxOccurs="1"></element>
				
			<element name="ChangeHistoryExtendedDataList" type="_cnt:ChangeHistoryExtendedDataListType">
				<annotation>
					<documentation>
						The extended data for a task group change history reocrd
					</documentation>
				</annotation>
			</element>
			<element ref="_wcf:UserData" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>
	       <complexType name = "ChangeHistoryExtendedDataListType">
			
				<sequence>	
					<element name="ChangeHistoryExtendedData" type="_cnt:ChangeHistoryExtendedDataType" minOccurs="1"	maxOccurs="unbounded"> </element>
				</sequence>
				
			</complexType>
	<complexType name="ChangeHistoryExtendedDataType">
		<sequence>
		    <element name="UniqueId" type="long"></element>
			<element name="ExtendedAttributeName" type="string"></element>
			<element name="ExtendedAttributeValue" type="string"></element>
		</sequence>
	</complexType>
			
	<simpleType name="ActionType">
		<annotation>
			<documentation>
				The action performed on the business object (new,
				update, delete).
			</documentation>
		</annotation>
		<restriction base="normalizedString">
			<enumeration value="Modify" />
			<enumeration value="Delete" />
			<enumeration value="Create" />
		</restriction>
	</simpleType>

	<complexType name="ChangeHistoryExternalIdentifierType">
		<sequence>
			<element name="PrimaryObjectUniqueId" type="long"></element>

			<element name="PrimaryObjectType" type="string">
				<annotation>
					<documentation>
						PrimaryObjectType is actually the primary object type for the changed noun part. For example, if under workspace,
						the	contributor change the merchandising association, then the changed history being recorded/locked by the workspace
						is MASSOCCECE object,but what we really want to show on the change history list	is the parent object CATENTRY.
						Which is to say when an individual noun part has been changed, the parent noun will be shown as change history.
						In this case, when MASSOCCECE was found in the workspace meta data, get Service for the noun Catentry will be populated and shown.
					</documentation>
				</annotation>
			</element>

			<element name="TaskGroupExternalIdentifier" type="_wcf:TaskGroupExternalIdentifierType" 	minOccurs="0"  maxOccurs="1">
				<annotation>
					<documentation>
						The taskgroup external identifier type.
					</documentation>
				</annotation>
			</element>

			<element name="WorkspaceIdentifier" type="_wcf:WorkspaceIdentifierType" 	minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The workspace identifier type.
					</documentation>
				</annotation>
			</element>
			
			<element name="StoreIdentifier" type="_wcf:StoreIdentifierType"  minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	</schema>
