WC/xml/tools/catalog/CatalogTools.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--********************************************************************-->
<!--  Licensed Materials - Property of IBM                              -->
<!--                                                                    -->
<!--  WebSphere Commerce                                                -->
<!--                                                                    -->
<!--  (c) Copyright IBM Corp. 2006                                      -->
<!--                                                                    -->
<!--  US Government Users Restricted Rights - Use, duplication or       -->
<!--  disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->
<!--                                                                    -->
<!--********************************************************************-->

<!-- This file currently defines PBContents, MAssociations and CGContents -->
<!ELEMENT CatalogToolsXML (PBContents*,MAssociations*, CGContents*)>

<!-- PBContents -->
<!ELEMENT PBContents (PackageBundleContents+)>
	<!ELEMENT PackageBundleContents (PackageBundle, SKU+)>
	
		<!ELEMENT PackageBundle EMPTY>
		<!ATTLIST PackageBundle
			catentryId 		CDATA  					#REQUIRED
			type	   		CDATA  					#REQUIRED
			action (remove | none)					#REQUIRED
		>

		<!ELEMENT SKU EMPTY>
		<!ATTLIST SKU
			catentryId 		CDATA 					#REQUIRED
			sequence 		CDATA 					#REQUIRED
			quantity 		CDATA 					#REQUIRED
			action (add | remove | update | none) 	#REQUIRED
		>

<!-- MAssociations -->
<!ELEMENT MAssociations (MAssociationsFromOneSource+)>
	<!ELEMENT MAssociationsFromOneSource (Source, Target+)>
	
		<!ELEMENT Source EMPTY>
		<!ATTLIST Source
			catentryId 		CDATA  					#REQUIRED
		>
		
		<!ELEMENT Target EMPTY>
		<!ATTLIST Target
			catentryId 		CDATA 					#REQUIRED
			associationId 	CDATA 					#REQUIRED
			associationType CDATA 					#REQUIRED
			semantic 		CDATA 					#REQUIRED
			sequence 		CDATA 					#REQUIRED
			quantity 		CDATA 					#REQUIRED
			year 			CDATA 					#REQUIRED
			month 			CDATA 					#REQUIRED
			day 			CDATA 					#REQUIRED
			storeId			CDATA					#REQUIRED
			action (add | remove | update | none) 	#REQUIRED
		>


<!-- CGContents -->
<!ELEMENT CGContents (CatGroupContents+)>
	<!ELEMENT CatGroupContents (CatGroup, SKUInCatGroup+)>
	
		<!ELEMENT CatGroup EMPTY>
		<!ATTLIST CatGroup
			catgroupId CDATA  						#REQUIRED
		>

		<!ELEMENT SKUInCatGroup EMPTY>
		<!ATTLIST SKUInCatGroup
			catentryId CDATA 						#REQUIRED
			sequence CDATA 							#REQUIRED
			quantity CDATA 							#REQUIRED
			action (add | remove | update | none) 	#REQUIRED
		>
